<div class="panel panel-open">
    <div class="panel-heading clearfix">
        <h2 class="panel-title fl-left ">{{security?.documentSectionLabel | formatCapitalize}}</h2>
        <span class="clearAllFields print-displayNone" (click)="selectAllCandidateDocuments()">{{'common.label.selectAll' | translate}}</span>
    </div>
    <div class="panel-body" *ngIf="isEmptyDocuments()">
        <span class="panel-col panel-col1 text-description"> {{'common.label.noDocumentsAttached' | translate}}</span>
    </div>
    <div class="panel-body" *ngIf="!isEmptyDocuments()">
        <div class="table-responsive-outer clearfix">
            <div class="table-responsive">
                <table class="table document-table">
                    <thead>
                        <tr>
                            <th class="count-cell print-displayNone">#</th>
                            <th class="doc-name-cell" *ngIf="security?.documentNameRendered">{{security?.documentNameLabel}}</th>
                            <th class="option-cell print-displayNone" *ngIf="security?.documentOptionsRendered">{{security?.documentOptionsLabel}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let doc of candidateDocuments1; let i=index;">
                            <tr class="done" *ngIf="doc.uploaded">
                                <td class="count-cell print-displayNone">
                                    <div class="checkbox margin-none checkbox-custome">
                                        <input type="checkbox" [(ngModel)]="doc.selected" class="styled" id="select" />
                                        <label class="control-label gray-color">&nbsp;</label>
                                    </div>
                                </td>
                                <td class="doc-name-cell">
                                    {{doc.documentName}}</td>
                                <td class="option-cell print-displayNone">
                                    <a href="{{doc.fileName}}" target="_blank" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Upload"
                                        style="backface-visibility: hidden;">
                                        <span class="material-icons">file_download</span>
                                    </a>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive">
                <table class="table document-table">
                    <thead>
                        <tr>
                            <th class="count-cell print-displayNone">#</th>
                            <th class="doc-name-cell" *ngIf="security?.documentNameRendered">{{security?.documentNameLabel}}</th>
                            <th class="option-cell print-displayNone" *ngIf="security?.documentOptionsRendered">{{security?.documentOptionsLabel}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let doc of candidateDocuments2; let i=index;">
                            <tr class="done" *ngIf="doc.uploaded">
                                <td class="count-cell print-displayNone">
                                    <div class="checkbox margin-none checkbox-custome">
                                        <input type="checkbox" [(ngModel)]="doc.selected" class="styled" id="select" />
                                        <label class="control-label gray-color">&nbsp;</label>
                                    </div>
                                </td>
                                <td class="doc-name-cell">
                                    {{doc.documentName}}</td>
                                <td class="option-cell print-displayNone">
                                    <a href="{{doc.fileName}}" target="_blank" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Upload"
                                        style="backface-visibility: hidden;">
                                        <span class="material-icons">file_download</span>
                                    </a>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="table-mandatory print-displayNone">
            <button [disabled]="isDocumentSelected()" type="button" class="btn btn-primary fl-right" (click)="downloadCandidateDocuments()">{{'common.label.download' | translate}}</button>
        </div>
    </div>
</div>