<div class="candidate-detail-card">
    <div class="card-block">
        <div class="card-block-inner">
            <div class="candidate-detail-top clearfix">
                <div class="image-block" *ngIf="data.profileImage !=null">
                    <span class="print-displayNone image-block-inner">
                        <img src="{{data.profileImage}}" (error)="imageError(event, data)" alt="profile img" />
                    </span>
                </div>
                <div class="print-displayNone image-block" *ngIf="data.profileImage ==null" [style.background]="randomcolor">
                    <span class="image-block-inner">{{(data.firstName!=null && data.firstName!=''? data.firstName.charAt(0): '')+(data.lastName!=null &&
                        data.lastName!=''? data.lastName.charAt(0): '') | uppercase}}</span>
                </div>

                <div class="candidate-detail-top-right">
                    <div class="candidate-detail-top-block">
                        <div class="candidate-detail-title">
                            <h2 class="title">{{data.title}} {{data.firstName}} {{data.middleName}} {{data.lastName}}</h2>
                            <ul class="list-reset listing-inline listing-bor-last">
                                <li class="text-uppercase" *ngIf="Candidatecode">{{Candidatecode|parseCandidatecodeParam}}</li>
                                <li *ngIf="data.city">{{data.city | lowercasepipe}}</li>
                            </ul>
                        </div>
                        <div class="social-block-footer" *ngIf="socialBlock(data)">
                            <a [href]="data.linkedinProfile ==null || data.linkedinProfile.trim() == '' ?'javascript:void(0)' : '//'+data.linkedinProfile"
                                [ngClass]="{'link-disable': data.linkedinProfile ==null || data.linkedinProfile.trim() == ''}"
                                target="_blank" class="icon-smd li-icon">linked in</a>
                            <a [href]="data.facebookProfile ==null || data.facebookProfile.trim() == '' ?'javascript:void(0)' : '//'+data.facebookProfile"
                                [ngClass]="{'link-disable': data.facebookProfile ==null || data.facebookProfile.trim() == ''}"
                                target="_blank" class="icon-smd fb-icon" >facebook</a>
                            <a [href]="data.twitterProfile ==null || data.twitterProfile.trim() == '' ?'javascript:void(0)' : '//'+data.twitterProfile" 
                                [ngClass]="{'link-disable': data.twitterProfile == null || data.twitterProfile.trim() == ''}"
                                target="_blank" class="icon-smd tw-icon">Twitter</a>
                            <a [href]="data.googleplusProfile ==null || data.googleplusProfile.trim() == '' ?'javascript:void(0)' : '//'+data.googleplusProfile"
                                [ngClass]="{'link-disable': data.googleplusProfile ==null || data.googleplusProfile.trim() == ''}"
                                target="_blank" class="icon-smd gp-icon">Google Plus</a>
                        </div>
                        <div class="candidate-opcation clearfix">
                            <a [href]="data.resumePath" [ngClass]="{'link-disable': data.resumePath ==null}" class="print-displayNone">
                                <span class="material-icons dp18 {{data.resumePath ==null?'':'purple-color'}}">file_download</span>
                                <span class="text-link {{data.resumePath ==null?'':'purple-color'}}">{{'candidate.new_candidate.downloadResume' | translate}}</span>
                            </a>
                            <a class="{{data.primaryEmailId != null && data.primaryEmailId.trim() != '' ?'':'link-disable'}}">
                                <span class="material-icons dp18 {{data.primaryEmailId != null && data.primaryEmailId.trim() != '' ?'purple-color':''}}">mail</span>
                                <span class="text-link text-lowercase {{data.primaryEmailId != null && data.primaryEmailId.trim() != '' ?'purple-color':''}}">{{data.primaryEmailId}}</span>
                            </a>
                            <a class="{{data.mobileNumber != null && data.mobileNumber.trim() != '' ?'':'link-disable'}}">
                                <span class="material-icons dp18 {{data.mobileNumber != null && data.mobileNumber.trim() != '' ?'purple-color':''}}">{{'common.label.phone' | translate}}</span>
                                <span class="text-link {{data.mobileNumber != null && data.mobileNumber.trim() != '' ?'purple-color':''}}">{{data.mobileNumber}}</span>
                            </a>
                            <a [href]="data.ijpDocPath" *ngIf="data.ijpDocPath!=null" class="print-displayNone">
                                <span class="material-icons dp18 purple-color">file_download</span>
                                <span class="text-link purple-color">{{'candidate.new_candidate.ijpDocuments' | translate}}</span>
                            </a>
                        </div>
                    </div>
                    <div *ngIf="!isBPenabled">
                    <div *ngIf="featureDataMap.get('EDIT_CANDIDATE') != 3" class="print-displayNone job-option">
                        <a href="javascript:void(0)" class="menu-click" (click)="showContextMenu()">
                            <span class="material-icons more-icon">more_vert</span>
                        </a>
                        <div class="{{contextMenuOpen?'displayBlock':'displayNone'}}">
                            <div class="module-true displayBlock" (click)="hideContextMenu()"></div>
                        <!-- Menu style -->
                        <div  class="menu-style menu-style-2 {{contextMenuOpen?'displayBlock':'displayNone'}}">
                            <span class="material-icons close" (click)="hideContextMenu()">close</span>
                            <ul class="list-reset dropdown-menu">
                                <li *ngIf="featureDataMap.get('EDIT_CANDIDATE') == 1">
                                    <a href="javascript:void" [gaRouterLink]="['/candidate/newcandidate', Candidatecode | formatCandidatecodeParam]" gaevent="ContextMenu#Edit Candidate#click"><span class="menu-style-icon edit-icon13">edit</span>{{'candidate.list.editCandidate' | translate}}</a>
                                </li>
                                <li *ngIf="featureDataMap.get('EDIT_CANDIDATE') == 2" class="disabled">
                                    <a><span class="menu-style-icon edit-icon13">edit</span>{{'candidate.list.editCandidate' | translate}}</a>
                                </li>
                            </ul>
                        </div>
                        <!-- \\ End Menu style -->
                    </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="table-data candidate-detail-bottom">
                <ul class="list-reset table-data-ul">
                    <li class="only-for-mobile">
                        <div class="table-data-inner">
                            <div class="candidate-opcation clearfix">
                                <a [href]="data.resumePath" [ngClass]="{'link-disable': data.resumePath ==null}">
                                    <span class="material-icons dp18 {{data.resumePath ==null?'':'purple-color'}}">file_download</span>
                                    <span class="text-link {{data.resumePath ==null?'':'purple-color'}}">{{'candidate.new_candidate.downloadResume' | translate}}</span>
                                </a>
                                <a class="{{data.primaryEmailId != null && data.primaryEmailId.trim() != '' ?'':'link-disable'}}">
                                    <span class="material-icons dp18 {{data.primaryEmailId != null && data.primaryEmailId.trim() != '' ?'purple-color':''}}">mail</span>
                                    <span class="text-link {{data.primaryEmailId != null && data.primaryEmailId.trim() != '' ?'purple-color':''}}">{{data.primaryEmailId}}</span>
                                </a>
                                <a class="{{data.mobileNumber != null && data.mobileNumber.trim() != '' ?'':'link-disable'}}">
                                    <span class="material-icons dp18 {{data.mobileNumber != null && data.mobileNumber.trim() != '' ?'purple-color':''}}">{{'common.label.phone' | translate}}</span>
                                    <span class="text-link {{data.mobileNumber != null && data.mobileNumber.trim() != '' ?'purple-color':''}}">{{data.mobileNumber}}</span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="table-data-inner">
                            <span class="print-displayNone job-status {{getJobStatusClass(jobStatus)}}"></span>
                            <div class="common-cell">
                                <a href="javascript:void(0)" (click)="gotoJobDetail()" class="fl-left" *ngIf="jobTitle != null && jobTitle.length > 40"> 
                                    <span class="name-cell font-bold" matTooltip="{{jobTitle | lowercasepipe}}">{{jobTitle | stringTrim:40}}</span>
                                    <span class="text-link job-code {{jobTitle == null?'':'purple-color'}}">{{jobCode}} </span> 
                                </a>
                                <a href="javascript:void(0)" (click)="gotoJobDetail()" class="fl-left" *ngIf="jobTitle != null && jobTitle.length  <= 40">                                       
                                    <span class="text-link text-bold-cell {{jobTitle == null?'':'black-color'}}">{{jobTitle}} </span>                                           
                                    <span class="text-link job-code {{jobTitle == null?'':'purple-color'}}">{{jobCode}} </span>                                           
                                </a>
                                <div *ngIf="!isBPenabled">                  
                                <span *ngIf="taggedJobsLength > 1" class="material-icons dp22 cursor print-displayNone" (click)="showTaggedJobsMenu()">keyboard_arrow_down</span>
                                </div>

                                <!-- Menu style -->
                                <div *ngIf="taggedJobsMenuOpen">
                                    <div class="module-true displayBlock" (click)="hideTaggedJobsMenu()"></div>
                                    <div class="menu-style menu-style-3" *ngIf="taggedJobsMenuOpen">
                                        <span class="material-icons close" (click)="hideTaggedJobsMenu()">close</span>
                                        <div class="height220" slimScroll>
                                        <ul class="list-reset dropdown-menu">
                                            <li *ngFor="let item of jobTaggedData; let i = index" (click)="hideTaggedJobsMenu();goToHiringProcess(item)">
                                                <a  [routerLink]="['/candidate/edit-candidate-tagged', Candidatecode | formatCandidatecodeParam,'hiring-process']" 
                                                [queryParams]="{ appid:item.applicantStatusID, jobCode:item.requisitionCode, jobTitle:item.jobTitle }">                                                
                                                <span class="job-status {{getJobStatusClass(item.reqStatus)}}"></span>
                                                <div class="common-cell">
                                                    <span class="name-cell font-bold text-nowrap-grad-white" matTooltip="{{item.jobTitle}}" *ngIf="item.jobTitle != null && item.jobTitle.length > 40">{{item.jobTitle}}</span>
                                                    <span class="name-cell font-bold" *ngIf="item.jobTitle != null && item.jobTitle.length <= 40">{{item.jobTitle}}</span> 
                                                    <span class="job-code purple-color">{{item.requisitionCode}}</span>
                                                </div>
                                            </a>
                                            </li>
                                        </ul>
                                    </div>
                                    </div>
                                </div>
                                <!-- \\ End Menu style -->
                            </div>
                        </div>
                    </li>
                    <li *ngIf="!isBPenabled"class="printView-last-li">
                        <div class="table-data-inner">
                            <div class="profile-completed">
                                <div class="profile-graph">
                                    <div class=" c100-background-color c100 p{{data.profileCompletion}}">
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="profile-graph-details">
                                    <span class="profile-percent">{{data.profileCompletion}}%</span>
                                    <span class="text-cell">{{'candidate.candidate_overview.profileComplete' | translate}}</span>
                                </div>
                            </div>
                            <ng-container *ngIf="featureDataMap.get('PERCENT_MATCH') == 1||featureDataMap.get('PERCENT_MATCH') == 2">
                                <div class="profile-match">
                                    <div class="profile-graph">
                                        <div *ngIf="featureDataMap.get('PERCENT_MATCH') == 1" class="c100-background-color c100 p{{profileMatch}} green">
                                            <div class="slice">
                                                <div class="bar"></div>
                                                <div class="fill"></div>
                                            </div>
                                        </div>
                                        <div *ngIf="featureDataMap.get('PERCENT_MATCH') == 2" class="c100-background-color c100 p{{profileMatch}} green">
                                            <div class="slice">
                                                <div class="bar"></div>
                                                <div class="fill"></div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="profile-graph-details">
                                        <span *ngIf="featureDataMap.get('PERCENT_MATCH') == 1" class="profile-percent">{{profileMatch}}%</span>
                                        <span *ngIf="featureDataMap.get('PERCENT_MATCH') == 2" class="profile-percent">%</span>
                                        <span class="text-cell">{{'common.label.match' | translate}}</span>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </li>
                    <li class="print-displayNone">
                        <div class="table-data-inner">
                            <div class="source-name-block">
                                <span class="rounded-block margin-r15">
                                    <img *ngIf="data.sysSourceType == 'RECRUITER'" src="./assets/images/svg/recruiter.svg" alt="recruiter">
                                    <img *ngIf="data.sysSourceType == 'VENDOR'" src="./assets/images/svg/vendor.svg" alt="vendor">
                                    <img *ngIf="data.sysSourceType == 'CANDIDATE'" src="./assets/images/svg/candidate.svg" alt="candidate">
                                    <img *ngIf="data.sysSourceType == 'DIRECT'" src="./assets/images/svg/walk_in.svg" alt="walk-in">
                                    <img *ngIf="data.sysSourceType == 'EMPLOYEE REFERRAL'" src="./assets/images/svg/employee_referal.svg" alt="Employee Referal">
                                    <img *ngIf="data.sysSourceType == 'Confirmation'" src="./assets/images/svg/confirmation.svg" alt="confirmation">
                                    <img *ngIf="data.sysSourceType == 'IJP REFERRAL'" src="./assets/images/svg/ijp.svg" alt="ijp">
                                    <img *ngIf="data.sysSourceType == 'SOCIAL MEDIA'" src="./assets/images/svg/social_media.svg" alt="social media">
                                    <img *ngIf="data.sysSourceType == 'JOB_BOARD' && data.sourceType != null && data.sourceType.toLowerCase() == 'naukri'" src="./assets/images/svg/naukri_portal.svg"
                                        alt="naukri">
                                    <img *ngIf="data.sysSourceType == 'JOB_BOARD' && data.sourceType != null && data.sourceType.toLowerCase() == 'monster'" src="./assets/images/svg/monster_job.svg"
                                        alt="monster">
                                    <img *ngIf="data.sysSourceType == 'JOB_BOARD' && data.sourceType != null && data.sourceType.toLowerCase() == 'shine'" src="./assets/images/svg/shine_job.svg"
                                        alt="shine">
                                </span>
                                <div class="description-cell">
                                    <span class="text-cell">{{'common.label.source' | translate}}</span>
                                    <span class="text-bold-cell text-nowrap-grad-white" matTooltip="{{data.sourceType}}">{{data.sourceType}}</span>
                                </div>
                            </div>
                            <div class="souce-code-block">
                                <span class="text-cell">{{'common.label.scName' | translate}}</span>
                                <span class="text-bold-cell text-nowrap-grad-white" *ngIf="!isEmpty()" matTooltip="{{data.subSourceUsername}}">{{data.subSourceUsername}}</span>
                                <span class="text-bold-cell text-nowrap-grad-white" *ngIf="isEmpty()">{{'common.label.na' | translate}}</span>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>