<!-- Tab Job Boards start -->
<div id="tab1" *ngIf="featureDataMap.get('AUTOMATCH_JOBBOARD') ==1 && monsterAcess" class="tab-details job-boards-section">
    <div class="job-boards-tab">
        <ul class="list-reset clearfix">
            <li routerLinkActive="active" class="first">
                <a [routerLink]="['monster']">monster</a>
            </li>
            <li routerLinkActive="active" class="last">                
                    <a [routerLink]="['shine']">shine</a>
            </li>
            <!-- <li class="last">
                <a href="#tabShine">shine</a>
            </li> -->
        </ul>
    </div>
    <router-outlet></router-outlet>
</div>
<!-- \\ End Tab Job Boards -->