<!--  Chats history title -->
<div class="panel-heading margin-b10 clearfix">
  <h2 class="panel-title fl-left width-70">
    <span class="count-icon-loader loading-line fl-left margin-none"></span>
    <span class="loading-line width-50 fl-left mgn-t10 mgn-l10"></span>
  </h2>
  <div class="icon_group_right width-50px">
    <span class="loading-line width-20 fl-right mgn-t10"></span>
  </div>
</div>
<!-- \\ Chats history title -->
<!--  Chats history title -->
<div class="panel-heading margin-b10 clearfix">
    <h2 class="panel-title fl-left width-70">
      <span class="count-icon-loader loading-line fl-left margin-none"></span>
      <span class="loading-line width-40 fl-left mgn-t10 mgn-l10"></span>
    </h2>
    <div class="icon_group_right width-50px">
      <span class="loading-line width-20 fl-right mgn-t10"></span>
    </div>
  </div>
  <!-- \\ Chats history title -->
  <!--  Chats history title -->
<div class="panel-heading margin-b10 clearfix">
    <h2 class="panel-title fl-left width-70">
      <span class="count-icon-loader loading-line fl-left margin-none"></span>
      <span class="loading-line width-60 fl-left mgn-t10 mgn-l10"></span>
    </h2>
    <div class="icon_group_right width-50px">
      <span class="loading-line width-20 fl-right mgn-t10"></span>
    </div>
  </div>
  <!-- \\ Chats history title -->
  <!--  Chats history title -->
<div class="panel-heading margin-b10 clearfix">
    <h2 class="panel-title fl-left width-70">
      <span class="count-icon-loader loading-line fl-left margin-none"></span>
      <span class="loading-line width-70 fl-left mgn-t10 mgn-l10"></span>
    </h2>
    <div class="icon_group_right width-50px">
      <span class="loading-line width-20 fl-right mgn-t10"></span>
    </div>
  </div>
  <!-- \\ Chats history title -->
  <!--  Chats history title -->
<div class="panel-heading margin-b10 clearfix">
    <h2 class="panel-title fl-left width-70">
      <span class="count-icon-loader loading-line fl-left margin-none"></span>
      <span class="loading-line width-30 fl-left mgn-t10 mgn-l10"></span>
    </h2>
    <div class="icon_group_right width-50px">
      <span class="loading-line width-20 fl-right mgn-t10"></span>
    </div>
  </div>
  <!-- \\ Chats history title -->
  <!--  Chats history title -->
<div class="panel-heading margin-b10 clearfix">
    <h2 class="panel-title fl-left width-70">
      <span class="count-icon-loader loading-line fl-left margin-none"></span>
      <span class="loading-line width-80 fl-left mgn-t10 mgn-l10"></span>
    </h2>
    <div class="icon_group_right width-50px">
      <span class="loading-line width-20 fl-right mgn-t10"></span>
    </div>
  </div>
  <!-- \\ Chats history title -->
  <!--  Chats history title -->
<div class="panel-heading margin-b10 clearfix">
    <h2 class="panel-title fl-left width-70">
      <span class="count-icon-loader loading-line fl-left margin-none"></span>
      <span class="loading-line width-50 fl-left mgn-t10 mgn-l10"></span>
    </h2>
    <div class="icon_group_right width-50px">
      <span class="loading-line width-20 fl-right mgn-t10"></span>
    </div>
  </div>
  <!-- \\ Chats history title -->
  <!--  Chats history title -->
<div class="panel-heading margin-b10 clearfix">
    <h2 class="panel-title fl-left width-70">
      <span class="count-icon-loader loading-line fl-left margin-none"></span>
      <span class="loading-line width-40 fl-left mgn-t10 mgn-l10"></span>
    </h2>
    <div class="icon_group_right width-50px">
      <span class="loading-line width-20 fl-right mgn-t10"></span>
    </div>
  </div>
  <!-- \\ Chats history title -->
  <!--  Chats history title -->
<div class="panel-heading margin-b10 clearfix">
    <h2 class="panel-title fl-left width-70">
      <span class="count-icon-loader loading-line fl-left margin-none"></span>
      <span class="loading-line width-50 fl-left mgn-t10 mgn-l10"></span>
    </h2>
    <div class="icon_group_right width-50px">
      <span class="loading-line width-20 fl-right mgn-t10"></span>
    </div>
  </div>
  <!-- \\ Chats history title -->
  <!--  Chats history title -->
<div class="panel-heading margin-b10 clearfix">
    <h2 class="panel-title fl-left width-70">
      <span class="count-icon-loader loading-line fl-left margin-none"></span>
      <span class="loading-line width-30 fl-left mgn-t10 mgn-l10"></span>
    </h2>
    <div class="icon_group_right width-50px">
      <span class="loading-line width-20 fl-right mgn-t10"></span>
    </div>
  </div>
  <!-- \\ Chats history title -->