<div class="popup-inner form-item-popup max-height-none clearfix">
    <div class="form_outer pad-bot50">
        <div class="row">
            <form>
                <div class="form-group row2 mgn-btm-0">
                    <div class="col-md-6">
                        <label class="control-label">{{'candidate.list.selectStage' | translate}}</label>
                        <div class="dropdown-11 list-block">
                            <alt-custom-single-select #STAGETYPE [srcTag]="'STAGETYPETAG'" (clickToClose)="STAGETYPE.toggleClose()" [inputList]="stageList"
                                [value]="stageName" [isDisabled]="true">
                            </alt-custom-single-select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">{{'candidate.list.selectStatus' | translate}}</label>
                        <div class="dropdown-11 list-block">
                            <alt-custom-single-select #SELECTEDSTATUS [srcTag]="'SELECTEDSTATUSTAG'" (clickToClose)="SELECTEDSTATUS.toggleClose()" [inputList]="statusLists"
                                [value]="selectedStatusID.value" placeholder="{{'common.label.chooseStatus' | translate}}" (valueBind)="statusChangeListener($event.value)"
                                [isDisabled]="screened">
                            </alt-custom-single-select>
                        </div>
                    </div>
                    <div class="col-md-12" *ngIf="security?.commentRendered">
                        <label class="control-label">{{'common.label.comment' | translate}}</label>
                        <div class="form-group form-textarea">
                            <textarea class="form-control noresize" [formControl]="comment" placeholder="{{security?.commentLabel+(security?.commentRequired? '*': '')}}"
                                [attr.disabled]="security?.commentDisabled?'disabled':null"></textarea>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>