<alt-loader *ngIf="showloader"></alt-loader>
<!-- Section job published to -->
<div *ngIf="isPublishedTo"class="section-job-published clearfix" [class.disabled]="isJobDisabled">
    <h1 class="main-title main-title-bord">{{'job.job_detail.jobPublishedTo' | translate}}</h1>
    <div class="card-block card-1">
        <div class="card-block-inner">
            <div *ngIf = "featureDataMap.get('PUBLISH_TO_JOBBOARD') != 3" class="job-published-col published-check clearfix" [class.disabled]="featureDataMap.get('PUBLISH_TO_JOBBOARD') == 2">
                <div class="fl-left">
                    <label class="text-uppercase">{{'job.job_detail.jobBoards' | translate}}</label>
                </div>
                <div class="job-boards-icons fl-right">
                    <ng-container *ngFor="let board of jobBoardStatus"> 
                        <ng-container *ngIf="board.sysJobBoardName==='NAUKRI'">
                            <span [ngClass]="{'icon-smd':true,'cursor':board.jobBoardName!=null,'icon-smd-active':board.status}" [class.disabled]="isJobDisabled || featureDataMap.get('PUBLISH_TO_JOBBOARD') == 2">
                              <a href="{{ board.status ?'https://www.naukri.com/job-listings-'+ board.jobPostingCode : 'javascript:void(0);'}}"[target]="board.status ? '_blank' : '_self'">
                                <img *ngIf="board.jobBoardName!=null && !isJobDisabled " src="./assets/images/job_board/naukri_enable.png" alt="" (click)=" postToNaukri(board)" gaevent="Publish#PostToNaukri#click">
                                <img *ngIf="board.jobBoardName==null || isJobDisabled" src="./assets/images/job_board/naukri_disable.png" alt="">
                                <span class="material-icons">check_circle</span> 
                              </a>
                            </span>
                        </ng-container>
                        <ng-container *ngIf="board.sysJobBoardName==='MONSTER'">
                            <span [ngClass]="{'icon-smd':true,'cursor':board.jobBoardName!=null,'icon-smd-active':board.status}" [class.disabled]="isJobDisabled || featureDataMap.get('PUBLISH_TO_JOBBOARD') == 2">
                                <a href="{{ board.status ? 'http://jobs.monsterindia.com/details/'+ board.jobPostingCode +'.html' : 'javascript:void(0);'}}" [target]="board.status ? '_blank' : '_self'">
                                <img *ngIf="board.jobBoardName!=null && !isJobDisabled" src="./assets/images/job_board/monster_enable.png" alt="" (click)="postToMonster(board)" gaevent="Publish#PostToMonster#click">
                                <img *ngIf="board.jobBoardName==null || isJobDisabled" src="./assets/images/job_board/monster_disable.png" alt="">
                                <span class="material-icons">check_circle</span>
                                </a>
                            </span>
                        </ng-container>
                        <ng-container *ngIf="board.sysJobBoardName==='TIMES'">
                            <span [ngClass]="{'icon-smd':true,'cursor':board.jobBoardName!=null,'icon-smd-active':board.status}" [class.disabled]="isJobDisabled || featureDataMap.get('PUBLISH_TO_JOBBOARD') == 2">
                                <img *ngIf="board.jobBoardName!=null && !isJobDisabled" src="./assets/images/job_board/times_enable.png" alt="">
                                <img *ngIf="board.jobBoardName==null || isJobDisabled" src="./assets/images/job_board/times_disable.png" alt="">
                                <span class="material-icons">check_circle</span> 
                            </span>
                        </ng-container>
                        <ng-container *ngIf="board.sysJobBoardName==='INDEED'">
                            <span [ngClass]="{'icon-smd':true,'cursor':board.jobBoardName!=null,'icon-smd-active':board.status}" [class.disabled]="isJobDisabled || featureDataMap.get('PUBLISH_TO_JOBBOARD') == 2">
                                <img *ngIf="board.jobBoardName!=null && !isJobDisabled" src="./assets/images/job_board/indeed_enable.png" alt="">
                                <img *ngIf="board.jobBoardName==null || isJobDisabled" src="./assets/images/job_board/indeed_disable.png" alt="">
                                <span class="material-icons">check_circle</span> 
                            </span>
                        </ng-container>
                        <ng-container *ngIf="board.sysJobBoardName==='IIMJOBS'">
                            <span [ngClass]="{'icon-smd':true,'cursor':board.jobBoardName!=null,'icon-smd-active':board.status}" [class.disabled]="isJobDisabled || featureDataMap.get('PUBLISH_TO_JOBBOARD') == 2">
                                <img *ngIf="board.jobBoardName!=null && !isJobDisabled" src="./assets/images/job_board/iim_enable.png" alt="" (click)="postToIIMJobs(board)" gaevent="Publish#PostToIIMJobs#click">
                                <img *ngIf="board.jobBoardName==null || isJobDisabled" src="./assets/images/job_board/iim_disable.png" alt="">
                                <span class="material-icons">check_circle</span> 
                            </span>
                        </ng-container>
                    </ng-container>                                        
                </div>
            </div>
            <div class="job-published-col-03 clearfix">
                <div class="cursor" [ngClass]="{'job-published-03 published-check':true, 'published-active':isERPosted}" *ngIf="(isJobDisabled || featureDataMap.get('PUBLISH_TO_EMPLOYEE_REFERRAL') == 2) && featureDataMap.get('PUBLISH_TO_EMPLOYEE_REFERRAL') != 3" [class.disabled]=" isJobDisabled || featureDataMap.get('PUBLISH_TO_EMPLOYEE_REFERRAL') == 2">
                    <div class="job-published-col clearfix">
                        <label class="text-uppercase cursor" [class.disabled]=" isJobDisabled">{{'job.job_detail.employeeReferral' | translate}}</label>
                        <span class="icon-smd">
                            <img  src="./assets/images/svg/employee_referal.svg" alt="">
                            <span class="material-icons">check_circle</span>
                        </span> 
                    </div>
                </div>
                <div class="cursor" [ngClass]="{'job-published-03 published-check':true, 'published-active':isERPosted}" *ngIf="!isJobDisabled && featureDataMap.get('PUBLISH_TO_EMPLOYEE_REFERRAL') == 1" (click)="openPostJobToEmpPortal()" gaevent="Publish#Employee Referral#click">
                    <div class="job-published-col clearfix">
                        <label class="text-uppercase cursor" [class.disabled]=" isJobDisabled">{{'job.job_detail.employeeReferral' | translate}}</label>
                        <span class="icon-smd">
                            <img  src="./assets/images/svg/employee_referal.svg" alt="">
                            <span class="material-icons">check_circle</span>
                        </span> 
                    </div>
                </div>
                <div class="cursor" [ngClass]="{'job-published-03 published-check':true, 'published-active':isIJPPosted}" *ngIf="(isJobDisabled || featureDataMap.get('PUBLISH_TO_IJP') == 2) && featureDataMap.get('PUBLISH_TO_IJP') != 3" [class.disabled]=" isJobDisabled || featureDataMap.get('PUBLISH_TO_IJP') == 2">
                    <div class="job-published-col clearfix" >
                        <label class="text-uppercase cursor" [class.disabled]=" isJobDisabled">{{'job.job_detail.internalTransfer' | translate}}</label>
                        <span class="icon-smd">
                            <img  src="./assets/images/svg/ijp.svg" alt="">
                            <span class="material-icons">check_circle</span>
                        </span>
                    </div>
                </div>
                <div class="cursor" [ngClass]="{'job-published-03 published-check':true, 'published-active':isIJPPosted}" *ngIf="!isJobDisabled && featureDataMap.get('PUBLISH_TO_IJP') == 1" (click)="openPostJobToIJP()" gaevent="Publish#Internal Transfer#click">
                    <div class="job-published-col clearfix">
                        <label class="text-uppercase cursor" [class.disabled]=" isJobDisabled">{{'job.job_detail.internalTransfer' | translate}}</label>
                        <span class="icon-smd">
                            <img  src="./assets/images/svg/ijp.svg" alt="">
                            <span class="material-icons">check_circle</span>
                        </span>
                    </div>
                </div>
                <div class="cursor" [ngClass]="{'job-published-03 published-check':true, 'published-active':isCPPosted}" *ngIf="(isJobDisabled || featureDataMap.get('PUBLISH_TO_CP') ==2) && featureDataMap.get('PUBLISH_TO_CP') != 3" [class.disabled]=" isJobDisabled || featureDataMap.get('PUBLISH_TO_CP') == 2">
                    <div class="job-published-col clearfix">
                        <label class="text-uppercase cursor" [class.disabled]=" isJobDisabled">{{'job.job_detail.candidatePortal' | translate}}</label>
                        <span class="icon-smd">
                            <img  src="./assets/images/svg/candidate.svg" alt="">
                            <span class="material-icons">check_circle</span>
                        </span>
                    </div>
                </div>
                <div class="cursor" [ngClass]="{'job-published-03 published-check':true, 'published-active':isCPPosted}" *ngIf="!isJobDisabled && featureDataMap.get('PUBLISH_TO_CP') == 1" (click)="openPostJobToCandPortal()" gaevent="Publish#Candidate Portal#click">
                    <div class="job-published-col clearfix">
                        <label class="text-uppercase cursor" [class.disabled]=" isJobDisabled">{{'job.job_detail.candidatePortal' | translate}}</label>
                        <span class="icon-smd">
                            <img  src="./assets/images/svg/candidate.svg" alt="">
                            <span class="material-icons">check_circle</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="featureDataMap.get('PUBLISH_TO_VENDOR') != 3" class="card-block card-1" [class.disabled]="isJobDisabled || featureDataMap.get('PUBLISH_TO_VENDOR') == 2">
        <div class="card-block-inner">
            <alt-published-vendors-list [isJobDisabled]="isJobDisabled">{{'job.job_detail.loadingvendors' | translate}}</alt-published-vendors-list>
        </div>
    </div>
</div>
<!-- \\ End Section job published to -->
<div class="section-hiring-team" [class.disabled]="isJobDisabled">
    <!-- Section Hiring Team -->
    <div class="section-card clearfix">
        <!-- Section Recruiters card -->
        <div class="hiring-team-card-row clearfix" *ngIf="featureDataMap.get('ASSIGN_TO_RECRUITER') != 3">
            <h2 class="title-sub">{{'job.job_detail.recruiters' | translate}}</h2>
            <!-- Card Block -->
            <div class="card-block card-3 hiring-manager-card" *ngFor="let recruiter of assignedRecruiters; let i=index;" [class.disabled]="isJobDisabled || featureDataMap.get('ASSIGN_TO_RECRUITER') == 2">
                <div class="card-block-inner position-rel">
                    <span class="job-code no-opening-cell" matTooltip="No of openings assigned">{{recruiter.assignedOpenings}}</span>
                    <div class="card-row card-name-row border-top-none">
                        
                        <a  href="javascript:void(0)" class="material-icons delete-icon popup-small-click disabled" *ngIf="(isJobDisabled || featureDataMap.get('ASSIGN_TO_RECRUITER') == 2) && featureDataMap.get('ASSIGN_TO_RECRUITER') != 3">delete</a>
                        <a  href="javascript:void(0)" class="material-icons delete-icon popup-small-click" (click)="showDeletePopup(recruiter)"  *ngIf="!isJobDisabled && featureDataMap.get('ASSIGN_TO_RECRUITER') == 1">delete</a>
                        <!-- Popup Small -->
                        <div class="{{recruiter.popup?'displayBlock':''}} popup-small ">
                            <div class="popup-top clearfix">
                                <span class="material-icons close" (click)="hideDeletePopup(recruiter)">close</span>
                                <h2 class="title">{{'job.job_detail.removeRecruiter' | translate}}</h2>
                            </div>
                            <div class="btn-row fl-right">
                                <a href="javascript:void(0)" class="btn btn-white" (click)="hideDeletePopup(recruiter)">No</a>
                                <a href="javascript:void(0)" class="btn btn-primary" (click)="deleteRecruiter(recruiter)" gaevent="Recruiter#Delete Recruiter#click">Yes</a>
                            </div>
                        </div>
                        <!-- \\ End Popup Small-->
                        <div class="image-block">
                            <img src="./assets/images/svg/profile_male.svg" alt="profile img" />                                               
                        </div>
                        <div class="title-cell">
                        <h3 class="title displayBlock" *ngIf="recruiter.firstName != null && recruiter.firstName.length > 25" matTooltip="{{recruiter.firstName}}">{{recruiter.firstName | stringTrim:25}}</h3> 
                        <h3 class="title displayBlock" *ngIf="recruiter.firstName != null && recruiter.firstName.length <= 25">{{recruiter.firstName}}</h3>
                            <span class="job-code">Assigned Dt {{recruiter.assignedDate}}</span>                                                
                        </div>                    
                    </div>
                </div>
            </div>
            <!-- \\ End Card Block -->         
            <!-- Card Block -->
            <div *ngIf="featureDataMap.get('ASSIGN_TO_RECRUITER') != 3"class="card-block card-3">
                <div class="card-block-inner">
                    <div class="add-new-card add-card-click" [class.disabled]="isJobDisabled || featureDataMap.get('ASSIGN_TO_RECRUITER') == 2">
                        <span class="add-new-card-inner disabled" *ngIf="isJobDisabled || featureDataMap.get('ASSIGN_TO_RECRUITER') == 2">
                            <span class="material-icons add-lg">add</span>{{'job.job_detail.addRecruiter' | translate}}
                        </span>
                        <span class="add-new-card-inner" (click)="OpenAssignJobToRec()" gaevent="Recruiter#Add Recruiter#click" *ngIf="!isJobDisabled && featureDataMap.get('ASSIGN_TO_RECRUITER') == 1">
                            <span class="material-icons add-lg">add</span>{{'job.job_detail.addRecruiter' | translate}}
                        </span>
                    </div>
                </div>
            </div>
            <!-- \\ End Card Block -->
        </div>
        <!-- \\ End Section Recruiters card-->

        <!-- Section Interview Panel -->
        <div class="hiring-team-card-row clearfix" *ngIf="featureDataMap.get('INTERVIEW_PANEL') != 3">
            <h2 class="title-sub">{{'job.job_detail.interviewPanel' | translate}}</h2>
            <!-- Card Block -->
            <div class="card-block card-3 hiring-manager-card" *ngFor="let emp of interviewPanel; let i = index;" [class.disabled]="isJobDisabled || featureDataMap.get('INTERVIEW_PANEL') == 2">
                <div class="card-block-inner">
                    <div class="card-row card-name-row border-top-none">
                        <a href="javascript:void(0)" class="material-icons delete-icon popup-small-click disabled" *ngIf="(isJobDisabled || featureDataMap.get('INTERVIEW_PANEL') == 2) && featureDataMap.get('INTERVIEW_PANEL') != 3">delete</a>
                        <a href="javascript:void(0)" class="material-icons delete-icon popup-small-click" (click)="showDeletePopup(emp)" *ngIf="!isJobDisabled && featureDataMap.get('INTERVIEW_PANEL') == 1">delete</a>
                        <!-- Popup Small -->
                        <div class="{{emp.popup?'displayBlock':''}} popup-small ">
                            <div class="popup-top clearfix">
                                <span class="material-icons close" (click)="hideDeletePopup(emp)">close</span>
                                <h2 class="title">{{'job.job_detail.removeInterviewer' | translate}}</h2>
                            </div>
                            <div class="btn-row fl-right">
                                <a href="javascript:void(0)" class="btn btn-white" (click)="hideDeletePopup(emp)">No</a>
                                <a href="javascript:void(0)" class="btn btn-primary" (click)="deleteInterviewPanel(emp)" gaevent="InterviewPanel#delete Interviewer#click">Yes</a>
                            </div>
                        </div>
                        <!-- \\ End Popup Small-->
                        <div class="image-block">
                            <img src="./assets/images/svg/profile_male.svg" alt="profile img" />
                        </div>
                        <div class="title-cell">
                            <h3 class="title displayBlock">{{emp.userName}}</h3>
                            <span class="job-code">{{emp.employeeCode}}</span>
                        </div>

                    </div>
                </div>
            </div>
            <!-- \\ End Card Block -->
            <!-- Card Block -->
            <div *ngIf="featureDataMap.get('INTERVIEW_PANEL') != 3" class="card-block card-3">
                <div class="card-block-inner">
                    <div class="add-new-card add-card-click" [class.disabled]="isJobDisabled || featureDataMap.get('INTERVIEW_PANEL') == 2">
                        <span class="add-new-card-inner disabled" *ngIf="isJobDisabled || featureDataMap.get('INTERVIEW_PANEL') == 2">
                            <span class="material-icons add-lg">add</span>{{'job.job_detailetail.addInterviewPanelist' | translate}}
                        </span>
                        <span class="add-new-card-inner" (click)="OpenAddInterviewPanelist()" gaevent="InterviewPanel#Add Interviewer#click" *ngIf="!isJobDisabled && featureDataMap.get('INTERVIEW_PANEL') == 1">
                            <span class="material-icons add-lg">add</span>{{'job.job_detail.addInterviewPanelist' | translate}}
                        </span>
                    </div>
                    <!-- Popup Small -->
                    <div class="popup-small">
                        <div class="popup-top clearfix">
                            <span class="material-icons close">close</span>
                            <h2 class="title">{{'job.job_detailetail.addInterviewPanelist' | translate}}</h2>
                        </div>
                        <div class="popup-small-inner clearfix">
                            <div class="input-group search-block">
                                <input type="text" class="form-control" id="HiringSssearch14" placeholder="Search recruiter name or emp code…" />
                                <span class="input-group-btn">
                                    <button class="btn material-icons dp20" type="submit">search</button>
                                </span>
                            </div>
                            <div class="listing-popup-block vertical-scrollbox">
                                <ul class="list-reset listing-popup listing-popup-padding">
                                    <li class="active">
                                        <div class="checkbox checkbox-inline">
                                            <input class="styled" id="Hiring115" value="option1" type="checkbox">
                                            <label for="Hiring115" class="name-cell">
                                                <span class="text-nowrap-grad">Hiring Team Member Longname</span>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-inline">
                                            <input class="styled" id="Hiring215" value="option1" type="checkbox">
                                            <label for="Hiring215" class="name-cell">
                                                <span class="text-nowrap-grad">Hiring Team Member Longname</span>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-inline">
                                            <input class="styled" id="Hiring315" value="option1" type="checkbox">
                                            <label for="Hiring315" class="name-cell">
                                                <span class="text-nowrap-grad">Hiring Team Member Longname Surn</span>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-inline">
                                            <input class="styled" id="Hiring415" value="option1" type="checkbox">
                                            <label for="Hiring415" class="name-cell">
                                                <span class="text-nowrap-grad">Hiring Team Member Longname</span>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-inline">
                                            <input class="styled" id="Hiring515" value="option1" type="checkbox">
                                            <label for="Hiring515" class="name-cell">
                                                <span class="text-nowrap-grad">Hiring Team Member Longname</span>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-inline">
                                            <input class="styled" id="Hiring615" value="option1" type="checkbox">
                                            <label for="Hiring615" class="name-cell">
                                                <span class="text-nowrap-grad">Hiring Team Member Longname</span>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-inline">
                                            <input class="styled" id="Hiring715" value="option1" type="checkbox">
                                            <label for="Hiring715" class="name-cell">
                                                <span class="text-nowrap-grad">Hiring Team Member Longname</span>
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="btn-row fl-right">
                            <a href="javascript:void(0)" class="btn btn-white">cancel</a>
                            <a href="javascript:void(0)" class="btn btn-primary">add</a>
                        </div>
                    </div>
                    <!-- \\ End Popup Small-->
                </div>
            </div>
            <!-- \\ End Card Block -->
        </div>

        <!-- \\ End Section Interview Panel -->
    </div>
</div>

<!-- \\ End Section Hiring Team -->

<!-- \\ End Tab Details Performance Team -->