<div class="autoMatched_mid">
    <div class="main-title-row">
        <h1 class="main-title">Auto matched candidates</h1>
    </div>
    <div class="candidate-detail-card">
        <div class="">
            <div class="card-block">
                <div class="card-block-inner">
                    <div class="candidate-detail-top auto-matched-candidate-top clearfix">
                        <h2 class="title">
                            <span class="job-status {{getJobStatusClass(jobSummaryData?.jobStatus)}}"></span>
                            <a class="link" [routerLink]="['/job/edit-job', jobSummaryData?.jobCode | formatJobcodeParam, 'job-details']" class="link">
                                <span *ngIf="jobSummaryData?.jobName.length > 40" matTooltip="{{jobSummaryData?.jobName | lowercasepipe}}">{{jobSummaryData?.jobName.toLowerCase() | stringTrim:40}}</span>
                                <span *ngIf="jobSummaryData?.jobName.length <= 40">{{jobSummaryData?.jobName | lowercasepipe}}</span>
                            </a>
                        </h2>
                        <div class="job-option" *ngIf="requisitionId && featureDataMap.get('EDIT_JOB') != 3">
                            <a href="javascript:void(0)" class="menu-click" (click)="showContextMenu()">
                                <span class="material-icons more-icon">more_vert</span>
                            </a>
                            <!-- Menu style -->
                            <div class="{{contextMenuOpen?'displayBlock':'displayNone'}}">
                                <div class="module-true displayBlock" (click)="hideContextMenu()"></div>
                                <div class="menu-style menu-style-2 {{contextMenuOpen?'displayBlock':'displayNone'}}">
                                    <span class="material-icons close" (click)="hideContextMenu()">close</span>
                                    <ul class="list-reset dropdown-menu">
                                        <li *ngIf="featureDataMap.get('EDIT_JOB') == 1">
                                            <a href="javascript:void" [gaRouterLink]="['/job/editjob', requisitionId]" gaevent="ContextMenu#Edit Job#click"><span class="menu-style-icon edit-icon13">edit</span>Edit Job</a>
                                        </li>
                                        <li *ngIf="featureDataMap.get('EDIT_JOB') ==2" class="disabled">
                                            <a><span class="menu-style-icon edit-icon13">edit</span>Edit Job</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <ul class="list-reset listing-inline listing-bor-last {{!getlengthZero()?'':'ul-width-80'}}">
                            <li class="character-count-45" *ngIf="getlengthLessThanLi1()" matTooltip="{{jobSummaryData?.summaryOrgUnit | lowercasepipe}}">{{jobSummaryData?.summaryOrgUnit | lowercasepipe}}</li>
                            <li *ngIf="getlengthGreatThanLi1()">{{jobSummaryData?.summaryOrgUnit | lowercasepipe}}</li>
                            <li class="character-count-45" *ngIf="getlengthLessThanLi2()" matTooltip="{{jobSummaryData?.summaryWorkSite | lowercasepipe}}">{{jobSummaryData?.summaryWorkSite | lowercasepipe}}</li>
                            <li *ngIf="!getlengthZero() && getlengthGreatThanLi2()">{{jobSummaryData?.summaryWorkSite | lowercasepipe}}</li>
                        </ul>
                    </div>
                    <div class="skill-row-top clearfix" *ngIf="jobSkills != null && jobSkills.length > 0">
                        <span *ngFor="let skill of jobSkills" class="tag-job">{{skill.text}}</span>
                    </div>
                    <div class="skill-row-top clearfix" *ngIf="jobSkills == null || jobSkills.length == 0">
                        {{'common.label.noDataAvailable' | translate}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Tab Section -->
    <div class="mat-tab-section">

        <mat-tab-group *ngIf="allowAutoMatch">
            <mat-tab *ngIf="featureDataMap.get('AUTOMATCH_JOBBOARD') != 3">
                <ng-template mat-tab-label>
                    <a *ngIf="featureDataMap.get('AUTOMATCH_JOBBOARD') == 1" class="first {{(location.path().indexOf('/jobboard')>-1)?'mat-tab-active':''}}" [routerLink]="['jobboard']" (click)="setActive('JOB_BOARDS')">Job Boards</a>
                    <a *ngIf="featureDataMap.get('AUTOMATCH_JOBBOARD') ==2" class="first disabled" >Job Boards</a>
                </ng-template>
            </mat-tab>
            <mat-tab *ngIf="featureDataMap.get('AUTOMATCH_COMPANYDATA') != 3">
                <ng-template mat-tab-label>
                    <a *ngIf="featureDataMap.get('AUTOMATCH_COMPANYDATA') == 1" class="{{location.path().endsWith('/company')?'mat-tab-active':''}}" [routerLink]="['company']" (click)="setActive('COMPANY_DATA')">Company Data</a>
                    <a *ngIf="featureDataMap.get('AUTOMATCH_COMPANYDATA') ==2" class="disabled">Company Data</a>
                </ng-template>
            </mat-tab>
            <mat-tab *ngIf="featureDataMap.get('AUTOMATCH_SOCIALPROFILE') != 3">
                <ng-template mat-tab-label>
                    <a *ngIf="featureDataMap.get('AUTOMATCH_SOCIALPROFILE') == 1" class="last {{location.path().endsWith('/social')?'mat-tab-active':''}}" [routerLink]="['social']" (click)="setActive('SOCIAL_PROFILES')">Social Profiles</a>
                    <a *ngIf="featureDataMap.get('AUTOMATCH_SOCIALPROFILE') ==2" class="last disabled">Social Profiles</a>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
        <router-outlet></router-outlet>
    </div>
    <!-- \\ End Tab Section -->
</div>
<!-- \\ End Section Content -->