<div class="main-title-row margin-r280">
  <h1 class="main-title">{{'candidate.excel_upload.excelUpload' | translate}}</h1>
</div>
<div class="panel-full">
  <div class="panel step-current panel-open">
    <div class="panel-heading clearfix">
      <h2 class="panel-title fl-left text-capitalize">{{'candidate.excel_upload.uploadCandidates' | translate}}</h2>
      <div class="icon_group_right">
        <span class="mdi mdi-chevron-down"></span>
      </div>
    </div>
    <div class="accordion-content">
      <div class="panel-body">
        <div class="cnd-cell-50">
          <div class="download-template">
            <a href="{{orgUrl}}/rest/altone/candidate/bulkCandidateTemplateDownload/XLS">
              <alt-spinner-button text="{{'candidate.excel_upload.downloadTemplate' | translate}}" [spinner]="spinning" [spinnerdisabled]="spinning" (myEvent)="spin()">
              </alt-spinner-button>              
            </a>
          </div>
          <div class="drag-drop-your" (mouseup)="dragLeaveHandler($event)" (mouseout)="dragLeaveHandler($event)" (mouseleave)="dragLeaveHandler($event)"
            (dragleave)="dragLeaveHandler($event)" (drop)="dropHandler($event)" (dragover)="dragOverHandler($event)">
              <div class="drag-drop-inner">
                <span *ngIf="dropEnabled" class="title-12 {{(uploading)?'visibility-hidden':''}}">{{'candidate.excel_upload.dragDropFile' | translate}}</span>
                <span *ngIf="dropEnabled" class="title-12 {{(dragging || uploading)?'visibility-hidden':''}}">{{'common.label.or' | translate}}</span>
                <label *ngIf="!uploading" for="excelFile" class="display-block {{dragging?'visibility-hidden':''}}">
                  <input #excelFile type="file" id="excelFile" name="excelFile" class="displayNone"  multiple="false" (change)="excelFileChange($event)"
                    accept=".xls,.xlsx" />
                  <span class="btn btn-primary btn115">{{'candidate.excel_upload.uploadFile' | translate}}</span>
                </label>
                <button *ngIf="uploading" type="button" class="btn btn-primary btn115">{{'candidate.excel_upload.uploading' | translate}}...</button>
            </div>
          </div>
        </div>
        <div class="cnd-cell-50">
          <h2 class="title-top text-uppercase">{{'candidate.excel_upload.impInstructions' | translate}}</h2>
          <ul class="list-reset important-list">
            <li>{{'candidate.excel_upload.latestTemplateInstructions' | translate}}</li>
            <li>{{'candidate.excel_upload.dontChangeHeaderSeq' | translate}}</li>
            <li>{{'candidate.excel_upload.dontDeleteAnything' | translate}}</li>
            <li>{{'candidate.excel_upload.fillReqColumn' | translate}}</li>
            <li>{{'candidate.excel_upload.errorDetailShownInLink' | translate}}</li>
            <li>{{'candidate.excel_upload.errorRecordDownload' | translate}}</li>
            <li>{{'candidate.excel_upload.validDetailSavedOnly' | translate}}</li>
            <li>{{'candidate.excel_upload.errorWhileSavingRecords' | translate}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel-full">
  <div class="panel step-current {{errorPanelOpen ? 'panel-open' : 'panel-close'}}" style="cursor:pointer" *ngIf="parseFailedList?.length > 0">
    <div class="panel-heading clearfix" (click)="toggleErrorPanel()">
      <h2 class="panel-title fl-left text-capitalize">{{'candidate.excel_upload.errorRecords' | translate}} ({{parseFailedList?.length}})</h2>
      <div class="icon_group_right">
        <span class="text-cell">{{parseFailedList?.length}}{{'candidate.error.recordsProcessFailed' | translate}} </span>
        <span class="mdi mdi-chevron-down"></span>
      </div>
    </div>
    <div class="accordion-content">
      <div class="panel-body table-common">
        <div class="table-responsive-outer margin-b15 clearfix">
          <table class="table document-table">
            <thead>
              <tr>
                <th class="count-cell">#</th>
                <th class="cell-110">{{security?.firstNameLabel}}</th>
                <th class="cell-110">{{security?.lastNameLabel}}</th>
                <th class="cell-110">{{security?.primaryEmailLabel}}</th>
                <th class="cell-coman">{{security?.mobileLabel}}</th>
                <th class="cell-210">{{'candidate.excel_upload.processingSummary' | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let failure of parseFailedList; let i=index;">
                <td class="count-cell">{{(i+1)}}</td>
                <td class="name-cell-rep">{{failure.to.firstName}}</td>
                <td class="cell-110">{{failure.to.lastName}}</td>
                <td class="cell-110">{{failure.to.primaryEmail}}</td>
                <td class="cell-coman">{{failure.to.mobileNo}}</td>
                <td class="cell-processing red-color cell-210">
                  <span style="margin-top:5px;display:block;" *ngFor="let error of failure.errors">{{error}}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="column-footer row2 text-right">
          <button type="button" class="btn btn-white" (click)="cancelErrors()">{{'common.label.cancel' | translate}}</button>
          <alt-spinner-button [text]="'download file with errors'" [spinner]="failureSpinning" [spinnerdisabled]="failureSpinning"
            (myEvent)="uploadFailures()">
          </alt-spinner-button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="panel-full">
  <div class="panel step-current {{successPanelOpen ? 'panel-open' : 'panel-close'}}" style="cursor:pointer" *ngIf="parseSuccessList?.length > 0">
    <div class="panel-heading clearfix" (click)="toggleSuccessPanel()">
      <h2 class="panel-title fl-left text-capitalize">{{'candidate.excel_upload.processedRecords' | translate}} ({{parseSuccessList?.length}})</h2>
      <div class="icon_group_right">
        <span class="text-cell">{{parseSuccessList?.length}} {{'candidate.excel_upload.recordsProcessed' | translate}}</span>
        <span class="mdi mdi-chevron-down"></span>
      </div>
    </div>
    <div class="accordion-content">
      <div class="panel-body table-common">
        <div class="table-responsive-outer margin-b15 clearfix">
          <table class="table document-table">
            <thead>
              <tr>
                <th class="count-cell">#</th>
                <th class="cell-110">{{security?.firstNameLabel}}</th>
                <th class="cell-110">{{security?.lastNameLabel}}</th>
                <th class="cell-110">{{security?.primaryEmailLabel}}</th>
                <th class="cell-coman">{{security?.mobileLabel}}</th>
                <th class="cell-210">{{'candidate.excel_upload.processingSummary' | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let success of parseSuccessList; let i=index;">
                <td class="count-cell">{{(i+1)}}</td>
                <td class="name-cell-rep">{{success.to.firstName}}</td>
                <td class="cell-110">{{success.to.lastName}}</td>
                <td class="cell-110">{{success.to.primaryEmail}}</td>
                <td class="cell-coman">{{success.to.mobileNo}}</td>
                <td class="cell-processing red-color cell-210">
                  <span style="margin-top:5px;display:block;" *ngFor="let message of success.messages">{{message}}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>