<div *ngIf="!isWelcomeLoader" style="width:100%; height:287px; background-color:#fff;">
  <div class="timeline-item DashSectionLoader-In">
    <div class="animated-background" style="height:225px;">
        <div class="background-masker ghost-placeholder-header-top dashbord-line01"></div>          
        <div class="background-masker ghost-placeholder-header-top dashbord-tower01"></div>
        <div class="background-masker ghost-placeholder-header-top dashbord-line02"></div>          
        <div class="background-masker ghost-placeholder-header-top dashbord-tower02"></div>
        <div class="background-masker ghost-placeholder-header-top dashbord-line03"></div>          
        <div class="background-masker ghost-placeholder-header-top dashbord-tower03"></div>
        <div class="background-masker ghost-placeholder-header-top dashbord-line04"></div>
        <div class="background-masker ghost-placeholder-header-top dashbord-line05"></div>
        <div class="background-masker ghost-placeholder-header-top dashbord-tower04"></div>
        <div class="background-masker ghost-placeholder-header-top dashbord-line06"></div>
        <div class="background-masker ghost-placeholder-header-top dashbord-line07"></div>
        <div class="background-masker ghost-placeholder-header-top dashbord-tower05"></div>
        <div class="background-masker ghost-placeholder-header-top dashbord-line08"></div>
        <div class="background-masker ghost-placeholder-header-top dashbord-tower06"></div>
        <div class="background-masker ghost-placeholder-header-top dashbord-line09"></div>
        <div class="background-masker ghost-placeholder-header-top dashbord-line10"></div>
        <div class="background-masker ghost-placeholder-header-top dashbord-tower07"></div>
        <div class="background-masker ghost-placeholder-header-top dashbord-line11"></div>
    </div>
  </div>
</div>
<div *ngIf="isWelcomeLoader">
    <div class="card-block card-2">
        <div class="card-block-inner">
          <div class="timeline-item DashSectionLoader">
            <div class="animated-background LDheight360">
              <div class="background-masker ghost-placeholder-header-top dashbord-line01"></div>          
              <div class="background-masker ghost-placeholder-header-top dashbord-tower01"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-line02"></div>          
              <div class="background-masker ghost-placeholder-header-top dashbord-tower02"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-line03"></div>          
              <div class="background-masker ghost-placeholder-header-top dashbord-tower03"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-line04"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-line05"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-tower04"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-line06"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-line07"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-tower05"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-line08"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-tower06"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-line09"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-line10"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-tower07"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-line11"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-block card-2">
        <div class="card-block-inner">
          <div class="timeline-item DashSectionLoader">
            <div class="animated-background LDheight360">
              <div class="background-masker ghost-placeholder-header-top dashbord-line01"></div>          
              <div class="background-masker ghost-placeholder-header-top dashbord-tower01"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-line02"></div>          
              <div class="background-masker ghost-placeholder-header-top dashbord-tower02"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-line03"></div>          
              <div class="background-masker ghost-placeholder-header-top dashbord-tower03"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-line04"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-line05"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-tower04"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-line06"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-line07"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-tower05"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-line08"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-tower06"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-line09"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-line10"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-tower07"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-line11"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-block card-2">
        <div class="card-block-inner">
          <div class="timeline-item DashSectionLoader">
            <div class="animated-background LDheight360">
              <div class="background-masker ghost-placeholder-header-top dashbord-line01"></div>          
              <div class="background-masker ghost-placeholder-header-top dashbord-tower01"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-line02"></div>          
              <div class="background-masker ghost-placeholder-header-top dashbord-tower02"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-line03"></div>          
              <div class="background-masker ghost-placeholder-header-top dashbord-tower03"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-line04"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-line05"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-tower04"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-line06"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-line07"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-tower05"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-line08"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-tower06"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-line09"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-line10"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-tower07"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-line11"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-block card-2">
        <div class="card-block-inner">
          <div class="timeline-item DashSectionLoader">
            <div class="animated-background LDheight360">
              <div class="background-masker ghost-placeholder-header-top dashbord-line01"></div>          
              <div class="background-masker ghost-placeholder-header-top dashbord-tower01"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-line02"></div>          
              <div class="background-masker ghost-placeholder-header-top dashbord-tower02"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-line03"></div>          
              <div class="background-masker ghost-placeholder-header-top dashbord-tower03"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-line04"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-line05"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-tower04"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-line06"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-line07"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-tower05"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-line08"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-tower06"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-line09"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-line10"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-tower07"></div>
              <div class="background-masker ghost-placeholder-header-top dashbord-line11"></div>
            </div>
          </div>
        </div>
      </div>
</div>
