.mat-progress-spinner{
    margin-right:5px;
    height: 20px;
    width: 13px;
    float: left;
}
.done-icon{
    float: left;
    line-height: 12px;
    font-size: 16px;
    margin-right:5px;
}
.btn-file{
    overflow: hidden;
    padding: 0px;
    text-align: center;
}
.btn-file .material-icons{
    padding-top: 12px;
}
.btn-file-img{
    width:40px;
    height:40px;
}