<!-- Copy Candidate -->
<div class="popup-custome-section">
  <div class="popup-top clearfix" mat-dialog-title>
    <h2 class="title-sub text-wrap">{{label}} {{'common.label.candidate' | translate}}</h2>
  </div>
  <div class="notification-bar notification-not-fixed {{severityClass}} {{showClass}}" *ngIf="message.length > 0">
    <span class="material-icons successful-icon">check_circle</span>
    <div class="notification-text-outer">
      <span class="notification-text">{{message}}</span>
    </div>
    <span class="material-icons close" (click)="clearNotification()">close</span>
  </div>
  <div class="maxHeight200" slimScroll>
    <div class="popup-top popup-title-row-hover clearfix" *ngFor="let item of candidatelist">
      <div class="popup-title-row position-rel">
        <h2 class="title font16">
          {{item.firstName | lowercasepipe}} {{item.middleName | lowercasepipe}} {{item.lastName | lowercasepipe}}
          <span class="job-code">{{item.requisitionCode}}-{{item.jobTitle}}</span>
        </h2>
        <span class="job-code-popup">[{{item.candidateCode}}]</span>
        <span class="material-icons close close-popup-row" (click)="alterCandidateList(item)">close</span>
      </div>
    </div>
  </div>
  <div *ngIf="candidatelist.length>0">
    <div class="popup-inner move-copy-popup" [formGroup]="candidateInfo">
      <div class="form-group clearfix">
        <label class="control-label">{{'candidate.list.selectAction' | translate}}</label>
        <alt-custom-single-select #ACTIONID [srcTag]="'ACTIONTAG'" (clickToClose)="ACTIONID.toggleClose()"
          [searchEnable]="false" [inputList]="actionList" [value]="candidateInfo.controls['actionSelected'].value"
          placeholder="{{'candidate.list.selectAction' | translate}}" (valueBind)="candidateInfo.controls['actionSelected'].setValue($event.value); bindAction($event)">
        </alt-custom-single-select>
      </div>
      <div class="form-group radio-check-block clearfix">
        <label class="control-label">{{'candidate.list.selectStage' | translate}}</label>
        <div class="radio-block">
          <div class="radio">
            <span class="radio_label_inline">
              <input type="radio" id="current" value="current" formControlName="stageSelected" (click)="syncJobList(true)">
              <label for="current">{{label}}{{'candidate.list.toCurrentStage' | translate}}</label>
            </span>
          </div>
          <div class="radio">
            <span class="radio_label_inline">
              <input type="radio" id="initial" value="initial" formControlName="stageSelected" (click)="syncJobList(false)">
              <label for="initial">{{label}}{{'candidate.list.toInitialStage' | translate}}</label>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group margin-bot-none clearfix">
        <label class="control-label">{{'job.job_detail.selectJob' | translate}}</label>
        <alt-custom-single-select #JOBID [srcTag]="'JOBTAG'" (clickToClose)="JOBID.toggleClose()" [searchEnable]="true"
          [inputList]="data" [value]="candidateInfo.controls['jobIdSelected'].value" placeholder="{{'job.job_detail.selectJob' | translate}}"
          (valueBind)="candidateInfo.controls['jobIdSelected'].setValue($event.value); bindWorkflowID($event); ">
        </alt-custom-single-select>
      </div>
      <div *ngIf="label== moveLabel" class="text">{{'candidate.list.candidateUntaggedNote' | translate}}</div>
    </div>
  </div>
</div>
<div mat-dialog-actions class="btn-row text-right">
  <button href="javascript:void(0)" class="btn btn-white" (click)="closePopUp()" [disabled]="transferCandidate">{{'common.label.cancel' | translate}}</button>
  <alt-spinner-button (myEvent)="copyCandidateToAnotherJob($event)" [spinner]="transferCandidate" [spinnerdisabled]="transferCandidate || disableSubmit"
    [text]="label"></alt-spinner-button>
</div>
<!-- \\ End Copy Candidate-->