<div class="panel-full">
    <div class="panel {{toggleOpen?'panel-open':''}}">
        <div class="panel-heading clearfix">
            <h2 class="panel-title fl-left text-capitalize"><span class="count_Icon">{{inputData.sequence}}</span>{{inputData.workflowStageName}}<span class="text-step-cell">{{inputData.actionLabel}}</span></h2>
            <div class="icon_group_right">
                <span class="mdi mdi-chevron-down" (click)="toggleDiv()"></span>
            </div>
        </div>
        <div class="panel-body" *ngIf="toggleOpen">
            <div class="form-group form-textarea">
                <textarea class="form-control noresize" [formControl]="comment" placeholder="Comment..."></textarea>
            </div>
            <div class="btn-row-2 btn-row-attachment clearfix">
                <div *ngIf="!attachmentName" class="btn-file-custome">
                    <span class="link"><span class="material-icons">attachment</span>attach document</span>
                    <input class="file-btn" type="file" id="file" name="file" (change)="uploadDocumentListener($event)" />
                </div>
                <div *ngIf="attachmentName" class="document-name-here">
                    <span class="material-icons done">done</span>
                    <span class="font-bold doc-file-name">{{attachmentName}}</span>
                    <span class="material-icons fl-right cursor" (click)="deleteDocumentListener()">delete</span>                                                    
                     <span class="material-icons fl-right cursor" (click)="downloadDocumentListener()">file_download</span> 
                </div>
                <div class="fl-right">
                    <div class="btn-for-mobile">
                        <div class="dropdown-11 select-black">
                            <alt-custom-single-select #SELECTEDSTATUS [srcTag]="'SELECTEDSTATUSTAG'" (clickToClose)="SELECTEDSTATUS.toggleClose()" [inputList]="statusLists"
                                [value]="selectedStatusID.value" placeholder="Choose Status" (valueBind)="selectedStatusID.setValue($event.value)" [isDisabled]="shortlist">
                            </alt-custom-single-select>
                        </div>
                        <alt-spinner-button (myEvent)="updateStatus();" [spinner]="shortlist" [spinnerdisabled]="shortlist" [text]="lable"></alt-spinner-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>