<header class="print-displayNone site-header {{MobileMenu?'menu-close':'menu-open'}}">
	
	<form id="altAppForm" method="post" target="_blank">
		<input type="hidden" id="accessToken" name="accessToken" value=""/>
		<input type="hidden" id="refreshToken" name="refreshToken" value=""/>
	</form>
	<form id="partnerAppForm" method="post" target="_blank">	
		<input type="hidden" id="CustomerIdentifier" name="CustomerIdentifier" value=""/>
		<input type="hidden" id="AccessToken" name="AccessToken" value=""/>
		<input type="hidden" id="CallbackURL" name="CallbackURL" value=""/>
		<input type="hidden" id="Timestamp" name="Timestamp" value=""/>
	</form>
	
	<form id="altAppFormCreator" method="get" target="_blank">
		<input type="hidden" id="accessTokenn" name="accessToken" value=""/>
		<input type="hidden" id="refreshTokenn" name="refreshToken" value=""/>
		<input type="hidden" id="url" name="url" value=""/>
		<input type="hidden" id="orgId" name="orgId" value=""/>
		<input type="hidden" id="tenantId" name="tenantId" value=""/>
	</form>
	
    <div class="site-width">
        <div class="site-header-inner clearfix {{(meshModels==null || meshModels.length==0) ? 'mesh-menu-section':''}}">
            <div class="header-container clearfix">
                <button class="button-mobile-menu" (click)="toggleMobileMenu()" [srcTag]="'TAGMOBILE'" (clickToClose)="toggleMobileMenuOff()"><span class="mdi md24 mdi-menu"></span></button>
                <div class="switch-app-holder {{MeshMenu?'Meshclose':'open'}}" *ngIf="meshModels!=null && meshModels.length>0">
                	<span class="switch-app-icon material-icons apps" (click)="toggleMeshMenu()" [srcTag]="'TAGMESHMOBILE'" (clickToClose)="toggleMeshMenuOff()"></span>
                    <div class="switch-apps-dropdown">               	
                        <ul class="switch-apps">
                            <ng-container  *ngFor="let mesh of meshModels;">
	                        	  
	                        	<li *ngIf="mesh.appName.toLowerCase()!='alt recruit' && mesh.webEnabled">
	                        	<div class="switchapps_outer">
			
                                	<div class="switchapps_inner" (click)="callApp(mesh.webURL, mesh.identifier, mesh.appType)">
	                                	<div class="apps_iconholder"><img src="{{mesh.appIconImage}}" alt="icon" /></div>
	                                    <div class="app_text">{{mesh.appName}}</div>
                                    </div>
	                                
								</div>
	                            </li>
	                        </ng-container>
                        </ul>
                    </div>
                </div>
                <a [routerLink]="['home']" class="site-logo"><span class="site-logo-cell"><img src="{{orgLogo}}" alt="Logo" /></span></a>
               <!-- <a class="back_home mobile-only" [routerLink]="['home']" title="back to source">home</a>-->
                <alt-menu></alt-menu>
                <!--<div *ngIf="enableStatic()" class="live-search-block desktop-only">
                    <div class="icon-top-block">
                        <a [routerLink]="['LiveFeed']">
                            <span class="notification">91</span>
                            <span class="material-icons cast dp20"></span>
                            <span class="font8">{{ 'live feed' | translate }}</span>
                        </a>
                    </div>
                    <div class="icon-top-block fl-right">
                        <a [routerLink]="['Search']" class="search-top-btn">
                            <span class="material-icons search dp20"></span>
                            <span class="font8">{{ 'Search' | translate }}</span>
                        </a>
                    </div>
                </div>
                -->
            </div>
            <div class="header-right {{MoreMenuMb?'':'more-menu-open-mobile'}}">
                <div class="header-right-inner clearfix">
                    <div class="profile-block" (click)="MoreMenuToggleMb()" [srcTag]="'MOREMOBILE'" (clickToClose)="MoreMenuToggleOffMb()">
                        <div class="profile-img">
                            <img src="{{profilePic}}" (error)="handleProfilePicError()"/>
                        </div>
                        <label for="userProfilePic">
                            <span class="crown cursor" matTooltip="{{'common.warning.picFormat' | translate}}">
                                <span class="edit-icon">edit</span>
                            </span>
                        </label>
                        <input #userProfilePic type="file" id="userProfilePic" style="display: none;" (change)="picFileChange($event)" accept=".png,.jpg,.jpeg">
                    </div>
                    <div class="options-block">
                        <!--
                        <div *ngIf="enableStatic()" class="icon-top-block">
                            <a [routerLink]="['Tasks','Day']" routerLinkActive="active">
                                    <span class="notification">191</span>
                                    <span class="material-icons content_paste dp20"></span>
                                    <span class="font8">{{ 'Tasks' | translate }}</span>
                                </a>
                        </div>
                        <div *ngIf="enableStatic()" class="icon-top-block fl-right">
                            <a [routerLink]="['Applied']" routerLinkActive="active">
                                    <span class="applied-for-icons"></span>
                                    <span class="font8">{{ 'applied for' | translate }}</span>
                                </a>
                        </div>
                        -->
                        <div class="icon-top-block">
                            <a [routerLink]="['Download']" routerLinkActive="active">
                                <span class="material-icons dp20 file_download margin-none"></span>
                                <span class="font8">{{ 'common.label.downloads' | translate }}</span>
                            </a>
                        </div>
                        <div class="icon-top-block more-click fl-right cursor" (click)="MoreMenuToggle()" [srcTag]="'MOREMENUTAG'" (clickToClose)="MoreMenuToggleOff()">
                            <a href="javascript:void(0)">
                                <span class="material-icons dp22 margin-none more_horiz" ></span>
                                <span class="font8">{{ 'common.label.more' | translate }}</span>
                           </a>
                        </div>
                    </div>
                </div>
            <ul class="more-options list-reset {{MoreMenu?'':'more-menu-open'}}">
                    <li class="upload-picture-mb">
                        <a href="javascript:void(0)">
                        <label for="userProfilePic">
                            <span class="dp22 edit-icon"></span>Upload Image
                        </label>
                        <input #userProfilePic type="file" id="userProfilePic" style="display: none;" multiple="false" (change)="picFileChange($event)" accept=".png,.jpg,.jpeg">
                        </a>
                     </li>
                    
                    <li *ngIf="bulkParsingEnabled" routerLinkActive="active"><a [routerLink]="['MyProfile']"><span class="dp22 material-icons person"></span>My profile</a></li>
                    <li *ngIf="bulkParsingEnabled" routerLinkActive="active"><a [routerLink]="['BulkParse']"><span class="dp22 material-icons folder"></span>Bulk Parse</a></li>
                    <!--<li *ngIf="enableStatic()"><a [routerLink]="['MyTeam']"><span class="dp22 material-icons star"></span>my team</a></li>
                    <li *ngIf="enableStatic()"><a [routerLink]="['MyReferrals']"><span class="dp22 material-icons link"></span>my referrals</a></li>
                    <li *ngIf="enableStatic()" class="{{Toggle?'':'active'}}" (click)="$event.stopPropagation();"><a href="javascript:void(0)" (click)="ToggleClass();"><span class="dp22 material-icons swap_horiz"></span>Switch <span class="mdi mdi-chevron-down md24 fl-right"></span></a>
                        <ul class="list-reset sub-options">
                            <li><a href="javascript:void(0)">alt One</a></li>
                            <li><a href="javascript:void(0)">alt Two</a></li>
                            <li><a href="javascript:void(0)">alt Three</a></li>
                        </ul>
                    </li>-->
                    <li> <a href="javascript:void(0)" (click)="logout();"><span class="dp22 material-icons power_settings_new"></span>{{ 'header.label.logout' | translate }}</a></li>
                </ul>
        </div>
    </div>
    </div>
</header>
 <div class="module-true {{MeshMenu?'mesh-none':'mesh-block'}}"></div>
 <div class="module-true {{MobileMenu?'':'menu-open'}}"></div>
 <div class="module-true {{MoreMenuMb?'':'more-menu-open-mobile'}}"></div>