<!-- Section Assign to Recruiter -->
<div class="popup-custome-section">
    <div class="popup-top clearfix" mat-dialog-title>
        <h2 class="title-sub">{{'job.job_list.assignToRecruiter' | translate}}</h2>
        <span class="material-icons close" (click)="dialogRef.close('Cancel')">close</span>
    </div>
    <div class="notification-bar {{severityClass}} {{showClass}}" *ngIf="message?.length > 0">
        <span class="material-icons successful-icon">check_circle</span>
        <div class="notification-text-outer">
            <span class="notification-text">{{message}}</span>
        </div>
        <span class="material-icons close" (click)="clearMessages()">close</span>
    </div>
    <div class="vertical-scroll-ng" slimScroll mat-dialog-content>
        <div class="popup-inner padding20t">
            <!-- popup Content Box -->
            <!--<h3 class="title-sub">Recruiters</h3>-->
            <div class="popup-row clearfix" *ngFor="let recDetail of reqRecruiterDataList, let i = index">
                <div class="popup-cell-1 popup-cell-dev">
                    <div class="popup-cell-inner dropdown">
                        <alt-select [options]="recruiterList" [multiple]="false" placeholder="{{'common.label.select' | translate}}" [allowClear]="false" [(ngModel)]="recDetail.userIdStrVal"
                            (selected)="changeRecruiter($event, i)">
                        </alt-select>
                    </div>
                </div>
                <div class="popup-cell-2 popup-cell-dev">
                    <div class="popup-cell-inner">
                        <alt-datepicker class="dropdown-calendar" [mode]="landscape" [(ngModel)]="recDetail.targetDate" #targetDate (change)="selectAssignedDate(targetDate.value)"
                            placeholder="{{'common.label.targetDate' | translate}}"></alt-datepicker>
                    </div>
                </div>
                <div class="popup-cell-3">
                    <div class="popup-cell-inner">
                        <input mdInput class="form-control" placeholder="{{'common.label.OPENINGS' | translate}}" [(ngModel)]="recDetail.assignedOpenings" (keypress)="restrictNumeric($event)"
                        />
                    </div>
                </div>
                <div class="popup-cell-4">
                    <div class="popup-cell-inner">
                        <span class="material-icons delete-icon" (click)="deleteRow(i)">delete</span>
                    </div>
                </div>
            </div>
            <!-- \\ End Popup Row -->
            <div class="add-new-btn-outer margin-bot-pad add-new-btn-custome" (click)="addRow()">
                <div class="add-new-btn"><span class="material-icons dp10">add</span>{{'job.job_detail.addRecruiter' | translate}}</div>
            </div>
            <div class="popup-top clearfix popup-toplr15">
                <h3 class="title-sub margin-bot-none">{{'job.job_list.selectedJobs' | translate}}</h3>
            </div>
            <div class="popup-top clearfix popup-toplr15" *ngFor="let data of datalist; let i = index;">
                <div class="popup-title-row">
                    <h2 class="title">
                        <span class="job-status {{getJobStatusClass(data.sysRequisitionStatus)}}"></span>
                        <span *ngIf="data.jobTitle.length>50" matTooltip="{{data.jobTitle | lowercasepipe}}">{{data.jobTitle.toLowerCase() | stringTrim:50}}</span>
                        <span *ngIf="data.jobTitle.length<=50">{{data.jobTitle | lowercasepipe}}</span>
                        <span class="job-code">{{data.requisitionCode}}</span>
                    </h2>
                </div>
                <div class="popup-top-description">
                    <ul class="list-reset listing-inline max-width90">
                        <li class="character-count-45" matTooltip="{{data.orgUnitCode | lowercasepipe}}" *ngIf="data.orgUnitCode !=null && data.orgUnitCode.length>60">{{data.orgUnitCode | lowercasepipe}}</li>
                        <li *ngIf="data.orgUnitCode !=null && data.orgUnitCode.length<=60">{{data.orgUnitCode | lowercasepipe}}</li>
                        <li class="character-count-45" matTooltip="{{data.joiningLocation | lowercasepipe}}" *ngIf="data.joiningLocation !=null && data.joiningLocation.length>50">{{data.joiningLocation | lowercasepipe}}</li>
                        <li *ngIf="data.joiningLocation !=null && data.joiningLocation.length<=50">{{data.joiningLocation | lowercasepipe}}</li>
                        <li class="last-item" *ngIf="data.modifiedDate">{{'common.label.createdOn' | translate}}<span class="link">{{data.modifiedDate | date:'dd/MM/yyyy'}}</span></li>
                    </ul>
                      <div class="popup-openings">
                        <span class="text-bold-cell">{{data.noOfOpening}}</span>
                        <span class="text-cell">{{'common.label.OPENINGS' | translate}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div mat-dialog-actions class="btn-row text-right">
        <button href="javascript:void(0)" class="btn btn-white" (click)="dialogRef.close('Cancel')" [disabled]="assignRecruiter">{{'common.label.cancel' | translate}}</button>
        <!--<button href="javascript:void(0)" class="btn btn-primary" (click)="assignMultipleJobsToRecruiter()" [disabled]="disableAssign">assign</button>-->
        <alt-spinner-button gaevent="AssignToRecruiterBulk#Assign#click" (myEvent)="assignMultipleJobsToRecruiter($event)" [spinner]="assignRecruiter" [spinnerdisabled]="disableAssign || assignRecruiter"
            [text]="lable"></alt-spinner-button>
    </div>

    <!-- \\ End Section Assign to Recruiter  <-->