<div class="position-rel">
<div class="notification-bar {{severityClass}} {{shouldStick?'notification-fixed':''}}" *ngIf="messages.length > 0">
  <span class="material-icons successful-icon">check_circle</span>
  <div class="notification-text-outer">
  <span *ngFor="let message of messages" class="notification-text">{{message}}</span>
  </div>  
  <span class="material-icons close" (click)="clearMessages()">close</span>
</div>
</div>