<h4 class="title-purple-18">{{'candidate.draft_candidate.candidateDrafts' | translate}} </h4>
<h2 class="title-lg">{{'candidate.draft_candidate.resumeWork' | translate}}</h2>
<h2 class="title-lg-2">{{'candidate.draft_candidate.completeCandidateDrafts' | translate}}</h2>
<!--  Section Card-->
<div class="section-card">
    <div class="section-blank-screen clearfix">
        <!-- Card Block -->
        <div class="card-block card-3">
            <div class="card-block-inner">
                <div class="blank-screen-card-top"><span class="screen-icon create-candidate-icon"></span></div>
                <div class="blank-screen-card-bottom">
                    <a [routerLink]="['../newcandidate']" class="btn btn-default"><span class="material-icons dp10">add</span>{{'candidate.draft_candidate.createCandidate' | translate}}</a>
                </div>
            </div>
        </div>
        <!-- \\ End Card Block -->
    </div>
</div>
<!-- \\ End Section Card-->