<!--  Proposed Remuneration Toggle  -->
<div class="sub-toggle clearfix {{toggleOpen?'sub-toggle-open':'sub-toggle-close'}}">
    <div class="sub-toggle-title">
        <h2 class="title-12 purple-color fl-left">{{'candidate.hiring_process.proposedRemuneration' | translate}} </h2>
        <span class="material-icons keyboard_arrow_up fl-right" (click)="toggleDiv()"></span>
    </div>
    <div class="sub-toggle-containt" *ngIf="toggleOpen">
        <!-- salary stacl -->
        <div class="clearfix">            
                <ng-container *ngIf="security?.salaryStackRendered">
                    <alt-fitment-computable-stack #FITMENTCOMPUTABLESTACK [applicantStatusID]="applicantStatusID" [security]="security"></alt-fitment-computable-stack>
                </ng-container>
                <ng-container *ngIf="security?.customSalaryStackRendered && !security?.salaryStackRendered">
                    <div class="table-scroll-custome">
                        <div class="table-outer table-common">
                        <h3 class="title-12">{{'candidate.hiring_process.salaryStack' | translate}}</h3>
                        <table class="table document-table">
                            <thead>
                                <tr>
                                    <th class="cell-first">{{'common.label.component' | translate}}</th>
                                    <th class="cell-last">{{'common.label.monthly' | translate}}</th>
                                    <th class="cell-last">{{'common.label.yearly' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let comp of stackList">
                                    <tr *ngIf="comp.paystructureType=='Offered_Stack'">
                                        <td class="cell-first">{{comp.payCodeName}}</td>
                                        <td class="cell-last">{{comp.amount}}</td>
                                        <td class="cell-last">{{comp.annualAmount}}</td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </ng-container>            
        </div>
        <div class="section-table clearfix" *ngIf="otherExpensesList?.length > 0">
            <div class="table-scroll-custome">
                <div class="table-outer table-common">
                    <h3 class="title-12-gray">{{'common.label.otherExpenses' | translate}}</h3>
                    <table class="table document-table">
                        <thead>
                            <tr>
                                <th class="cell-first">{{'common.label.component' | translate}}</th>
                                <th class="width105">{{'candidate.hiring_process.toBeGiven' | translate}}</th>
                                <th class="width150">{{'common.label.effectiveDate' | translate}}</th>
                                <th class="width105">{{'candidate.hiring_process.payFrequency' | translate}}</th>
                                <th class="width115">{{'candidate.hiring_process.amount' | translate}}</th>
                                <th class="table-multiplay">
                                    <table class="table-multiplay-inner">
                                        <thead>
                                            <tr>
                                                <th class="table-cell-04">{{'candidate.hiring_process.amountBreakup' | translate}}</th>
                                                <th class="table-cell-05">{{'candidate.hiring_process.payoutDate' | translate}}</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let comp of otherExpensesList">
                                <tr>
                                    <td class="cell-first">{{comp.payCodeName}}</td>
                                    <td class="width105">
                                        <alt-custom-single-select #TOBEGIVENCOMP [srcTag]="'TOBEGIVENCOMPTAG'" (clickToClose)="TOBEGIVENCOMP.toggleClose()" [allowZeroValue]="true"
                                            [inputList]="toBeGivenList" [value]="comp.toBeGiven" class="select-dropdown-white"
                                            (valueBind)="comp.toBeGiven=$event.value;toBeGivenChangeListener($event.value,comp);">
                                        </alt-custom-single-select>
                                    </td>
                                    <td class="width105">
                                        <alt-datepicker [styleClass]="'datepicker-common2'" class="dropdown-calendar dropdown-calendar-white" [type]="'date'" [mode]="'landscape'"
                                            [timestamp]="comp.effectiveDate" (change)="datetimeChangeListener($event,comp)" [disabled]="!comp.toBeGiven"></alt-datepicker>
                                    </td>
                                    <td class="width105">
                                        <alt-custom-single-select #PAYFREQUENCYCOMP [srcTag]="'PAYFREQUENCYCOMPTAG'" (clickToClose)="PAYFREQUENCYCOMP.toggleClose()"
                                            [inputList]="payFrequencyList" [value]="comp.frequency" class="select-dropdown-white"
                                            placeholder="{{'common.label.select' | translate}}" (valueBind)="setPayFrequency(comp,$event.value);" [isDisabled]="!comp.toBeGiven">
                                        </alt-custom-single-select>
                                    </td>
                                    <td class="width115">
                                        <input type="text" class="form-control form-control-white" [value]="comp.amount" (keypress)="decimalValuesKeyPress($event)"
                                            (change)="setAmount(comp,$event.target.value);" [disabled]="!comp.toBeGiven" />
                                    </td>
                                    <td class="table-multiplay">
                                        <table class="table-multiplay-inner">
                                            <tr *ngFor="let instalment of comp.detailsInstalments;">
                                                <td class="table-cell-04">
                                                    <input type="text" class="form-control form-control-white" [value]="instalment.amount" (keypress)="decimalValuesKeyPress($event)"
                                                        (change)="instalment.amount = $event.target.value" />
                                                </td>
                                                <td class="table-cell-05 dropdown-month-year">
                                                    <alt-datepicker [styleClass]="'datepicker-common2'" class="dropdown-calendar dropdown-calendar-white" [type]="'date'" [mode]="'landscape'"
                                                        [timestamp]="instalment.payoutDate" (change)="instalmentDateChangeListener($event,instalment)"
                                                        [disabled]="!comp.toBeGiven"></alt-datepicker>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>

                    <!-- <div class="btn-row-2 clearfix text-right">
                <button type="button" class="btn btn-primary" (click)="saveProposedRenumerationDetails()">Save</button>
            </div> -->
                </div>
                <!-- \\ End other expenses -->
            </div>
        </div>
    </div>
</div>
<!-- \\ End Proposed Remuneration Toggle -->