<!--Internship section begins-->
<div class="info_title" (click)="candidateController.toggleInternship()">
  <span class="count_Icon">{{ candidateController.getSectionNumber('5') }}</span>{{security?.internshipSectionLabel |
  formatCapitalize}}
  <span class="clearAllFields" *ngIf="security?.internshipClearAllRendered" (click)="clearAll($event)">{{security?.internshipClearAllLabel}}</span>
</div>
<div class="form_outer">
  <div class="row" [formGroup]="formGroup">
    <fieldset formArrayName="internshipHistory">
      <div class="common-block-job" *ngFor="let item of formGroup.controls.internshipHistory['controls']; let i=index;">
        <div [formGroupName]="i">
          <div class="form-group row2 mgn-btm-0">
            <!--Delete Internship-->
            <div class="col-md-12" [ngClass]="security?.internshipDeleteDisabled?'disabled':''" *ngIf="security?.internshipDeleteRendered">
              <span class="pull-right material-icons cursor" [ngClass]="security?.internshipDeleteDisabled?'disabled':''"
                (click)="!security?.internshipDeleteDisabled? deleteInternshipHistory(i):false">delete</span>
            </div>

            <!--Company Name-->
            <div class="col-md-6 input-field" *ngIf="security?.internshipCompanyRendered">
              <label class="control-label">{{security?.internshipCompanyLabel}}<span *ngIf="security?.internshipCompanyRequired">*</span></label>
              <div class="dropdown-11 list-block">
                <input type="text" class="form-control" [ngClass]="security?.internshipCompanyDisabled?'disabled':''"
                  formControlName="company" placeholder="Enter" [attr.disabled]="security?.internshipCompanyDisabled?'disabled':null" />
              </div>
            </div>

            <!--Job Title-->
            <div class="col-md-6 input-field" *ngIf="security?.internshipJobTitleRendered">
              <label class="control-label">{{security?.internshipJobTitleLabel}}<span *ngIf="security?.internshipJobTitleRequired">*</span></label>
              <input type="text" class="form-control" [ngClass]="security?.internshipJobTitleDisabled?'disabled':''"
                formControlName="jobTitle" placeholder="Enter" [attr.disabled]="security?.internshipJobTitleDisabled?'disabled':null" />
            </div>

            <!--Company Start Date-->
            <div class="col-md-6 input-field" *ngIf="security?.internshipCompanyStartDateRendered" [ngClass]="security?.internshipCompanyStartDateDisabled?'disabled':''">
              <label class="control-label clearfix">{{security?.internshipCompanyStartDateLabel}}<span *ngIf="security?.internshipCompanyStartDateRequired">*</span></label>
              <div class="row">
                <div class="col-md-12 datepicker-col">
                  <alt-datepicker [styleClass]="'datepicker-common3'" class="dropdown-calendar dropdown-calendar-grey"
                    [type]="'date'" [mode]="'landscape'" #internshipStartDate [value]="item.controls.internshipStartDate.value"
                    (change)="setStartDate(internshipStartDate.value,item)" [disabled]="security?.internshipCompanyStartDateDisabled"></alt-datepicker>
                </div>
              </div>
            </div>

            <!-- Company End Date -->
            <div class="col-md-6 input-field" *ngIf="security?.internshipCompanyEndDateRendered">
              <div class="row2">
                <label class="control-label clearfix">{{security?.internshipCompanyEndDateLabel}}<span *ngIf="security?.internshipCompanyEndDateRequired">*</span></label>
                <div class="checkbox checkbox-inline CheckBox-right pull-right" *ngIf="security?.internshipStillWorkingHereRendered">
                  <input type="checkbox" class="styled" id="internshipWorking{{i}}" [value]="true" formControlName="currentlyWorkHere"
                    (change)="clearEndDate(item)" />
                  <label for="internshipWorking{{i}}" class="control-label gray-color">{{security?.internshipStillWorkingHereLabel}}</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 datepicker-col">
                  <alt-datepicker [styleClass]="'datepicker-common3'" class="dropdown-calendar dropdown-calendar-grey"
                    [type]="'date'" [mode]="'landscape'" #internshipEndDate [value]="item.controls.internshipEndDate.value"
                    (change)="setEndDate(internshipEndDate.value,item)" [disabled]="security?.internshipCompanyEndDateDisabled || item.controls.currentlyWorkHere.value == true"></alt-datepicker>
                </div>
              </div>
            </div>
          </div>

          <!--Description Section-->
          <div class="form-group row2 mgn-btm-0">
            <div class="col-md-12" *ngIf="security?.internshipDescriptionRendered">
              <label class="control-label">{{security?.internshipDescriptionLabel}}<span *ngIf="security?.internshipDescriptionRequired">*</span></label>

              <div class="form-group form-textarea marginText12">
                <textarea class="form-control noresize" [ngClass]="security?.internshipDescriptionDisabled?'disabled':''"
                  formControlName="description" placeholder="Enter" [attr.disabled]="security?.internshipDescriptionDisabled?'disabled':null"></textarea>
              </div>

            </div>
          </div>

        </div>
      </div>
    </fieldset>

    <!--Add Past Internship-->
    <div class="col-md-12">
      <div class="add-new-btn-outer" *ngIf="security?.internshipaddPastJobRendered">
        <div class="add-new-btn" (click)="addInternshipHistory()"><span class="material-icons dp10">add</span>
          {{security?.internshipaddPastJobLabel}}<span *ngIf="security?.internshipaddPastJobRequired">*</span></div>
      </div>
    </div>

    <!--Continue-->
    <div class="column-footer row2">
      <div class="col-md-12 text-right" *ngIf="security?.internshipContinueRendered">
        <alt-spinner-button (myEvent)="continue();" gaevent="Internship#Continue#click" [spinner]="candidateController.internshipSectionBlock"
          [spinnerdisabled]="candidateController.internshipSectionBlock || !formGroup.valid || security?.internshipContinueDisabled || candidateController.internshipSectionBlock"
          [text]="candidateController.isDraft? security?.internshipContinueLabel: 'UPDATE'" [done]="candidateController.internshipSectionDone && !formGroup.touched && formGroup.valid">
        </alt-spinner-button>

      </div>
    </div>
  </div>
</div>