<alt-loader *ngIf="showloader"></alt-loader>
<alt-my-job-blank-screen *ngIf="loaderIndicator == 'nodata'"></alt-my-job-blank-screen>
<div *ngIf="loaderIndicator != 'nodata'">
  <div class="row">
    <div class="card-block card-3 search-block-section">
      <div class="card-block-inner card-bg-none">
        <div class="input-group search-block" [formGroup]="queryFormGroup">
          <input class="form-control" formControlName="query" placeholder="{{'candidate.list.searchCandidate' | translate}}" />
          <span class="input-group-btn">
            <button class="btn material-icons dp20" type="submit">search</button>
          </span>
        </div>
      </div>
    </div>
    <div class="card-block card-3 card-bulk-actions">
      <div class="card-block-inner card-bg-none clearfix">
        <div class="select-all-btn col-2">
          <div class="select-all-btn-inner">
            <div class="checkbox checkbox-inline">
              <input type="checkbox" class="styled" id="select" [(ngModel)]="selectAll" (change)="allSelectEvent()" />
              <label for="select" class="custome-label"> {{'common.label.selectAll' | translate}} </label>
            </div>
          </div>
        </div>
        <div class="dropdown dropdown-outer-2 col-2">
          <a href="#" class="bulk-actions dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="text-dropdown">{{'common.label.bulkActions' | translate}}</span>
            <span class="mdi mdi-chevron-down md24"></span>
          </a>
          <ul class="list-reset dropdown-10 dropdown-style">
            <li>
              <a (click)="openBulkAction('C');" href="javascript:void" gaevent="ContextMenu#Bulk Transfer Candidates#click">{{'candidate.list.transferCandidates' | translate}}</a>
            </li>
            <li>
              <a (click)="openBulkAction('E');" href="javascript:void" gaevent="ContextMenu#Bulk Email Candidates#click">{{'candidate.list.emailCandidates' | translate}}</a>
            </li>
            <li *ngIf="jobStatus">
              <a (click)="openBulkAction('U');" href="javascript:void" gaevent="ContextMenu#Bulk untag Candidates#click">{{'candidate.list.untagCandidates' | translate}}</a>
            </li>           
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="table table-striped">
    <div class="row pagination-mobile">
      <alt-paginator #PAGINATIONTOP [srcTag]="'PAGINATIONTOP'" (clickToClose)="PAGINATIONTOP.toggleClose()" [rowsPerPageTemplate]="'15,30,45'" [pageState]="pageState" [pageLoading]="pageLoading" (pageChange)="getPageNumber($event)"
        *ngIf="taggedCandidates?.length > 0">{{'common.label.loading' | translate}}...</alt-paginator>
    </div>
    <loader-indicator *ngIf="loaderIndicator == 'loader'"></loader-indicator>
    <div class="section-card clearfix" *ngIf="loaderIndicator == 'data'">
     <div class="title-lg padding-t50" *ngIf="taggedCandidates?.length <= 0">{{'common.label.noDataAvailable' | translate}}</div>
      <div class="card-block card-3 card-candidate-tagged" *ngFor="let taggedCandidate of taggedCandidates; let i = index; let isFirst=first; let isLast=last;">
        <div class="card-block-inner">
          <div class="card-top card-row clearfix">
            <div class="check-box checkbox">
              <input type="checkbox" [(ngModel)]="taggedCandidate.selected" [disabled]="taggedCandidate.inReview" [checked]="taggedCandidate.selected"
                class="styled" (change)="singleSelectEvent(taggedCandidate)">
              <label></label>
            </div>
            <alt-candidate-context-menu [mobileNumber]="taggedCandidate.mobileNumber"></alt-candidate-context-menu>
          </div>
          <div class="card-row card-name-row">
            <div class="image-block">
              <img src="{{taggedCandidate.profileImage}}" (error)="taggedCandidate.profileImage=null" *ngIf="taggedCandidate.profileImage!=null"
              />
              <span class="initials-text" *ngIf="taggedCandidate.profileImage==null" [style.background]="randomcolor[i]">{{(taggedCandidate.firstName!=null && taggedCandidate.firstName!=''? taggedCandidate.firstName.trim().charAt(0):
                '')+(taggedCandidate.lastName!=null && taggedCandidate.lastName!=''? taggedCandidate.lastName.trim().charAt(0):
                '') | uppercase}}</span>
            </div>
            <div class="title-cell">              
                <h3 class="title" *ngIf="!taggedCandidate.inReview && (taggedCandidate.firstName+taggedCandidate.middleName+taggedCandidate.lastName).length<=22">
                    <a class="link" [routerLink]="['/candidate/edit-candidate', taggedCandidate.candidateCode | formatCandidatecodeParam]">
                      {{taggedCandidate.firstName | lowercasepipe}} {{taggedCandidate.middleName | lowercasepipe}} {{taggedCandidate.lastName  | lowercasepipe}}
                  </a>
              </h3>
              <h3 class="title text-nowrap-grad-white" *ngIf="!taggedCandidate.inReview && (taggedCandidate.firstName+taggedCandidate.middleName+taggedCandidate.lastName).length>22" matTooltip="{{taggedCandidate.firstName}} {{taggedCandidate.middleName}} {{taggedCandidate.lastName}}">
                  <a class="link" [routerLink]="['/candidate/edit-candidate', taggedCandidate.candidateCode | formatCandidatecodeParam]">
                    {{taggedCandidate.firstName | lowercasepipe}} {{taggedCandidate.middleName | lowercasepipe}} {{taggedCandidate.lastName  | lowercasepipe}}
                </a>
             </h3>
              <h3 class="title" *ngIf="taggedCandidate.inReview && (taggedCandidate.firstName+taggedCandidate.middleName+taggedCandidate.lastName).length<=22">
                  {{taggedCandidate.firstName | lowercasepipe}} {{taggedCandidate.middleName | lowercasepipe}} {{taggedCandidate.lastName  | lowercasepipe}}
              </h3>
              <h3 class="title text-nowrap-grad-white" *ngIf="taggedCandidate.inReview && (taggedCandidate.firstName+taggedCandidate.middleName+taggedCandidate.lastName).length>22"  matTooltip="{{taggedCandidate.firstName}} {{taggedCandidate.middleName}} {{taggedCandidate.lastName}}">
                {{taggedCandidate.firstName | lowercasepipe}} {{taggedCandidate.middleName | lowercasepipe}} {{taggedCandidate.lastName  | lowercasepipe}}
              </h3>
              <ul class="list-reset listing-inline">
                <li class="text-uppercase" *ngIf="taggedCandidate.candidateCode">{{taggedCandidate.candidateCode}}</li>                
                <li class="last-child" *ngIf="taggedCandidate.location != null && taggedCandidate.location.length <= 45">{{taggedCandidate.location.toLowerCase()}}</li>
                <li class="last-child" matTooltip="{{taggedCandidate.location}}" *ngIf="taggedCandidate.location != null && taggedCandidate.location.length > 45">{{taggedCandidate.location.toLowerCase() | stringTrim:45}}</li>
              </ul>
            </div>
          </div>
          <div class="card-row card-profile-row clearfix">
            <div class="profile-completed">
              <div class="profile-graph">
                <div class="c100 p{{taggedCandidate.profileCompletion}}">
                  <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                  </div>
                </div>
              </div>
              <div class="profile-graph-details">
                <span class="profile-percent">{{taggedCandidate.profileCompletion}}%</span>
                <span class="text-cell">{{'candidate.candidate_overview.profileComplete' | translate}}</span>
              </div>
            </div>
            
            <ng-container *ngIf="(featureDataMap.get('PERCENT_MATCH') == 1 || featureDataMap.get('PERCENT_MATCH') == 2)">
              <div class="profile-match">
                <div class="profile-graph" *ngIf="featureDataMap.get('PERCENT_MATCH') == 1 && ( taggedCandidate.profileMatch != null && taggedCandidate.profileMatch > 0)">
                  <div class="c100 p{{taggedCandidate.profileMatch}} green">
                      <div class="slice">
                          <div class="bar"></div>
                          <div class="fill"></div>
                      </div>
                  </div>
              </div>
              <div class="profile-graph" *ngIf="featureDataMap.get('PERCENT_MATCH') == 2 || (taggedCandidate.profileMatch == null || taggedCandidate.profileMatch == 0 )">
                  <div class="c100 green">
                      <div class="slice">
                          <div class="bar"></div>
                          <div class="fill"></div>
                      </div>
                  </div>
                  <span *ngIf="featureDataMap.get('PERCENT_MATCH') == 1" class="profile-match-refresh material-icons" (click)="updateProfileMatch(taggedCandidate)">refresh</span>
              </div>
              <div class="profile-graph-details">
                  <span *ngIf="featureDataMap.get('PERCENT_MATCH') == 1" class="profile-percent">{{taggedCandidate.profileMatch}}%</span>
                  <span *ngIf="featureDataMap.get('PERCENT_MATCH') == 2" class="profile-percent">%</span>
                  <span class="text-cell">{{'common.label.match' | translate}}</span>
              </div>
              </div>
            </ng-container>
          </div>
          <div class="card-row ver-row clearfix">
            <div class="background-ver text-nowrap-grad-white" *ngIf="!taggedCandidate.inReview">{{taggedCandidate.stageName}} :
              <span class="pending org" matTooltip="{{taggedCandidate.stageStatus}}" *ngIf="taggedCandidate.stageStatus != null && taggedCandidate.stageStatus.length > 25">{{taggedCandidate.stageStatus}}</span>
              <span class="pending org" *ngIf="taggedCandidate.stageStatus != null && taggedCandidate.stageStatus.length < 25">{{taggedCandidate.stageStatus}}</span>
            </div>
            <div class="background-ver" *ngIf="taggedCandidate.inReview">{{'common.label.inReview' | translate}}</div>
            <div class="candidate-stages-bar-outer clearfix">
              <ul class="list-reset candidate-stages-bar" *ngIf="getWorkflowProgressBar(taggedCandidate.workflowID, taggedCandidate)">
                <ng-container *ngFor="let stage of taggedCandidate.stages; let i = index">
                  <li [ngClass]="{'dot': true, 'green': (i < indexOfStage(taggedCandidate.stageName, taggedCandidate.stages)) && !taggedCandidate.inReview, 'org': (taggedCandidate.stageName === stage) && !taggedCandidate.inReview }"
                    matTooltip="{{stage}}"></li>
                  <li class="bar" *ngIf="i != taggedCandidate.stages?.length"></li>
                </ng-container>
              </ul>
            </div>
          </div>
          <div class="card-row source-row clearfix">
            <span class="rounded-block margin-r15">
              <img *ngIf="taggedCandidate.sysSourceType == 'RECRUITER'" src="./assets/images/svg/recruiter.svg" alt="recruiter">
              <img *ngIf="taggedCandidate.sysSourceType == 'VENDOR'" src="./assets/images/svg/vendor.svg" alt="vendor">
              <img *ngIf="taggedCandidate.sysSourceType == 'CANDIDATE'" src="./assets/images/svg/candidate.svg" alt="candidate">
              <img *ngIf="taggedCandidate.sysSourceType == 'DIRECT'" src="./assets/images/svg/walk_in.svg" alt="walk-in">
              <img *ngIf="taggedCandidate.sysSourceType == 'EMPLOYEE REFERRAL'" src="./assets/images/svg/employee_referal.svg" alt="Employee Referal">
              <img *ngIf="taggedCandidate.sysSourceType == 'Confirmation'" src="./assets/images/svg/confirmation.svg" alt="confirmation">
              <img *ngIf="taggedCandidate.sysSourceType == 'IJP REFERRAL'" src="./assets/images/svg/ijp.svg" alt="ijp">
              <img *ngIf="taggedCandidate.sysSourceType == 'SOCIAL MEDIA'" src="./assets/images/svg/social_media.svg" alt="social media">
              <img *ngIf="taggedCandidate.sysSourceType == 'JOB_BOARD' && taggedCandidate.sourceType != null && taggedCandidate.sourceType.toLowerCase() == 'naukri'"
                src="./assets/images/svg/naukri_portal.svg" alt="naukri">
              <img *ngIf="taggedCandidate.sysSourceType == 'JOB_BOARD' && taggedCandidate.sourceType != null && taggedCandidate.sourceType.toLowerCase() == 'monster'" src="./assets/images/svg/monster_job.svg" alt="monster">
              <img *ngIf="taggedCandidate.sysSourceType == 'JOB_BOARD' && taggedCandidate.sourceType != null && taggedCandidate.sourceType.toLowerCase() == 'shine'" src="./assets/images/svg/shine_job.svg" alt="shine">
            </span>
            <div class="description-cell width35">
              <span class="text-cell">{{'common.label.source' | translate}}</span>
              <span class="text-bold-cell text-nowrap-grad-white" matTooltip="{{taggedCandidate.sourceType}}">{{taggedCandidate.sourceType}}</span>
            </div>
            <div class="description-cell width44">
              <span class="text-cell">{{'common.label.scName' | translate}}</span>
              <span class="text-bold-cell text-nowrap-grad-white" *ngIf="taggedCandidate.subSourceUserName!=null" matTooltip="{{taggedCandidate.subSourceUserName}}">{{taggedCandidate.subSourceUserName}}</span>
              <span class="text-bold-cell" *ngIf="taggedCandidate.subSourceUserName==null">{{'common.label.na' | translate}}</span>
            </div>
          </div>
        </div>

        <ng-container>
            <div class="btn-row mrg-lf-20" *ngIf="!taggedCandidate.inReview && (featureDataMap.get('HIRING_PROCESS') == 1)">
            <a [routerLink]="['/candidate/edit-candidate-tagged/', taggedCandidate.candidateCode | formatCandidatecodeParam, 'hiring-process']"
              [queryParams]="{ appid:taggedCandidate.applicantStatusID, jobCode:jobCode, jobTitle:taggedCandidate.jobTitle }" class="btn btn-gray">{{'common.label.takeAction' | translate}}</a>
            </div>
            <div class="btn-row mrg-lf-20" *ngIf="!taggedCandidate.inReview && (featureDataMap.get('HIRING_PROCESS') != 1 && featureDataMap.get('CANDIDATE_OVERVIEW') == 1)">
              <a [routerLink]="['/candidate/edit-candidate-tagged/', taggedCandidate.candidateCode | formatCandidatecodeParam, 'candidate-tagged-overview']"
                [queryParams]="{ appid:taggedCandidate.applicantStatusID, jobCode:jobCode, jobTitle:taggedCandidate.jobTitle }" class="btn btn-gray">{{'common.label.takeAction' | translate}}</a>
              </div>
            <div class="btn-row mrg-lf-20" *ngIf="taggedCandidate.inReview">
              <a [routerLink]="['/candidate/newcandidate', taggedCandidate.candidateCode | formatCandidatecodeParam]" class="btn btn-gray">{{'common.label.takeAction' | translate}}</a>
            </div>
        </ng-container>      

      </div>
    </div>
    <div class="pagination-mobile">
        <div class="section-pagination pagination-bottom clearfix">
        <alt-paginator #PAGINATIONBOT [srcTag]="'PAGINATIONBOT'" (clickToClose)="PAGINATIONBOT.toggleClose()" [rowsPerPageTemplate]="'15,30,45'" [pageState]="pageState" [pageLoading]="pageLoading" (pageChange)="getPageNumber($event)"
          *ngIf="taggedCandidates?.length > 0">{{'common.label.loading' | translate}}...</alt-paginator>
      </div>
    </div>
  </div>
</div>