<alt-candidate-tagged-profile></alt-candidate-tagged-profile>
<alt-candidate-tagged-screening [applicantStatusID]="applicantStatusID"></alt-candidate-tagged-screening>
<div class="mat-tab-section mat-tab-section-PrintView" [class.bpContainer]="isBPenabled">
    <div *ngIf="isBPenabled"  class="main-title-row margin-bot-none title-with-rht">
        <h1 class="main-title">CANDIDATE OVERVIEW</h1>
      </div>  
<mat-tab-group *ngIf="!isBPenabled" class="print-displayNone">
  <mat-tab *ngIf="featureDataMap.get('CANDIDATE_OVERVIEW') != 3">
    <ng-template mat-tab-label>
      <a *ngIf="featureDataMap.get('CANDIDATE_OVERVIEW') == 1" class="first {{currentPath.indexOf('/candidate-tagged-overview')>-1?'mat-tab-active':''}}" [routerLink]="['./candidate-tagged-overview']" [queryParams]="{ appid:applicantStatusID, jobCode:jobCode, jobTitle:jobTitle }">
        <span [innerHtml]="'candidate.candidate_overview.candidateOverview' | translate" > </span>
      </a>
      <a *ngIf="featureDataMap.get('CANDIDATE_OVERVIEW') == 2" class="first disabled">
        <span [innerHtml]="'candidate.candidate_overview.candidateOverview' | translate" > </span>
      </a>
    </ng-template>
  </mat-tab>
  <div >
  <mat-tab *ngIf="featureDataMap.get('HIRING_PROCESS') != 3">
    <ng-template mat-tab-label>
      <a  *ngIf="featureDataMap.get('HIRING_PROCESS') == 1" class="{{currentPath.indexOf('/hiring-process')>-1?'mat-tab-active':''}}" [routerLink]="['hiring-process']" [queryParams]="{ appid:applicantStatusID, jobCode:jobCode, jobTitle:jobTitle }">
        <span [innerHtml]="'candidate.candidate_overview.hiringProcess' | translate" > </span>
      </a>
      <a  *ngIf="featureDataMap.get('HIRING_PROCESS') == 2" class="disabled">
        <span [innerHtml]="'candidate.candidate_overview.hiringProcess' | translate" > </span>
      </a>
    </ng-template>
  </mat-tab>
  </div>
  <div *ngIf = "!isBPenabled">
  <mat-tab *ngIf="featureDataMap.get('WORKFLOW_HISTORY') != 3">
    <ng-template mat-tab-label>
      <a *ngIf="featureDataMap.get('WORKFLOW_HISTORY') == 1" class="{{currentPath.indexOf('/history-chats')>-1?'mat-tab-active':''}}" [routerLink]="['history-chats']" [queryParams]="{ appid:applicantStatusID, jobCode:jobCode, jobTitle:jobTitle }">
        <span [innerHtml]="'candidate.candidate_overview.workflowHistory' | translate" > </span>
      </a>
      <a *ngIf="featureDataMap.get('WORKFLOW_HISTORY') == 2" class="disabled">
        <span [innerHtml]="'candidate.candidate_overview.workflowHistory' | translate" > </span>
      </a>
    </ng-template>
  </mat-tab>
  </div>

  <div *ngIf = "!isBPenabled">
  <mat-tab *ngIf="featureDataMap.get('CANDIDATE_HISTORY') != 3">
    <ng-template mat-tab-label>
      <a *ngIf="featureDataMap.get('CANDIDATE_HISTORY') == 1" class="last {{currentPath.indexOf('/candidate-history')>-1?'mat-tab-active':''}}" [routerLink]="['candidate-history']" [queryParams]="{ appid:applicantStatusID, jobCode:jobCode, jobTitle:jobTitle }">
        <span [innerHtml]="'candidate.candidate_overview.candidateHistory' | translate" > </span>
      </a>
      <a *ngIf="featureDataMap.get('CANDIDATE_HISTORY') == 2" class="last disabled">
        <span [innerHtml]="'candidate.candidate_overview.candidateHistory' | translate" > </span>
      </a>
    </ng-template>
  </mat-tab>
  </div>
</mat-tab-group>
<router-outlet></router-outlet>
</div>