<!-- Tab Social Media start -->
<div *ngIf="featureDataMap.get('AUTOMATCH_SOCIALPROFILE') == 1">
<alt-loader *ngIf="socialMailLoader=='nodata'"></alt-loader>
<div id="tab3" class="tab-details">
    <div class="section-filter">
        <div class="section-filter-inner" *ngIf="getCurrentFilters()">
            <ul class="list-reset clearfix">                                 
                <li class="applied-filters-block">
                     <label *ngIf="clearall" class="filter-cell">APPLIED</label>
                     <div *ngIf="currentRequestJSON" class="applied-outer">
                        <div class="applied-filter-rhs" *ngIf="currentRequestJSON.experience"> EXPERIENCE <span class="applied-text" *ngFor="let exp of currentRequestJSON.experience "> {{convertExp(exp.start,exp.end)}} <span (click)="removeFilter(exp.start+'-'+exp.end,'experience')">[x]</span></span> </div>
                        <div class="applied-filter-rhs" *ngIf="currentRequestJSON.location"> LOCATION <span class="applied-text" *ngFor="let loc of currentRequestJSON.location "> {{loc.name}} <span (click)="removeFilter(loc.name,'location')">[x]</span> </span> </div>
                        <div class="applied-filter-rhs" *ngIf="currentRequestJSON.industry"> INDUSTRY <span class="applied-text" *ngFor="let ind of currentRequestJSON.industry "> {{ind.name}} <span (click)="removeFilter(ind.name,'industry')">[x]</span> </span> </div>
                        <div class="applied-filter-rhs" *ngIf="currentRequestJSON.current_company"> CURRENT COMPANY <span class="applied-text" *ngFor="let cur of currentRequestJSON.current_company "> {{cur.name}} <span (click)="removeFilter(cur.name,'current_company')">[x]</span> </span> </div>
                        <div class="applied-filter-rhs" *ngIf="currentRequestJSON.past_company"> PAST COMPANY <span class="applied-text" *ngFor="let past of currentRequestJSON.past_company "> {{past.name}} <span (click)="removeFilter(past.name,'past_company')">[x]</span> </span> </div>
                        <div class="applied-filter-rhs" *ngIf="currentRequestJSON.other || currentRequestJSON.contact"> OTHER <span class="applied-text" *ngFor="let oth of currentRequestJSON.other"> {{oth.name}} <span (click)="removeFilter(oth.name,'other')">[x]</span> </span>
                          <span class="applied-text" *ngIf="currentRequestJSON.contact"> Has Contact <span (click)="removeFilter('contact','contact')">[x]</span> </span>
                        </div>
                        
                        <div class="applied-filter-rhs" *ngIf="clearall" (click)="clearAll()"> <span class="applied-text gray-color">clear all [x]</span></div>
                      </div>                                                
                 </li>
            </ul> 
         </div>
     </div>
  <div class="jobs-listing clearfix">

    <div class="row pagination-mobile" *ngIf="!socialPageLoading && socialPageState.totalRows != null && socialPageState.totalRows > 0">
      <alt-paginator #PAGINATIONTOP [srcTag]="'PAGINATIONTOP'" (clickToClose)="PAGINATIONTOP.toggleClose()" [rowsPerPageTemplate]="'15,30,45'" [pageState]="socialPageState" [pageLoading]="socialPageLoading" (pageChange)="getSocialPageNumber($event)">Loading...</alt-paginator>
    </div>
    <!--  Section Card-->
    <loader-indicator *ngIf="socialPageLoading"></loader-indicator>
    <div class="section-card clearfix" *ngIf="!socialPageLoading">
      <!-- Card Block -->
      <span class="title-lg padding-tb60" *ngIf="socialProfileCandidates == null || socialProfileCandidates.length == 0">Sorry! There are no candidates matching to this Job</span>
      <div class="card-block card-3" *ngFor="let item of socialProfileCandidates; let i=index;">
        <!-- Card Block -->
        <div class="card-block-inner">
          <div class="card-row card-name-row card-name-ht">
            <div class="image-block">
              <img src="{{getSocialProfilePic(item)}}" *ngIf="isProfilePic(item)" (error)="imageError($event, item)" />
              <span class="initials-text cursor" *ngIf="!isProfilePic(item)" [style.background]="randomcolor[i]" (click)="gotoCandidateDetail(item, i)">{{getSocialCandidateName(item) | initials}}</span>
            </div>
            <div class="title-cell">
              <h3 class="title link-title cursor" *ngIf="getSocialCandidateName(item).length <= 20" (click)="gotoCandidateDetail(item, i)">{{getSocialCandidateName(item) | lowercasepipe}}</h3>
              <h3 class="title link-title cursor" *ngIf="getSocialCandidateName(item).length > 20" matTooltip="{{getSocialCandidateFullName(item)}}" (click)="gotoCandidateDetail(item, i)">{{getSocialCandidateName(item) | lowercasepipe}}</h3>
              <ul class="list-reset listing-block">
                <li class="text-nowrap-block" matTooltip="{{getSocialDesignationTT(item)}}">{{getSocialDesignation(item) | lowercasepipe }}</li>
                <li class="text-nowrap-block" matTooltip="{{getSocialCompanyTT(item)}}">{{getSocialCompany(item) | lowercasepipe}}</li>
                <li class="text-nowrap-block" matTooltip="{{getSocialLocationTT(item)}}">{{getSocialLocation(item) | lowercasepipe}}</li>
              </ul>
            </div>
          </div>
          <div class="card-row card-icons-row  clearfix">
            <div class="profile-completed social-cell">
              <div class="social-block-footer-lg fl-left">
                <ng-container *ngFor="let socialLink of getFirstThreeSocialLinks(item)">
                  <a href="{{socialLink.url}}" target="_blank" class="icon-smd" matTooltip={{socialLink.name}}>
                    <img src="assets/images/svg/social/{{socialLink.icon}}.svg" />
                  </a>
                </ng-container>
                <a href="javascript:void(0)" class="menu-click" (click)="showSocialLinks(item)" *ngIf="getAfterFirstThreeSocialLinks(item).length > 0">
                  <span class="material-icons arrow-drop-down" style="background:#FFF"></span>
                </a>
                <!--  Menu style -->
                <div class="menu-style menu-style-2 menu-social-link {{item.socialLinksClass != null ? item.socialLinksClass:''}}" style="top: 35px;">
                  <span class="material-icons close" (click)="hideSocialLinks(item)">close</span>
                  <ul class="list-reset dropdown-menu">
                    <li *ngFor="let slink of getAfterFirstThreeSocialLinks(item)">
                      <a href="{{slink.url}}" target="_blank">
                        <span class="icon-smd">
                          <img src="assets/images/svg/social/{{slink.icon}}.svg" />
                        </span> {{slink.name}}</a>
                    </li>
                  </ul>
                </div>
                <!-- \\ End Menu style -->
              </div>
            </div>
            <div class="profile-match icons-cell">
              <span *ngIf="getEmail(item) != ''" class="material-icons" style="cursor: default;" matTooltip="{{getEmail(item)}}" (click) = sendEmail(item)>mail</span>
              <span *ngIf="getEmail(item) == ''" class="material-icons disabled" style="cursor: default;">mail</span>
              <span *ngIf="getMobile(item) != ''" class="material-icons" style="cursor: default;" matTooltip="{{getMobile(item)}}">call</span>
              <span *ngIf="getMobile(item) == ''" class="material-icons disabled" style="cursor: default;">call</span>
            </div>
          </div>

          <div class="card-row card-profile-row clearfix" *ngIf="automatchEnabled">
            <div class="profile-completed">
                <div class="profile-graph">
                    <div class="c100 p{{getProfileMatch(item)}} orange">
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>
                </div>
                <div class="profile-graph-details">
                    <span class="profile-percent">{{getProfileMatch(item)}}%</span>
                    <span class="text-cell">Suitable</span>
                </div>
            </div>
            <div class="profile-match">
                <div class="profile-graph">
                    <div class="c100 p{{getProfileMatchAbsoulte(item)}} green">
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>
                </div>
                <div class="profile-graph-details">
                  <span class="profile-percent">{{getProfileMatchAbsoulte(item)}}%</span>
                  <span class="text-cell">Match</span>
              </div>
            </div>
        </div>

        
        <div class="card-row card-profile-row clearfix" *ngIf="!automatchEnabled">
            <div class="profile-completed">
                <div class="profile-graph">
                    <div class="c100 p0 orange">
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>
                </div>
                <div class="profile-graph-details">
                    <span class="profile-percent">%</span>
                    <span class="text-cell">Suitable</span>
                </div>
            </div>
            <div class="profile-match">
                <div class="profile-graph">
                    <div class="c100 p0 green">
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>
                </div>
                <div class="profile-graph-details">
                  <span class="profile-percent">%</span>
                  <span class="text-cell">Match</span>
              </div>
            </div>
        </div>

          <div class="card-row border-bot-none border-top">
            <div class="skill-row skill-overflow clearfix">
              <span class="tag-job" *ngFor="let skill of getSocialSkills(item)">{{skill}}</span>
            </div>
          </div>
        </div>
        <div class="btn-row mrg-lf-20">
          <a href="javascript:void(0);" class="btn btn-gray" (click)="saveAsDraft(item);" *ngIf="((item.saved == null || item.saved == false) && (item.saving != null && item.saving == false)) || item.saving == null" gaevent="SocialProfiles#Save As Draft#click">save as draft</a>
          <span class="material-icons done-icon" *ngIf="item.saved != null && item.saved == true" style="position: relative;float: left;margin-top: 10px;margin-left: 30px;">done</span>
          <a href="javascript:void(0);" [routerLink]="['/candidate/newcandidate', item.candidateCode | formatCandidatecodeParam]" class="btn btn-gray"
            *ngIf="item.saved != null && item.saved == true">{{item.candidateCode}}</a>
          <a href="javascript:void(0);" class="btn btn-gray" *ngIf="item.saving != null && item.saving == true">Saving...</a>

        </div>
        <!-- \\ End Card Block -->
      </div>
    </div>
    <!-- \\ End Section Card-->
    <!--  Section Pagination-->
    <div class="pagination-mobile" *ngIf="!socialPageLoading && socialPageState.totalRows != null && socialPageState.totalRows > 0">
        <div class="section-pagination pagination-bottom clearfix"> 
          <alt-paginator #PAGINATIONBOT [srcTag]="'PAGINATIONBOT'" (clickToClose)="PAGINATIONBOT.toggleClose()" [rowsPerPageTemplate]="'15,30,45'" [pageState]="socialPageState" [pageLoading]="socialPageLoading" (pageChange)="getSocialPageNumber($event)">Loading...</alt-paginator>
    </div>
    </div>
    <!-- \\ End Section Pagination-->

  </div>
  <!-- \\ End Tab Social Media -->
</div>