<div class="popup-custome-ng2">
  <div class="popup-title-ng clearfix" mat-dialog-title>
    <h2 class="title-sub title-mng">{{'postJobBoard.label.postMonster' | translate}}</h2>
    <div class="popup-top border-top border-2 clearfix">
      <div class="popup-title-row">
        <h2 class="title">
          <span class="job-status job-active"></span>{{data?.jobTitle}}
          <span class="job-code">{{data?.requisitionCode}}</span>
        </h2>
        <span class="material-icons close" (click)="dialogRef.close()">close</span>
      </div>
      <div class="popup-top-description">
        <ul class="list-reset listing-inline">
          <li>{{data?.orgUnitCode}}</li>
          <li class="last-item" *ngIf="data?.joiningLocation">{{data?.joiningLocation}}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="notification-bar {{severityClass}} {{showClass}}" *ngIf="message?.length > 0">
    <span class="material-icons successful-icon">check_circle</span>
    <div class="notification-text-outer">
        <span class="notification-text">{{message}}</span>
    </div>
    <span class="material-icons close" (click)="clearMessages()">close</span>
</div>
  <div class="vertical-height" slimScroll mat-dialog-content>
    <div class="popup-inner form-item-popup clearfix">
      <div class="form_outer">
        <div class="row">
          <form [formGroup]="monsterForm">
            <div class="form-group row2 mgn-btm-0">
              <div class="col-md-4">
                <label class="control-label clearfix"> {{'postJobBoard.label.jobRefID' | translate}}*</label>
                <input [attr.disabled]="true" type="text" class="form-control" formControlName="jobRefID" />
              </div>

              <div class="col-md-4">
                <label class="control-label">{{'postJobBoard.label.jobAction' | translate}}*</label>
                <div class="dropdown-11 list-block">
                  <alt-custom-single-select [searchEnable]="true" #JOBACTION [srcTag]="'JOBACTIONTAG'" (clickToClose)="JOBACTION.toggleClose()" [inputList]="jobActionList"
                    [value]="monsterForm.controls.jobAction.value" placeholder="{{'common.label.add' | translate}}" (valueBind)="monsterForm.controls['jobAction'].setValue($event.value)" [isDisabled] ="true">
                  </alt-custom-single-select>
                </div>
              </div>

              <div class="col-md-4">
                <label class="control-label clearfix">{{'postJobBoard.label.jobTitle' | translate}}*</label>
                <input type="text" class="form-control" formControlName="jobTitle" />
              </div>

              <div class="col-md-4">
                <label class="control-label">{{'postJobBoard.label.industry' | translate}}*</label>
                <div class="dropdown-11 list-block">
                  <alt-custom-single-select [searchEnable]="true" #JOBINDUSTRYCODE [srcTag]="'JOBINDUSTRYCODETAG'" (clickToClose)="JOBINDUSTRYCODE.toggleClose()"
                    [inputList]="jobIndustryCodeList" [value]="monsterForm.controls.jobIndustryCode.value" placeholder="{{'common.label.select' | translate}}"
                    (valueBind)="monsterForm.controls['jobIndustryCode'].setValue($event.value); monsterJobIndustryCode=($event.code); getFunctionalAreaList($event.value)"
                    (emitSelected) = "monsterJobIndustryCode=($event.code); getFunctionalAreaList($event.value)">
                  </alt-custom-single-select>
                </div>
              </div>

              <div class="col-md-4">
                <label class="control-label">{{'postJobBoard.label.functionalArea' | translate}}*</label>
                <div class="dropdown-11 list-block">
                  <alt-custom-single-select [searchEnable]="true" #FUNCTIONALAREA [srcTag]="'FUNCTIONALAREATAG'" (clickToClose)="FUNCTIONALAREA.toggleClose()" [inputList]="jobFunctionCodeList"
                    [value]="monsterForm.controls.functionalArea.value" placeholder="{{'common.label.select' | translate}}" (valueBind)="monsterForm.controls['functionalArea'].setValue($event.value); monsterJobFunctionCode=($event.code); getRoleList($event.value);"
                    (emitSelected)="monsterJobFunctionCode=($event.code); getRoleList($event.value)">
                  </alt-custom-single-select>
                </div>
              </div>

              <div class="col-md-4">
                <label class="control-label">{{'postJobBoard.label.role' | translate}}*</label>
                <div class="dropdown-11 list-block">
                  <alt-custom-single-select [searchEnable]="true" #ROLE [srcTag]="'ROLETAG'" (clickToClose)="ROLE.toggleClose()" [inputList]="jobRoleCodeList" [value]="monsterForm.controls.role.value"
                    placeholder="{{'common.label.select' | translate}}" (valueBind)="monsterForm.controls['role'].setValue($event.value); monsterJobRoleCode=($event.code)"
                    (emitSelected)="monsterJobRoleCode=($event.code)">
                  </alt-custom-single-select>
                </div>
              </div>

              <div class="col-md-4">
                <label class="control-label">{{'postJobBoard.label.location' | translate}}*</label>
                <div class="dropdown-11 list-block">
                  <alt-custom-single-select [searchEnable]="true" #LOCATION [srcTag]="'LOCATIONTAG'" (clickToClose)="LOCATION.toggleClose()" [inputList]="locationList"
                    [value]="monsterForm.controls.location.value" placeholder="{{'common.label.select' | translate}}" (valueBind)="monsterForm.controls['location'].setValue($event.value); monsterLocationCode=($event.code)"
                    (emitSelected)="monsterLocationCode=($event.code)">
                  </alt-custom-single-select>
                </div>
              </div>

              <div class="col-md-4">
                <label class="control-label clearfix">{{'postJobBoard.label.minExp' | translate}}*</label>
                <input type="text" class="form-control" formControlName="minimumExperience" />
              </div>

              <div class="col-md-4">
                <label class="control-label clearfix">{{'postJobBoard.label.maxExp' | translate}}*</label>
                <input type="text" class="form-control" formControlName="maximumExperience" />
              </div>

              <div class="col-md-4">
                <label class="control-label">{{'postJobBoard.label.degree' | translate}}*</label>
                <div class="dropdown-11 list-block">
                  <alt-custom-single-select [searchEnable]="true" #DEGREE [srcTag]="'DEGREETAG'" (clickToClose)="DEGREE.toggleClose()" [inputList]="degreeList" [value]="monsterForm.controls.degree.value"
                    placeholder="{{'common.label.select' | translate}}" (valueBind)="monsterForm.controls['degree'].setValue($event.value); monsterDegreeCode=($event.code)"
                    (emitSelected)="monsterDegreeCode=($event.code)">
                  </alt-custom-single-select>
                </div>
              </div>

              <div class="col-md-4">
                <label class="control-label clearfix">{{'postJobBoard.label.salaryCurrency' | translate}}</label>
                <input type="text" disabled class="form-control" formControlName="salaryCurrency" />
              </div>

              <div class="col-md-4">
                <label class="control-label clearfix">{{'postJobBoard.label.minSalary' | translate}}</label>
                <input type="text" class="form-control" formControlName="minimumSalary" />
              </div>

              <div class="col-md-4">
                <label class="control-label clearfix">{{'postJobBoard.label.maxSalary' | translate}}</label>
                <input type="text" class="form-control" formControlName="maximumSalary" />
              </div>

              <div class="col-md-4">
                <label class="control-label clearfix">{{'postJobBoard.label.keySkills' | translate}}<*</label>
                <input type="text" class="form-control" formControlName="keySkills" />
              </div>

              <div class="col-md-4">
                <label class="control-label">{{'postJobBoard.label.jobType' | translate}}</label>
                <div class="dropdown-11 list-block">
                  <alt-custom-single-select [searchEnable]="true" #JOBTYPE [srcTag]="'JOBTYPETAG'" (clickToClose)="JOBTYPE.toggleClose()" [inputList]="jobTypeList"
                    [value]="monsterForm.controls.jobType.value" placeholder="{{'common.label.select' | translate}}" (valueBind)="monsterForm.controls['jobType'].setValue($event.value)">
                  </alt-custom-single-select>
                </div>
              </div>
              <div class="col-md-4">
                <label class="control-label clearfix">{{'postJobBoard.label.jobSummary' | translate}}</label>
                <input type="text" class="form-control" formControlName="jobSummaryText" />
              </div>
              
              <div class="col-md-4">
                <label class="control-label clearfix">{{'common.label.name' | translate}}*
                </label>
                <input type="text" class="form-control" formControlName="name" />
              </div>

              <div class="col-md-4">
                <label class="control-label clearfix">{{'postJobBoard.label.email' | translate}}*
                </label>
                <input type="text" class="form-control" formControlName="email" />
              </div>
              <div class="col-md-4">
                <label class="control-label clearfix">{{'postJobBoard.label.contactNo' | translate}}</label>
                <input type="text" class="form-control" formControlName="contactNo" />
              </div>
              <div class="col-md-12">
                <label class="control-label clearfix">{{'postJobBoard.label.jD' | translate}}*</label>
                <textarea class="form-control noresize textareah100"  formControlName="jobDescription" (mousewheel)="onMousewheel($event)" (DOMMouseScroll)="onDOMMouseScroll($event)"></textarea>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-row text-right" mat-dialog-actions>
    <a href="javascript:void(0)" class="btn btn-white" (click)="dialogRef.close()">{{'common.label.cancel' | translate}}</a>
    <alt-spinner-button (myEvent)="postToMonster();" [spinner]="monster" [spinnerdisabled]="monster" text="{{'common.label.post'| translate}}"></alt-spinner-button>
  </div>