<div class="info_title" (click)="candidateController.toggleSkillSet()">
  <span class="count_Icon">{{ candidateController.getSectionNumber('7') }}</span>{{security?.skillsSectionLabel | formatCapitalize}}
  <span class="clearAllFields" *ngIf="security?.skillsClearAllRendered" (click)="clearAll($event)">{{security?.skillsClearAllLabel}}</span>
</div>

<div class="form_outer" [formGroup]="formGroup">
  <div class="form-group">
    <div class="skill-row clearfix">
      <div class="btn-skill-group" *ngFor="let skill of skillsList; let i = index">
        <span class="tag-job">{{skill.skillName}}
          <span class="material-icons" (click)="removeSkill(i)">clear</span>
        </span>
      </div>
      <mat-form-field class="fl-left skill-input" [floatLabel]="'never'">
        <input type="text" class="form-control input-w80" matInput formControlName="skillInput" [matAutocomplete]="autoSkill" placeholder="Enter"
          (keydown.enter)="$event.preventDefault()">
      </mat-form-field>
      <mat-autocomplete #autoSkill="matAutocomplete">
        <mat-option *ngFor="let skills of skillList"  (onSelectionChange)="addSkill(skills)">
          {{skills}}
        </mat-option>
      </mat-autocomplete>
    </div>
  </div>
  <div class="column-footer row2">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-left required-text-note">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-right" *ngIf="security?.skillsContinueRendered">
      <alt-spinner-button (myEvent)="continue();" gaevent="Skills#Continue#click" [spinner]="candidateController.skillsSectionBlock" [spinnerdisabled]="candidateController.skillsSectionBlock || security?.skillsContinueDisabled || candidateController.skillsSectionBlock"
        [text]="candidateController.isDraft? security?.skillsContinueLabel : 'UPDATE'" [done]="candidateController.skillsSectionDone && !formGroup.touched && formGroup.valid">
      </alt-spinner-button>
    </div>
  </div>
</div>