.flip-top-box {
  perspective: 800px;
  position: relative;
  height:415px;
  transform-style: preserve-3d;
  transition: transform 1s;
}
.flip-side {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden; 
  user-select: none;
  transform-style: preserve-3d;
}
.back {
	display:none;	
}
