<alt-home-cards-loader *ngIf="loaderIndicator == 'loader'"></alt-home-cards-loader>
<ng-container *ngIf="loaderIndicator == 'data'">
  <ng-container *ngFor="let response of totalCards; let i=index;">
    <div class="card-block card-flip card-4 flip-top-box">
      <!-- Flip Card Front -->
      <div class="flip-side card-flip-block" [@flipState]="response.flipFront">
        <div class="card-block-inner clearfix">
          <div class="card-flip-top clearfix">
            <span *ngIf="response.label === 'Job target date today'" class="home-icons home-10"></span>
            <span *ngIf="response.label === 'New job assigned'" class="home-icons home-3"></span>
            <span *ngIf="response.label === 'Prepare Salary Fitment'" class="home-icons home-11"></span>
            <span *ngIf="response.label === 'Shortlist Candidate Rejected'" class="home-icons home-4"></span>
            <span *ngIf="response.label === 'Offer Pending'" class="home-icons home-4"></span>
            <span *ngIf="response.label === 'New Candidate Received'" class="home-icons home-13"></span>
            <span *ngIf="response.label === 'Job Rejected'" class="home-icons home-9"></span>
            <span *ngIf="response.label === 'Job Approval Pending'" class="home-icons home-13"></span>
          </div>
          <div class="card-flip-middle">
            <h2 class="purple-color">{{ 'home.response.' + response.label | translate }}</h2>
            <h2 class="designation-cell">
              <a [routerLink]="['/job/edit-job', response.requisitionCode | formatJobcodeParam,'job-details']" *ngIf="response.jobTitle != null && response.jobTitle.length > 50"
                matTooltip="{{response.jobTitle}}">{{response.jobTitle | stringTrim:50}}</a>
              <a [routerLink]="['/job/edit-job', response.requisitionCode | formatJobcodeParam,'job-details']" *ngIf="response.jobTitle != null && response.jobTitle.length <=50">{{response.jobTitle | stringTrim:50}}</a>
            </h2>
            <ul class="list-reset clearfix listing-inline">
              <li *ngIf="response.requisitionCode">#{{response.requisitionCode}}</li>
              <li *ngIf="response.worksiteHierarchy" class="last-child">{{response.worksiteHierarchy}}</li>
            </ul>
          </div>
          <div class="card-flip-bottom">
            <button (click)="toggleFlip(response)" class="btn btn-white flip-btn">{{ 'home.card.flip' | translate }}</button>
          </div>
        </div>
      </div>
      <!-- \\ End Flip Card Front -->
      <!--  Flip Card Back -->
      <div class="flip-side card-flip-details" [@flipState]="response.flipBack">
        <div class="card-block-inner clearfix">
          <div *ngIf="response.cardType === 'assignedCardType'" class="card-flip-details-inner">
            <div class="card-row card-designation">
              <h2 class="title">
                <span class="job-status {{getJobStatusClass(response.assignedCardTypeResponse?.sysRequisitionStatus)}}"></span>
                <a [routerLink]="['/job/edit-job', response.requisitionCode | formatJobcodeParam,'job-details']" class="link" matTooltip="{{response.assignedCardTypeResponse?.jobTitle.toLowerCase()}}" *ngIf="response.assignedCardTypeResponse?.jobTitle != null && response.assignedCardTypeResponse?.jobTitle.length > 28">{{response.assignedCardTypeResponse?.jobTitle | stringTrim:28}}</a>
                <a [routerLink]="['/job/edit-job', response.requisitionCode | formatJobcodeParam,'job-details']" class="link" *ngIf="response.assignedCardTypeResponse?.jobTitle != null && response.assignedCardTypeResponse?.jobTitle.length <= 28">{{response.assignedCardTypeResponse?.jobTitle}}</a>
                <span class="job-code">{{response.assignedCardTypeResponse?.requisitionCode}}</span>
              </h2>
            </div>
            <div class="card-row">
              <ul class="list-reset clearfix listing-inline">
                <li *ngIf="response.assignedCardTypeResponse?.orgUnitCode" matTooltip="{{response.assignedCardTypeResponse?.orgUnitCode.toLowerCase()}}">{{response.assignedCardTypeResponse?.orgUnitCode.toLowerCase() | stringTrim:35}}</li>
                <li *ngIf="response.assignedCardTypeResponse?.joiningLocation" matTooltip="{{response.assignedCardTypeResponse?.joiningLocation.toLowerCase()}}">{{response.assignedCardTypeResponse?.joiningLocation.toLowerCase() | stringTrim:15}}</li>
                <li class="last-child position-rel">{{'common.label.createdOn'| translate}}
                  <span class="link menu-click">{{response.assignedCardTypeResponse?.createdDate | date:'dd/MM/yyyy'}} </span>
              </ul>
            </div>
            <div class="hiring-team-list clearfix">
              <!--<div class="image-block"><img src="./assets/images/svg/profile_male.svg" alt="profile img" /></div>-->
              <div class="image-block" *ngIf="response.profileImage !=null">
                <img src="{{response.profileImage}}" alt="profile img" />
              </div>
              <div class="image-block" *ngIf=" response.profileImage ==null" [style.background]="randomcolor[i]">
                <span class="image-block-inner">{{(response.assignedCardTypeResponse?.hiringManager!=null && response.assignedCardTypeResponse?.hiringManager!=''?
                  response.assignedCardTypeResponse?.hiringManager?.charAt(0): '')+(response.assignedCardTypeResponse?.hiringManager?.split('
                  ')[1]?.length>0? response.assignedCardTypeResponse?.hiringManager?.split(' ')[1].charAt(0): '') | uppercase}}</span>
              </div>
              <div class="description-cell">
                <span class="text-cell">hiring manager</span>
                <span class="text-bold-cell text-uppercase">
                  {{response.assignedCardTypeResponse?.hiringManager}}
                </span>
              </div>
            </div>
            <div *ngIf="response.assignedCardTypeResponse?.sysRequisitionStatus != 'REJECTED'" class="table-data">
              <ul class="list-reset table-data-ul">
                <li>
                  <div class="card-cell-left">
                    <span class="text-cell">{{'common.label.team' | translate}}</span>
                    <span class="text-bold-cell">{{response.assignedCardTypeResponse?.teamCount}}</span>
                  </div>
                </li>
                <li class="last-child">
                  <div class="card-cell-left">
                    <span class="text-cell">{{'common.label.publishedTo' | translate}}</span>
                    <span class="text-bold-cell">{{response.assignedCardTypeResponse?.publishedToCount}}</span>
                  </div>
                </li>
              </ul>
            </div>

            <div *ngIf="response.assignedCardTypeResponse?.sysRequisitionStatus != 'REJECTED' && response.assignedCardTypeResponse?.sysRequisitionStatus != 'APPROVALPENDING'" [ngClass]="{'job-health-poor' : response.assignedCardTypeResponse?.jobHealth <=33, 'job-health-average' : response.assignedCardTypeResponse?.jobHealth >33 &&  response.assignedCardTypeResponse?.jobHealth <= 66, 'job-health-good' : response.assignedCardTypeResponse?.jobHealth > 66 }"
              class="clearfix color-block">
              <div class="card-cell-left">
                <ul class="job-summary list-reset">
                  <li>{{response.assignedCardTypeResponse?.remainingDays | formatDigitsLength:3}} {{'common.label.days' | translate}}</li>
                  <li class="divider">/</li>
                  <li>{{response.assignedCardTypeResponse?.remainingOpenings | formatDigitsLength:3}} {{'common.label.OPENINGS'
                    | translate}}</li>
                </ul>
              </div>
              <div class="fl-right" *ngIf="response.assignedCardTypeResponse?.jobHealth > 66">
                <span class="thumb-text">{{'common.label.GOOD' | translate}}</span>
                <span class="material-icons">thumb_up</span>
              </div>
              <div class="fl-right" *ngIf="response.assignedCardTypeResponse?.jobHealth > 33 && response.assignedCardTypeResponse?.jobHealth <=66 ">
                <span class="thumb-text">{{'common.label.AVERAGE' | translate}}</span>
                <span class="thumb-icon thumb-hold"></span>
              </div>
              <div class="fl-right" *ngIf="response.assignedCardTypeResponse?.jobHealth <= 33">
                <span class="thumb-text">{{'common.label.POOR' | translate}}</span>
                <span class="material-icons">thumb_down</span>
              </div>
            </div>
            <div *ngIf="response.assignedCardTypeResponse?.sysRequisitionStatus == 'REJECTED'" class="color-block job-rejected clearfix">
              {{response.label | translate}}
            </div>
            <div *ngIf="response.assignedCardTypeResponse?.sysRequisitionStatus == 'APPROVALPENDING'" class="color-block job-approved-pending clearfix">
                {{'home.response.Job Approval Pending' | translate}}
              </div>
            <div class="table-data table-padding border-bot" *ngIf="response.assignedCardTypeResponse?.sysRequisitionStatus != 'REJECTED'">
              <ul class="list-reset text-center table-data-ul">
                <li>
                  <span class="text-bold-cell">{{response.assignedCardTypeResponse?.noOfOpening}}</span>
                  <span class="text-cell">{{'common.label.OPENINGS' | translate}}</span>
                </li>
                <li>
                  <span class="text-bold-cell">{{response.assignedCardTypeResponse?.inReviewCount}}</span>
                  <span class="text-cell">{{'common.label.inProcess' | translate}}</span>
                </li>
                <li>
                  <span class="text-bold-cell">{{response.assignedCardTypeResponse?.offeredCount}}</span>
                  <span class="text-cell">{{'common.label.offered' | translate}}</span>
                </li>
                <li class="last-child">
                  <span class="text-bold-cell">{{response.assignedCardTypeResponse?.acceptedCount}}</span>
                  <span class="text-cell">{{'common.label.joined' | translate}}</span>
                </li>
              </ul>
            </div>
            <div class="card-row rejected-description border-bot-none" *ngIf="response.assignedCardTypeResponse?.sysRequisitionStatus == 'REJECTED'">
                <span class="text-cell">Rejected by:</span>
                <h3 class="title-sub-12">{{response.assignedCardTypeResponse.actorUserName}}</h3>
                <div class="scroll70">
                  <div class="maxscroll60">{{response.assignedCardTypeResponse.comments}}</div>
                </div>
                <!-- <a href="#" class="link fl-right" >View History</a> -->
            </div>
            <div class="card-flip-bottom">
              <button (click)="toggleFlip(response)" class="btn btn-white fl-left unflip-btn">{{ 'common.label.back' | translate }}</button>
              <a *ngIf="response.assignedCardTypeResponse?.sysRequisitionStatus != 'REJECTED' && response.assignedCardTypeResponse?.sysRequisitionStatus != 'APPROVALPENDING'" [routerLink]="['/job/edit-job', response.requisitionCode | formatJobcodeParam,'job-details']"
                class="btn btn-blcak fl-right">SOURCE</a>
                <a *ngIf="response.assignedCardTypeResponse?.sysRequisitionStatus == 'APPROVALPENDING'" [routerLink]="['/job/edit-job-jobApproval', response.requisitionCode | formatJobcodeParam,'job-details']"
                [queryParams]="{ssid : response.assignedCardTypeResponse?.stageID,sss : response.assignedCardTypeResponse?.sysStageStatus}"
                class="btn btn-blcak fl-right">{{ 'common.label.takeAction' | translate }}</a>
              <a *ngIf="response.assignedCardTypeResponse?.sysRequisitionStatus == 'REJECTED'" [routerLink]="['/job/editjob/',response?.requisitionId]"
                [queryParams]="{ssid : response.assignedCardTypeResponse?.stageID,sss : response.assignedCardTypeResponse?.sysStageStatus}"
                class="btn btn-blcak fl-right">{{ 'job.new_job.editJob' | translate }}</a>
            </div>
          </div>

          <div *ngIf="response.cardType === 'stageStatusCardType'" class="card-flip-details-inner">
            <div class="card-flip-listing">
              <ul class="list-reset height-300" slimScroll>
                <ng-container *ngFor="let res of response.stageStatusCardTypeResponse">
                  <li class="clearfix">
                    <div class="description-cell">
                      <a [routerLink]="['/candidate/edit-candidate-tagged/', res.candidateCode | formatCandidatecodeParam, 'hiring-process']" [queryParams]="{ appid:res.applicantStatusID, jobCode:res.requisitionCode, jobTitle:res.jobTitle }">
                        <span class="text-bold-cell link-title">{{res.candidateName}}</span>
                      </a>
                      <span class="text-cell text-uppercase">{{res.candidateCode}}</span>
                    </div>
                  </li>
                </ng-container>
              </ul>
            </div>
            <div class="card-flip-bottom">
              <!--<div class="gradient-top-bot"></div>-->
              <div class="flip-btn-row">
                <button (click)="toggleFlip(response)" class="btn btn-white fl-left unflip-btn">{{ 'common.label.back' | translate }}</button>
                <!--<a [routerLink]="['/job/edit-job', response.requisitionCode | formatJobcodeParam,'tagged-candidates']" class="btn btn-blcak fl-right">proceed</a>-->
              </div>
            </div>
          </div>

          <div *ngIf="response.cardType === 'newCandidateCard'" class="card-flip-details-inner">
            <div class="card-flip-listing">
              <ul class="list-reset height-300" slimScroll>
                <ng-container *ngFor="let res of response.newCandidateCardTypeResponse">
                  <li class="clearfix">
                    <div class="description-cell">
                      <a *ngIf="res.inReview" [routerLink]="['/candidate/newcandidate', res.candidateCode | formatCandidatecodeParam]">
                        <span class="text-bold-cell link-title linke-not-hover">{{res.candidateName.toLowerCase()}}</span>
                      </a>
                      <a *ngIf="!res.inReview" [routerLink]="['/candidate/edit-candidate-tagged', res.candidateCode | formatCandidatecodeParam,'hiring-process']"
                        [queryParams]="{ appid:res.applicantStatusID, jobCode:res.requisitionCode, jobTitle:res.jobTitle }">
                        <span class="text-bold-cell link-title linke-not-hover">{{res.candidateName.toLowerCase()}}</span>
                      </a>
                      <span class="text-cell text-uppercase">{{res.candidateCode}}</span>
                      <span class="text-cell text-uppercase">{{'common.label.source' | translate}}: {{res.sourceType}}</span>
                    </div>
                  </li>
                </ng-container>
              </ul>
            </div>
            <div class="card-flip-bottom">
              <!--<div class="gradient-top-bot"></div>-->
              <div class="flip-btn-row">
                <button (click)="toggleFlip(response)" class="btn btn-white fl-left unflip-btn">{{ 'common.label.back' | translate }}</button>
                <button (click)="routePage(response.newCandidateCardTypeResponse[0].requisitionCode)" class="btn btn-blcak fl-right unflip-btn">{{ 'common.label.viewAll' | translate }}</button>
                <!--<a [routerLink]="['/job/edit-job', response.requisitionCode | formatJobcodeParam,'tagged-candidates']" class="btn btn-blcak fl-right">proceed</a>-->
              </div>
            </div>
          </div>          
        </div>

      </div>


    </div>
    <!-- \\ End Flip Card Back -->
    <!--End Target Date Cards-->
  </ng-container>
</ng-container>