<div class="select-dropdown" [class.open]="(divClass=='open')" [class.dropupside]="reverseClassVisibility" #dropdownCont>
    <a class="dropdown-button disabled-dropdown" *ngIf="isDisabled">
        <span class="text-dropdown text-nowrap-grad">{{buttonLabel}}</span>
        <span class="mdi mdi-chevron-down md24"></span>
    </a>
    <a href="javascript:void(0)" class="dropdown-button tooltip-section" #dropdownbtn (click)="toggle();splitDropdown();adjustToolTip()" *ngIf="!isDisabled">
        <span class="text-dropdown text-nowrap-grad">{{buttonLabel}}</span>
        <span class="mdi mdi-chevron-down md24"></span>
        <span *ngIf="this.dropdownContWidth < ((buttonLabel.length+1)*8)" class="tooltip-container">{{buttonLabel}}</span>
    </a>
    <ng-container [class.displayNone]="!hiddenToggle" [class.displayBlock]="hiddenToggle" #dropdownposition>
        <div *ngIf="hiddenToggle" style="position: relative;">
            <div class="dropdown-1 dropdown-style">
                <ng-container *ngIf="searchEnable">
                    <div class="input-group search-block">
                        <input type="text" class="form-control" [formControl]="searchString" placeholder="{{ ('common.label.search' | translate)+'...'}}" />
                        <span class="input-group-btn">
                            <button class="btn material-icons dp20 search-icon" type="submit"></button>
                        </span>
                    </div>
                </ng-container>
                <ul class="list-reset vertical-scrollbox" (mousewheel)="onMousewheel($event)" (DOMMouseScroll)="onDOMMouseScroll($event)" slimScroll>
                    <ng-container *ngIf="searchEnable">
                        <ng-container *ngFor="let item of filteredList | slice:0:maxResults">
                            <li *ngIf="labelKey == null" class="tooltip-section" [class.active]="(item.isSelected != null && item.isSelected)" >
                                <a (click)="selectListener(item)">
                                    <span class="text-nowrap-grad">{{item.label}}</span>
                                    <span class="tooltip-container" *ngIf="this.dropdownContWidth < (item.label!=null)?((item.label.length+1)*6):999">{{item.label}}</span>
                                </a>
                            </li>
                            <li *ngIf="labelKey == 'sourceID'" class="tooltip-section" [class.active]="(item.isSelected != null && item.isSelected)">
                                <a (click)="selectListener(item)" >
                                    <span class="text-nowrap-grad">{{item.sourceName!=null?item.sourceName:''}}{{ (item.sourceName.indexOf(" - ") == -1) ? (item.sourceCode!=null? (' - ' + item.sourceCode):'') : ''}}</span>
                                    <span class="tooltip-container" *ngIf="this.dropdownContWidth < (item.sourceName!=null && item.sourceCode!=null)?((item.sourceName.length + 4 + item.sourceCode.length)*6):999">{{item.sourceName!=null?item.sourceName:''}}{{ (item.sourceName.indexOf(" - ") == -1) ? (item.sourceCode!=null? (' - ' + item.sourceCode):'') : ''}}</span>
                                </a>
                            </li>
                            <li *ngIf="labelKey == 'requisitionCode'" class="tooltip-section" [class.active]="(item.isSelected != null && item.isSelected)">
                                <a (click)="selectListener(item)">
                                    <span class="text-nowrap-grad">{{item.requisitionCode}}</span>
                                    <span class="tooltip-container" *ngIf="this.dropdownContWidth < (item.requisitionCode!=null)?((item.requisitionCode.length+1)*6):999">{{item.requisitionCode}}</span>
                                </a>
                            </li>
                            <li *ngIf="labelKey == 'name'" class="tooltip-section" [class.active]="(item.isSelected != null && item.isSelected)">
                                <a (click)="selectListener(item)">
                                    <span class="text-nowrap-grad">{{item.name}}</span>
                                    <span class="tooltip-container" *ngIf="this.dropdownContWidth < (item.name!=null)?((item.name.length+1)*6):999">{{item.name}}</span>
                                </a>
                            </li>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="!searchEnable">
                        <ng-container *ngFor="let item of filteredList">
                            <li  *ngIf="labelKey == null" class="tooltip-section" [class.active]="(item.isSelected != null && item.isSelected)">
                                <a (click)="selectListener(item)">
                                    <span class="text-nowrap-grad">{{item.label}}</span>
                                    <span class="tooltip-container" *ngIf="this.dropdownContWidth < (item.label!=null)?((item.label.length+1)*6):999">{{item.label}}</span>
                                </a>
                            </li>
                            <li *ngIf="labelKey == 'sourceID'" class="tooltip-section" [class.active]="(item.isSelected != null && item.isSelected)">
                                <a (click)="selectListener(item)">
                                    <span class="text-nowrap-grad">{{item.sourceName!=null?item.sourceName:''}}{{ (item.sourceName.indexOf(" - ") == -1) ? (item.sourceCode!=null? (' - ' + item.sourceCode):'') : ''}}</span>
                                    <span class="tooltip-container" *ngIf="this.dropdownContWidth < (item.sourceName!=null && item.sourceCode!=null)?((item.sourceName.length + 4 + item.sourceCode.length)*6):999">{{item.sourceName!=null?item.sourceName:''}}{{ (item.sourceName.indexOf(" - ") == -1) ? (item.sourceCode!=null? (' - ' + item.sourceCode):'') : ''}}</span>
                                </a>
                            </li>
                            <li *ngIf="labelKey == 'requisitionCode'" class="tooltip-section" [class.active]="(item.isSelected != null && item.isSelected)">
                                <a (click)="selectListener(item)">
                                    <span class="text-nowrap-grad">{{item.requisitionCode}}</span>
                                    <span class="tooltip-container" *ngIf="this.dropdownContWidth < (item.requisitionCode!=null)?((item.requisitionCode.length+1)*6):999">{{item.requisitionCode}}</span>
                                </a>
                            </li>
                            <li *ngIf="labelKey == 'name'" class="tooltip-section" [class.active]="(item.isSelected != null && item.isSelected)">
                                <a (click)="selectListener(item)">
                                    <span class="text-nowrap-grad">{{item.name}}</span>
                                    <span class="tooltip-container" *ngIf="this.dropdownContWidth < (item.name!=null)?((item.name.length+1)*6):999">{{item.name}}</span>
                                </a>
                            </li>
                        </ng-container>
                    </ng-container>
                </ul>
            </div>
        </div>
    </ng-container>

</div>