.select-dropdown .dropdown-button{
	width: 100%;
	border: 1px solid #f5f5f5;
	background-color: #f5f5f5;
	overflow: hidden;
	position: relative;
	text-transform: capitalize;
	padding-bottom: 11px;
	line-height: 16px;
	float: none;
	display: block;
}
.dropdown-1 .search-block .form-control{
	margin-bottom: 0px;
}
.select-dropdown .dropdown-button .mdi {
	background-color: #f5f5f5;
	position: absolute;
	right:5px;
	top: 11px;
}
.select-dropdown .dropdown-style{
	display: block;
}
.select-dropdown .dropdown-button .text-dropdown,
.select-dropdown .text-nowrap-grad{
	width: 100%;
	display: block;
}
.select-dropdown .dropdown-button .text-nowrap-grad:before{
	right: 20px;
}
.select-dropdown .text-nowrap-grad:before{
	width: 30px;
}
.module-true-2{
	opacity:.6;
	position:fixed;
	width:100%;
	height:100%;
	z-index:108;
	display:none;
	left:0px;
	top:0px;
}