<alt-candidate-profile *ngIf="!fromCompanyDataPage">
</alt-candidate-profile>

<div class="candidate-detail-card" *ngIf="fromCompanyDataPage">
  <div class="card-block">
    <div class="card-block-inner">
      <div class="candidate-detail-top auto-matched-candidate-top clearfix">
        <h2 class="title">
          <span class="job-status {{getJobStatusClass(jobSummaryData?.jobStatus)}}"></span>
         <a class="link" [routerLink]="['/job/auto-match-candidates', jobSummaryData?.jobCode | formatJobcodeParam, 'company']" class="link">
            <span *ngIf="jobSummaryData?.jobName.length > 40" matTooltip="{{jobSummaryData?.jobName | lowercasepipe}}">{{jobSummaryData?.jobName.toLowerCase() | stringTrim:40}}</span>
            <span *ngIf="jobSummaryData?.jobName.length <= 40">{{jobSummaryData?.jobName | lowercasepipe}}</span> 
        </a>
        </h2>
        <ul class="list-reset listing-inline listing-bor-last">
          <li class="{{!getlengthZero()?'character-count-45':''}}" *ngIf="getlengthLessThanLi1()" matTooltip="{{jobSummaryData?.summaryOrgUnit | lowercasepipe}}">{{jobSummaryData?.summaryOrgUnit | lowercasepipe}}</li>
          <li *ngIf="getlengthGreatThanLi1()">{{jobSummaryData?.summaryOrgUnit | lowercasepipe}}</li>
          <li class="character-count-45" *ngIf="getlengthLessThanLi2()" matTooltip="{{jobSummaryData?.summaryWorkSite | lowercasepipe}}">{{jobSummaryData?.summaryWorkSite | lowercasepipe}}</li>
          <li *ngIf="!getlengthZero() && getlengthGreatThanLi2()">{{jobSummaryData?.summaryWorkSite | lowercasepipe}}</li>
        </ul>
      </div>
      <div class="skill-row-top clearfix" *ngIf="jobSkills != null && jobSkills.length > 0">
        <span *ngFor="let skill of jobSkills" class="tag-job">{{skill.text}}</span>
      </div>
      <div class="skill-row-top clearfix" *ngIf="jobSkills == null || jobSkills.length == 0">
        {{'common.label.noDataAvailable' | translate}}
      </div>
    </div>
  </div>
</div>
<div class="main-title-row margin-bot-none title-with-rht">
  <h1 class="main-title">{{'candidate.candidate_overview.title' | translate }}</h1>
  <div class="main-title-right" *ngIf="fromCompanyDataPage">
    <alt-spinner-button (myEvent)="tagToThisJob($event)" [spinner]="tagging" [done]="tagged" [spinnerdisabled]="tagging" [text]="tagged ? 'Tagged' : (tagging ? 'Tagging' :'Tag to this job')"></alt-spinner-button>
  </div>
</div>
<alt-candidate-profile *ngIf="fromCompanyDataPage">
</alt-candidate-profile>
<router-outlet></router-outlet>