<button href="javascript:void(0)" class="btn btn-primary" (click)="onClick($event)" [disabled]="spinnerdisabled">
    <span class="material-icons done-icon" *ngIf="done">done</span>
    <mat-progress-spinner mode="indeterminate" *ngIf="spinner"></mat-progress-spinner>{{text}}
</button>