<table class="md2-calendar-table">
  <thead class="md2-calendar-table-header"></thead>
  <tbody [@slideCalendar]="_calendarState"
         (@slideCalendar.done)="_calendarStateDone()"
         md2-calendar-body
         role="grid"
         allowDisabledSelection="true"
         [rows]="years"
         [todayValue]="_todayYear"
         [selectedValue]="_selectedYear"
         [labelMinRequiredCells]="2"
        [type]="'all_years'"
        [numCols]="4"
        [activeCell]="_util.getYear(activeDate)"
         (selectedValueChange)="_yearSelected($event)"></tbody>
</table>
