 
    <div class="section-panel">
        <div class="section-panel-row">
            <alt-basic-information class="panel panel-open" [security]="security" *ngIf="security?.basicSectionRendered" (requisitionID)="requisitionID=$event"></alt-basic-information>
            <alt-organization-detail class="panel panel-open" [security]="security" *ngIf="security?.organisationalSectionRendered"></alt-organization-detail>
        </div>
    </div>
    <alt-required-skill-set class="panel-full" [security]="security" *ngIf="security?.skillSectionRendered"></alt-required-skill-set>
    <alt-job-description [security]="security" *ngIf="security?.jobdescriptionSectionRendered"></alt-job-description>
    <alt-workflow-and-notifications [security]="security" *ngIf="security?.workflowSectionRendered"></alt-workflow-and-notifications>
    <alt-ctq [security]="security" *ngIf="security?.ctqSectionRendered"></alt-ctq>
    <div class="form-group form-textarea" *ngIf="commentVisible">
        <textarea class="form-control noresize" [value]="comments" (change)="comments = $event.target.value" placeholder="{{ 'common.warning.enterComments' | translate }}"></textarea>
    </div> 
    <div class="row-btn clearfix margin-b10  pull-right">   
            <button type="button" *ngIf="actionList != undefined && actionList != null" (click)="goBackToHome()" class="btn btn-white">{{'common.label.goBack' | translate}}</button> 
    <span  *ngFor="let action of actionList ">
        <alt-spinner-button *ngIf="action.stageActionVisible == true" 
        (myEvent)="goToDefaultAction(action.uiAction);" [spinner]="jobApprovalButtonBlock" [spinnerdisabled]="jobApprovalButtonBlock"
        [text]="action.stageAction"></alt-spinner-button>
    </span>    
    </div>
    <!--<alt-actions>
    </alt-actions>
    <alt-comment>
    </alt-comment>-->
 