<div class="popup-custome-ng2">
  <div class="popup-title-ng clearfix" mat-dialog-title>
    <h2 class="title-sub title-mng">{{'postJobBoard.label.postIIM' | translate}}</h2>
    <div class="popup-top border-top border-2 clearfix">
      <div class="popup-title-row">
        <h2 class="title">
          <span class="job-status job-active"></span>{{data?.jobTitle}}
          <span class="job-code">{{data?.requisitionCode}}</span>
        </h2>
        <span class="material-icons close" (click)="dialogRef.close()">close</span>
      </div>
      <div class="popup-top-description">
        <ul class="list-reset listing-inline">
          <li>{{data?.orgUnitCode}}</li>
          <li class="last-item" *ngIf="data?.joiningLocation">{{data?.joiningLocation}}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="notification-bar {{severityClass}} {{showClass}}" *ngIf="message?.length > 0">
    <span class="material-icons successful-icon">check_circle</span>
    <div class="notification-text-outer">
      <span class="notification-text">{{message}}</span>
    </div>
    <span class="material-icons close" (click)="clearMessages()">close</span>
  </div>
  <div class="vertical-height" slimScroll mat-dialog-content>
    <div class="popup-inner form-item-popup clearfix">
      <div class="form_outer">
        <div class="row">
          <form [formGroup]="iimJobsForm">
            <div class="form-group row2 mgn-btm-0">
              <div class="col-md-4">
                <label class="control-label clearfix">  {{'postJobBoard.label.jobRefID' | translate}}*</label>
                <input [attr.disabled]="true" type="text" class="form-control" formControlName="jobRefID" />
              </div>

              <div class="col-md-4">
                <label class="control-label">{{'postJobBoard.label.jobAction' | translate}}*</label>
                <div class="dropdown-11 list-block">
                  <alt-custom-single-select [searchEnable]="true" #JOBACTION [srcTag]="'JOBACTIONTAG'" (clickToClose)="JOBACTION.toggleClose()"
                    [inputList]="jobActionList" [value]="iimJobsForm.controls.jobAction.value" placeholder="{{'common.label.add' | translate}}" (valueBind)="iimJobsForm.controls['jobAction'].setValue($event.value)"
                    [isDisabled]="true">
                  </alt-custom-single-select>
                </div>
              </div>  

              <label class="control-label clearfix">{{'postJobBoard.label.jobTitle' | translate}}*</label>
              <div class="col-md-4">
                <input type="text" class="form-control" formControlName="jobTitle" />
              </div>

              <div class="col-md-4">
                <label class="control-label clearfix">{{'postJobBoard.label.jobIndustry' | translate}}*</label>
                <input type="text" class="form-control" formControlName="jobIndustry" />
              </div>

              <div class="col-md-4">
                <label class="control-label clearfix">{{'postJobBoard.label.jobType' | translate}}</label>
                <input type="text" class="form-control" formControlName="jobType" />
              </div>
              
              <div class="col-md-4">
                <label class="control-label clearfix">{{'postJobBoard.label.jobCategory' | translate}}</label>
                <input type="text" class="form-control" formControlName="jobCategory" />
              </div>

              <div class="col-md-4">
                <label class="control-label clearfix">{{'postJobBoard.label.functionalArea' | translate}}*</label>
                <input type="text" class="form-control" formControlName="jobFunctionalArea" />
              </div>

              <div class="col-md-4">
                <label class="control-label clearfix">{{'postJobBoard.label.keySkills' | translate}}</label>
                <input type="text" class="form-control" formControlName="jobSkills" />
              </div>

              <div class="col-md-4">
                <label class="control-label clearfix">{{'postJobBoard.label.minExp'| translate}}*</label>
                <input type="text" class="form-control" formControlName="minExperience" />
              </div>

              <div class="col-md-4">
                <label class="control-label clearfix">{{'postJobBoard.label.maxExp' | translate}}*</label>
                <input type="text" class="form-control" formControlName="maxExperience" />
              </div>

              <div class="col-md-4">
                <label class="control-label clearfix">{{'postJobBoard.label.daysToAdvertise' | translate}}</label>
                <input type="text" class="form-control" formControlName="daysToAdvertise" />
              </div>

              <div class="col-md-4">
                <label class="control-label">{{'postJobBoard.label.salaryCurrency' | translate}}</label>
                <div class="dropdown-11 list-block">
                  <alt-custom-single-select [searchEnable]="true" #SALARYCURRENCY [srcTag]="'SALARYCURRENCYTAG'" (clickToClose)="SALARYCURRENCY.toggleClose()"
                    [inputList]="salaryCurrencyList" [value]="iimJobsForm.controls.salaryCurrency.value" placeholder="{{'common.label.select' | translate}}" (valueBind)="iimJobsForm.controls['salaryCurrency'].setValue($event.value)">
                  </alt-custom-single-select>
                </div>
              </div>  


              <div class="col-md-4">
                <label class="control-label clearfix">{{'postJobBoard.label.minSalary' | translate}}*</label>
                <input type="text" class="form-control" formControlName="minimumSalary" />
              </div>

              <div class="col-md-4">
                <label class="control-label clearfix">{{'postJobBoard.label.maxSalary' | translate}}*</label>
                <input type="text" class="form-control" formControlName="maximumSalary" />
              </div>
              
              <div class="col-md-4">
                <label class="control-label clearfix">{{'postJobBoard.label.contactName' | translate}}</label>
                <input type="text" class="form-control" formControlName="name" />
              </div>

              <div class="col-md-12">
                <label class="control-label clearfix">{{'postJobBoard.label.jD' | translate}}*</label>
                <textarea class="form-control noresize textareah100" formControlName="jobDescription" (mousewheel)="onMousewheel($event)" (DOMMouseScroll)="onDOMMouseScroll($event)"></textarea>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-row text-right" mat-dialog-actions>
    <a href="javascript:void(0)" class="btn btn-white" (click)="dialogRef.close()">{{'common.label.cancel' | translate}}</a>
    <alt-spinner-button (myEvent)="postToIIMJobs();" [spinner]="iimJobs" [spinnerdisabled]="iimJobs" text="{{'common.label.post' | translate}}"></alt-spinner-button>
  </div>