<div class="popup-custome-ng2 position-rel">
  <div class="border-bot clearfix" mat-dialog-title>
    <h3 class="title-sub title-mng">{{'common.label.update' | translate}} {{selectedList[0].stageName}} {{selectedList[0].stageStatus}}</h3>
    <span class="material-icons close" (click)="dialogRef.close()">close</span>
  </div>
  <div class="notification-bar {{message.severity}} {{showClass}}" *ngIf="message!=null && message.message.length>0">
    <span class="material-icons successful-icon">check_circle</span>
    <div class="notification-text-outer">
      <span class="notification-text">{{message.message}}</span>
    </div>
    <span class="material-icons close" (click)="clearMessages()">close</span>
  </div>
  <div class="vertical-height {{(selectedStatus=='SCHEDULED' || selectedStatus=='RE-SCHEDULED')? 'scheduled-height450' :'scheduled-height200'}}" slimScroll mat-dialog-content>
    <div class="panel candidate-list-toggle {{toggleCandidate?'panel-open':'panel-close'}}">
      <div class="panel-heading clearfix cursor" (click)="clickCandidate()">
        <h2 class="panel-title fl-left text-capitalize">{{'candidate.list.candidateList' | translate}}</h2>
        <span class="mdi mdi-chevron-down fl-right"></span>
      </div>
      <div class="toggle-content-section" *ngIf="toggleCandidate">
        <div class="panel-body">
          <div class="popup-top clearfix" *ngFor="let item of selectedList">
            <div class="popup-title-row">
              <h2 class="title"> {{item.firstName}} {{item.middleName}} {{item.lastName}}
                <span class="job-code">{{item.requisitionCode}}</span>
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div [ngSwitch]="true">
      <!--default case-->
      <alt-bulk-update-status-screening #SCREENING *ngSwitchCase="selectedList[0].sysWorkflowStageType === 'SCREENING' || selectedList[0].sysWorkflowStageType === 'SHORTLISTING'"
        (output)="updateStatus($event)" [inputData]="selectedList" (initSecurity)="initFormSecurityByStatusID($event)" [statusLists]="statusList"
        [security]="security" [spinner]="spinner" [stageName]="selectedList[0].stageName" (message)="message=$event;">
      </alt-bulk-update-status-screening>
      <alt-bulk-update-status-interview #INTERVIEW *ngSwitchCase="selectedList[0].sysWorkflowStageType === 'INTERVIEW_1' || selectedList[0].sysWorkflowStageType === 'INTERVIEW_2' || selectedList[0].sysWorkflowStageType === 'INTERVIEW_3' || selectedList[0].sysWorkflowStageType === 'INTERVIEW_4' || selectedList[0].sysWorkflowStageType === 'INTERVIEW_5' || selectedList[0].sysWorkflowStageType === 'HR_INTERVIEW'"
        (output)="updateStatus($event)" [inputData]="selectedList" [security]="security" (initSecurity)="initFormSecurityByStatusID($event)"
        [spinner]="spinner" [statusLists]="statusList" [stageName]="selectedList[0].stageName" (message)="message=$event;"
        (selectedStatusEmitter)="selectedStatus=$event;">
      </alt-bulk-update-status-interview>
    </div>
  </div>
      <div class="btn-row-2 btn-row-attachment  btn-row-pad clearfix" mat-dialog-actions>
      <div *ngIf="security?.attachmentRendered && !attachmentName" class="btn-file-custome" [ngClass]="security?.attachmentDisabled?'disabled-file':''">
        <span class="link">
          <span class="material-icons">attachment</span>{{security?.attachmentLabel+(security?.attachmentRequired? '*': '')}}</span>
        <input class="file-btn" type="file" id="file" name="file" (change)="uploadDocumentListener($event)" [attr.disabled]="security?.attachmentDisabled?'disabled':null"
        />
      </div>
      <div *ngIf="attachmentName" class="document-name-here">
        <span class="material-icons done">done</span>
        <span class="font-bold doc-file-name">{{attachmentName}}</span>
        <span class="material-icons fl-right cursor" (click)="deleteDocumentListener()">delete</span>
        <span class="material-icons fl-right cursor" (click)="downloadDocumentListener()">file_download</span>
      </div>
      <div class="fl-right pad-rt15">
        <button href="javascript:void(0)" class="btn btn-white" (click)="dialogRef.close('Cancel');" [disabled]="spinner">{{'common.label.cancel' | translate}}</button>
        <div class="fl-right" [ngSwitch]="true">
          <alt-spinner-button *ngSwitchCase="selectedList[0].sysWorkflowStageType === 'SCREENING' || selectedList[0].sysWorkflowStageType === 'SHORTLISTING'"
            (myEvent)="preUpdateStatus()" [spinner]="spinner" [spinnerdisabled]="spinner" text="{{'common.label.go' | translate}}"></alt-spinner-button>
          <alt-spinner-button *ngSwitchCase="selectedList[0].sysWorkflowStageType === 'INTERVIEW_1' || selectedList[0].sysWorkflowStageType === 'INTERVIEW_2' || selectedList[0].sysWorkflowStageType === 'INTERVIEW_3' || selectedList[0].sysWorkflowStageType === 'INTERVIEW_4' || selectedList[0].sysWorkflowStageType === 'INTERVIEW_5' || selectedList[0].sysWorkflowStageType === 'HR_INTERVIEW'"
            (myEvent)="preUpdateStatus()" [spinner]="spinner" [spinnerdisabled]="spinner" text="{{'common.label.go' | translate}}"></alt-spinner-button>
        </div>
      </div>
    </div>
</div>
  <!-- \\ End Publish to candidate portal -->