<div class="popup-top popup-custome-top clearfix" mat-dialog-title>
    <div class="popup-title-row">
        <h2 class="title">
            <span class="job-status {{getJobStatusClass(jobData.jobStatus)}}"></span>
            <span *ngIf="jobData.jobTitle?.length>35" matTooltip="{{jobData.jobTitle | lowercasepipe}}">{{jobData.jobTitle.toLowerCase() | stringTrim:35}} </span>
            <span *ngIf="jobData.jobTitle?.length<=35">{{jobData.jobTitle | lowercasepipe}} </span>
            <span class="job-code">{{jobData.requisitionCode}}</span>
        </h2>
        <span class="material-icons close" (click)="dialogRef.close('Cancel')">close</span>
    </div>
    <div class="popup-top-description">
        <ul class="list-reset listing-inline">
            <li class="character-count-45" *ngIf="jobData.orgUnitCode!= null && jobData.orgUnitCode?.length > 33" matTooltip="{{jobData.orgUnitCode | lowercasepipe}}">{{jobData.orgUnitCode | lowercasepipe}}</li>
            <li *ngIf="jobData.orgUnitCode!= null && jobData.orgUnitCode?.length <= 33">{{jobData.orgUnitCode | lowercasepipe}}</li>
            <li class="character-count-45" *ngIf="jobData.joiningLoc!= null && jobData.joiningLoc?.length > 33" matTooltip="{{jobData.joiningLoc | lowercasepipe}}">{{jobData.joiningLoc | lowercasepipe}}</li>
            <li *ngIf="jobData.joiningLoc!= null && jobData.joiningLoc?.length <= 33">{{jobData.joiningLoc | lowercasepipe}}</li>
            <li class="last-item" *ngIf="jobData.createdDate">{{'common.label.createdOn' | translate}}<span class="link">{{jobData.createdDate | date:'dd/MM/yyyy'}}</span></li>
        </ul>
    </div>
</div>
<div class="notification-bar {{severityClass}} {{showClass}}" *ngIf="message.length > 0">
    <span class="material-icons successful-icon">check_circle</span>
    <div class="notification-text-outer">
        <span class="notification-text">{{message}}</span>
    </div>
    <span class="material-icons close" (click)="clearMessages()">close</span>
</div>
<div class="popup-inner" mat-dialog-content>
    <!-- popup Content Box -->
    <div class="popup-content">
        <h3 class="title-12" *ngIf="!disableCandPortalStartDate">{{'postCP.publish.infoEnableCPStartDate' | translate}} </h3>
        <h3 class="title-12" *ngIf="disableCandPortalStartDate">{{'postCP.publish.infoDisableCPStartDate' | translate}}
        </h3>

        <div class="popup-row clearfix">
            <div class="popup-cell-common">
                <label class="control-label label-text">{{'common.label.startDate' | translate}}</label>
                <div class="popup-cell-inner">
                    <alt-datepicker class="dropdown-calendar {{disableCandPortalStartDate?'disabled':'enbled'}}" [mode]="landscape" [value]="cpStartDate"
                        #startDate (change)="selectCpStartDate(startDate.value)" [disabled]="disableCandPortalStartDate" [type]="'date'"[disableClick]="disableCandPortalStartDate"></alt-datepicker>
                </div>
            </div>
            <div class="popup-cell-common pointer-date">
                <label class="control-label label-text">{{'common.label.endDate' | translate}}</label>
                <div class="popup-cell-inner">
                    <alt-datepicker class="dropdown-calendar" [mode]="landscape" [value]="cpEndDate" [type]="'date'" #endDate (change)="selectCpEndDate(endDate.value)"></alt-datepicker>
                </div>
            </div>
        </div>
        <!-- \\ End Popup Row -->
    </div>
    <!-- \\ End popup Content Box -->
</div>
<div class="btn-row text-right" mat-dialog-actions>
    <button class="btn btn-white" (click)="dialogRef.close()" [disabled]="publishCandidate">{{'common.label.cancel' | translate}}</button>
    <!--<button class="btn btn-primary" (click)="postJobToCandPortal()">Post</button>-->
    <alt-spinner-button (myEvent)="postJobToCandPortal($event)" [spinner]="publishCandidate" [spinnerdisabled]="publishCandidate"
    text="{{((lable | lowercase) ===('update' | lowercase) ? 'common.label.update' : 'common.label.post') | translate}}"></alt-spinner-button>
</div>