<!--  Tab Week Details-->
                        <div id="tab2" class="tasks-containts">
                        	<ul class="list-reset tasks-table-row tasks-table-th-row">
                            	<li class="task-th task-td01">
                                    <span class="task-text">44</span>
                                    <span class="clock-cell">Week</span>
                                </li>
                                <li class="task-th">January 16, Monday</li>
                               	<li class="task-th">17, Tuesday</li>
                                <li class="task-th font-bold">18, Wednesday</li>
                                <li class="task-th">19, Thursday</li>
                                <li class="task-th">20, Friday</li>
                                <li class="task-th disabled">21, Saturday</li>
                      			<li class="task-th disabled">22, Sunday</li>
                            </ul>
                          <div class="task-table-content vertical-scrollbox">
                                <ul class="list-reset tasks-table-row">
                                    <li class="task-td task-td01 vertical-md">
                                        <div class="task-roted-text">
                                            <span class="task-text">Parking</span>
                                        </div>
                                    </li>
                                    <li class="task-td task-td-gray">
                                    	<div class="task-block drag-drop-week"><span class="doted"></span><span class="task-name text-wrap">Approve #JOBCODE/000 000</span></div>
                                        <div class="task-block drag-drop-week"><span class="doted"></span><span class="task-name text-wrap">3 salary fitment rejecti 000</span></div>
                      					<div class="task-block drag-drop-week"><span class="doted"></span><span class="task-name text-wrap">Approve #JOBCODE/00000</span></div>
                                        <div class="task-block drag-drop-week"><span class="doted"></span><span class="task-name text-wrap">3 salary fitment rejecti 000</span></div>
                                        <div class="task-block drag-drop-week"><span class="doted"></span><span class="task-name text-wrap">New #JOBCODE/000000000</span></div>
          								<div class="task-block drag-drop-week"><span class="doted"></span><span class="task-name text-wrap">Approve #JOBCODE/000000000</span></div>
                                        <div class="task-block drag-drop-week"><span class="doted"></span><span class="task-name text-wrap">#JOBCODE/0000 target000</span></div>
                                        <div class="task-block drag-drop-week"><span class="doted"></span><span class="task-name text-wrap">3 salary fitment rejecti000</span></div>
                                        <div class="task-block drag-drop-week"><span class="doted"></span><span class="task-name text-wrap">3 salary fitment rejecti000</span></div>
                                        <div class="task-block drag-drop-week"><span class="doted"></span><span class="task-name text-wrap">3 salary fitment rejecti000</span></div>
                                        <div class="task-block drag-drop-week"><span class="doted"></span><span class="task-name text-wrap">3 salary fitment rejecti000</span></div>
                                  	</li>
                                    <li class="task-td task-td-gray">&nbsp;</li>
                                    <li class="task-td">
                                    	<div class="task-block drag-drop-week"><span class="doted"></span><span class="task-name text-wrap">Approve #JOBCODE/000 000</span></div>
                                        <div class="task-block drag-drop-week"><span class="doted"></span><span class="task-name text-wrap">3 salary fitment rejecti 000</span></div>
                      					<div class="task-block drag-drop-week"><span class="doted"></span><span class="task-name text-wrap">Approve #JOBCODE/00000</span></div>
                                    </li>
                                    <li class="task-td">
                                    	<div class="task-block drag-drop-week"><span class="doted"></span><span class="task-name text-wrap">Approve #JOBCODE/000 000</span></div>
                                    </li>
                                    <li class="task-td">&nbsp;</li>
                                    <li class="task-td">&nbsp;</li>
                                    <li class="task-td">&nbsp;</li>
                                </ul>
                                <ul class="list-reset tasks-table-row">
                                    <li class="task-td task-td01">
                                        <span class="task-text">09:00 </span>
                                    	<span class="clock-cell">am</span>
                                    </li>
                                    <li class="task-td task-td-gray">&nbsp;</li>
                                    <li class="task-td task-td-gray">&nbsp;</li>
                                    <li class="task-td">&nbsp;</li>
                                    <li class="task-td">&nbsp;</li>
                                    <li class="task-td">&nbsp;</li>
                                    <li class="task-td">&nbsp;</li>
                                    <li class="task-td">&nbsp;</li>
                                </ul>
                                <ul class="list-reset tasks-table-row">
                                    <li class="task-td task-td01">
                                        <span class="task-text">10:00 </span>
                                    	<span class="clock-cell">am</span>
                                    </li>
                                    <li class="task-td task-td-gray">&nbsp;</li>
                                    <li class="task-td task-td-gray">&nbsp;</li>
                                    <li class="task-td">&nbsp;</li>
                                    <li class="task-td">&nbsp;</li>
                                    <li class="task-td">&nbsp;</li>
                                    <li class="task-td">&nbsp;</li>
                                    <li class="task-td">&nbsp;</li>
                                </ul>
                                <ul class="list-reset tasks-table-row">
                                    <li class="task-td task-td01">
                                        <span class="task-text">11:00 </span>
                                    	<span class="clock-cell">am</span>
                                    </li>
                                    <li class="task-td task-td-gray">&nbsp;</li>
                                    <li class="task-td task-td-gray">
                                    	<div class="task-block "><span class="doted"></span><span class="task-name">3 salary fitment rejection for #JOBCODE/000</span></div>
                                    	<ul class="list-reset interviews-listing name-text">
                                            <li>Santosh Ramanujan</li>
                                            <li>Satish Narayan</li>
                                            <li>Manas Singh</li>
                                        </ul>
                                 	</li>
                                    <li class="task-td">
                                    	<div class="task-block "><span class="doted doted-purple"></span><span class="task-name">Assistant Aviation Manager <span class="divider"></span>  #JOBCODE/0000</span></div>
                                    	<ul class="list-reset interviews-listing">
                                            <li>
                                                <span class="material-icons accordion-icon">videocam</span>
                                                <div class="accordion-details">
                                                    <span>14:30 -15:30</span> 
                                                    <span class="divider"></span>                                                   
                                                    <span class="display-block">Shailendra Rao</span>
                                                </div>
                                            </li>
                                            <li>
                                                <span class="material-icons accordion-icon">people</span>
                                                <div class="accordion-details">
                                                    <span>14:30 -15:30</span>
                                                    <span class="divider"></span>                                                    
                                                    <span class="display-block">Ekambaram Narayan</span>
                                                </div>
                                                
                                            </li>
                                            <li>
                                                <span class="material-icons accordion-icon">phone</span>
                                                <div class="accordion-details">
                                                    <span>14:30 -15:30</span>
                                                    <span class="divider"></span>                                                    
                                                    <span class="display-block">Santosh Ramanujan</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="task-td">&nbsp;</li>
                                    <li class="task-td">&nbsp;</li>
                                    <li class="task-td">&nbsp;</li>
                                    <li class="task-td">&nbsp;</li>
                                </ul>
                                <ul class="list-reset tasks-table-row">
                                    <li class="task-td task-td01">
                                        <span class="task-text">12:00 </span>
                                    	<span class="clock-cell">pm</span>
                                    </li>
                                    <li class="task-td task-td-gray">&nbsp;</li>
                                    <li class="task-td task-td-gray">&nbsp;</li>
                                    <li class="task-td">&nbsp;</li>
                                    <li class="task-td">&nbsp;</li>
                                    <li class="task-td">&nbsp;</li>
                                    <li class="task-td">&nbsp;</li>
                                    <li class="task-td">&nbsp;</li>
                                </ul>
                                <ul class="list-reset tasks-table-row">
                                    <li class="task-td task-td01">
                                        <span class="task-text">01:00 </span>
                                    	<span class="clock-cell">pm</span>
                                    </li>
                                    <li class="task-td task-td-gray">&nbsp;</li>
                                    <li class="task-td task-td-gray">&nbsp;</li>
                                    <li class="task-td">&nbsp;</li>
                                    <li class="task-td">&nbsp;</li>
                                    <li class="task-td">&nbsp;</li>
                                    <li class="task-td">&nbsp;</li>
                                    <li class="task-td">&nbsp;</li>
                                </ul>
                                <ul class="list-reset tasks-table-row">
                                    <li class="task-td task-td01">
                                        <span class="task-text">02:00 </span>
                                    	<span class="clock-cell">pm</span>
                                    </li>
                                    <li class="task-td task-td-gray">&nbsp;</li>
                                    <li class="task-td task-td-gray">&nbsp;</li>
                                    <li class="task-td">&nbsp;</li>
                                    <li class="task-td">&nbsp;</li>
                                    <li class="task-td">&nbsp;</li>
                                    <li class="task-td">&nbsp;</li>
                                    <li class="task-td">&nbsp;</li>
                                </ul>
                                <ul class="list-reset tasks-table-row">
                                    <li class="task-td task-td01">
                                        <span class="task-text">03:00 </span>
                                    	<span class="clock-cell">pm</span>
                                    </li>
                                    <li class="task-td task-td-gray">&nbsp;</li>
                                    <li class="task-td task-td-gray">&nbsp;</li>
                                    <li class="task-td">&nbsp;</li>
                                    <li class="task-td">&nbsp;</li>
                                    <li class="task-td">&nbsp;</li>
                                    <li class="task-td">&nbsp;</li>
                                    <li class="task-td">&nbsp;</li>
                                </ul>
                                <ul class="list-reset tasks-table-row">
                                    <li class="task-td task-td01">
                                        <span class="task-text">04:00 </span>
                                    	<span class="clock-cell">pm</span>
                                    </li>
                                    <li class="task-td task-td-gray">&nbsp;</li>
                                    <li class="task-td task-td-gray">&nbsp;</li>
                                    <li class="task-td">&nbsp;</li>
                                    <li class="task-td">&nbsp;</li>
                                    <li class="task-td">
                                    	<div class="task-block "><span class="doted doted-purple"></span><span class="task-name">Assistant Aviation Manager <span class="divider"></span>  #JOBCODE/0000</span></div>
                                    	<ul class="list-reset interviews-listing">
                                            <li>
                                                <span class="material-icons accordion-icon">videocam</span>
                                                <div class="accordion-details">
                                                    <span>14:30 -15:30</span> 
                                                    <span class="divider"></span>                                                  
                                                    <span class="display-block">Shailendra Rao</span>
                                                </div>
                                            </li>
                                          </ul>
                                    </li>
                                    <li class="task-td">&nbsp;</li>
                                    <li class="task-td">&nbsp;</li>
                                </ul>
                                <ul class="list-reset tasks-table-row">
                                    <li class="task-td task-td01">
                                        <span class="task-text">05:00 </span>
                                    	<span class="clock-cell">pm</span>
                                    </li>
                                    <li class="task-td task-td-gray">&nbsp;</li>
                                    <li class="task-td task-td-gray">&nbsp;</li>
                                    <li class="task-td">&nbsp;</li>
                                    <li class="task-td">&nbsp;</li>
                                    <li class="task-td">&nbsp;</li>
                                    <li class="task-td">&nbsp;</li>
                                    <li class="task-td">&nbsp;</li>
                                </ul>
                                <ul class="list-reset tasks-table-row">
                                    <li class="task-td task-td01">
                                        <span class="task-text">06:00 </span>
                                    	<span class="clock-cell">pm</span>
                                    </li>
                                    <li class="task-td task-td-gray">&nbsp;</li>
                                    <li class="task-td task-td-gray">&nbsp;</li>
                                    <li class="task-td">&nbsp;</li>
                                    <li class="task-td">&nbsp;</li>
                                    <li class="task-td">&nbsp;</li>
                                    <li class="task-td">&nbsp;</li>
                                    <li class="task-td">&nbsp;</li>
                                </ul>
                                <ul class="list-reset tasks-table-row">
                                    <li class="task-td task-td01">
                                        <span class="task-text">07:00 </span>
                                    	<span class="clock-cell">pm</span>
                                    </li>
                                    <li class="task-td task-td-gray">&nbsp;</li>
                                    <li class="task-td task-td-gray">&nbsp;</li>
                                    <li class="task-td">&nbsp;</li>
                                    <li class="task-td">&nbsp;</li>
                                    <li class="task-td">&nbsp;</li>
                                    <li class="task-td">&nbsp;</li>
                                    <li class="task-td">&nbsp;</li>
                                </ul>
                            </div>
                         </div>
                        <!-- \\ End Tab Week Details-->