<div *ngIf="!disabled" #dropdownbtn [class.dropupside]="reverseClassVisibility" (click)="splitDropdown();adjustToolTip()">
    <label *ngIf="label !== ''">{{label}}</label>
    <div #selection [attr.tabindex]="disabled ? null : 0" [ngClass]="{'open': isOpen, 'focus': hasFocus, 'below': isBelow, 'disabled': disabled}"
        (click)="onSelectContainerClick($event)" (focus)="onSelectContainerFocus()" (keydown)="onSelectContainerKeydown($event)"
        (window:click)="onWindowClick()" (window:resize)="onWindowResize()">

        <div class="dropdown-button tooltip-section" *ngIf="!multiple">
            <span class="value" *ngIf="optionList.hasSelected()  && showSelection">{{optionList.selection[0].label}}</span>
            <div class="text-dropdown" *ngIf="optionList.hasSelected()  && !showSelection">{{placeholder}}</div>
            <div class="text-dropdown" *ngIf="!optionList.hasSelected() && isDefaultSelected">{{ optionList.getFirstShown().label }}</div>
            <div class="text-dropdown" *ngIf="!optionList.hasSelected() && !isDefaultSelected">{{placeholderView}}</div>

            <span class="tooltip-container" *ngIf="optionList.hasSelected()  && showSelection && (optionList.selection[0].label.length >= 15)">{{optionList.selection[0].label}}</span>
            <span class="tooltip-container" *ngIf="!optionList.hasSelected() && isDefaultSelected && (optionList.getFirstShown().label.length >= 15)">{{optionList.getFirstShown().label}}</span>

            <div class="clear" *ngIf="allowClear && hasSelected" (click)="onClearSelectionClick($event)"> &#x2715; </div>
            <span class="mdi mdi-chevron-down md24"></span>

        </div>

        <div class="select-auto-box" *ngIf="multiple  && showSelection">
            <input *ngIf="filterEnabled" #filterInput autocomplete="off" tabindex="-1" [placeholder]="placeholderView" class="form-control"
                (input)="onMultipleFilterInput($event)" (keydown)="onMultipleFilterKeydown($event);"
            />
            <span class="material-icons dp20">search</span>
            <span class="select-applied" *ngFor="let option of optionList.selection">
                <span class="applied-text" matTooltip="{{option.label}}" (click)="onDeselectOptionClick(option)" *ngIf="option.label != null && option.label.length > 15">{{trimString(option.label, 15)}} [x]
                    
                </span>
                <span class="applied-text" (click)="onDeselectOptionClick(option)" *ngIf="option.label != null && option.label.length <= 15">{{option.label}} [x]</span>
            </span>
        </div>

        <div class="dropdown-button" *ngIf="multiple  && !showSelection">
            <input *ngIf="filterEnabled" #filterInput autocomplete="off" tabindex="-1" [placeholder]="placeholderView" [ngStyle]="{'width.px': filterInputWidth}"
                (input)="onMultipleFilterInput($event)" (keydown)="onMultipleFilterKeydown($event)"
            />
        </div>

    </div>
    <ng-container #dropdownposition>
        <select-dropdown *ngIf="isOpen" #dropdown [showIcon]="showIcon" [multiple]="multiple" [optionList]="optionList" [notFoundMsg]="notFoundMsg"
            [highlightColor]="highlightColor" [highlightTextColor]="highlightTextColor" [filterEnabled]="filterEnabled" [placeholder]="filterPlaceholder"
            [width]="width" [top]="top" [left]="left" (close)="onDropdownClose($event)" (optionClicked)="onDropdownOptionClicked($event)"
            (singleFilterClick)="onSingleFilterClick()" (singleFilterInput)="onSingleFilterInput($event)" (singleFilterKeydown)="onSingleFilterKeydown($event)"
            (viewHeight)="getHeight($event);" (scrollEvents)="scrollEventsCapture($event)" [dropdownContWidth]="dropdownContWidth" >
        </select-dropdown>
    </ng-container>
</div>

<div *ngIf="disabled" class="open">
        <label *ngIf="label !== ''">{{label}}</label>
        <div>
    
            <div class="dropdown-button" *ngIf="!multiple">
                <span class="value" *ngIf="optionList.hasSelected()  && showSelection">
                    {{optionList.selection[0].label}}
                </span>
                <div class="text-dropdown" *ngIf="optionList.hasSelected()  && !showSelection">
                    {{placeholder}}
                </div>
                <div class="text-dropdown" *ngIf="!optionList.hasSelected()">{{placeholderView}}</div>
                <div class="clear" *ngIf="allowClear && hasSelected">
                    &#x2715;
                </div>
                <span class="mdi mdi-chevron-down md24"></span>
            </div>
    
            <div class="select-auto-box" *ngIf="multiple  && showSelection">
                <input *ngIf="filterEnabled" #filterInput autocomplete="off" tabindex="-1" [placeholder]="placeholderView" class="form-control"
                    (input)="onMultipleFilterInput($event)" (keydown)="onMultipleFilterKeydown($event);" disabled
                />
                <span class="material-icons dp20">search</span>
                <span class="select-applied" *ngFor="let option of optionList.selection">
                    <span class="applied-text" matTooltip="{{option.label}}" *ngIf="option.label != null && option.label.length > 15">{{trimString(option.label, 15)}}</span>
                    <span class="applied-text" *ngIf="option.label != null && option.label.length <= 15">{{option.label}}</span>
                </span>
            </div>
    
            <div class="dropdown-button" *ngIf="multiple  && !showSelection">
                <input *ngIf="filterEnabled" #filterInput autocomplete="off" tabindex="-1" [placeholder]="placeholderView" [ngStyle]="{'width.px': filterInputWidth}" disabled/>
            </div>
    
        </div>
    </div>