<div class="dropdown-8 dropdown-style" style="display: block" (mouseup)="onMouseUp($event)" >
    <div class="input-group search-block" *ngIf="!multiple && filterEnabled">
        <input type="text" class="form-control" #filterInput autocomplete="off" [placeholder]="placeholder" (click)="onSingleFilterClick($event)"
            (input)="onSingleFilterInput($event)" (keydown)="onSingleFilterKeydown($event)" placeholder="Search name or job code"
        />
        <span class="input-group-btn">
            <button class="btn material-icons dp20" type="submit">search</button>
        </span>
    </div>
    <div class="vertical-scrollbox" slimScroll  (mousewheel)="onMousewheel($event)" (DOMMouseScroll)="onDOMMouseScroll($event)" #optionsList>
        <ul class="list-reset" (wheel)="onOptionsWheel($event)">
            <ng-container *ngIf="showIcon">
                <ng-container *ngFor="let option of optionList.filtered | slice:0:50">
                    <li [ngClass]="{'highlighted': option.highlighted, 'selected': option.selected, 'disabled': option.disabled}" [ngStyle]="getOptionStyle(option)"
                        (click)="onOptionClick(option)" (mouseover)="onOptionMouseover(option)">
                        <a>
                            <span class="job-status {{getJobStatusClass(option.value)}}"></span>
                            {{option.label}}
                        </a>
                    </li>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="!showIcon">
                <ng-container *ngFor="let option of optionList.filtered | slice:0:50">
                    <li [ngClass]="{'highlighted': highlighted, 'selected': option.selected, 'disabled': option.disabled}" [ngStyle]="getOptionStyle(option)"
                        (click)="onOptionClick(option)" (mouseover)="onOptionMouseover(option)" class="tooltip-section">
                        <a class="text-nowrap-grad">{{option.label}}</a>
                        <span class="tooltip-container" *ngIf="this.dropdownContWidth < ((option.label.length+1)*6)">{{option.label}}</span>
                    </li>
                </ng-container>
            </ng-container>
            <li *ngIf="!optionList.hasShown" class="message">
                <a> {{notFoundMsg}}</a>
            </li>

        </ul>
    </div>
</div>