.auto-select .dropdown-style{
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .0);
		   box-shadow: 0 0px 0px rgba(0, 0, 0, .0);
}
.dropdown-button .text-dropdown{
    float: left;
}
.dropdown-style li.selected a{
	background-color:#fff!important;
	outline: 0;
    font-family:'DIN Bold';	
}
.dropdown-style li.highlighted a{
	background-color:#fff!important;
	outline: 0;
	font-family:'DIN Regular';
}
.dropdown-style li.selected .text-nowrap-grad:before{
	background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 90%);
	background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 90%);
	background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 90%);
}
.options {
    max-height:200px;
    overflow-y:auto;
}
.select-auto-box{
    position: relative;
}
.select-auto-box .form-control{
    position: relative;
    margin-bottom: 0px;
}
.select-auto-box .material-icons{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #aeaeae;
}
.select-applied{
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
}
