<!-- Section Email -->
<alt-notification-bar-popup class="notification-email"></alt-notification-bar-popup>
<div class="popup-custome-email">
  <div class="popup-top clearfix" mat-dialog-title>
    <h2  class="title-sub">Send Email</h2>
  </div>
  <div class="popup-inner" slimScroll mat-dialog-content>
    <div class="item_list">
      <ng-container *ngFor="let template of templates let i=index;">
        <!-- Section Email -->
        <div class="multiple-email-block {{toggleOpen[i]?'multiple-email-open':'multiple-email-close'}}">
          <div class="email-title-group" (click)="toggleDiv(i)">
            <span class="email-count">
              <span *ngIf="template.sequence<10">0</span>{{template.sequence}}</span>
            <ng-container *ngIf="template.confirmMessage==null || template.confirmMessage==''">
              <div class="email-title" *ngIf="!toggleOpen[i]">
                <h2 class="title purple-color">{{template.subject}}</h2>
                <div class="email-send">
                  <span class="multiple-email-cell" *ngIf="template.mailTO != null && template.mailTO != '' && template.mailTO.length <= 50">
                    <span class="purple-color">To :</span>{{template.mailTO}}
                  </span>
                  <span class="multiple-email-cell" matTooltip="{{template.mailTO}}" *ngIf="template.mailTO != null && template.mailTO != '' && template.mailTO.length > 50">
                    <span class="purple-color">To :</span>{{template.mailTO | stringTrim:50}}
                  </span>
                  <span class="multiple-email-cell" *ngIf="template.mailCC != null && template.mailCC.length <= 50">
                    <span class="purple-color">Cc :</span>{{template.mailCC}}
                  </span>
                  <span class="multiple-email-cell" matTooltip="{{template.mailCC}}" *ngIf="template.mailCC != null && template.mailCC.length > 50">
                    <span class="purple-color">Cc :</span>{{template.mailCC | stringTrim:50}}
                  </span>
                </div>
              </div>
              <ng-container *ngIf="templates?.length > 1">
                <div class="email-button">
                  <span class="btn-mail btn-deleted"  (click)="$event.stopPropagation();confirmDelete(template)">Delete</span>
                </div>
              </ng-container>
            </ng-container>

            <ng-container *ngIf="template.confirmMessage!=null && template.confirmMessage=='DELETE'">
              <div class="email-title">
                <h2 class="title purple-color">Are you sure you want to delete ?</h2>
              </div>
              <ng-container *ngIf="templates?.length > 1">
                <div class="email-button">
                  <span class="btn-mail btn-deleted" (click)="$event.stopPropagation();delete(template)">Yes</span>
                  <span class="btn-mail" (click)="$event.stopPropagation();template.confirmMessage=null">No</span>
                </div>
              </ng-container>
            </ng-container>

          </div>
          <div class="row email-content-group" *ngIf="toggleOpen[i]">
            <div class="form-group row2">
              <div class="col-md-12">
                <label class="control-label clearfix">To</label>
                <input type="text" [disabled]="template.nonEditable" class="form-control" [value]="template.mailTO"
                  (change)="template.mailTO = $event.target.value" />
              </div>
            </div>
            <div class="form-group row2">
              <div class="col-md-12">
                <label class="control-label clearfix">Cc</label>
                <input type="text" [disabled]="template.nonEditable" class="form-control" [value]="template.mailCC"
                  (change)="template.mailCC = $event.target.value" />
              </div>
            </div>
            <div class="form-group row2">
              <div class="col-md-12">
                <label class="control-label clearfix">Subject</label>
                <input type="text" [disabled]="template.nonEditable" class="form-control" [value]="template.subject"
                  (change)="template.subject = $event.target.value" />
              </div>
            </div>

            <div class="form-group row2">
              <div class="col-md-12">

                <label *ngIf="!fileinProgress" class="control-label cursor clearfix">Attach
                  <input multiple="true" type="file" class="displayNone" (change)="uploadDocumentListener($event, template)"
                    accept=".xls,.xlsx,.pdf,.doc,.docx,.DOC,.txt,.zip,.rar,.rtf,.jpeg,.png" />
                  <i class="material-icons vet-align-middle">attachment</i>
                </label>

                <div class="attached-row">
                  <div class="img-attached" *ngIf="template.offerLetterPath != null && template.offerLetterPath != ''">
                    <img src="./assets/images/svg/pdf.svg">
                    <span class="files-name-attached">Offer Letter</span>
                  </div>
                  <ng-container *ngIf="template.totalAttachedDocuments > 0">
                    <div class="img-attached" *ngFor="let uploadedFile of template.attachdocuments let i=index;">
                      <img src="./assets/images/svg/pdf.svg" *ngIf="uploadedFile.attachmentName.split('.').pop() == 'pdf' || uploadedFile.attachmentName.split('.').pop() == 'PDF' ">
                      <img src="./assets/images/svg/doc.svg" *ngIf="uploadedFile.attachmentName.split('.').pop() == 'docx' || uploadedFile.attachmentName.split('.').pop() == 'DOCX' || 
                            uploadedFile.attachmentName.split('.').pop() == 'doc' || uploadedFile.attachmentName.split('.').pop() == 'DOC' || uploadedFile.attachmentName.split('.').pop() == 'rtf'">
                      <img src="./assets/images/svg/excel.svg" *ngIf="uploadedFile.attachmentName.split('.').pop() == 'xls' || uploadedFile.attachmentName.split('.').pop() == 'xlsx'
                      || uploadedFile.attachmentName.split('.').pop() == 'XLSX' || uploadedFile.attachmentName.split('.').pop() == 'XLS'">
                      <img src="./assets/images/svg/png.svg" *ngIf="uploadedFile.attachmentName.split('.').pop() == 'png' || uploadedFile.attachmentName.split('.').pop() == 'PNG' || uploadedFile.attachmentName.split('.').pop() == 'bmp'">
                      <img src="./assets/images/svg/jpg.svg" *ngIf="uploadedFile.attachmentName.split('.').pop() == 'jpg' || uploadedFile.attachmentName.split('.').pop() == 'JPG' || uploadedFile.attachmentName.split('.').pop() == 'jpeg' || uploadedFile.attachmentName.split('.').pop() == 'JPEG'">
                      <img src="./assets/images/svg/text.svg" *ngIf="uploadedFile.attachmentName.split('.').pop() == 'txt' || uploadedFile.attachmentName.split('.').pop() == 'TXT' ">
                      <img src="./assets/images/svg/zip.svg" *ngIf="uploadedFile.attachmentName.split('.').pop() == 'zip' || uploadedFile.attachmentName.split('.').pop() == 'rar' ||
                      uploadedFile.attachmentName.split('.').pop() == 'ZIP' || uploadedFile.attachmentName.split('.').pop() == 'RAR'  ">
                      <span class="material-icons close-icons" (click)="deleteDocumentListener(uploadedFile, template)">clear</span>
                    </div>
                  </ng-container>
                  <label *ngIf="template.totalAttachedDocuments > 0 && !fileinProgress" class="material-icons add-icons">add_box
                    <input multiple="true" type="file" class="displayNone" (change)="uploadDocumentListener($event, template)"
                      accept=".xls,.xlsx,.pdf,.doc,.docx,.DOC,.txt,.zip,.rar,.rtf,.jpeg,.png" />
                  </label>
                </div>

              </div>

            </div>


            <div class="form-group row2">
              <div *ngIf='template.nonEditable' class="resume-data" [innerHTML]='template.content'></div>
              <div *ngIf='!template.nonEditable' class="resume-data" [froalaEditor]='options' [(froalaModel)]="template.content"></div>
            </div>
          </div>
        </div>
        <!-- // End Section Email -->
      </ng-container>
    </div>
  </div>

  <div class="btn-row text-right" mat-dialog-actions>
    <span class="btn btn-white" (click)="dialogRef.close('CANCEL')">CANCEL</span>
    <alt-spinner-button  (myEvent)="send()" [spinner]="isProcessing" [spinnerdisabled]="isProcessing" [text]="'SEND'"></alt-spinner-button>
  </div>
</div>
<!-- \\ End Email  -->
