<div class="panel-full">
	<div class="panel panel-open">
		<div class="panel-heading clearfix">
			<h2 class="panel-title fl-left text-capitalize">{{security?.jobdescriptionSectionLabel}}</h2>
			<!--<span class="mdi mdi-chevron-down fl-right"></span>-->
		</div>
		<div class="panel-body" *ngIf="checkData==0">{{'common.label.noDataAvailable' | translate}}</div>
		<div class="panel-body table-scroll-custome" [innerHTML]='jobDescHTML' *ngIf="checkData>0 && security?.jobDescriptionRendered">
		</div>
	</div>
</div>