<div class="form-group form-textarea">
	<textarea class="form-control noresize" placeholder="Whats's wrong? Leave a comment......"></textarea>
</div>
<div class="row-btn clearfix">
	<button type="button" class="btn btn-default pull-right">submit</button>
</div>