<div class="job-option">
  <a href="javascript:void(0)" (click)="showContextMenu()"><span class="material-icons more-icon">more_vert</span></a>
  <div class="{{displayClass}}">
    <div class="module-true displayBlock" (click)="hideContextMenu()"></div>
    <!-- Menu style -->
    <div class="menu-style menu-style-3 {{displayClass}}">
      <span class="material-icons close" (click)="hideContextMenu()">close</span>
      <ul class="list-reset dropdown-menu">
        <li *ngIf="featureDataMap.get('EDIT_CANDIDATE') ==1"><a href="javascript:void" [gaRouterLink]="['/candidate/newcandidate', candidateCode | formatCandidatecodeParam]" gaevent="ContextMenu#Edit Candidate#click"><span class="menu-style-icon edit-icon13">edit</span>{{'candidate.list.editCandidate' | translate}}</a></li>
        <li *ngIf="featureDataMap.get('EDIT_CANDIDATE') ==2" ><a class="disabled"><span class="menu-style-icon edit-icon13">edit</span>{{'candidate.list.editCandidate' | translate}}</a></li>
        <li class="cursor" *ngIf="!inReview && allowCopyMove" (click)="openCopyCandidateToAnotherJobDlg()" gaevent="ContextMenu#Transfer Candidate#click"><a><span class="menu-style-icon material-icons">content_copy</span>{{'candidate.list.transferCandidate' | translate}}</a></li>
        <li *ngIf="inReview"> <a class="disabled"><span class="menu-style-icon material-icons">content_copy</span>{{'candidate.list.transferCandidate' | translate}}</a></li>
        <li class="cursor" *ngIf="!inReview && isActive && untagCandidateEnabled"(click)="unTagApplicantFromJob()" gaevent="ContextMenu#Untag Candidate#click"><a><span class="menu-style-icon material-icons">label_outline</span>{{'candidate.list.untagCandidates' | translate}}</a></li>
        <li *ngIf="!isActive || inReview || !untagCandidateEnabled"> <a class="disabled"><span class="menu-style-icon material-icons">label_outline</span>{{'candidate.list.untagCandidates' | translate}}</a></li>
        <li class="cursor" *ngIf="!inReview"(click)="openEmailPopUp()" gaevent="ContextMenu#Email Candidate#click"><a><span class="menu-style-icon material-icons">mail</span>{{'candidate.list.emailCandidates' | translate}}</a></li>
        <li *ngIf="inReview"><a class="disabled"><span class="menu-style-icon material-icons">mail</span>{{'candidate.list.emailCandidates' | translate}}</a></li>
        <li class="cursor" *ngIf="!inReview && sendCPCredentials && reSendCPCredentials && isActive"(click)="getCPCredentials(applicantStatusId)" gaevent="ContextMenu#Send CP Credentials#click"><a><span class="menu-style-icon material-icons">send</span>{{'candidate.list.sendCPCredentials' | translate}} </a></li>
        <li *ngIf="inReview || !isActive"><a class="disabled"><span class="menu-style-icon material-icons">send</span>{{'candidate.list.sendCPCredentials' | translate}}</a></li>
      </ul>
    </div>
    <!-- \\ End Menu style -->
  </div>
</div>