<div class="form_outer form_inner_block">
  <div class="form_inner_block_list ctq_section row2" *ngFor="let ctq of ctqData; let index=index">

    <div class="row">
      <div class="col-md-6">
        <label class="form-label">{{'common.label.question' | translate}} {{index+1}}</label>
      </div>
    </div>

    <div class="row2">
      <label class="title_label">{{ctq.question}} <span *ngIf="ctq?.mandatory">*</span></label>

      <div class="ans-inner" *ngIf="ctq.questionType=='BOOLEANRADIO'">
        <div class="radio radio-inline marginR20" *ngFor="let option of ctq.options, let i=index;">
          <div class="radio_label_inline">
            <input type="radio" id="option{{i}}" [name]="index" [value]="option" (change)="changeEvent(option,index)">
            <label for="option{{i}}">{{option}}</label>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="ctq.questionType=='SELECTONEMENU'">
        <div class="col-md-6">
          <div class="ans-inner">
            <alt-custom-single-select #LISTCOMPONENT [srcTag]="'LISTCOMPONENTTAG'" (clickToClose)="LISTCOMPONENT.toggleClose()"
              placeholder="{{'common.label.select' | translate}}" [inputList]="ctq.selectItemOptions" [value]="ctq.answer" (valueBind)="ctq.answer=$event.value;">
            </alt-custom-single-select>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="ctq.questionType=='INPUTTEXT'">
        <div class="col-md-12">
            <textarea class="form-control textarea_standardHeight noresize" [value]="ctq.answer" (change)="ctq.answer = $event.target.value"></textarea>
        </div>
      </div>

    </div>
  </div>
</div>