<div class="table-data list-tag-stages">
	<ul class="list-reset text-center table-data-ul">
		<li *ngFor="let jobStage of jobStageList; let i = index; let isFirst=first; let isLast=last;" (click)="getFilteredCandidate(jobStage)"
		 class="{{jobStage.isSelected?'active-purple':''}} {{isFirst?'first':isLast?'last':''}}">
			<span class="text-bold-cell">{{jobStage.count}}</span>
			<span class="text-cell">{{jobStage.stageName.toLowerCase()}}</span>
		</li>
	</ul>
</div>