<div *ngIf="hiddenToggle" style="position: relative;">
  <div class="module-true displayBlock" (click)="toggle()"></div>
  <div class="popup-small" style="display:block;">
    <div class="popup-top clearfix">
        <span class="material-icons close" (click)="toggle()">close</span>
        <h2 class="title">SELECT INTERVIEW PANEL</h2>             
    </div>
    <div class="popup-small-inner clearfix">
      <div class="input-group search-block">
        <input type="text" class="form-control" [formControl]="searchString" placeholder="Search…" />
        <span class="input-group-btn">
							<button class="btn material-icons dp20" type="submit">search</button>
						</span>
      </div>
      <div class="listing-popup-block vertical-scrollbox" slimScroll>
        <ul class="list-reset listing-popup listing-popup-padding">
          <li *ngFor="let item of filteredList| slice:0:sliceSize">
            <div class="checkbox checkbox-inline">
              <input class="styled" [checked]="isChecked(item)" (change)="selectListener(item,$event.target.checked)" type="checkbox"/>
              <label class="name-cell"><span class="text-nowrap-grad">{{item.label}}</span></label>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>