<div class="card-pagination fl-left" *ngIf="!pageLoading">
  <label class="pagination-text" for="PaginationTop">{{'common.label.showing' | translate}}</label>
  <div class="{{pageTemplateOpen?'open':''}} dropdown-11">
    <a class="dropdown-button {{pageTemplateOpen?'open':''}}" href="javascript:void(0)" (click)="togglePageTemplate()">
      <span class="text-dropdown">{{pageState.totalRows > pageState.pageSize ? pageState.pageSize : pageState.totalRows}}</span>
      <span class="mdi mdi-chevron-down md24"></span>
    </a>
    <ul class="dropdown-style {{pageTemplateOpen?'displayBlock':''}}" style="width: 100%;">
      <ng-container *ngFor="let pNo of rowsPerPageTemplate.split(',');let i=index;">
        <li *ngIf="convertInt(pNo) <= pageState.totalRows">
          <a href="javascript:void(0)" (click)="setPageSize(convertInt(pNo))"><span class="text">{{pNo}}</span></a>
        </li>
      </ng-container>
    </ul>
  </div>
  <span class="totale-num text-uppercase text" >{{'common.label.pageOfTotalRow' | translate:{totalRows: pageState.totalRows} }}</span>
</div>

<ul class="pagination pull-right" *ngIf="!pageLoading && pageState.totalRows != null && pageState.totalRows > 0">
  <li class="page-item {{isFirst()?'disabled':''}}"><span (click)="setFirst()">{{'common.label.first' | translate}}</span></li>
  <li class="perview {{isFirst()?'disabled':''}}"><a><span class="mdi mdi-chevron-left md24" (click)="previousPage()"></span></a></li>


  <li *ngFor="let pageNumber of getPageNumbers()" class="page-item {{pageState.currentPageNumber == pageNumber?'active':''}}">
    <a (click)="getPageNumber(pageNumber)">{{pageNumber}}</a>
  </li>
  <li class="nextview"><a><span class="mdi mdi-chevron-right md24 {{isLast()?'disabled':''}}" (click)="nextPage()"></span></a></li>
  <li class="page-item {{isLast()?'disabled':''}}" (click)="setLast()"><span>{{'common.label.last' | translate}}</span></li>
</ul>