<alt-skill-set-loader *ngIf="skillLoader == 'loader'"></alt-skill-set-loader>
<ng-container *ngIf="skillLoader == 'data' || skillLoader == 'nodata' ">
    <div class="panel-heading clearfix" *ngIf="security?.skillsSectionRendered">
        <h2 class="panel-title fl-left">{{security?.skillsSectionLabel | formatCapitalize}}</h2>
    </div>
    <div *ngIf="skillLoader == 'nodata'">
        <div class="panel-body">
            <span class="panel-col panel-col1 text-description">{{'common.label.noDataAvailable' | translate}}</span>
        </div>
    </div>
    <div class="panel-body padding-b10" *ngIf="security?.skillsSectionRendered && data?.length>0">
        <span class="tag-job tag-job-printView" *ngFor="let skill of data">{{ skill }}</span>
    </div>
</ng-container>