<div class="popup-top popup-custome-top clearfix" mat-dialog-title>
    <div class="popup-title-row">
        <h2 class="title">
            <span class="job-status {{getJobStatusClass(jobData.jobStatus)}}"></span>
            <span *ngIf="jobData.jobTitle?.length>50" matTooltip="{{jobData.jobTitle}}">{{jobData.jobTitle.toLowerCase()
                | stringTrim:50}} </span>
            <span *ngIf="jobData.jobTitle?.length<=50">{{jobData.jobTitle}} </span>
            <span class="job-code">{{jobData.requisitionCode}}</span></h2>
        <span class="material-icons close" (click)="dialogRef.close('Cancel')">close</span>
    </div>
    <div class="popup-top-description">
        <ul class="list-reset listing-inline">
            <li class="character-count-45" matTooltip="{{jobData.orgUnitCode | lowercasepipe}}" *ngIf="jobData.orgUnitCode !=null && jobData.orgUnitCode.length>70">{{jobData.orgUnitCode
                | lowercasepipe}}</li>
            <li *ngIf="jobData.orgUnitCode !=null && jobData.orgUnitCode.length<=70">{{jobData.orgUnitCode |
                lowercasepipe}}</li>
            <li class="character-count-45" matTooltip="{{jobData.joiningLoc | lowercasepipe}}" *ngIf="jobData.joiningLoc !=null && jobData.joiningLoc.length>50">{{jobData.joiningLoc
                | lowercasepipe}}</li>
            <li *ngIf="jobData.joiningLoc !=null && jobData.joiningLoc.length<=50">{{jobData.joiningLoc |
                lowercasepipe}}</li>
            <li class="last-item">Posted On <span class="link">{{jobData.createdDate | date:'dd/MM/yyyy'}}</span></li>
        </ul>
    </div>
</div>
<div class="popup-inner md-scroll-none clearfix" mat-dialog-content>
    <div class="notification-bar {{severityClass}} {{showClass}}" *ngIf="message.length > 0">
        <span class="material-icons successful-icon">check_circle</span>
        <div class="notification-text-outer">
            <span class="notification-text">{{message}}</span>
        </div>

        <span class="material-icons close" (click)="clearMessages()">close</span>
    </div>
    <!-- popup Content Box -->
    <div class="popup-content">
        <h3 class="title-sub">{{'job.job_detail.interviewPanel' | translate}}</h3>
        <div class="dropdown-11 list-block auto-select" [formGroup]="formGroup">
            <alt-select [options]="interviewPanelist" [multiple]="true" formControlName="interviewPanelistSelected"
                (selected)="onSelectInterviewer($event)" placeholder="{{'common.label.select' | translate}}" [allowClear]="true">
            </alt-select>
        </div>
    </div>
</div>
<div class="btn-row text-right" mat-dialog-actions>
    <button class="btn btn-white" (click)="dialogRef.close('Cancel')">{{'common.label.cancel' | translate}}</button>
    <alt-spinner-button  (myEvent)="addInterviewPanel()" [spinner]="assignInterviewer" [spinnerdisabled]="disableAssign || assignInterviewer"
            [text]="'common.label.add' | translate"></alt-spinner-button>
</div>