<alt-candidate-personal-detail-loader *ngIf="personalDetailLoader == 'loader'"></alt-candidate-personal-detail-loader>
<ng-container *ngIf="personalDetailLoader == 'data' || personalDetailLoader == 'nodata' ">
    <div class="panel-heading clearfix" *ngIf="security?.personalSectionRendered">
        <h2 class="panel-title fl-left text-capitalize">Personal Details</h2>
    </div>
    <div *ngIf="personalDetailLoader == 'nodata'">
        <div class="panel-body">
            <span class="panel-col panel-col1 text-description">{{'common.label.noDataAvailable' | translate}}</span>
        </div>
    </div>
    <div class="panel-body" *ngIf="security?.personalSectionRendered">
        <div class="padding-b30">
            <div class="panel-row clearfix" *ngIf="security?.titleRendered">
                <span class="panel-col panel-col1">{{security?.titleLabel}}</span>
                <span class="panel-col text-bold-cell">{{data.title}}</span>
            </div>
            <div class="panel-row clearfix" *ngIf="security?.firstNameLabel">
                <span class="panel-col panel-col1">{{security?.firstNameLabel}}</span>
                <span class="panel-col text-bold-cell">{{data.firstName}}</span>
            </div>
            <div class="panel-row clearfix" *ngIf="security?.middleNameRendered">
                <span class="panel-col panel-col1">{{security?.middleNameLabel}}</span>
                <span class="panel-col text-bold-cell">{{data.middleName}}</span>
            </div>
            <div class="panel-row clearfix" *ngIf="security?.lastNameRendered">
                <span class="panel-col panel-col1">{{security?.lastNameLabel}}</span>
                <span class="panel-col text-bold-cell">{{data.lastName}}</span>
            </div>
            <div class="panel-row clearfix" *ngIf="security?.internationalIDRendered">
                <span class="panel-col panel-col1">{{security?.internationalIDLabel}}</span>
                <span class="panel-col text-bold-cell">{{data.internationalID}}</span>
            </div>
            <div class="panel-row clearfix" *ngIf="security?.mobileRendered">
                <span class="panel-col panel-col1">{{security?.mobileLabel}}</span>
                <span class="panel-col text-bold-cell">{{data.mobileNumber}}</span>
            </div>
            <div class="panel-row clearfix" *ngIf="security?.dateOfBirthRendered">
                <span class="panel-col panel-col1">{{security?.dateOfBirthLabel}}</span>
                <span class="panel-col text-bold-cell">{{data.dob}}</span>
            </div>
            <div class="panel-row clearfix" *ngIf="security?.candidateAgeRendered">
                <span class="panel-col panel-col1">{{security?.candidateAgeLabel}}</span>
                <span class="panel-col text-bold-cell">{{data.age}}</span>
            </div>
            <div class="panel-row clearfix" *ngIf="security?.primaryEmailRendered">
                <span class="panel-col panel-col1">{{security?.primaryEmailLabel}}</span>
                <span class="panel-col text-bold-cell text-lowercase">{{data.primaryEmailId}}</span>
            </div>
            <div class="panel-row clearfix" *ngIf="security?.secondaryEmailRendered">
                <span class="panel-col panel-col1">{{security?.secondaryEmailLabel}}</span>
                <span class="panel-col text-bold-cell text-lowercase">{{data.secondaryEmailId}}</span>
            </div>
            <div class="panel-row clearfix" *ngIf="security?.panNumberRendered">
                <span class="panel-col panel-col1">{{security?.panNumberLabel}}</span>
                <span class="panel-col text-bold-cell">{{data.panNumber}}</span>
            </div>
            <div class="panel-row clearfix" *ngIf="security?.voterIdRendered">
                <span class="panel-col panel-col1">{{security?.voterIdLabel}}</span>
                <span class="panel-col text-bold-cell">{{data.voterId}}</span>
            </div>
            <div class="panel-row clearfix" *ngIf="security?.passportNumberRendered">
                <span class="panel-col panel-col1">{{security?.passportNumberLabel}}</span>
                <span class="panel-col text-bold-cell">{{data.passportNumber}}</span>
            </div>
            <div class="panel-row clearfix" *ngIf="security?.aadhaarNumberRendered">
                <span class="panel-col panel-col1">{{security?.aadhaarNumberLabel}}</span>
                <span class="panel-col text-bold-cell">{{data.aadharNumber}}</span>
            </div>
            <div class="panel-row clearfix" *ngIf="security?.sourceTypeRendered">
                <span class="panel-col panel-col1">{{security?.sourceTypeLabel}}</span>
                <span class="panel-col text-bold-cell">{{data.sourceType}}</span>
            </div>
            <div class="panel-row clearfix" *ngIf="security?.sourceCodeRendered">
                <span class="panel-col panel-col1">{{security?.sourceCodeLabel}}</span>
                <span class="panel-col text-bold-cell text-lowercase">{{data.sourceCode}}</span>
            </div>
            <div class="panel-row clearfix" *ngIf="security?.sourceUsersRendered">
                <span class="panel-col panel-col1">{{security?.sourceUsersLabel}}</span>
                <span class="panel-col text-bold-cell text-lowercase">{{data.subSourceUsername}}</span>
            </div>
            <div class="panel-row clearfix" *ngIf="security?.industryRendered">
                <span class="panel-col panel-col1">{{security?.industryLabel}}</span>
                <span class="panel-col text-bold-cell">{{data.industryName}}</span>
            </div>
            <div class="panel-row clearfix" *ngIf="security?.functionalAreaRendered">
                <span class="panel-col panel-col1">{{security?.functionalAreaLabel}}</span>
                <span class="panel-col text-bold-cell">{{data.funcArea}}</span>
            </div>
            <div class="panel-row clearfix" *ngIf="security?.genderRendered">
                <span class="panel-col panel-col1">{{security?.genderLabel}}</span>
                <span class="panel-col text-bold-cell">{{data.gender}}</span>
            </div>
            <div class="panel-row clearfix" *ngIf="security?.languageRendered">
                <span class="panel-col panel-col1">{{security?.languageLabel}}</span>
                <span class="panel-col text-bold-cell">{{data.language}}</span>
            </div>
            <div class="panel-row clearfix" *ngIf="security?.addressLine1Rendered">
                <span class="panel-col panel-col1">Current Address</span>
                <span class="panel-col text-bold-cell">{{data.currentAdd}}</span>
            </div>
            <div class="panel-row clearfix" *ngIf="security?.permanentAddressRendered">
                <span class="panel-col panel-col1">Permanent Address</span>
                <span class="panel-col text-bold-cell">{{data.permanentAdd}}</span>
            </div>
            <div class="panel-row clearfix" *ngIf="security?.landlineNumberRendered">
                <span class="panel-col panel-col1">{{security?.landlineNumberLabel}}</span>
                <span class="panel-col text-bold-cell">{{data.landlineNumber}}</span>
            </div>
        </div>
    </div>
</ng-container>