<!-- Section content -->
    <!-- Section filter --> 
    <div class="main-title-row title-with-select title-dashboard">
        <h1 class="main-title">charts & graphs</h1>
        <div class="main-title-right">
            <ul class="list-reset dropdown-block">
               <li class="dropdown">
                <a href="#" class="dropdown-button dropdown-toggle widht-auto" data-toggle="dropdown" role="button" 
                aria-haspopup="true" aria-expanded="false"><span class="text-dropdown">LAST MONTH</span><span class="mdi mdi-chevron-down md24"></span></a>
                    <ul class="list-reset dropdown-1 dropdown-150 dropdown-style">
                        <li><a href="#">Created First to Last</a></li>
                        <li><a href="#">Created Last to First</a></li>
                        <li><a href="#">Modified First to Last</a></li>
                        <li><a href="#">Modified Last to First</a></li>
                        <li><a href="#">Alphabetically A to Z</a></li>
                        <li><a href="#">Alphabetically Z to A</a></li>
                    </ul>                        
                </li>
                <li class="divider fl-left">/</li>
                <li class="dropdown-calendar margin-r5">
                    <label class="sort-label" for="from"> from</label>
                    <input class="input-item form-control" type="text" id="from" placeholder="DD MM YY" />
                    <span class="material-icons cal-icon">today</span> 
                    <div class="section-calendar">
                        <table class="table">
                           <tr>
                                <th class="prev"><span class="mdi mdi-chevron-left"></span></th>
                                <th class="switch" colspan="5">July</th>
                                <th class="next"><span class="mdi mdi-chevron-right"></span></th>
                            </tr>
                            <tr>
                                <th class="dow">mon</th>
                                <th class="dow">tue</th>
                                <th class="dow">wed</th>
                                <th class="dow">thu</th>
                                <th class="dow">fri</th>
                                <th class="dow disabled">sat</th>
                                <th class="dow disabled ">sun</th>
                            </tr>
                            <tr>
                                <td class="day old">1</td>
                                <td class="day old">2</td>
                                <td class="day">3</td>
                                <td class="day active">4</td>
                                <td class="day">5</td>
                                <td class="day disabled">6</td>
                                <td class="day disabled">7</td>
                            </tr>
                            <tr>
                                <td class="day">8</td>
                                <td class="day">9</td>
                                <td class="day">10</td>
                                <td class="day">11</td>
                                <td class="day">12</td>
                                <td class="day disabled">13</td>
                                <td class="day disabled">14</td>
                            </tr>
                            <tr>
                                <td class="day">15</td>
                                <td class="day">16</td>
                                <td class="day">17</td>
                                <td class="day">18</td>
                                <td class="day">19</td>
                                <td class="day disabled">20</td>
                                <td class="day disabled">21</td>
                            </tr>
                            <tr>
                                <td class="day">22</td>
                                <td class="day">23</td>
                                <td class="day">24</td>
                                <td class="day">25</td>
                                <td class="day">26</td>
                                <td class="day disabled">27</td>
                                <td class="day disabled">28</td>
                            </tr>
                            <tr>
                                <td class="day">29</td>
                                <td class="day">30</td>
                                <td class="day">31</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                        </table>
                     </div>
                 </li>
                <li class="dropdown-calendar margin-r5">
                    <label class="sort-label" for="to">to</label>
                    <input class="input-item form-control" type="text" id="to" placeholder="DD MM YY" />
                    <span class="material-icons cal-icon">today</span> 
                    <div class="section-calendar">
                        <table class="table">
                           <tr>
                                <th class="prev"><span class="mdi mdi-chevron-left"></span></th>
                                <th class="switch" colspan="5">July</th>
                                <th class="next"><span class="mdi mdi-chevron-right"></span></th>
                            </tr>
                            <tr>
                                <th class="dow">mon</th>
                                <th class="dow">tue</th>
                                <th class="dow">wed</th>
                                <th class="dow">thu</th>
                                <th class="dow">fri</th>
                                <th class="dow disabled">sat</th>
                                <th class="dow disabled ">sun</th>
                            </tr>
                            <tr>
                                <td class="day old">1</td>
                                <td class="day old">2</td>
                                <td class="day">3</td>
                                <td class="day active">4</td>
                                <td class="day">5</td>
                                <td class="day disabled">6</td>
                                <td class="day disabled">7</td>
                            </tr>
                            <tr>
                                <td class="day">8</td>
                                <td class="day">9</td>
                                <td class="day">10</td>
                                <td class="day">11</td>
                                <td class="day">12</td>
                                <td class="day disabled">13</td>
                                <td class="day disabled">14</td>
                            </tr>
                            <tr>
                                <td class="day">15</td>
                                <td class="day">16</td>
                                <td class="day">17</td>
                                <td class="day">18</td>
                                <td class="day">19</td>
                                <td class="day disabled">20</td>
                                <td class="day disabled">21</td>
                            </tr>
                            <tr>
                                <td class="day">22</td>
                                <td class="day">23</td>
                                <td class="day">24</td>
                                <td class="day">25</td>
                                <td class="day">26</td>
                                <td class="day disabled">27</td>
                                <td class="day disabled">28</td>
                            </tr>
                            <tr>
                                <td class="day">29</td>
                                <td class="day">30</td>
                                <td class="day">31</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                        </table>
                     </div>                                                               
                </li>
                    </ul>
        </div>                                    
    </div>

    <!-- \\ End Section filter --> 
     <!--  Dashboard Section Card-->
     <div class="section-dashboard-card clearfix">
<!--  Predictive Candidate Pipeline-->
<div class="card-block card-1 predictive-candidate-pipeline">
<div class="card-block-inner height-none">
<div class="chart-title clearfix">
<h4 class="title-12 fl-left"><span class="purple-color">predictive </span>Candidate Pipeline</h4>
<div class="chart-icons">
    <span class="material-icons more-icon menu-click" (click)="isClassVisible = !isClassVisible;">more_vert</span>
    <!-- Menu style -->
    <div class="{{displayClass}}" [ngClass]="{'openmodal': isClassVisible}">
        <div class="module-true displayBlock" (click)="isClassVisible = !isClassVisible;" style="z-index: 109"></div>
    </div>
    <div class="menu-style menu-style-3" [ngClass]="{'openmodal': isClassVisible}">
        <span class="material-icons close" (click)="isClassVisible = !isClassVisible;">close</span>
        <ul class="list-reset dropdown-menu">
            <li><a href="#">Export as Excel</a></li>
            <li><a href="#">Download as PDF</a></li>
            <li><a href="#">Remove Graph</a></li>
            <li><a href="#">Share via Email</a></li>
        </ul>
    </div>
    <!-- \\ End Menu style -->
</div>
</div>
<div class="dropdown-block clearfix">
<ul class="list-reset">
    <li class="dropdown">
        <a href="#" class="dropdown-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="text-dropdown">DEPARTMENT</span><span class="mdi mdi-chevron-down md24"></span></a>
        <ul class="list-reset dropdown-1 dropdown-style">
            <li><a href="#">Sales</a></li>
            <li><a href="#">Finance</a></li>
            <li><a href="#">Consulting</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="text-dropdown">BAND</span><span class="mdi mdi-chevron-down md24"></span></a>
        <ul class="list-reset dropdown-1 dropdown-style">
            <li><a href="#">BAND a</a></li>
            <li><a href="#">BAND b</a></li>
            <li><a href="#">BAND c</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="text-dropdown">RECRUITER</span><span class="mdi mdi-chevron-down md24"></span></a>
        <ul class="list-reset dropdown-1 dropdown-style">
            <li><a href="#">recruiter</a></li>
            <li><a href="#">hiring manager</a></li>
            <li><a href="#">process lead</a></li>
        </ul>
    </li>
</ul>
</div>
<div class="job-stages">
<div class="table-data">
    <ul class="list-reset text-center table-data-ul">
        <li>
            <span class="text-bold-cell">1335</span>
            <span class="text-cell">Total</span>
        </li>
        <li>
            <span class="text-bold-cell">206</span>
            <span class="text-cell">Screening</span>
        </li>
        <li>
            <span class="text-bold-cell">157</span>
            <span class="text-cell">shortlist</span>
        </li>
        <li>
            <span class="text-bold-cell">150</span>
            <span class="text-cell">interview</span>
        </li>
        <li>
            <span class="text-bold-cell">097</span>
            <span class="text-cell">interview</span>
        </li>
        <li>
            <span class="text-bold-cell">046</span>
            <span class="text-cell">interview</span>
        </li>
        <li>
            <span class="text-bold-cell">012</span>
            <span class="text-cell">Bkg. Verf.</span>
        </li>
        <li>
            <span class="text-bold-cell">059</span>
            <span class="text-cell">Doc.Chk.</span>
        </li>
        <li>
            <span class="text-bold-cell">055</span>
            <span class="text-cell">Slry. Ftmt.</span>
        </li>
        <li>
            <span class="text-bold-cell">042</span>
            <span class="text-cell">Offer Gen.</span>
        </li>
        <li>
            <span class="text-bold-cell">040</span>
            <span class="text-cell">Stage 10</span>
        </li>
        <li>
            <span class="text-bold-cell">031</span>
            <span class="text-cell">Stage 11</span>
        </li>
        <li>
            <span class="text-bold-cell">025</span>
            <span class="text-cell">Joining</span>
        </li>
        <li>
            <span class="text-bold-cell">023</span>
            <span class="text-cell">accepted</span>
        </li>
        <li class="last">
            <span class="text-bold-cell">0.21</span>
            <span class="text-cell">Cndts/Acptd</span>
        </li>
    </ul>
</div>
</div>
</div>
</div>
<!--  \\ End Predictive Candidate Pipeline-->
<!--  Chart 3-->

<!--  \\ End Chart 3-->

<!--  Chart 4-->

<!--  \\ End Chart 4-->
<!--  Chart 5-->
<div class="module-true {{displayClass}}" [ngClass]="{'displayBlock': isClassZoom3}" style="z-index: 109">
<div class="module-true displayBlock" (click)="isClassZoom3 = !isClassZoom3;" style="z-index: 109"></div>
</div>
<div class="card-block card-3" [ngClass]="{'zoom-card': isClassZoom3}">
<div class="card-block-inner">
<div class="chart-title clearfix">
<h4 class="title-12 fl-left"><span class="purple-color">EFFICIENCY </span>NET DEMAND</h4>
<div class="chart-icons">
    <span class="material-icons zoom-out-icon" (click)="isClassZoom3 = !isClassZoom3;">zoom_out_map</span>
    <span class="material-icons zoom-in-icon" (click)="isClassZoom3 = !isClassZoom3;">fullscreen_exit</span>
    <span class="material-icons more-icon menu-click" (click)="isClassVisible3 = !isClassVisible3;">more_vert</span>
    <!-- Menu style -->
    <div class="{{displayClass}}" [ngClass]="{'openmodal': isClassVisible3}">
        <div class="module-true displayBlock" (click)="isClassVisible3 = !isClassVisible3;" style="z-index: 109"></div>
    </div>
    <div class="menu-style menu-style-3" [ngClass]="{'openmodal': isClassVisible3}">
        <span class="material-icons close" (click)="isClassVisible3 = !isClassVisible3;">close</span>
        <ul class="list-reset dropdown-menu">
            <li><a href="#">Export as Excel</a></li>
            <li><a href="#">Download as PDF</a></li>
            <li><a href="#">Remove Graph</a></li>
            <li><a href="#">Share via Email</a></li>
        </ul>
    </div>
    <!-- \\ End Menu style -->
</div>
</div>
<div class="dropdown-block clearfix">
<ul class="list-reset">
    <li class="dropdown">
        <a href="#" class="dropdown-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="text-dropdown">DIVISIONS/DEPT</span><span class="mdi mdi-chevron-down md24"></span></a>
        <ul class="list-reset dropdown-1 dropdown-style">
            <li><a href="#">Technology/HR</a></li>
            <li><a href="#">Technology/Sales</a></li>
            <li><a href="#">Consulting/Fin </a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="text-dropdown">START & END DATE</span><span class="mdi mdi-chevron-down md24"></span></a>
        <ul class="list-reset dropdown-1 dropdown-style">
            <li><a href="#">16th Sep-30th Sep</a></li>
            <li><a href="#">1st Sep-15th Sep</a></li>
            <li><a href="#">16th Aug-31st Aug</a></li>
        </ul>
    </li>
</ul>
</div>
<div class="chart-block text-center">
<img src="./assets/images/chart_ds04.jpg" alt="" class="chart-img" />
</div>
</div>
</div>
<!--  \\ End Chart 5-->

<!--  Chart 9-->
<div class="module-true {{displayClass}}" [ngClass]="{'displayBlock': isClassZoom7}">
<div class="module-true displayBlock" (click)="isClassZoom7 = !isClassZoom7;"></div>
</div>
<div class="card-block card-3" [ngClass]="{'zoom-card': isClassZoom7}">
<div class="card-block-inner">
<div class="chart-title clearfix">
<h4 class="title-12 fl-left"><span class="purple-color">MIX </span>SOURCE MIX</h4>
<div class="chart-icons">
    <span class="material-icons zoom-out-icon" (click)="isClassZoom7 = !isClassZoom7;">zoom_out_map</span>
    <span class="material-icons zoom-in-icon" (click)="isClassZoom7 = !isClassZoom7;">fullscreen_exit</span>
    <span class="material-icons more-icon menu-click" (click)="isClassVisible7 = !isClassVisible7;">more_vert</span>
    <!-- Menu style -->
    <div class="{{displayClass}}" [ngClass]="{'openmodal': isClassVisible7}">
        <div class="module-true displayBlock" (click)="isClassVisible7 = !isClassVisible7;"></div>
    </div>
    <div class="menu-style menu-style-3" [ngClass]="{'openmodal': isClassVisible7}">
        <span class="material-icons close" (click)="isClassVisible7 = !isClassVisible7;">close</span>
        <ul class="list-reset dropdown-menu">
            <li><a href="#">Export as Excel</a></li>
            <li><a href="#">Download as PDF</a></li>
            <li><a href="#">Remove Graph</a></li>
            <li><a href="#">Share via Email</a></li>
        </ul>
    </div>
    <!-- \\ End Menu style -->
</div>
</div>
<div class="dropdown-block clearfix">
<ul class="list-reset">
    <li class="dropdown">
        <a href="#" class="dropdown-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="text-dropdown">DIVISIONS/DEPT</span><span class="mdi mdi-chevron-down md24"></span></a>
        <ul class="list-reset dropdown-1 dropdown-style">
            <li><a href="#">Technology/HR</a></li>
            <li><a href="#">Technology/Sales</a></li>
            <li><a href="#">Consulting/Fin </a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="text-dropdown">START & END DATE</span><span class="mdi mdi-chevron-down md24"></span></a>
        <ul class="list-reset dropdown-1 dropdown-style">
            <li><a href="#">16th Sep-30th Sep</a></li>
            <li><a href="#">1st Sep-15th Sep</a></li>
            <li><a href="#">16th Aug-31st Aug</a></li>
        </ul>
    </li>
</ul>
</div>
<div class="chart-block text-center">
<img src="./assets/images/chart_ds08.jpg" alt="" class="chart-img" />
</div>
</div>
</div>
<!--  \\ End Chart 9-->

<!--  Chart 6-->

<!--  \\ End Chart 6-->

<!--  Chart 7-->
<div class="module-true {{displayClass}}" [ngClass]="{'displayBlock': isClassZoom5}">
<div class="module-true displayBlock" (click)="isClassZoom5 = !isClassZoom5;"></div>
</div>
<div class="card-block card-3" [ngClass]="{'zoom-card': isClassZoom5}">
<div class="card-block-inner">
<div class="chart-title clearfix">
<h4 class="title-12 fl-left"><span class="purple-color">MIX </span>DEMOGRAPHICS</h4>
<div class="chart-icons">
    <span class="material-icons zoom-out-icon" (click)="isClassZoom5 = !isClassZoom5;">zoom_out_map</span>
    <span class="material-icons zoom-in-icon" (click)="isClassZoom5 = !isClassZoom5;">fullscreen_exit</span>
    <span class="material-icons more-icon menu-click" (click)="isClassVisible5 = !isClassVisible5;">more_vert</span>
    <!-- Menu style -->
    <div class="{{displayClass}}" [ngClass]="{'openmodal': isClassVisible5}">
        <div class="module-true displayBlock" (click)="isClassVisible5 = !isClassVisible5;"></div>
    </div>
    <div class="menu-style menu-style-3" [ngClass]="{'openmodal': isClassVisible5}">
        <span class="material-icons close" (click)="isClassVisible5 = !isClassVisible5;">close</span>
        <ul class="list-reset dropdown-menu">
            <li><a href="#">Export as Excel</a></li>
            <li><a href="#">Download as PDF</a></li>
            <li><a href="#">Remove Graph</a></li>
            <li><a href="#">Share via Email</a></li>
        </ul>
    </div>
    <!-- \\ End Menu style -->
</div>
</div>
<div class="dropdown-block clearfix">
<ul class="list-reset">
    <li class="dropdown">
        <a href="#" class="dropdown-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="text-dropdown">DIVISIONS/DEPT</span><span class="mdi mdi-chevron-down md24"></span></a>
        <ul class="list-reset dropdown-1 dropdown-style">
            <li><a href="#">Technology/HR</a></li>
            <li><a href="#">Technology/Sales</a></li>
            <li><a href="#">Consulting/Fin </a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="text-dropdown">START & END DATE</span><span class="mdi mdi-chevron-down md24"></span></a>
        <ul class="list-reset dropdown-1 dropdown-style">
            <li><a href="#">16th Sep-30th Sep</a></li>
            <li><a href="#">1st Sep-15th Sep</a></li>
            <li><a href="#">16th Aug-31st Aug</a></li>
        </ul>
    </li>
</ul>
</div>
<div class="chart-block text-center">
<img src="./assets/images/chart_ds06.jpg" alt="" class="chart-img" />
</div>
</div>
</div>
<!--  \\ End Chart 7-->

<!--  Chart 8-->
<div class="module-true {{displayClass}}" [ngClass]="{'displayBlock': isClassZoom6}">
<div class="module-true displayBlock" (click)="isClassZoom = !isClassZoom6;"></div>
</div>
<div class="card-block card-1" [ngClass]="{'zoom-card': isClassZoom6}">
<div class="card-block-inner">
<div class="chart-title clearfix">
<h4 class="title-12 fl-left"><span class="purple-color">COST </span>SALARY HIKE</h4>
<div class="chart-icons">
    <span class="material-icons zoom-out-icon" (click)="isClassZoom6 = !isClassZoom6;">zoom_out_map</span>
    <span class="material-icons zoom-in-icon" (click)="isClassZoom6 = !isClassZoom6;">fullscreen_exit</span>
    <span class="material-icons more-icon menu-click" (click)="isClassVisible6 = !isClassVisible6;">more_vert</span>
    <!-- Menu style -->
    <div class="{{displayClass}}" [ngClass]="{'openmodal': isClassVisible6}">
        <div class="module-true displayBlock" (click)="isClassVisible6 = !isClassVisible6;"></div>
    </div>
    <div class="menu-style menu-style-3" [ngClass]="{'openmodal': isClassVisible6}">
        <span class="material-icons close" (click)="isClassVisible6 = !isClassVisible6;">close</span>
        <ul class="list-reset dropdown-menu">
            <li><a href="#">Export as Excel</a></li>
            <li><a href="#">Download as PDF</a></li>
            <li><a href="#">Remove Graph</a></li>
            <li><a href="#">Share via Email</a></li>
        </ul>
    </div>
    <!-- \\ End Menu style -->
</div>
</div>
<div class="dropdown-block clearfix">
<ul class="list-reset">
    <li class="dropdown">
        <a href="#" class="dropdown-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="text-dropdown">DIVISIONS/DEPT</span><span class="mdi mdi-chevron-down md24"></span></a>
        <ul class="list-reset dropdown-1 dropdown-style">
            <li><a href="#">Technology/HR</a></li>
            <li><a href="#">Technology/Sales</a></li>
            <li><a href="#">Consulting/Fin </a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="text-dropdown">START & END DATE</span><span class="mdi mdi-chevron-down md24"></span></a>
        <ul class="list-reset dropdown-1 dropdown-style">
            <li><a href="#">16th Sep-30th Sep</a></li>
            <li><a href="#">1st Sep-15th Sep</a></li>
            <li><a href="#">16th Aug-31st Aug</a></li>
        </ul>
    </li>
</ul>
</div>
<div class="chart-block text-center">
<img src="./assets/images/chart_ds07.jpg" alt="" class="chart-img" />
</div>
</div>
</div>
<!--  \\ End Chart 8-->

<!--  Chart 10-->

<!--  \\ End Chart 10-->
<!--  Chart 11-->

<!--  \\ End Chart 11-->
<!--  Chart 12-->
<div class="module-true {{displayClass}}" [ngClass]="{'displayBlock': isClassZoom10}">
<div class="module-true displayBlock" (click)="isClassZoom10 = !isClassZoom10;"></div>
</div>
<div class="card-block card-two-1" [ngClass]="{'zoom-card': isClassZoom10}">
<div class="card-block-inner">
<div class="chart-title clearfix">
<h4 class="title-12 fl-left"><span class="purple-color">EFFECIENCY </span>OFFER ACCEPTANCE</h4>
<div class="chart-icons">
    <span class="material-icons zoom-out-icon" (click)="isClassZoom10 = !isClassZoom10;">zoom_out_map</span>
    <span class="material-icons zoom-in-icon" (click)="isClassZoom10 = !isClassZoom10;">fullscreen_exit</span>
    <span class="material-icons more-icon menu-click" (click)="isClassVisible10 = !isClassVisible10;">more_vert</span>
    <!-- Menu style -->
    <div class="{{displayClass}}" [ngClass]="{'openmodal': isClassVisible10}">
        <div class="module-true displayBlock" (click)="isClassVisible10 = !isClassVisible10;"></div>
    </div>
    <div class="menu-style menu-style-3" [ngClass]="{'openmodal': isClassVisible10}">
        <span class="material-icons close" (click)="isClassVisible10 = !isClassVisible10;">close</span>
        <ul class="list-reset dropdown-menu">
            <li><a href="#">Export as Excel</a></li>
            <li><a href="#">Download as PDF</a></li>
            <li><a href="#">Remove Graph</a></li>
            <li><a href="#">Share via Email</a></li>
        </ul>
    </div>
    <!-- \\ End Menu style -->
</div>
</div>
<div class="dropdown-block clearfix">
<ul class="list-reset">
    <li class="dropdown">
        <a href="#" class="dropdown-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="text-dropdown">DIVISIONS/DEPT</span><span class="mdi mdi-chevron-down md24"></span></a>
        <ul class="list-reset dropdown-1 dropdown-style">
            <li><a href="#">Technology/HR</a></li>
            <li><a href="#">Technology/Sales</a></li>
            <li><a href="#">Consulting/Fin </a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="text-dropdown">START & END DATE</span><span class="mdi mdi-chevron-down md24"></span></a>
        <ul class="list-reset dropdown-1 dropdown-style">
            <li><a href="#">16th Sep-30th Sep</a></li>
            <li><a href="#">1st Sep-15th Sep</a></li>
            <li><a href="#">16th Aug-31st Aug</a></li>
        </ul>
    </li>
</ul>
</div>
<div class="chart-block text-center">
<img src="./assets/images/chart_ds11.jpg" alt="" class="chart-img" />
</div>
</div>
</div>
<!--  \\ End Chart 12-->
<!--  Chart 13-->

<!--  \\ End Chart 13-->
<!--  Chart 14-->
<div class="module-true {{displayClass}}" [ngClass]="{'displayBlock': isClassZoom12}">
<div class="module-true displayBlock" (click)="isClassZoom12 = !isClassZoom12;"></div>
</div>
<div class="card-block card-3" [ngClass]="{'zoom-card': isClassZoom12}">
<div class="card-block-inner">
<div class="chart-title clearfix">
<h4 class="title-12 fl-left"><span class="purple-color">COST </span>PERCENTAGE JOINING BONUS</h4>
<div class="chart-icons">
    <span class="material-icons zoom-out-icon" (click)="isClassZoom12 = !isClassZoom12;">zoom_out_map</span>
    <span class="material-icons zoom-in-icon" (click)="isClassZoom12 = !isClassZoom12;">fullscreen_exit</span>
    <span class="material-icons more-icon menu-click" (click)="isClassVisible12 = !isClassVisible12;">more_vert</span>
    <!-- Menu style -->
    <div class="{{displayClass}}" [ngClass]="{'openmodal': isClassVisible12}">
        <div class="module-true displayBlock" (click)="isClassVisible12 = !isClassVisible12;"></div>
    </div>
    <div class="menu-style menu-style-3" [ngClass]="{'openmodal': isClassVisible12}">
        <span class="material-icons close" (click)="isClassVisible12 = !isClassVisible12;">close</span>
        <ul class="list-reset dropdown-menu">
            <li><a href="#">Export as Excel</a></li>
            <li><a href="#">Download as PDF</a></li>
            <li><a href="#">Remove Graph</a></li>
            <li><a href="#">Share via Email</a></li>
        </ul>
    </div>
    <!-- \\ End Menu style -->
</div>
</div>
<div class="dropdown-block clearfix">
<ul class="list-reset">
    <li class="dropdown">
        <a href="#" class="dropdown-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="text-dropdown">DIVISIONS/DEPT</span><span class="mdi mdi-chevron-down md24"></span></a>
        <ul class="list-reset dropdown-1 dropdown-style">
            <li><a href="#">Technology/HR</a></li>
            <li><a href="#">Technology/Sales</a></li>
            <li><a href="#">Consulting/Fin </a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="text-dropdown">START & END DATE</span><span class="mdi mdi-chevron-down md24"></span></a>
        <ul class="list-reset dropdown-1 dropdown-style">
            <li><a href="#">16th Sep-30th Sep</a></li>
            <li><a href="#">1st Sep-15th Sep</a></li>
            <li><a href="#">16th Aug-31st Aug</a></li>
        </ul>
    </li>
</ul>
</div>
<div class="chart-block text-center">
<img src="./assets/images/chart_ds13.jpg" alt="" class="chart-img" />
</div>
</div>
</div>
<!--  \\ End Chart 14-->
<!--  Chart 15-->

<!--  \\ End Chart 15-->
<!--  Chart 16-->

<!--  \\ End Chart 16-->
<!--  Chart 17-->

<!--  \\ End Chart 17-->
</div>
    <!-- \\ End Dashboard Section Card-->
    <div class="dashboard-bottom">
        <div class="site-width">
            <ul class="list-reset">
                <li><a href="#"><span class="dashboard-icon dashboard-icon01"></span>Predictive</a>
                    <ul class="list-reset add-data-dashboard">
                        <li class="selected">
                            <div class="checkbox label-light">
                              <input type="checkbox" class="" id="Cost" value="Cost"/>
                              <label for="Cost" class="control-label">Cost (2)</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox label-light">
                              <input type="checkbox" class="" id="Salary" value="Salary"/>
                              <label for="Salary" class="control-label">Salary Hike</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox label-light">
                              <input type="checkbox" class="" id="Percentage" value="Percentage"/>
                              <label for="Percentage" class="control-label">Percentage Joining Bonus</label>
                            </div>
                        </li>
                        <li class="active">
                            <div class="checkbox label-light">
                              <input type="checkbox" class="" id="Notice" value="Notice"/>
                              <label for="Notice" class="control-label">Percentage Notice Period Buyout</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox label-light">
                              <input type="checkbox" class="" id="Person" value="Person"/>
                              <label for="Person" class="control-label">Per Person Cost</label>
                            </div>
                        </li>
                    </ul>
                </li>
                <li><a href="#"><span class="dashboard-icon dashboard-icon02"></span>Efficiency</a>
                    <ul class="list-reset add-data-dashboard">
                        <li class="selected">
                            <div class="checkbox label-light">
                              <input type="checkbox" class="" id="Cost" value="Cost"/>
                              <label for="Cost" class="control-label">Cost (2)</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox label-light">
                              <input type="checkbox" class="" id="Salary" value="Salary"/>
                              <label for="Salary" class="control-label">Salary Hike</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox label-light">
                              <input type="checkbox" class="" id="Percentage" value="Percentage"/>
                              <label for="Percentage" class="control-label">Percentage Joining Bonus</label>
                            </div>
                        </li>
                        <li class="active">
                            <div class="checkbox label-light">
                              <input type="checkbox" class="" id="Notice" value="Notice"/>
                              <label for="Notice" class="control-label">Percentage Notice Period Buyout</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox label-light">
                              <input type="checkbox" class="" id="Person" value="Person"/>
                              <label for="Person" class="control-label">Per Person Cost</label>
                            </div>
                        </li>
                    </ul>
                </li>
                <li><a href="#"><span class="dashboard-icon dashboard-icon03"></span>Cost</a>
                    <ul class="list-reset add-data-dashboard">
                        <li class="selected">
                            <div class="checkbox label-light">
                              <input type="checkbox" class="" id="Cost" value="Cost"/>
                              <label for="Cost" class="control-label">Cost (2)</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox label-light">
                              <input type="checkbox" class="" id="Salary" value="Salary"/>
                              <label for="Salary" class="control-label">Salary Hike</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox label-light">
                              <input type="checkbox" class="" id="Percentage" value="Percentage"/>
                              <label for="Percentage" class="control-label">Percentage Joining Bonus</label>
                            </div>
                        </li>
                        <li class="active">
                            <div class="checkbox label-light">
                              <input type="checkbox" class="" id="Notice" value="Notice"/>
                              <label for="Notice" class="control-label">Percentage Notice Period Buyout</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox label-light">
                              <input type="checkbox" class="" id="Person" value="Person"/>
                              <label for="Person" class="control-label">Per Person Cost</label>
                            </div>
                        </li>
                    </ul>
                </li>
                <li><a href="#"><span class="dashboard-icon dashboard-icon04"></span>Mix</a>
                    <ul class="list-reset add-data-dashboard">
                        <li class="selected">
                            <div class="checkbox label-light">
                              <input type="checkbox" class="" id="Cost" value="Cost"/>
                              <label for="Cost" class="control-label">Cost (2)</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox label-light">
                              <input type="checkbox" class="" id="Salary" value="Salary"/>
                              <label for="Salary" class="control-label">Salary Hike</label>
                            </div>
                        </li>
                        <li class="active">
                            <div class="checkbox label-light">
                              <input type="checkbox" class="" id="Percentage" value="Percentage"/>
                              <label for="Percentage" class="control-label">Percentage Joining Bonus</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox label-light">
                              <input type="checkbox" class="" id="Notice" value="Notice"/>
                              <label for="Notice" class="control-label">Percentage Notice Period Buyout</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox label-light">
                              <input type="checkbox" class="" id="Person" value="Person"/>
                              <label for="Person" class="control-label">Per Person Cost</label>
                            </div>
                        </li>
                    </ul>
                </li>
                <li><a href="#"><span class="dashboard-icon dashboard-icon05"></span>Experience</a>
                    <ul class="list-reset add-data-dashboard">
                        <li class="selected">
                            <div class="checkbox label-light">
                              <input type="checkbox" class="" id="Cost" value="Cost"/>
                              <label for="Cost" class="control-label">Cost (2)</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox label-light">
                              <input type="checkbox" class="" id="Salary" value="Salary"/>
                              <label for="Salary" class="control-label">Salary Hike</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox label-light">
                              <input type="checkbox" class="" id="Percentage" value="Percentage"/>
                              <label for="Percentage" class="control-label">Percentage Joining Bonus</label>
                            </div>
                        </li>
                        <li class="active">
                            <div class="checkbox label-light">
                              <input type="checkbox" class="" id="Notice" value="Notice"/>
                              <label for="Notice" class="control-label">Percentage Notice Period Buyout</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox label-light">
                              <input type="checkbox" class="" id="Person" value="Person"/>
                              <label for="Person" class="control-label">Per Person Cost</label>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="dashboard-mobile">
                <a href="#" class="add-more"><span class="material-icons">arrow_back</span>add more data to the dashboard</a>
                <button class="btn btn-white fl-right">SAVE DASHBOARD</button>
                <span class="material-icons close">close</span>
            </div>
        </div>
    </div>
<!-- \\ End Section Content -->