.session-block{
    width:480px;
    left:50%;
    margin:100px 0 0 -240px; 
    position: relative;   
}
.session-block .card-block{
    width: 100%;
    float: none;
}
.session-block .card-block-inner{
	background-color:#fff;
	border-radius:6px;
	margin:20px;
    padding:30px 20px;
	position:relative;
	-webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.07);
			box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.07);
}
.session-block .material-icons{
    display: block;
    font-size: 50px;
    color:#a8407f;
    text-align: center;
    padding-bottom:20px;
}
.session-text{
    color:#a8407f;
    display: block;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    text-transform: capitalize;
}
.session-text .link{
    display: block;
    color:#a8407f;
}