<div class="session-block" style="z-index:100000000000000 !important">
  <div class="card-block">
    <div class="card-block-inner clearfix">
      <span class="material-icons">timer_off</span>
      <span class="session-text">session expired! <span> <br/>please <a href="/">click here</a> to login again!</span></span>
    </div>
  </div>
</div>