<!--  Fitment parameters Toggle  -->
<div class="sub-toggle clearfix {{toggleOpen?'sub-toggle-open':'sub-toggle-close'}}">
    <div class="sub-toggle-title">
        <h2 class="title-12 purple-color fl-left">{{'candidate.hiring_process.fitmentParameters' | translate}} </h2>
        <span class="material-icons keyboard_arrow_up fl-right" (click)="toggleDiv()"></span>
    </div>
    <div class="sub-toggle-containt" *ngIf="toggleOpen">
        <form [formGroup]="parameterForm">
            <!-- salary bins & Fitment Parameters -->
            <div class="candidate-tab-detail-block outer-border-bot" *ngIf="security?.fitmentSalaryBinRendered">
                <h3 class="title-12">{{security?.fitmentSalaryBinLabel}}</h3>
                <div class="candidate-tab-detail-inner clearfix">
                    <div class="form-group row2 mgn-btm-0">
                        <div class="col-md-4 col-md-4-padding10 input-field" *ngIf="security?.fitmentMinCTCRendered">
                            <label class="control-label">{{security?.fitmentMinCTCLabel}}
                                <span *ngIf="security?.fitmentMinCTCRequired">*</span>
                            </label>
                            <input type="text" class="form-control" formControlName="minCTC" name="minCTC" placeholder="{{'common.label.enter' | translate}}" disabled="true">
                        </div>
                        <div class="col-md-4 col-md-4-padding10 input-field" *ngIf="security?.fitmentMaxCTCRendered">
                            <label class="control-label">{{security?.fitmentMaxCTCLabel}}
                                <span *ngIf="security?.fitmentMaxCTCRequired">*</span>
                            </label>
                            <input type="text" class="form-control" formControlName="maxCTC" name="maxCTC" placeholder="{{'common.label.enter' | translate}}" disabled="true">
                        </div>
                        <div class="col-md-4 col-md-4-padding10 input-field" *ngIf="security?.fitmentAverageCTCRendered">
                            <label class="control-label">{{security?.fitmentAverageCTCLabel}}
                                <span *ngIf="security?.fitmentAverageCTCRequired">*</span>
                            </label>
                            <input type="text" class="form-control" formControlName="averageCTC" name="averageCTC" placeholder="{{'common.label.enter' | translate}}" disabled="true">
                        </div>
                        <div class="col-md-4 col-md-4-padding10 input-field" *ngIf="security?.fitmentFinanceBudgetRendered">
                            <label class="control-label">{{security?.fitmentFinanceBudgetLabel}}
                                <span *ngIf="security?.fitmentFinanceBudgetRequired">*</span>
                            </label>
                            <input type="text" class="form-control" formControlName="financeBudget" name="financeBudget" placeholder="{{'common.label.enter' | translate}}" disabled="true">
                        </div>
                    </div>
                </div>
            </div>
            <!-- \\ End salary bins & Fitment Parameters -->
            <!-- salary stack calculation - current salary -->
            <div class="candidate-tab-detail-block outer-border-bot" *ngIf="security?.fitmentSalaryStackRendered">
                <h3 class="title-12">{{security?.fitmentSalaryStackLabel}}</h3>
                <div class="salary-stack-calculation clearfix">
                    <!-- current salary -->
                    <div class="current-salary">
                        <h3 class="title-12">{{'candidate.hiring_process.currentSalary' | translate}}</h3>
                        <div class="form-group row2 mgn-btm-0">
                            <div class="col-md-6 col-md-4-padding10 input-field" *ngIf="security?.fitmentCurrentCurrencyRendered">
                                <label class="control-label">{{security?.fitmentCurrentCurrencyLabel}}
                                    <span *ngIf="security?.fitmentCurrentCurrencyRequired">*</span>
                                </label>
                                <div class="dropdown-11 list-block">
                                    <alt-custom-single-select #CURRENCYRANGE [srcTag]="'CURRENCYRANGETAG'" (clickToClose)="CURRENCYRANGE.toggleClose()" [inputList]="currencyList"
                                        [value]="parameterForm.controls.currentCurrency.value" placeholder="{{'common.label.select' | translate}}" (valueBind)="parameterForm.controls['currentCurrency'].setValue($event.value)">
                                    </alt-custom-single-select>
                                </div>
                            </div>
                            <div class="col-md-6 col-md-4-padding10 input-field" *ngIf="security?.fitmentCurrentFixedPayRendered">
                                <label class="control-label">{{security?.fitmentCurrentFixedPayLabel}}
                                    <span *ngIf="security?.fitmentCurrentFixedPayRequired">*</span>
                                </label>
                                <input type="text" class="form-control" formControlName="currentFixedPay" name="currentFixedPay" placeholder="{{'common.label.enter' | translate}}" 
                                (keypress)="decimalValuesKeyPress($event)" (paste)="pasteValue($event)"
                                [attr.disabled]="security?.fitmentCurrentFixedPayDisabled?'disabled':null">
                            </div>
                            <div class="col-md-6 col-md-4-padding10 input-field" *ngIf="security?.fitmentCurrentVariablePayRendered">
                                <label class="control-label">{{security?.fitmentCurrentVariablePayLabel}}
                                    <span *ngIf="security?.fitmentCurrentVariablePayRequired">*</span>
                                </label>
                                <input type="text" class="form-control" formControlName="currentVariablePay" name="currentVariablePay" placeholder="{{'common.label.enter' | translate}}" 
                                (keypress)="decimalValuesKeyPress($event)" (paste)="pasteValue($event)"
                                [attr.disabled]="security?.fitmentCurrentVariablePayDisabled?'disabled':null">
                            </div>
                            <div class="col-md-6 col-md-4-padding10 input-field" *ngIf="security?.fitmentCurrentAnnualGrossRendered">
                                <label class="control-label">{{security?.fitmentCurrentAnnualGrossLabel}}
                                    <span *ngIf="security?.fitmentCurrentAnnualGrossRequired">*</span>
                                </label>
                                <input type="text" class="form-control" formControlName="currentAnnualGross" name="currentAnnualGross" placeholder="{{'common.label.enter' | translate}}"
                                (keypress)="decimalValuesKeyPress($event)" (paste)="pasteValue($event)"
                                [attr.disabled]="security?.fitmentCurrentAnnualGrossDisabled?'disabled':null">
                                <div *ngIf="parameterForm.controls.currentAnnualGross.hasError('pattern')">sdfsfsdfsdf</div>
                            </div>
                        </div>
                    </div>
                    <!-- \\ End current salary -->
                    <!-- offered salary -->
                    <div class="offered-salary">
                        <h3 class="title-12">{{'candidate.hiring_process.offeredSalary' | translate}}</h3>
                        <div class="form-group row2 mgn-btm-0">
                            <div class="col-md-6 col-md-4-padding10 input-field" *ngIf="security?.fitmentOfferedCurrencyRendered">
                                <label class="control-label">{{security?.fitmentOfferedCurrencyLabel}}
                                    <span *ngIf="security?.fitmentOfferedCurrencyRequired">*</span>
                                </label>
                                <div class="dropdown-11 list-block">
                                    <alt-custom-single-select #CURRENCYRANGE [srcTag]="'CURRENCYRANGETAG'" (clickToClose)="CURRENCYRANGE.toggleClose()" [inputList]="currencyList"
                                        [value]="parameterForm.controls.offeredCurrency.value" placeholder="{{'common.label.select' | translate}}" (valueBind)="parameterForm.controls['offeredCurrency'].setValue($event.value)">
                                    </alt-custom-single-select>
                                </div>
                            </div>
                            <div class="col-md-6 col-md-4-padding10 input-field" *ngIf="security?.fitmentOfferedFixedPayRendered">
                                <label class="control-label">{{security?.fitmentOfferedFixedPayLabel}}
                                    <span *ngIf="security?.fitmentOfferedFixedPayRequired">*</span>
                                </label>
                                <input type="text" class="form-control" formControlName="offeredFixedPay" name="offeredFixedPay" placeholder="{{'common.label.enter' | translate}}" 
                                (keypress)="decimalValuesKeyPress($event)" (paste)="pasteValue($event)"
                                [attr.disabled]="security?.fitmentOfferedFixedPayDisabled?'disabled':null">
                            </div>
                            <div class="col-md-6 col-md-4-padding10 input-field" *ngIf="security?.fitmentOfferedVariablePayRendered">
                                <label class="control-label">{{security?.fitmentOfferedVariablePayLabel}}
                                    <span *ngIf="security?.fitmentOfferedVariablePayRequired">*</span>
                                </label>
                                <input type="text" class="form-control" formControlName="offeredVariablePay" name="offeredVariablePay" placeholder="{{'common.label.enter' | translate}}" 
                                (keypress)="decimalValuesKeyPress($event)" (paste)="pasteValue($event)"
                                [attr.disabled]="security?.fitmentOfferedVariablePayDisabled?'disabled':null">
                            </div>
                            <div class="col-md-6 col-md-4-padding10 input-field" *ngIf="security?.fitmentOfferedAnnualGrossRendered">
                                <label class="control-label">{{security?.fitmentOfferedAnnualGrossLabel}}
                                    <span *ngIf="security?.fitmentOfferedAnnualGrossRequired">*</span>
                                </label>
                                <input type="text" class="form-control" formControlName="offeredAnnualGross" name="offeredAnnualGross" placeholder="{{'common.label.enter' | translate}}"
                                (keypress)="decimalValuesKeyPress($event)" (paste)="pasteValue($event)"
                                [attr.disabled]="security.fitmentOfferedAnnualGrossDisabled?'disabled':null">
                            </div>
                        </div>
                    </div>
                    <!-- \\ End offered salary -->
                </div>
            </div>
            <!-- \\ End salary stack calculation -->
            <!-- inputs required -->
            <div class="candidate-tab-detail-block outer-border-bot" *ngIf="security?.fitmentInputsRequiredRendered">
                <h3 class="title-12">{{security?.fitmentInputsRequiredLabel}}</h3>
                <div class="candidate-tab-detail-inner clearfix">
                    <div class="form-group row2 mgn-btm-0">
                        <div class="col-md-4 col-md-4-padding10 input-field" *ngIf="security?.fitmentPayStructureRendered">
                            <label class="control-label">{{security?.fitmentPayStructureLabel}}
                                <span *ngIf="security?.fitmentPayStructureRequired">*</span>
                            </label>
                            <alt-custom-single-select #PAYSTRUCTURERANGENEW [srcTag]="'PAYSTRUCTURERANGENEWTAG'" 
                                (clickToClose)="PAYSTRUCTURERANGENEW.toggleClose()"
                                [inputList]="paystructureList" placeholder="{{'common.label.select' | translate}}" 
                                (valueBind)="parameterForm.controls['paystructure'].setValue($event.label); updatePaystructure($event);"
                                valueBindType="label" [value]="parameterForm.controls.paystructure.value" [searchEnable]="true" [isDisabled]="isPaystructurePolicyEnabled()">
                            </alt-custom-single-select>
                        </div>

                        <div class="col-md-4 col-md-4-padding10 input-field" *ngIf="security?.fitmentHikePercentageRendered">
                            <label class="control-label">{{security?.fitmentHikePercentageLabel}}
                                <span *ngIf="security?.fitmentHikePercentageRequired">*</span>
                            </label>
                            <input type="text" class="form-control" formControlName="hikePercentage" name="hikePercentage" placeholder="0" disabled="true">
                        </div>                   
                    </div>
                </div>
            </div>
            <!-- \\ End inputs required -->
            <div class="btn-row-2 fl-right">
                    <alt-spinner-button (myEvent)="saveFitmentDetails();" [spinner]="fitment" [spinnerdisabled]="fitment" [text]="paramterLabel"></alt-spinner-button>
            </div>
        </form>
    </div>
</div>
<!-- \\ End Fitment parameters Toggle -->