 <!-- Section filter -->
    <!--<alt-candidate-filter>
    </alt-candidate-filter>-->
    <!-- \\ End Section filter -->
    <div class="jobs-listing clearfix">
        <alt-candidate-list>
        </alt-candidate-list>
	</div>
 