<alt-educational-qualification-loader *ngIf="educationLoader == 'loader'"></alt-educational-qualification-loader>
<ng-container *ngIf="educationLoader == 'data' || educationLoader == 'nodata' ">
    <div class="panel-heading clearfix" *ngIf="security?.educationSectionRendered">
        <h2 class="panel-title fl-left">{{security?.educationSectionLabel | formatCapitalize}}</h2>
    </div>
    <div *ngIf="educationLoader == 'nodata'">
        <div class="panel-body">
            <span class="panel-col panel-col1 text-description">{{'common.label.noDataAvailable' | translate}}</span>
        </div>
    </div>
    <div class="panel-body" *ngIf="security?.educationSectionRendered && EducationData?.length>0">
        <div *ngFor="let data of EducationData; let i= index;">
            <div class="panel-row clearfix" *ngIf="security?.degreeRendered">
                <span class="panel-col panel-col1">{{security?.degreeLabel}}</span>
                <span class="panel-col text-bold-cell">{{data.degree}}</span>
            </div>
            <div class="panel-row clearfix" *ngIf="security?.instituteRendered">
                <span class="panel-col panel-col1">{{security?.instituteLabel}}</span>
                <span class="panel-col text-bold-cell">{{data.institute}}</span>
            </div>
            <div class="panel-row clearfix" *ngIf="security?.startDateRendered">
                <span class="panel-col panel-col1">{{security?.startDateLabel}}</span>
                <span class="panel-col text-bold-cell">{{data.startDate}}</span>
            </div>
            <div class="panel-row clearfix" *ngIf="security?.endDateRendered">
                <span class="panel-col panel-col1">{{security?.endDateLabel}}</span>
                <span class="panel-col text-bold-cell">{{data.endDate}}</span>
            </div>
            <div class="panel-row clearfix" *ngIf="security?.gradePercentageRendered">
                <span class="panel-col panel-col1">{{security?.gradePercentageLabel}}</span>
                <span class="panel-col text-bold-cell">{{data.percentage}}</span>
            </div>
            <div class="divider divider-pad clearfix" *ngIf="i != EducationData.length - 1"></div>
        </div>
    </div>
</ng-container>