<div class="popup-custome-section">
  <div class="popup-top-sm clearfix" mat-dialog-title>
    <h1 class="title">Change Status To {{finalJobStatusText}}</h1>
    <span class="material-icons close" (click)="dialogRef.close('Cancel')">close</span>
  </div>
  <form [formGroup]="userCommentInfo">
    <div class="vertical-scroll-ng" mat-dialog-content>
      <div class="popup-inner padding-b0 padding-tnone">
          <div class="form-group"> 
              <label class="control-label clearfix">comment</label>
              <textarea class="form-control jobDiscriptionTextarea noresize" placeholder="Start typing..." formControlName="userComment"></textarea>
          </div> 
      </div>
    </div>
  </form>
  <div class="btn-row text-right" mat-dialog-actions>
    <a href="javascript:void(0)" class="btn btn-white" (click)="dialogRef.close('Cancel')">Cancel</a>
    <a href="javascript:void(0)" class="btn btn-primary" (click)="submitComment()">Submit</a>
  </div>
</div>