<div class="popup-custome-section">
  <div class="popup-top clearfix" mat-dialog-title>
    <h2 class="title-sub">{{reportData.reportName}} : Filters</h2>
    <span class="material-icons close" (click)="dialogRef.close()">close</span>
  </div>
  <div class="notification-bar {{severityClass}} {{showClass}}" *ngIf="message?.length > 0">
      <span class="material-icons successful-icon">check_circle</span>
      <div class="notification-text-outer">
          <span class="notification-text">{{message}}</span>
      </div>
      <span class="material-icons close" (click)="clearMessages()">close</span>
  </div>
  <alt-report-generation-loader *ngIf="showLoader"></alt-report-generation-loader>
  <div class="" *ngIf="!showLoader" >
    <div class="popup-inner form-item-popup minHeight350 ver-height400 clearfix" slimScroll>
      <div class="form_outer">
        <div class="row">
          <form>
            <div class="form-group row2 mgn-btm-0">
              <ng-container *ngFor="let data of filterList; let index=index;">
                <div [ngSwitch]="true">
                  <div class="col-md-6 input-field" *ngSwitchCase="data.showtextBox == true">
                    <label class="control-label clearfix">{{data.paramName}}
                      <span *ngIf="(data.mandatory)">*</span>
                    </label>
                    <input type="text" class="form-control" [value]="data.selectedText" (change)="data.selectedText=$event.target.value" />
                  </div>
                  <div class="col-md-6 input-field" *ngSwitchCase="data.showDateCalendar == true">
                    <label class="control-label clearfix">{{data.paramName}}
                      <span *ngIf="(data.mandatory)">*</span>
                    </label>
                    <div class="row">
                      <div class="datepicker-col">
                        <alt-datepicker [styleClass]="'datepicker-report-2'" class="dropdown-calendar dropdown-calendar-grey" [type]="'date'" [mode]="'landscape'"
                          [value]="data.selectedDate" (change)="dateChangeListener($event,data)"></alt-datepicker>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 input-field" *ngSwitchCase="data.showSingleSelectMenu == true">
                    <label class="control-label clearfix">{{data.paramName}}
                      <span *ngIf="(data.mandatory)">*</span>
                    </label>
                    <div class="dropdown-11 list-block">
                      <alt-custom-single-select #LISTCOMPONENT [srcTag]="'LISTCOMPONENTTAG'" (clickToClose)="LISTCOMPONENT.toggleClose()" [inputList]="data.options"
                        placeholder="{{'common.label.select' | translate}}" (valueBind)="data.selectedOption=$event;"
                        [searchEnable]="true">
                      </alt-custom-single-select>
                    </div>
                  </div>
                  <div class="col-md-6 input-field" *ngSwitchCase="data.showMultiSelectMenu == true">
                    <label class="control-label clearfix">{{data.paramName}}
                      <span *ngIf="(data.mandatory)">*</span>
                    </label>
                    <div class="dropdown-11 list-block auto-select select-applied-outer">
                      <alt-select [options]="data.options" [multiple]="true" placeholder="{{'common.label.select' | translate}}" [allowClear]="true" (selected)="onSelectedList(data, $event)" (deselected)="onDeselectedList(data , $event)">
                      </alt-select>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-row text-right" mat-dialog-actions>
      <alt-spinner-button (myEvent)="generateReport();" [spinner]="generated" [spinnerdisabled]="generated" [text]="label"></alt-spinner-button>
  </div>
</div>