<div class="main-title-row margin-r280">
  <h1 class="main-title">{{'report.label.title' | translate}}</h1>
</div>
<div class="table-scroll-custome horizontal-scrollbox">
  <div class="table-download table-outer">
    <div class="table-responsive">
      <table class="table document-table">
        <thead>
          <tr>
            <th class="table-cell-1">#</th>
            <th class="table-cell-3">{{'report.label.reportName' | translate}}</th>
            <th class="table-cell-4">{{'report.label.type' | translate}}</th>
            <th class="table-cell-5">{{'report.label.description' | translate}}</th>
            <th class="table-cell-6  option-cell">{{'report.label.options' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of reportList; let i = index;">
            <td class="table-cell-1">{{i+1}}</td>
            <td class="table-cell-3 font-bold">{{data.reportName}}</td>
            <td class="table-cell-4">{{data.moduleName}}</td>
            <td class="table-cell-5">{{data.reportDescription}}</td>
            <td class="table-cell-6 option-cell" (click)="generateReportList(data)" gaevent="Reports#Generate Report#click">
              <span class="text-uppercase link">{{'report.label.generate' | translate}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>