<div class="content-block accordion-content clearfix black-gray">
    <ul class="list-reset accordion-listing">
        <li class="accordion-item">
            <div class="accordion-row">
                <span class="accordion-text">
                    <div class="loading-line left"></div>
                </span>
                <span class="accordion-reg width-70">
                    <div class="loading-line left"></div>
                </span>
            </div>
            <div class="accordion-row">
                <span class="accordion-text">
                    <div class="width-100 loading-line left"></div>
                    <div class="width-50 mgn-t4 loading-line left"></div>
                </span>
            </div>
            <ul class="list-reset interviews-listing">
                <li>
                    <span class="material-icons accordion-icon">videocam</span>
                    <div class="accordion-details">
                        <div class="width-50 loading-line left"></div>
                        <div class="width-80 mgn-t4 loading-line left"></div>
                    </div>
                </li>
                <li>
                    <span class="material-icons accordion-icon">people</span>
                    <div class="accordion-details">
                        <div class="width-50 loading-line left"></div>
                        <div class="width-70 mgn-t4 loading-line left"></div>
                    </div>
                </li>
                <li class="last-child">
                    <span class="material-icons accordion-icon">phone</span>
                    <div class="accordion-details">
                        <div class="width-50 loading-line left"></div>
                        <div class="width-90 mgn-t4 loading-line left"></div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>