<alt-loader *ngIf="showloader"></alt-loader>
<div class="main-title-row">
    <h1 class="main-title" *ngIf="!isMyApplicants">{{'candidate.list.taggedCandidates' | translate}}</h1>
    <h1 class="main-title" *ngIf="isMyApplicants">{{'candidate.list.myApplicants' | translate}}</h1>
</div>
<!-- Section filter -->
<alt-filter filterType="TAGGED_CANDIDATE_LIST" [pageTitle]="this.pageTitle" (onSorted)="onSorted($event)" (onFilter)="onFilter($event)" (onDateFilter)="onDateFilter($event)"></alt-filter>
<!-- \\ End Section filter -->
<alt-candidates-tagged-blank-screen *ngIf="loaderIndicator == 'nodata'"></alt-candidates-tagged-blank-screen>
<div *ngIf="loaderIndicator == 'data' || loaderIndicator == 'loader'">
    <div class="jobs-listing clearfix">
        <div class="row">
            <div class="card-block card-3 search-block-section">
                <div class="card-block-inner card-bg-none">
                    <div class="input-group search-block" [formGroup]="queryFormGroup">
                        <input class="form-control" formControlName="query" placeholder="{{'candidate.list.searchCandidate' | translate}}" maxlength="30" />
                        <span class="input-group-btn">
                            <button class="btn material-icons dp20" type="submit">search</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="card-block card-3 card-bulk-actions">
                <div class="card-block-inner card-bg-none clearfix">
                    <div class="select-all-btn col-2">
                        <div class="select-all-btn-inner">
                            <div class="checkbox checkbox-inline">
                                <input type="checkbox" [(ngModel)]="selectAll" (change)="allSelectEvent()" class="styled" id="select" />
                                <label for="select" class="custome-label"> {{'common.label.selectAll' | translate}}  </label>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown dropdown-outer-2 col-2" [class.open]="isToggled">
                        <a href="JavaScript:Void(0);" class="bulk-actions" (click)="toggleClick()" (clickToClose)="toggleClickClosed()">
                            <span class="text-dropdown">{{'common.label.bulkActions' | translate}}</span>
                            <span class="mdi mdi-chevron-down md24"></span>
                        </a>
                        <ul class="list-reset dropdown-10 dropdown-style" *ngIf="isToggled">
                            <li>
                                <a (click)="openBulkAction('C');">{{'candidate.list.transferCandidates' | translate}}</a>
                            </li>
                            <!-- <li>
                                <a (click)="openBulkAction('U');" href="javascript:void" gaevent="ContextMenu#Bulk Untag Candidates#click">Untag Candidates</a>
                            </li> -->
                            <li>
                                <a (click)="openBulkAction('E');" href="javascript:void" gaevent="ContextMenu#Bulk Email Candidates#click">{{'candidate.list.emailCandidates' | translate}}</a>
                            </li>
                            <li>
                                <a (click)="openBulkAction('T');" href="javascript:void" gaevent="ContextMenu#Bulk Update Status#click">{{'candidate.list.updateStatus' | translate}}</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!--  Section Card-->
        <loader-indicator *ngIf="loaderIndicator == 'loader'"></loader-indicator>
        <div *ngIf="loaderIndicator == 'data'">
            <div class="table table-striped">
                <div class="row pagination-mobile">
                    <alt-paginator #PAGINATIONTOP [srcTag]="'PAGINATIONTOP'" (clickToClose)="PAGINATIONTOP.toggleClose()" [rowsPerPageTemplate]="'15,30,45'" [pageState]="pageState" [pageLoading]="pageLoading" (pageChange)="getPageNumber($event)"
                    *ngIf="data?.length > 0">{{'common.label.loading' | translate}}...</alt-paginator>
                </div>
                <div class="section-card clearfix">
                    <div class="title-lg padding-t50" *ngIf="data?.length <= 0">{{'common.label.noDataAvailable' | translate}}</div>
                    <!-- Card Block -->
                    <div class="card-block card-3" *ngFor="let item of data; let i = index">
                        <div class="card-block-inner">
                            <div class="card-top card-row clearfix">
                                <div class="check-box checkbox">
                                    <input type="checkbox" [disabled]="item.inReview || (item.requisitionStatus=='CLOSED') || (item.requisitionStatus == 'ONHOLD') || (item.requisitionStatus == 'CANCELLED')" [(ngModel)]="item.selected" [checked]="item.selected" class="styled" (change)="singleSelectEvent(item)">
                                    <label></label>
                                </div>

                                <alt-candidate-context-menu class="job-option" [candidateItemIndex]="i" [applicantStatusId]="item.applicantStatusID" [index]="i"
                                    [sourceType]="item.sourceType" [currentReqId]="item.requisitionId" [candidateId]="item.candidateId" [candidateName]="fullName(item)"
                                    [allowCopyMove]="item.allowCopyMove" [candidateCode]="item.candidateCode" [primaryEmail]="item.primaryEmail" [workflowID]="item.workflowID"
                                    [inReview]="item.inReview" [jobStatus]="item.requisitionStatus" [sendCPCredentials]="item.sendCPCredentials" [reSendCPCredentials]="item.reSendCPCredentials"
                                    [untagCandidateEnabled]="item.untagCandidateEnabled" (showloader)="showloader=$event">
                                </alt-candidate-context-menu>
                            </div>

                            <div class="card-row card-name-row">
                                <div class="image-block" *ngIf="item.profileImage !=null">
                                    <img src="{{item.profileImage}}" (error)="imageError(event, item)" alt="profile img" />
                                </div>
                                <div class="image-block" *ngIf=" item.profileImage ==null" [style.background]="randomcolor[i]">
                                    <span class="image-block-inner">{{(item.firstName!=null && item.firstName!=''? item.firstName.trim().charAt(0): '')+(item.lastName!=null
                                        && item.lastName!=''? item.lastName.charAt(0): '') | uppercase}}</span>
                                </div>
                                <!--<span class="material-icons flag-icon">flag</span>-->
                                <div class="title-cell">
                                    <h3 class="title" *ngIf="!item.inReview && (getLength(item.firstName)+getLength(item.middleName)+getLength(item.lastName))<=22">
                                        <a class="link" [routerLink]="['/candidate/edit-candidate-tagged', item.candidateCode | formatCandidatecodeParam,'candidate-tagged-overview']"
                                            [queryParams]="{ appid:item.applicantStatusID, jobCode:item.requisitionCode, jobTitle:item.jobTitle }">
                                            {{item.firstName | lowercasepipe}} {{item.middleName | lowercasepipe}} {{item.lastName | lowercasepipe}}
                                        </a>
                                    </h3>
                                    <h3 class="title text-nowrap-grad-white" *ngIf="!item.inReview && (getLength(item.firstName)+getLength(item.middleName)+getLength(item.lastName))>22" matTooltip="{{item.firstName}} {{item.middleName}} {{item.lastName}}">
                                        <a class="link" [routerLink]="['/candidate/edit-candidate-tagged', item.candidateCode | formatCandidatecodeParam,'candidate-tagged-overview']"
                                            [queryParams]="{ appid:item.applicantStatusID, jobCode:item.requisitionCode, jobTitle:item.jobTitle }">
                                            {{item.firstName | lowercasepipe}} {{item.middleName | lowercasepipe}} {{item.lastName | lowercasepipe}}
                                        </a>
                                    </h3>
                                    <h3 class="title" *ngIf="item.inReview && (getLength(item.firstName)+getLength(item.middleName)+getLength(item.lastName))<=22">
                                        {{item.firstName | lowercasepipe}} {{item.middleName | lowercasepipe}} {{item.lastName | lowercasepipe}}
                                    </h3>
                                    <h3 class="title text-nowrap-grad-white" *ngIf="item.inReview && (getLength(item.firstName)+getLength(item.middleName)+getLength(item.lastName))>22" matTooltip="{{item.firstName}} {{item.middleName}} {{item.lastName}}">
                                        {{item.firstName | lowercasepipe}} {{item.middleName | lowercasepipe}} {{item.lastName | lowercasepipe}}
                                    </h3>
                                    <ul class="list-reset listing-inline">
                                        <li class="text-uppercase" *ngIf="item.candidateCode">{{item.candidateCode}}</li>
                                        <li class="last-child" *ngIf="item.location != null && item.location.length <= 40">{{item.location.toLowerCase()}}</li>
                                        <li class="last-child" matTooltip="{{item.location | lowercasepipe}}" *ngIf="item.location != null && item.location.length > 40">{{item.location.toLowerCase() | stringTrim:40}}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-row card-designation-small">
                                <span class="job-status {{getJobStatusClass(item.requisitionStatus)}}"></span>
                                <div class="common-cell">
                                    <span class="name-cell font-bold text-nowrap-grad-white" matTooltip="{{item.jobTitle}}" *ngIf="item.jobTitle != null && item.jobTitle.length > 40">{{item.jobTitle | lowercasepipe}}</span>
                                    <span class="name-cell font-bold" *ngIf="item.jobTitle != null && item.jobTitle.length <= 40">{{item.jobTitle | lowercasepipe}}</span>
                                    <span class="job-code text-uppercase">{{item.requisitionCode}}</span>
                                </div>
                            </div>
                            <div class="card-row card-profile-row clearfix">
                                <div class="profile-completed">
                                    <div class="profile-graph">
                                        <!--<div class="c100 {{item.percentClass}}">-->
                                        <div class="c100 p{{item.profileCompletion}}">
                                            <div class="slice">
                                                <div class="bar"></div>
                                                <div class="fill"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="profile-graph-details">
                                        <!--<span class="profile-percent">{{getProfileCompletionPercentage(item)}}</span>-->
                                        <span class="profile-percent">{{item.profileCompletion}}%</span>
                                        <span class="text-cell">{{ 'candidate.candidate_overview.profileComplete' | translate}}</span>
                                    </div>
                                </div>
                                <div *ngIf="featureDataMap.get('PERCENT_MATCH') == 1 || featureDataMap.get('PERCENT_MATCH') == 2" class="profile-match">
                                    <ng-container >
                                        <div class="profile-graph" *ngIf="featureDataMap.get('PERCENT_MATCH') == 1 &&( item.profileMatch != null && item.profileMatch > 0)">
                                            <div class="c100 p{{item.profileMatch}} green">
                                                <div class="slice">
                                                    <div class="bar"></div>
                                                    <div class="fill"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="profile-graph" *ngIf="featureDataMap.get('PERCENT_MATCH') == 2 || (item.profileMatch == null || item.profileMatch == 0 )">
                                            <div class="c100 green">
                                                <div class="slice">
                                                    <div class="bar"></div>
                                                    <div class="fill"></div>
                                                </div>
                                            </div>
                                            <span *ngIf="featureDataMap.get('PERCENT_MATCH') == 1" class="profile-match-refresh material-icons" (click)="updateProfileMatch(item)">refresh</span>
                                        </div>
                                        <div class="profile-graph-details">
                                            <span *ngIf="featureDataMap.get('PERCENT_MATCH') == 1" class="profile-percent">{{item.profileMatch}}%</span>
                                            <span *ngIf="featureDataMap.get('PERCENT_MATCH') == 2" class="profile-percent">%</span>
                                            <span class="text-cell">{{'common.label.match' | translate}}</span>
                                        </div>
                                    </ng-container>
                                    
                                </div>
                            </div>
                            <div class="card-row ver-row clearfix">
                                <div class="background-ver text-nowrap-grad-white" *ngIf="!(item.inReview)">{{item.stageName}} :
                                    <span class="pending org" matTooltip="{{item.stageStatus}}"  *ngIf="item.stageStatus != null && item.stageStatus.length > 25">{{item.stageStatus}}</span>
                                    <span class="pending org" *ngIf="item.stageStatus != null && item.stageStatus.length < 25">{{item.stageStatus}}</span>
                                </div>
                                <div class="background-ver" *ngIf="(item.inReview)">{{'common.label.inReview' | translate}}
                                </div>

                                <div class="candidate-stages-bar-outer clearfix">
                                    <ul class="list-reset candidate-stages-bar" *ngIf="getWorkflowProgressBar(item.workflowID, item)">
                                        <ng-container *ngFor="let stage of item.stages; let i = index">
                                            <li [ngClass]="{'dot': true, 'green': i < indexOfStage(item.stageName, item.stages) && !item.inReview, 'org': (item.stageName === stage && item.stageStatusType !== 'DROPPED' && item.stageStatusType !== 'REJECTED') && !item.inReview, 'red': (item.stageName === stage && (item.stageStatusType === 'DROPPED' || item.stageStatusType === 'REJECTED' || item.stageStatusType === 'APPROVALREJECTED' || item.stageStatusType === 'C&amp;B REJECT')) && !item.inReview }"
                                                matTooltip="{{stage}}"></li>
                                            <li class="bar" *ngIf="i != item.stages?.length"></li>
                                        </ng-container>
                                    </ul>
                                </div>
                            </div>                            
                            <div class="card-row source-row clearfix">
                                <span class="rounded-block margin-r15">
                                    <img *ngIf="item.sysSourceType == 'RECRUITER'" src="./assets/images/svg/recruiter.svg" alt="recruiter">
                                    <img *ngIf="item.sysSourceType == 'VENDOR'" src="./assets/images/svg/vendor.svg" alt="vendor">
                                    <img *ngIf="item.sysSourceType == 'DIRECT'" src="./assets/images/svg/walk_in.svg" alt="walk-in">
                                    <img *ngIf="item.sysSourceType == 'CANDIDATE'" src="./assets/images/svg/candidate.svg" alt="candidate">
                                    <img *ngIf="item.sysSourceType == 'EMPLOYEE REFERRAL'" src="./assets/images/svg/employee_referal.svg" alt="Employee Referal">
                                    <img *ngIf="item.sysSourceType == 'Confirmation'" src="./assets/images/svg/confirmation.svg" alt="confirmation">
                                    <img *ngIf="item.sysSourceType == 'IJP REFERRAL'" src="./assets/images/svg/ijp.svg" alt="ijp">
                                    <img *ngIf="item.sysSourceType == 'SOCIAL MEDIA'" src="./assets/images/svg/social_media.svg" alt="social media">
                                    <img *ngIf="item.sysSourceType == 'JOB_BOARD' && item.sourceType != null && item.sourceType.toLowerCase() == 'naukri'" src="./assets/images/svg/naukri_portal.svg"
                                        alt="naukri">
                                    <img *ngIf="item.sysSourceType == 'JOB_BOARD' && item.sourceType != null && item.sourceType.toLowerCase() == 'monster'" src="./assets/images/svg/monster_job.svg"
                                        alt="monster">
                                    <img *ngIf="item.sysSourceType == 'JOB_BOARD' && item.sourceType != null && item.sourceType.toLowerCase() == 'shine'" src="./assets/images/svg/shine_job.svg"
                                    alt="Shine">
                                </span>
                                <div class="description-cell width35">
                                    <span class="text-cell">{{'common.label.source' | translate}}</span>
                                    <span class="text-bold-cell text-nowrap-grad-white" matTooltip="{{item.sourceType}}">{{item.sourceType}}</span>
                                </div>
                                <div class="description-cell width44">
                                    <span class="text-cell">{{'common.label.scName' | translate}} </span>
                                    <span class="text-bold-cell text-nowrap-grad-white" *ngIf="item.subSourceUserName!=null && item.subSourceUserName!=''" matTooltip="{{item.subSourceUserName}}">{{item.subSourceUserName}}</span>
                                    <span class="text-bold-cell" *ngIf="item.subSourceUserName==null || item.subSourceUserName==''">{{'common.label.na' | translate}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="btn-row mrg-lf-20" *ngIf="!item.inReview && (featureDataMap.get('HIRING_PROCESS') == 1) && !disableTakeAction">
                            <a [routerLink]="['/candidate/edit-candidate-tagged', item.candidateCode | formatCandidatecodeParam,'hiring-process']" [queryParams]="{ appid:item.applicantStatusID, jobCode:item.requisitionCode, jobTitle:item.jobTitle }"
                                class="btn btn-gray">{{'common.label.takeAction' | translate}} </a>
                        </div>
                        <div class="btn-row mrg-lf-20" *ngIf="!item.inReview && (featureDataMap.get('HIRING_PROCESS') != 1 && featureDataMap.get('CANDIDATE_OVERVIEW') == 1) && !disableTakeAction">
                                <a [routerLink]="['/candidate/edit-candidate-tagged', item.candidateCode | formatCandidatecodeParam,'candidate-tagged-overview']" [queryParams]="{ appid:item.applicantStatusID, jobCode:item.requisitionCode, jobTitle:item.jobTitle }"
                                    class="btn btn-gray">{{'common.label.takeAction' | translate}}</a>
                        </div>
                        <div class="btn-row mrg-lf-20" *ngIf="item.inReview">
                            <a [routerLink]="['/candidate/newcandidate', item.candidateCode | formatCandidatecodeParam]" class="btn btn-gray">{{'common.label.takeAction' | translate}}</a>
                        </div>
                        <div class="btn-row mrg-lf-20" *ngIf="disableTakeAction">
                                <a  class="disabled">{{'common.label.takeAction' | translate}}</a>
                            </div>

                    </div>
                    <!-- \\ End Card Block -->
                </div>
                <!--  Section Pagination-->
                <div class="pagination-mobile">
                    <div class="section-pagination pagination-bottom clearfix">
                        <alt-paginator #PAGINATIONBOT [srcTag]="'PAGINATIONBOT'" (clickToClose)="PAGINATIONBOT.toggleClose()" [rowsPerPageTemplate]="'15,30,45'" [pageState]="pageState" [pageLoading]="pageLoading" (pageChange)="getPageNumber($event)"
                            *ngIf="data?.length > 0">{{'common.label.loading' | translate}}...</alt-paginator>
                    </div>
                </div>
                <!-- \\ End Section Pagination-->
            </div>
        </div>
    </div>
</div>