<div class="popup-custome-section">
  <div class="notification-bar {{severityClass}}" *ngIf="messages.length > 0">
    <span class="material-icons successful-icon">check_circle</span>
    <div class="notification-text-outer">
      <span *ngFor="let message of messages" class="notification-text">{{message}}</span>
    </div>
    <span class="material-icons close" (click)="clearMessages()">close</span>
  </div>
  <div class="popup-top clearfix" mat-dialog-title>
    <h2 class="title-sub">Publish To Vendors</h2>
    <span class="material-icons close" (click)="cancel()">close</span>
  </div>
  <div class="vertical-scroll-ng" slimScroll mat-dialog-content>
    <div class="published-vendors-block padding15">
      <div class="job-published-accordion published-mng">
        <div class="input-group search-block" [formGroup]="vendorFormGroup">
          <input class="form-control" formControlName="vendorSearch" placeholder="Search Vendor Name..." type="text">
          <span class="input-group-btn">
            <button class="btn material-icons dp20" type="submit">search</button>
          </span>
        </div>
      </div>
      <span *ngIf="noResult"> No results</span>
      <div class="job-published-col clearfix" *ngIf="vendorTypes?.length > 0">
        <div class="check-box checkbox">
          <input id="allVendors" class="styled" type="checkbox" (click)="selectAllTheVendors()">
          <label class="text-uppercase" for="allVendors">select all</label>
        </div>
      </div>
      <div class="job-published-accordion {{vendorType.open?'open':''}} clearfix" *ngFor="let vendorType of vendorTypes; let vgi=index;">
        <div class="vendors-accordion-title {{vendorType.selectedCount>0?'selected':''}} clearfix">
          <div class="check-box checkbox fl-left">
            <input id="independent{{vgi}}" class="styled" type="checkbox" [checked]="vendorType.allSelected" [disabled]="vendorType.disableSelection"
              (click)="selectAllVendorsByVendorType(vendorType)">
            <label class="text-uppercase" for="independent{{vgi}}">{{vendorType.vendorType}}
              <span>({{vendorType.selectedCount}}/{{vendorType.totalCount}})</span>
            </label>
          </div>
          <div class="fl-right">
            <span class="clear-all" (click)="clearAllByVendorType(vendorType)">CLEAR ALL</span>
            <span class="mdi mdi-plus toggle-icon" (click)="toggleOpen(vendorType)"></span>
          </div>
        </div>
        <div class="vendors-accordion-content">
          <ul class="list-reset vendors-accordion-list">
            <ng-container *ngFor="let vendor of vendors; let vi=index;">
              <li *ngIf="vendor.vendorTypeIds.includes(vendorType.vendorTypeId) && vendor.searchDisplay" class="{{vendor.selected?'active':''}}">
                <div class="vendors-accordion-list-cell">
                  <div class="check-box checkbox">
                    <input id="{{vendorType.vendorTypeId + 'vi' + vi}}" class="styled" type="checkbox" [(ngModel)]="vendor.selected" [checked]="vendor.selected"
                      [disabled]="vendor.disabled">
                    <label class="text-uppercase" for="{{vendorType.vendorTypeId + 'vi' + vi}}">
                      <span class="rounded-block" [style.background]="vendor.bgColor">{{vendor.vendorName | initials:1}}</span>
                      <span class="lavel-vendor" *ngIf="vendor.vendorName.length > 35" matTooltip="{{vendor.vendorName}}">{{vendor.vendorName | stringTrim:35}}</span>
                      <span class="lavel-vendor" *ngIf="vendor.vendorName.length <= 35">{{vendor.vendorName}}</span>
                    </label>
                  </div>
                  </div>
              </li>
            </ng-container>
          </ul>
          </div>
        </div>
        <div class="job-published-accordion {{isOtherOpen?'open':''}} clearfix" *ngIf="showOtherVendors">
          <div class="vendors-accordion-title {{otherVendorSelectedCount > 0?'selected':''}} clearfix">
            <div class="check-box checkbox fl-left">
              <input id="gold" class="styled" type="checkbox" [checked]="allOtherSelected" (click)="selectAllOtherVendors()">
              <label class="text-uppercase" for="gold">other vendors
                <span>({{otherVendorSelectedCount}}/{{otherVendorTotalCount}})</span>
              </label>
            </div>
            <div class="fl-right">
              <span class="clear-all" (click)="clearAllOther()">CLEAR ALL</span>
              <span class="mdi mdi-plus toggle-icon" (click)="toggleOpenOther()"></span>
            </div>
          </div>
          <div class="vendors-accordion-content">
            <ul class="list-reset vendors-accordion-list">
              <ng-container *ngFor="let vendor of vendors; let vi=index;">
                <li *ngIf="isOtherVendor(vendor) && vendor.searchDisplay" class="{{vendor.selected?'active':''}}">
                  <div class="vendors-accordion-list-cell">
                    <div class="check-box checkbox">
                      <input id="other{{vi}}" class="styled" type="checkbox" [(ngModel)]="vendor.selected" [checked]="vendor.selected" [disabled]="vendor.disabled">
                      <label class="text-uppercase" for="{{'other'+vi}}">
                        <span class="rounded-block" [style.background]="vendor.bgColor">{{vendor.vendorName | initials:1}}</span>
                        <span class="lavel-vendor" *ngIf="vendor.vendorName.length > 35" matTooltip="{{vendor.vendorName}}">{{vendor.vendorName | stringTrim:35}}</span>
                        <span class="lavel-vendor" *ngIf="vendor.vendorName.length <= 35">{{vendor.vendorName}}</span>
                      </label>
                    </div>
                  </div>
                </li>
              </ng-container>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="btn-row text-right">
    <button type="button" class="btn btn-primary" (click)="publish()">publish</button>
  </div>