<div class="popup-custome-section">
    <div class="popup-top clearfix" mat-dialog-title>
  <h2 class="title-sub">Bulk Upload</h2> 
  <span class="material-icons close" (click)="dialogRef.close()">close</span>
  </div>
  <div class="vertical-scroll-ng" mat-dialog-content slimScroll>         
 <div class="popup-inner">
      <h3 *ngIf="unsupportedFiles != null && unsupportedFiles != ''" class="title-sub files-section">Following files cannot be uploaded due to unsupported file format 
      <span class="files-name">{{unsupportedFiles}}</span></h3>
      <h3 *ngIf="sizeNotSupportedFiles != null && sizeNotSupportedFiles != ''"  class="title-sub files-section">Following files cannot be uploaded as their size exceeds 2 MB
        <span class="files-name">{{sizeNotSupportedFiles}}</span></h3>
      <h3 class="title-sub files-section margin-bot-none">{{invalidFileCount}} Files will be parsed, do you still wish to proceed</h3>           
  </div>
</div>
<div class="btn-row text-right" mat-dialog-actions>
  <a href="javascript:void(0)" class="btn btn-white" (click)="dialogRef.close()">cancel</a>
  <a href="javascript:void(0)" class="btn btn-primary" (click)="contunueUpload()">continue</a>
</div>
</div>