<div class="panel-full">
    <div class="panel {{toggleOpen?'panel-open':''}}">
        <div class="panel-heading clearfix">
            <h2 class="panel-title fl-left text-capitalize"><span class="count_Icon">{{inputData.sequence}}</span>{{inputData.workflowStageName}}<span class="text-step-cell">{{inputData.actionLabel}}</span></h2>
            <div class="icon_group_right">
                <span class="mdi mdi-chevron-down" (click)="toggleDiv()"></span>
            </div>
        </div>
        <div class="panel-body" *ngIf="toggleOpen">
            
            <alt-initiate-ctq #INITIATECTQCOMPONENT *ngIf="newActionType === 'INITIATE_CTQ'"
                [jobCode]="jobCode"
            ></alt-initiate-ctq>

            <div class="form-group form-textarea" *ngIf="security?.commentRendered">
                <textarea class="form-control noresize" [formControl]="comment" placeholder="{{security?.commentLabel+(security?.commentRequired? '*': '')}}"
                    [attr.disabled]="security?.commentDisabled?'disabled':null"></textarea>
            </div>
            <div class="btn-row-2 btn-row-attachment clearfix">
                <div *ngIf="security?.attachmentRendered && !attachmentName" class="btn-file-custome" [ngClass]="security?.attachmentDisabled?'disabled-file':''">
                    <span class="link" ><span class="material-icons">attachment</span>{{security?.attachmentLabel+(security?.attachmentRequired?
                    '*': '')}}</span>
                    <input class="file-btn" type="file" id="file" name="file" (change)="uploadDocumentListener($event)" [attr.disabled]="security?.attachmentDisabled?'disabled':null"
                    />
                </div>
                <div *ngIf="attachmentName" class="document-name-here">
                    <span class="material-icons done">done</span>
                    <span class="font-bold doc-file-name">{{attachmentName}}</span>
                    <span class="material-icons fl-right cursor" (click)="deleteDocumentListener()">delete</span>
                    <span class="material-icons fl-right cursor" (click)="downloadDocumentListener()">file_download</span>
                </div>
                <div class="fl-right">
                    <div class="btn-for-mobile">
                        <div class="dropdown-11 select-black">
                            <alt-custom-single-select #SELECTEDSTATUS [srcTag]="'SELECTEDSTATUSTAG'" (clickToClose)="SELECTEDSTATUS.toggleClose()" [inputList]="statusLists"
                                [value]="selectedStatusID.value" placeholder="{{'common.label.chooseStatus' | translate}}" (valueBind)="statusChangeListener($event.value, $event.sysActionType)" [isDisabled]="screened || jobStatus">
                            </alt-custom-single-select>
                        </div>
                        <alt-spinner-button gaevent="Screening#Continue#click" (myEvent)="updateStatus();" [spinner]="screened" [spinnerdisabled]="screened || jobStatus" [text]="label"></alt-spinner-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>