<div class="candidate-detail-card">
  <div class="card-block">
    <div class="card-block-inner">
      <div class="candidate-detail-top clearfix">
        <div class="image-block">
          <div class="loading-line height-100"></div>
        </div>
        <div class="candidate-detail-top-right">
          <div class="candidate-detail-top-block">
            <div class="candidate-detail-title width-75">
              <div class="loading-line"></div>
            </div>
            <div class="social-block-footer">
              <a href="#" target="_blank" class="icon-smd">
                <div class="loading-line"></div>
              </a>
              <a href="#" target="_blank" class="icon-smd">
                <div class="loading-line"></div>
              </a>
              <a href="#" target="_blank" class="icon-smd">
                <div class="loading-line"></div>
              </a>
              <a href="#" target="_blank" class="icon-smd">
                <div class="loading-line"></div>
              </a>
            </div>
            <div class="candidate-opcation clearfix">
              <a href="#" class="loading-line width-10"></a>
              <a href="#" class="loading-line width-10"></a>
              <a href="#" class="loading-line width-10"></a>
              <a href="#" class="loading-line width-10"></a>
              <a href="#" class="loading-line width-10"></a>
            </div>
          </div>
          <div class="job-option">

            <a href="javascript:void(0)" class="menu-click"><span class="material-icons more-icon"><div class="loading-line width-30 pull-right height-24"></div></span></a>
            <!-- Menu style -->
            <div class="menu-style menu-style-2">
              <span class="material-icons close">close</span>
              <ul class="list-reset dropdown-menu">
                <li><a href="#"><span class="menu-style-icon edit-icon13">edit</span>Edit Job</a></li>
                <li><a href="#"><span class="menu-style-icon material-icons">label_outline</span>Untag Candidate</a></li>
                <li><a href="#"><span class="menu-style-icon material-icons">mail</span>Email Candidate</a></li>
                <li><a href="#"><span class="menu-style-icon material-icons">label_outline</span>Tag to Another Job</a></li>
                <li><a href="#"><span class="menu-style-icon move-question">open_with</span>Move to Another Job</a></li>
                <li><a href="#"><span class="menu-style-icon material-icons">content_copy</span>Copy to Another Job</a></li>
                <li><a href="#"><span class="menu-style-icon material-icons">content_copy</span>Copy Name</a></li>
              </ul>
            </div>
            <!-- \\ End Menu style -->
          </div>
        </div>
      </div>
      <div class="table-data candidate-detail-bottom">
        <ul class="list-reset table-data-ul">
          <li class="only-for-mobile">
            <div class="table-data-inner">
              <div class="candidate-opcation clearfix">
                <a href="#"><span class="material-icons dp18">file_download</span><span class="text-link">Download Resume</span></a>
                <a href="#"><span class="material-icons dp18">visibility</span><span class="text-link">View Resume</span></a>
                <a href="#"><span class="material-icons dp18">videocam</span><span class="text-link">Watch Resume</span></a>
                <a href="#"><span class="material-icons dp18">mail</span><span class="text-link">Email Candidate</span></a>
                <a href="#"><span class="material-icons dp18">phone</span><span class="text-link">Call Candidate</span></a>
              </div>
            </div>
          </li>
          <li>
            <div class="table-data-inner">
              <div class="loading-line"></div>
              <div class="loading-line width-50"></div>
            </div>
          </li>
          <li>
            <div class="table-data-inner">
              <div class="profile-completed">
                <div class="profile-graph">
                  <div class="loading-line circle-35"></div>
                </div>
                <div class="profile-graph-details">
                  <div class="loading-line width-40"></div>
                  <div class="loading-line width-80"></div>
                </div>
              </div>
              <div class="profile-match">
                <div class="profile-graph">
                  <div class="loading-line circle-35"></div>
                </div>
                <div class="profile-graph-details">
                  <div class="loading-line width-70"></div>
                  <div class="loading-line width-70"></div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="table-data-inner">
              <span class="rounded-block margin-r15"><div class="loading-line circle-35"></div></span>
              <div class="description-cell width35">
                <div class="loading-line width-60"></div>
                <div class="loading-line width-40"></div>
              </div>
              <div class="description-cell width44">
                <div class="loading-line width-60"></div>
                <div class="loading-line width-50"></div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>