<ng-container *ngIf="security?.salaryStackDisabled===false">
    <ng-container *ngIf="salarySecurity?.tabctcViewable">
        <!--  cost to company   -->
        <div class="table-fitment-disabled">
            <div class="item_list candidate-detail-field">
                <div class="candidate-tab-detail-block clearfix">
                    <h3 class="title-12 purple-color">{{'candidate.hiring_process.ctc' | translate}}</h3>
                    <div class="candidate-tab-detail-inner clearfix">
                        <div class="radio-block">
                            <div class="radio">
                                <input type="radio" id="formulaBasedID" value="FORMULA BASED" [formControl]="salaryEditType" (change)="salaryEditTypeChange()">
                                <label for="formulaBasedID">{{'candidate.hiring_process.formulaBased' | translate}}</label>
                            </div>
                            <div class="radio">
                                <input type="radio" id="freeTextID" value="FREE TEXT" [formControl]="salaryEditType" (change)="salaryEditTypeChange()">
                                <label for="freeTextID">{{'common.label.freeText' | translate}}</label>
                            </div>
                        </div>
                        <div class="form-group row2">
                            <div class="col-md-4 col-md-4-padding10" *ngIf="salaryEditType.value === 'FORMULA BASED' || salaryEditType.value === 'FREE TEXT'">
                                <label class="control-label clearfix">{{salarySecurity?.currencyLabel}}*</label>
                                <div class="row">
                                    <div class="col-md-12 input-field">
                                        <div class="dropdown-11 list-block">
                                            <alt-custom-single-select #CURRENCYRANGE [srcTag]="'CURRENCYRANGETAG'" (clickToClose)="CURRENCYRANGE.toggleClose()" [inputList]="currencyList"
                                                [value]="currency.value" placeholder="{{'common.label.select' | translate}}" (valueBind)="currency.setValue($event.value)"
                                                [searchEnable]="true" [isDisabled]="true">
                                            </alt-custom-single-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-md-4-padding10" *ngIf="salaryEditType.value === 'FORMULA BASED' || salaryEditType.value === 'FREE TEXT'">
                                <label class="control-label clearfix">{{salarySecurity?.paystructureLabel}}*</label>
                                <div class="row">
                                    <div class="col-md-12 input-field">
                                        <div class="dropdown-11 list-block">
                                            <alt-custom-single-select #PAYSTRUCTURERANGE [srcTag]="'PAYSTRUCTURERANGETAG'" (clickToClose)="PAYSTRUCTURERANGE.toggleClose()"
                                                [inputList]="paystructureList" [value]="paystructure.value" placeholder="{{'common.label.select' | translate}}"
                                                (valueBind)="paystructure.setValue($event.value);"
                                                [searchEnable]="true" [isDisabled]="true">
                                            </alt-custom-single-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-md-4-padding10" *ngIf="salaryEditType.value === 'FORMULA BASED'">
                                <label class="control-label clearfix">{{salarySecurity?.totalctcLabel}}*</label>
                                <div class="row">
                                    <div class="col-md-12 input-field no-spin">
                                        <input disabled type="text" class="form-control form-control-grey" [formControl]="maxSalary" (keypress)="decimalValuesKeyPress($event)"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-md-4-padding10" *ngIf="salaryEditType.value === 'FORMULA BASED'">
                                <label class="control-label clearfix">{{salarySecurity?.guaranteedctcLabel}}</label>
                                <div class="row">
                                    <div class="col-md-12 input-field no-spin">
                                        <input disabled type="number" min="0" class="form-control form-control-grey" [value]="guaranteedCTC" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-md-4-padding10" *ngIf="salaryEditType.value === 'FORMULA BASED'">
                                <label class="control-label clearfix">{{salarySecurity?.nonguaranteedctcLabel}}</label>
                                <div class="row">
                                    <div class="col-md-12 input-field no-spin">
                                        <input disabled type="number" min="0" class="form-control form-control-grey" [value]="nonGuaranteedCTC" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-md-4-padding10" *ngIf="salaryEditType.value === 'FORMULA BASED' || salaryEditType.value === 'FREE TEXT'">
                                <label class="control-label clearfix">{{salarySecurity?.effectivefromdateLabel}}*</label>
                                <div class="row">
                                    <div class="col-md-12 input-field datepicker-col">
                                        <alt-datepicker [styleClass]="'datepicker-common'" class="dropdown-calendar dropdown-calendar-grey" [type]="'date'" [mode]="'landscape'"
                                            #effectiveDateComp [switch]="dateSwitch" (change)="setEffectiveDate(effectiveDateComp.value)"
                                            [value]="effectiveDate.value" [disabled]="salaryFitmentStackResponse != undefined"></alt-datepicker>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div [ngClass]="{'btn-row-2 text-right':true, 'reset-row-btn':salaryFitmentStackResponse == undefined}" *ngIf="salaryEditType.value === 'FORMULA BASED' || salaryEditType.value === 'FREE TEXT' || salaryFitmentStackResponse!=undefined">
                        <button type="button" class="btn btn-white" (click)="resetComputeFields()">{{'common.label.reset' | translate}}</button>
                        <alt-spinner-button (myEvent)="compute();" [text]="salarySecurity?.computeLabel"></alt-spinner-button>                         
                    </div>
                </div>
            </div>
            <!-- \\ End cost to company  -->
            <!--  cost to company STACK   -->
            <div class="table-outer-fitment" *ngIf="costToCompanyStackVisible">
                <div class="section-table clearfix" *ngIf="salaryFitmentStackResponse != undefined">
                    <div class="table-scroll-custome">
                        <!-- GUARANTEED -->
                        <div class="table-outer" *ngFor="let res of salaryFitmentStackResponse">
                            <ng-container *ngIf="res.payComponent != null">
                                <h3 class="title-12">{{res.payGroupName}}</h3>
                                <table class="table document-table">
                                    <ng-container *ngFor="let payComponent of res.payComponent">
                                        <thead>
                                            <tr>
                                                <th *ngIf="salarySecurity?.paycomponentViewable" class="table-cell-1">{{payComponent.payComponentName}}</th>
                                                <!-- <th class="table-cell-2">&nbsp;</th> -->
                                                <th *ngIf="salarySecurity?.monthlyamountViewable" class="table-cell-3">{{payComponent.monthCtcAmount}} PM</th>
                                                <th *ngIf="salarySecurity?.annualamountViewable" class="table-cell-4">{{payComponent.yearCtcAmount}} PA</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let compBreakUp of payComponent.compBreakUp">
                                                <td *ngIf="salarySecurity?.paycomponentViewable" class="table-cell-1">{{compBreakUp.payCode}}</td>
                                                <!-- <td class="table-cell-2">(28*(CTC)/100/(1+32.56/100)/12*12)-((Basic)/12*12)</td> -->
                                                <td *ngIf="salarySecurity?.monthlyamountViewable" class="table-cell-3 no-spin">
                                                    <input type="text" class="form-control form-control-white" [value]="compBreakUp.monthlyAmount" (change)="updateAmountAdjustments($event,compBreakUp.payStructureCodeId,'monthly')"
                                                        [disabled]="compBreakUp.readOnly" (keypress)="decimalValuesKeyPress($event)"
                                                    />
                                                </td>
                                                <td *ngIf="salarySecurity?.annualamountViewable" class="table-cell-4 no-spin">
                                                    <input type="text" class="form-control form-control-white" [value]="compBreakUp.annualAmount" (change)="updateAmountAdjustments($event,compBreakUp.payStructureCodeId,'yearly')"
                                                        [disabled]="compBreakUp.readOnly" (keypress)="decimalValuesKeyPress($event)"
                                                    />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </ng-container>
                                </table>
                            </ng-container>
                            <table class="table document-table" *ngIf="res.payComponent === null">
                                <tbody>
                                    <tr class="total">
                                        <td *ngIf="salarySecurity?.paycomponentViewable" class="table-cell-1">{{res.payGroupName}} {{res.annotate}}</td>
                                        <td *ngIf="salarySecurity?.monthlyamountViewable" class="table-cell-3">{{res.monthCtcAmount}}</td>
                                        <td *ngIf="salarySecurity?.annualamountViewable" class="table-cell-4">{{res.yearCtcAmount}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <div class="table-outer">
                                <table class="table document-table">
                                    <tbody>
                                        <tr class="total">
                                            <td *ngIf="salarySecurity?.paycomponentViewable" class="table-cell-1">{{salarySecurity?.totalCtcAddLabel}} {{totalCTCAnnotate}}</td>
                                            <td *ngIf="salarySecurity?.monthlyamountViewable" class="table-cell-3">{{totalAmtMon}}</td>
                                            <td *ngIf="salarySecurity?.annualamountViewable" class="table-cell-4">{{totalAmtYr}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="table-outer">
                                <table class="table document-table">
                                    <thead>
                                        <tr class="total-ctc">
                                            <th *ngIf="salarySecurity?.paycomponentViewable" class="table-cell-1">{{salarySecurity?.grossHiddenMonthlyLabel}}</th>
                                            <th *ngIf="salarySecurity?.monthlyamountViewable" class="table-cell-3">{{totalAmtMonthWithoutHidden}}</th>
                                            <th *ngIf="salarySecurity?.annualamountViewable" class="table-cell-4">&nbsp;</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- \\ End cost to company STACK   -->
    </ng-container>
</ng-container>

<ng-container *ngIf="security?.salaryStackDisabled===true">
    <ng-container *ngIf="salarySecurity?.tabctcViewable">
        <!--  cost to company   -->
        <div class="fitment-input-filed">
            <div class="item_list candidate-detail-field">
                <div class="candidate-tab-detail-block clearfix">
                    <h3 class="title-12 purple-color">COST TO COMPANY (CTC)</h3>
                </div>
                <div class="candidate-tab-detail-inner clearfix">
                    <div class="radio-block">
                        <div class="radio">
                            <input type="radio" id="formulaBasedID" value="FORMULA BASED" [formControl]="salaryEditType" (change)="salaryEditTypeChange()">
                            <label for="formulaBasedID">FORMULA BASED</label>
                        </div>
                        <div class="radio">
                            <input type="radio" id="freeTextID" value="FREE TEXT" [formControl]="salaryEditType" (change)="salaryEditTypeChange()">
                            <label for="freeTextID">FREE TEXT</label>
                        </div>
                    </div>
                    <div class="form-group row2">
                        <div class="col-md-4 col-md-4-padding10" *ngIf="salaryEditType.value === 'FORMULA BASED' || salaryEditType.value === 'FREE TEXT'">
                            <label class="control-label clearfix">{{salarySecurity?.currencyLabel}}*</label>
                            <div class="row">
                                <div class="col-md-12 input-field">
                                    <div class="dropdown-11 list-block">
                                        <alt-custom-single-select #CURRENCYRANGE [srcTag]="'CURRENCYRANGETAG'" (clickToClose)="CURRENCYRANGE.toggleClose()" [inputList]="currencyList"
                                            [value]="currency.value" placeholder="{{'common.label.select' | translate}}" (valueBind)="currency.setValue($event.value)"
                                            [searchEnable]="true" [isDisabled]="true">
                                        </alt-custom-single-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-md-4-padding10" *ngIf="salaryEditType.value === 'FORMULA BASED' || salaryEditType.value === 'FREE TEXT'">
                            <label class="control-label clearfix">{{salarySecurity?.paystructureLabel}}*</label>
                            <div class="row">
                                <div class="col-md-12 input-field">
                                    <div class="dropdown-11 list-block">
                                        <alt-custom-single-select #PAYSTRUCTURERANGE [srcTag]="'PAYSTRUCTURERANGETAG'" (clickToClose)="PAYSTRUCTURERANGE.toggleClose()"
                                            [inputList]="paystructureList" [value]="paystructure.value" placeholder="{{'common.label.select' | translate}}"
                                            (valueBind)="paystructure.setValue($event.value)" [searchEnable]="true" [isDisabled]="true">
                                        </alt-custom-single-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-md-4-padding10" *ngIf="salaryEditType.value === 'FORMULA BASED'">
                            <label class="control-label clearfix">{{salarySecurity?.totalctcLabel}}*</label>
                            <div class="row">
                                <div class="col-md-12 input-field no-spin">
                                    <input disabled type="text" class="form-control form-control-grey" [formControl]="maxSalary" (keypress)="decimalValuesKeyPress($event)"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-md-4-padding10" *ngIf="salaryEditType.value === 'FORMULA BASED'">
                            <label class="control-label clearfix">{{salarySecurity?.guaranteedctcLabel}}</label>
                            <div class="row">
                                <div class="col-md-12 input-field no-spin">
                                    <input disabled type="number" min="0" class="form-control form-control-grey" [value]="guaranteedCTC" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-md-4-padding10" *ngIf="salaryEditType.value === 'FORMULA BASED'">
                            <label class="control-label clearfix">{{salarySecurity?.nonguaranteedctcLabel}}</label>
                            <div class="row">
                                <div class="col-md-12 input-field no-spin">
                                    <input disabled type="number" min="0" class="form-control form-control-grey" [value]="nonGuaranteedCTC" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-md-4-padding10" *ngIf="salaryEditType.value === 'FORMULA BASED' || salaryEditType.value === 'FREE TEXT'">
                            <label class="control-label clearfix">{{salarySecurity?.effectivefromdateLabel}}*</label>
                            <div class="row">
                                <div class="col-md-12 input-field datepicker-col">
                                    <alt-datepicker [styleClass]="'datepicker-common'" class="dropdown-calendar dropdown-calendar-grey" [type]="'date'" [mode]="'landscape'"
                                        #effectiveDateComp [switch]="dateSwitch" (change)="setEffectiveDate(effectiveDateComp.value)"
                                        [value]="effectiveDate.value" [disabled]="true"></alt-datepicker>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- \\ End cost to company  -->
    </ng-container>
</ng-container>
<!-- \\ End Basic Details Toggle -->