<div class="background-verification-row">
    <div class="add-new-btn-outer">
        <div class="add-new-btn">
            <h2 class="title fl-left">Background Verification</h2>
            <div class="radio-check-block">
                <div class="radio">
                    <span class="radio_label_inline">
                        <input id="startnow" value="option2" name="radioInline" type="radio">
                        <label for="startnow">start now</label>
                        </span>
                </div>
                <div class="radio">
                    <span class="radio_label_inline">
                        <input id="afterjoining" value="option2" name="radioInline" type="radio">
                        <label for="afterjoining">after joining</label>
                        </span>
                </div>
            </div>
        </div>
    </div>
</div>