<!--  Joining Pending-->
<div class="panel-full">
    <div class="panel {{toggleOpen?'panel-open':''}}">
        <div class="panel-heading clearfix">
            <h2 class="panel-title fl-left text-capitalize"><span class="count_Icon">{{inputData.sequence}}</span>{{inputData.workflowStageName}}<span class="text-step-cell">{{inputData.actionLabel}}</span></h2>
            <div class="icon_group_right">
                <span class="mdi mdi-chevron-down" (click)="toggleDiv()"></span>
            </div>
        </div>
        <div class="panel-body" *ngIf="toggleOpen">
            <form [formGroup]="joiningForm">
                <!--   Choose offer template  -->
                <div class="item_list candidate-detail-field">
                    <div class="candidate-tab-detail-block margin-pad-none">
                        <div class="candidate-tab-detail-inner clearfix">

                            <div class="form-group row2" *ngIf="(security?.gradeRendered) || (security?.designationRendered) || (security?.employmentTypeRendered)">
                                <div class="col-md-4 col-md-4-padding10" *ngIf="security?.gradeRendered">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="control-label clearfix">{{security?.gradeLabel}}<span *ngIf="security?.gradeRequired">*</span></label>
                                            <div class="dropdown-11 list-block">
                                                <alt-custom-single-select #GRADE [srcTag]="'GRADETAG'" (clickToClose)="GRADE.toggleClose()" [searchEnable]="true" [inputList]="gradeList"
                                                    [value]="joiningForm.controls['grade'].value" placeholder="{{'common.label.selectGrade' | translate}}"
                                                    (valueBind)="joiningForm.controls['grade'].setValue($event.value)" [isDisabled]="security?.gradeDisabled">
                                                </alt-custom-single-select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-md-4-padding10" *ngIf="security?.designationRendered">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="control-label clearfix">{{security?.designationLabel}}<span *ngIf="security?.designationRequired">*</span></label>
                                            <div class="dropdown-11 list-block">
                                                <alt-custom-single-select #DESIGNATION [srcTag]="'DESIGNATIONTAG'" (clickToClose)="DESIGNATION.toggleClose()" [searchEnable]="true"
                                                    [inputList]="designationList" [value]="joiningForm.controls['designation'].value"
                                                    placeholder="{{'common.label.selectDesignation' | translate}}" (valueBind)="joiningForm.controls['designation'].setValue($event.value)"
                                                    [isDisabled]="security?.designationDisabled">
                                                </alt-custom-single-select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-md-4-padding10" *ngIf="security?.employmentTypeRendered">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="control-label clearfix">{{security?.employmentTypeLabel}}<span *ngIf="security?.employmentTypeRequired">*</span></label>
                                            <div class="dropdown-11 list-block">
                                                <alt-custom-single-select #EMPLOYMENTTYPE [srcTag]="'EMPLOYMENTTYPETAG'" (clickToClose)="EMPLOYMENTTYPE.toggleClose()" [inputList]="employmentTypeList"
                                                    [value]="joiningForm.controls['employmentType'].value" placeholder="{{'common.label.selectEmploymentType' | translate}}"
                                                    (valueBind)="joiningForm.controls['employmentType'].setValue($event.value)"
                                                    [isDisabled]="security?.employmentTypeDisabled">
                                                </alt-custom-single-select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row2" *ngIf="(security?.hrManagerRendered) || (security?.l1ManagerRendered) || (security?.l2ManagerRendered)">
                                <div class="col-md-4 col-md-4-padding10" *ngIf="security?.hrManagerRendered">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="control-label clearfix">{{security?.hrManagerLabel}}<span *ngIf="security?.hrManagerRequired">*</span></label>
                                            <div class="dropdown-11 list-block">
                                                <alt-custom-single-select #HRMANAGER [srcTag]="'HRMANAGERTAG'" (clickToClose)="HRMANAGER.toggleClose()" [searchEnable]="true"
                                                    [inputList]="hrManagerList" [value]="joiningForm.controls['hrManager'].value"
                                                    placeholder="{{'common.label.selectHRManager' | translate}}" (valueBind)="joiningForm.controls['hrManager'].setValue($event.value)"
                                                    [isDisabled]="security?.hrManagerDisabled">
                                                </alt-custom-single-select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-md-4-padding10" *ngIf="security?.l1ManagerRendered">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="control-label clearfix">{{security?.l1ManagerLabel}}<span *ngIf="security?.l1ManagerRequired">*</span></label>
                                            <div class="dropdown-11 list-block">
                                                <alt-custom-single-select #L1MANAGER [srcTag]="'L1MANAGERTAG'" (clickToClose)="L1MANAGER.toggleClose()" [searchEnable]="true"
                                                    [inputList]="l1ManagerList" [value]="joiningForm.controls['l1Manager'].value"
                                                    placeholder="{{'common.label.selectL1Manager' | translate}}" (valueBind)="joiningForm.controls['l1Manager'].setValue($event.value)"
                                                    [isDisabled]="security?.l1ManagerDisabled">
                                                </alt-custom-single-select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-md-4-padding10" *ngIf="security?.l2ManagerRendered">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="control-label clearfix">{{security?.l2ManagerLabel}}<span *ngIf="security?.l2ManagerRequired">*</span></label>
                                            <div class="dropdown-11 list-block">
                                                <alt-custom-single-select #L2MANAGER [srcTag]="'L2MANAGERTAG'" (clickToClose)="L2MANAGER.toggleClose()" [searchEnable]="true"
                                                    [inputList]="l2ManagerList" [value]="joiningForm.controls['l2Manager'].value"
                                                    placeholder="{{'common.label.selectL2Manager' | translate}}" (valueBind)="joiningForm.controls['l2Manager'].setValue($event.value)"
                                                    [isDisabled]="security?.l2ManagerDisabled">
                                                </alt-custom-single-select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row2" *ngIf="(security?.ctcRendered) || (security?.employeeCodeRendered) || (security?.expectedJoiningDateRendered) || (security?.actualJoiningDateRendered)">
                                <div class="col-md-4 col-md-4-padding10" *ngIf="security?.ctcRendered">
                                    <label class="control-label clearfix">{{security?.ctcLabel}}<span *ngIf="security?.ctcRequired">*</span></label>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input class="form-control" placeholder="{{'common.label.ctc' | translate}}" type="text" formControlName="ctc" [attr.disabled]="security?.ctcDisabled?'disabled':null">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-md-4-padding10" *ngIf="security?.employeeCodeRendered">
                                    <label class="control-label clearfix">{{security?.employeeCodeLabel}}<span *ngIf="security?.employeeCodeRequired">*</span></label>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input class="form-control" placeholder="{{'common.label.employeeCode' | translate}}" type="text" formControlName="employeeCode" [attr.disabled]="security?.employeeCodeDisabled?'disabled':null">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-md-4-padding10" *ngIf="security?.expectedJoiningDateRendered">
                                    <label class="control-label clearfix">{{security?.expectedJoiningDateLabel}}<span *ngIf="security?.expectedJoiningDateRequired">*</span></label>
                                    <div class="row">
                                        <div class="col-md-12 datepicker-col" [ngClass]="security?.expectedJoiningDateDisabled?'disabled':''">
                                            <alt-datepicker [styleClass]="'datepicker-common'" class="dropdown-calendar" [type]="'datetime'" [mode]="'landscape'" #expectedData [value]="_EXPECTEDDATA"
                                                (change)="setExpectedJoiningDate(expectedData.value)" [disabled]="security?.expectedJoiningDateDisabled"></alt-datepicker>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 col-md-4-padding10" *ngIf="security?.actualJoiningDateRendered">
                                        <label class="control-label clearfix">{{security?.actualJoiningDateLabel}}<span *ngIf="security?.actualJoiningDateRequired">*</span></label>
                                        <div class="row">
                                            <div class="col-md-12 datepicker-col" [ngClass]="security?.actualJoiningDateDisabled?'disabled':''">
                                                <alt-datepicker [styleClass]="'datepicker-common'" class="dropdown-calendar" [type]="'datetime'" [mode]="'landscape'" #actualData [value]="_ACTUALDATA"
                                                    (change)="setActualJoiningDate(actualData.value)" [disabled]="security?.actualJoiningDateDisabled"></alt-datepicker>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <div class="form-textarea-mlr2 form-group form-textarea" *ngIf="security?.commentRendered">
                                <textarea class="form-control noresize" [formControl]="comment" placeholder="{{security?.commentLabel+(security?.commentRequired? '*': '')}}"
                                    [attr.disabled]="security?.commentDisabled?'disabled':null"></textarea>
                            </div>
                            <div class="btn-row-2 btn-row-attachment clearfix">
                                <div *ngIf="security?.attachmentRendered && !attachmentName" class="btn-file-custome" [ngClass]="security?.attachmentDisabled?'disabled-file':''">
                                    <span class="link"><span class="material-icons">attachment</span>{{security?.attachmentLabel+(security?.attachmentRequired?
                                    '*': '')}}</span>
                                    <input class="file-btn" type="file" id="file" name="file" (change)="uploadDocumentListener($event)" [attr.disabled]="security?.attachmentDisabled?'disabled':null"
                                    />
                                </div>
                                <div *ngIf="attachmentName" class="document-name-here">
                                    <span class="material-icons done">done</span>
                                    <span class="font-bold doc-file-name">{{attachmentName}}</span>
                                    <span class="material-icons fl-right cursor" (click)="deleteDocumentListener()">delete</span>
                                    <span class="material-icons fl-right cursor" (click)="downloadDocumentListener()">file_download</span>
                                </div>
                                <div class="fl-right">
                                    <div class="btn-for-mobile">
                                        <div class="dropdown-11 select-black">
                                            <alt-custom-single-select #SELECTEDSTATUS [srcTag]="'SELECTEDSTATUSTAG'" (clickToClose)="SELECTEDSTATUS.toggleClose()" [inputList]="statusLists"
                                                [value]="selectedStatusID.value" placeholder="{{'common.label.chooseStatus' | translate}}" (valueBind)="statusChangeListener($event.value)"
                                                [isDisabled]="joining || jobStatus">
                                            </alt-custom-single-select>
                                        </div>
                                        <!--<button type="button" (click)="updateStatus()" class="btn btn-primary">GO</button>-->
                                        <alt-spinner-button gaevent="Joining#Continue#click" (myEvent)="updateStatus();" [spinner]="joining" [spinnerdisabled]="joining || jobStatus" [text]="lable"></alt-spinner-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- \\ End Choose offer template  -->
    </div>
</div>
<!-- \\ End Joining Pending-->