<!-- Start Candidate tagged Overview Tab  -->
<div class="tab-details">
    <div class="section-panel" *ngIf="security?.personalSectionRendered || security?.workSectionRendered">
        <div class="section-panel-row">
            <alt-personal-details class="panel panel-open panel-open-printView" *ngIf="security?.personalSectionRendered" [security]="security"></alt-personal-details>
            <alt-work-experiences class="panel panel-open panel-open-printView" *ngIf="security?.workSectionRendered" [security]="security"></alt-work-experiences>
        </div>
    </div>
    <div class="section-panel" *ngIf="security?.educationSectionRendered || security?.skillsSectionRendered">
        <div class="section-panel-row">
            <alt-educational-qualification class="panel panel-open panel-open-printView" *ngIf="security?.educationSectionRendered" [security]="security"></alt-educational-qualification>
            <alt-skill-set class="panel panel-open panel-open-printView" *ngIf="security?.skillsSectionRendered" [security]="security"></alt-skill-set>
        </div>
    </div>
    <div class="section-panel" *ngIf="security?.internshipSectionRendered || security?.languagesSectionRendered">
        <div class="section-panel-row">
            <alt-internship-experiences class="panel panel-open panel-open-printView" *ngIf="security?.internshipSectionRendered" [security]="security"></alt-internship-experiences>
            <alt-languages class="panel panel-open panel-open-printView" *ngIf="security?.languagesSectionRendered" [security]="security"></alt-languages>
        </div>
    </div>
    <div *ngIf="!isBPenabled">
        <div class="panel-full" *ngIf="security?.documentSectionRendered">
            <alt-candidate-documents [security]="security"></alt-candidate-documents>
        </div>
    </div>
    <div class="panel-full" *ngIf="!isBPenabled">
        <alt-scorecard></alt-scorecard>
    </div>

    <div class="row-btn clearfix margin-b10 pull-right pad-bot-90 print-displayNone">
        <button class="btn btn-primary" type="button" (click)="setPrintingMode()">{{'candidate.candidate_overview.print' | translate}}</button>
    </div>

</div>
<!-- End Candidate tagged Overview Tab  -->