<div class="print-displayNone right-sidebar-inner" *ngIf="whichSideBar == 'default'">
    <!-- Section Calendar -->
    <div class="section-calendar">
        <md2-calendar cdkTrapFocus [id]="'dd'" [attr.mode]="'portrait'" [startView]="'month'" [type]="'date'" [timeInterval]="'1'"
            [minDate]="mintDate" [maxDate]="maxDate" [selected]="currentDate" (selectedChange)="updateRHSForDate($event)" class="md2-datepicker-content">
        </md2-calendar>
    </div>
    <!-- \\ End Section Calendar -->
    <!--  Section Sccordion  -->
    <div class="section-accordion">
        <!--  Interviews Accordion -->
        <div class="{{toggleInterviews?'toggle-hide':'toggle-show'}}">
            <div class="title-block accordion-title black-gray" (click)="clickInterview()">
                <span class="material-icons icon dp22">person</span>
                <h2 class="title">{{'common.label.interviews' | translate}}</h2>
                <span class="mdi mdi-chevron-up md24 fl-right"></span>
            </div>
            <alt-rhs-loader *ngIf="interviewLoader == 'loader'"></alt-rhs-loader>
            <div class="accordion-content">
                <div class="content-block clearfix black-gray">
                    <ul class="list-reset accordion-listing" *ngIf="interviewLoader == 'nodata'">
                        <li class="accordion-item margin-bot-none">
                            <div class="accordion-row">
                                <strong class="accordion-bold text-initial">{{'rhs.label.noInterviewScheduled' | translate}}</strong>
                            </div>
                        </li>
                    </ul>
                    <div class="scroll-hover" *ngIf="interviewLoader == 'data'" [ngClass]="{'scroll-hover-on':Jobs?.length>2}">
                        <div slimScroll class="scroll-hover-inner">
                            <ul class="list-reset accordion-listing">
                                <li class="accordion-item" *ngFor="let job of Jobs;">
                                    <!-- Start job -->
                                    <div class="accordion-row">
                                        <span class="accordion-text">{{'common.label.job' | translate}}
                                            <strong class="accordion-bold">{{job.jobTitle}}</strong>
                                        </span>
                                        <span class="accordion-reg">{{job.jobCode}}</span>
                                    </div>
                                    <div class="accordion-row">
                                        <span class="accordion-text">{{'postJobBoard.label.location' | translate}}
                                            <strong class="accordion-bold">{{getLocation(job.jobLocation)}}</strong>
                                        </span>
                                    </div>
                                    <ul class="list-reset interviews-listing">
                                        <li *ngFor="let interview of job.interviews; ">
                                            <span class="material-icons accordion-icon">{{getInterviewIcon(interview.interviewType)}}</span>
                                            <div class="accordion-details">
                                                <strong class="accordion-bold">{{getTime(interview.interviewStartTime)}} - {{getTime(interview.interviewEndTime)}}</strong>
                                                <p>{{interview.firstName}} {{interview.middleName}} {{interview.lastName}}</p>
                                            </div>
                                        </li>
                                    </ul>
                                    <!-- // End job -->
                                    <!--<a href="javascript:void(0);" class="more">+ more</a>-->
                                </li>
                            </ul>
                            <!-- <a href="javascript:void(0);" class="fl-right link">view all</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- \\ End Interviews Accordion -->
        <!--  Toggle Action Pending -->
        <div class="{{toggleActionPending?'toggle-hide':'toggle-show'}}">
            <div class="title-block accordion-title" (click)="clickActionPending()">
                <span class="material-icons icon">
                    <i class="icon-actions-pending"></i>
                </span>
                <h2 class="title">{{'common.label.actionPending' | translate}}</h2>
                <span class="mdi mdi-chevron-up md24 fl-right"></span>
            </div>
            <div class="accordion-content">
                <div class="content-block clearfix">
                    <div class="scroll-hover" [ngClass]="{'scroll-hover-on':actionsPending?.length>=3 || (isVisible==true && countPendingAction>1)}">
                        <div slimScroll class="scroll-hover-inner scroll-h250">
                            <ul class="list-reset accordion-listing">
                                <li class="accordion-item" *ngIf="actionsPendingloaderIndicator == 'nodata'">
                                    <div class="interview-listing-outer">
                                        <div class="accordion-row">
                                            <strong class="accordion-bold text-initial">{{'common.label.noActionPending' | translate}}</strong>
                                        </div>
                                    </div>
                                </li>
                                <li class="accordion-item" *ngFor="let pendingAction of actionsPending; let i = index;">
                                    <div class="accordion-row">
                                        <span class="accordion-text">{{pendingAction.label}}
                                            <a *ngIf="pendingAction.cardType == 'assignedCardType'" [routerLink]="['/job/edit-job', pendingAction.requisitionCode | formatJobcodeParam]">
                                                <strong class="accordion-bold">{{pendingAction.jobTitle | stringTrim:50}}</strong>
                                            </a>
                                            <strong *ngIf="pendingAction.cardType == 'stageStatusCardType'" class="accordion-bold">{{pendingAction.jobTitle | stringTrim:50}}</strong>
                                        </span>
                                        <span class="accordion-reg">{{pendingAction.requisitionCode}}</span>
                                    </div>
                                    <div class="clearfix">
                                        <a class="show-text" *ngIf="pendingAction.cardType == 'stageStatusCardType' && !pendingAction.applicantLoading " href="javascript:void(0);"
                                            (click)="loadApplicants(pendingAction)">{{(pendingAction?.rhsExpanded? 'rhs.label.hideAapplicants': 'rhs.label.viewApplicants') | translate }} {{ pendingAction.applicantLoading
                                            ? ('common.label.loading'| translate)+'...': ''  }}
                                        </a>
                                        <a class="show-text" *ngIf="pendingAction.cardType == 'stageStatusCardType' && pendingAction.applicantLoading " href="javascript:void(0);"
                                            (click)="loadApplicants(pendingAction)">{{pendingAction?.applicantLoading ? ('common.label.loading'| translate)+'...': '' }}</a>
                                    </div>
                                    <ng-container *ngIf="pendingAction.rhsExpanded">
                                        <ul class="list-dotted interviews-listing">
                                            <li *ngFor="let applicantDetail of pendingAction.stageStatusCardTypeResponse; let y = index;">
                                                <div class="accordion-details">
                                                    <a class="link-title" [routerLink]="['/candidate/edit-candidate-tagged/', applicantDetail.candidateCode | formatCandidatecodeParam, 'hiring-process']"
                                                        [queryParams]="{ appid:applicantDetail.applicantStatusID, jobCode:applicantDetail.requisitionCode, jobTitle:applicantDetail.jobTitle }">
                                                        <strong class="accordion-bold">{{applicantDetail.candidateName | stringTrim:50}}</strong>
                                                        <p>{{applicantDetail.candidateCode}}</p>
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="clearfix">
                                            <span *ngIf="pendingAction.stageStatusCardTypeResponse.length > 3" class="mdi mdi-chevron-up md24 fl-right cursor" (click)="loadApplicants(pendingAction)"></span>
                                        </div>
                                    </ng-container>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- <a href="javascript:void(0);" class="fl-right link">view all</a> -->
                </div>
            </div>
        </div>
        <!-- \\ End Toggle Action Pending -->
        <!--
        <div *ngIf="enableStatic()" class="title-block black-gray">
            <span class="material-icons icon dp22">cast</span>
            <h2 class="title">live feed</h2>
        </div>
        <div *ngIf="enableStatic()" class="content-block clearfix black-gray">
            <ul class="list-reset accordion-listing">
                <li class="accordion-item">
                    <div class="accordion-row margin-none">
                        <div class="image-block">
                            <img src="./assets/images/svg/profile_male.svg" alt="profile img" />
                        </div>
                        <div class="accordion-details">
                            <strong class="accordion-bold">Sneha Gupta</strong>
                            <p class="description-cell">has successfully completed screening of 20 applicants</p>
                            <a href="javascript:void(0);" class="material-icons dp12" title="like">textsms</a>
                            <a href="javascript:void(0);" class="material-icons dp12" title="like">email</a>
                        </div>
                    </div>
                </li>
                <li class="accordion-item">
                    <div class="accordion-row margin-none">
                        <div class="image-block">
                            <img src="./assets/images/svg/profile_male.svg" alt="profile img" />
                        </div>
                        <div class="accordion-details">
                            <strong class="accordion-bold">Ghazala Qureshi</strong>
                            <p class="description-cell">has successfully hired 10 candidate </p>
                            <a href="javascript:void(0);" class="material-icons dp12" title="like">textsms</a>
                            <a href="javascript:void(0);" class="material-icons dp12" title="like">email</a>
                        </div>
                    </div>
                </li>
                <li class="accordion-item">
                    <div class="accordion-row margin-none">
                        <div class="image-block">
                            <img src="./assets/images/svg/profile_female.svg" alt="profile img" />
                        </div>
                        <div class="accordion-details">
                            <strong class="accordion-bold">Matiksha Bhatia</strong>
                            <p class="description-cell">has successfully shortlisted 5 candidates</p>
                            <a href="javascript:void(0);" class="material-icons dp12" title="like">textsms</a>
                            <a href="javascript:void(0);" class="material-icons dp12" title="like">email</a>
                        </div>
                    </div>
                </li>
            </ul>
             <a href="javascript:void(0);" class="fl-right link" title="View All">view all</a>
        </div>
       -->

    </div>
    <!-- \\ End Section Accordion  -->
</div>
<!-- \\ End Section Right sidebar -->
<div class="right-sidebar-inner" *ngIf="whichSideBar == 'autoMatch'">
    <div class="filter_right_main">
        <!-- filter short by start -->
        <div class="card-block-inner card-bg-none">
            <div class="input-group search-block">
                <input type="text" class="form-control" id="searchMobileOne1" placeholder="{{ ('common.label.search' | translate)+'...'}}" />
                <span class="input-group-btn">
                    <button class="btn material-icons dp20" type="submit">search</button>
                </span>
            </div>
        </div>
        <div class="filter_right_inner">
            <h2 class="title">{{'common.label.sortBy' | translate}}</h2>
            <div class="item_list">
                <div class="form-group row2">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <div class="matched-candidates-filter">
                                    <div class="dropdown">
                                        <a href="javascript:void(0)" class="dropdown-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <span class="text-dropdown">{{'rhs.label.relatedCandidates' | translate}}</span>
                                            <span class="mdi mdi-chevron-down md24"></span>
                                        </a>
                                        <ul class="list-reset dropdown-3 dropdown-style">
                                            <li>
                                                <a href="javascript:void(0)">{{'rhs.label.relatedCandidates' | translate}} 1</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">{{'rhs.label.relatedCandidates' | translate}} 2</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">{{'rhs.label.relatedCandidates' | translate}} 3</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">{{'rhs.label.relatedCandidates' | translate}} 4</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row2">
                <div class="col-md-12 col-md-padding12">
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                            <label class="control-label">{{'filter.label.from' | translate}}</label>
                            <input class="form-control" placeholder="DD MM YY" type="text">
                        </div>
                        <div class="col-xs-6 col-md-6">
                            <label class="control-label">{{'filter.label.to' | translate}}</label>
                            <input class="form-control" placeholder="DD MM YY" type="text">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- \\ End filter short by -->
        <!-- filter short by start -->
        <div class="filter_right_inner">
            <h2 class="title">{{'common.label.filterby' | translate}}</h2>
            <div class="checkbox-group" *ngIf="activeSection == 'JOB_BOARDS'">
                <h3 class="sub-title">{{'job.job_detail.jobBoards' | translate}}</h3>
                <div class="check-box checkbox">
                    <input class="styled" type="checkbox" checked>
                    <label>{{'rhs.label.naukri' | translate}}</label>
                </div>
                <div class="check-box checkbox">
                    <input class="styled" type="checkbox" checked>
                    <label>{{'rhs.label.monster' | translate}}</label>
                </div>
                <div class="check-box checkbox">
                    <input class="styled" type="checkbox">
                    <label>{{'rhs.label.iimjobs' | translate}}</label>
                </div>
                <div class="check-box checkbox">
                    <input class="styled" type="checkbox" checked>
                    <label>{{'rhs.label.shine' | translate}}</label>
                </div>
            </div>
            <div class="item_list">
                <div class="form-group row2">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <div class="matched-candidates-filter">
                                    <div class="dropdown">
                                        <a href="javascript:void(0)" class="dropdown-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <span class="text-dropdown">{{'common.label.stage' | translate}}</span>
                                            <span class="mdi mdi-chevron-down md24"></span>
                                        </a>
                                        <ul class="list-reset dropdown-3 dropdown-style">
                                            <li>
                                                <a href="javascript:void(0)">{{'common.label.stage' | translate}} 1</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">{{'common.label.stage' | translate}} 2</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">{{'common.label.stage' | translate}} 3</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">{{'common.label.stage' | translate}} 4</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row2">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <div class="matched-candidates-filter">
                                    <div class="dropdown">
                                        <a href="javascript:void(0)" class="dropdown-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <span class="text-dropdown">{{'common.label.status' | translate}}</span>
                                            <span class="mdi mdi-chevron-down md24"></span>
                                        </a>
                                        <ul class="list-reset dropdown-3 dropdown-style">
                                            <li>
                                                <a href="javascript:void(0)">{{'common.label.status' | translate}} 1</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">{{'common.label.status' | translate}} 2</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">{{'common.label.status' | translate}} 3</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">{{'common.label.status' | translate}} 4</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row2">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <div class="matched-candidates-filter">
                                    <div class="dropdown">
                                        <a href="javascript:void(0)" class="dropdown-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <span class="text-dropdown">{{'job.job_detail.recruiter' | translate}}</span>
                                            <span class="mdi mdi-chevron-down md24"></span>
                                        </a>
                                        <ul class="list-reset dropdown-3 dropdown-style">
                                            <li>
                                                <a href="javascript:void(0)">{{'job.job_detail.recruiter' | translate}} 1</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">{{'job.job_detail.recruiter' | translate}} 2</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">{{'job.job_detail.recruiter' | translate}} 3</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">{{'job.job_detail.recruiter' | translate}} 4</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row2">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <div class="matched-candidates-filter">
                                    <div class="dropdown">
                                        <a href="javascript:void(0)" class="dropdown-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <span class="text-dropdown">{{'postJobBoard.label.location' | translate}}</span>
                                            <span class="mdi mdi-chevron-down md24"></span>
                                        </a>
                                        <ul class="list-reset dropdown-3 dropdown-style">
                                            <li>
                                                <a href="javascript:void(0)">{{'postJobBoard.label.location' | translate}} 1</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">{{'postJobBoard.label.location' | translate}} 2</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">{{'postJobBoard.label.location' | translate}} 3</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">{{'postJobBoard.label.location' | translate}} 4</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- \\ End filter short by -->
    </div>
</div>
<div class="right-sidebar-inner  {{rhsSocialDisabled?'select-social-disable':''}}" *ngIf="whichSideBar == 'autoMatchSocial'">
     <div class="disable-left-right">
    <!--  Section Sccordion  -->
    <div class="section-accordion">
        <div class="{{toggleExperience?'toggle-hide':'toggle-show'}}">
            <!--  Interviews Accordion -->
            <div class="title-block accordion-title black-gray" (click)="clickExperience()">
                <span class="material-icons icon dp22">
                    <i class="icon-experience"></i>
                </span>
                <h2 class="title">{{'rhs.label.experience' | translate}}</h2>
                <span class="mdi mdi-chevron-up md24 fl-right"></span>
            </div>
            <div class="accordion-content">
                <div class="content-block clearfix" *ngIf="filterLoading">
                    <div class="accordion-item">
                        <ul class="list-reset accordion-listing">
                            <li class="filter-item-checkbox">
                                <div class="accordion-row clearfix">
                                    <div class="width-18 height-16 loading-line fl-left"></div>
                                    <div class="width-70 mgn-t4 mgn-l10 loading-line fl-left"></div>
                                </div>
                            </li>
                            <li class="filter-item-checkbox">
                                <div class="accordion-row clearfix">
                                    <div class="width-18 height-16 loading-line fl-left"></div>
                                    <div class="width-50 mgn-t4 mgn-l10 loading-line fl-left"></div>
                                </div>
                            </li>
                            <li class="filter-item-checkbox">
                                <div class="accordion-row clearfix">
                                    <div class="width-18 height-16 loading-line fl-left"></div>
                                    <div class="width-80 mgn-t4 mgn-l10 loading-line fl-left"></div>
                                </div>
                            </li>
                            <li class="filter-item-checkbox">
                                <div class="accordion-row clearfix">
                                    <div class="width-18 height-16 loading-line fl-left"></div>
                                    <div class="width-40 mgn-t4 mgn-l10 loading-line fl-left"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="content-block black-gray clearfix" *ngIf="!filterLoading">
                    <div class="accordion-item">
                        <ul class="list-reset accordion-listing">
                            <li class="filter-item-checkbox">
                                <div class="checkbox checkbox-white checkbox-inline">
                                    <input type="checkbox" class="styled" id="lessyear" [value]="'0-365'" [checked]="existsInExperienceFilter('experience', '0-365')"
                                        (change)="autoMatchSocialToggleFilter($event, 'experience')" />
                                    <label for="lessyear"> {{'rhs.label.lessThan1Year' | translate}}
                                        <span class="count-total">({{autoMatchSocialFilters['experience']['0-365']}})</span>
                                    </label>
                                </div>
                            </li>
                            <li class="filter-item-checkbox">
                                <div class="checkbox checkbox-white checkbox-inline">
                                    <input type="checkbox" class="styled" id="lessyear3" [value]="'365-1095'" [checked]="existsInExperienceFilter('experience', '365-1095')"
                                        (change)="autoMatchSocialToggleFilter($event, 'experience')" />
                                    <label for="lessyear3"> {{'rhs.label.between1_3' | translate}}
                                        <span class="count-total">({{autoMatchSocialFilters['experience']['365-1095']}})</span>
                                    </label>
                                </div>
                            </li>
                            <li class="filter-item-checkbox">
                                <div class="checkbox checkbox-white checkbox-inline">
                                    <input type="checkbox" class="styled" id="lessyear6" [value]="'1095-2190'" [checked]="existsInExperienceFilter('experience', '1095-2190')"
                                        (change)="autoMatchSocialToggleFilter($event, 'experience')" />
                                    <label for="lessyear6"> {{'rhs.label.between3_6' | translate}}
                                        <span class="count-total">({{autoMatchSocialFilters['experience']['1095-2190']}})</span>
                                    </label>
                                </div>
                            </li>
                            <li class="filter-item-checkbox">
                                <div class="checkbox checkbox-white checkbox-inline">
                                    <input type="checkbox" class="styled" id="lessyear7" [value]="'2190-3650'" [checked]="existsInExperienceFilter('experience', '2190-3650')"
                                        (change)="autoMatchSocialToggleFilter($event, 'experience')" />
                                    <label for="lessyear7"> {{'rhs.label.between6_10' | translate}}
                                        <span class="count-total">({{autoMatchSocialFilters['experience']['2190-3650']}})</span>
                                    </label>
                                </div>
                            </li>
                            <li class="filter-item-checkbox">
                                <div class="checkbox checkbox-white checkbox-inline">
                                    <input type="checkbox" class="styled" id="lessyear8" [value]="'3650+'" [checked]="existsInExperienceFilter('experience', '3650+')"
                                        (change)="autoMatchSocialToggleFilter($event, 'experience')" />
                                    <label for="lessyear8"> {{'rhs.label.moreThan10Years' | translate}}
                                        <span class="count-total">({{autoMatchSocialFilters['experience']['3650+']}})</span>
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- \\ End Interviews Accordion -->
        <!--  Toggle Current Location -->
        <div class="{{toggleCurrentLocation?'toggle-hide':'toggle-show'}}">
            <div class="title-block accordion-title" (click)="clickCurrentLocation()">
                <span class="material-icons icon dp22">
                    <i class="icon-current-location"></i>
                </span>
                <h2 class="title">{{'rhs.label.currentLocation' | translate}}</h2>
                <span class="mdi mdi-chevron-up md24 fl-right"></span>
            </div>
            <div class="accordion-content">
                <div class="content-block clearfix" *ngIf="filterLoading">
                    <div class="accordion-item">
                        <ul class="list-reset accordion-listing">
                            <li class="filter-item-checkbox">
                                <div class="accordion-row clearfix">
                                    <div class="width-18 height-16 loading-line fl-left"></div>
                                    <div class="width-70 mgn-t4 mgn-l10 loading-line fl-left"></div>
                                </div>
                            </li>
                            <li class="filter-item-checkbox">
                                <div class="accordion-row clearfix">
                                    <div class="width-18 height-16 loading-line fl-left"></div>
                                    <div class="width-50 mgn-t4 mgn-l10 loading-line fl-left"></div>
                                </div>
                            </li>
                            <li class="filter-item-checkbox">
                                <div class="accordion-row clearfix">
                                    <div class="width-18 height-16 loading-line fl-left"></div>
                                    <div class="width-80 mgn-t4 mgn-l10 loading-line fl-left"></div>
                                </div>
                            </li>
                            <li class="filter-item-checkbox">
                                <div class="accordion-row clearfix">
                                    <div class="width-18 height-16 loading-line fl-left"></div>
                                    <div class="width-40 mgn-t4 mgn-l10 loading-line fl-left"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="content-block clearfix" *ngIf="!filterLoading">
                    <div class="accordion-item">
                        <div class="scroll-hover gradient2 {{autoMatchSocialFilters['location'].length>4? 'scroll-hover-on':''}}" *ngIf="autoMatchSocialFilters['location'].length>0">
                            <div slimScroll class="scroll-hover-inner scroll-h200">
                                <ul class="list-reset accordion-listing">
                                    <li class="filter-item-checkbox" *ngFor="let location of autoMatchSocialFilters['location']; let i = index;">
                                        <div class="checkbox checkbox-white checkbox-inline">
                                            <input type="checkbox" class="styled" id="loca{{i}}" [value]="location.key" [checked]="existsInFilter('location', location.key)"
                                                (change)="autoMatchSocialToggleFilter($event, 'location')" />
                                            <!-- ({{location.doc_count}}) -->
                                            <label for="loca{{i}}">{{location.key}}</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <a href="javascript:void(0);" class="more margin-none ignoreClick" (click)="addMore('location')">+ {{'common.label.add' | translate}}</a>
                        <div class="location-search {{popUpActiveSection=='location'?'displayBlock':'displayNone'}} ignoreClick">
                            <div class="input_icon selected">
                                <!-- <button class="btn material-icons done" type="submit">done</button> -->
                                <input #locationInput class="form-control ignoreClick" placeholder="{{'common.label.search' | translate}}..." type="text" [value]="suggestion" (keyup)="loadMasterSuggestions('location', $event.target.value)"
                                />
                            </div>
                            <div *ngIf="suggestion.trim() != ''">
                                <div class="location-listing" slimScroll>
                                    <ul class="list-reset ignoreClick" *ngIf="suggestionLoading">
                                        <li class="ignoreClick">{{'common.label.loading' | translate}}....</li>
                                    </ul>
                                    <ul class="list-reset ignoreClick" *ngIf="!suggestionLoading">
                                        <li class="ignoreClick" *ngIf="suggestion.trim() !='' && suggestionLoaded && suggestionResult.length == 0">{{'common.label.noResultsfound' | translate}}</li>
                                        <ng-container *ngFor="let suggestion of suggestionResult; let i=index;">
                                            <li (click)="addFilter('location',suggestion)">{{suggestion}}</li>
                                        </ng-container>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- \\ End Toggle Current Location -->
        <!--  Toggle Industry -->
        <div class="{{toggleIndustry?'toggle-hide':'toggle-show'}}">
            <div class="title-block accordion-title black-gray" (click)="clickIndustry()">
                <span class="material-icons icon dp22">
                    <i class="icon-industry"></i>
                </span>
                <h2 class="title">{{'filter.label.industry' | translate}}</h2>
                <span class="mdi mdi-chevron-up md24 fl-right"></span>
            </div>
            <div class="accordion-content">
                <div class="content-block clearfix" *ngIf="filterLoading">
                    <div class="accordion-item">
                        <ul class="list-reset accordion-listing">
                            <li class="filter-item-checkbox">
                                <div class="accordion-row clearfix">
                                    <div class="width-18 height-16 loading-line fl-left"></div>
                                    <div class="width-70 mgn-t4 mgn-l10 loading-line fl-left"></div>
                                </div>
                            </li>
                            <li class="filter-item-checkbox">
                                <div class="accordion-row clearfix">
                                    <div class="width-18 height-16 loading-line fl-left"></div>
                                    <div class="width-50 mgn-t4 mgn-l10 loading-line fl-left"></div>
                                </div>
                            </li>
                            <li class="filter-item-checkbox">
                                <div class="accordion-row clearfix">
                                    <div class="width-18 height-16 loading-line fl-left"></div>
                                    <div class="width-80 mgn-t4 mgn-l10 loading-line fl-left"></div>
                                </div>
                            </li>
                            <li class="filter-item-checkbox">
                                <div class="accordion-row clearfix">
                                    <div class="width-18 height-16 loading-line fl-left"></div>
                                    <div class="width-40 mgn-t4 mgn-l10 loading-line fl-left"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="content-block clearfix black-gray" *ngIf="!filterLoading">
                    <div class="accordion-item">
                        <div class="scroll-hover {{autoMatchSocialFilters['industry'].length>4? 'scroll-hover-on':''}}" *ngIf="autoMatchSocialFilters['industry'].length>0">
                            <div slimScroll class="scroll-hover-inner scroll-h200">
                                <ul class="list-reset accordion-listing">
                                    <li class="filter-item-checkbox" *ngFor="let industry of autoMatchSocialFilters['industry']; let i=index;">
                                        <div class="checkbox checkbox-white checkbox-inline">
                                            <input type="checkbox" class="styled" id="industry{{i}}" [checked]="existsInFilter('industry', industry.key)" [value]="industry.key"
                                                (change)="autoMatchSocialToggleFilter($event, 'industry')" />
                                            <label for="industry{{i}}">{{industry.key}} </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <a href="javascript:void(0);" class="more margin-none ignoreClick" (click)="addMore('industry')">+ {{'common.label.add' | translate}}</a>
                        <div class="location-search {{popUpActiveSection=='industry'?'displayBlock':'displayNone'}} ignoreClick">
                            <div class="input_icon selected">
                                <!-- <button class="btn material-icons done" type="submit">done</button> -->
                                <input #industryInput class="form-control ignoreClick" placeholder="{{'common.label.startTyping' | translate}}" type="text" [value]="suggestion" (keyup)="loadMasterSuggestions('industry', $event.target.value)"
                                />
                            </div>
                            <div *ngIf="suggestion.trim() != ''">
                                <div class="location-listing" slimScroll>
                                    <ul class="list-reset ignoreClick" *ngIf="suggestionLoading">
                                        <li class="ignoreClick">{{'common.label.loading' | translate}}....</li>
                                    </ul>
                                    <ul class="list-reset ignoreClick" *ngIf="!suggestionLoading">
                                        <li class="ignoreClick" *ngIf="suggestion.trim() !='' && suggestionLoaded && suggestionResult.length == 0">{{'common.label.noResultsfound' | translate}}</li>
                                        <ng-container *ngFor="let suggestion of suggestionResult; let i=index;">
                                            <li (click)="addFilter('industry',suggestion)">{{suggestion}}</li>
                                        </ng-container>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- \\ End Toggle Industry -->
        <!--  Toggle Current Company -->
        <div class="{{toggleCurrentCompany?'toggle-hide':'toggle-show'}}">
            <div class="title-block accordion-title" (click)="clickCurrentCompany()">
                <span class="material-icons icon dp22">
                    <i class="icon-current-company"></i>
                </span>
                <h2 class="title">{{'rhs.label.currentCompany' | translate}}</h2>
                <span class="mdi mdi-chevron-up md24 fl-right"></span>
            </div>
            <div class="accordion-content">
                <div class="content-block clearfix" *ngIf="filterLoading">
                    <div class="accordion-item">
                        <ul class="list-reset accordion-listing">
                            <li class="filter-item-checkbox">
                                <div class="accordion-row clearfix">
                                    <div class="width-18 height-16 loading-line fl-left"></div>
                                    <div class="width-70 mgn-t4 mgn-l10 loading-line fl-left"></div>
                                </div>
                            </li>
                            <li class="filter-item-checkbox">
                                <div class="accordion-row clearfix">
                                    <div class="width-18 height-16 loading-line fl-left"></div>
                                    <div class="width-50 mgn-t4 mgn-l10 loading-line fl-left"></div>
                                </div>
                            </li>
                            <li class="filter-item-checkbox">
                                <div class="accordion-row clearfix">
                                    <div class="width-18 height-16 loading-line fl-left"></div>
                                    <div class="width-80 mgn-t4 mgn-l10 loading-line fl-left"></div>
                                </div>
                            </li>
                            <li class="filter-item-checkbox">
                                <div class="accordion-row clearfix">
                                    <div class="width-18 height-16 loading-line fl-left"></div>
                                    <div class="width-40 mgn-t4 mgn-l10 loading-line fl-left"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="content-block clearfix" *ngIf="!filterLoading">
                    <div class="accordion-item">
                        <div class="scroll-hover {{autoMatchSocialFilters['current_company'].length>4? 'scroll-hover-on':''}}" *ngIf="autoMatchSocialFilters['current_company'].length>0">
                            <div>
                                <div slimScroll class="scroll-hover-inner scroll-h200">
                                    <ul class="list-reset accordion-listing">
                                        <li class="filter-item-checkbox" *ngFor="let company of autoMatchSocialFilters['current_company']; let i = index;">
                                            <div class="checkbox checkbox-white checkbox-inline">
                                                <input type="checkbox" class="styled" id="currentCompany{{i}}" value="{{company.key}}" [checked]="existsInFilter('current_company', company.key)"
                                                    (change)="autoMatchSocialToggleFilter($event, 'current_company')" />
                                                <label for="currentCompany{{i}}">{{company.key}}</label>
                                                <!-- <br/> ({{company.doc_count}})  -->
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <a href="javascript:void(0);" class="more margin-none ignoreClick" (click)="addMore('current_company')">+ {{'common.label.add' | translate}}</a>
                        <div class="location-search {{popUpActiveSection=='current_company'?'displayBlock':'displayNone'}} ignoreClick">
                            <div class="input_icon selected">
                                <!-- <button class="btn material-icons done" type="submit">done</button> -->
                                <input #currentCompanyInput class="form-control ignoreClick" placeholder="{{'common.label.startTyping' | translate}}" [value]="suggestion" type="text"
                                    (keyup)="loadSuggestions('current_company',$event.target.value)">
                            </div>
                            <div *ngIf="suggestion.trim() != ''">
                                <div class="location-listing ignoreClick" slimScroll>
                                    <ul class="list-reset ignoreClick" *ngIf="suggestionLoading">
                                        <li class="ignoreClick">{{'common.label.loading' | translate}}....</li>
                                    </ul>
                                    <ul class="list-reset ignoreClick" *ngIf="!suggestionLoading">
                                        <li class="ignoreClick" *ngIf="suggestion.trim() !='' && suggestionLoaded && suggestionResult.length == 0">{{'common.label.noResultsfound' | translate}}</li>
                                        <ng-container *ngFor="let suggestion of suggestionResult; let i=index;">
                                            <li (click)="addFilter('current_company',suggestion)">{{suggestion}}</li>
                                        </ng-container>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- \\ End Current Company -->
        <!--  Toggle Past Company -->
        <div class="{{togglePastCompany?'toggle-hide':'toggle-show'}}">
            <div class="title-block accordion-title black-gray" (click)="clickPastCompany()">
                <span class="material-icons icon dp22">
                    <i class="icon-past-company"></i>
                </span>
                <h2 class="title">{{'rhs.label.pastCompany' | translate}}</h2>
                <span class="mdi mdi-chevron-up md24 fl-right"></span>
            </div>
            <div class="accordion-content">
                <div class="content-block clearfix" *ngIf="filterLoading">
                    <div class="accordion-item">
                        <ul class="list-reset accordion-listing">
                            <li class="filter-item-checkbox">
                                <div class="accordion-row clearfix">
                                    <div class="width-18 height-16 loading-line fl-left"></div>
                                    <div class="width-70 mgn-t4 mgn-l10 loading-line fl-left"></div>
                                </div>
                            </li>
                            <li class="filter-item-checkbox">
                                <div class="accordion-row clearfix">
                                    <div class="width-18 height-16 loading-line fl-left"></div>
                                    <div class="width-50 mgn-t4 mgn-l10 loading-line fl-left"></div>
                                </div>
                            </li>
                            <li class="filter-item-checkbox">
                                <div class="accordion-row clearfix">
                                    <div class="width-18 height-16 loading-line fl-left"></div>
                                    <div class="width-80 mgn-t4 mgn-l10 loading-line fl-left"></div>
                                </div>
                            </li>
                            <li class="filter-item-checkbox">
                                <div class="accordion-row clearfix">
                                    <div class="width-18 height-16 loading-line fl-left"></div>
                                    <div class="width-40 mgn-t4 mgn-l10 loading-line fl-left"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="content-block clearfix black-gray" *ngIf="!filterLoading">
                    <div class="accordion-item">
                        <div class="scroll-hover {{autoMatchSocialFilters['past_company'].length>4? 'scroll-hover-on':''}}" *ngIf="autoMatchSocialFilters['past_company'].length>0">
                            <div slimScroll class="scroll-hover-inner scroll-h200">
                                <ul class="list-reset accordion-listing">
                                    <li class="filter-item-checkbox" *ngFor="let company of autoMatchSocialFilters['past_company']; let i = index;">
                                        <div class="checkbox checkbox-white checkbox-inline">
                                            <input type="checkbox" class="styled" id="pastCompany{{i}}" value="{{company.key}}" [checked]="existsInFilter('past_company', company.key)"
                                                (change)="autoMatchSocialToggleFilter($event, 'past_company')" />
                                            <label for="pastCompany{{i}}">{{company.key}}</label>
                                            <!-- <br/> ({{company.doc_count}})  -->
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <a href="javascript:void(0);" class="more margin-none ignoreClick" (click)="addMore('past_company')">+ {{'common.label.add' | translate}}</a>
                        <div class="location-search {{popUpActiveSection=='past_company'?'displayBlock':'displayNone'}} ignoreClick">
                            <div class="input_icon selected">
                                <!-- <button class="btn material-icons done" type="submit">done</button> -->
                                <input #pastCompanyInput class="form-control ignoreClick" placeholder="{{'common.label.startTyping' | translate}}" [value]="suggestion" type="text"
                                    (keyup)="loadSuggestions('past_company',$event.target.value)">
                            </div>
                            <div *ngIf="suggestion.trim() != ''">
                                <div class="location-listing ignoreClick" slimScroll>
                                    <ul class="list-reset ignoreClick" *ngIf="suggestionLoading">
                                        <li class="ignoreClick">{{'common.label.loading' | translate}}....</li>
                                    </ul>
                                    <ul class="list-reset ignoreClick" *ngIf="!suggestionLoading">
                                        <li class="ignoreClick" *ngIf="suggestion.trim() !='' && suggestionLoaded && suggestionResult.length == 0">{{'common.label.noResultsfound' | translate}}</li>
                                        <ng-container *ngFor="let suggestion of suggestionResult; let i=index;">
                                            <li (click)="addFilter('past_company',suggestion)">{{suggestion}}</li>
                                        </ng-container>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- \\ End Toggle Past Company -->
        <!--  Toggle Others -->
        <div class="{{toggleOthers?'toggle-hide':'toggle-show'}}">
            <div class="title-block accordion-title" (click)="clickOthers()">
                <span class="material-icons icon dp22">
                    <i class="icon-other"></i>
                </span>
                <h2 class="title">{{'common.label.others' | translate}}</h2>
                <span class="mdi mdi-chevron-up md24 fl-right"></span>
            </div>
            <div class="accordion-content">
                <div class="content-block clearfix" *ngIf="filterLoading">
                    <div class="accordion-item">
                        <ul class="list-reset accordion-listing">
                            <li class="filter-item-checkbox">
                                <div class="accordion-row clearfix">
                                    <div class="width-18 height-16 loading-line fl-left"></div>
                                    <div class="width-70 mgn-t4 mgn-l10 loading-line fl-left"></div>
                                </div>
                            </li>
                            <li class="filter-item-checkbox">
                                <div class="accordion-row clearfix">
                                    <div class="width-18 height-16 loading-line fl-left"></div>
                                    <div class="width-50 mgn-t4 mgn-l10 loading-line fl-left"></div>
                                </div>
                            </li>
                            <li class="filter-item-checkbox">
                                <div class="accordion-row clearfix">
                                    <div class="width-18 height-16 loading-line fl-left"></div>
                                    <div class="width-80 mgn-t4 mgn-l10 loading-line fl-left"></div>
                                </div>
                            </li>
                            <li class="filter-item-checkbox">
                                <div class="accordion-row clearfix">
                                    <div class="width-18 height-16 loading-line fl-left"></div>
                                    <div class="width-40 mgn-t4 mgn-l10 loading-line fl-left"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="content-block clearfix" *ngIf="!filterLoading">
                    <div class="accordion-item">
                        <ul class="list-reset accordion-listing">
                            <li class="filter-item-checkbox">
                                <div class="checkbox checkbox-white checkbox-inline">
                                    <input type="checkbox" class="styled" id="tier1m" [checked]="existsInFilter('other', 'Tier 1 Management College')" [value]="'Tier 1 Management College'"
                                        (change)="autoMatchSocialToggleFilter($event, 'other')" />
                                    <label for="tier1m">{{'rhs.label.tier1MgmtClg' | translate}}</label>
                                </div>
                            </li>
                            <li class="filter-item-checkbox">
                                <div class="checkbox checkbox-white checkbox-inline">
                                    <input type="checkbox" class="styled" id="tier1e" [checked]="existsInFilter('other', 'Tier 1 Engineering College')" [value]="'Tier 1 Engineering College'"
                                        (change)="autoMatchSocialToggleFilter($event, 'other')" />
                                    <label for="tier1e">{{'rhs.label.tier1EnggClg' | translate}}</label>
                                </div>
                            </li>
                            <li class="filter-item-checkbox">
                                <div class="checkbox checkbox-white checkbox-inline">
                                    <input type="checkbox" class="styled" id="contact" [checked]="existsInFilter('contact', 1)" [value]="'contact'.indexOf('o')"
                                        (change)="autoMatchSocialToggleFilter($event, 'contact')" />
                                    <label for="contact">{{'rhs.label.hasContact' | translate}}</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- \\ End Toggle Others -->
    </div>
    <!-- \\ End Section Accordion  -->
</div>
</div>
<div class="right-sidebar-inner" *ngIf="whichSideBar == 'autoMatchMonster'">
     <alt-rhs-jobboard></alt-rhs-jobboard>
</div>