<alt-loader *ngIf="showloader"></alt-loader>
<div id="tab2" class="tab-details step-block" *ngIf="!showloader">
    <div *ngFor="let data of hiringProcessList; let index=index;">
        <div [ngSwitch]="true">
            <!-- Screening  -->
            <alt-hiring-process-screening *ngSwitchCase="data.sysWorkflowStageType==='SCREENING'"
                (output)="updateStatus($event)" [inputData]="data" [inputToggle]="data.isCurrentStageStatus" [statusLists]="statusList"
                [security]="security" (initSecurity)="initFormSecurityByStatusID($event)" [spinner]="spinner"  [applicantStatusID]="applicantStatusID"
                [jobCode]="jobCode"></alt-hiring-process-screening>

            <!--  Shortlisting  -->
            <!-- <alt-hiring-process-shortlisting *ngSwitchCase="data.sysWorkflowStageType==='SHORTLISTING'" (output)="updateStatus($event)" [inputData]="data" [inputToggle]="data.isCurrentStageStatus"
            [statusLists]="statusList"></alt-hiring-process-shortlisting> -->
            <!-- \\ End Shortlisting  -->

            <!--  Assessment  -->
            <alt-hiring-process-assessment *ngSwitchCase="data.sysWorkflowStageType==='ASSESSMENT' || data.sysWorkflowStageType==='ASSESSMENT_1' || data.sysWorkflowStageType==='ASSESSMENT_2' || data.sysWorkflowStageType==='ASSESSMENT_3'"
                (output)="updateStatus($event)" [inputData]="data" [inputToggle]="data.isCurrentStageStatus" [statusLists]="statusList"
                [security]="security" (initSecurity)="initFormSecurityByStatusID($event)" [spinner]="spinner"  [applicantStatusID]="applicantStatusID"></alt-hiring-process-assessment>
            <!-- \\ End Assessment  -->

            <!--  Interview  -->
            <alt-hiring-process-interview *ngSwitchCase="data.sysWorkflowStageType==='INTERVIEW_1' || data.sysWorkflowStageType==='INTERVIEW_2' || data.sysWorkflowStageType==='INTERVIEW_3' || data.sysWorkflowStageType==='INTERVIEW_4' || data.sysWorkflowStageType==='INTERVIEW_5' || data.sysWorkflowStageType==='HR_INTERVIEW'"
                (output)="updateStatus($event)" [inputData]="data" [inputToggle]="data.isCurrentStageStatus" [statusLists]="statusList"
                [requisitionID]="requisitionId" [security]="security" (initSecurity)="initFormSecurityByStatusID($event)" [spinner]="spinner"></alt-hiring-process-interview>
            <!-- \\ End Interview  -->

            <!--  Background Verification  -->
            <!-- <alt-hiring-process-background-verification *ngSwitchCase="data.sysWorkflowStageType==='BACKGROUND_VERIFICATION'" (output)="updateStatus($event)" [inputData]="data" [inputToggle]="data.isCurrentStageStatus"
            [statusLists]="statusList"></alt-hiring-process-background-verification> -->
            <!-- \\ End Background Verification  -->

            <!--  Document -->
            <alt-hiring-process-document *ngSwitchCase="data.sysWorkflowStageType==='DOCUMENTATION'" (output)="updateStatus($event)"
                [inputData]="data" [inputToggle]="data.isCurrentStageStatus" [statusLists]="statusList" [security]="security"
                (initSecurity)="initFormSecurityByStatusID($event)" [spinner]="spinner"></alt-hiring-process-document>
            <!-- \\ End Document  -->

            <!--  Salary Fitment Pending -->
            <alt-hiring-process-fitment *ngSwitchCase="data.sysWorkflowStageType==='SALARY_FITMENT'" (output)="updateStatus($event)"
                [setSecurity]="security" (initSecurity)="initFormSecurityByStatusID($event)" [inputData]="data" [workflowID]="workflowID" [inputToggle]="data.isCurrentStageStatus"
                [applicantStatusID]="applicantStatusID" [statusLists]="statusList"
                 [spinner]="spinner"></alt-hiring-process-fitment>
            <!--  Salary Fitment Pending 2-->

            <!--  Offer Generation Pending-->
            <alt-offer-hiring-process-generation *ngSwitchCase="data.sysWorkflowStageType==='OFFER'" (output)="updateStatus($event)"
                [applicantStatusID]="applicantStatusID" [inputData]="data" [inputToggle]="data.isCurrentStageStatus" [statusLists]="statusList"
                [security]="security" (initSecurity)="initFormSecurityByStatusID($event)" [spinner]="spinner"></alt-offer-hiring-process-generation>
            <!-- \\ End Offer Generation Pending-->

            <!--  Joining Pending-->
            <alt-hiring-process-joining *ngSwitchCase="data.sysWorkflowStageType==='JOINING'" (output)="updateStatus($event)" [inputData]="data"
                [inputToggle]="data.isCurrentStageStatus" [statusLists]="statusList" [security]="security" (initSecurity)="initFormSecurityByStatusID($event)"
                [spinner]="spinner" [applicantStatusID]="applicantStatusID"></alt-hiring-process-joining>
            <!-- \\ End Joining Pending-->

            <!--  Letter Of Intent-->
            <alt-hiring-process-loi *ngSwitchCase="data.sysWorkflowStageType==='LETTER_OF_INTENT'" (output)="updateStatus($event)" [inputData]="data"
                [inputToggle]="data.isCurrentStageStatus" [statusLists]="statusList" [security]="security" (initSecurity)="initFormSecurityByStatusID($event)"
                [spinner]="spinner"></alt-hiring-process-loi>
            <!-- \\ End Letter Of Intent-->

            <alt-hiring-process-screening *ngSwitchDefault (output)="updateStatus($event)" [inputData]="data" [inputToggle]="data.isCurrentStageStatus"
                (initSecurity)="initFormSecurityByStatusID($event)" [statusLists]="statusList" [security]="security" [spinner]="spinner"></alt-hiring-process-screening>

        </div>
    </div>
</div>