<!--  Interview Pending  -->
<div class="panel-full">
    <div class="panel {{toggleOpen?'panel-open':''}}">
        <div class="panel-heading clearfix">
            <h2 class="panel-title fl-left text-capitalize"><span class="count_Icon">{{inputData.sequence}}</span>{{inputData.workflowStageName}}<span class="text-step-cell">{{inputData.actionLabel}}</span></h2>
            <div class="icon_group_right">
                <span class="text-cell" *ngIf="inputData?.feedbackDocumentPath != null && inputData?.feedbackDocumentPath != '' && !(this.inputData.sysWorkflowstageActionType == 'PENDING' && this.inputData.isCurrentStageStatus)">
                    <a href="{{inputData?.feedbackDocumentPath}}" target="_blank">
                        <span class="material-icons dp20 margin-none">file_download</span>
                    </a>
                </span>
                <span class="mdi mdi-chevron-down" (click)="toggleDiv()"></span>
            </div>
        </div>
        <div class="panel-body" *ngIf="toggleOpen">
                <div class="assessment-tabel-cus section-table clearfix padding-b0" *ngIf="showAssessmentDoc">                                             
                        <div class="table-scroll-custome horizontal-scrollbox">
                           <!-- GUARANTEED --> 
                            <div class="table-outer">
                                <h3 class="title-12">{{'candidate.hiring_process.interviewVideo' | translate}}: 
                                    <a class="purple-color" style="vertical-align: middle" href="https://appv4.talview.com/evaluation/panel/view?id=19960&ascid=310990&Signature=mF41QBQ8F8~MI99YMg63ZDE1YTdkYjA3ZjljZTM3ZDU4MDNjZThiMzkzNjcxZDU5MGVjY2ExODlhMTQ5NzAxNTEzNDM0NDUyNGZlMTg2ZjK14xqvEDERSIduUWV-HeFVD6yYfA~I3WpWNwJONTrpEA__&public=true" target="_blank"><span class="material-icons videocam video-interview-icon" style="vertical-align: middle"></span></a>
                                    
                                </h3>
                                <h3 class="title-12">{{'candidate.hiring_process.recommendation' | translate}}: <span class="suitable-text">{{'candidate.hiring_process.suitable' | translate}}</span></h3>
                            </div>
                           <!-- \\ End GUARANTEED  -->
                        </div>                                                    
                      </div>
            <div class="item_list candidate-detail-field">
                <form [formGroup]="interviewForm">
                    <div class="candidate-tab-detail-block outer-border-bot" *ngIf="(inputData.sysWorkflowstageActionType != 'SCHEDULED-DONE' || newActionType == 'SCHEDULED' || newActionType == 'RE-SCHEDULED') && security?.sendEmailAsCalendarInviteRendered">
                        <div class="candidate-tab-detail-inner clearfix">
                            <span class="purple-color clearfix">{{security?.sendEmailAsCalendarInviteLabel}}</span>
                            <div class="radio-block">
                                <div class="radio">
                                    <input type="radio" id="calInviteYes" value="true" formControlName="calendarInvite"/>
                                    <label for="calInviteYes">{{'common.label.yes' | translate}}</label>
                                </div>
                                <div class="radio">
                                    <input type="radio" id="calInviteNo" value="false" formControlName="calendarInvite"/>
                                    <label for="calInviteNo">{{'common.label.no' | translate}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  Suggested Interview   -->
                    <div class="candidate-tab-detail-block outer-border-bot" *ngIf="(security?.startDateRendered) || (security?.endDateRendered) || (security?.venueRendered) || (security?.interviewTypeRendered) || (security?.interviewPanelistRendered)">
                        <h3 class="title-12" >{{'candidate.hiring_process.suggestedInterviewSlot' | translate}}</h3>
                        <div class="candidate-tab-detail-inner clearfix">
                            <div class="form-group row2">
                                <div class="col-md-4 col-md-4-padding10" *ngIf="security?.startDateRendered">
                                    <label class="control-label clearfix">{{security?.startDateLabel}}<span *ngIf="security?.startDateRequired">*</span></label>
                                    <div class="row">
                                        <div class="col-md-12 datepicker-col" [ngClass]="security?.startDateDisabled?'disabled':''">
                                            <alt-datepicker [styleClass]="'datepicker-common'" class="dropdown-calendar" [type]="'datetime'" [mode]="'landscape'" #startDate
                                            [value]="interviewStartDate" (change)="setStartDate(startDate.value)" [disabled]="security?.startDateDisabled"></alt-datepicker>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-md-4-padding10" *ngIf="security?.endDateRendered">
                                    <label class="control-label clearfix">{{security?.endDateLabel}}<span *ngIf="security?.endDateRequired">*</span></label>
                                    <div class="row">
                                        <div class="col-md-12 datepicker-col" [ngClass]="security?.endDateDisabled?'disabled':''">
                                            <alt-datepicker [styleClass]="'datepicker-common'" class="dropdown-calendar" [type]="'datetime'" [mode]="'landscape'" #endDate
                                            [value]="interviewEndDate" (change)="setEndDate(endDate.value)" [disabled]="security?.endDateDisabled" attachmentDisabled></alt-datepicker>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-md-4-padding10" *ngIf="security?.venueRendered">
                                    <label class="control-label clearfix">{{security?.venueLabel}}<span *ngIf="security?.venueRequired">*</span></label>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="dropdown-11 list-block">
                                                <alt-custom-single-select #VENUE [srcTag]="'VENUETAG'" (clickToClose)="VENUE.toggleClose()" [searchEnable]="true" [inputList]="venueList"
                                                    [value]="interviewForm.controls['venue'].value" placeholder="{{'candidate.hiring_process.selectVenue' | translate}}"
                                                    (valueBind)="setInterviewVenue($event)" [isDisabled]="security?.venueDisabled">
                                                </alt-custom-single-select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row2">
                                <div class="col-md-4 col-md-4-padding10" *ngIf="security?.interviewTypeRendered">
                                    <label class="control-label clearfix">{{security?.interviewTypeLabel}}<span *ngIf="security?.interviewTypeRequired">*</span></label>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="dropdown-11 list-block">
                                                <alt-custom-single-select #INTERVIEWTYPE [srcTag]="'INTERVIEWTYPETAG'" (clickToClose)="INTERVIEWTYPE.toggleClose()" [inputList]="interviewTypeList"
                                                    [value]="interviewForm.controls['interviewType'].value" placeholder="{{'candidate.hiring_process.selectInterviewType' | translate}}"
                                                    (valueBind)="interviewForm.controls['interviewType'].setValue($event.value)"
                                                    [isDisabled]="security?.interviewTypeDisabled">
                                                </alt-custom-single-select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- \\ End Interview Suggested  -->
                    <!--  Select interview panel Block -->
                    <div class="candidate-tab-detail-block select-interview" *ngIf="security?.interviewPanelistRendered">
                        <h3 class="title-12">{{security?.interviewPanelistLabel}}<span *ngIf="security?.interviewPanelistRequired">*</span></h3>
                        <div class="candidate-tab-detail-inner clearfix">
                            <!-- Card Block -->
                            <div *ngFor="let interviewPanel of selectedInterviewPanelist; let i = index;" class="card-block card-3">
                                <div class="card-block-inner" *ngIf="interviewPanel != null">
                                    <div class="card-row clearfix">
                                        <div class="image-block" [style.background]="randomcolor[i]">
                                            <span class="image-block-inner"> {{(interviewPanel.label.charAt(0)) | uppercase}}</span>
                                        </div>
                                        <!--<div class="image-block"><img src="./assets/images/svg/profile_male.svg" alt="profile img" /></div>-->
                                        <div class="description-cell  text-nowrap-grad">
                                            <span class="text-cell">{{'common.label.interviewer' | translate}}</span>
                                            <h2 class="title">{{interviewPanel.label}}</h2>
                                        </div>
                                        <div *ngIf="!security?.interviewPanelistDisabled"> 
                                            <span class="menu-click material-icons delete-icon  position-mng" (click)="deleteInterviewer(interviewPanel)">delete</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- \\ End Card Block -->
                            <!-- Card Block -->
                            <div class="card-block card-3" *ngIf="!security?.interviewPanelistDisabled">
                                <div class="card-block-inner">
                                    <a href="javascript:void(0)" class="" (click)="customDialog.hiddenToggle = !customDialog.hiddenToggle;">
                                        <div class="add-new-btn-outer add-new-btn-pad popup-small-click">
                                            <div class="add-new-btn"><span class="material-icons dp10">add</span>{{security?.interviewPanelistLabel}}</div>
                                        </div>
                                    </a>
                                    
                                    <alt-custom-multi-select  #customDialog (output)="addInterviewPanelistListener($event)" [returnObject]="true" [inputList]="interviewPanelist"
                                        [selectedInputList]="selectedInterviewPanelist">
                                    </alt-custom-multi-select>
                                </div>
                            </div>
                            <!-- \\ End Card Block -->
                        </div>
                    </div>
                    <!-- \\ End Select interview panel Block -->
                </form>

                <div class="form-group form-textarea" *ngIf="security?.commentRendered">
                    <textarea class="form-control noresize" [formControl]="comment" placeholder="{{security?.commentLabel+(security?.commentRequired? '*': '')}}"
                        [attr.disabled]="security?.commentDisabled?'disabled':null"></textarea>
                </div>
                <div class="btn-row-2 btn-row-attachment clearfix">
                    <div *ngIf="security?.attachmentRendered && !attachmentName" class="btn-file-custome" [ngClass]="security?.attachmentDisabled?'disabled-file':''">
                        <span class="link"><span class="material-icons">attachment</span>{{security?.attachmentLabel+(security?.attachmentRequired?'*':
                        '')}}</span>
                        <input class="file-btn" type="file" id="file" name="file" (change)="uploadDocumentListener($event)" [attr.disabled]="security?.attachmentDisabled?'disabled':null"
                        />
                    </div>
                    <div *ngIf="attachmentName" class="document-name-here">
                        <span class="material-icons done">done</span>
                        <span class="font-bold doc-file-name">{{attachmentName}}</span>
                        <span class="material-icons fl-right cursor" (click)="deleteDocumentListener()">delete</span>
                        <span class="material-icons fl-right cursor" (click)="downloadDocumentListener()">file_download</span>
                    </div>
                    <a *ngIf="showAssessmentDoc" href="./assets/images/interview_report.pdf" target="_blank" class="fl-left link">{{'common.label.downloadReport' | translate}}</a>
                    <div class="fl-right">
                        <div class="btn-for-mobile">
                            <div class="dropdown-11 select-black">
                                <alt-custom-single-select #SELECTEDSTATUS [srcTag]="'SELECTEDSTATUSTAG'" (clickToClose)="SELECTEDSTATUS.toggleClose()" [inputList]="statusLists"
                                    [value]="selectedStatusID.value" placeholder="{{'common.label.chooseStatus' | translate}}" (valueBind)="statusChangeListener($event.value, $event.sysActionType)"
                                    [isDisabled]="interview || jobStatus">
                                </alt-custom-single-select>
                            </div>
                            <!--<button type="button" (click)="updateStatus()" class="btn btn-primary">GO</button>-->
                            <alt-spinner-button gaevent="Interview#Continue#click" (myEvent)="updateStatus();" [spinner]="interview" [spinnerdisabled]="interview || jobStatus" [text]="label"></alt-spinner-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- \\ End Interview Pending  -->