<div class="info_title" (click)="candidateController.togglePersonal()">
  <span class="count_Icon">{{ candidateController.getSectionNumber('3') }}</span>{{security?.personalSectionLabel |
  formatCapitalize}}
  <span class="clearAllFields" *ngIf="security?.personalClearAllRendered" (click)="clear($event);">{{security?.personalClearAllLabel}}</span>
</div>
<div class="form_outer" [formGroup]="formGroup">
  <div *ngIf="security?.addressLine1Rendered || security?.addressLine2Rendered || security?.cityRendered || security?.stateRendered || security?.countryRendered || security?.pinCodeRendered"
   class="candidate-tab-detail-block clearfix" [class.outer-border-bot]="security?.addressLine1Rendered && security?.permanentAddressRendered">

    <h3 class="title-12">Current Address</h3>

    <div class="row">

      <!-- Current Address -->
      <div class="form-group row2 mgn-btm-0">

        <div class="col-md-12 input-field" *ngIf="security?.addressLine1Rendered">
          <label class="control-label">{{security?.addressLine1Label}}
            <span *ngIf="security?.addressLine1Required">*</span>
          </label>
          <div class="location-search location-search-filed">
            <div class="input_icon">
              <input class="form-control" maxlength="300" formControlName="addressLine1" placeholder="Enter Address Line 1"
                type="text" (keyup)="loadSuggestions(true);copyCurrentToPermanent();" (click)="toggleClose()">
            </div>
            <div class="location-listing" [class.displayNone]="!hiddenToggle" [class.displayBlock]="hiddenToggle">
              <ul class="list-reset">
                <ng-container *ngFor="let d of data;">
                  <li *ngIf="d.description" (click)="getPlaceDetails(d.place_id,true)" (clickToClose)="toggleClose()">{{d.description}}</li>
                </ng-container>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-12 input-field" *ngIf="security?.addressLine2Rendered">
          <label class="control-label">{{security?.addressLine2Label}}
            <span *ngIf="security?.addressLine2Required">*</span>
          </label>
          <input class="form-control" maxlength="200" formControlName="addressLine2" placeholder="Enter Address Line 2"
            type="text" (keyup)="copyCurrentToPermanent();">
        </div>

        <div class="col-md-6 input-field" *ngIf="security?.cityRendered">
          <label class="control-label">{{security?.cityLabel}}
            <span *ngIf="security?.cityRequired">*</span>
          </label>
          <input class="form-control" maxlength="100" formControlName="city" placeholder="Enter City" type="text" (keyup)="copyCurrentToPermanent();">
        </div>

        <div class="col-md-6 input-field" *ngIf="security?.stateRendered">
          <label class="control-label">{{security?.stateLabel}}
            <span *ngIf="security?.stateRequired">*</span>
          </label>
          <input class="form-control" maxlength="100" formControlName="state" placeholder="Enter State" type="text" (keyup)="copyCurrentToPermanent();">
        </div>

        <div class="col-md-6 input-field" *ngIf="security?.countryRendered">
          <label class="control-label">{{security?.countryLabel}}
            <span *ngIf="security?.countryRequired">*</span>
          </label>
          <input class="form-control" maxlength="100" formControlName="country" placeholder="Enter Country" type="text" (keyup)="copyCurrentToPermanent();">
        </div>
        <div class="col-md-6 input-field" *ngIf="security?.pinCodeRendered">
          <label class="control-label">{{security?.pinCodeLabel}}
            <span *ngIf="security?.pinCodeRequired">*</span>

          </label>
          <input class="form-control" maxlength="50" formControlName="pinCode" (keypress)="omit_special_char($event)" (keyup)="copyCurrentToPermanent();"
            placeholder="Enter Pin Code" type="text">
        </div>
      </div>
    </div>
  </div>
  <!-- Permanent Adrerss -->
  <div *ngIf="security?.permanentAddressRendered" class="candidate-tab-detail-block clearfix">

    <h3 class="title-12">Permanent Address</h3>
    <div class="row">

      <div *ngIf="security?.permanentAddressRendered && !renderPermanentAddress" class="check-box checkbox checkbox-address">

        <input id="sameAddress" type="checkbox" class="styled" [checked]="sameAddress" (change)="singleSelectEvent()">

        <label for="sameAddress">Permanent Address same as your Current Address</label>

      </div>
      <div class="form-group row2 mgn-btm-0">

        <div class="col-md-12 input-field" *ngIf="(security?.permanentAddressRendered && security?.addressLine1Rendered) || renderPermanentAddress">
          <label class="control-label">{{security?.addressLine1Label}}
            <span *ngIf="(security?.permanentAddressRequired && security?.addressLine1Required) || requiredPermanentAddress">*</span>
          </label>
          <div class="location-search location-search-filed">
            <div class="input_icon">
              <input class="form-control" maxlength="300" formControlName="permanentAddressLine1" placeholder="Enter Address Line 1"
                type="text" (keyup)="loadSuggestions(false)" (click)="toggleClose2()" [attr.disabled]="sameAddress?'disabled':null">
            </div>
            <div class="location-listing" [class.displayNone]="!hiddenToggle2" [class.displayBlock]="hiddenToggle2">
              <ul class="list-reset">
                <ng-container *ngFor="let d of data;">
                  <li *ngIf="d.description" (click)="getPlaceDetails(d.place_id,false)" (clickToClose)="toggleClose2()">{{d.description}}</li>
                </ng-container>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-12 input-field" *ngIf="(security?.permanentAddressRendered && security?.addressLine2Rendered) ||  renderPermanentAddress">
          <label class="control-label">{{security?.addressLine2Label}}
            <span *ngIf="(security?.permanentAddressRequired && security?.addressLine2Required) || requiredPermanentAddress">*</span>
          </label>
          <input class="form-control" maxlength="200" formControlName="permanentAddressLine2" placeholder="Enter Address Line 2"
            type="text" [attr.disabled]="sameAddress?'disabled':null">
        </div>

        <div class="col-md-6 input-field" *ngIf="(security?.permanentAddressRendered && security?.cityRendered) || renderPermanentAddress">
          <label class="control-label">{{security?.cityLabel}}
            <span *ngIf="(security?.permanentAddressRequired && security?.cityRequired) || requiredPermanentAddress">*</span>
          </label>
          <input class="form-control" maxlength="100" formControlName="permanentCity" placeholder="Enter City" type="text"
            [attr.disabled]="sameAddress?'disabled':null">
        </div>

        <div class="col-md-6 input-field" *ngIf="(security?.permanentAddressRendered && security?.stateRendered) || renderPermanentAddress">
          <label class="control-label">{{security?.stateLabel}}
            <span *ngIf="(security?.permanentAddressRequired && security?.stateRequired) || requiredPermanentAddress">*</span>
          </label>
          <input class="form-control" maxlength="100" formControlName="permanentState" placeholder="Enter State" type="text"
            [attr.disabled]="sameAddress?'disabled':null">
        </div>

        <div class="col-md-6 input-field" *ngIf="(security?.permanentAddressRendered && security?.countryRendered) || renderPermanentAddress">
          <label class="control-label">{{security?.countryLabel}}
            <span *ngIf="(security?.permanentAddressRequired && security?.countryRequired) || requiredPermanentAddress">*</span>
          </label>
          <input class="form-control" maxlength="100" formControlName="permanentCountry" placeholder="Enter Country"
            type="text" [attr.disabled]="sameAddress?'disabled':null">
        </div>
        <div class="col-md-6 input-field" *ngIf="(security?.permanentAddressRendered && security?.pinCodeRendered) || renderPermanentAddress">
          <label class="control-label">{{security?.pinCodeLabel}}
            <span *ngIf="(security?.permanentAddressRequired && security?.pinCodeRequired) || requiredPermanentAddress">*</span>

          </label>
          <input class="form-control" maxlength="50" formControlName="permanentPinCode" (keypress)="omit_special_char($event)"
            placeholder="Enter Pin Code" type="text" [attr.disabled]="sameAddress?'disabled':null">
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row2 mgn-btm-0">
    <div class="col-md-3 input-field" *ngIf="security?.facebookRendered">
      <label class="control-label clearfix">{{security?.facebookLabel}}
        <span *ngIf="security?.facebookRequired">*</span>
      </label>
      <input type="url" maxlength="500" class="form-control" formControlName="facebookProfile" placeholder="Enter" />
    </div>
    <div class="col-md-3 input-field" *ngIf="security?.twitterRendered">
      <label class="control-label">{{security?.twitterLabel}}
        <span *ngIf="security?.twitterRequired">*</span>
      </label>
      <input type="url" maxlength="500" class="form-control" formControlName="twitterProfile" placeholder="Enter" />
    </div>
    <div class="col-md-3 input-field" *ngIf="security?.linkedInRendered">
      <label class="control-label">{{security?.linkedInLabel}}
        <span *ngIf="security?.linkedInRequired">*</span>
      </label>
      <input type="url" maxlength="500" class="form-control" formControlName="linkedInProfile" placeholder="Enter" />
    </div>
    <div class="col-md-3 input-field" *ngIf="security?.googlePlusRendered">
      <label class="control-label">{{security?.googlePlusLabel}}
        <span *ngIf="security?.googlePlusRequired">*</span>
      </label>
      <input type="url" maxlength="500" class="form-control" formControlName="googlePlusProfile" placeholder="Enter" />
    </div>
  </div>
  <div class="column-footer row2">
    <div class="text-right" *ngIf="security?.personalContinueRendered">
      <alt-spinner-button (myEvent)="continue();" gaevent="Personal#Continue#click" [spinner]="candidateController.personalSectionBlock"
        [spinnerdisabled]="candidateController.personalSectionBlock || !formGroup.valid || security?.personalContinueDisabled || candidateController.personalSectionBlock"
        [text]="candidateController.isDraft? security?.personalContinueLabel: 'UPDATE'" [done]="candidateController.personalSectionDone && !formGroup.touched && formGroup.valid">
      </alt-spinner-button>
    </div>
  </div>
</div>