<alt-loader *ngIf="showloader"></alt-loader>
<div class="panel-full">
    <div class="panel {{toggleOpen?'panel-open':''}}">
        <div class="panel-heading clearfix">
            <h2 class="panel-title fl-left text-capitalize">
                <span class="count_Icon">{{inputData.sequence}}</span>{{inputData.workflowStageName}}
                <span class="text-step-cell">{{inputData.actionLabel}}</span>
            </h2>
            <div class="icon_group_right">
                <span class="mdi mdi-chevron-down" (click)="toggleDiv()"></span>
            </div>
        </div>
        <div class="panel-body" *ngIf="toggleOpen">
            <div class="candidate-tab-detail-block">
                <div class="candidate-tab-detail-inner clearfix">
                    <div class="form-group row2 mgn-btm-0">
                        <div class="col-md-4 col-md-4-padding10 input-field" *ngIf="security?.templateRendered">
                            <label class="control-label">{{security?.templateLabel}}
                                <span *ngIf="security?.templateRequired">*</span>
                            </label>
                            <div class="dropdown-11 list-block">
                                <alt-custom-single-select #LOITEMPLATE [srcTag]="'LOITEMPLATETAG'" (clickToClose)="LOITEMPLATE.toggleClose()"
                                [valueKey]="'id'" [labelKey]="'name'"
                                [isDisabled]="security?.templateDisabled" [inputList]="templateList" [value]="basicInfo.controls.template.id"
                                    placeholder="{{'common.label.select' | translate}}" (valueBind)="templateChangeListener($event)">
                                </alt-custom-single-select>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="form-group form-textarea" *ngIf="security?.commentRendered">
                <textarea class="form-control noresize" [formControl]="comment" placeholder="{{security?.commentLabel+(security?.commentRequired? '*': '')}}"
                    [attr.disabled]="security?.commentDisabled?'disabled':null"></textarea>
            </div>
            <div class="btn-row-2 btn-row-attachment clearfix">
                <div *ngIf="security?.attachmentRendered && !attachmentName" class="btn-file-custome" [ngClass]="security?.attachmentDisabled?'disabled-file':''">
                    <span class="link">
                        <span class="material-icons">attachment</span>{{security?.attachmentLabel+(security?.attachmentRequired? '*': '')}}</span>
                    <input class="file-btn" type="file" id="file" name="file" (change)="uploadDocumentListener($event)" [attr.disabled]="security?.attachmentDisabled?'disabled':null"
                    />
                </div>
                <div *ngIf="attachmentName" class="document-name-here">
                    <span class="material-icons done">done</span>
                    <span class="font-bold doc-file-name">{{attachmentName}}</span>
                    <span class="material-icons fl-right cursor" (click)="deleteDocumentListener()">delete</span>
                    <span class="material-icons fl-right cursor" (click)="downloadDocumentListener()">file_download</span>
                </div>
                <div class="fl-right">
                    <div class="btn-for-mobile">
                        <div class="dropdown-11 select-black">
                            <alt-custom-single-select #SELECTEDSTATUS [srcTag]="'SELECTEDSTATUSTAG'" (clickToClose)="SELECTEDSTATUS.toggleClose()" [inputList]="statusLists"
                                [value]="selectedStatusID.value" placeholder="{{'common.label.chooseStatus' | translate}}" (valueBind)="statusChangeListener($event)"
                                [isDisabled]="pending || jobStatus">
                            </alt-custom-single-select>
                        </div>
                        <alt-spinner-button gaevent="LetterOfIntent#Continue#click" (myEvent)="updateStatus();" [spinner]="pending" [spinnerdisabled]="pending || jobStatus" [text]="lable"></alt-spinner-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>