<alt-candidte-profile-loader *ngIf="profileLoader=='loader'"></alt-candidte-profile-loader>
<div class="candidate-detail-card" *ngIf="profileLoader=='data' || profileLoader=='nodata'">
    <div class="card-block">
        <div class="card-block-inner">
            <div class="candidate-detail-top clearfix">
                <div class="image-block" *ngIf="data.profileImage !=null">
                    <span class="image-block-inner">
                       <img src="./assets/images/svg/profile_male.svg" (error)="imageError(event, data)" alt="profile img" *ngIf="data.profileImage == null || data.profileImage == ''"/>
                       <img src="{{data.profileImage}}" alt="profile img" *ngIf="data.profileImage != null && data.profileImage != ''"/>
                   </span>
                </div>
                <div class="image-block" *ngIf="data.profileImage ==null" [style.background]="randomcolor">
                    <span class="image-block-inner">{{(data.firstName!=null && data.firstName!=''? data.firstName.charAt(0): '')+(data.lastName!=null && data.lastName!=''? data.lastName.charAt(0): '') | uppercase}}</span>
                </div>
                <div class="candidate-detail-top-right">
                    <div class="candidate-detail-top-block">
                        <div class="candidate-detail-title">
                            <h2 class="title">{{data.title}} {{data.firstName?.toLowerCase()}}
                                <span *ngIf="security?.middleNameRendered">{{data.middleName?.toLowerCase()}}</span>
                                <span *ngIf="security?.lastNameRendered">{{data.lastName?.toLowerCase()}}</span></h2>
                            <ul class="list-reset listing-inline listing-bor-last">
                                <li class="text-uppercase" *ngIf="Candidatecode">{{Candidatecode}}</li>
                                <li *ngIf="data.city">{{data.city?.toLowerCase()}}</li>
                            </ul>
                        </div>
                        <div class="social-block-footer" *ngIf="socialBlock(data)">
                            <a [href]="'//'+data.linkedinProfile" [ngClass]="{'link-disable': data.linkedinProfile ==null}" target="_blank" class="icon-smd li-icon"
                                *ngIf="security?.linkedInRendered">{{security?.linkedInLabel}}</a>
                            <a [href]="'//'+data.facebookProfile" [ngClass]="{'link-disable': data.facebookProfile ==null}" target="_blank" class="icon-smd fb-icon"
                                *ngIf="security?.facebookRendered">{{security?.facebookLabel}}</a>
                            <a [href]="'//'+data.twitterProfile" [ngClass]="{'link-disable': data.twitterProfile ==null}" target="_blank" class="icon-smd tw-icon"
                                *ngIf="security?.twitterRendered">{{security?.twitterLabel}}</a>
                            <a [href]="'//'+data.googleplusProfile" [ngClass]="{'link-disable': data.googleplusProfile ==null}" target="_blank" class="icon-smd gp-icon"
                                *ngIf="security?.googlePlusRendered">{{security?.googlePlusLabel}}</a>
                        </div>
                        <div class="candidate-opcation clearfix">
                            <a [href]="data.resumePath" [ngClass]="{'link-disable': data.resumePath ==null}" target="_blank"><span class="material-icons dp18 {{data.resumePath ==null?'':'purple-color'}}">file_download</span><span class="text-link {{data.resumePath ==null?'':'purple-color'}}">Download Resume</span></a>
                            <!--<a [href]="data.resumePath" [ngClass]="{'link-disable': data.resumePath ==null}" target="_blank"><span class="material-icons dp18 {{data.resumePath ==null?'':'purple-color'}}">visibility</span><span class="text-link {{data.resumePath ==null?'':'purple-color'}}">View Resume</span></a>
                            <a href="javascript:void(0)"><span class="material-icons dp18">videocam</span><span class="text-link">Watch Resume</span></a>-->
                            <a class="{{data.primaryEmailId != null && data.primaryEmailId.trim() != '' ?'':'link-disable'}}"><span class="material-icons dp18 {{data.primaryEmailId != null && data.primaryEmailId.trim() != '' ?'purple-color':''}}">mail</span><span class="text-link text-lowercase {{data.primaryEmailId != null && data.primaryEmailId.trim() != '' ?'purple-color':''}}">{{data.primaryEmailId}}</span></a>
                            <a class="{{data.mobileNumber != null && data.mobileNumber.trim() != '' ?'':'link-disable'}}"><span class="material-icons dp18 {{data.mobileNumber != null && data.mobileNumber.trim() != '' ?'purple-color':''}}">phone</span><span class="text-link {{data.mobileNumber != null && data.mobileNumber.trim() != '' ?'purple-color':''}}">{{data.mobileNumber}}</span></a>
                        </div>
                    </div>
                    <div *ngIf="featureDataMap.get('EDIT_CANDIDATE') != 3" class="job-option">
                        <a href="javascript:void(0)" class="menu-click" (click)="showContextMenu()"><span class="material-icons more-icon">more_vert</span></a>
                        <div class="{{contextMenuOpen?'displayBlock':'displayNone'}}">
                        <!-- Menu style -->
                        <div class="module-true displayBlock" (click)="hideContextMenu()"></div>
                        <div class="menu-style menu-style-2 {{contextMenuOpen?'displayBlock':'displayNone'}}">
                            <span class="material-icons close" (click)="hideContextMenu()">close</span>
                            <ul class="list-reset dropdown-menu">
                                <li *ngIf="featureDataMap.get('EDIT_CANDIDATE') == 1"><a href="javascript:void" [gaRouterLink]="['/candidate/newcandidate', Candidatecode | formatCandidatecodeParam]" gaevent="ContextMenu#Edit Candidate#click"><span class="menu-style-icon edit-icon13">edit</span>Edit Candidate</a></li>
                                <li *ngIf="featureDataMap.get('EDIT_CANDIDATE') == 2" class="disabled"><a><span class="menu-style-icon edit-icon13">edit</span>Edit Candidate</a></li>
                            </ul>
                        </div>
                        <!-- \\ End Menu style -->
                    </div>
                    </div>
                </div>
            </div>
            <div class="table-data candidate-detail-bottom">
                <ul class="list-reset table-data-ul">
                    <li class="only-for-mobile">
                        <div class="table-data-inner">
                            <div class="candidate-opcation clearfix">
                                <a [href]="data.resumePath" [ngClass]="{'link-disable': data.resumePath ==null}" target="_blank"><span class="material-icons dp18 {{data.resumePath ==null?'':'purple-color'}}">file_download</span><span class="text-link">Download Resume</span></a>
                                <!--<a [href]="data.resumePath" [ngClass]="{'link-disable': data.resumePath ==null}" target="_blank"><span class="material-icons dp18 {{data.resumePath ==null?'':'purple-color'}}">visibility</span><span class="text-link">View Resume</span></a>
                                <a href="javascript:void(0)"><span class="material-icons dp18">videocam</span><span class="text-link">Watch Resume</span></a>-->
                                <a class="{{data.primaryEmailId != null && data.primaryEmailId.trim() != '' ?'':'link-disable'}}"><span class="material-icons dp18 {{data.primaryEmailId != null && data.primaryEmailId.trim() != '' ?'purple-color':''}}">mail</span><span class="text-link {{data.primaryEmailId != null && data.primaryEmailId.trim() != '' ?'purple-color':''}}">{{data.primaryEmailId}}</span></a>
                                <a class="{{data.mobileNumber != null && data.mobileNumber.trim() != '' ?'':'link-disable'}}"><span class="material-icons dp18 {{data.mobileNumber != null && data.mobileNumber.trim() != '' ?'purple-color':''}}">phone</span><span class="text-link {{data.mobileNumber != null && data.mobileNumber.trim() != '' ?'purple-color':''}}">{{data.mobileNumber}}</span></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="table-data-inner">
                            <div class="profile-completed width20">
                                <div class="profile-graph">
                                    <div class="c100 p{{data.profileCompletion}}">
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="profile-graph-details">
                                    <span class="profile-pe.rcent">{{data.profileCompletion}}%</span>
                                    <span class="text-cell">{{ 'candidate.candidate_overview.profileComplete' | translate}}</span>
                                </div>
                            </div>
                            <div class="profile-match" *ngIf="automatchEnabled && fromCompanyDataPage">
                                <div class="profile-graph">
                                    <div class="c100 p{{getPercentage(candidateInfo)}} green">
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="profile-graph-details">
                                    <span class="profile-percent">{{getPercentage(candidateInfo)}}%</span>
                                    <span class="text-cell">{{ 'candidate.candidate_overview.match' | translate}}</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="table-data-inner">
                            <div class="source-name-block">
                                <span class="rounded-block margin-r15">
                                    <img *ngIf="data.sysSourceType == 'RECRUITER'" src="./assets/images/svg/recruiter.svg" alt="recruiter">
                                    <img *ngIf="data.sysSourceType == 'VENDOR'" src="./assets/images/svg/vendor.svg" alt="vendor">
                                    <img *ngIf="data.sysSourceType == 'CANDIDATE'" src="./assets/images/svg/candidate.svg" alt="candidate">
                                    <img *ngIf="data.sysSourceType == 'DIRECT'" src="./assets/images/svg/walk_in.svg" alt="walk-in">
                                    <img *ngIf="data.sysSourceType == 'EMPLOYEE REFERRAL'" src="./assets/images/svg/employee_referal.svg" alt="Employee Referal">
                                    <img *ngIf="data.sysSourceType == 'Confirmation'" src="./assets/images/svg/confirmation.svg" alt="confirmation">
                                    <img *ngIf="data.sysSourceType == 'IJP REFERRAL'" src="./assets/images/svg/ijp.svg" alt="ijp">
                                    <img *ngIf="data.sysSourceType == 'SOCIAL MEDIA'" src="./assets/images/svg/social_media.svg" alt="social media">                                    
                                    <img *ngIf="data.sysSourceType == 'JOB_BOARD' && data.sourceType != null && data.sourceType.toLowerCase() == 'naukri'" src="./assets/images/svg/naukri_portal.svg"
                                        alt="naukri">
                                    <img *ngIf="data.sysSourceType == 'JOB_BOARD' && data.sourceType != null && data.sourceType.toLowerCase() == 'monster'" src="./assets/images/svg/monster_job.svg"
                                        alt="monster">
                                    <img *ngIf="data.sysSourceType == 'JOB_BOARD' && data.sourceType != null && data.sourceType.toLowerCase() == 'shine'" src="./assets/images/svg/shine_job.svg"
                                        alt="shine">

                               </span>
                                <div class="description-cell">
                                    <span class="text-cell">{{security?.sourceTypeLabel}}</span>
                                    <span class="text-bold-cell text-nowrap-grad-white" matTooltip="{{data.sourceType}}">{{data.sourceType}}</span>
                                </div>
                            </div>
                            <div class="souce-code-block">
                                <span class="text-cell">{{security?.sourceCodeLabel}}</span>
                                <span class="text-bold-cell text-nowrap-grad-white" *ngIf="!isEmpty()"matTooltip="{{data.subSourceUsername}}">{{data.subSourceUsername}}</span>
                                <span class="text-bold-cell text-nowrap-grad-white" *ngIf="isEmpty()">{{ 'common.label.na' | translate}}</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>