<!--  Screening Screened-->
<!-- panel-multiple-open -->
<div class="panel-full {{inputData.sysWorkflowStageType === 'SALARY_FITMENT'?'salary-chat-history-section':''}}">
  <div [ngClass]="{'panel panel-multiple': true,
  'step-rejected':(inputData.sysWorkflowstageActionType == 'REJECTED' || inputData?.actionLabel == 'Dropped' || inputData?.sysWorkflowstageActionType == 'C&B REJECT'),
  'step-current':(inputData.isCurrentStageStatus && inputData.sysWorkflowstageActionType != 'REJECTED' && inputData.sysWorkflowstageActionType != 'JOINED'),
  'panel-multiple-open':toggleOpen, 
  'panel-multiple-close':!toggleOpen,
  'step-done':!inputData.isCurrentStageStatus || inputData.sysWorkflowstageActionType == 'JOINED'}">
    <div class="panel-heading clearfix">
      <h2 class="panel-title fl-left text-capitalize">
        <span class="count_Icon">{{inputData?.sequence}}</span>
        {{inputData?.workflowStageName}}
        <span class="text-step-cell">{{inputData?.actionLabel}}</span>
      </h2>
      <div class="icon_group_right">
        <span class="mdi mdi-chevron-down cursor" (click)="toggleDiv()"></span>
      </div>
    </div>
    <div class="accordion-content" *ngIf="toggleOpen">
      <div class="panel-body">
        <!--  Chats history Details -->
        <ng-container *ngFor="let data of inputData.details;let index=index;">
          <ng-container *ngIf="(data.isAutomatedTransaction && data.previousStage.sysWorkflowstageActionType=='SCHEDULED' && data.nextStage.sysWorkflowstageActionType=='SCHEDULED-DONE') 
          || (data.isAutomatedTransaction && data.previousStage.sysWorkflowstageActionType=='RE-SCHEDULED' && data.nextStage.sysWorkflowstageActionType=='SCHEDULED-DONE')
          || (!data.isAutomatedTransaction && data.previousStage.sysWorkflowStageType != null)">
            <div class="chats-history-block chats-open {{(data == inputData.details[0]) ? 'chats-accordion-details-top-non':''}}
            {{((inputData.sysWorkflowStageType==='SCREENING') && (data == inputData.details[1])) ? 'chats-accordion-details-top-non':''}}">
              <div class="chats-accordion-title clearfix">
                <div class="chats-images">
                  <div *ngIf="(!(data.isAutomatedTransaction && data.previousStage.sysWorkflowstageActionType=='SCHEDULED' && data.nextStage.sysWorkflowstageActionType=='SCHEDULED-DONE') 
                  && (!(data.isAutomatedTransaction && data.previousStage.sysWorkflowstageActionType=='RE-SCHEDULED' && data.nextStage.sysWorkflowstageActionType=='SCHEDULED-DONE')))"
                    class="image-block">
                    <div [style.background]="randomcolor[data.isAutomatedTransaction?'1':data.initialSequence]">
                      <span class="image-block-inner">{{(data.isAutomatedTransaction?'System'.charAt(0): ( getUserName(data.userName)) ) | uppercase}}</span>
                    </div>
                  </div>
                  <div *ngIf="((data.isAutomatedTransaction && data.previousStage.sysWorkflowstageActionType=='SCHEDULED' && data.nextStage.sysWorkflowstageActionType=='SCHEDULED-DONE')
                  || (data.isAutomatedTransaction && data.previousStage.sysWorkflowstageActionType=='RE-SCHEDULED' && data.nextStage.sysWorkflowstageActionType=='SCHEDULED-DONE'))"
                    class="image-block">
                    <div [style.background]="randomcolor[data.initialSequence]">
                      <span class="image-block-inner">{{ getUserName(data.userName) | uppercase}}</span>
                    </div>
                  </div>
                </div>
                <div class="chats-right">
                  <div [ngSwitch]="true">
                    <!--  Screening  -->
                    <alt-tagged-candidate-history-default-screening *ngSwitchCase="inputData.sysWorkflowStageType==='SCREENING'" [data]="data">
                    </alt-tagged-candidate-history-default-screening>
                    <!-- \\ End Screening  -->
                    <!--Shortlisting-->
                    <alt-tagged-candidate-history-default-shortlisting *ngSwitchCase="inputData.sysWorkflowStageType==='SHORTLISTING'" [data]="data">
                    </alt-tagged-candidate-history-default-shortlisting>
                    <!--\\End Shortlisting-->
                    <!--Interview-->
                    <alt-tagged-candidate-history-default-interview *ngSwitchCase="inputData.sysWorkflowStageType==='INTERVIEW_1' || inputData.sysWorkflowStageType==='INTERVIEW_2' || inputData.sysWorkflowStageType==='INTERVIEW_3' || inputData.sysWorkflowStageType==='INTERVIEW_4' || inputData.sysWorkflowStageType==='INTERVIEW_5' || inputData.sysWorkflowStageType==='HR_INTERVIEW'"
                      [data]="data">
                    </alt-tagged-candidate-history-default-interview>
                    <!--\\End Interview-->
                    <!--Offer-->
                    <alt-tagged-candidate-history-default-offer *ngSwitchCase="inputData.sysWorkflowStageType === 'OFFER'" [data]="data">
                    </alt-tagged-candidate-history-default-offer>
                    <!--End Offer-->
                    <!--Salary-->
                    <alt-tagged-candidate-history-default-salary *ngSwitchCase="inputData.sysWorkflowStageType === 'SALARY_FITMENT'" [data]="data"
                      (outSalaryFitmentStack)="setOutSalaryFitmentStack($event)" (outSalarySecurity)="setSalarySecurity($event)"
                      (outOtherExpensesList)="data.otherExpensesList=$event" (outStackList)="data.stackList=$event" 
                      (paystructureEmit)="data.paystructure=$event">
                    </alt-tagged-candidate-history-default-salary>
                    <!--End Salary-->

                    <!--Document-->
                    <alt-tagged-candidate-history-default-document *ngSwitchCase="inputData.sysWorkflowStageType === 'DOCUMENTATION'" [data]="data">
                    </alt-tagged-candidate-history-default-document>
                    <!--End Document-->
                    <!--Assessment-->
                    <alt-tagged-candidate-history-default-assessment *ngSwitchCase="inputData.sysWorkflowStageType === 'ASSESSMENT' || inputData.sysWorkflowStageType === 'ASSESSMENT_1'  ||  inputData.sysWorkflowStageType === 'ASSESSMENT_2' || inputData.sysWorkflowStageType === 'ASSESSMENT_3'"
                      [data]="data">
                    </alt-tagged-candidate-history-default-assessment>
                    <!--End Assessment-->
                    <!--Joining-->
                    <alt-tagged-candidate-history-default-joining *ngSwitchCase="inputData.sysWorkflowStageType==='JOINING'" [data]="data">
                    </alt-tagged-candidate-history-default-joining>
                    <!--\\End Joining-->
                    <!--COMPENSATION & BENEFIT-->
                    <alt-compensation-and-benifit *ngSwitchCase="inputData.sysWorkflowStageType==='COMPENSATION & BENEFIT'" [data]="data">
                    </alt-compensation-and-benifit>
                    <!--\\End COMPENSATION & BENEFIT-->
                    <!--LOI-->
                    <alt-loi *ngSwitchCase="inputData.sysWorkflowStageType==='LETTER_OF_INTENT'" [data]="data">
                    </alt-loi>
                    <!--\\End LOI-->
                    <div class="chats-accordion-summary" *ngSwitchDefault>
                      <span class="text-cell">Action Taker
                        <span class="font-bold text-lowercase">{{data.isAutomatedTransaction?'System':data.userName}}</span>
                      </span>
                      <span class="subject-cell">
                        <span class="purple-color">Stage moved from</span> {{data.previousStage.workflowStageName}} - {{data.previousStage.actionLabel}}</span>
                      <span class="text-to">To</span>
                      <span class="subject-cell">{{data.nextStage.workflowStageName}} - {{data.nextStage.actionLabel}}</span>
                    </div>
                  </div>
                  <div class="time-bock">
                    <div class="time-bock-inner">
                      <div class="time-date-cell">{{data.createdDate | date: 'hh:mm a, d MMM y'}}</div>
                      <div class="link-cell" *ngIf="!data.isAutomatedTransaction && data.attachmentPath != null && data.attachmentPath != ''">
                        <a href="{{data.attachmentPath}}" class="link" target="_blank">download attachment</a>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <ng-container  *ngIf="data.stackList==null && outSalaryFitmentStack?.length>0">
              <div class="ctc-chat-history table-outer-fitment" *ngIf="inputData.sysWorkflowStageType === 'SALARY_FITMENT' && data.nextStage.sysWorkflowstageActionType=='CREATE'">
                <div class="section-table clearfix">
                  <div class="table-scroll-custome horizontal-scrollbox">
                    <!-- GUARANTEED -->
                    <div class="table-outer" *ngFor="let res of outSalaryFitmentStack">
                      <ng-container *ngIf="res.payComponent != null">
                        <h3 class="title-12">{{res.payGroupName}}</h3>
                        <table class="table document-table">
                          <ng-container *ngFor="let payComponent of res.payComponent">
                            <thead>
                              <tr>
                                <th *ngIf="salarySecurity?.paycomponentViewable" class="table-cell-1">{{payComponent.payComponentName}}</th>
                                <th *ngIf="salarySecurity?.monthlyamountViewable" class="table-cell-3">{{payComponent.monthCtcAmount}} PM</th>
                                <th *ngIf="salarySecurity?.annualamountViewable" class="table-cell-4">{{payComponent.yearCtcAmount}} PA</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let compBreakUp of payComponent.compBreakUp">
                                <td *ngIf="salarySecurity?.paycomponentViewable" class="table-cell-1">{{compBreakUp.payCode}}</td>
                                <td *ngIf="salarySecurity?.monthlyamountViewable" class="table-cell-3 no-spin">
                                  <input type="number" min="0" class="form-control form-control-white" [value]="compBreakUp.monthlyAmount" (change)="updateAmountAdjustments($event,compBreakUp.payStructureCodeId,'monthly')"
                                    [disabled]="true" (keypress)="decimalValuesKeyPress($event)" />
                                </td>
                                <td *ngIf="salarySecurity?.annualamountViewable" class="table-cell-4 no-spin">
                                  <input type="number" min="0" class="form-control form-control-white" [value]="compBreakUp.annualAmount" (change)="updateAmountAdjustments($event,compBreakUp.payStructureCodeId,'yearly')"
                                    [disabled]="true" (keypress)="decimalValuesKeyPress($event)" />
                                </td>
                              </tr>
                            </tbody>
                          </ng-container>
                        </table>
                      </ng-container>
                      <table class="table document-table" *ngIf="res.payComponent === null">
                        <tbody>
                          <tr class="total">
                            <td *ngIf="salarySecurity?.paycomponentViewable" class="table-cell-1">{{res.payGroupName}}</td>
                            <td *ngIf="salarySecurity?.monthlyamountViewable" class="table-cell-3">{{res.monthCtcAmount}}</td>
                            <td *ngIf="salarySecurity?.annualamountViewable" class="table-cell-4">{{res.yearCtcAmount}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div>
                      <div class="table-outer">
                        <table class="table document-table">
                          <tbody>
                            <tr class="total">
                              <td *ngIf="salarySecurity?.paycomponentViewable" class="table-cell-1">{{salarySecurity?.totalCtcAddLabel}} {{totalCTCAnnotate}}</td>
                              <td *ngIf="salarySecurity?.monthlyamountViewable" class="table-cell-3">{{totalAmtMon}}</td>
                              <td *ngIf="salarySecurity?.annualamountViewable" class="table-cell-4">{{totalAmtYr}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="table-outer">
                        <table class="table document-table">
                          <thead>
                            <tr class="total-ctc">
                              <th *ngIf="salarySecurity?.paycomponentViewable" class="table-cell-1">{{salarySecurity?.grossHiddenMonthlyLabel}}</th>
                              <th *ngIf="salarySecurity?.monthlyamountViewable" class="table-cell-3">{{totalAmtMonthWithoutHidden}}</th>
                              <th *ngIf="salarySecurity?.annualamountViewable" class="table-cell-4">&nbsp;</th>
                            </tr>
                          </thead>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </ng-container>
              <ng-container *ngIf="data.stackList?.length>0 || data.otherExpensesList?.length>0">
              <div class="ctc-chat-history table-outer-fitment" *ngIf="inputData.sysWorkflowStageType === 'SALARY_FITMENT' && (data.nextStage.sysWorkflowstageActionType=='CREATE' || data.nextStage.sysWorkflowstageActionType=='CREATED')">
                <div class="section-table clearfix" *ngIf="data.stackList?.length>0">
                  <div class="table-scroll-custome horizontal-scrollbox">
                    <div class="table-outer table-common">
                        <h3 class="title-12">Salary stack</h3>
                      <table class="table document-table">
                        <thead>
                          <tr>
                            <th class="cell-first">Component</th>
                            <th class="cell-last">Monthly</th>
                            <th class="cell-last">Yearly</th>
                          </tr>
                        </thead>
                        <tbody>
                          <ng-container *ngFor="let comp of data.stackList">
                            <tr *ngIf="comp.paystructureType=='Offered_Stack'
                            || comp.paystructureType=='Offered_Stack_Group'
                            || comp.paystructureType=='Offered_Stack_Total'">
                              <td class="cell-first">{{comp.payCodeName}}</td>
                              <td class="cell-last">{{comp.amount}}</td>
                              <td class="cell-last">
                                <ng-container *ngIf="comp.payCodeName !== 'Gross Monthly Amount'">
                                {{comp.annualAmount}}
                                </ng-container>
                              </td>
                            </tr>
                          </ng-container>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="section-table clearfix" *ngIf="data.otherExpensesList?.length>0">
                  <div class="table-scroll-custome horizontal-scrollbox">
                    <div class="table-outer table-common" *ngIf="data.otherExpensesList?.length>0">
                      <h3 class="title-12-gray padding-t15">other expenses</h3>
                      <table class="table document-table">
                        <thead>
                          <tr>
                            <th class="cell-first">Component</th>
                            <th class="width150">Effective Date</th>
                            <th class="width105">Pay Frequency</th>
                            <th class="width115">Amount</th>
                            <th class="table-multiplay">
                              <table class="table-multiplay-inner">
                                <thead>
                                  <tr>
                                    <th class="table-cell-04">Amount Breakup</th>
                                    <th class="table-cell-012">Payout Date</th>
                                  </tr>
                                </thead>
                              </table>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <ng-container *ngFor="let comp of data.otherExpensesList">
                            <tr>
                              <td class="cell-first">{{comp.payCodeName}}</td>
                              <td class="width150">{{comp.effectiveDateFormat}}</td>
                              <td class="width105">{{comp.frequency}}</td>
                              <td class="width115">{{comp.amount}}</td>
                              <td class="table-multiplay">
                                <table class="table-multiplay-inner">
                                  <tr *ngFor="let instalment of comp.detailsInstalments;">
                                    <td class="table-cell-04">{{instalment.amount}}</td>
                                    <td class="table-cell-012">
                                      {{getInstalmentMonth(instalment.month)}} {{instalment.year}}
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </ng-container>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              </ng-container>
              <div class="chats-accordion-details" *ngIf="!data.isAutomatedTransaction && data.comment!=null && data.comment!=='' && (data.action == null || data.action == 'undefined')">
                <div class="chats-details chats-job-rejected">
                  <strong class="font-bold fl-left">
                    <i class="material-icons textsms chat-icon"></i> Comment :</strong>
                  <p class="first-character">{{data.comment}}</p>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>
        <!-- \\ End Chats history Details -->
      </div>
    </div>
  </div>
</div>
<!-- \\ End Screening Screened-->