<div class="comint-soon-container">
    <img src="./assets/images/Coming-soontext.png" alt="" title="">
</div>
<div class="coming-soon-wrapper">
    <div class="coming-soon"></div>
</div>
<div class="main-title-row title-with-rht margin-bot-none">
    <h1 class="main-title">MY REFERRALS</h1>
    <div class="main-title-right">
        <button class="btn btn-default popup-small-click">
            <span class="only-destop">refer a candidate</span>
            <span class="only-mobile">refer</span>
        </button>
        <!-- Popup Small -->
        <div class="popup-small popup-refer-candidate">
            <div class="popup-top clearfix">
                <span class="material-icons close">close</span>
                <h2 class="title">Refer a candidate</h2>
            </div>
            <div class="popup-small-inner clearfix">
                <div class="item_list">
                    <div class="form-group  clearfix">
                        <label class="control-label">Senior Technology Manager</label>
                        <div class="dropdown-11 list-block">
                            <select class="selectpicker">
                                <option>Technology</option>
                                <option>Technology</option>
                                <option>Technology</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">First Name*</label>
                        <input class="form-control" placeholder="Enter First Name" type="text">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Last Name*</label>
                        <input class="form-control" placeholder="Enter Last Name" type="text">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Mobile Number*</label>
                        <input class="form-control" placeholder="Enter Mobile Number" type="text">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Email Address*</label>
                        <input class="form-control" placeholder="Enter Email Address" type="text">
                    </div>
                    <div class="form-group margin-bot-none">
                        <button class="btn btn-gray btn-full">ATTACH A RESUME</button>
                        <div class="attached-cell" style="display:none;">
                            <span class="material-icons done-icon">done</span>
                            <span class="font-bold">Resume Attached</span>
                            <span class="material-icons delete-icon">delete</span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="btn-row fl-right">
                <button class="btn btn-white">cancel</button>
                <button class="btn btn-primary">REFER</button>
            </div>
        </div>
        <!-- \\ End Popup Small-->
    </div>
</div>

<!--  Section Card-->
<div class="section-card clearfix">
    <!-- Card Block -->
    <div class="card-block card-3 card-my-referral">
        <div class="card-block-inner">
            <div class="card-row card-name-row">
                <div class="image-block">
                    <img src="./assets/images/profile_main.jpg" alt="card name" />
                </div>
                <span class="material-icons flag-icon">flag</span>
                <div class="title-cell">
                    <h3 class="title">
                        <a class="link" href="candidate_detail.html">Suresh Rao</a>
                    </h3>
                    <ul class="list-reset listing-inline">
                        <li>candidate/code/00000</li>
                        <li>tiruvananthapuram</li>
                    </ul>
                </div>
            </div>
            <div class="card-row card-designation-small">
                <span class="job-status job-active"></span>
                <div class="common-cell">
                    <span class="name-cell font-bold">Senior consultant technology management</span>
                    <span class="job-code">JobCode/0000/Konat</span>
                </div>
            </div>
            <div class="card-row card-profile-row clearfix">
                <div class="profile-completed">
                    <div class="profile-graph">
                        <div class="c100 p75">
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-graph-details">
                        <span class="profile-percent">75%</span>
                        <span class="text-cell">profile Complete</span>
                    </div>
                </div>
            </div>
            <div class="card-row ver-row clearfix">
                <div class="background-ver">Screening :
                    <span class="pending org">Pending</span>
                </div>
                <div class="candidate-stages-bar-outer clearfix">
                    <ul class="list-reset candidate-stages-bar">
                        <li class="dot org"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                    </ul>
                </div>
            </div>

            <div class="card-row source-row clearfix">
                <div class="description-cell">
                    <span class="text-cell">Referred On</span>
                    <span class="text-bold-cell">09/05/2016</span>
                </div>
            </div>
        </div>
        <div class="btn-row mrg-lf-20">
            <a href="#" class="btn btn-gray">VIEW RESUME / ATTACH RESUME</a>
        </div>
    </div>
    <!-- \\ End Card Block -->
    <!-- Card Block -->
    <div class="card-block card-3 card-my-referral">
        <div class="card-block-inner">
            <div class="card-row card-name-row">
                <div class="image-block">
                    <img src="./assets/images/profile_main.jpg" alt="card name" />
                </div>
                <span class="material-icons flag-icon">flag</span>
                <div class="title-cell text-nowrap-cell">
                    <h3 class="title">
                        <a class="link" href="candidate_detail.html">Ekambaram Narayanan Santoshram</a>
                    </h3>
                    <ul class="list-reset listing-inline">
                        <li>candidate/code/00000</li>
                        <li>tiruvananthapuram</li>
                    </ul>
                </div>
            </div>
            <div class="card-row card-designation-small">
                <span class="job-status job-active"></span>
                <div class="common-cell">
                    <span class="name-cell font-bold">Senior consultant technology management</span>
                    <span class="job-code">JobCode/0000/Konat</span>
                </div>
            </div>
            <div class="card-row card-profile-row clearfix">
                <div class="profile-completed">
                    <div class="profile-graph">
                        <div class="c100 p75">
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-graph-details">
                        <span class="profile-percent">75%</span>
                        <span class="text-cell">profile Complete</span>
                    </div>
                </div>
            </div>
            <div class="card-row ver-row clearfix">
                <div class="background-ver">Screening :
                    <span class="pending org">Pending</span>
                </div>
                <div class="candidate-stages-bar-outer clearfix">
                    <ul class="list-reset candidate-stages-bar">
                        <li class="dot org"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                    </ul>
                </div>
            </div>

            <div class="card-row source-row clearfix">
                <div class="description-cell">
                    <span class="text-cell">Referred On</span>
                    <span class="text-bold-cell">09/05/2016</span>
                </div>
            </div>
        </div>
        <div class="btn-row mrg-lf-20">
            <a href="#" class="btn btn-gray">VIEW RESUME / ATTACH RESUME</a>
        </div>
    </div>
    <!-- \\ End Card Block -->
    <!-- Card Block -->
    <div class="card-block card-3 card-my-referral">
        <div class="card-block-inner">
            <div class="card-row card-name-row">
                <div class="image-block">
                    <img src="./assets/images/profile_main.jpg" alt="card name" />
                </div>
                <span class="material-icons flag-icon">flag</span>
                <div class="title-cell text-nowrap-cell">
                    <h3 class="title">
                        <a class="link" href="candidate_detail.html">Ekambaram Narayanan Santoshram</a>
                    </h3>
                    <ul class="list-reset listing-inline">
                        <li>candidate/code/00000</li>
                        <li>tiruvananthapuram</li>
                    </ul>
                </div>
            </div>
            <div class="card-row card-designation-small">
                <span class="job-status job-active"></span>
                <div class="common-cell">
                    <span class="name-cell font-bold">Senior consultant technology management</span>
                    <span class="job-code">JobCode/0000/Konat</span>
                </div>
            </div>
            <div class="card-row card-profile-row clearfix">
                <div class="profile-completed">
                    <div class="profile-graph">
                        <div class="c100 p75">
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-graph-details">
                        <span class="profile-percent">75%</span>
                        <span class="text-cell">profile Complete</span>
                    </div>
                </div>
            </div>
            <div class="card-row ver-row clearfix">
                <div class="background-ver">Screening :
                    <span class="pending org">Pending</span>
                </div>
                <div class="candidate-stages-bar-outer clearfix">
                    <ul class="list-reset candidate-stages-bar">
                        <li class="dot org"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                    </ul>
                </div>
            </div>

            <div class="card-row source-row clearfix">
                <div class="description-cell">
                    <span class="text-cell">Referred On</span>
                    <span class="text-bold-cell">09/05/2016</span>
                </div>
            </div>
        </div>
        <div class="btn-row mrg-lf-20">
            <a href="#" class="btn btn-gray">VIEW RESUME / ATTACH RESUME</a>
        </div>
    </div>
    <!-- \\ End Card Block -->
    <!-- Card Block -->
    <div class="card-block card-3 card-my-referral">
        <div class="card-block-inner">
            <div class="card-row card-name-row">
                <div class="image-block">
                    <img src="./assets/images/profile_main.jpg" alt="card name" />
                </div>
                <span class="material-icons flag-icon">flag</span>
                <div class="title-cell">
                    <h3 class="title">
                        <a class="link" href="candidate_detail.html">Suresh Rao</a>
                    </h3>
                    <ul class="list-reset listing-inline">
                        <li>candidate/code/00000</li>
                        <li>tiruvananthapuram</li>
                    </ul>
                </div>
            </div>
            <div class="card-row card-designation-small">
                <span class="job-status job-active"></span>
                <div class="common-cell">
                    <span class="name-cell font-bold">Senior consultant technology management</span>
                    <span class="job-code">JobCode/0000/Konat</span>
                </div>
            </div>
            <div class="card-row card-profile-row clearfix">
                <div class="profile-completed">
                    <div class="profile-graph">
                        <div class="c100 p75">
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-graph-details">
                        <span class="profile-percent">75%</span>
                        <span class="text-cell">profile Complete</span>
                    </div>
                </div>
            </div>
            <div class="card-row ver-row clearfix">
                <div class="background-ver">Screening :
                    <span class="pending org">Pending</span>
                </div>
                <div class="candidate-stages-bar-outer clearfix">
                    <ul class="list-reset candidate-stages-bar">
                        <li class="dot org"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                    </ul>
                </div>
            </div>

            <div class="card-row source-row clearfix">
                <div class="description-cell">
                    <span class="text-cell">Referred On</span>
                    <span class="text-bold-cell">09/05/2016</span>
                </div>
            </div>
        </div>
        <div class="btn-row mrg-lf-20">
            <a href="#" class="btn btn-gray">VIEW RESUME / ATTACH RESUME</a>
        </div>
    </div>
    <!-- \\ End Card Block -->
    <!-- Card Block -->
    <div class="card-block card-3 card-my-referral">
        <div class="card-block-inner">
            <div class="card-row card-name-row">
                <div class="image-block">
                    <img src="./assets/images/profile_main.jpg" alt="card name" />
                </div>
                <span class="material-icons flag-icon">flag</span>
                <div class="title-cell text-nowrap-cell">
                    <h3 class="title">
                        <a class="link" href="candidate_detail.html">Ekambaram Narayanan Santoshram</a>
                    </h3>
                    <ul class="list-reset listing-inline">
                        <li>candidate/code/00000</li>
                        <li>tiruvananthapuram</li>
                    </ul>
                </div>
            </div>
            <div class="card-row card-designation-small">
                <span class="job-status job-active"></span>
                <div class="common-cell">
                    <span class="name-cell font-bold">Senior consultant technology management</span>
                    <span class="job-code">JobCode/0000/Konat</span>
                </div>
            </div>
            <div class="card-row card-profile-row clearfix">
                <div class="profile-completed">
                    <div class="profile-graph">
                        <div class="c100 p75">
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-graph-details">
                        <span class="profile-percent">75%</span>
                        <span class="text-cell">profile Complete</span>
                    </div>
                </div>
            </div>
            <div class="card-row ver-row clearfix">
                <div class="background-ver">Screening :
                    <span class="pending org">Pending</span>
                </div>
                <div class="candidate-stages-bar-outer clearfix">
                    <ul class="list-reset candidate-stages-bar">
                        <li class="dot org"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                    </ul>
                </div>
            </div>

            <div class="card-row source-row clearfix">
                <div class="description-cell">
                    <span class="text-cell">Referred On</span>
                    <span class="text-bold-cell">09/05/2016</span>
                </div>
            </div>
        </div>
        <div class="btn-row mrg-lf-20">
            <a href="#" class="btn btn-gray">VIEW RESUME / ATTACH RESUME</a>
        </div>
    </div>
    <!-- \\ End Card Block -->
    <!-- Card Block -->
    <div class="card-block card-3 card-my-referral">
        <div class="card-block-inner">
            <div class="card-row card-name-row">
                <div class="image-block">
                    <img src="./assets/images/profile_main.jpg" alt="card name" />
                </div>
                <span class="material-icons flag-icon">flag</span>
                <div class="title-cell text-nowrap-cell">
                    <h3 class="title">
                        <a class="link" href="candidate_detail.html">Ekambaram Narayanan Santoshram</a>
                    </h3>
                    <ul class="list-reset listing-inline">
                        <li>candidate/code/00000</li>
                        <li>tiruvananthapuram</li>
                    </ul>
                </div>
            </div>
            <div class="card-row card-designation-small">
                <span class="job-status job-active"></span>
                <div class="common-cell">
                    <span class="name-cell font-bold">Senior consultant technology management</span>
                    <span class="job-code">JobCode/0000/Konat</span>
                </div>
            </div>
            <div class="card-row card-profile-row clearfix">
                <div class="profile-completed">
                    <div class="profile-graph">
                        <div class="c100 p75">
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-graph-details">
                        <span class="profile-percent">75%</span>
                        <span class="text-cell">profile Complete</span>
                    </div>
                </div>
            </div>
            <div class="card-row ver-row clearfix">
                <div class="background-ver">Screening :
                    <span class="pending org">Pending</span>
                </div>
                <div class="candidate-stages-bar-outer clearfix">
                    <ul class="list-reset candidate-stages-bar">
                        <li class="dot org"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li>
                    </ul>
                </div>
            </div>

            <div class="card-row source-row clearfix">
                <div class="description-cell">
                    <span class="text-cell">Referred On</span>
                    <span class="text-bold-cell">09/05/2016</span>
                </div>
            </div>
        </div>
        <div class="btn-row mrg-lf-20">
            <a href="#" class="btn btn-gray">VIEW RESUME / ATTACH RESUME</a>
        </div>
    </div>
    <!-- \\ End Card Block -->
</div>
<!-- \\ End Section Card-->