<div class="chats-accordion-summary">
  <ng-container *ngIf="(!(data.isAutomatedTransaction && data.previousStage.sysWorkflowstageActionType=='SCHEDULED' && data.nextStage.sysWorkflowstageActionType=='SCHEDULED-DONE') 
  && (!(data.isAutomatedTransaction && data.previousStage.sysWorkflowstageActionType=='RE-SCHEDULED' && data.nextStage.sysWorkflowstageActionType=='SCHEDULED-DONE')))">
    <span class="text-cell font-bold text-lowercase">{{data.isAutomatedTransaction?'System':data.userName}}</span>
  </ng-container>
  <ng-container *ngIf="((data.isAutomatedTransaction && data.previousStage.sysWorkflowstageActionType=='SCHEDULED' && data.nextStage.sysWorkflowstageActionType=='SCHEDULED-DONE')
  || (data.isAutomatedTransaction && data.previousStage.sysWorkflowstageActionType=='RE-SCHEDULED' && data.nextStage.sysWorkflowstageActionType=='SCHEDULED-DONE'))">
    <span class="text-cell font-bold text-lowercase">{{data.userName}}</span>
  </ng-container>
  <span class="subject-cell" *ngIf="(data.isAutomatedTransaction) && data.nextStage.sysWorkflowstageActionType=='PENDING'">Candidate’s profile is pending for next stage
  </span>
  <span class="subject-cell" *ngIf="!(data.isAutomatedTransaction) && data.nextStage.sysWorkflowstageActionType=='PENDING'">Candidate’s profile is pending for interview
  </span>
  <span *ngIf="(data.previousStage.sysWorkflowstageActionType=='SCHEDULED' && data.nextStage.sysWorkflowstageActionType=='SCHEDULED-DONE' && venue!=null )"
    class="chat-detail-tool">
    <div class="tooltip-section">
      <span class="subject-cell">Scheduled the interview for candidate on {{startDateDay}}, {{startDateResponse | date:"MMM dd, yyyy hh:mm a"}}  in {{venue}}</span>
      <span class="tooltip-container tooltipT20">Scheduled the interview for candidate on {{startDateDay}}, {{startDateResponse | date:"MMM dd, yyyy hh:mm a"}}  in {{venue}}</span>
    </div>
    <div class="tooltip-section">
      <span class="subject-cell">Interview Panel : {{interviewer}}</span>
      <span class="tooltip-container">Interview Panel : {{interviewer}}</span>
  </div>
  </span>
  <span *ngIf="(data.previousStage.sysWorkflowstageActionType=='SCHEDULED' && data.nextStage.sysWorkflowstageActionType=='SCHEDULED-DONE' && venue === null)"
    class="chat-detail-tool">
    <div class="tooltip-section">
      <span class="subject-cell">Scheduled the interview for candidate on {{startDateDay}}, {{startDateResponse | date:"MMM dd, yyyy hh:mm a"}}</span>
      <span class="tooltip-container tooltipT20">Scheduled the interview for candidate on {{startDateDay}}, {{startDateResponse | date:"MMM dd, yyyy hh:mm a"}}</span>
    </div>
    <div class="tooltip-section">
      <span class="subject-cell">Interview Panel : {{interviewer}}</span>
      <span class="tooltip-container">Interview Panel : {{interviewer}}</span>
  </div>
  </span>
  <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='DROPPED'">Dropped the candidate
  </span>
  <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='SCHEDULED'">Initiated the interview
  </span>
  <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='RE-SCHEDULED'">Re-Initiated the interview
  </span>
  <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='ONHOLD'">Moved the candidate to "ON HOLD"
  </span>
  <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='REJECTED'">Rejected the candidate
  </span>
  <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='QUALIFIED'">Candidate has qualified the interview
  </span>
  <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='EMAILED'">Emailed the candidate
  </span>
  <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='NOSHOW'">No Show by the candidate
  </span>
  
  <span *ngIf="(data.previousStage.sysWorkflowstageActionType=='RE-SCHEDULED' && data.nextStage.sysWorkflowstageActionType=='SCHEDULED-DONE' && venue!=null)"
    class="chat-detail-tool">
    <div class="tooltip-section">
      <span class="subject-cell">Re-Scheduled the interview for candidate on {{startDateDay}}, {{startDateResponse | date:"MMM dd, yyyy hh:mm a"}}  in {{venue}}</span>
      <span class="tooltip-container tooltipT20">Re-Scheduled the interview for candidate on {{startDateDay}}, {{startDateResponse | date:"MMM dd, yyyy hh:mm a"}}  in {{venue}}</span>
    </div>
      <div class="tooltip-section">
        <span class="subject-cell">Interview Panel : {{interviewer}}</span>
        <span class="tooltip-container">Interview Panel : {{interviewer}}</span>
    </div>
  </span>
  <span *ngIf="(data.previousStage.sysWorkflowstageActionType=='RE-SCHEDULED' && data.nextStage.sysWorkflowstageActionType=='SCHEDULED-DONE' && venue==null)"
    class="chat-detail-tool">  
    <div class="tooltip-section">
      <span class="subject-cell">Re-Scheduled the interview for candidate on {{startDateDay}}, {{startDateResponse | date:"MMM dd, yyyy hh:mm a"}}</span>    
      <span class="tooltip-container tooltipT20">Re-Scheduled the interview for candidate on {{startDateDay}}, {{startDateResponse | date:"MMM dd, yyyy hh:mm a"}}</span>
    </div>
      <div class="tooltip-section">
        <span class="subject-cell">Interview Panel : {{interviewer}} </span>
        <span class="tooltip-container">Interview Panel : {{interviewer}}</span>
    </div>
  </span>
  <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='PREVIOUSSTAGE'"> Moved the candidate to previous stage
  </span>
  <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='OFFERPENDING'"> Candidate’s profile is pending for offer
  </span>
  <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='PREVIOUSSTAGE'"> Moved the candidate to previous stage
  </span>
  <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='NEXTSTAGE'"> Moved the candidate to next stage
  </span>
  <span class="widhtFull" *ngIf="data.action != null &&  data.action != 'undefined' && (data.action.toUpperCase()  == 'COPY' || data.action.toUpperCase() == 'MOVE')">
      <span class="subject-cell purple-color">{{data.comment}} </span>
  </span>
</div>