<div class="job-stages candidate-progressbar-section print-displayNone">
    <div class="candidate-progressbar">
        <span class="progressbart-slide-arrow slide-arrow-left {{leftArrow}}" (click)="sliderMove('L');">
            <span class="mdi mdi-chevron-left"></span>
        </span>
        <ul class="list-reset candidate-progressbar-inner clearfix " start="0" [style.margin-left]="marginleft">
            <li *ngIf = "!isBPenabled">
                <span class="progressbar-text">
                    <span class="doted material-icons dp22 cursor resend-btn" *ngIf="!inReview && sendCPCredentials && reSendCPCredentials" (click)="getCPCredentials(applicantStatusID)">refresh</span>
                    <span class="doted material-icons dp22" *ngIf="!(!inReview && sendCPCredentials && reSendCPCredentials)">refresh</span>
                    <span class="candidate-status">{{'candidate.hiring_process.resendDetails' | translate}}</span>
                </span>
            </li>
            <ng-container *ngFor="let data of hiringProcessList; let index=index;">
                <li *ngIf="data.applicantStatusHistoryID!=null && !data.isCurrentStageStatus || data.sysWorkflowstageActionType =='JOINED'" class="done">
                    <span class="progressbar-text">
                        <span class="doted"></span>
                        <span class="candidate-status">{{index+1}}.{{data.workflowStageName}}</span>
                    </span>
                </li>
                <li *ngIf="data.isCurrentStageStatus" class="pending" [class.org]="!(data.sysWorkflowstageActionType == 'C&B REJECT' || data.sysWorkflowstageActionType == 'APPROVALREJECTED')">
                    <span class="progressbar-text">
                        <span class="doted">DUE</span>
                        <span class="candidate-status">{{index+1}}.{{data.workflowStageName}}
                            <span class="text-cell" *ngIf="data.actionLabel != null && data.actionLabel.length <= 20">{{data.actionLabel}}</span>
                            <span class="text-cell" matTooltip="{{data.actionLabel.toLowerCase()}}" *ngIf="data.actionLabel != null && data.actionLabel.length > 20">{{data.actionLabel | stringTrim:20}}</span>
                        </span>
                    </span>
                </li>
                <li *ngIf="data.applicantStatusHistoryID==null">
                    <span class="progressbar-text">
                        <span class="doted"></span>
                        <span class="candidate-status">{{index+1}}.{{data.workflowStageName}}</span>
                    </span>
                </li>
            </ng-container>
        </ul>
        <span class="progressbart-slide-arrow slide-arrow-right {{rightArrow}}" (click)="sliderMove('R');">
            <span class="mdi mdi-chevron-right"></span>
        </span>
    </div>
</div>