<div class="vertical-scrollbox">
  <div class="popup-inner form-item-popup clearfix">
    <div class="form_outer">
      <div class="row">
        <div class="form-group row2 mgn-btm-0">
          <div class="col-md-6">
            <div class="loading-line mgn-t4 width-40"></div>
            <div class="dropdown-calendar dropdown-calendar-full mgn-t8">
              <div class="loading-line mgn-t4 mgn-b4 width-40"></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="loading-line mgn-t4 width-50"></div>
            <div class="dropdown-calendar dropdown-calendar-full mgn-t8">
              <div class="loading-line mgn-t4 mgn-b4 width-30"></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="loading-line mgn-t4 width-70"></div>
            <div class="dropdown-calendar dropdown-calendar-full mgn-t8">
              <div class="loading-line mgn-t4 mgn-b4 width-70"></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="loading-line mgn-t4 width-80"></div>
            <div class="dropdown-calendar dropdown-calendar-full mgn-t8">
              <div class="loading-line mgn-t4 mgn-b4 width-50"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>