<nav class="navigation">
  <ul class="list-reset bar-navigation">
    <!--<li class="nav-mobile">
      <div class="search-form clearfix" (click)="$event.stopPropagation()">
        <form action="method">
          <label for="searchMobile" class="sr-only">Search mobile</label>
          <button class="search-btn material-icons search" type="submit" value="Search Btton"></button>
          <input type="text" class="form-control" id="searchMobile" placeholder="Search" />
        </form>
      </div>
    </li>-->
    <li class="dropdown" *ngFor="let menu of data; let i=index" [class.active]="isActive(menu)" [class.open]="MenuOpenToggle[i]" [class.open]="MenuOpenToggleMB[i]">
      <a *ngIf="menu?.childMenuList == null" [gaevent]="'Menu#' + menu.menuName + '#click'" [routerLink]="menu.url">
        <span class="material-icons menu-icon menu-icon{{i}}"></span>
        <span class="fl-left">{{menu.menuName}}</span> 
      </a>
      <a href="javascript:void(0);" class="only-destop" (click)="menuClick(i)" (clickToClose)="menuClickClosed(i)" *ngIf="menu?.childMenuList?.length > 0">
        <span class="material-icons menu-icon menu-icon{{i}}"></span>
        <span class="fl-left">{{menu.menuName}}</span> 
        <span class="mdi mdi-chevron-down md24"></span>
      </a>
      <a href="javascript:void(0);" class="only-mobile" ClickToCloseAllow="false" (click)="menuClickMB(i)" (ClickToClose)="menuClickMBClosed(i)" *ngIf="menu?.childMenuList?.length > 0">
        <span class="material-icons menu-icon menu-icon{{i}}" ClickToCloseAllow="false"></span>
        <span class="fl-left" ClickToCloseAllow="false">{{menu.menuName}}</span> 
        <span class="mdi mdi-chevron-down md24" ClickToCloseAllow="false"></span>
      </a>
      <ul class="list-reset dropdown-menu">
         <li *ngFor="let childMenu of menu.childMenuList; let i=index" routerLinkActive="active"><a [routerLink]="childMenu.url"  [gaevent]="'Menu#' + childMenu.menuName.toLowerCase() + '#click'" >{{childMenu.menuName.toLowerCase()}}</a></li>
      </ul>
    </li>
	
	<!--<a [routerLink]="['dashboard','Recruitment']" title="Dashboard">Dashboard</a>-->

  <li class="nav-mobile" routerLinkActive="active">
    <a  [routerLink]="['Download']" title="Download"><span class="material-icons menu-icon file_download"></span>downloads</a>
  </li>
   <!-- <li class="nav-mobile" routerLinkActive="active">
      <a  [routerLink]="['LiveFeed']" title="live feed"><span class="material-icons menu-icon cast"></span>live feed <span class="notification">91</span></a>
    </li>
    <li class="nav-mobile" routerLinkActive="active">
      <a [routerLink]="['Tasks','Day']" title="Tasks"><span class="material-icons menu-icon content_paste"></span>tasks <span class="notification">191</span></a>
    </li>
    <li class="nav-mobile mobile-only">
      <span class="powered-by-alt">powered by alt recruit</span>
    </li>-->
  </ul>
  <div class="creat-job-btn-outer" *ngIf="jobCreationPermission">
    <a [routerLink]="['/job/newjob']" gaevent="Menu#CreateJob#click" class="btn btn-default"><span class="material-icons dp10 add"></span> {{ 'menu.label.createjob' | translate }}</a>
  </div>
  <div class="creat-job-btn-outer" *ngIf="candidateCreationPermission && !jobCreationPermission">
    <a [routerLink]="['/candidate/newcandidate']" gaevent="Menu#CreateCandidate#click" class="btn btn-default"><span class="material-icons dp10 add"></span> {{ 'job.job_detail.createCandidate' | translate }}</a>
  </div>
</nav>