
                                                <div style="width:100%; height:790px; background-color:#fff; padding-top:10%;">
                                                <div class="timeline-item" style="width:35.5%; margin:0 auto;">
                                                <div class="animated-background" style="height:225px;" >
                                                <div class="background-masker ghost-placeholder-header-top" style="bottom: 0;height:100%;left:0;width:20px;"></div>	
                                                <div class="background-masker ghost-placeholder-header-top" style="bottom: 0;height:100%;left:70px;width:20px;"></div> 
                                                <div class="background-masker ghost-placeholder-header-top" style="bottom: 0;height:20%;left:20px;width:50px; top:0"></div>


                                                <div class="background-masker ghost-placeholder-header-top" style="bottom: 0;height:100%;left:140px;width:20px;"></div> 
                                                <div class="background-masker ghost-placeholder-header-top" style="bottom: 0;height: 55%;left:90px;width:50px; top:0"></div>

                                                <div class="background-masker ghost-placeholder-header-top" style="bottom: 0;height:100%;left:210px;width:20px;"></div> 
                                                <div class="background-masker ghost-placeholder-header-top" style="bottom: 0;height:5%;left:160px;width:50px; top:0"></div>


                                                <div class="background-masker ghost-placeholder-header-top" style="bottom: 0;height:100%;left:280px;width:20px;"></div> 
                                                <div class="background-masker ghost-placeholder-header-top" style="bottom: 0;height:80%;left:230px;width:50px; top:0"></div>


                                                <div class="background-masker ghost-placeholder-header-top" style="bottom: 0;height:100%;left:350px;width:20px;"></div> 
                                                <div class="background-masker ghost-placeholder-header-top" style="bottom: 0;height:50%;left:300px;width:50px; top:0"></div>

                                                <div class="background-masker ghost-placeholder-header-top" style="bottom: 0;height:100%;left:420px;width:20px;"></div> 
                                                <div class="background-masker ghost-placeholder-header-top" style="bottom: 0;height:40%;left:370px;width:50px; top:0"></div>

                                                <div class="background-masker ghost-placeholder-header-top" style="bottom: 0;height:100%;left:490px;width:20px;"></div> 
                                                <div class="background-masker ghost-placeholder-header-top" style="bottom: 0;height:70%;left:440px;width:60px; top:0"></div>
                                                </div>
