<div class="panel-heading clearfix">
	<h2 class="panel-title fl-left text-capitalize">{{security?.basicSectionLabel}}</h2>
	<!--<span class="mdi mdi-chevron-down fl-right"></span>-->
</div>
<div class="panel-body" *ngIf="checkData==0">{{'common.label.noDataAvailable' | translate}}</div>
<div class="panel-body" *ngIf="checkData>0">
		<div class="panel-row clearfix" *ngIf="security?.positionRendered">
			<span class="panel-col panel-col1">{{security?.positionLabel}}</span>
			<span class="panel-col text-bold-cell">{{basicInformationData.positionName}}</span>
		</div>
	<div class="panel-row clearfix" *ngIf="security?.positionNumberRendered">
		<span class="panel-col panel-col1">{{security?.positionNumberLabel}}</span>
		<span class="panel-col text-bold-cell">{{basicInformationData.numberOfOpenings}}</span>
	</div>
	<div class="panel-row clearfix" *ngIf="security?.bandRendered">
		<span class="panel-col panel-col1">{{security?.bandLabel}}</span>
		<span class="panel-col text-bold-cell">{{basicInformationData.band}}</span>
	</div>
	<div class="panel-row clearfix" *ngIf="security?.gradeRendered">
		<span class="panel-col panel-col1">{{security?.gradeLabel}}</span>
		<span class="panel-col text-bold-cell">{{basicInformationData.grade}}</span>
	</div>
	<div class="panel-row clearfix" *ngIf="security?.designationRendered">
		<span class="panel-col panel-col1">{{security?.designationLabel}}</span>
		<span class="panel-col text-bold-cell">{{basicInformationData.designation}}</span>
	</div>
	<div class="panel-row clearfix" *ngIf="security?.experienceRendered">
		<span class="panel-col panel-col1">{{security?.experienceLabel}}</span>
		<span class="panel-col text-bold-cell">{{basicInformationData.requiredWorkExperience}}</span>
	</div>
	<div class="panel-row clearfix" *ngIf="security?.jobFamilyRendered">
		<span class="panel-col panel-col1">{{security?.jobFamilyLabel}}</span>
		<span class="panel-col text-bold-cell">{{basicInformationData.jobFamilyName}}</span>
	</div>
	<div class="panel-row clearfix" *ngIf="security?.campusTypeRendered">
		<span class="panel-col panel-col1">{{security?.campusTypeLabel}}</span>
		<span class="panel-col text-bold-cell">{{basicInformationData.campusTypeName}}</span>
	</div>
	
	<div class="panel-row clearfix" *ngIf="security?.resourceTypeRendered">
		<span class="panel-col panel-col1">{{security?.resourceTypeLabel}}</span>
		<span class="panel-col text-bold-cell">{{basicInformationData.resourceTypeName}}</span>
	</div>
	<div class="panel-row clearfix" *ngIf="security?.employmentTypeRendered">
		<span class="panel-col panel-col1">{{security?.employmentTypeLabel}}</span>
		<span class="panel-col text-bold-cell">{{basicInformationData.employmentTypeName}}</span>
	</div>
	<div class="panel-row clearfix" *ngIf="security?.requisitionTypeRendered">
		<span class="panel-col panel-col1">{{security?.requisitionTypeLabel}}</span>
		<span class="panel-col text-bold-cell">{{basicInformationData.requisitionType}}</span>
	</div>
	<div class="panel-row clearfix" *ngIf="security?.employeeCodeRendered && basicInformationData.requisitionType=='Replacement'">
		<span class="panel-col panel-col1">{{security?.employeeCodeLabel}}</span>
		<span *ngIf = "basicInformationData?.employeeCode.length <=70" class="panel-col text-bold-cell">{{basicInformationData.employeeCode}}</span>
		<span *ngIf = "basicInformationData?.employeeCode.length > 70" matTooltip="{{basicInformationData.employeeCode}}" class="panel-col text-bold-cell">{{basicInformationData.employeeCode | stringTrim:70}}</span>

	</div>
	<div class="panel-row clearfix" *ngIf="security?.ctcMaxRendered">
		<span class="panel-col panel-col1">{{security?.ctcMaxLabel}}</span>
		<span class="panel-col text-bold-cell">{{basicInformationData.ctcRange}}</span>
	</div>
	<div class="panel-row clearfix" *ngIf="security?.employeeCategoryRendered">
		<span class="panel-col panel-col1">{{security?.employeeCategoryLabel}}</span>
		<span class="panel-col text-bold-cell">{{basicInformationData.employeeCategoryName}}</span>
	</div>
	<div class="panel-row clearfix" *ngIf="security?.tatRendered">
		<span class="panel-col panel-col1">{{security?.tatLabel}}</span>
		<span class="panel-col text-bold-cell">{{basicInformationData.tat}}</span>
	</div>
	<div class="panel-row clearfix" *ngIf="security?.hiringManagerRendered">
		<span class="panel-col panel-col1">{{security?.hiringManagerLabel}}</span>
		<span class="panel-col text-bold-cell">{{basicInformationData.hiringManager}}</span>
	</div>
	<div class="panel-row clearfix" *ngIf="security?.confidentialRendered">
		<span class="panel-col panel-col1">{{security?.confidentialLabel}}</span>
		<span class="panel-col text-bold-cell">{{basicInformationData.confidential?'Yes':'No'}}</span>
	</div>
	<div class="panel-row clearfix" *ngIf="security?.startDateRendered">
		<span class="panel-col panel-col1">{{security?.startDateLabel}}</span>
		<span class="panel-col text-bold-cell">{{basicInformationData.requisitionStartingDate}}</span>
	</div>
	<div class="panel-row clearfix" *ngIf="security?.closingDateRendered">
		<span class="panel-col panel-col1">{{security?.closingDateLabel}}</span>
		<span class="panel-col text-bold-cell">{{basicInformationData.requisitionClosingDate}}</span>
	</div>
	<div class="panel-row clearfix" *ngIf="security?.createdByRendered">
		<span class="panel-col panel-col1">{{security?.createdByLabel}}</span>
		<span class="panel-col text-bold-cell">{{basicInformationData.createdBy}}</span>
	</div>
	<div class="panel-row clearfix" *ngIf="security?.programTypeRendered">
		<span class="panel-col panel-col1">{{security?.programTypeLabel}}</span>
		<span class="panel-col text-bold-cell">{{basicInformationData.programTypeName}}</span>
	</div>
	<div class="panel-row clearfix" *ngIf="security?.roleTypeRendered">
		<span class="panel-col panel-col1">{{security?.roleTypeLabel}}</span>
		<span class="panel-col text-bold-cell">{{basicInformationData.roleTypeName}}</span>
	</div>
	<div class="panel-row clearfix" *ngIf="security?.roleContributionRendered">
		<span class="panel-col panel-col1">{{security?.roleContributionLabel}}</span>
		<span class="panel-col text-bold-cell">{{basicInformationData.roleContributionName}}</span>
	</div>
	<div class="panel-row clearfix" *ngIf="security?.employmentTenureRendered">
		<span class="panel-col panel-col1">{{security?.employmentTenureLabel}}</span>
		<span class="panel-col text-bold-cell">{{basicInformationData.employmentTenureName}}</span>
	</div>
	<div class="panel-row clearfix" *ngIf="security?.ctcBudgetRangeRendered">
		<span class="panel-col panel-col1">{{security?.ctcBudgetRangeLabel}}</span>
		<span class="panel-col text-bold-cell">{{basicInformationData.ctcBudgetRange}}</span>
	</div>

</div>