<div class="layout-main {{rhsHidden?'':'layout-right-sidebar'}}">
  <div class="site-width" (window:resize)="onResize($event)" [ngStyle]="{'min-height': minHeight+'px'}">
    <div class="main-container">
      <div class="container-inner">
        <!-- Section content -->
        <div class="content content-PrintView">
          <alt-notification-bar></alt-notification-bar>
          <router-outlet></router-outlet>
        </div>
        <!-- Section Right sidebar -->
        <div class="right-sidebar" *ngIf="!rhsHidden">
          <alt-rhs></alt-rhs>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="genie-top-btn print-displayNone">
    <a *ngIf="isJinieEnabled() || isMesengerEnabled()"
       href="javascript:void(0)"
      class="genie-chat-btn button-round55" 
      title="Alt Messenger" 
      (click)="onMessengerIconClick()">
        <span *ngIf="!openMessanger" class="jinie-white-icon"></span>
        <span *ngIf="openMessanger" class="material-icons">clear</span>
    </a>
    <a href="javascript:void(0)"
      class="top-btn button-round55" 
      [class.top-btn-show]="shouldStick"
      title="top" 
      (click)="smoothScroll(0)">
      <span class="material-icons dp40">expand_less</span>
    </a>
</div>


<alt-jinie *ngIf="openMessanger">
</alt-jinie>
