<!-- Section move candidate to another job -->
<div class="popup-custome-section">
  <div class="popup-top clearfix" mat-dialog-title>
        <h2 class="title-sub">{{'candidate.list.tagJob' | translate}}</h2>
        <span class="material-icons close" (click)="dialogRef.close('Cancel')">close</span>
    </div>
    <div class="notification-bar {{severityClass}} {{showClass}}" *ngIf="message.length > 0">
            <span class="material-icons successful-icon">check_circle</span>
            <div class="notification-text-outer">
                <span class="notification-text">{{message}}</span>
            </div>
            <span class="material-icons close" (click)="clearMessages()">close</span>
        </div>
  <div class="vertical-scroll-ng" slimScroll mat-dialog-content>
    <div class="popup-top clearfix" *ngFor="let item of candidatelist">
      <div class="popup-title-row">
        <h2 class="title"><span></span>{{item.firstName}} {{item.middleName}} {{item.lastName}}<span class="job-code">{{item.candidateCode}}</span></h2>
     </div>
    </div>
    <div class="popup-inner">
    <div class="listing-popup-block" [formGroup]="candidateInfo">
      <div class="auto-select">
        <alt-select [options]="data" [multiple]="true" placeholder="{{'job.job_detail.selectJob' | translate}}" [allowClear]="true" 
          formControlName="jobIdSelected">
        </alt-select>
      </div>
    </div>
    </div>
  </div>
  </div>
  <div mat-dialog-actions class="btn-row text-right">
    <button href="javascript:void(0)" class="btn btn-white" (click)="dialogRef.close('Cancel');" [disabled]="tagCandidate">{{'common.label.cancel' | translate}}</button>
    <!--<a href="javascript:void(0)" class="btn btn-primary" (click)="assignCandidateJob();">Tag</a>-->
    <alt-spinner-button (myEvent)="assignCandidateJob($event)" [spinner]="tagCandidate" [spinnerdisabled]="tagCandidate" [text]="lable"></alt-spinner-button>
  </div>

<!-- \\ End Section move candidate to another job -->