<!-- Section Publish to internal transfer -->
<div class="popup-custome-section">
  <div class="popup-top clearfix" mat-dialog-title>
    <h2 class="title-sub">{{'postIjp.publish.publishToIJP' | translate}}</h2>
    <span class="material-icons close" (click)="dialogRef.close('Cancel')">close</span>
  </div>
  <div class="notification-bar {{severityClass}} {{showClass}}" *ngIf="message.length > 0">
    <span class="material-icons successful-icon">check_circle</span>
    <div class="notification-text-outer">
      <span class="notification-text">{{message}}</span>
    </div>
    <span class="material-icons close" (click)="clearMessages()">close</span>
  </div>
  <div class="vertical-scroll-ng" slimScroll mat-dialog-content>
    <div class="popup-top clearfix" *ngFor="let data of datalist; let i = index;">
      <div class="popup-title-row">
        <h2 class="title">
          <span class="job-status {{getJobStatusClass(data.sysRequisitionStatus)}}"></span>
          <span *ngIf="data.jobTitle.length>50" matTooltip="{{data.jobTitle | lowercasepipe}}">{{data.jobTitle.toLowerCase() | stringTrim:50}}</span>
          <span *ngIf="data.jobTitle.length<=50">{{data.jobTitle | lowercasepipe}}</span>
          <span class="job-code">{{data.requisitionCode}}</span>
        </h2>
      </div>
      <div class="popup-top-description">
        <ul class="list-reset listing-inline max-width90">
            <li class="character-count-45" matTooltip="{{data.orgUnitCode | lowercasepipe}}" *ngIf="data.orgUnitCode !=null && data.orgUnitCode.length>70">{{data.orgUnitCode | lowercasepipe}}</li>
            <li *ngIf="data.orgUnitCode !=null && data.orgUnitCode.length<=70">{{data.orgUnitCode | lowercasepipe}}</li>
            <li class="character-count-45" matTooltip="{{data.joiningLocation | lowercasepipe}}" *ngIf="data.joiningLocation !=null && data.joiningLocation.length>50">{{data.joiningLocation | lowercasepipe}}</li>
            <li *ngIf="data.joiningLocation !=null && data.joiningLocation.length<=50">{{data.joiningLocation | lowercasepipe}}</li>
            <li class="last-item" *ngIf="data.modifiedDate">{{'common.label.createdOn' | translate}}<span class="link">{{data.modifiedDate | date:'dd/MM/yyyy'}}</span></li>
        </ul>
        <div class="popup-openings">
          <span class="text-bold-cell">{{data.noOfOpening}}</span>
          <span class="text-cell">{{'common.label.OPENINGS' | translate}}</span>
        </div>
      </div>
    </div>
    <!-- popup Content Box -->
    <div class="popup-content">
      <h3 class="title-12" *ngIf="posted">{{'postIjp.publish.infoDisableIJPStartDate' | translate}}</h3>
      <h3 class="title-12" *ngIf="!posted">{{'postIjp.publish.infoEnableIJPStartDateMulti' | translate:{count:count} }} </h3>
      <div class="popup-row clearfix">
        <div class="popup-cell-common" *ngIf="!posted">
          <label class="control-label label-text">{{'common.label.startDate' | translate}}</label>
          <div class="popup-cell-inner">
            <alt-datepicker class="dropdown-calendar" [mode]="landscape" [value]="ijpStartDate" #startDate (change)="selectIjpStartDate(startDate.value)"
              disabled></alt-datepicker>
          </div>
        </div>
        <div class="popup-cell-common pointer-date">
          <label class="control-label label-text">{{'common.label.endDate' | translate}}</label>
          <div class="popup-cell-inner">
            <alt-datepicker class="dropdown-calendar " [mode]="landscape" [min]=currentDate [value]="ijpEndDate" #endDate (change)="selectIjpEndDate(endDate.value)"></alt-datepicker>
          </div>
        </div>
      </div>
      <!-- \\ End Popup Row -->
    </div>
  </div>
  <div mat-dialog-actions class="btn-row text-right">
    <button href="javascript:void(0)" class="btn btn-white" (click)="dialogRef.close('Cancel')" [disabled]="publishInternal">{{'common.label.cancel' | translate}}</button>
    <alt-spinner-button (myEvent)="postMultipleJobsToIJP($event)" [spinner]="publishInternal" [spinnerdisabled]="publishInternal"
      [text]="lable"></alt-spinner-button>
  </div>
  <!-- \\ End Publish to internal transfer -->