<div class="job-option">
  <a href="javascript:void(0)" (click)="showContextMenu()"><span class="material-icons more-icon">more_vert</span></a>
  <div class="{{displayClass}}">
    <div class="module-true displayBlock" (click)="hideContextMenu()"></div>
    <!-- Menu style -->
    <div class="menu-style menu-style-3 {{displayClass}}">
      <span class="material-icons close" (click)="hideContextMenu()">close</span>
      <ul class="list-reset dropdown-menu">
        <!-- <li><a class="cursor" (click)="openPostJobToEmpPortal(); ">Publish To Employee Referral</a></li>
        <li><a class="cursor" (click)="openPostJobToIJP();">Publish To Internal Transfer</a></li>
        <li><a class="cursor" (click)="openPostJobToCandPortal();">Publish To Candidate Portal</a></li> -->
        <!-- <li><a class="cursor">Publish To Social Media</a></li> -->
        <!-- <li><a class="cursor" (click)="OpenAssignJobToVendor();">Assign Job To Vendors</a></li>
        <li class="divider"></li> -->
        <li *ngIf="!isThisJobDisabled && featureDataMap.get('EDIT_JOB') == 1"><a href="javascript:void" [gaRouterLink]="['/job/editjob/',requisitionId]"  gaevent="ContextMenu#Edit Job#click"><span class="menu-style-icon material-icons">create</span>{{'job.new_job.editJob' | translate}}</a></li>
        <li *ngIf="isThisJobDisabled" class="disabled"><a ><span class="menu-style-icon material-icons">create</span>{{'job.new_job.editJob' | translate}}</a></li>
        <li *ngIf="!isThisJobDisabled && featureDataMap.get('EDIT_JOB') == 2" class="disabled"><a ><span class="menu-style-icon material-icons">create</span>{{'job.new_job.editJob' | translate}}</a></li>
        <!-- <li><a class="cursor" (click)="OpenAssignJobToRec();">Assign To Recruiter</a></li> -->
      </ul>
    </div>
    <!-- \\ End Menu style -->
  </div>
</div>
