<div class="popup-custome-section">
  <div class="popup-top clearfix" mat-dialog-title>
    <h2 class="title-sub">Warning</h2>
    <span class="material-icons close" (click)="dialogRef.close('no')">close</span>
  </div>
  <div class="vertical-scroll-ng" slimScroll mat-dialog-content>
    <div class="popup-inner padding-b0 warning-notification">
      <div class="notification-bar warning">
          <span class="material-icons warning-icon">warning</span>
          <div class="notification-text-outer">
            <span class="notification-text">{{message}}</span>
          </div>                               
      </div>
    </div>
  </div>
  <div class="btn-row text-right" mat-dialog-actions>
    <button *ngIf="!isWarningORConfirmation" href="javascript:void(0)" class="btn btn-white" (click)="dialogRef.close('no');">NO</button>
    <button *ngIf="!isWarningORConfirmation" class="btn btn-primary" (click)="dialogRef.close('yes')">YES</button>
    <button *ngIf="isWarningORConfirmation" class="btn btn-primary" (click)="dialogRef.close('ok')">OK</button>
  </div>
</div>
