@-webkit-keyframes placeHolderShimmer{
        0%{
            background-position:-468px 0
        }
        100%{
            background-position:468px 0
        }
    }

    @keyframes placeHolderShimmer{
        0%{
            background-position:-468px 0
        }
        100%{
            background-position:468px 0
        }
    }

    .timeline-wrapper {
        background-color: #e9eaed;
        color: #141823;
        padding: 20px;
        border: 1px solid #ccc;
        margin: 0 auto 1em;
    }

.timeline-item {
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	padding: 10px;
	min-height: 200px;
}

.animated-background {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-name: placeHolderShimmer;
	animation-name: placeHolderShimmer;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	background: #f6f7f8;
	background: #eeeeee;
	background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
	background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
	background: linear-gradient(to right,  #eeeeee 8%,#dddddd 18%,#eeeeee 33%);
	-webkit-background-size: 800px 104px;
	background-size: 800px 104px;
	height:278px;
	position: relative;
}
.background-masker {
	background: #fff;
	position: absolute;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.outlined .background-masker {
	border: 1px solid #ddd;
}
.outlined:hover .background-masker {
	border: none;
}
.outlined:hover .background-masker:hover {
	border: 1px solid #ccc;
	z-index: 1;
}
.ghost-placeholder-top,
.ghost-placeholder-line-02,
.ghost-placeholder-line-03,
.ghost-placeholder-line-04,
.ghost-placeholder-line-05,
.ghost-placeholder-line-06,
.ghost-placeholder-line-07,
.ghost-placeholder-line-08{
	top: 40px;
	left: 0;
	right: 0;
	height: 6px;
}
.ghost-placeholder-top {
	height:20px;
	top: 58px;
}
.ghost-placeholder-line-02  {
	top: 86px;
}
.ghost-placeholder-line-03 {
	top: 100px;
	height: 18px;
}
.header-round{
	width:35px;
	height:35px;
	border-radius:100%;
}
.ghost-placeholder-header-top{
	top: 0;
	left:0px;
	right:0;
	height:34px;
}
.ghost-placeholder-line-01,
.ghost-placeholder-line-end-01 {
	top:42px;
	height:8px;
	left:0px;
	right:0px;
}
.ghost-placeholder-line-end-01 {
	top:50px;
	left:216px;
}
.ghost-placeholder-thumb {
	height: 40px;
	width: 40px;
	left: 0;
	top:118px;
	background:radial-gradient(circle closest-side at center, rgba(0,0,0,0) 99%, #fff);
}
.ghost-placeholder-thumb-top,
.ghost-placeholder-thumb-bottom,
.ghost-placeholder-subthumb-bottom {
	top: 118px;
	left: 40px;
	right: 0;
	height: 10px;
}
.ghost-placeholder-thumb-left,
.ghost-placeholder-subthumb-left,
.ghost-placeholder-subthumb-right {
	top: 140px;
	left: 40px;
	height: 8px;
	width: 10px;
}
.ghost-placeholder-thumb-bottom {
	top: 134px;
	height: 6px;
}
.ghost-placeholder-subthumb-left,
.ghost-placeholder-subthumb-right {
	top: 128px;
	height: 6px;
}
.ghost-placeholder-subthumb-right {
	width: auto;
	left: 300px;
	right: 0;
}
.ghost-placeholder-subthumb-right {
	left:180px;
}
.ghost-placeholder-subthumb-bottom {
	top: 148px;
	height: 10px;
}
.content-line-white,
.content-line-middle-1,
.content-line-middle-2{
	top:158px;
	left:0px;
	right:0px;
	height:8px;	
}
.ghost-placeholder-line-04,
.ghost-placeholder-line-end-04,
.ghost-placeholder-line-end-last-04{
	height:16px;
	top:158px;
}
.ghost-placeholder-line-end-04{
	top:174px;
	left:75px; 
	width:60px; 	
}
.ghost-placeholder-line-end-last-04{
	top: 174px;
	left:206px;
	width:60px;
}
.ghost-placeholder-line-06{
	top: 182px;
	height: 38px;
}
.ghost-placeholder-line-07{
	top:228px;
	height:28px;
}
.ghost-placeholder-line-end-07,
.ghost-placeholder-line-end-mid-07,
.ghost-placeholder-line-end-last-07{
	left:45px;
	right:0px;
	height:8px;
	top:256px;
	width:20px;
}
.ghost-placeholder-line-end-mid-07{
	left:120px;
}
.ghost-placeholder-line-end-last-07{
	left:195px;
}
.ghost-placeholder-line-08{
	top:264px;
	height:16px;
}
.timeline-item-white-bg .timeline-item{
	padding-left:0;
	padding-right:0;
}
.timeline-item-white-bg .animated-background { 
	background: #e3e3e3 ;
	background: #fff;
	background: -webkit-gradient(linear, left top, right top, color-stop(8%, #fff), color-stop(18%, #e3e3e3 ), color-stop(33%, #fff));
	background: -webkit-linear-gradient(left, #fff 8%, #e3e3e3  18%, #fff 33%);
	background: linear-gradient(to right,  #fff 8%,#e3e3e3  18%,#fff 33%); 
}
.timeline-item-white-bg .background-masker {
	background: #e3e3e3;
}
.ghost-placeholder-fliter-line-01{
	left: 0px;
	right: 0px;
	top: 8px;
	height:5px;
}
.ghost-placeholder-fliter-line-02{
	left: 0px;
	right: 0px;
	top: 13px;
	height:25px;
}

.ghost-placeholder-fliter-divider01{
	height:8px;
	left:70px;
	top:0;
	background: #e3e3e3;
	width:20px;
}
.ghost-placeholder-dropdown{
	height:8px;
	top:0;
	background: #e3e3e3;
	width:20px;
}
.ghost-placeholder-dropdown.divider01{
	left:230px;
}
.ghost-placeholder-dropdown.divider02{
	left:460px;
}
.ghost-placeholder-dropdown.divider03{
	left:700px;
}
.ghost-placeholder-dropdown.divider04{
	left:940px;
}
.ghost-placeholder-dropdown.divider05{
	left:1140px;
}
.ghost-placeholder-fliter-line-02-dropdown {
	height:8px;
	top:12px;
	width:90px;
}
.ghost-placeholder-dropdown-line-02.divider01 {
	background: #fff !important;
	height: 8px;
    left: 90px;
    top: 18px;
    width: 140px;
}
.ghost-placeholder-sortby-line-01{
	left: 0px;
	right: 0px;
	top: 46px;
	height:15px;
}
.ghost-placeholder-sortby-divider01{
	height:8px;
	left:70px;
	top:38px;
	background: #e3e3e3;
	width:20px;
}
.ghost-placeholder-dropdown-line-03{
	height:8px;
	top:38px;
	width:20px;
}
.ghost-placeholder-dropdown-line-03.divider01{
	left:230px;
}
.ghost-placeholder-dropdown-line-03.divider02{
	left:460px;
}
.ghost-placeholder-dropdown-line-03.divider03{
	left:680px;
	width:256px;
}
.ghost-placeholder-applied-line-01{
	left: 0px;
	right: 0px;
	top: 69px;
	height:15px;
}
.ghost-placeholder-applied-divider01{
	height:8px;
	left:70px;
	top:61px;
	background: #e3e3e3;
	width:20px;
}
.ghost-placeholder-anchor-line-01{
	height:8px;
	top:61px;
	width:20px;
}
.ghost-placeholder-anchor-line-01.divider01{
	left:230px;
}
.ghost-placeholder-anchor-line-01.divider02{
	left:460px;
}
.ghost-placeholder-anchor-line-01.divider03{
	left:680px;	
}
.animated-background.top{
	height:82px;
}
.timeline-item.first {min-height:100px;}

.ghost-placeholder-hideFliter.before,.ghost-placeholder-hideFliter.after{
	height:8px;
	top:83px;
	background: #e3e3e3;
	width:12px;
	left:800px;
}
.ghost-placeholder-hideFliter.after{
	left:889px;
}
.jobTitle .animated-background{height:10px;}
.searchBar .animated-background{height:10px;}
.timeline-item.jobTitle , .timeline-item.searchBar {min-height:10px;}
.parallelogram {  background: #494949 none repeat scroll 0 0;
    height: 15px;
    left: 78px;
    position: absolute;
    top: -3px;
    transform: skew(-25deg);
    width: 3px;} 

    .parallelogram1 { background: #e3e3e3;
    height: 15px;
    left: 78px;
    position: absolute;
    top: -3px;
    transform: skew(-25deg);
    width: 8px;} 

     .parallelogramExt { background: #e3e3e3;
    height: 15px;
    left: 180px;
    position: absolute;
    top: -3px;
    width: 81%;} 

    .ghost-placeholder-fliter-dividerEnd {width:300px; 	height:8px;
	left:70px;
	top:0;
	background: #e3e3e3;
}
.ghost-placeholder-searchbox{
	height:8px;
	top:0;
	background: #e3e3e3;
	width:200px;
}
.ghost-placeholder-searchbox.divider01{
	left:0;
}
.ghost-placeholder-searchbox.divider02{
	left:284px;
}
.ghost-placeholder-searchbox.divider03{
	left:480px;
	width:170px;
}
.ghost-placeholder-searchbox.divider04{
	left:786px;
	width:10px;
}
.ghost-placeholder-cnd-detail .animated-background{
	height: 27px;
}
.ghost-placeholder-cnd-detail .timeline-item{
	padding:0px;
}
.ghost-placeholder-cnd-detail .ghost-placeholder-header-top{
	height:auto;
}
.ghost-placeholder-cnd-detail .ghost-placeholder-line-01{
	height:19px;
	top:8px;
}

.height8px {height:8px;}
.height100{height:100px;}
.height0 {height:0; min-height:0;}
.width650{width:650px;}
.width400{width:400px;}
.width330{width:330px;}
.width200{width:200px;}
.width100{width:100px;}
.width50{width:50px;}



.centralise{margin:0 auto;}

.index .animated-background {height:300px;}
.ghost-placeholder-header-top_index {height:42px; width:150px; left:55px; top:0;}
.ghost-placeholder-line-01_index {height:85px; left:0; right:0; top:42px;}
.ghost-placeholder-line-02_index{height:10px; left:0; right:0; top:135px;}
.ghost-placeholder-line-03_index{height:10px; left:0; right:0; top:155px;}
.ghost-placeholder-line-04_index {height:10px; left:0; right:0; top:175px;}
.ghost-placeholder-line-05_index{height:10px; left:0; right:0; top:195px;}
.ghost-placeholder-line-06_index{height:10px; left:0; right:0; top:215px;}
.ghost-placeholder-line-07_index{height:10px; left:0; right:0; top:235px;}
.ghost-placeholder-line-end_index{height:35px; left:0; right:0; top:255px;}
.timeline-item.searchBar.index {padding:5px;}

.searchBar.index .animated-background {height:10px;}

.index .ghost-placeholder-searchbox.divider02{width:675px;}

.top-ghoat10{
	top:10px;
}
.top-ghoat25{
	top:25px;
}
.height50px {height:50px;}
.ghost-img-block{
	float:left;
	width:50px;
	height:50px;
}
.ghost-img-block .ghost-placeholder-thumb{
	width:50px;
	height:50px;
	top:0px;
}
.candidate-detail-top-ghost{
	float:left;
	margin-left:10px;
}
.height50px .width200{
	top:20px;
	left:20px;
}
.first .animated-background.details,.continue .animated-background.details, .last .animated-background.details {
	border-radius: 50%;
	height: 20px;
	top: -15px;
	width: 20px;
}
.continue:after {border:none!important; position:relative;}

.skill-row .loading-line{
    margin: 4px 0 2px;
}
.skill-1{
    width: 115px;
}
.skill-2{
    width: 70px;
}
/************ loading page end old css ************/







/************ loading page new css start ************/

@-webkit-keyframes placeHolderShimmer{
    0%{background-position:-468px 0}
    100%{background-position:468px 0}
}
@keyframes placeHolderShimmer{
    0%{background-position:-468px 0}
    100%{background-position:468px 0}
}
.loading-line {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-name: placeHolderShimmer;
	animation-name: placeHolderShimmer;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	background: #f6f7f8;
	background: #eeeeee;
	background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
	background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
	background: linear-gradient(to right,  #eeeeee 8%,#dddddd 18%,#eeeeee 33%);
	-webkit-background-size: 800px 104px;
	background-size: 800px 104px;
	height:8px;
	position: relative;
}
.width-5{width: 5%;}
.width-10{width: 10%;}
.width-15{width: 15%;}
.width-20{width: 20%;}
.width-25{width: 25%;}
.width-30{width: 30%;}
.width-35{width: 35%;}
.width-40{width: 40%;}
.width-45{width: 45%;}
.width-50{width: 50%;}
.width-55{width: 55%;}
.width-60{width: 60%;}
.width-65{width: 65%;}
.width-70{width: 70%;}
.width-75{width: 75%;}
.width-80{width: 80%;}
.width-85{width: 85%;}
.width-90{width: 90%;}
.width-95{width: 95%;}
.width-100{width: 100%;}



.width-200px{width: 200px;}
.width-175px{width: 175px;}
.width-150px{width: 150px;}
.width-125px{width: 125px;}
.width-100px{width: 100px;}
.width-80px{width: 80px;}
.width-50px{width: 50px;}
.width-10px{width: 10px;}
.width-5px{width: 5px;}


.width-15-15px{width:15px; height:15px;}
.width-18{width: 18px;}

.height-100{height: 100%;}
.height-24{height: 24px;}
.height-16{height: 16px;}


.mgn-t4{margin-top: 4px;}
.mgn-t5{margin-top: 5px;}
.mgn-t6{margin-top: 6px;}
.mgn-t8{margin-top: 8px;}
.mgn-t10{margin-top: 10px;}
.mgn-t14{margin-top: 14px;}
.mgn-b8{margin-bottom: 8px !important;}
.mgn-b6{margin-bottom: 6px !important;}
.mgn-b4{margin-bottom: 4px !important;}
.mgn-l10{margin-left:10px!important;}

.border-white{border-color: #fff !important;}
.border-gray{border-color: #e3e3e3 !important;}

.loading-title{
    margin: 6px 0 0 0;
}
.loading-job-details-left{
    margin: 3px 10px 6px 0;
}
.btn .loading-line{
    margin: 4px 0 0 0;
}
.job-stages .loading-line{
    margin: 6.5px 5px;
}
.tab-bar-com .loading-line{
    margin: 6px auto;
}
.panel-heading .loading-line{
    margin: 8px 0 0;
}
.panel-heading .left{
    width: 200px;
    float: left;
}
.panel-heading .right{
    width: 16px;
    float: right;
}
.panel-col .loading-line{
    margin: 3px 0;
}
.skill-row .loading-line,
.skill-row-top .loading-line{
    margin: 4px 0 2px;
}
.skill-1{
    width: 115px;
}
.skill-2{
    width: 70px;
}
.description .loading-line{
    margin: 2px 0 8px;
}
.workflow-block .loading-line{
    margin: 8px auto 0px;
}
.candidate-detail-title .loading-line{
    margin: 6px 12px 0 0;
}
.social-block-footer .loading-line{
    margin-top: 2px;
}
.candidate-detail-bottom .loading-line{
    margin: 5px 0 8px 0px;
}
.circle-35{
    margin: 0px 0 8px 0px !important;
    border-radius: 50%;
    height: 35px;
    width: 35px;
}
.load-center{
    margin-left: auto;
    margin-right: auto;
}
.load-feedback .loading-line{
    margin: 3px 0 0 0;
}
.star-rating-lg .loading-line{
    margin: 8px 3px 0 0;
    width: 15px;
    float: left;
}
.main-title-row .title.loading-line{
    margin: 6px 0 3px 0;
}
.main-title-row .main-title.loading-line{
    margin: 6px 0 3px 0;
}

.main-title-right .loading-line{
    margin: 12px 0 0 0;
}
.crown.loading-line{
    border-radius: 50%;
}
.card-flip-middle .loading-line{
    margin: 0 0 10px 0;
}
.card-flip-middle ul li.loading-line{
    margin: 0;
}
.start-here .loading-line{
    margin: 6px auto 0;
    width: 150px;
}
.applied-filters-block .text-filter.loading-line{
    margin-top: 8px;
}
.section-filter ul li.loading-line{
    margin: 8px 5px 0 0;
}

.card-block .checkbox.loading-line{
    margin: 5px 0 0 0;
    padding: 0;
    height: 14px;
    width: 14px;
    border-radius: 2px;
}
.card-block .job-option.loading-line{
    float: right;
    width: 5px;
    height: 24px;
    margin: 0;
}
.input-loader .control-label{
	display:block;
	padding-top:5px;
	padding-bottom:3px;
	clear:both;
}
.input-loader-outer{
	background-color: #f5f5f5;
	display: block;
	width: 100%;
	height: 40px;
	padding:15px 12px;
	border-radius: 5px;
}
.input-loader-wight{
	background-color: #ffffff;
}
.input-loader .btn{
	width:100px;
}
.loader-checkbox{
	background-color:#fff;
	border-radius:50%;
	border:solid 2px #939598;
	width:20px;
	height:20px;
	float:left;
	margin-right:10px;
}
.count-icon-loader{
	width:30px;
	height:30px;
	float:left;
	display:block;
	margin-right:10px;
	border-radius:50%;
}
.pla-right-zero{
	margin-right:0px!important
}
.auto-matched-cell-inner .loading-line{
	margin:3px 0;
}
 .DashSectionLoader,
 .DashSectionLoader-In{
	width:76%; 
	margin:0 auto; 
	padding: 20px 0; 
	overflow: hidden;
 }
 .DashSectionLoader-In{
	width:65%; 
 }
.LDheight360{
	height: 360px;;
}
.dashbord-line01{
    height:100%; left:0; width:20px;
}
.dashbord-line02{
    height:100%; left:70px; width:20px;
}
.dashbord-line03{
    height:100%; left:140px; width:20px;
}
.dashbord-line04{
    height:100%; left:210px; width:20px;
}
.dashbord-line05{
    height:100%; left:280px; width:20px;
}
.dashbord-line06{
    height:100%; left:350px; width:20px;
}
.dashbord-line07{
    height:100%; left:420px; width:20px;
}
.dashbord-line08{
    height:100%; left:490px; width:20px;
}
.dashbord-line09{
    height:100%; left:560px; width:20px;
}
.dashbord-line10{
    height:100%; left:630px; width:20px;
}
.dashbord-line11{
    height:100%; left:700px; width:20px;
}
.dashbord-tower01{
    height:20%;  left:20px; width:50px; top:0;
}
.dashbord-tower02{
    height:30%;  left:160px; width:50px; top:0
}
.dashbord-tower03{
    height:30%;  left:160px; width:50px; top:0;
}
.dashbord-tower04{
    height: 55%; left:300px; width:50px; top:0;
}
.dashbord-tower05{
    height: 55%; left:440px; width:50px; top:0;
}
.dashbord-tower06{
    height: 25%; left:510px; width:50px; top:0;
}
.dashbord-tower07{
    height: 25%; left:650px; width:50px; top:0;
}
/************ loading page css end ************/