.modal-backdrop{
	z-index: 100;
}
.form-control:focus {
  border-color:#5cb3fd!important;
}
.form-control.mat-input-element{
  display: block;
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  font-size: 12px;
  line-height:14px;
  color:#777777;
  background-color:#f5f5f5;
  background-image: none;
  border: 1px solid #f5f5f5;
  border-radius:5px;
  letter-spacing: 0.50px;
  margin: 0px;
}
.mat-select{
    width: 100%;
	font-family:'DIN Regular';
	font-size: 12px;
}
.mat-select .mat-select-trigger{
	background-color: #f5f5f5;
	color: #777777;
	font-family: 'DIN Regular';
    height: 40px;
	padding-top: 11px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 13px;
	border-radius: 5px;
	font-size: 12px;
	min-width: auto;
	display: block;
}
.mat-select-trigger  .mat-select-placeholder{
    color: #777777;
    font-family: 'DIN Regular';
    font-size: 12px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding:0px;
}
.mat-select-trigger .mat-floating-placeholder,
.mat-input-wrapper .mat-input-underline,
.mat-select-underline{
	display:none!important;
}	
.mat-select-trigger .mat-select-value{
	position:static;
	width: 100%;
	overflow: hidden;
	max-width: 100%;
}
.mat-select-trigger .mat-select-arrow{
	position: absolute;	
	display: inline-block;
	font-family:Material Design Icons;
	font-size:24px;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	border:none;
	right:30px;
	top:7px;
	color:#aeaeae;
}
.mat-select-trigger .mat-select-arrow:before {
	content: "\f140";
}
.margin_for_mobile .mat-slider-horizontal{
	width:100%;
	height:40px;
}

 

.tab-details{
	display:block;
}

/*-------------angular component------------*/

.mat-progress-spinner{
	height: 20px!important;
	width: 15px!important;
}
.mat-progress-spinner svg{
	height: 20px!important;
	width: 15px!important;
}
.mat-progress-spinner circle, 
.mat-spinner circle{
	stroke: #777777!important;
}

/*======= autocomplete input ============ */

.mat-input-container{
	font-family:'DIN Regular'!important;
}
.form-control.autocomplete-input{
	background-color:transparent;
	border: 1px solid #aeaeae;
}
.mat-input-placeholder-wrapper{
	left:0px!important;
	top:0px!important;
	padding-top:0px!important;
}
.mat-input-placeholder-wrapper .mat-input-placeholder{
	/* display:none!important; */
	font-family:'DIN Regular'!important;
	color: #777777!important;
	text-transform: capitalize;
	margin-bottom: 0px;
	top:13px;
	left:10px;
}
.autocomplete-block .mat-input-placeholder-wrapper .mat-input-placeholder.mat-empty{
	display: block!important;
}
.mat-form-field-should-float .mat-input-placeholder.mat-empty,
.autocomplete-block .mat-focused .mat-input-placeholder-wrapper .mat-input-placeholder{
	display:none!important;
}
.autocomplete-block{
	position: relative!important;
}
.mat-input-wrapper,
.mat-form-field-wrapper,
.mat-form-field-infix{
	padding:0px;
	margin:0px;
	border-top: 0px;
	width: 100%!important;
}
.mat-form-field{
	width: 100%!important;
}
.skill-row .mat-form-field{
	width: 200px!important;
	margin: 2.5px;;
}
.autocomplete-selected{
	box-shadow:0px 0px 0px 0px !important;
	background-color: #f5f5f5!important;
	top:0px!important;
}
.autocomplete-selected .autocomplete-option{
    font-size: 12px;
    color: #777777;
    line-height: 16px;
    font-family:'DIN Regular';
    padding:12px 12px 14px 12px;
    height:auto;
}
.autocomplete-selected .autocomplete-option:hover{
	background-color: #fff;
}
.autocomplete-block .mat-input-container,
.autocomplete-block .mat-form-field-flex{
	display: block;
	float: left;
}
.mat-option{
	display: block;
	padding: 12px!important;
	cursor:pointer;
	line-height:16px!important; 
	height: inherit!important;
	text-transform:capitalize;
	clear: both;
	color:#777777;
	font-family:'DIN Regular'!important;
	font-size: 12px!important
}
.mat-option:hover,
.mat-option:focus{
	text-decoration: none;
	font-family:'DIN Regular';
	background-color: #fff;
}

/*======= Section popup ============ */
.popup-custome-ng2{
	margin:-15px;
}
.popup-custome-ng2 .btn-row.mat-dialog-actions{
	padding:15px;
}
.popup-custome-ng2 .mat-dialog-title{
	margin-bottom:0px;
	font-size:inherit;
}
.popup-custome-ng2 .mat-dialog-content{
	margin:0px;
	padding:0px;
}
.popup-custome-ng2 .row{
	margin:0px -15px;
}
.form-item-popup .input-field{
	margin-bottom: 12px;
}
.form-item-popup .dropdown-1 .vertical-scrollbox,
.form-item-popup .dropdown-8 .vertical-scrollbox,
.form-item-popup .dropupside .dropdown-1 .vertical-scrollbox,
.form-item-popup .dropupside .dropdown-8 .vertical-scrollbox{
	max-height:160px;
}
.minHeight350{
	min-height: 350px;
}
.minHeight350 .dropdown-1 .vertical-scrollbox, 
.minHeight350 .dropdown-8 .vertical-scrollbox, 
.minHeight350 .dropupside .dropdown-1 .vertical-scrollbox, 
.minHeight350 .dropupside .dropdown-8 .vertical-scrollbox{
	max-height: 105px;
}

/*======= End Section popup ============ */
.mat-dialog-title{
	position: relative;
	font: inherit;
}
.mat-dialog-title .close{
	top: 0px;
}
.popup-custome-ng2 .mat-dialog-title .close{
	top: 15px;
}

.popup-top-sm .notification-bar{
	width:94%!important;
}
.popup-top-sm.mat-dialog-title{
	margin-bottom:14px;
	font-size:inherit;
	font-weight:100;
	padding-left: 15px;
}
.popup-top.mat-dialog-title{
	font-size:inherit;
	font-weight:100;
	padding:0 15px 5px;
	margin:0px -15px;
}
.popup-custome-section .popup-top.mat-dialog-title{
	margin:0px;
}
.popup-title-row{
	line-height: normal;
}
.popup-title-row, 
.popup-top-description{
	padding:0px!important;
}
.mat-dialog-container{
	border-radius:10px!important;
	overflow: inherit!important;
	background-color:#fff;
	padding:15px!important;
	position: relative;
	-webkit-box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.18)!important;
			box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.18)!important;
}
.mat-dialog-container .btn-row .btn-primary{
	margin-left:7px;
}
.mat-dialog-container .search-block{
	margin-bottom:10px;
}
.mat-dialog-title .title{
	font-size: 18px;
	display: inline-block;
	margin: 0px;
	padding: 0px;
	line-height: 18px;
	letter-spacing: -0.50px;
	text-transform: capitalize;
	color: #494949;
	font-family:'DIN Bold';
}
.popup-small-inner.mat-dialog-content,
.popup-inner.mat-dialog-content{
	padding:0 15px;	
	margin:0 -15px;
}
.popup-inner.mat-dialog-content{
	padding-top:10px!important;
}
.btn-row.mat-dialog-actions{
	padding:15px 0 0;
	display:block;
}
.popup-custome-section .btn-row.mat-dialog-actions,
.popup-custome-email .btn-row.mat-dialog-actions{
	padding-left:15px;
	padding-right:15px;
}
.btn-row.mat-dialog-actions:last-child{
	margin-bottom:0px;
}
.btn-row.mat-dialog-actions .btn +.btn{
	margin-left:7px;
}
.btn-row.mat-dialog-actions .btn-white{
	border:solid 1px #aeaeae;
}
.popup-cell-inner .form-control[disabled], 
.popup-cell-inner .form-control[readonly], 
.popup-cell-inner fieldset[disabled] .form-control{
	background-color: #f5f5f5;
}
.pointer-date .form-control{
	cursor: pointer;
}
.displayNone{
    display:none!important;
}
.displayBlock{
    display:block!important;
}
.popup-custome-email{
	margin:0 -15px;
}
.popup-custome-email .popup-inner.mat-dialog-content{
	padding:10px 15px 0!important;	
	margin:0px;
}
.popup-custome-email .popup-top{
	margin: 0px;
}
.margin-lr5{
	margin-left:5px!important;
	margin-right:5px!important;
}
/*======= pagination ============ */

.card-pagination .dropdown-button{
	width: 100%;
	border-color:#e3e3e3;
	margin-top: -2px;
	color: #494949;
    font-family: "DIN Bold";
	padding: 11px 5px 13px 13px;
}
.open .dropdown-button{
	color: #a8407f;
  	background-color: #f5f5f5;
  	border:solid 1px #f5f5f5;
}
.form-group .dropdown-button:focus{
	outline: 0;
	border-color: #5cb3fd!important;
}
.open .dropdown-button:focus{
	border-color: #f5f5f5!important;
}
.card-pagination .dropdown-button .mdi{
	 color: #494949;	
}
.card-pagination .dropdown-button .text-dropdown{
	padding-right:0px;
}
.card-pagination .dropdown-1{
	padding-top:0px;
}
.profile-img img{
	width: 100%;
	height: 100%;
}
.filter-show-arrow .main-title-row{
	margin-bottom:-1px!important;
}
.filter-show-arrow .toggle-jobs{
	margin-top: -13px!important;
}
.section-filter-inner{
	filter: alpha(opacity=100);
    opacity:100;
	max-height: 196px;
	-webkit-transition: all 0.2s ease-out;
    		transition: all 0.2s ease-out;
}
.filter-show-arrow .section-filter-inner{
	max-height: 0px;
	filter: alpha(opacity=0);
    opacity:.0;
	padding: 0px;
	visibility: hidden;
}
.filter-show-arrow .mdi-chevron-up:before {
  content: "\F140";
}
.openmodal{
	display: block!important;
}
.error-message{
	color: #f00;
	font-size: 10px;
	line-height: 14px;
	position: absolute;
	left: 6px;
	bottom:0px;
	top: 60px;
	white-space: nowrap;
} 
.auto-select,
.dropdown-select-custome{
	position: relative;
}
.auto-select .dropdown-8,
.dropdown-select-custome .dropdown-8,
.auto-select .dropdown-1,
.dropdown-select-custome .dropdown-1{
    width: 100%;
	top:40px;
}
.dropdown-select-custome{
	position: relative;
	z-index: 100;
}
.dropdown-select-custome .dropdown-8,
.dropdown-select-custome .dropdown-1{
	border-radius: 0 0 5px 5px;
}
.dropdown-select-custome .dropdown-button{
	background-color:#f5f5f5;
	border: solid 1px #f5f5f5;
	width: 100%;
	display: block;
	float: none;
}
.dropdown-select-custome .dropdown-button .text-dropdown{
	float: none;
}
.dropdown-select-custome .dropdown-button .value{
 	white-space: nowrap;
	overflow:hidden;
	position:relative;
	display: block;
}
.dropdown-select-custome .dropdown-button .value:before{
	position: absolute;
    bottom:0px;
    right: 20px;
    width:20%;
    height:17px;
	content:'';
	background: -webkit-linear-gradient(right, rgba(245, 245, 245, 0), rgba(245, 245, 245, 1) 90%);
	background: -ms-linear-gradient(right, rgba(245, 245, 245, 0), rgba(245, 245, 245, 1) 90%);
	background: linear-gradient(to right, rgba(245, 245, 245, 0), rgba(245, 245, 245, 1) 90%);
}
.dropdown-select-custome .dropdown-button .mdi {
	background-color: #f5f5f5;
	position: absolute;
	right:4px;
	top: 10px;
}
.dropdown-select-custome .focus,
.dropdown-select-custome .focus:focus
.dropdown-button:focus
.focus, .below{
	outline: 0px!important;
}
.below:focus .form-control{
	border-color: #5cb3fd!important;
}
.cursor{
	cursor: pointer;
}
.cursor-defauls{
	cursor: default!important;
}
.common-block-job{
	padding:0 15px 1px;
 	margin:0 -15px 15px;
	border-bottom:solid 2px #e3e3e3;
}
.common-block-job .title-12{
	color:#494949;
	letter-spacing:0.50px;
	text-transform:uppercase;
	margin-bottom:15px;
}
.pull-right.material-icons{
	color:#aeaeae;
}

.image-block{
	text-align:center;
	line-height:35px;
	font-family:'DIN Bold';
	color:#fff;
}
.image-block-01{
	background-color:#a8407f;
}
.image-block-02{
	background-color:#73b12a;
}
.image-block-03{
	background-color:#f0a520;
}
#progress-bar {
  position: relative;
  height: 15px;
  width: 99%;
  background: linear-gradient(to right, rgba(119,119,119,1) 99.9%, transparent 99.9%), radial-gradient(circle at 50% 50%, rgba(119,119,119,1) 16%, transparent 20%);
  background-position: 0px 50% , 38px 50%;
  background-size: 100% 1px, 65px 15px;
  background-repeat: no-repeat, repeat-x;
}
#progress-now {
  position: absolute;
  height: 15px;
  width: 20%;
  background: linear-gradient(to right, rgba(238,62,128,1) 99.9%, transparent 99.9%), radial-gradient(circle at 50% 50%, rgba(238,62,128,1) 16%, transparent 20%);
  background-position: 0px 50% , 38px 50%;
  background-size: 100% 1px, 65px 15px;
  background-repeat: no-repeat, repeat-x;
  z-index: 1;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
}

.mat-dialog-overflow{
	overflow: visible!important;
}
.popup-content .title-12{
	color:#494949;
}
.mat-dialog-container .notification-bar{
	width:98%;
	top: 5px;
	left: 10px;
}
.dropdown-calendar.md2-datepicker-opened{
	border:solid 1px #eaeaea;
	background-color:#f5f5f5;
	box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.18);
	border-radius:5px 5px 0 0;
	padding-bottom: 10px;
}
.mat-tooltip{    
	padding:9px 8px!important;
    color:#ececec!important;
	background-color: #727272!important;
    border-radius:5px!important; 
	font-size: 11px!important;
    position: relative;
	text-transform: capitalize!important;
	width: 100%!important;
	top:5px!important;   
	margin:0px!important;	
	word-wrap: break-word!important;
}
.mat-tooltip:after{
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	border-color: rgba(114, 114, 114, 0);
	border-bottom-color: #727272;
	border-width: 5px;
	margin-left: -5px;
}
.tooltip-section{
	position: relative;
}
.dropdown-button.tooltip-section{
	overflow:inherit!important;
	float: left!important;
}
.select-dropdown .dropdown-style{
	top: 40px;
}
.tooltip-container{    
	padding:9px 8px;
    color:#ececec;
	background-color: #727272;
    border-radius:5px; 
	font-size: 11px;
    position: absolute;
	text-transform: capitalize;
	top:100%;   
	left: 0px;
	word-wrap:break-word;
	margin-top: 5px;
	z-index: 1;
	opacity: 0;
	transform: scale3d(.2,.2,1);
	transition: all .2s ease-in-out;	
	line-height: 14px;
}
.tooltip-container:after{
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	border-color: rgba(114, 114, 114, 0);
	border-bottom-color: #727272;
	border-width: 5px;
	margin-left: -5px;
}
.tooltip-section:hover .tooltip-container{
	opacity: 1;
    transform: scale3d(1,1,1);
	transition: all .2s .1s ease-in-out;
}
.tooltip-wd276{
	width: 276px;
	left: -256px;
}
.tooltip-wd276 h5{
	margin: 0px;
	padding: 0px;
}
.tooltip-container.tooltip-wd276:after{
	left:auto;
	right:5px;
}
.dropdown-style .tooltip-container,
.location-listing .tooltip-container{ 
	top:0px;
	padding-left: 20px;	
	padding-top: 12px;
	background-color: #fff;
	border-radius:0px;
	color: #777777;
	font-size: 12px;
	transform: inherit;
	margin-top: 0px;
	cursor: pointer;
	transform: none!important;
	transition:none!important;
	display: none;
	width: 100%;
}
 .dropdown-style .tooltip-section:hover .tooltip-container,
 .location-listing .tooltip-section:hover .tooltip-container{
	display: block;
}
.location-listing .tooltip-container{
	padding-left: 10px;
	line-height: 15px;
}
.dropdown-style .tooltip-container:after,
.location-listing .tooltip-container:after{
	border-bottom-color: transparent;
}
.dropdown-style .tooltip-section:hover .tooltip-container,
.location-listing .tooltip-section:hover .tooltip-container{
	transform: none!important;
	transition:none!important;
}
.btn-for-mobile .dropdown-style .tooltip-container{    
    color:#ececec;
	background-color: #777777;
	top:1px;
}
.btn-for-mobile .dropdown-style .tooltip-container:after{
	border-bottom-color: transparent;
}


.label-text{
	float: left;
	padding: 10px 10px 0 0;
	font-family:'DIN Regular';
	color: #a8407f;
}
.disabled,
.disabled .sort-label,
.disabled button[disabled],
.disabled button.md2-datepicker-button,
.disabled .form-control[disabled],
.disabled .radio label, .disabled .checkbox label,
.dropdown-style li.disabled a{
  cursor: not-allowed;
  filter: alpha(opacity=65);
  opacity: .65;
  background-color: transparent;
}
.disabled-cursor{
	cursor: not-allowed!important;
}

.row .pagination {
	padding-right: 20px;
 } 

 /*===assign to recruiter==*/
.popup-height{
	 min-height: 300px;
	 overflow-y: scroll;
	 margin:0 -15px;
 }
.popup-cell-dev .dropdown-8{
	width:100%!important;
	border-radius: 0 0 5px 5px!important;
}
.popup-cell-dev .dropdown-8 .options{
	max-height: 120px!important;
}
.popup-cell-1.popup-cell-dev .dropdown-button{
	min-height: 40px;
}
.popup-cell-1.popup-cell-dev .mdi-chevron-down{
	position: absolute;
	top: 10px;
	right: 7px;
	background-color: #f5f5f5;
}
.popup-cell-1.popup-cell-dev .value{
 	white-space: nowrap;
	overflow:hidden;
	position:relative;
	display: block;
}
.popup-cell-1.popup-cell-dev .value:before{
	position: absolute;
    bottom:0px;
    right: 15px;
    width:20%;
    height:17px;
	content:'';
	background: -webkit-linear-gradient(right, rgba(245, 245, 245, 0), rgba(245, 245, 245, 1) 90%);
	background: -ms-linear-gradient(right, rgba(245, 245, 245, 0), rgba(245, 245, 245, 1) 90%);
	background: linear-gradient(to right, rgba(245, 245, 245, 0), rgba(245, 245, 245, 1) 90%);
}
.dropdown-8 .options .text-nowrap-grad:before{
	bottom: 7px;
}
.popup-cell-2.popup-cell-dev .cal-icon{
	margin-right:0px;
}
.popup-cell-2.popup-cell-dev{
	width:23%;
}
.popup-cell-2.popup-cell-dev .dropdown-calendar{
	float: none;
	display: block;
	padding-bottom: 9px;
	min-height: 40px;
}
.popup-cell-2.popup-cell-dev .md2-datepicker-button{
	float: right;
}
.popup-cell-2.popup-cell-dev .dropdown-calendar .input-item{
	width:63px;
}
.popup-cell-2.popup-cell-dev .md2-datepicker-input,
.popup-cell-2.popup-cell-dev .form-control{
	cursor: pointer;
}
.disable-cell-2.dropdown-calendar.md2-datepicker-opened{
	opacity: 1;
}
.popup-custome-section{
	margin: 0 -15px;
}
.popup-custome-section .vertical-scroll-ng{
	margin:0px;
	padding: 0px;
}
.slimscroll-wrapper .ver-height400{
	max-height: 400px!important;
	padding-top: 10px!important;
}
.popup-toplr15{
 	margin: 0 -15px;
}
.padding20t{
	padding-top: 20px!important;
}
.margin-bot-pad{
	margin-bottom:5px!important;
	padding-top: 0px!important;
}
.popup-custome-section .popup-content{
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
}
.add-new-btn-custome{
	border: 0px!important;
	width:785px;
	padding-top: 10px;
}
.video-block table {
	width: 100%;
}
.card-flip-bottom .gradient-top-bot{
	margin: 0 -15px;
}
.flip-btn-row{
	position: relative;
	z-index: 100;
}
.height-300{
	max-height:300px;
}
.module-true-2{
	opacity:.6;
	position:fixed;
	width:100%;
	height:100%;
	z-index:108;
	display:none;
	left:0px;
	top:0px;
}
.loader {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.7);
}
.loader img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top: -50px;
}
.select-black .select-dropdown .dropdown-button{
	background-color: #494949!important;
	border: 1px solid #494949!important;
	text-transform: uppercase!important;
}
.select-black .select-dropdown .text-dropdown{
	color: #fff!important;
}
.select-black .select-dropdown .text-nowrap-grad:before{
	color: #fff;
	background: -webkit-linear-gradient(to right, rgba(73, 73, 73, 0), rgba(73, 73, 73, 1) 90%);
	background: -ms-linear-gradient(to right, rgba(73, 73, 73, 0), rgba(73, 73, 73, 1) 90%);
	background: linear-gradient(to right, rgba(73, 73, 73, 0), rgba(73, 73, 73, 1) 90%);
	bottom: inherit;
}
.select-black .dropdown-style li a{
	color: #fff;
	line-height: 16px;
	margin-top: -2px;
}
.select-black .dropdown-1 li:hover .text-nowrap-grad:before,
.select-black .dropdown-1 li.active .text-nowrap-grad:before{
	background: -webkit-linear-gradient(to right, rgba(119, 119, 119, 0), rgba(119, 119, 119, 1) 90%);
	background: -ms-linear-gradient(to right, rgba(119, 119, 119, 0), rgba(119, 119, 119, 1) 90%);
	background: linear-gradient(to right, rgba(119, 119, 119, 0), rgba(119, 119, 119, 1) 90%);
}
.select-black .select-dropdown .dropdown-style{
	background-color: #494949!important;
}
.select-black .select-dropdown .mdi{
	background-color:#494949!important;
	color:#fff!important;
}
.select-black .open .dropdown-button .mdi-chevron-down:before{
	color:#fff!important;
}
.link-resume{
	color: #fff;
}
.btn-file-custome{
	position: relative;
	float: left;
	padding-top: 23px;
}
.btn-file-custome .link {
	float: left;
	margin-top: 0px!important;
	cursor: pointer;
}
.btn-file-custome .link:hover{
	text-decoration: inherit;
}
.btn-file-custome .file-btn{
 filter: alpha(opacity=0);
  opacity:0;
  width: 220px;
  left: -80px;
  top:18px;
  position: absolute;
  cursor: pointer;
}
.btn-file-custome .fileValue {
	float: left;
	width: 200px;
	padding:0 0 0 10px;
	height: auto;
	line-height: 16px;
}
.description-cell-source{
	width:40%;
	float:left;
}
.description-cell-source-name{
	max-width:40% !important;
	float:right;
	overflow:hidden;
}
.search-icon-cus{
	position: absolute;
	top: 10px;
	right: 10px;
	background: #e3e3e3;
	z-index: 1;
}
.search-icon-cus:before{
	position: absolute;
    bottom:0px;
    right: 20px;
    width:20px;
    height:17px;
	content:'';
	background: -webkit-linear-gradient(right, rgba(227, 227, 227, 0), rgba(227, 227, 227, 1) 50%);
	background: -ms-linear-gradient(right, rgba(227, 227, 227, 0), rgba(227, 227, 227, 1) 50%);
	background: linear-gradient(to right, rgba(227, 227, 227, 0), rgba(227, 227, 227, 1) 50%);
}
.dropdown-calendar-outer{
	float: left;
	margin-right: 5px;
}

.alt-recruit{
	background:none!important;
	display: none;
}
.zoom_out {
    display:block;
	background:url(../images/svg/dashboard_bring_back.svg) 0 0 no-repeat;
	width:21px;
	height:20px;
	font-size:0px;
	float: left;
	cursor: pointer;
}
.header-right-inner{
    z-index: 109!important;
}
.more-options{
    z-index: 108!important;
}
.more-options.more-menu-open{
	display:block;
}
.dropdown-8{
	overflow: hidden;
}
.dropdown-8 .options li a{
	padding-top:12px;
}
.no-recode-text{
	padding-left: 20px;
	font-size: 14px;
}
.job-details-right .table-data-ul li{
 padding-left:9px;
 padding-right:9px;
}
.initials-text{
    display: block;
    font-size: 20px;
	height: 50px;
	line-height: 50px;
}
.top-btn.top-btn-show{
	display: block;
}
/*======progress====*/
.doted_progress_bar2 {
	display: block;
    margin-top: -9px;
    width: 475px;
}
.candidate-profile-progres-inner{
	width: 475px;
}
.doted_progress_bar2 ul {
	width:100%;
}
.doted_progress_bar2 ul li {
	float:left;
	border-bottom:solid 1px #777777;
	position:relative;
	height:10px;
	width:13.9%;
}
.doted_progress_bar2 .doted {
	width: 10px;
	height: 10px;
	background-color: #777777;
	border-radius:50%;
	display:inline-block;
	position:absolute;
	left:0px;
	top:4px;
}
.doted_progress_bar2 ul li:last-child {
	display:table-cell;
	width:10px;
	border-bottom:solid 1px #777777;
	position:relative;
	height:10px;
}
.doted_progress_bar2 ul li:last-child .doted {
	left:auto;
	right:0px;
}
.doted_progress_bar2 ul li.done .doted {
	 background-color: #ee3e80;
}
.doted_progress_bar2 ul li.done {
	 border-bottom:solid 1px #ee3e80;
}
.doted_progress_bar2 ul li.active:before {
	display:block;
	content:"";
	position:absolute;
	bottom:-1px;
	width:50%;
	border-bottom:solid 1px #ee3e80;
}
.doted_progress_bar2 ul li.active .doted {
	background-color: #ee3e80;
}
.progress_bar_active{
	height:15px;
	position:relative;
	top:-11px;	
	overflow:hidden;
	padding-top:10px;
}
.progress_bar_active .doted_progress_bar2{
	position:relative;
	z-index:1;
}
.progress_bar_active .doted_progress_bar2 ul li {
  border-bottom:solid 1px #ee3e80;
}
.progress_bar_active .doted_progress_bar2 .doted {
  background-color: #ee3e80;
}
/*======End progress====*/

.slimscroll-wrapper{
	width: 100%!important;
	height: 100%!important;
}
.slimscroll-wrapper .slimscroll-grid{
	background:#e3e3e3!important;
	width:7px!important;
	border-radius:5px!important;
	margin:1px!important;
}
.slimscroll-wrapper .slimscroll-bar{
	background:#aeaeae!important;	 
	width:9px!important;
	border-radius:5px!important;
	margin:0px!important;
}
/*.slimscroll-bar:hover{ 
	width:10px!important;	
}*/
.scroll-outer-block {
	padding-right:0px!important;
}
.scroll-outer-block .slimscroll-wrapper{
	padding-right: 13px!important;
}
.mat-slider-thumb-label {
	transform: rotate(45deg) !important;
	border-radius: 50% 50% 0 !important;
}
.mat-slider-thumb {
	transform: scale(0) !important;
}
.mat-slider-thumb-label-text {
  opacity: 1 !important;
}
.mat-slider-thumb-label-text{
	color:#777777;
}
.mat-dialog-container .published-mng .search-block{
	margin-bottom:0px;
}
.mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb, 
.mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb-label{
	background-color: #aeaeae;
}
.mat-accent .mat-slider-thumb, 
.mat-accent .mat-slider-thumb-label, 
.mat-accent .mat-slider-track-fill{
	background-color: #a8407f;
}
.vendors-accordion-list .rounded-block {
	color: #FFF;
    font-size: 25px;
	padding-top: 5px;
}
.datepicker-col .dropdown-calendar{
	border: solid 1px #e3e3e3;
	width: 100%;
	padding-bottom: 11px;
}
.datepicker-col .md2-datepicker-button{
	float: right;
	outline: 0px;
}
.md2-datepicker-button:focus{
	outline:0px;
}
.datepicker-col .md2-datepicker-input .input-item{
	border:none!important;
	width: auto;
}
.datepicker-common .md2-calendar,
.datepicker-common2 .md2-calendar,
.datepicker-report-2 .md2-calendar{
	width: 293px;
	margin-left: 1px;
	border-top-right-radius: 0px;
}
.datepicker-common3 .md2-calendar{
	width: 316px;
	margin-left:0px;
}
.datepicker-common2 .md2-calendar{
	width: 298px;
	margin-left:0px;
}
.datepicker-report-2 .md2-calendar{
	width: 318px;
}
.datepicker-common318 .md2-calendar{
	width: 318px;
	margin-left: 1px;
	border-top-right-radius: 0px;
}
.form-textarea-mlr2{
	margin-left: 2.5px;
	margin-right: 2.5px;
}
.padding-tb60{
	padding: 60px 0;
	display: block;
}
.item_list.candidate-detail-field .search-block .form-control{
	border:none;
}
.document-name-here .doc-file-name{
    width: 170px;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;
}
.select-dropdown .dropdown-button.disabled-dropdown{
	background-color: #f5f5f5!important;
	cursor: not-allowed!important;
	border:solid 1px #f5f5f5!important;
	filter: alpha(opacity=65);
    opacity:.65;
}
.select-dropdown .disabled-dropdown .text-nowrap-grad:before{
	background: -webkit-linear-gradient(to right, rgba(245, 245, 245, 0), rgba(245, 245, 245, 1) 90%);
	background: -ms-linear-gradient(to right, rgba(245, 245, 245, 0), rgba(245, 245, 245, 1) 90%);
	background: linear-gradient(to right, rgba(245, 245, 245, 0), rgba(245, 245, 245, 1) 90%);
}
.select-dropdown .disabled-dropdown .mdi{
	background-color: #f5f5f5;
}
.select-black .select-dropdown .dropdown-button.disabled-dropdown{
	background-color: #e3e3e3!important;
	cursor: not-allowed!important;
	border:solid 1px #e3e3e3!important;
	filter: alpha(opacity=1);
    opacity:1;
}
.select-black .select-dropdown .disabled-dropdown .text-nowrap-grad:before{
	background: -webkit-linear-gradient(to right, rgba(227, 227, 227, 0), rgba(227, 227, 227, 1) 90%);
	background: -ms-linear-gradient(to right, rgba(227, 227, 227, 0), rgba(227, 227, 227, 1) 90%);
	background: linear-gradient(to right, rgba(227, 227, 227, 0), rgba(227, 227, 227, 1) 90%);
}
.select-black .select-dropdown .disabled-dropdown .mdi{
	background-color: #e3e3e3!important;
}
.disabled-file .link,
.disabled-file .link:hover{
	color: #e3e3e3;
	cursor: not-allowed!important;
}
.disabled-file,
.disabled-file .file-btn{
	cursor: not-allowed!important;
}
.btn-file-custome .file-btn.disabled{
	cursor: not-allowed!important;
}
.popup-row .image-block .image-block-inner{
	height: 30px;
	width: 30px;
	line-height: 30px;
}
.step_open.templates-open .info_title,
.step_open.templates-close .info_title{
	padding-bottom: 15px;
}
.templates-open .form_outer{
	display: block!important;
}
.templates-close .form_outer{
	display: none!important;
}
.item_list .form_outer.padding-tnone{
	padding-top:0px;
}
.card-flip-middle .listing-inline li{
	white-space: inherit;
}
.menu-open2{
	display: block!important;
}
.white-space-in{
	white-space: inherit!important;
}
.datepicker-col .dropdown-calendar-grey{
	border: solid 1px #f5f5f5;
	background-color: #f5f5f5;
}
.dropdown-calendar-white{
	border: solid 1px #e3e3e3!important;
	background-color: #fff;
}
.spin-hover input[type="number"]::-webkit-outer-spin-button,
.spin-hover input[type="number"]::-webkit-inner-spin-button {
    /*-webkit-appearance: none;*/
    margin: 0;
}
.spin-hover input[type="number"] {
    -moz-appearance: textfield;
}
.spin-hover input[type="number"]:hover {
  -moz-appearance: inherit
}
/* Aggressive reset to remove the initial spinner */
.no-spin input[type="number"] {
	-moz-appearance: textfield;
  }
.no-spin input[type="number"]::-webkit-inner-spin-button,
.no-spin input[type="number"]::-webkit-outer-spin-button {
	-moz-appearance: none;
	-webkit-appearance: none;
			appearance:none;
			margin: 0;
}
.no-spin input[type="number"]:hover::-webkit-inner-spin-button,
.no-spin input[type="number"]:hover::-webkit-outer-spin-button {
	appearance:none;
	-moz-appearance: none;
	-webkit-appearance: none;
	margin:0;
  }
.language-block{
	margin: 0 -2.5px 2.5px;
}
.input-w80{
	width: 265px!important;
	float: left;
	margin: 2.5px;
}
.skill-input .mat-input-placeholder-wrapper{
	left:5px!important;
	top: 0px!important;
}
.dropdown-month-year .dropdown-11.list-block{
	width:48%;
	float: left;
}
.scroll-hover{
	margin-right:-15px;
	position: relative;
}
.scroll-hover-inner{
	max-height: 355px;
	padding-right: 15px;	
}
.scroll-h250{
	max-height: 260px;
}
.scroll-h200{
	max-height: 160px;
}
.scroll-hover .slimscroll-grid,
.scroll-hover .slimscroll-bar{
	opacity:0 !important;
	right: 6px!important;
	transition: opacity .25s ease-in-out;
  	-moz-transition: opacity .25s ease-in-out;
  	-webkit-transition: opacity .25s ease-in-out;
}
.scroll-hover.scroll-hover-on:hover .slimscroll-grid,
.scroll-hover.scroll-hover-on:hover .slimscroll-bar{
	opacity:1 !important;
}
.scroll-gradient.scroll-hover-on:after,
.scroll-gradient.scroll-hover-on:before{
	background: -webkit-linear-gradient(to bottom, rgba(119, 119, 119, 0), rgba(119, 119, 119, 1) 50%);
	background: -ms-linear-gradient(to bottom, rgba(119, 119, 119, 0), rgba(119, 119, 119, 1) 50%);
	background: linear-gradient(to bottom, rgba(119, 119, 119, 0), rgba(119, 119, 119, 1) 50%);
	height:20px;
    position: absolute;
    right: 15px;
	content:'';
	bottom:4px;
	width:93.5%;
	z-index: 1;
	border-radius: 5px;
}
.scroll-gradient.scroll-hover-on:after{
	top:0px;
	background: -webkit-linear-gradient(to top, rgba(119, 119, 119, 0), rgba(119, 119, 119, 1) 50%);
	background: -ms-linear-gradient(to top, rgba(119, 119, 119, 0), rgba(119, 119, 119, 1) 50%);
	background: linear-gradient(to top, rgba(119, 119, 119, 0), rgba(119, 119, 119, 1) 50%);
}
.gradient2.scroll-gradient.scroll-hover-on::after{
	top: -5px;
}
.gradient2.scroll-gradient.scroll-hover-on:after,
.gradient2.scroll-gradient.scroll-hover-on:before{
	height: 15px;
}
.gradient2.scroll-gradient.scroll-hover-on:before{
	bottom:3px;
}
.right-sidebar .md2-datepicker-content{
	background-color: transparent;
	border-radius:0;
	box-shadow:0px 0px 0px;
	min-height: 220px;
	display: block;
}
.right-sidebar .md2-calendar-header{
	display: none;
	height: 0px;
}
.right-sidebar .mdi-chevron-left,
.right-sidebar .md2-month-content,
.right-sidebar .md2-calendar-period-button,
.right-sidebar .md2-datepicker-content .md2-calendar-table-header th,
.right-sidebar .md2-datepicker-content .md2-calendar-body-cell{
	color: #fff;
	font-family:'DIN Regular';
}
.md2-calendar-body-cell-content{
	margin: -6px -5px -5px;
	padding: 6px 5px 5px;
}
.right-sidebar .md2-calendar-content{
	padding: 0px;
}
.text-initial {
  text-transform:initial!important;
}
.preview-buttons{
    text-align: right;
	padding-top: 10px;
}
.preview-buttons span{
    cursor: pointer;
}
.preview-buttons .close{
    font-size: 20px;
    margin-right: 5px;
    float: none;
    position: static;
}
.md2-datepicker-disabled,
.dropdown-calendar-disabled{
	filter: alpha(opacity=65);
    opacity:.65;
	cursor: not-allowed;
}
.md2-datepicker-disabled .md2-datepicker-button,
.dropdown-calendar-disabled .cal-icon{
	cursor: not-allowed;
}
.datepicker-col.disabled{
	opacity:1;
	filter: alpha(opacity=1);
} 
.disabled .md2-datepicker-disabled button.md2-datepicker-button,
.disabled .md2-datepicker-disabled .form-control[disabled],
.disabled .md2-datepicker-disabled .form-control{
	opacity:1;
	filter: alpha(opacity=1);
	color: #777;
}
.popup-cell-2.popup-cell-dev .dropdown-calendar-disabled .md2-datepicker-input,
.popup-cell-2.popup-cell-dev .dropdown-calendar-disabled .form-control{
	cursor: not-allowed;
}
.mat-tab-section .mat-tab-header{
	border: none;	
}
.mat-tab-section .mat-tab-label{
   font-family:'DIN Bold'!important;	
	line-height: inherit!important;
	height:inherit!important;
	padding:0!important;
	font-size: 12px!important;
	cursor: default!important;
	opacity:inherit!important;
	min-width:inherit!important;
	text-align: center!important;
	position: relative!important;
}
.mat-tab-section .mat-tab-header-pagination-before{
	width: 0px;
	margin-left:-15px;
}
.mat-tab-section .mat-tab-header-pagination-after{
	width: 0px;
	margin-right:-15px;
}
.mat-tab-header-pagination-before .mat-tab-header-pagination-chevron{
	margin-left: 10px;
}
.mat-tab-header-pagination-after .mat-tab-header-pagination-chevron{
	margin-right: 10px;
}
.mat-tab-section .mat-ripple .mat-ripple-element{
	display: none;
	height: 0px;
	width: 0px;
}
.table-outer-fitment .title-12{
	padding-top: 15px;
}
.table-outer-fitment .table{
	margin-bottom: 0px;
}
.table-outer-fitment .form-control.form-control-white[disabled]{
	cursor:default;
	border:0px!important;
	background-color:transparent!important;
	padding-left:0px!important;
	opacity:.99;
}
.table-outer-fitment .select-dropdown .dropdown-button.disabled-dropdown{
	opacity:.99;
	cursor:default!important;
	color: #494949;
	border:0px!important;
}
.table-outer-fitment .select-dropdown .dropdown-button.disabled-dropdown .mdi {
	display: none;
}
.table-fitment-viewable{
	border-bottom: 2px solid #e3e3e3;
	margin:0 -15px 15px;
	padding:15px 15px 0;
}
.table-fitment-viewable .section-table{
	border-bottom:0px;	
	margin-bottom: 0px;
}
.table-fitment-disabled .section-table{
	margin-bottom: 0px;
}
.table-fitment-disabled .form-group,
.table-fitment-viewable .form-group{
	margin-bottom: 3px;
}
.fitment-input-filed .form-group{
	margin-bottom: 0px;
}
.table-fitment-disabled .table-outer-fitment{
	margin-bottom: 15px;
}
.reset-row-btn{
	border-bottom: 2px solid #e3e3e3;
	margin:0 -15px 15px;
	padding:0 15px 15px;
	text-align: right;
}
.select-dropdown-white .select-dropdown .dropdown-button{
	height: 40px;
	border-color:#e3e3e3!important;
	background-color:#fff!important; 
}
.select-dropdown-white .select-dropdown .dropdown-button .mdi{
	background-color:#fff!important;
 }
 .select-dropdown-white .select-dropdown .dropdown-button .text-nowrap-grad:before,
 .select-dropdown-white .select-dropdown.open .text-nowrap-grad:before{
	background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 100%);
	background: -ms-linear-gradient(right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 100%);
	background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 100%);
 }
.select-dropdown-white .select-dropdown.open .dropdown-button{
	border-color:#fff!important;	
}
.select-dropdown-white .select-dropdown.open .dropdown-style{
	background-color:#fff!important;
}
.auto-matched-candidate-top .listing-inline.ul-width-80{
	max-width:inherit;
}
.auto-matched-candidate-top .listing-inline.ul-width-80 li.character-count-45{
	max-width:inherit;
	width: 100%;
}
.title-overflow {
	position: relative;
	overflow: hidden;
	height: 40px;
}
.title-overflow:before{
	position: absolute;
    bottom:0px;
    right: 0;
	z-index: 1;
    width:20px;
    height:17px;
	content:'';
	background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 100%);
	background: -ms-linear-gradient(right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 100%);
	background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 100%);
}
.title-overflow .job-code{
	position: absolute;
	bottom: 2px;
	white-space: nowrap;
}
.template-mobile .select-dropdown .dropdown-button{
	border-color:#ffffff!important;
}
.template-mobile .select-dropdown.open .dropdown-style,
.template-mobile .select-dropdown .dropdown-style{
   border-radius:5px;
   background-color:#f5f5f5!important;
   box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.18);
}
.template-mobile .open .dropdown-button{
	border-radius:5px;
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.18);
}
.template-mobile .select-dropdown-white .dropdown-1 .text-nowrap-grad:before{
	background: -webkit-linear-gradient(right, rgba(245, 245, 245, 0), rgba(245, 245, 245, 1) 100%);
	background: -ms-linear-gradient(right, rgba(245, 245, 245, 0), rgba(245, 245, 245, 1) 100%);
	background: linear-gradient(to right, rgba(245, 245, 245, 0), rgba(245, 245, 245, 1) 100%);
}
.template-mobile .search-block .form-control,
.template-mobile .search-block .btn{
	border-radius: 5px;
}
.show-text{
	float: right;
	text-transform: capitalize;
	color: #aeaeae!important;	
	font-size: 10px;
}
.show-text:hover{
	color: #494949!important;
}
.card-min-h410{
	min-height: 410px;
}
.list-dotted{
	list-style:initial;
	margin: 0px;
	padding: 0 0 0 15px;
}
.list-dotted .accordion-details{
	overflow:inherit;
}
.skill-overflow{
	max-height:90px;
	overflow:hidden;
}
.resume-data{
	overflow-y: auto;
}
.toggle-hide .accordion-title .mdi-chevron-up:before {
	content: "\F140";
}
.toggle-hide .accordion-content,
.panel-multiple-close .accordion-content,
.panel-close .toggle-content-section{
    overflow: hidden;
	max-height: 0;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.toggle-show .accordion-content,
.panel-multiple-open .accordion-content,
.panel-open .toggle-content-section{
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    max-height: inherit;
    /*overflow: hidden;*/
}
.panel-open .toggle-content-section{
	max-height: 1000px;
}
.toggle-content-section .panel-body{
	display: inherit;
}
.mesh-block{
	display: block!important;
	z-index: 1000!important;
}
.chat-icon{
	color:#a8407f;
	font-size: 18px;
	float: left;
	margin:0px 17px 0 8px;
}
.pad-rt15{
	padding-right:15px
}
.select-interview{
	padding: 0px;
}
.pad-left-none{
	padding-left: 0px!important;
}
.max-height-none{
	max-height: inherit!important;
	min-height: 200px;
}
.input-created-by .input-text-field{
	display: block;
	padding: 6px 12px;
	padding-top: 10px;
	width: 100%;
	height: 40px;	
	font-size: 12px;
	line-height:14px;
	color:#494949;
	background-color: #f5f5f5;
	background-image: none;
	border: 1px solid #f5f5f5;
	border-radius:5px;
	letter-spacing: 0.50px;
}
.confidential-field{
	min-height: 60px!important;
}
.text-disabled{
	color:#B8B8B8!important;
}
.slimscroll-wrapper > .mat-dialog-content,
.slimscroll-wrapper > .vertical-scrollbox{
	padding-top: 0px!important;
	padding-bottom: 0px!important;
}
.input-field .mat-form-field-flex{
	display: block!important;
}

.form-control-ctc-row{
	background-color: #f5f5f5;
	border-radius: 5px;
	display:table;
	width: 100%;
}
.form-control-ctc-row .form-control{
	border-radius: 0px;
}
.form-control-ctc-row .form-control:focus {
	border-color: #5cb3fd!important;
	outline: 0;
}
.ctc-cell-1,
.ctc-cell-2,
.ctc-cell-3{
	display:table-cell;
	vertical-align: top;
}
.ctc-cell-1{
	width: 60px;
}
.ctc-row-drop .ctc-cell-2{
	width: 45%;
}
.ctc-row-drop .ctc-cell-2:first-child{
	border-left:0px;
}
.ctc-cell-3{
	width: 35px;
}
.form-control-ctc-row .dropdown-11.list-block{
	width: 60px;
	border-right:solid 1px #ccc;
	float: left
}
.ctc-cell-border{
	border-left:solid 1px #ccc;
}
.ctc-cell-1 .select-dropdown .dropdown-button{
	background-color:#ebebeb !important;
	border: solid 1px#ebebeb !important;
	border-radius: 5px 0 0 5px;
}
.ctc-cell-1 .select-dropdown .dropdown-button:focus{
	border-color: #5cb3fd!important;
}
.ctc-cell-1 .select-dropdown .dropdown-button .mdi{
	background-color:transparent!important;
}
.ctc-cell-1 .select-dropdown.open .dropdown-button{
	border-radius:5px 5px 0 0;
	-webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.18);
			box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.18);
}
.ctc-cell-1 .select-dropdown.open .dropdown-button:focus{
	border-color: #ebebeb!important;
}
.ctc-cell-1 .text-nowrap-grad::before{
	display: none;
	position: static;
}
.ctc-cell-3 .icon-css2{
	position: absolute;
    width: 24px;
	margin-left: -12px;
	top: 9px;
	left: 50%;
 }
.ctc-cell-3 .btn {
	width: 30px;
	position: relative;
	border-radius:0 5px 5px 0;
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.1);
		-webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.1);
}
.ctc-cell-3 .btn.focus,
.ctc-cell-3 .btn:focus{
	box-shadow: 0 0 3px 3px rgba(108, 117, 125, 0.5);
}

.select-applied-outer .select-applied{
	display: inline-block;
}
.select-interview .card-block-inner .ng-star-inserted{
	position: static!important;
}
.popup-small-candidate.mat-dialog-content{
	padding: 0px;
	margin: 0px;
}
.popup-small-candidate .listing-popup-block{
	padding: 0 15px;
}
.skill-section .title-12{
	margin-bottom: 5px;
	color: #494949;
}
.skill-section-row,
.skill-section-row-2{
	margin-bottom: 15px;
}
.skill-section-row-2{
	margin-left: -2.5px;
	margin-right: -2.5px;
}
.multiple-field-input .popup-cell-common{
	margin:5px 0;
}
.multiple-field-input .control-label{
	min-width: 65px;
}
.multiple-field-input .popup-cell-inner {
	width: 171px;
}
.textareah100{
	height: 100px!important;
}
.form-group.btn-mobile-one{
	margin-bottom: 0px;
}
.pad-bot-90{
	padding-bottom: 10px;
}

.chat-detail-tool{
	max-width:620px;
	float:left;
	display:block;
}
.chat-detail-tool .tooltip-container{
	top:34px;
}
.chat-detail-tool .tooltipT20{
	top:18px!important;
}
.right-sidebar-inner{
	width: 240px;
}
.filter-section-right{
	padding:0px;
}
.filter-section-right .title-block{
	padding-left: 15px;
}
.filter-section-right .link{
	text-transform:uppercase;
	color:#777777;
	line-height:15px;
	letter-spacing:0.90px;
	font-size:12px;
	cursor: pointer;
}
.filter-section-right .link:hover{
	color:#777777;
}
.filter-selected-right{
	padding-top: 15px;
	margin-left: -2.5px;
	margin-right: -2.5px;
}
.filter-selected-right .tag-job{
	padding: 7px 7px 7px 7px;
	font-size:10px;
}
.filter-limited-fixed .filter-limited-fixed-inner{	
	max-height:105px;
	overflow:hidden;	
} 
.filter-limited-no .filter-limited-fixed-inner{
	height:inherit;
}
.top8Minse{
	top:-8px!important;
}
.dropdown-ctc{
	width: 50%;
	float: left;
}
.dropdown-ctc-outer{
	margin: 0 -2.5px;
}
.dropdown-ctc .select-dropdown{
	margin: 0 2.5px;
}
.in-lacs{
	font-size: 12px;
	text-transform: capitalize;
	font-family:'DIN Regular'!important;
}


.font12{
	font-size:12px!important;
}
.card-row-top-feed{
	border-bottom:solid 1px #fff;
	min-height: 105px;
}
.card-row-feed,
.card-row-top-feed{
	padding:13px 15px;
}
.card-row-feed{
	min-height: 120px;
}
.card-row-top-feed .title-12{
	text-transform: capitalize!important;
	margin-bottom: 5px!important;
}
.comments-label{
	color:#a8407f;
}
.comments-text{
	margin:0px;
}
.sales-opr{
	font-family:'DIN Regular';
	display:block;
	text-transform: capitalize;
}
.comments-text::first-letter {
	text-transform: capitalize;
}
.historyChatsSection .chats-accordion-details{
	margin-top: -13px;
}
.new-job-page .form-group .input-field{
	margin-bottom: 11px;
	min-height: 60px;
}
/*End  old auto match progress*/
.matched-profile-row .profile-completed{
	width: 40%;
}
.matched-profile-row .profile-match{
	width: 34%;
}
.matched-profile-row .profile-match.min-height42{
	width: 26%;
}
.matched-profile-row .min-height42 .material-icons{
	padding: 0 5px!important;
}
.matched-profile-row .social-block-footer-lg .icon-smd {
    margin: 0 2px;
}
.matched-profile-row .social-block-footer-lg .icon-smd{
	width:20px;
}
.matched-profile-row .profile-graph-details{
	padding-left: 5px;
}
.matched-profile-row .profile-match .profile-graph{
	margin-left:5px;
}
.profile-match-detais{
	position: absolute;
	right: 10px;
	width: 200px;
}
.profile-match-detais .profile-match{
	width: 50%
}
/*End  old auto match progress*/

.title-cell .title{
	height: 21px;
}
.title-cell .text-nowrap-grad-white{
	width: 100%;
}
.title-cell .text-nowrap-grad-white:before{
	bottom: 0px;
}
.title.text-nowrap-title:before{
	position: absolute;
    right: 0;
    width:40px;
    height:20px;
	content:'';
	z-index:10;
	bottom:0px;
	background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 90%);
	background: -ms-linear-gradient(right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 90%);
	background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 90%);
}
.pagination-bottom .dropdown-style{
	bottom: 100%;
	top: inherit;
	border-radius: 4px 4px 0px 0px;
	z-index: 101;
	padding-bottom: 0px;
}
.pagination-bottom .open .dropdown-button{
	border-radius: 0 0 4px 4px;
	z-index: 102;
	position: relative;
}
.pagination-mobile .dropdown-style li a{
	padding-left: 13px;
}
.pagination-mobile .dropdown-style li:first-child a{
	border-radius: 5px 5px 0px 0px;
}
.feedback-cell-right .purple-color{
	vertical-align: top;
	text-transform: uppercase;
	font-family:'DIN Bold';
}
.feedback-cell-right .dp18{
	vertical-align: top;
}
.feedback-by-name,
.date-time{
	font-family:'DIN Regular';
	text-transform:capitalize;
	color:#777777;
}
.dropdown-menu > li > a.disabled:hover,
.dropdown-menu > li > a.disabled:focus {
  background-color: transparent;
  color: inherit;
}
.notification-bar.width94{
	width:94%;
}
.notification-bar.width96{
	width:96%;
}
.dropdown-multiple-check-box li{
	position: relative;
}
.tooltip-container-drop{    
	padding:0px 5px 0 10px;
    color:#777777;
    position: absolute;
	text-transform: capitalize;
	top:2px;   
	left: 0px;
	word-wrap:break-word;
	z-index: 1;
	line-height: 11px;
}
.dropdown-multiple-check-box > li .tooltip-container-drop,
.dropdown-multiple-check-box li > .sub-dropdown-7 > li .tooltip-container-drop,
.dropdown-multiple-check-box li > .sub-dropdown-7 > li .sub-dropdown-7 > li .tooltip-container-drop{
	opacity: 0;
}
.dropdown-multiple-check-box > li:hover .tooltip-container-drop{
	background-color: #eeeeee;
	opacity: 1;
}
.dropdown-multiple-check-box > li:hover .text-nowrap-grad.level-one:before,
.dropdown-multiple-check-box li > .sub-dropdown-7 > li:hover .text-nowrap-grad.level-two:before,
.dropdown-multiple-check-box li > .sub-dropdown-7 > li .sub-dropdown-7 > li:hover .text-nowrap-grad.level-three:before{
	background: transparent;
}
.dropdown-multiple-check-box li > .sub-dropdown-7 > li:hover .tooltip-container-drop,
.dropdown-multiple-check-box li > .sub-dropdown-7 > li .sub-dropdown-7 > li:hover .tooltip-container-drop{
	background-color: #ffffff;
	opacity: 1;
}
.dropdown-multiple-check-box li > .sub-dropdown-7 > li .text-nowrap-grad.level-two:before{
	background: -webkit-linear-gradient(right, rgba(238, 238, 238, 0), rgba(238, 238, 238, 1) 90%);
	background: -ms-linear-gradient(right, rgba(238, 238, 238, 0), rgba(238, 238, 238, 1) 90%);
	background: linear-gradient(to right, rgba(238, 238, 238, 0), rgba(238, 238, 238, 1) 90%);
}
.dropdown-multiple-check-box li > .sub-dropdown-7 > li .sub-dropdown-7 > li .text-nowrap-grad.level-three:before{
	background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 90%);
	background: -ms-linear-gradient(right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 90%);
	background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 90%);
}
.dropdown-multiple-check-box .checkbox-inline,
.dropdown-multiple-check-box .checkbox label,
.dropdown-multiple-check-box .checkbox .text-nowrap-grad{
	display: block;
}
.first-char-uppercase{
	text-transform: lowercase!important;
}
.first-char-uppercase:first-letter{
	text-transform:uppercase!important;
}

.bulk-parse .drag-drop-your{
	padding-top:30px;
}
.bulk-parse .drag-drop-your .btn115{
	width:250px;
}
.bulk-parse .drag-drop-your .btn115.disabled{
	background-color: #e3e3e3;
}
.drag-drop-inner{
	margin:auto;
	margin-bottom:30px;
	width:60%;
}
.drag-drop-inner .radio-check-block{
	text-align:left;
	margin-bottom:10px;
}
.drag-drop-inner .title-small{
	text-transform: inherit;
	margin-bottom: 15px;
}
.drag-drop-inner .form-group{
	margin-bottom: 25px;
}
.table-cell-bulk{
	min-width:150px;
}
.bulk-parse .dropdown-11{
	min-height: 40px;
}
.enabled-dropdown .dropdown-button{
	border: solid 1px #aeaeae!important;
}
.candidate-history-block{
	border-bottom:solid 2px #e3e3e3;
}
.candidate-history-block:last-child{
	border-bottom:0px;
}
.candidate-history-row{
 	padding:12px 15px;
}
.candidate-history-block .chats-accordion-summary{
	width: 75%;
}
.candidate-history-block .subject-cell{
	max-width: 100%;
	font-family:'DIN Regular';
}
.candidate-history-block .table-scroll-custome{
	padding-top:15px;
}
.candidate-history-block .table-scroll-custome,
.candidate-history-block .table {
	margin-bottom:0px;
	padding-bottom:0px!important;
}
.table-td01{
	font-family:'DIN Bold';
}
.table-td01,
.table-td02,
.table-td03{
	width:220px;
}
tbody tr.td-h10 td {
    height:10px;
	padding:0px;
    background-color: #fff!important;
}
.panel-body.padding-none{
	padding:0px;
}
.height646{
	overflow-y: auto;
	max-height: 646px;
}
.height135{
	max-height: 135px;
}
.height220{
	max-height: 220px;
}
.candidate-detail-bottom .menu-style-3{
	width:100%;
	display: block;
}
.candidate-detail-bottom .menu-style-3 .name-cell{
	height: 15px;
}
.menu-style-3 li .text-nowrap-grad-white{
	right: -1px;
}
.menu-style-3 li a:hover .text-nowrap-grad-white:before,
.menu-style-3 li a:focus .text-nowrap-grad-white:before {
 	background: -webkit-linear-gradient(right, rgba(245, 245, 245, 0), rgba(245, 245, 245, 1) 90%);
	background: -ms-linear-gradient(right, rgba(245, 245, 245, 0), rgba(245, 245, 245, 1) 90%);
	background: linear-gradient(to right, rgba(245, 245, 245, 0), rgba(245, 245, 245, 1) 90%);
}
.menu-style-3 li.active a .text-nowrap-grad-white:before{
	background: -webkit-linear-gradient(right, rgba(245, 245, 245, 0), rgba(245, 245, 245, 1) 90%);
	background: -ms-linear-gradient(right, rgba(245, 245, 245, 0), rgba(245, 245, 245, 1) 90%);
	background: linear-gradient(to right, rgba(245, 245, 245, 0), rgba(245, 245, 245, 1) 90%);
}
.title-sub.files-section{
	text-align:center;
	margin-bottom:30px;
	line-height:20px;
	font-size:14px;
	text-transform:inherit;
}
.files-name{
	display:block;
	color:red;
	font-family:'DIN Regular';
	font-size:12px;
}
.date-edit-row{
	position: relative;
	width: 100%;
}
.date-edit-row .edit-icon13{
	position: absolute;
	right: 0px;
	top: -5px;
	cursor: pointer;
}
.resume-data.height646 div{
	position: relative;
}

.no-opening-cell{
	position: absolute;
	top: 7px;
	left: 7px;
	z-index: 1;
}

.attached-row{
	padding:0px;
}
.img-attached{
	max-width:150px;
	background-color: #f5f5f5;
	border: solid 1px #e3e3e3;
	float:left;
	padding:2px;
	margin-right:5px;
	margin-bottom: 5px;	
	border-radius:3px;
	position:relative;
}
.img-attached img{
	width:40px;
	height:40px;
}
.img-attached .files-name-attached{
	font-size:12px;
	width:100px;
	padding:0 8px 0 2px;
	vertical-align:middle;
	display: inline-block;
	word-break: break-all;
}
.img-attached .close-icons{
	position:absolute;
	top:-4px;
	right:-2px;
	cursor:pointer;	
}
.attached-row .add-icons{
	font-size: 30px;
	vertical-align: middle;
	margin-top: 8px;
	cursor:pointer;
	color:#494949;
	float: left;
}
.img-attached .material-icons{
	font-size:18px;	
}
.vet-align-middle{
	vertical-align:middle!important
}
.warning-notification .notification-bar{
	position:static; 
	width:100%;
}
.warning-notification .notification-text-outer{
	padding: 10px 15px 10px 24px;
}
.move-copy-popup .radio-check-block{
	text-align:left;
}
.move-copy-popup .dropdown-11.list-block{
	width:300px;
} 
.move-copy-popup .radio-block label{
	text-transform: capitalize;
}
.mat-dialog-container{
	color: #777777;
}
.move-copy-popup .form-group .dropdown-button:focus {
    outline: 0;
    border-color: #f5f5f5 !important;
}
.font16 {
	font-size: 15px!important;
	text-transform: capitalize;
}
.dashboard-drop .dropdown-style{
    font-family:'DIN Regular';
}
.dashboard-drop .dropdown-button .text-dropdown{
    font-family:'DIN Regular'; 
    font-size: 12px;
}
.chart_holder svg{
	width: 100%!important;
}
.no-comment{
	display: none!important;
}
.linke-not-hover:hover{
	color: #494949!important;
}
.select-Job-drop .dropdown-1 .vertical-scrollbox {
    max-height: 190px!important;
}
.maxHeight200{
	max-height: 30vh!important;
}
.maxHeight360{
	max-height: 60vh!important;
}
.checkbox-address {
	margin-left: 4.5px;	
	margin-top: 0px;	
}
.checkbox-address label {	
	font-family: 'DIN Regular';
}
.messages-show-cell{
	color: #a8407f;
	text-align: center;
	font-family:'DIN Bold';
	font-size: 14px;
}
.messages-padding20{
	padding: 50px 105px 35px;
}
.widhtFull{
	width: 100%;
	float: left;
}
.card-clear3:nth-child(3n+1){
	clear:left;
}
.dropdown-wd180{
	width: 180px;
}
.dropdown-wd180 .dropdown-button{
	width: 100%;
}
.dropdown-wd180 .dropdown-button .value{
	width: 135px;
	float: left;
}
.dropdown-wd100Pr .dropdown-8{
	width: 100%;
	border-radius: 0 0px 5px 5px;
}
.notification-bar.notification-not-fixed{
	position: relative;
	width: 96%;
	margin:5px auto;
	left: 0;
	top: 0;
}
.job-code-popup{
	display: block;
	padding: 0px!important;
}
.close.close-popup-row{
	font-size: 18px;
}
.close.close-popup-row:hover{
	color: #494949;
}
.popup-title-row-hover{
	transition: all 0.4s ease-out;
	background: #fff;
}
.popup-title-row-hover:hover{
	background: #e3e3e3;
}
.popup-cell-1.popup-cell-dev.floatLeft .dropdown-button{
	float: left!important;
}
.selectedDisabledDrop .dropdown-button{
	filter: alpha(opacity=65);
	opacity: .65;
}
.selectedDisabledDrop .dropdown-style li a,
.selectedDisabledDrop .dropdown-style li a span{
	cursor: not-allowed !important;
}
.ctq_section{	
	padding:0px 15px 15px;
	margin: 0 -15px 11px!important;
	border-bottom: solid 2px #f5f5f5;
}
.ctq_section:last-child{
	border: 0px;
}
.marginR20{
	margin-right: 20px!important;
}
.scroll70{
	height: 70px;
}
.maxscroll60{
	max-height: 70px;
	overflow: auto;
}
.bpContainer{
	padding-top:0!important;
}
.bpContainer .main-title-row{
	margin-right: 40px;
	margin-left: 32.5px;
}
.bpContainer .tab-details{
	box-shadow:inherit;
}
.job-details-right.table-data-full .table-data{
    width: 100%;
}

/*========css new BP==========*/
.card-min-height200{
	min-height: 370px;
}
.job-details-inner.job-details-full {
	width:100%;
}
.job-details-inner.job-details-full .card-block-inner{
	margin:0px;
}
.li-padingR20{
	padding-right:20px;
}
.card-top-job{
	height:55px;
}
.form-group-outer{
	margin-left:-4.5px;
	margin-right:-4.5px;
}
.rounded-block.rounded32,
.rounded32 .image-block-inner{
	width:32px;
	height:32px;
	line-height:32px;
}
.card-designation.height58{
	padding-top:10px;
	height:58px;
}
.popup-small .btn-row .btn-gray{
	display:inline-block;
}
.rejected-description .vertical-scrollbox{
	overflow: hidden;
}
.rejected-description .vertical-scrollbox:hover{
	overflow:auto;
}
.rejected-description .text-cell{
	margin-bottom:2px;
	color: #adadad;
} 
.rejected-description .title-sub-12{
	margin-bottom:2px;
}
.rejected-description .title-sub{
	font-size: 12px;
	margin-bottom: 0;
	padding: 0px;
	line-height: normal;
	color: #adadad;
}
.approval-history-table .table-td01{
	width:150px;
}
.approval-history-table .table-td02{
	width:80px;
}
.approval-history-table .table-td03{
	width:190px;
	word-break: break-all;
}
.approval-history-table .table-td04{
	width:120px;
}
.approval-history-table .table-td05{
	width:110px;
}
.approval-history-table .table-td06{
	width:240px;
}
.approval-history-table .document-table thead th{
	vertical-align: top !important;	
}
.feedback-row{
	margin-bottom:15px;
}
.feedback-row .comments-label{
	margin-bottom:4px;
	display:block;
}
.feedback-row .form-control{
	background-color:#fff;
}
.feedback-checkbox-bp{
	padding:20px 0 20px 0;
}
.table-data-02{
	width:50%;
	float:left;
	border-right: 2px solid #e3e3e3;
	height:50px;
	padding:7px 0 0 0px;
	margin-top:-7px;
}
.table-data-last02{
	padding:7px 0px 0 10px;
	border-right: 0px; 	
}
.widht60{
	width:60%;
}
.minHeight168{
	min-height: 168px;
}
.historyChatsSection .tooltip-container{
	top: 46px;
	text-transform: inherit;
}




 
