@media print
{
    *, :before, :after {       
        color: unset !important;
      }
.image-block {
  
    width:35px;
	height:35px;
	border-radius:50%;
	float:left;
	background:#e3e3e3;
	margin-right:10px;	
    overflow:hidden;
    display: block !important;
}
.image-block-inner{
    -webkit-print-color-adjust: exact; 
	display:table-cell;
	text-align:center;
	font-family:'DIN Bold';
	font-size:16px;
	text-transform:uppercase;
    vertical-align:middle;
	width:35px;
    height:35px;
    background: grey !important;
}
.candidate-detail-top {
	padding:10px 15px 8px;	
}
.candidate-detail-top .image-block{
	width:50px;
	height:50px;
	margin-right:20px;
}
.candidate-detail-top .image-block .image-block-inner{
	width:50px;
	height:50px;
}
.candidate-detail-card .card-block-inner {
	margin:0px;
	-webkit-box-shadow:0 2px 3px 0 rgba(0, 0, 0, 0.1);
			box-shadow:0 2px 3px 0 rgba(0, 0, 0, 0.1);
}



.layout-main .site-width{
    background: #e3e3e3 !important;
}

.card-block-inner{
    background-color: #fff !important; 
}
.panel-heading{
    background-color: #f5f5f5 !important;
}
.panel-body{
    background: #fff !important;
}

.panel-open-printView{
    background-color: #fff !important;
}

/* alt-internship-experiences, alt-languages{
    display: none !important;
} */
a[href]:after {
    display: none;
    visibility: hidden;
 }

 .print-displayNone{
    display: none !important;
 }
 .c100-background-color:after{
	background-color:#e3e3e3 !important;
}
.content-PrintView{
    padding: unset !important;
    width: 100% !important;
    max-width: unset !important;
}

.mat-tab-section-PrintView{
    padding-top: unset !important;
}
.tag-job{
    background-color: #f4f4f4 !important;
}
.candidate-tab-detail-block .card-block-inner{
    background-color: #c7c7c7 !important
}
.panel-title{
    color: #a8407f !important;
}


.star-rating-block .mdi{
    color: #fff !important;
}
.star-rating-block .star-rating{
    color: #000000 !important;
}

.printView-last-li{
border-width: 0px !important;
}
.table.document-table tbody td{
    background-color: #f5f5f5 !important;
}
.layout-right-sidebar .main-container {
    display: block;
}
 @page 
    {
        size:  auto;   /* auto is the initial value */
        margin: 3mm;  /* this affects the margin in the printer settings */
    }

.table-responsive-outer .table-responsive {
        float: none !important;
        display: inline-block !important;
        vertical-align: top!important;
    }
}