.switch-app-holder {
	display:inline-block;
	position:relative;
	float:left;
	width:60px;
	height:75px;
	max-height:75px;
	margin-right:10px;
	padding:27px 20px;
	margin-left:-20px;
	z-index: 1001;
	/*transition: all 0.5s ease;*/
}	
.switch-app-holder .switch-app-icon {
	display:inline-block;
	cursor:pointer;
	font-size:30px;
	margin:-5px 0 0 -5px;
}
.switch-app-holder.open {
	background:#fff;
	box-shadow: 0 -2px 6px 0 rgba(0, 0, 0, 0.18);
}
.switch-apps-dropdown:after {
	content:'';
	display:block;
	width:60px;
	height:10px;
	background:#fff;
	position:absolute;
	top:0;
	left:0px;
	margin-top:-5px;
	z-index:4;
}
.switch-apps-dropdown {
	display:none;
	position:absolute;
	top:100%;
	left:0px;
	width:235px;
	background:#fff;
	border-radius:5px;
	box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.18);
	border-top-left-radius:0px;
	z-index:3;	
	padding:20px;
	transition: all 0.5s ease;
}
.switch-app-holder.open .switch-apps-dropdown {
	display:block;
}
.dropapp-title-outer {
	display:block;
	margin-bottom:10px;
	position:relative;
}
.dropapp-title-outer .dropapp-title-inner {
	display:inline-flex;
	background:#fff;
	padding-left:10px;
	padding-right:5px;
	padding-top:10px;
	align-items:center;
	font-size:14px;
	color:#a8407f;
	font-family:'DIN Medium';
}
.dropapp-title-inner .altapps-icon {
	width:27px;
	height:23px;
	display:inline-block;
	margin-right:10px;
}
.dropapp-title-inner .partnerapp-icon {
	width:27px;
	height:23px;
	display:inline-block;
	margin-right:10px;
}
.switch-apps {
	margin:-10px;
	padding:0px;
	list-style:none;
}
.switch-apps li {
	display:inline-block;
	padding:10px;
}
.switch-apps li .switchapps_outer{
	width: 86px;
  	height: 86px;
	display:block;
	align-items:top;
	border-radius: 4px;
	cursor: pointer;
  	background-color: #f8f8f8;
  	box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.3);
}
.switchapps_inner {
	display:block;
	width:100%;
}
.switchapps_inner .apps_iconholder {
	width:86px;
	height:60px;
	display:flex;
	align-items:center;
}
.switchapps_inner .apps_iconholder img {
	max-height:40px;
	max-width:40px;
}
.app_text {
	text-align:center;
	color:#494949;
	padding:0 5px;
	width:86px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	font-size:11px;
}
.switch-apps li .switchapps_outer:hover, .switch-apps li .switchapps_outer.active {
	background-color: #fff;
	box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.7);
}
.switch-apps li .switchapps_outer img {
	border:none;
	margin:0 auto;
}
.drop-more-row {
	display:block;
	padding:10px 28px 5px;
	text-align:right;
	text-transform:uppercase;
}
.drop-more-row .btn-link {
	font-size:12px;
	font-family:'DIN Medium';
}

/********** landing page css ************/
.col-5 {
	width:20%;
}
.card-sm-inner {
    background-color: #fff;
    border-radius: 5px;
    margin: 20px;
    margin: 10px 20px;
    position: relative;
	display:block;
	overflow:hidden;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}
.apps_icon-holder {
	display:flex;
	height:150px;
	align-items:center;
	justify-content:center;
}
.app-list .card-sm-inner {
	height:200px;
}
.app-hover-view {
	display:flex;
	position:absolute;
	z-index:2;
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	background:rgba(0, 0, 0, 0.3);
	align-items:center;
	justify-content:center;
	opacity:0;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
}
.app-list .card-sm-inner:hover .app-hover-view {
	opacity:1
}
.app-hover-view a {
	clear:both;
}
.apphover-view-inner {
	display:inline-block;
	width:130px;
}
.apphover-view-inner a {
	display:inline-block;
}
.apphover-view-inner a + a {
	margin-top:10px;
}
.app-name {
	padding:0 10px;
	font-size:16px;
	font-family:'DIN Medium';
	color:#494949;
	display:flex;
	align-items:center;
	justify-content:center;
	height:50px;
	position:absolute;
	bottom:0px;
	left:0px;
	right:0px;
	background:#eee;
	border-top:solid 1px #ccc;
}
.card-category:after, .card-category:before {
	content:'';
	display:table;
	clear:both;
	visibility:hidden;
	
}
.card-category {
	display:block;
	padding:20px 20px 8px;
	font-family:'DIN Medium';
	font-size:16px;
}
.app-list .card-sm-inner:hover {
	background-color: #eee;
}
.webapps-icon {
	display:inline-block;
	float:left;
	width:25px;
	height:25px;
	margin-right:10px;
}
.mobileapps-icon {
	display:inline-block;
	float:left;
	width:25px;
	height:25px;
	margin-right:10px;
}
@media screen and (max-width:1040px) {
	.creat-job-btn-outer{
		padding-left:0px!important;
	}
}

@media screen and (max-width:1023px) {
	.switch-app-holder {
		float: right;
		margin-right:-20px;
		padding-top:28px;
		padding-bottom:0px;
		margin-left:0px;
		margin-top:0px;
	}
	.switch-apps-dropdown {
		left:inherit;
		right:0px;
		border-top-left-radius: 5px;
	}
	.switch-apps-dropdown::after {
		left:inherit;
		right:0px;
	}
}
@media screen and (max-width:767px) {
	.switch-apps-dropdown:after {
		right:0px;
	}
	.switch-app-holder {
		height:56px;
		max-height: 75px;
		padding-top:20px;
		margin-top:0px;
		margin-right:-15px;
	}
	.switch-app-holder .switch-apps-dropdown{
		display:block;
		right:-260px;
	}
	.switch-app-holder.open .switch-apps-dropdown{
		display:block;
		right:0px;
		border-bottom-right-radius:0px;
	}
}