<alt-candidate-draft-blank-screen *ngIf="loaderIndicator == 'nodata'"></alt-candidate-draft-blank-screen>
<div *ngIf="loaderIndicator == 'data' || loaderIndicator == 'loader'">
    <div class="main-title-row">
        <h1 class="main-title text-uppercase">{{'candidate.list.draftCandidates' | translate}} </h1>
    </div>
    <!-- Section filter -->
    <div class="section-filter">
        <div class="section-filter-inner filter-one">
            <ul class="list-reset clearfix">
                <li class="sort-by-block {{filterDropDown2?'':'filter-open'}}">
                    <label class="filter-cell" (click)="toggleFilter2();$event.stopPropagation()">
                        <span class="icon-filter sort-mobile"></span>
                        <span class="text-filter">{{'common.label.sortBy' | translate}} </span>
                        <span class="mdi mdi-chevron-down md24 mobile-only"></span>
                    </label>
                    <ul class="list-reset dropdown-block">
                        <li class="dropdown" [class.open]="filtterToggle">
                            <a href="JavaScript:Void(0);" class="dropdown-button" (click)="filtterToggleClick()" (clickToClose)="filtterToggleClosed()">
                                <span class="text-dropdown">{{currentSortOrder}}</span>
                                <span class="mdi mdi-chevron-down md24"></span>
                            </a>
                            <ul class="list-reset dropdown-1  dropdown-150 dropdown-style" *ngIf="filtterToggle">
                                <li class="{{filterTO.sortBy+filterTO.sortOrder=='createdDateasc'?'active':''}}">
                                    <a href="javascript:void(0)" (click)="sort('createdDate', 'asc')">{{'common.label.createdFirstToLast' | translate}}</a>
                                </li>
                                <li class="{{filterTO.sortBy+filterTO.sortOrder=='createdDatedesc'?'active':''}}">
                                    <a href="javascript:void(0)" (click)="sort('createdDate', 'desc')">{{'common.label.createdLastToFirst' | translate}}</a>
                                </li>
                                <li class="{{filterTO.sortBy+filterTO.sortOrder=='modifiedDateasc'?'active':''}}">
                                    <a href="javascript:void(0)" (click)="sort('modifiedDate', 'asc')">{{'common.label.modifiedFirstToLast' | translate}}</a>
                                </li>
                                <li class="{{filterTO.sortBy+filterTO.sortOrder=='modifiedDatedesc'?'active':''}}">
                                    <a href="javascript:void(0)" (click)="sort('modifiedDate', 'desc')">{{'common.label.modifiedLastToFirst' | translate}}</a>
                                </li>
                                <li class="{{filterTO.sortBy+filterTO.sortOrder=='firstNameasc'?'active':''}}">
                                    <a href="javascript:void(0)" (click)="sort('firstName', 'asc')">Alphabetically A to Z</a>
                                </li>
                                <li class="{{filterTO.sortBy+filterTO.sortOrder=='firstNamedesc'?'active':''}}">
                                    <a href="javascript:void(0)" (click)="sort('firstName', 'desc')">Alphabetically Z to A</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <!-- \\ End Section filter -->
    <div class="jobs-listing clearfix">
        <div class="row">
            <div class="card-block card-3 search-block-section">
                <div class="card-block-inner card-bg-none">
                    <div class="input-group search-block" [formGroup]="queryFormGroup">
                        <input class="form-control" formControlName="query" placeholder="{{'candidate.list.searchCandidate' | translate}}" />
                        <span class="input-group-btn">
                            <button class="btn material-icons dp20" type="submit">search</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="card-block card-3 card-bulk-actions">
                <div class="card-block-inner card-bg-none clearfix">
                    <div class="select-all-btn col-2">
                        <div class="select-all-btn-inner">
                            <div class="checkbox checkbox-inline">
                                <input type="checkbox" [(ngModel)]="selectAll" (change)="allSelectEvent()" class="styled" id="select" />
                                <label for="select" class="custome-label"> {{'common.label.selectAll' | translate}} </label>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown dropdown-outer-2 col-2" [class.open]="isToggled">
                        <a href="JavaScript:Void(0);" class="bulk-actions" (click)="toggleClick()" (clickToClose)="toggleClickClosed()">
                            <span class="text-dropdown">{{'common.label.bulkActions' | translate}} </span>
                            <span class="mdi mdi-chevron-down md24"></span>
                        </a>
                        <ul class="list-reset dropdown-10 dropdown-style" *ngIf="isToggled">
                            <li>
                                <a (click)="deleteAll();" href="javascript:void" gaevent="ContextMenu#Bulk Delete All#click">{{'common.label.deleteAll' | translate}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <loader-indicator *ngIf="loaderIndicator == 'loader'"></loader-indicator>
        <!--  Section Card-->
        <div *ngIf="loaderIndicator == 'data'">
            <div class="table table-striped">
                <div class="row pagination-mobile">
                    <alt-paginator #PAGINATIONTOP [srcTag]="'PAGINATIONTOP'" (clickToClose)="PAGINATIONTOP.toggleClose()" [rowsPerPageTemplate]="'15,30,45'" [pageState]="pageState" [pageLoading]="pageLoading" (pageChange)="getPageNumber($event)"
                        *ngIf="data?.length > 0">{{'common.label.loading' | translate}}...</alt-paginator>
                </div>
                <div class="section-card clearfix">
                    <div class="title-lg padding-t50" *ngIf="data?.length <= 0">{{'common.label.noDataAvailable' | translate}}</div>
                    <!-- Card Block -->
                    <div class="card-block card-3 card-candidate-drafts" *ngFor="let item of data; let i=index;">
                        <div class="card-block-inner">
                            <div class="card-top card-row clearfix">
                                <div class="check-box checkbox">
                                    <input type="checkbox" [(ngModel)]="item.selected" [checked]="item.selected" class="styled" (change)="singleSelectEvent(item)">
                                    <label></label>
                                </div>
                                <!--popup delete-->
                                <div class="job-option">
                                    <a href="javascript:void(0)" class="popup-small-click" (click)="item.isClassVisible = !item.isClassVisible;">
                                        <span class="menu-click material-icons delete-icon">delete</span>
                                    </a>
                                    <div class="{{displayClass}}" [ngClass]="{'openmodal': item.isClassVisible}">
                                        <div class="module-true displayBlock" (click)="item.isClassVisible = !item.isClassVisible;"></div>
                                        <div class="popup-small {{displayClass}}" [ngClass]="{'openmodal': item.isClassVisible }">
                                            <div class="popup-top clearfix">
                                                <span class="material-icons close" (click)="item.isClassVisible = !item.isClassVisible;">close</span>
                                                <h2 class="title">{{'candidate.list.draftCandidateDeleteConfirmation' | translate}} </h2>
                                            </div>
                                            <div class="btn-row fl-right">
                                                <button class="btn btn-gray" (click)="item.isClassVisible = !item.isClassVisible;">{{'common.label.no' | translate}}</button>
                                                <button class="btn btn-primary" (click)='item.isClassVisible = !item.isClassVisible; deleteDraftCandidate(item.candidateID, i, item);'>{{'common.label.yes' | translate}}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End popup delete-->
                            </div>
                            <div class="card-row card-name-row">
                                <div class="image-block" *ngIf="item.profileImage !=null">
                                    <img src="{{item.profileImage}}" alt="profile img" />
                                </div>
                                <div class="image-block" *ngIf=" item.profileImage ==null" [style.background]="randomcolor[i]">
                                    <span class="image-block-inner">{{(item.firstName!=null && item.firstName!=''? item.firstName.charAt(0): '')+(item.lastName!=null
                                        && item.lastName!=''? item.lastName.charAt(0): '') | uppercase}}</span>
                                </div>
                                <!--<span class="material-icons flag-icon">flag</span>-->
                                <div class="title-cell">
                                    <h3 class="title" *ngIf="(getLength(item.firstName)+getLength(item.middleName)+getLength(item.lastName))<=20">{{item.firstName | lowercasepipe}} {{item.middleName | lowercasepipe}} {{item.lastName | lowercasepipe}}</h3>
                                    <h3 class="title text-nowrap-grad-white" matTooltip="{{item.firstName}} {{item.middleName}} {{item.lastName}}" *ngIf="(getLength(item.firstName)+getLength(item.middleName)+getLength(item.lastName))>20">{{item.firstName | lowercasepipe}} {{item.middleName | lowercasepipe}} {{item.lastName | lowercasepipe}}</h3>
                                    <ul class="list-reset listing-inline">
                                        <li class="text-uppercase">{{item.candidateCode}}</li>
                                        <li class="last-child" *ngIf="item.city != null && item.city.length <= 45">{{item.city.toLowerCase()}}</li>
                                        <li class="last-child" matTooltip="{{item.city}}" *ngIf="item.city != null && item.city.length > 45">{{item.city.toLowerCase() | stringTrim:45}}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-row card-designation-small" *ngIf="item.requisitionID > 0">
                                <span class="job-status {{getJobStatusClass(item.jobStatus.toUpperCase())}}"></span>
                                <div class="common-cell">
                                    <span class="name-cell font-bold text-nowrap-grad-white" matTooltip="{{item.jobTitle}}" *ngIf="item.jobTitle != null && item.jobTitle.length > 40">{{item.jobTitle | lowercasepipe}}</span>
                                    <span class="name-cell font-bold" *ngIf="item.jobTitle != null && item.jobTitle.length <= 40">{{item.jobTitle | lowercasepipe}}</span>
                                    <span class="job-code text-uppercase">{{item.jobCode}}</span>
                                </div>
                            </div>
                            <div class="card-row card-profile-row clearfix">
                                <div class="profile-completed">
                                    <div class="profile-graph">
                                        <!--<div class="c100 {{item.percentClass}}">-->
                                        <div class="c100 p{{item.profileCompletion}}">
                                            <div class="slice">
                                                <div class="bar"></div>
                                                <div class="fill"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="profile-graph-details">
                                        <span class="profile-percent">{{item.profileCompletion}}%</span>
                                        <span class="text-cell">{{ 'candidate.candidate_overview.profileComplete' | translate}}</span>
                                    </div>
                                </div>
                                <ng-container *ngIf="automatchEnabled">
                                    <div class="profile-match" *ngIf="item.jobTitle != null">
                                        <div class="profile-graph">
                                            <div class="c100 p12 green">
                                                <div class="slice">
                                                    <div class="bar"></div>
                                                    <div class="fill"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="profile-graph-details">
                                            <span class="profile-percent">12%</span>
                                            <span class="text-cell"></span>
                                        </div>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="!automatchEnabled">
                                    <div class="profile-graph">
                                        <div class="c100 p0 green">
                                            <div class="slice">
                                                <div class="bar"></div>
                                                <div class="fill"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="profile-graph-details">
                                        <span class="profile-percent">%</span>
                                        <span class="text-cell">{{'common.label.match' | translate}}</span>
                                    </div>
                                </ng-container>
                            </div>                           
                            <div class="card-row source-row clearfix">
                                <span class="rounded-block color-logo-gray margin-r15">
                                    <img *ngIf="item.sourceType != null && item.sourceType.toLowerCase() == 'recruiter'" src="./assets/images/svg/recruiter.svg"
                                        alt="recruiter">
                                    <img *ngIf="item.sourceType != null && item.sourceType.toLowerCase() == 'vendor'" src="./assets/images/svg/vendor.svg" alt="vendor">
                                    <img *ngIf="item.sourceType != null && item.sourceType.toLowerCase() == 'candidate'" src="./assets/images/svg/candidate.svg"
                                        alt="candidate">
                                    <img *ngIf="item.sourceType != null && item.sourceType.toLowerCase() == 'walk-in'" src="./assets/images/svg/walk_in.svg"
                                        alt="walk-in">
                                    <img *ngIf="item.sourceType != null && item.sourceType.toLowerCase() == 'employee referral'" src="./assets/images/svg/employee_referal.svg"
                                        alt="Employee Referal">
                                    <img *ngIf="item.sourceType != null && item.sourceType.toLowerCase() == 'confirmation'" src="./assets/images/svg/confirmation.svg"
                                        alt="confirmation">
                                    <img *ngIf="item.sourceType != null && item.sourceType.toLowerCase() == 'ijp referral'" src="./assets/images/svg/ijp.svg"
                                        alt="ijp">
                                    <img *ngIf="item.sourceType != null && item.sourceType.toLowerCase() == 'social media'" src="./assets/images/svg/social_media.svg"
                                        alt="social media">
                                    <img *ngIf="item.sourceType != null && item.sourceType.toLowerCase() == 'shine'" src="./assets/images/svg/shine_job.svg"
                                        alt="Shine">
                                    <img *ngIf="item.sourceType != null && item.sourceType.toLowerCase() == 'monster'" src="./assets/images/svg/monster_job.svg"
                                        alt="Monster">
                                </span>
                                <div class="description-cell-source">
                                    <span class="text-cell">{{'common.label.source' | translate}}</span>
                                    <span class="text-bold-cell text-nowrap-grad-white" matTooltip="{{item.sourceType}}" *ngIf="item.sourceType != null && item.sourceType.length > 12">{{item.sourceType}}</span>
                                    <span class="text-bold-cell" *ngIf="item.sourceType != null && item.sourceType.length <= 12">{{item.sourceType}}</span>
                                </div>
                                <div class="description-cell-source-name">
                                    <span class="text-cell">Source Code/Name</span>
                                    <!--<span class="text-bold-cell" matTooltip="{{item.sourceName}}" *ngIf="item.sourceName != null && item.sourceName.length > 5">{{item.sourceName}}</span>
                                    <span class="text-bold-cell" *ngIf="item.sourceName == null || item.sourceName.trim() == ''">{{item.sourceName}}</span>-->
                                    <span class="text-bold-cell text-nowrap-grad-white" *ngIf="item.subSourceUserName!=null" matTooltip="{{item.subSourceUserName}}">{{item.subSourceUserName}}</span>
                                    <span class="text-bold-cell text-nowrap-grad-white" *ngIf="item.subSourceUserName==null">{{'common.label.na' | translate}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="btn-row mrg-lf-20">
                            <a href="javascript:void" [gaRouterLink]="['/candidate/newcandidate', item.candidateCode | formatCandidatecodeParam]" class="btn btn-gray popup-small-click" gaevent="DraftCandidate#Edit Draft#click">{{ 'candidate.list.editDraft' | translate}}</a>
                            <!-- Popup Small -->
                            <div class="popup-small">
                                <div class="popup-top clearfix">
                                    <span class="material-icons close">close</span>
                                    <h2 class="title">{{ 'candidate.list.tagMoveCopyCaddidate' | translate}} </h2>
                                </div>
                                <div class="popup-small-inner clearfix">
                                    <div class="input-group search-block">
                                        <input type="text" class="form-control" id="HiringSssearch" placeholder="Search candidate name or code..." />
                                        <span class="input-group-btn">
                                            <button class="btn material-icons dp20" type="submit">search</button>
                                        </span>
                                    </div>
                                    <div class="listing-popup-block vertical-scrollbox">
                                        <ul class="list-reset listing-popup">
                                            <li>
                                                <div class="checkbox checkbox-inline">
                                                    <input class="styled" id="senior1" value="option1" type="checkbox">
                                                    <label for="senior1" class="name-cell font-bold">
                                                        <span class="job-status job-accepted"></span>
                                                        <span class="text-nowrap-grad">Senior Consultant Technology</span>
                                                    </label>
                                                    <span class="job-code">JobCode/0000/Konat</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="checkbox checkbox-inline">
                                                    <input class="styled" id="senior2" value="option1" type="checkbox">
                                                    <label for="senior2" class="name-cell font-bold">
                                                        <span class="job-status job-accepted"></span>
                                                        <span class="text-nowrap-grad">Senior Consultant Technology</span>
                                                    </label>
                                                    <span class="job-code">JobCode/0000/Konat</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="checkbox checkbox-inline">
                                                    <input class="styled" id="senior3" value="option1" type="checkbox">
                                                    <label for="senior3" class="name-cell font-bold">
                                                        <span class="job-status job-accepted"></span>
                                                        <span class="text-nowrap-grad">Senior Consultant Technology</span>
                                                    </label>
                                                    <span class="job-code">JobCode/0000/Konat</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="checkbox checkbox-inline">
                                                    <input class="styled" id="senior4" value="option1" type="checkbox">
                                                    <label for="senior4" class="name-cell font-bold">
                                                        <span class="job-status job-accepted"></span>
                                                        <span class="text-nowrap-grad">Senior Consultant Technology</span>
                                                    </label>
                                                    <span class="job-code">JobCode/0000/Konat</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="checkbox checkbox-inline">
                                                    <input class="styled" id="senior5" value="option1" type="checkbox">
                                                    <label for="senior5" class="name-cell font-bold">
                                                        <span class="job-status job-accepted"></span>
                                                        <span class="text-nowrap-grad">Senior Consultant Technology</span>
                                                    </label>
                                                    <span class="job-code">JobCode/0000/Konat</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="checkbox checkbox-inline">
                                                    <input class="styled" id="senior6" value="option1" type="checkbox">
                                                    <label for="senior6" class="name-cell font-bold">
                                                        <span class="job-status job-accepted"></span>
                                                        <span class="text-nowrap-grad">Senior Consultant Technology</span>
                                                    </label>
                                                    <span class="job-code">JobCode/0000/Konat</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="checkbox checkbox-inline">
                                                    <input class="styled" id="senior7" value="option1" type="checkbox">
                                                    <label for="senior7" class="name-cell font-bold">
                                                        <span class="job-status job-accepted"></span>
                                                        <span class="text-nowrap-grad">Senior Consultant Technology</span>
                                                    </label>
                                                    <span class="job-code">JobCode/0000/Konat</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="checkbox checkbox-inline">
                                                    <input class="styled" id="senior8" value="option1" type="checkbox">
                                                    <label for="senior8" class="name-cell font-bold">
                                                        <span class="job-status job-accepted"></span>
                                                        <span class="text-nowrap-grad">Senior Consultant Technology Mana</span>
                                                    </label>
                                                    <span class="job-code">JobCode/0000/Konat</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="btn-row fl-right">
                                    <a href="javascript:void(0)" class="btn btn-white">{{'common.label.cancel' | translate}}</a>
                                    <a href="javascript:void(0)" class="btn btn-primary">{{'common.label.edit' | translate}}</a>
                                </div>
                            </div>
                            <!-- \\ End Popup Small-->
                        </div>
                        <!-- \\ End Card Block -->
                    </div>
                    <!-- \\ End Card Block -->
                </div>
                <!--  Section Pagination-->
                <div class="pagination-mobile">
                    <div class="section-pagination pagination-bottom clearfix">
                        <alt-paginator #PAGINATIONBOT [srcTag]="'PAGINATIONBOT'" (clickToClose)="PAGINATIONBOT.toggleClose()" [rowsPerPageTemplate]="'15,30,45'" [pageState]="pageState" [pageLoading]="pageLoading" (pageChange)="getPageNumber($event)"
                            *ngIf="data?.length > 0">{{'common.label.loading' | translate}}...</alt-paginator>
                    </div>
                </div>
                <!-- \\ End Section Pagination-->
            </div>
        </div>
        <!-- \\ End Section Card-->
    </div>
</div>