<!-- Card Block -->
<div class="card-block card-flip card-4 card-block-loader">
    <!-- Flip Card Front -->
    <div class="front card-flip-block">
        <div class="card-block-inner clearfix">
            <div class="card-flip-top clearfix">
                <span class="home-icons loading-line"></span>
            </div>
            <div class="card-flip-middle width-200px">
                <div class="loading-line width-70"></div>
                <div class="loading-line width-60"></div>
                <div class="loading-line width-90"></div>
                <div class="loading-line width-50"></div>
                <div class="loading-line width-65 margin-bot-none"></div>
                <ul class="list-reset clearfix listing-inline">
                    <li class="loading-line width-85 pull-left"></li>
                </ul>
            </div>
            <div class="card-flip-bottom">
                <a href="javascript:void(0)" class="btn btn-white">
                    <div class="loading-line width-100px"></div>
                </a>
            </div>
        </div>
    </div>
    <!-- \\ End Flip Card Front -->
</div>
<!-- \\ End Card Block -->
<!-- Card Block -->
<div class="card-block card-flip card-4 card-block-loader">
    <!-- Flip Card Front -->
    <div class="front card-flip-block">
        <div class="card-block-inner clearfix">
            <div class="card-flip-top clearfix">
                <span class="home-icons loading-line"></span>
            </div>
            <div class="card-flip-middle width-200px">
                <div class="loading-line width-70"></div>
                <div class="loading-line width-60"></div>
                <div class="loading-line width-90"></div>
                <div class="loading-line width-50"></div>
                <div class="loading-line width-65 margin-bot-none"></div>
                <ul class="list-reset clearfix listing-inline">
                    <li class="loading-line width-85 pull-left"></li>
                </ul>
            </div>
            <div class="card-flip-bottom">
                <a href="javascript:void(0)" class="btn btn-white">
                    <div class="loading-line width-100px"></div>
                </a>
            </div>
        </div>
    </div>
    <!-- \\ End Flip Card Front -->
</div>
<!-- \\ End Card Block -->
<!-- Card Block -->
<div class="card-block card-flip card-4 card-block-loader">
    <!-- Flip Card Front -->
    <div class="front card-flip-block">
        <div class="card-block-inner clearfix">
            <div class="card-flip-top clearfix">
                <span class="home-icons loading-line"></span>
            </div>
            <div class="card-flip-middle width-200px">
                <div class="loading-line width-70"></div>
                <div class="loading-line width-60"></div>
                <div class="loading-line width-90"></div>
                <div class="loading-line width-50"></div>
                <div class="loading-line width-65 margin-bot-none"></div>
                <ul class="list-reset clearfix listing-inline">
                    <li class="loading-line width-85 pull-left"></li>
                </ul>
            </div>
            <div class="card-flip-bottom">
                <a href="javascript:void(0)" class="btn btn-white">
                    <div class="loading-line width-100px"></div>
                </a>
            </div>
        </div>
    </div>
    <!-- \\ End Flip Card Front -->
</div>
<!-- \\ End Card Block -->
<!-- Card Block -->
<div class="card-block card-flip card-4 card-block-loader">
    <!-- Flip Card Front -->
    <div class="front card-flip-block">
        <div class="card-block-inner clearfix">
            <div class="card-flip-top clearfix">
                <span class="home-icons loading-line"></span>
            </div>
            <div class="card-flip-middle width-200px">
                <div class="loading-line width-70"></div>
                <div class="loading-line width-60"></div>
                <div class="loading-line width-90"></div>
                <div class="loading-line width-50"></div>
                <div class="loading-line width-65 margin-bot-none"></div>
                <ul class="list-reset clearfix listing-inline">
                    <li class="loading-line width-85 pull-left"></li>
                </ul>
            </div>
            <div class="card-flip-bottom">
                <a href="javascript:void(0)" class="btn btn-white">
                    <div class="loading-line width-100px"></div>
                </a>
            </div>
        </div>
    </div>
    <!-- \\ End Flip Card Front -->
</div>
<!-- \\ End Card Block -->
<!-- Card Block -->
<div class="card-block card-flip card-4 card-block-loader">
    <!-- Flip Card Front -->
    <div class="front card-flip-block">
        <div class="card-block-inner clearfix">
            <div class="card-flip-top clearfix">
                <span class="home-icons loading-line"></span>
            </div>
            <div class="card-flip-middle width-200px">
                <div class="loading-line width-70"></div>
                <div class="loading-line width-60"></div>
                <div class="loading-line width-90"></div>
                <div class="loading-line width-50"></div>
                <div class="loading-line width-65 margin-bot-none"></div>
                <ul class="list-reset clearfix listing-inline">
                    <li class="loading-line width-85 pull-left"></li>
                </ul>
            </div>
            <div class="card-flip-bottom">
                <a href="javascript:void(0)" class="btn btn-white">
                    <div class="loading-line width-100px"></div>
                </a>
            </div>
        </div>
    </div>
    <!-- \\ End Flip Card Front -->
</div>
<!-- \\ End Card Block -->
<!-- Card Block -->
<div class="card-block card-flip card-4 card-block-loader">
    <!-- Flip Card Front -->
    <div class="front card-flip-block">
        <div class="card-block-inner clearfix">
            <div class="card-flip-top clearfix">
                <span class="home-icons loading-line"></span>
            </div>
            <div class="card-flip-middle width-200px">
                <div class="loading-line width-70"></div>
                <div class="loading-line width-60"></div>
                <div class="loading-line width-90"></div>
                <div class="loading-line width-50"></div>
                <div class="loading-line width-65 margin-bot-none"></div>
                <ul class="list-reset clearfix listing-inline">
                    <li class="loading-line width-85 pull-left"></li>
                </ul>
            </div>
            <div class="card-flip-bottom">
                <a href="javascript:void(0)" class="btn btn-white">
                    <div class="loading-line width-100px"></div>
                </a>
            </div>
        </div>
    </div>
    <!-- \\ End Flip Card Front -->
</div>
<!-- \\ End Card Block -->
<!-- Card Block -->
<div class="card-block card-flip card-4 card-block-loader">
    <!-- Flip Card Front -->
    <div class="front card-flip-block">
        <div class="card-block-inner clearfix">
            <div class="card-flip-top clearfix">
                <span class="home-icons loading-line"></span>
            </div>
            <div class="card-flip-middle width-200px">
                <div class="loading-line width-70"></div>
                <div class="loading-line width-60"></div>
                <div class="loading-line width-90"></div>
                <div class="loading-line width-50"></div>
                <div class="loading-line width-65 margin-bot-none"></div>
                <ul class="list-reset clearfix listing-inline">
                    <li class="loading-line width-85 pull-left"></li>
                </ul>
            </div>
            <div class="card-flip-bottom">
                <a href="javascript:void(0)" class="btn btn-white">
                    <div class="loading-line width-100px"></div>
                </a>
            </div>
        </div>
    </div>
    <!-- \\ End Flip Card Front -->
</div>
<!-- \\ End Card Block -->