<div class="card-block card-3 card-candidate-tagged">
  <div class="card-block-inner">
    <div class="card-top card-row clearfix">
      <div class="check-box checkbox">
        <input type="checkbox" [(ngModel)]="taggedCandidate.selected" [checked]="taggedCandidate.selected" class="styled" (change)="singleSelectEvent(taggedCandidate)">
        <label></label>
      </div>
      <div class="job-option">
        <a href="javascript:void(0)" class="menu-click">
          <span class="material-icons more-icon">more_vert</span>
        </a>
        <!-- Menu style -->
        <div class="menu-style menu-style-2">
          <span class="material-icons close">close</span>
          <ul class="list-reset dropdown-menu">
            <li>
              <ul class="list-reset change-job-status">
                <li class="divider"></li>
                <li class="heading">Change Job Status</li>
                <li class="active">
                  <a href="#">
                    <span class="job-status job-active"></span>Active</a>
                </li>
                <li>
                  <a href="#">
                    <span class="job-status job-close"></span>Close</a>
                </li>
                <li>
                  <a href="#">
                    <span class="job-status job-pending"></span>Approval Pending</a>
                </li>
                <li>
                  <a href="#">
                    <span class="job-status job-hold"></span>On Hold</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- \\ End Menu style -->
      </div>
    </div>
    <div class="card-row card-name-row">
      <div class="image-block">
        <img src="{{taggedCandidate.profileImage}}" (error)="taggedCandidate.profileImage=null" *ngIf="taggedCandidate.profileImage!=null"
        />
        <span class="initials-text" *ngIf="taggedCandidate.profileImage==null" [style.background]="randomcolor">{{(taggedCandidate.firstName!=null && taggedCandidate.firstName!=''? taggedCandidate.firstName.charAt(0): '')+(taggedCandidate.lastName!=null
          && taggedCandidate.lastName!=''? taggedCandidate.lastName.charAt(0): '') | uppercase}}</span>
      </div>
      <span class="material-icons flag-icon">flag</span>
      <div class="title-cell">
        <h3 class="title" *ngIf="(taggedCandidate.firstName+taggedCandidate.middleName+taggedCandidate.lastName).length<=22">
            <a class="link" [routerLink]="['/candidate/edit-candidate',taggedCandidate.candidateCode | formatCandidatecodeParam]">
              {{taggedCandidate.firstName | lowercasepipe}} {{taggedCandidate.middleName | lowercasepipe}} {{taggedCandidate.lastName | lowercasepipe}}
            </a>
        </h3>
        <h3 class="title text-nowrap-grad-white" *ngIf="(taggedCandidate.firstName+taggedCandidate.middleName+taggedCandidate.lastName).length>22" matTooltip="{{taggedCandidate.firstName}} {{taggedCandidate.middleName}} {{taggedCandidate.lastName}}">
            <a class="link" [routerLink]="['/candidate/edit-candidate',taggedCandidate.candidateCode | formatCandidatecodeParam]">
              {{taggedCandidate.firstName | lowercasepipe}} {{taggedCandidate.middleName | lowercasepipe}} {{taggedCandidate.lastName | lowercasepipe}}
            </a>
        </h3>
        <ul class="list-reset listing-inline">
            <li class="text-uppercase" *ngIf="taggedCandidate.candidateCode">{{taggedCandidate.candidateCode}}</li>                
            <li class="last-child" *ngIf="taggedCandidate.location != null && taggedCandidate.location.length <= 40">{{taggedCandidate.location.toLowerCase()}}</li>
            <li class="last-child" matTooltip="{{taggedCandidate.location}}" *ngIf="taggedCandidate.location != null && taggedCandidate.location.length > 40">{{taggedCandidate.location.toLowerCase() | stringTrim:40}}</li>
          </ul>
      </div>
    </div>
    <div class="card-row card-profile-row clearfix">
      <div class="profile-completed">
        <div class="profile-graph">
          <div class="c100 p{{taggedCandidate.profileCompletion}}">
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
        </div>
        <div class="profile-graph-details">
          <span class="profile-percent">{{taggedCandidate.profileCompletion}}%</span>
          <span class="text-cell">profile Complete</span>
        </div>
      </div>
      <ng-container *ngIf="featureDataMap.get('PERCENT_MATCH') == 1 || featureDataMap.get('PERCENT_MATCH') == 2" >
        <div class="profile-match">
          <div class="profile-graph" *ngIf="featureDataMap.get('PERCENT_MATCH') == 1 && ( taggedCandidate.profileMatch != null && taggedCandidate.profileMatch > 0)">
            <div class="c100 p{{taggedCandidate.profileMatch}} green">
                <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                </div>
            </div>
        </div>
        <div class="profile-graph" *ngIf="featureDataMap.get('PERCENT_MATCH') == 2 || (taggedCandidate.profileMatch == null || taggedCandidate.profileMatch == 0 )">
            <div class="c100 green">
                <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                </div>
            </div>
            <span *ngIf="featureDataMap.get('PERCENT_MATCH') == 1" class="profile-match-refresh material-icons" (click)="updateProfileMatch(taggedCandidate)">refresh</span>
        </div>
        <div class="profile-graph-details">
            <span *ngIf="featureDataMap.get('PERCENT_MATCH') == 1" class="profile-percent">{{taggedCandidate.profileMatch}}%</span>
            <span *ngIf="featureDataMap.get('PERCENT_MATCH') == 2"class="profile-percent">%</span>
            <span class="text-cell">match</span>
        </div>
        </div>
      </ng-container>
    </div>
    <div class="card-row ver-row clearfix">
      <div class="background-ver">{{taggedCandidate.stageName}} :
        <span class="pending org">{{taggedCandidate.stageStatus}}</span>
      </div>
      <div class="candidate-stages-bar-outer clearfix">
        <ul class="list-reset candidate-stages-bar" *ngIf="getWorkflowProgressBar(taggedCandidate.workflowID, taggedCandidate)">
          <ng-container *ngFor="let stage of taggedCandidate.stages; let i = index">
            <li [ngClass]="{'dot': true, 'green': i < indexOfStage(taggedCandidate.stageName, taggedCandidate.stages), 'org': taggedCandidate.stageName === stage }"
              matTooltip="{{stage}}"></li>
            <li class="bar" *ngIf="i != taggedCandidate.stages?.length"></li>
          </ng-container>
        </ul>
      </div>
    </div>
    <div class="card-row source-row clearfix">
      <span class="rounded-block margin-r15">
        <img *ngIf="taggedCandidate.sysSourceType == 'RECRUITER'" src="./assets/images/svg/recruiter.svg" alt="recruiter">
        <img *ngIf="taggedCandidate.sysSourceType == 'VENDOR'" src="./assets/images/svg/vendor.svg" alt="vendor">
        <img *ngIf="taggedCandidate.sysSourceType == 'CANDIDATE'" src="./assets/images/svg/candidate.svg" alt="candidate">
        <img *ngIf="taggedCandidate.sysSourceType == 'DIRECT'" src="./assets/images/svg/walk_in.svg" alt="walk-in">
        <img *ngIf="taggedCandidate.sysSourceType == 'EMPLOYEE REFERRAL'" src="./assets/images/svg/employee_referal.svg" alt="Employee Referal">
        <img *ngIf="taggedCandidate.sysSourceType == 'Confirmation'" src="./assets/images/svg/confirmation.svg" alt="confirmation">
        <img *ngIf="taggedCandidate.sysSourceType == 'IJP REFERRAL'" src="./assets/images/svg/ijp.svg" alt="ijp">
        <img *ngIf="taggedCandidate.sysSourceType == 'SOCIAL MEDIA'" src="./assets/images/svg/social_media.svg" alt="social media">
        <img *ngIf="taggedCandidate.sysSourceType == 'JOB_BOARD' && taggedCandidate.sourceType != null && taggedCandidate.sourceType.toLowerCase() == 'naukri'"
          src="./assets/images/svg/naukri_portal.svg" alt="naukri">
      </span>
      <div class="description-cell width35">
        <span class="text-cell">Source</span>
        <span class="text-bold-cell text-nowrap-grad-white" matTooltip="{{taggedCandidate.sourceType}}">{{taggedCandidate.sourceType}}</span>
      </div>
      <div class="description-cell width44">
        <span class="text-cell">Source Code/Name</span>
        <span class="text-bold-cell text-nowrap-grad-white" *ngIf="taggedCandidate.subSourceUserName!=null" matTooltip="{{taggedCandidate.subSourceUserName}}">{{taggedCandidate.subSourceUserName}}</span>
        <span class="text-bold-cell" *ngIf="taggedCandidate.subSourceUserName==null">NA</span>
      </div>
    </div>
    <div class="rejected-description">      
      <div class="vertical-scrollbox">
        <span class="text-cell">Comment:</span>
        <p>{{taggedCandidate.comment}}&nbsp;</p>
      </div>
    </div>
  </div>
  <div class="btn-row mrg-lf-20">
    <button class="btn btn-gray btn-full" (click)="resumeCandidate(taggedCandidate)" [disabled]="isJobDisabled">RESUME CANDIDATE</button>
</div>
</div>