<alt-skill-set-loader *ngIf="langugaesLoader == 'loader'"></alt-skill-set-loader>
<ng-container *ngIf="langugaesLoader == 'data' || langugaesLoader == 'nodata' ">
    <div class="panel-heading clearfix" *ngIf="security?.languagesSectionRendered">
        <h2 class="panel-title fl-left">{{security?.languagesSectionLabel | formatCapitalize}}</h2>
    </div>
    <div *ngIf="langugaesLoader == 'nodata'">
        <div class="panel-body">
            <span class="panel-col panel-col1 text-description">{{'common.label.noDataAvailable' | translate}}</span>
        </div>
    </div>
    <div class="panel-body padding-b10" *ngIf="security?.languagesSectionRendered && data?.length>0">
        <span class="tag-job" *ngFor="let language of data">{{ language }}</span>
    </div>
</ng-container>