<div class="comint-soon-container">
    <img src="./assets/images/Coming-soontext.png" alt="" title="">
</div>
<div class="coming-soon-wrapper">
    <div class="coming-soon"></div>
</div>
<!-- Section filter -->
<div class="main-title-row title-with-select title-home">
    <h1 class="title text-none">Hi Venkateshwaran! 37 tasks await you today</h1>
    <div class="main-title-right">
        <ul class="list-reset dropdown-block">
            <li class="dropdown">
                <a href="#" class="dropdown-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="text-dropdown">TEAM MEMBER</span>
                    <span class="mdi mdi-chevron-down md24"></span>
                </a>
                <div class="dropdown-13  dropdown-style dropdown-form-destop">
                    <div class="input-group search-block">
                        <input type="text" class="form-control" id="RecruiterSearch2" placeholder="Search job name or job code" />
                        <span class="input-group-btn">
                            <button class="btn material-icons dp20" type="submit">search</button>
                        </span>
                    </div>
                    <ul class="list-reset dropdown-common">
                        <li>
                            <a href="#">Recruiters
                                <span class="mdi mdi-chevron-down md24"></span>
                            </a>
                            <ul class="list-reset sub-dropdown">
                                <li>
                                    <span class="text-cell">Employee Longname Recruiters</span>
                                    <span>EmployeeCode/0000 Recruiters</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Process Lead
                                <span class="mdi mdi-chevron-down md24"></span>
                            </a>
                            <ul class="list-reset sub-dropdown">
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Hiring Managers
                                <span class="mdi mdi-chevron-down md24"></span>
                            </a>
                            <ul class="list-reset sub-dropdown">
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Employee Group 1
                                <span class="mdi mdi-chevron-down md24"></span>
                            </a>
                            <ul class="list-reset sub-dropdown">
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Employee Group 2
                                <span class="mdi mdi-chevron-down md24"></span>
                            </a>
                            <ul class="list-reset sub-dropdown">
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Employee Group 3
                                <span class="mdi mdi-chevron-down md24"></span>
                            </a>
                            <ul class="list-reset sub-dropdown">
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Employee Group 4
                                <span class="mdi mdi-chevron-down md24"></span>
                            </a>
                            <ul class="list-reset sub-dropdown">
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Employee Group 5
                                <span class="mdi mdi-chevron-down md24"></span>
                            </a>
                            <ul class="list-reset sub-dropdown">
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Employee Group 6
                                <span class="mdi mdi-chevron-down md24"></span>
                            </a>
                            <ul class="list-reset sub-dropdown">
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Employee Group 7
                                <span class="mdi mdi-chevron-down md24"></span>
                            </a>
                            <ul class="list-reset sub-dropdown">
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                                <li>
                                    <span class="text-cell">Employee Longname</span>
                                    <span>EmployeeCode/0000</span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-button dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="text-dropdown">show all</span>
                    <span class="mdi mdi-chevron-down md24"></span>
                </a>
                <ul class="list-reset dropdown-6 dropdown-style">
                    <li>
                        <a href="#">
                            <span class="notification position-none">10</span>interviews</a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="notification position-none">27</span>action pending</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- \\ End Section filter -->

<!--  Section tasks-->
<div class="section-tasks clearfix">
    <div class="tasks-header">
        <div class="tasks-hd-cell tasks-header-left">
            <span class="material-icons cal-icon">today</span>
            <span class="font-bold">TODAY</span>
            <span class="only-show-destop">11 tasks</span>
            <div class="section-calendar tasks-calendar">
                <table class="table">
                    <tr>
                        <th class="prev">
                            <span class="mdi mdi-chevron-left"></span>
                        </th>
                        <th class="switch" colspan="5">JANUARY 2016</th>
                        <th class="next">
                            <span class="mdi mdi-chevron-right"></span>
                        </th>
                    </tr>
                    <tr>
                        <th class="dow">mon</th>
                        <th class="dow">tue</th>
                        <th class="dow">wed</th>
                        <th class="dow">thu</th>
                        <th class="dow">fri</th>
                        <th class="dow disabled">sat</th>
                        <th class="dow disabled ">sun</th>
                    </tr>
                    <tr>
                        <td class="day">1</td>
                        <td class="day">2</td>
                        <td class="day">3</td>
                        <td class="day active">4</td>
                        <td class="day">5</td>
                        <td class="day disabled">6</td>
                        <td class="day disabled">7</td>
                    </tr>
                    <tr>
                        <td class="day">8</td>
                        <td class="day">9</td>
                        <td class="day">10</td>
                        <td class="day">11</td>
                        <td class="day">12</td>
                        <td class="day disabled">13</td>
                        <td class="day disabled">14</td>
                    </tr>
                    <tr>
                        <td class="day">15</td>
                        <td class="day">16</td>
                        <td class="day">17</td>
                        <td class="day">18</td>
                        <td class="day">19</td>
                        <td class="day disabled">20</td>
                        <td class="day disabled">21</td>
                    </tr>
                    <tr>
                        <td class="day">22</td>
                        <td class="day">23</td>
                        <td class="day">24</td>
                        <td class="day">25</td>
                        <td class="day">26</td>
                        <td class="day disabled">27</td>
                        <td class="day disabled">28</td>
                    </tr>
                    <tr>
                        <td class="day">29</td>
                        <td class="day">30</td>
                        <td class="day">31</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="tasks-hd-cell tasks-header-mid">
            <a href="#" class="mdi mdi-chevron-left"></a>
            <span class="font-bold only-show-destop">WEDNESDAY, 18 JANUARY 2016</span>
            <span class="font-bold only-show-mobile">WED, 18 JAN 2016</span>
            <a href="#" class="mdi mdi-chevron-right"></a>
        </div>
        <div class="tasks-hd-cell tasks-header-ritgh tab-bar-com">
            <ul class="list-reset clearfix">
                <li class='active' [class.active]="step=='day'" (click)="step='day'">
                    <a [routerLink]="['Day']">DAY</a>
                </li>
                <li [class.active]="step=='week'" (click)="step='week'">
                    <a [routerLink]="['Week']">WEEK</a>
                </li>
                <li [class.active]="step=='month'" (click)="step='month'">
                    <a [routerLink]="['Month']">month</a>
                </li>
            </ul>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>

<!-- \\ End Section tasks-->