<div class="popup-custome-section">
<div class="popup-top-sm clearfix" mat-dialog-title>
    <h1 class="title">{{'candidate.list.tagCandidate' | translate}}</h1>
    <span class="material-icons close" (click)="dialogRef.close('Cancel')">close</span>
</div>
<div class="vertical-scroll-ng" slimScroll mat-dialog-content>
<div class="popup-inner clearfix" [formGroup]="candidateInfo">
    <div class="notification-bar {{severityClass}} {{showClass}}" *ngIf="message.length > 0">
        <span class="material-icons successful-icon">check_circle</span>
        <div class="notification-text-outer">
            <span class="notification-text">{{message}}</span>
        </div>
        <span class="material-icons close" (click)="clearMessages()">close</span>
    </div>
    <div class="listing-popup-block">
        <div class="auto-select">
            <alt-select [options]="data" [multiple]="true" placeholder="{{'common.label.searchJob' | translate}}" [allowClear]="true" formControlName="jobIdSelected">
            </alt-select>
        </div>
    </div>
</div>
</div>
</div>
<div class="btn-row text-right" mat-dialog-actions>
    <button class="btn btn-white" (click)="dialogRef.close('Cancel')" [disabled]="tagJob">{{'common.label.cancel' | translate}}</button>
    <!--<button class="btn btn-primary" (click)="saveTagCandidateData()">Tag</button>-->
    <alt-spinner-button (myEvent)="saveTagCandidateData($event)" [spinner]="tagJob" [spinnerdisabled]="tagJob"
        [text]="lable"></alt-spinner-button>
</div>