<alt-job-draft-blank-screen *ngIf="loaderIndicator == 'nodata'"></alt-job-draft-blank-screen>
<div *ngIf="loaderIndicator == 'data' || loaderIndicator == 'loader'">
    <!-- Section content -->
    <!--<div class="content">-->
    <div class="main-title-row">
        <h1 class="main-title">{{'job.draft_job.jobDrafts' | translate}}</h1>
    </div>
    <!-- Section filter -->
    <div class="section-filter">
        <div class="section-filter-inner filter-one">
            <ul class="list-reset clearfix">
                <li class="sort-by-block {{filterDropDown2?'':'filter-open'}}" [ngClass]="{'active' : sortByApplied}">
                    <label class="filter-cell" (click)="toggleFilter2();$event.stopPropagation()">
                    <span class="icon-filter sort-mobile"></span>
                    <span class="text-filter">{{'common.label.sortBy' | translate}}</span>
                    <span class="mdi mdi-chevron-down md24 mobile-only"></span>
            </label>
                    <ul class="list-reset dropdown-block">
                        <li class="dropdown" [class.open]="filtterToggle">
                            <a href="javascript:void(0)" class="dropdown-button" (click)="filtterToggleClick()" (clickToClose)="filtterToggleClosed()"><span class="text-dropdown">{{'common.label.sortBy' | translate}}</span><span class="mdi mdi-chevron-down md24"></span></a>
                            <ul class="list-reset dropdown-1  dropdown-150 dropdown-style" *ngIf="filtterToggle">
                                <li class="{{currentorder=='createdDateasc'?'active':''}}"><a href="javascript:void(0)" (click)="sort('createdDate', 'asc')">{{'common.label.createdFirstToLast' | translate}}</a></li>
                                <li class="{{currentorder=='createdDatedesc'?'active':''}}"><a href="javascript:void(0)" (click)="sort('createdDate', 'desc')">{{'common.label.createdLastToFirst' | translate}}</a></li>
                                <li class="{{currentorder=='modifiedDateasc'?'active':''}}"><a href="javascript:void(0)" (click)="sort('modifiedDate', 'asc')">{{'common.label.modifiedFirstToLast' | translate}}</a></li>
                                <li class="{{currentorder=='modifiedDatedesc'?'active':''}}"><a href="javascript:void(0)" (click)="sort('modifiedDate', 'desc')">{{'common.label.modifiedLastToFirst' | translate}}</a></li>
                                <li class="{{currentorder=='jobTitleasc'?'active':''}}"><a href="javascript:void(0)" (click)="sort('jobTitle', 'asc')">Alphabetically A to Z</a></li>
                                <li class="{{currentorder=='jobTitledesc'?'active':''}}"><a href="javascript:void(0)" (click)="sort('jobTitle', 'desc')">Alphabetically Z to A</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <!-- \\ End Section filter -->
    <div class="jobs-listing clearfix">
        <div class="row">
            <div class="card-block card-3 search-block-section">
                <div class="card-block-inner card-bg-none">
                    <div class="input-group search-block" [formGroup]="queryFormGroup">
                        <input class="form-control" formControlName="query" placeholder="{{'job.new_job.searchJobTitle' | translate}}" />
                        <span class="input-group-btn">
                                                <button class="btn material-icons dp20" type="submit">search</button>
                                            </span>
                    </div>
                </div>
            </div>
            <div class="card-block card-3 card-bulk-actions">
                <div class="card-block-inner card-bg-none clearfix">

                    <div class="select-all-btn col-2">
                        <div class="select-all-btn-inner">
                            <div class="checkbox checkbox-inline">
                                <input type="checkbox" [(ngModel)]="selectAll" (change)="allSelectEvent()" class="styled" id="select" />
                                <label for="select" class="custome-label"> {{'common.label.selectAll' | translate}} </label>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown dropdown-outer-2 col-2" [class.open]="isToggled">
                        <a href="JavaScript:Void(0);" class="bulk-actions" (click)="toggleClick()" (clickToClose)="toggleClickClosed()"><span class="text-dropdown">{{'common.label.bulkActions' | translate}}</span> <span class="mdi mdi-chevron-down md24"></span></a>
                        <ul class="list-reset dropdown-10 dropdown-style" *ngIf="isToggled">
                            <li><a (click)="deleteAll();" href="javascript:void" gaevent="ContextMenu#Bulk Delete All#click">{{'common.label.deleteAll' | translate}} </a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <!--  Section Card-->
        <loader-indicator *ngIf="loaderIndicator == 'loader'"></loader-indicator>
        <div *ngIf="loaderIndicator == 'data'">
            <div class="table table-striped">
                <div class="row pagination-mobile">
                    <alt-paginator #PAGINATIONTOP [srcTag]="'PAGINATIONTOP'" (clickToClose)="PAGINATIONTOP.toggleClose()" [rowsPerPageTemplate]="'15,30,45'" [pageState]="pageState" [pageLoading]="pageLoading" (pageChange)="getPageNumber($event)"
                        *ngIf="draftjobListData?.length > 0">{{'common.label.loading' | translate}}...</alt-paginator>
                </div>
                <div class="section-card clearfix">
                    <div class="title-lg padding-t50" *ngIf="draftjobListData?.length <= 0">{{'common.label.noDataAvailable' | translate}}</div>
                    <!-- Card Block -->
                    <div class="card-block card-3 card-draft" *ngFor="let data of  draftjobListData; let i = index;">
                        <div class="card-block-inner">
                            <div class="card-top card-row clearfix">
                                <div class="check-box checkbox">
                                    <input type="checkbox" [(ngModel)]="data.selected" [checked]="data.selected" class="styled" (change)="singleSelectEvent(data)">
                                    <label></label>
                                </div>
                                <!--popup delete-->
                                <div class="job-option">
                                    <a href="javascript:void(0)" class="popup-small-click" (click)="data.isClassVisible = !data.isClassVisible;">
                                        <span class="menu-click material-icons delete-icon">delete</span></a>
                                    <div class="{{displayClass}}" [ngClass]="{'openmodal': data.isClassVisible}">
                                        <div class="module-true displayBlock" (click)="data.isClassVisible = !data.isClassVisible;"></div>
                                        <div class="popup-small {{displayClass}}" [ngClass]="{'openmodal': data.isClassVisible }">
                                            <div class="popup-top clearfix">
                                                <span class="material-icons close" (click)="data.isClassVisible = !data.isClassVisible;">close</span>
                                                <h2 class="title">{{'job.draft_job.deleteConfirmation' | translate}}</h2>
                                            </div>
                                            <div class="btn-row fl-right">
                                                <button class="btn btn-gray" (click)="data.isClassVisible = !data.isClassVisible;">{{'common.label.no' | translate}}</button>
                                                <button class="btn btn-primary" (click)='data.isClassVisible = !data.isClassVisible; deleteDraft(data.draftRequisitionID, i);'>{{'common.label.yes' | translate}}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End popup delete-->
                            </div>
                            <div class="card-row card-designation">
                                <h2 class="title" *ngIf="data.jobTitle != null && data.jobTitle.length <= 60">{{data.jobTitle | lowercasepipe}}</h2>                           
                                <h2 class="title text-nowrap-title" matTooltip="{{data.jobTitle | lowercasepipe}}" *ngIf="data.jobTitle != null && data.jobTitle.length > 60">{{data.jobTitle | lowercasepipe}}</h2>                               
                            </div>
                            <div class="card-row card-designation-small" *ngIf="data.orgUnitCode || data.joiningLocation">
                                <div class="common-cell">
                                    <span class="name-cell font-bold" *ngIf="data.orgUnitCode != null && data.orgUnitCode.length <= 40">{{data.orgUnitCode.toLowerCase()}}</span> 
                                    <span class="name-cell font-bold text-nowrap-grad-white" *ngIf="data.orgUnitCode != null && data.orgUnitCode.length > 40" matTooltip="{{data.orgUnitCode | lowercasepipe}}">{{data.orgUnitCode.toLowerCase()}}</span> 
                                    <span class="job-code" *ngIf="data.joiningLocation != null && data.joiningLocation.length <= 40">{{data.joiningLocation.toLowerCase()}}</span>
                                    <span class="job-code text-nowrap-grad-white" *ngIf="data.joiningLocation != null && data.joiningLocation.length > 40" matTooltip="{{data.joiningLocation | lowercasepipe}}">{{data.joiningLocation.toLowerCase()}}</span>
                                </div>                             
                            </div>
                            <div class="card-row card-profile-row clearfix">
                                <div class="profile-completed">
                                    <div class="profile-graph">
                                        <div class="c100 p75">
                                            <div class="slice">
                                                <div class="bar"></div>
                                                <div class="fill"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="profile-graph-details">
                                        <span class="profile-percent">75%</span>
                                        <span class="text-cell">{{'job.draft_job.jobDetailsComplete' | translate}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-row mrg-lf-20">
                            <a href="javascript:void" [gaRouterLink]="['/job/editjob',data.draftRequisitionID]" [queryParams]="{ type:'draft' }" class="btn btn-gray btn-full" gaevent="Job#Edit job Draft#click">{{'job.draft_job.editJobDraft' | translate}}</a>
                        </div>
                    </div>
                    <!-- \\ End Card Block -->
                </div>
                <!-- \\ End Section Card-->
                <!--  Section Pagination-->
                <div class="pagination-mobile">
                    <div class="section-pagination pagination-bottom clearfix">
                        <alt-paginator #PAGINATIONBOT [srcTag]="'PAGINATIONBOT'" (clickToClose)="PAGINATIONBOT.toggleClose()" [rowsPerPageTemplate]="'15,30,45'" [pageState]="pageState" [pageLoading]="pageLoading" (pageChange)="getPageNumber($event)"
                            *ngIf="draftjobListData?.length > 0">{{'common.label.loading' | translate}}</alt-paginator>
                    </div>
                </div>
                <!-- \\ End Section Pagination-->
            </div>

        </div>
        <!-- Section Genie -->
        <!-- <div class="section-genie">
            <div class="section-genie-inner">
                <div class="section-top-genie clearfix">
                    <div class="genie-image">
                        <div class="image-block"></div>
                        <div class="image-block"></div>
                        <div class="image-block"></div>
                        <div class="image-block"></div>
                    </div>
                    <div class="description-cell">
                        <span class="text-bold-cell text-uppercase">Priyanka Manchanda</span>
                        <span class="text-cell">Active in the last 15m</span>
                    </div>
                    <span class="edit-icon">create</span>
                </div>
                <div class="genie-container">
                    <p class="text-conversation">Alpha Victor added Catherine M and Ben Jacob to this conversation</p>
                    <div class="clearfix">
                        <div class="chat-sent">Hello</div>
                    </div>
                    <div class="chat-slider clearfix">
                        <div class="chat-slide-content">
                            <div class="comment-block">
                                <h6 class="title-12">THE SENDER’S NAME</h6>
                                <p>Please approve the salary fitment of #JOBCODE/0000 that was sent yesterday?</p>
                            </div>
                            <span class="chat-time">33 minutes ago</span>
                        </div>
                        <a href="#" class="mdi mdi-chevron-right prev"></a>
                    </div>

                </div>
                <div class="genie-bottom">
                    <div class="btn-row-chat">
                        <button class="btn btn-white">reject</button>
                        <button class="btn btn-primary">approve</button>
                    </div>
                    <div class="form-inline clearfix">
                        <textarea class="form-textarea noresize" placeholder="Send a message...."></textarea>
                        <div class="genie-opction">
                            <a href="#" class="material-icons dp22">insert_emoticon</a>
                            <a href="#" class="material-icons dp22">link</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-genie-inner genie-pos2">
                <div class="section-top-genie clearfix">
                    <div class="genie-image">
                        <div class="image-block"></div>
                    </div>
                    <div class="description-cell">
                        <span class="text-bold-cell text-uppercase">Priyanka Manchanda</span>
                        <span class="text-cell">Active in the last 15m</span>
                    </div>
                </div>
                <div class="genie-container">
                    <div class="clearfix">
                        <div class="chat-sent">Hello</div>
                    </div>
                    <div class="chat-slider clearfix">
                        <div class="chat-slide-content">
                            <div class="comment-block">
                                <p>Please approve the salary fitment of #JOBCODE/0000 that was sent yesterday?</p>
                            </div>
                            <span class="chat-time">33 minutes ago</span>
                        </div>
                        <a href="#" class="mdi mdi-chevron-right prev"></a>
                    </div>

                </div>
                <div class="genie-bottom">
                    <div class="btn-row-chat">
                        <button class="btn btn-white">reject</button>
                        <button class="btn btn-primary">approve</button>
                    </div>
                    <div class="form-inline clearfix">
                        <textarea class="form-textarea noresize height80" placeholder="">#JOBCODE/0000 @Catherine M, @Ben Jacob, please look into the candidate #CANDIDATECODE/0000 immediately and let’s talk</textarea>
                        <div class="genie-opction">
                            <a href="#" class="material-icons dp22">insert_emoticon</a>
                            <a href="#" class="material-icons dp22">link</a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="section-genie-inner genie-pos3">
                <div class="section-top-genie clearfix">
                    <div class="genie-image">
                        <div class="image-block"></div>
                    </div>
                    <div class="description-cell">
                        <span class="text-bold-cell text-uppercase">Priyanka Manchanda</span>
                        <span class="text-cell">Active in the last 15m</span>
                    </div>
                </div>
                <div class="genie-container">
                    <div class="clearfix">
                        <div class="chat-sent">Hello</div>
                    </div>
                    <div class="chat-slider clearfix">
                        <div class="chat-slide-content">
                            <div class="comment-block">
                                <p>Please approve the salary fitment of #JOBCODE/0000 that was sent yesterday?</p>
                            </div>
                            <span class="chat-time">33 minutes ago</span>
                        </div>
                        <a href="#" class="mdi mdi-chevron-right prev"></a>
                    </div>

                </div>
                <div class="genie-bottom">
                    <div class="btn-row-chat">
                        <button class="btn btn-white">reject</button>
                        <button class="btn btn-primary">approve</button>
                    </div>
                    <div class="form-inline clearfix">
                        <textarea class="form-textarea noresize" placeholder="Send a message...."></textarea>
                        <div class="genie-opction">
                            <a href="#" class="material-icons dp22">insert_emoticon</a>
                            <a href="#" class="material-icons dp22">link</a>
                        </div>
                    </div>
                </div>
            </div>
         
            <div class="section-genie-inner section-genie-listing genie-pos4">
                <div class="section-top-genie clearfix">
                    <div class="description-cell">
                        <span class="text-bold-cell text-uppercase">TAKE ACTIONS, APPROVE & CONVERSE</span>
                        <ul class="list-reset clearfix listing-inline">
                            <li>&copy; Wipro </li>
                            <li class="last-child">Alt</li>
                        </ul>
                    </div>
                </div>
                <div class="genie-listing-container">
                    <ul class="list-reset">
                        <li>
                            <span class="image-block"></span>
                            <div class="description-cell">
                                <div class="row-chat clearfix">
                                    <span class="title-12 fl-left">Genie</span>
                                    <span class="chat-time fl-right">1 min ago</span>
                                </div>
                                <p class="p-text">your with is my command, my lord! Ask me anything.</p>
                            </div>
                        </li>
                        <li>
                            <span class="image-block"></span>
                            <div class="description-cell">
                                <div class="row-chat clearfix">
                                    <span class="title-12 fl-left">Team One</span>
                                    <span class="chat-time fl-right">33 mins ago</span>
                                </div>
                                <p class="p-text">Hey guys! We just assigned a new job #JOBCODE/0000. Get started.</p>
                            </div>
                        </li>
                        <li>
                            <span class="image-block"></span>
                            <div class="description-cell">
                                <div class="row-chat clearfix">
                                    <span class="title-12 fl-left">Alpha Victor</span>
                                    <span class="chat-time fl-right">56 mins ago</span>
                                </div>
                                <p class="p-text">Approve salary fitment of candidate #CANDIDATECODE/0000 for the job #JOB.</p>
                            </div>
                        </li>
                        <li>
                            <span class="image-block"></span>
                            <div class="description-cell">
                                <div class="row-chat clearfix">
                                    <span class="title-12 fl-left">Ben Jacob</span>
                                    <span class="chat-time fl-right">yesterday</span>
                                </div>
                                <p class="p-text">#CANDIDATECODE/0000 for #JOBCODE/0000 is an excellent candidate. Let's sched.</p>
                            </div>
                        </li>
                        <li>
                            <span class="image-block"></span>
                            <div class="description-cell">
                                <div class="row-chat clearfix">
                                    <span class="title-12 fl-left">Genie</span>
                                    <span class="chat-time fl-right">1 min ago</span>
                                </div>
                                <p class="p-text">your with is my command, my lord! Ask me anything.</p>
                            </div>
                        </li>
                    </ul>
                    <button class="btn btn-default btn-chat">START A NEW CONVERSATION</button>
                </div>
            </div>
          
        </div> -->
    </div>
</div>

<!-- \\ End Section Genie -->