<!-- Section Untag Candidates -->
<div class="popup-custome-section">
  <div class="popup-top clearfix" mat-dialog-title>
    <h2 class="title-sub">Untag Candidates</h2>
    <span class="material-icons close" (click)="dialogRef.close('Cancel')">close</span>
  </div>
  <div class="vertical-scroll-ng maxHeight360" slimScroll>
    <div class="popup-top clearfix" *ngFor="let item of list">
      <div class="popup-title-row">
        <h2 class="title">{{item.firstName}} {{item.middleName}} {{item.lastName}}<span class="job-code">{{item.candidateCode}}</span></h2>
      </div>
    </div>
    <ng-container *ngIf="unTagCandidatelist.length>0">
    <div class="popup-top clearfix" *ngIf="list.length>0">
      <div class="messages-show-cell">You can only untag above {{list.length}} candidate(s). Below listed {{unTagCandidatelist.length}} candidate(s) cannot be untagged at current stage & status.
        Do you still wish to proceed further?
      </div>
    </div>    
    <div *ngIf="list.length==0" class="messages-show-cell messages-padding20">The selected candidate(s) cannot be untagged at current stage & status</div>    
  </ng-container>
    <ng-container *ngIf="list.length>0">
      <div class="popup-top clearfix" *ngFor="let item of unTagCandidatelist">
          <div class="popup-title-row">  
            <h2 class="title">{{item.firstName}} {{item.middleName}} {{item.lastName}}<span class="job-code">{{item.candidateCode}}</span></h2>
          </div>
      </div>
  </ng-container>
  </div>
</div>
<div mat-dialog-actions class="btn-row text-right">
  <button *ngIf="!(unTagCandidatelist.length>0 && list.length==0)" href="javascript:void(0)" class="btn btn-white" (click)="dialogRef.close('Cancel')" [disabled]="untagged">{{'common.label.cancel' | translate}}</button>
  <button *ngIf="(unTagCandidatelist.length>0 && list.length==0)" href="javascript:void(0)" class="btn btn-primary" (click)="dialogRef.close('Cancel')" [disabled]="untagged">OK</button>
  <!--<a href="javascript:void(0)" class="btn btn-primary" (click)="untagCanidate()">Untag</a>-->
  <alt-spinner-button *ngIf="!(unTagCandidatelist.length>0 && list.length==0)" (myEvent)="untagCanidate();" [spinner]="untagged" [spinnerdisabled]="untagged"
    [text]="lable"></alt-spinner-button>
</div>

<!-- \\ End Section Untag Candidates -->