<!-- Loader -->
<div class="timeline-item-white-bg">
<div class="timeline-item first">
      <div class="animated-background top">
    <div class="background-masker ghost-placeholder-fliter-line-01"></div> 
          <div class="background-masker ghost-placeholder-fliter-divider01"></div>  
          <div class="background-masker ghost-placeholder-dropdown divider01"></div>   
          <div class="background-masker ghost-placeholder-dropdown divider02"></div>   
          <div class="background-masker ghost-placeholder-dropdown divider03"></div>   
          <div class="background-masker ghost-placeholder-dropdown divider04"></div>  
          <div class="background-masker ghost-placeholder-fliter-line-02"></div> 
          <div class="background-masker ghost-placeholder-dropdown-line-02 divider01"></div>
          <div class="background-masker ghost-placeholder-sortby-line-01"></div>   
          <div class="background-masker ghost-placeholder-sortby-divider01"></div>
          <div class="background-masker ghost-placeholder-dropdown-line-03 divider01"></div> 
          <div class="background-masker ghost-placeholder-dropdown-line-03 divider02"></div> 
          <div class="background-masker ghost-placeholder-dropdown-line-03 divider03"></div>
          <div class="background-masker ghost-placeholder-applied-line-01"></div>
          <div class="background-masker ghost-placeholder-applied-divider01"></div>
          <div class="background-masker ghost-placeholder-anchor-line-01 divider01"></div>
          <div class="background-masker ghost-placeholder-anchor-line-01 divider02"></div>
          <div class="background-masker ghost-placeholder-anchor-line-01 divider03"></div>
      </div>
  </div>
  <div class="timeline-item-white-bg">
      <div class="timeline-item searchBar">
          <div class="animated-background">
              <div class="background-masker ghost-placeholder-fliter-line-01"></div>    
              <div class="background-masker ghost-placeholder-searchbox divider02"></div> 
              <div class="background-masker ghost-placeholder-searchbox divider03"></div> 
            <div class="background-masker ghost-placeholder-searchbox divider04"></div>   
          </div>
          </div>
      </div>
</div>
<!-- \\ End Loader --> 