<div class="comint-soon-container">
    <img src="./assets/images/Coming-soontext.png" alt="" title="">
</div>
<div class="coming-soon-wrapper">
    <div class="coming-soon"></div>
</div>
<!-- Section filter -->
<div class="main-title-row title-with-rht margin-r280">
    <h1 class="main-title">edit My Profile</h1>
    <div class="main-title-right">
        <div class="profile-completed">
            <div class="profile-graph">
                <div class="c100 p75">
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>
            </div>
            <div class="profile-graph-details">
                <span class="profile-percent">75%</span>
                <span class="text-cell">Profile complete</span>
            </div>
        </div>
    </div>
</div>
<!-- \\ End Section filter -->
<!--  Section Card-->
<div class="section-card-profile clearfix">
    <div class="card-profile my-profile-filled">
        <!--  Basic Information-->
        <ul class="item_list">
            <li class="item_list_block step_open">
                <div class="info_title">
                    <span class="step-text">Basic Information</span>
                </div>
                <div class="form_outer padding-b15">
                    <div class="basic-information">
                        <div class="profile-img-outer">
                            <div class="profile-img">
                                <img src="{{profilePic}}" (error)="handleProfilePicError()" />
                            </div>
                            <label for="userProfilePicx">
                                <span class="edit-icon" style="cursor: pointer;" matTooltip="Picture should be in .JPG, .JPEG or .PNG format and less than 2MB in size">delete</span>
                            </label>
                            <input #userProfilePicx type="file" id="userProfilePicx" style="display: none;" multiple="false" (change)="picFileChange($event)"
                                accept=".png,.jpg,.jpeg">
                        </div>
                        <span class="text-bold-cell">{{employeeName}}</span>
                        <div class="social-block social-icons-lg">
                            <a href="#" target="_blank" class="icon-smd li-icon">linked in</a>
                            <a href="#" target="_blank" class="icon-smd tw-icon">Twitter</a>
                            <a href="#" target="_blank" class="icon-smd fb-icon">facebook</a>
                            <a href="#" target="_blank" class="icon-smd gp-icon">Google Plus</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <!-- \\ End Basic Information-->
    </div>
    <!--  Personal Information-->
    <div class="card-profile">
        <ul class="item_list">
            <li class="item_list_block step_open">
                <div class="info_title">
                    <span class="step-text">Personal Information</span>
                </div>
                <div class="form_outer">
                    <div class="row">
                        <div class="form-group row2">
                            <div class="col-md-12">
                                <label class="control-label clearfix">Mobile Number</label>
                                <span class="filled-input">+91 9999345764</span>
                            </div>
                        </div>
                        <div class="form-group row2">
                            <div class="col-md-12">
                                <label class="control-label clearfix">Primary Email ID</label>
                                <span class="filled-input">something@something.com</span>
                            </div>
                        </div>
                        <div class="form-group row2">
                            <div class="col-md-12 col-md-padding12">
                                <label class="control-label">Date of Birth</label>
                                <span class="filled-input">5th September 2016</span>
                            </div>
                        </div>
                        <div class="form-group row2">
                            <div class="col-md-12">
                                <label class="control-label">Gender</label>
                                <span class="filled-input">Male</span>
                            </div>
                        </div>
                        <div class="form-group row2">
                            <div class="col-md-12">
                                <label class="control-label clearfix">Permanent Residential Address</label>
                                <span class="filled-input">G-12, Shivalik Road, Malviya Nagar</span>
                            </div>
                        </div>
                        <div class="form-group row2">
                            <div class="col-md-12">
                                <label class="control-label">Country</label>
                                <span class="filled-input">India</span>
                            </div>
                        </div>
                        <div class="form-group row2">
                            <div class="col-md-12">
                                <label class="control-label">City</label>
                                <span class="filled-input">New Delhi - Delhi</span>
                            </div>
                        </div>
                        <div class="form-group row2">
                            <div class="col-md-12">
                                <label class="control-label clearfix">Pin Code</label>
                                <span class="filled-input">110056</span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- \\ End Personal Information-->
    <!--  Work Experience-->
    <div class="card-profile">
        <ul class="item_list">
            <li class="item_list_block step_open">
                <div class="info_title">
                    <span class="step-text">Work Experience</span>
                </div>
                <div class="form_outer">
                    <div class="row">
                        <div class="toggle-my-profile">
                            <div class="toggle-jobs">
                                <a href="javascript:void(0)" class="toggle-element">FIRST
                                    <span class="mdi mdi-chevron-down md24"></span>
                                </a>
                            </div>
                            <div class="toggle-my-profile-details">
                                <div class="form-group row2">
                                    <div class="col-md-12">
                                        <label class="control-label">Industry</label>
                                        <span class="filled-input">Technology</span>
                                    </div>
                                </div>
                                <div class="form-group row2">
                                    <div class="col-md-12">
                                        <label class="control-label clearfix">Company Name</label>
                                        <span class="filled-input">Dolor Sit Amet</span>
                                    </div>
                                </div>
                                <div class="form-group row2">
                                    <div class="col-md-12">
                                        <label class="control-label clearfix">Role</label>
                                        <span class="filled-input">Hiring Manager</span>
                                    </div>
                                </div>
                                <div class="form-group row2">
                                    <div class="col-md-12">
                                        <label class="control-label clearfix">Job Title</label>
                                        <span class="filled-input">Accounts Head</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="toggle-my-profile toggle-open">
                            <div class="toggle-jobs">
                                <a href="javascript:void(0)" class="toggle-element">second
                                    <span class="mdi mdi-chevron-down md24"></span>
                                </a>
                            </div>
                            <div class="toggle-my-profile-details">
                                <div class="form-group row2">
                                    <div class="col-md-12">
                                        <label class="control-label">Industry</label>
                                        <span class="filled-input">Technology</span>
                                    </div>
                                </div>
                                <div class="form-group row2">
                                    <div class="col-md-12">
                                        <label class="control-label clearfix">Company Name</label>
                                        <span class="filled-input">Dolor Sit Amet</span>
                                    </div>
                                </div>
                                <div class="form-group row2">
                                    <div class="col-md-12">
                                        <label class="control-label clearfix">Role</label>
                                        <span class="filled-input">Hiring Manager</span>
                                    </div>
                                </div>
                                <div class="form-group row2">
                                    <div class="col-md-12">
                                        <label class="control-label clearfix">Job Title</label>
                                        <span class="filled-input">Accounts Head</span>
                                    </div>
                                </div>
                                <div class="form-group row2">
                                    <div class="col-md-12">
                                        <label class="control-label clearfix">Start Date — End Date</label>
                                        <span class="filled-input">01/04/2013 — 28/02/2017</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="toggle-my-profile">
                            <div class="toggle-jobs">
                                <a href="javascript:void(0)" class="toggle-element">third
                                    <span class="mdi mdi-chevron-down md24"></span>
                                </a>
                            </div>
                            <div class="toggle-my-profile-details">
                                <div class="form-group row2">
                                    <div class="col-md-12">
                                        <label class="control-label">Industry</label>
                                        <span class="filled-input">Technology</span>
                                    </div>
                                </div>
                                <div class="form-group row2">
                                    <div class="col-md-12">
                                        <label class="control-label clearfix">Company Name</label>
                                        <span class="filled-input">Dolor Sit Amet</span>
                                    </div>
                                </div>
                                <div class="form-group row2">
                                    <div class="col-md-12">
                                        <label class="control-label clearfix">Role</label>
                                        <span class="filled-input">Hiring Manager</span>
                                    </div>
                                </div>
                                <div class="form-group row2">
                                    <div class="col-md-12">
                                        <label class="control-label clearfix">Job Title</label>
                                        <span class="filled-input">Accounts Head</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- \\ End Work Experience-->
    <!-- Educational Qualification-->
    <div class="card-profile">
        <ul class="item_list">
            <li class="item_list_block step_open">
                <div class="info_title">
                    <span class="step-text">Educational Qualification</span>
                </div>
                <div class="form_outer">
                    <div class="row">
                        <div class="toggle-my-profile">
                            <div class="toggle-jobs">
                                <a href="javascript:void(0)" class="toggle-element">FIRST
                                    <span class="mdi mdi-chevron-down md24"></span>
                                </a>
                            </div>
                            <div class="toggle-my-profile-details">
                                <div class="form-group row2">
                                    <div class="col-md-12">
                                        <label class="control-label clearfix">Degree</label>
                                        <span class="filled-input">Master of Business Administration</span>
                                    </div>
                                </div>
                                <div class="form-group row2">
                                    <div class="col-md-12">
                                        <label class="control-label clearfix">Batch</label>
                                        <span class="filled-input">2003 — 2007</span>
                                    </div>
                                </div>
                                <div class="form-group row2">
                                    <div class="col-md-12">
                                        <label class="control-label clearfix">Institute</label>
                                        <span class="filled-input">Hansraj College</span>
                                    </div>
                                </div>
                                <div class="form-group row2">
                                    <div class="col-md-12">
                                        <label class="control-label clearfix">Country</label>
                                        <span class="filled-input">India</span>
                                    </div>
                                </div>
                                <div class="form-group row2">
                                    <div class="col-md-12">
                                        <label class="control-label clearfix">City</label>
                                        <span class="filled-input">Gujarat — Surat</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="toggle-my-profile toggle-open">
                            <div class="toggle-jobs">
                                <a href="javascript:void(0)" class="toggle-element">second
                                    <span class="mdi mdi-chevron-down md24"></span>
                                </a>
                            </div>
                            <div class="toggle-my-profile-details">
                                <div class="form-group row2">
                                    <div class="col-md-12">
                                        <label class="control-label clearfix">Degree</label>
                                        <span class="filled-input">Master of Business Administration</span>
                                    </div>
                                </div>
                                <div class="form-group row2">
                                    <div class="col-md-12">
                                        <label class="control-label clearfix">Batch</label>
                                        <span class="filled-input">2003 — 2007</span>
                                    </div>
                                </div>
                                <div class="form-group row2">
                                    <div class="col-md-12">
                                        <label class="control-label clearfix">Institute</label>
                                        <span class="filled-input">Hansraj College</span>
                                    </div>
                                </div>
                                <div class="form-group row2">
                                    <div class="col-md-12">
                                        <label class="control-label clearfix">Final Grade / Percentage</label>
                                        <span class="filled-input">94.2%</span>
                                    </div>
                                </div>
                                <div class="form-group row2">
                                    <div class="col-md-12">
                                        <label class="control-label clearfix">Country</label>
                                        <span class="filled-input">India</span>
                                    </div>
                                </div>
                                <div class="form-group row2">
                                    <div class="col-md-12">
                                        <label class="control-label clearfix">City</label>
                                        <span class="filled-input">Gujarat — Surat</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="toggle-my-profile">
                            <div class="toggle-jobs">
                                <a href="javascript:void(0)" class="toggle-element">FIRST
                                    <span class="mdi mdi-chevron-down md24"></span>
                                </a>
                            </div>
                            <div class="toggle-my-profile-details">
                                <div class="form-group row2">
                                    <div class="col-md-12">
                                        <label class="control-label clearfix">Degree</label>
                                        <span class="filled-input">Master of Business Administration</span>
                                    </div>
                                </div>
                                <div class="form-group row2">
                                    <div class="col-md-12">
                                        <label class="control-label clearfix">Batch</label>
                                        <span class="filled-input">2003 — 2007</span>
                                    </div>
                                </div>
                                <div class="form-group row2">
                                    <div class="col-md-12">
                                        <label class="control-label clearfix">Institute</label>
                                        <span class="filled-input">Hansraj College</span>
                                    </div>
                                </div>
                                <div class="form-group row2">
                                    <div class="col-md-12">
                                        <label class="control-label clearfix">Country</label>
                                        <span class="filled-input">India</span>
                                    </div>
                                </div>
                                <div class="form-group row2">
                                    <div class="col-md-12">
                                        <label class="control-label clearfix">City</label>
                                        <span class="filled-input">Gujarat — Surat</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- \\ End Educational Qualification-->
    <!--  Skill Set-->
    <div class="card-profile-full clearfix">
        <ul class="item_list">
            <li class="item_list_block step_open">
                <div class="info_title">
                    <span class="step-text">Skill Set</span>
                </div>
                <div class="form_outer padding-b15">
                    <div class="skill-row clearfix">
                        <span class="tag-job">SKILL SET
                            <span class="material-icons">clear</span>
                        </span>
                        <span class="tag-job">SKILL SET
                            <span class="material-icons">clear</span>
                        </span>
                        <span class="tag-job">SKILL SET
                            <span class="material-icons">clear</span>
                        </span>
                        <span class="tag-job">SKILL SET
                            <span class="material-icons">clear</span>
                        </span>
                        <button class="btn add-skill-set">Add skill set</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- \\ End Skill Set-->
    <!--  Cover Letter-->
    <div class="card-profile-full clearfix">
        <ul class="item_list">
            <li class="item_list_block step_open">
                <div class="info_title">
                    <span class="step-text">Cover Letter</span>
                </div>
                <div class="form_outer vertical-scrollbox">
                    <div class="text-area-filed">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                            sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                            mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor
                            sit amet, quis nostrud exercitation ullamco aliquip ex ea commodo consequat. Duis aute irure
                            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                            sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                            sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                            mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor
                            sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                            eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                            deserunt mollit anim id est laborum. </p>
                    </div>

                </div>
            </li>
        </ul>
        <div class="row-btn clearfix margin-b10  pull-right">
            <button type="button" class="btn btn-white">CANCEL</button>
            <a href="edit_my_profile.html" class="btn btn-primary">UPDATE PROFILE</a>
        </div>
    </div>
    <!-- \\ End Cover Letter-->
</div>
<!-- \\ End Section Card-->
<!-- section-my-rewards-->
<div class="section-my-rewards">
    <div class="main-title-row title-with-select">
        <h1 class="main-title">MY REWARDS</h1>
        <div class="main-title-right">
            <ul class="list-reset dropdown-block">
                <li class="dropdown">
                    <a href="#" class="dropdown-button dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="text-dropdown">FY 2015 - 2016</span>
                        <span class="mdi mdi-chevron-down md24"></span>
                    </a>
                    <ul class="list-reset dropdown-6 dropdown-style">
                        <li>
                            <a href="#">FY 2015 - 2016</a>
                        </li>
                        <li>
                            <a href="#">FY 2015 - 2016</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="section-my-rewards-inner">
        <ul class="list-reset clearfix">
            <li class="item_list_block_outer">
                <div class="item_list_block">
                    <span class="group-icon">
                        <img src="./assets/images/svg/badgets/group_27.svg" alt="">
                    </span>
                    <h4 class="title-12">Closed 10 Jobs</h4>
                    <span class="text-cell">12 March 2016</span>
                </div>
            </li>
            <li class="item_list_block_outer">
                <div class="item_list_block">
                    <span class="group-icon">
                        <img src="./assets/images/svg/badgets/group_13.svg" alt="">
                    </span>
                    <h4 class="title-12">Created 30 Candidates</h4>
                    <span class="text-cell">12 March 2016</span>
                </div>
            </li>
            <li class="item_list_block_outer">
                <div class="item_list_block">
                    <span class="group-icon">
                        <img src="./assets/images/svg/badgets/group_12.svg" alt="">
                    </span>
                    <h4 class="title-12">Award Title</h4>
                    <span class="text-cell">12 March 2016</span>
                </div>
            </li>
            <li class="item_list_block_outer">
                <div class="item_list_block">
                    <span class="group-icon">
                        <img src="./assets/images/svg/badgets/group_21.svg" alt="">
                    </span>
                    <h4 class="title-12">Award Title</h4>
                    <span class="text-cell">12 March 2016</span>
                </div>
            </li>
            <li class="item_list_block_outer fade-opacity-block">
                <div class="item_list_block">
                    <span class="group-icon">
                        <img src="./assets/images/svg/badgets/group_43.svg" alt="">
                    </span>
                    <h4 class="title-12">Closed 10 Jobs</h4>
                </div>
            </li>
            <li class="item_list_block_outer fade-opacity-block">
                <div class="item_list_block">
                    <span class="group-icon">
                        <img src="./assets/images/svg/badgets/group_41.svg" alt="">
                    </span>
                    <h4 class="title-12">Award Title</h4>
                    <span class="text-cell">12 March 2016</span>
                </div>
            </li>
            <li class="item_list_block_outer fade-opacity-block">
                <div class="item_list_block">
                    <span class="group-icon">
                        <img src="./assets/images/svg/badgets/group_30.svg" alt="">
                    </span>
                    <h4 class="title-12">Award Title</h4>
                    <span class="text-cell">12 March 2016</span>
                </div>
            </li>
            <li class="item_list_block_outer fade-opacity-block">
                <div class="item_list_block">
                    <span class="group-icon">
                        <img src="./assets/images/svg/badgets/group_36.svg" alt="">
                    </span>
                    <h4 class="title-12">Award Title</h4>
                    <span class="text-cell">12 March 2016</span>
                </div>
            </li>
            <li class="item_list_block_outer fade-opacity-block">
                <div class="item_list_block">
                    <span class="group-icon">
                        <img src="./assets/images/svg/badgets/group_3.svg" alt="">
                    </span>
                    <h4 class="title-12">Award Title</h4>
                    <span class="text-cell">12 March 2016</span>
                </div>
            </li>
            <li class="item_list_block_outer fade-opacity-block">
                <div class="item_list_block">
                    <span class="group-icon">
                        <img src="./assets/images/svg/badgets/group_28.svg" alt="">
                    </span>
                    <h4 class="title-12">Award Title</h4>
                    <span class="text-cell">12 March 2016</span>
                </div>
            </li>
            <li class="item_list_block_outer fade-opacity-block">
                <div class="item_list_block">
                    <span class="group-icon">
                        <img src="./assets/images/svg/badgets/group_39.svg" alt="">
                    </span>
                    <h4 class="title-12">Award Title</h4>
                    <span class="text-cell">12 March 2016</span>
                </div>
            </li>
            <li class="item_list_block_outer fade-opacity-block">
                <div class="item_list_block">
                    <span class="group-icon">
                        <img src="./assets/images/svg/badgets/group_4.svg" alt="">
                    </span>
                    <h4 class="title-12">Award Title</h4>
                    <span class="text-cell">12 March 2016</span>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- \\ End section-my-rewards-->