.showHeader hide{
display:none;
}

.menu-style_popup {
    display: block;
}

.chart_title {
    position: relative;
    text-transform: uppercase;
    height: 14px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.17;
    letter-spacing: 0.5px;
    color: #a8407f;
    margin-bottom: 10px;
}
.minHeight50 {
    min-height: 50px;
}
.row2 {
    margin-left: -0px;
    margin-right: -0px;
}
.chart_icons {
    display: inline-block;
    position: absolute;
    right: -5px;
    top: -5px;
}
.chart_icons span {
    margin-left: 5px;
    display: inline-block;
    float: left !important;
    color: #777777;
    cursor: pointer;
}
.chart_icons .material-icons {
    float: left;
    font-size: 26px;
}
.chart_icons span {
    margin-left: 5px;
    display: inline-block;
    float: left !important;
    color: #777777;
    cursor: pointer;
}
.more-icon {
    font-size: 30px;
    line-height: 24px;
    height: 20px;
    width: 15px;
    color: #777777;
    display: block;
}
.section-card {
    margin-bottom: 30px;
    margin-left: -20px;
    margin-right: -20px;
}
.card_zoomed {
    position: fixed !important;
    top: 50px;
    left: 60px;
    right: 60px;
    bottom: 50px;
    z-index: 1009;
}
.icon-toggle {
    display: none !important;
}
.title-row > .main-title {
    letter-spacing: -0.5px;
    margin-bottom: 15px;
    padding-top: 6px;
    padding-bottom: 14px;
    line-height: 18px;
    border-color: #c3c3c3;
    position: relative;
    font-family: 'DIN Medium';
}
.alt-main-title {
    margin-bottom: 5px !important;
}

.title_right_fields {
    position: absolute;
    display: inline-block;
    top: 0;
   right: 0;
    padding-left: 15px;
}
.title_right_fields {
    background: #e3e3e3;
    padding-bottom: 5px;
}
.title-row .main-title > .title_right_fields {
    font-family: inherit;
    font-size: inherit;
}
.title-row > .main-title {
    letter-spacing: -0.5px;
    line-height: 18px;
    font-family: 'DIN Medium';
}
.module-true.open { display: block;}
.dashboard-drop .dropdown-style{
    display: block;
    font-family:'DIN Regular';
}
.dashboard-drop .dropdown-button .text-dropdown{
    font-family:'DIN Regular'; 
    font-size: 12px;
}
.dropdown-block-dashboard{
    display: block;
}
.dropdown-block-dashboard .dropdown1{
    width: 30%;
}
.dropdown-block-dashboard .dropdown2{
    width: 40%;
}
.dropdown-block-dashboard .dropdown3{
    width: 25%;
}
.dashboard-drop .dropdown-block .dropdown-button{
    font-size: 12px;
    width: 100%;
}
.chart-title .chart-icons {
    margin-right: -8px!important;
}