<div class="module-true {{overlay?'open':''}}"></div>
  <!-- Section filter -->
  <div class="main-title-row title-with-select title-dashboard">
    <h1 class="main-title">{{'dashboard.label.title' | translate}}</h1>
    <div class="main-title-right">
      <div class="">
        <ul class="list-reset dropdown-block dashboard-drop">
          <li class="dropdown">
            <alt-custom-single-select #LAYOUT (clickToClose)="LAYOUT.toggleClose()" [searchEnable]="false" [valueKey]="'id'" [inputList]="layoutValues"
              [value]="chartForm.controls.layoutSelectedId.value" placeholder="{{'common.label.select' | translate}}" (valueBind)="bindLayoutValue($event)">
            </alt-custom-single-select>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- \\ End Section filter -->
  <!--  Dashboard Section Card-->
  <div class="section-dashboard-card clearfix">
    <ng-template ref-showloading>
      <loader [isWelcomeLoader]="isWelcomeLoader"></loader>
    </ng-template>
    <form [formGroup]="chartForm">
      <div *ngIf="rest else showloading">
        <div *ngIf="error">
          <h3>{{errorMessage}}</h3>
        </div>
        <div class="dashboard-content dashboard-drop" *ngFor="let dashboard of dashbaordData; index as i">
          <div class="clearfix">
            <div class="card-block card-{{layoutVal}}" *ngFor="let widget of dashboard.widgetTOList; let ind = index">
              <div [ngClass]="{'card_zoomed':(xyz==ind && zoomIn)}" class="card-block-inner alt-chartcard-inner clearfix">
                <!-- Top DIV Navigation of card -->
                <div class="chart-title">
                  <h4 class="title-12 fl-left">{{widget.widgetName }}</h4>
                  <div class="chart-icons">
                    <span (click)="addClass($event,ind)">
                      <span class="zoom_out {{zoomOut?'':'icon-toggle'}}"></span>
                      <span class="material-icons zoom_card {{zoomOut?'icon-toggle':''}}">zoom_out_map</span>
                    </span>
                  </div>
                </div>
                <div class="row2 minHeight50">
                  <div class="dropdown-block dropdown-block-dashboard clearfix">
                    <ul class="list-reset">
                      <li class="dropdown dropdown1">
                        <alt-custom-single-select #ORGUNITTYPE (clickToClose)="ORGUNITTYPE.toggleClose()" *ngIf="!orgUnitFilterExclusion.includes(widget.widgetName)" [searchEnable]="false"
                          [valueKey]="'id'" [inputList]="unitTypeList" [value]="chartForm.controls.orgUnitTypeSelectedId.value[ind]"
                          placeholder="{{'common.label.select' | translate}}" (valueBind)="bindOrgUnitTypeListValue($event, ind)">
                        </alt-custom-single-select>
                      </li>
                      <li class="dropdown dropdown2">
                        <alt-custom-single-select #ORGUNIT (clickToClose)="ORGUNIT.toggleClose()" *ngIf="!orgUnitFilterExclusion.includes(widget.widgetName)" [searchEnable]="true" [valueKey]="'id'" [inputList]="widget.orgUnitList"
                          [value]="chartForm.controls.orgUnitListSelectedId.value[ind]" placeholder="{{'common.label.select' | translate}}" (valueBind)="bindOrgUnitListValue($event, ind)">
                        </alt-custom-single-select>
                      </li>
                      <li class="dropdown dropdown3">
                        <alt-custom-single-select #CHARTYEAR (clickToClose)="CHARTYEAR.toggleClose()" [searchEnable]="false" [valueKey]="'id'" [inputList]="widget.filterList"
                          [value]="chartForm.controls.yearSelectedId.value[ind]" placeholder="{{'common.label.select' | translate}}" (valueBind)="bindTimeFilterValue($event, ind)">
                        </alt-custom-single-select>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="chart_holder" *ngFor="let chart of widget.chartTOList">
                  <div *ngIf="!(loaderIndex==ind) else showloading">
                    <div id="container-{{chart.chartID}}">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="renderchartElements">
          {{renderCharts()}}
        </div>
        <div *ngIf="renderSelectedchartElement">
          {{renderSelectedChart()}}
        </div>
      </div>
    </form>
  </div>
  <!-- \\ End Dashboard Section Card-->
<!-- \\ End Section Content -->
