<div class="panel panel-open">
    <div class="panel-heading clearfix">
        <h2 class="panel-title fl-left text-capitalize">{{security?.skillsLabel}}</h2>
    </div>
    <div class="panel-body">
        <div class="skill-section" *ngIf="security?.skillsRendered">
            <h4 class="title-12">{{security?.skillsLabel}}</h4>
            <div class="skill-section-row clearfix" *ngIf="checkData1==0">{{'common.label.noDataAvailable' | translate}}</div>
            <div class="skill-section-row-2 clearfix" *ngIf="checkData1>0 && security?.skillsRendered">
                <span *ngFor="let skill of requiredSkillsData.requiredSkills" class="tag-job">
                    <span  class="{{(skill.mandatory==true)?'star-rating-block mdi mdi-star purple-color':''}}"></span>
                    {{skill.text}}
                </span>
            </div>
        </div>
        <div class="skill-section" *ngIf="security?.minQualificationRendered">
            <h4 class="title-12">{{security?.minQualificationLabel}}</h4>
            <div class="skill-section-row clearfix" *ngIf="checkData4==0">{{'common.label.noDataAvailable' | translate}}</div>
            <div class="skill-section-row-2 clearfix" *ngIf="checkData4>0 && security?.minQualificationRendered">
                <span *ngFor="let qualification of requiredSkillsData.requiredQualifications" class="tag-job">
                    {{qualification}}
                </span>
            </div>
        </div>
        <div class="skill-section" *ngIf="security?.certificationRendered">
            <h4 class="title-12">{{security?.certificationLabel}}</h4>
            <div class="skill-section-row clearfix" *ngIf="checkData2==0">{{'common.label.noDataAvailable' | translate}}</div>
            <div class="skill-section-row-2 clearfix" *ngIf="checkData2>0 && security?.certificationRendered">
                <span *ngFor="let certification of requiredSkillsData.requiredCertifications" class="tag-job">
                    {{certification}}
                </span>
            </div>
        </div>
        <div class="skill-section" *ngIf="security?.workingLanguageRendered">
            <h4 class="title-12">{{security?.workingLanguageLabel}}</h4>
            <div class="skill-section-row margin-bot-none clearfix" *ngIf="checkData3==0">{{'common.label.noDataAvailable' | translate}}</div>
            <div class="skill-section-row-2 margin-bot-none clearfix" *ngIf="checkData3>0 && security?.workingLanguageRendered">
                <span *ngFor="let language of requiredSkillsData.requiredLanguages" class="tag-job">
                    {{language}}
                </span>
            </div>
        </div>
    </div>
</div>