<div class="candidate-detail-card">
  <div class="card-block">
    <div class="card-block-inner">
      <div class="candidate-detail-top auto-matched-candidate-top clearfix">
        <h2 class="title">
          <span class="job-status {{getJobStatusClass(jobSummaryData?.jobStatus)}}"></span>
          <span *ngIf="jobSummaryData?.jobName.length > 40" matTooltip="{{jobSummaryData?.jobName | lowercasepipe}}">{{jobSummaryData?.jobName.toLowerCase()| stringTrim:40}}</span>
          <span *ngIf="jobSummaryData?.jobName.length < 41">{{jobSummaryData?.jobName | lowercasepipe}}</span>
        </h2>
        <ul class="list-reset listing-inline listing-bor-last {{!getlengthZero()?'':'ul-width-80'}}">
          <li class="character-count-45" *ngIf="getlengthLessThanLi1()" matTooltip="{{jobSummaryData?.summaryOrgUnit | lowercasepipe}}">{{jobSummaryData?.summaryOrgUnit | lowercasepipe}}</li>
          <li *ngIf="getlengthGreatThanLi1()">{{jobSummaryData?.summaryOrgUnit | lowercasepipe}}</li>
          <li class="character-count-45" *ngIf="getlengthLessThanLi2()" matTooltip="{{jobSummaryData?.summaryWorkSite | lowercasepipe}}">{{jobSummaryData?.summaryWorkSite | lowercasepipe}}</li>
          <li *ngIf="!getlengthZero() && getlengthGreatThanLi2()">{{jobSummaryData?.summaryWorkSite | lowercasepipe}}</li>
        </ul>
      </div>
      <div class="skill-row-top clearfix" *ngIf="jobSkills != null && jobSkills.length > 0">
        <span *ngFor="let skill of jobSkills" class="tag-job">{{skill.text}}</span>
      </div>
      <div class="skill-row-top clearfix" *ngIf="jobSkills == null || jobSkills.length == 0">
        {{'common.label.noDataAvailable' | translate}}
      </div>
    </div>
  </div>
</div>
<div class="main-title-row margin-bot-none cnd-mob">
  <h1 class="main-title">Candidate Overview </h1>
  <div class="main-title-right">
    <button class="btn btn-default desktop-btn disabled" style="color: #000; border: 1px solid #666; cursor:pointer!important"
      (click)="goBack()">back</button>
    <button class="btn btn-default mobile-btn disabled" style="color: #000; border: 1px solid #666;" (click)="goBack()">back</button>

    <ng-container *ngIf="resumeData?.savedCandidate">
      <span (click)="goToCandidate(resumeData?.candidateCode)" class="btn btn-primary">{{resumeData?.candidateCode}}</span>
    </ng-container>
    <ng-container *ngIf="!resumeData?.savedCandidate">
        <ng-container *ngIf="resumeData?.savedDraft">
          <span (click)="goToCandidateDraft(resumeData?.draftCandidateCode)" class="btn btn-primary">{{resumeData?.draftCandidateCode}}</span>
        </ng-container>
        <ng-container *ngIf="!resumeData?.savedDraft">
          <span *ngIf="resumeData?.savingDraft" class="btn btn-gray">Saving...</span>
          <span *ngIf="!resumeData?.savingDraft" (click)="saveAsDraft(resumeData)" class="btn btn-primary">Save as draft</span>
        </ng-container>
    </ng-container>
  </div>

</div>
<ng-container *ngIf="!loader">
<div class="candidate-detail-card auto-matched-candidate-detail clearfix">
  <div class="card-block">
    <div class="card-block-inner">
      <div class="candidate-detail-top clearfix">
        <div class="image-block">
          <div [style.background]="randomcolor[1]">
            <span class="image-block-inner" *ngIf="resumeData?.jobBoardResumeResponseTO.lastName == null">{{resumeData?.jobBoardResumeResponseTO.firstName.charAt(0) + resumeData?.jobBoardResumeResponseTO.firstName.charAt(1)
              | uppercase}}</span>
              <span class="image-block-inner" *ngIf="resumeData?.jobBoardResumeResponseTO.lastName != null">{{resumeData?.jobBoardResumeResponseTO.firstName.charAt(0) + resumeData?.jobBoardResumeResponseTO.lastName.charAt(0)
                | uppercase}}</span>
          </div>
        </div>
        <div class="candidate-detail-top-right">
          <div class="candidate-detail-top-block">
            <div class="candidate-detail-title fl-left-none">
              <h2 class="title title-len17">{{resumeData?.jobBoardResumeResponseTO.firstName}} {{resumeData?.jobBoardResumeResponseTO.lastName}}</h2>
              <ul *ngIf="resumeData?.jobBoardResumeResponseTO.country != null && resumeData?.jobBoardResumeResponseTO.country.trim() != ''" class="list-reset listing-inline listing-len2 listing-bor-last" matTooltip="{{resumeData?.jobBoardResumeResponseTO.city + ', ' +resumeData?.jobBoardResumeResponseTO.country}}">
                <li class="character-count-45">{{resumeData?.jobBoardResumeResponseTO.city}}, {{resumeData?.jobBoardResumeResponseTO.country}}</li>
              </ul>
              <ul *ngIf="resumeData?.jobBoardResumeResponseTO.country == null || resumeData?.jobBoardResumeResponseTO.country.trim() == ''" class="list-reset listing-inline listing-len2 listing-bor-last" matTooltip="{{resumeData?.jobBoardResumeResponseTO.city}}">
                <li class="character-count-45">{{resumeData?.jobBoardResumeResponseTO.city}}</li>
              </ul>
            </div>
            <div class="candidate-opcation clearfix">
              <span class="auto-matched-links">
                <span class="material-icons dp18 {{resumeData?.jobBoardResumeResponseTO.email > 0 ? 'purple-color' : 'disabled'}}">mail</span>
                <span class="text-link text-lowercase">{{resumeData?.jobBoardResumeResponseTO.email}}</span>
              </span>
              <span class="auto-matched-links">
                <span class="material-icons dp18 {{(resumeData?.jobBoardResumeResponseTO.phone==null || resumeData?.jobBoardResumeResponseTO.phone=='Not Specified' || resumeData?.jobBoardResumeResponseTO.phone=='Confidential' || resumeData?.jobBoardResumeResponseTO.phone=='' ) ? 'disabled': 'purple-color'}}">phone</span>
                <span class="text-link">
                  {{resumeData?.jobBoardResumeResponseTO.phone}}
                </span>
              
              </span>
              <span class="auto-matched-links cursor" (click)="downloadResume()">
                <span class="material-icons dp18 cursor">visibility</span>
                <span class="text-link cursor">View Resume</span>
              </span>

            </div>
          </div>
 
        </div>
      </div>
      <div class="auto-matched-candidate-bottom clearfix" *ngIf="resumeData?.jobBoardResumeResponseTO.skills!=null && resumeData?.jobBoardResumeResponseTO.skills.length > 0">
        <div class="auto-matched-cell" *ngFor="let skill of resumeData?.jobBoardResumeResponseTO.skills; let i=index;">
          <div class="auto-matched-cell-inner clearfix" *ngIf="i<5">
            <span class="text-cell character-count-45" *ngIf="skill.value.length > 10" matTooltip="{{skill.value.toUpperCase()}}">{{skill.value}}</span>
            <span class="text-cell" *ngIf="skill.value.length <= 10">{{skill.value}}</span>
            <div class="star-rating-block" matTooltip="{{ (skill.level=='Beginner') ? 'Beginner' : ((skill.level=='Intermediate') ? 'Intermediate' : (skill.level=='Expert'?'Expert':'') ) }}">
              <span class="mdi mdi-star {{(skill.level=='Beginner' || skill.level=='Intermediate' || skill.level=='Expert') ? 'star-rating' : '' }}"></span>
              <span class="mdi mdi-star {{(skill.level=='Intermediate' || skill.level=='Expert') ? 'star-rating' : '' }}"></span>
              <span class="mdi mdi-star {{(skill.level=='Intermediate' || skill.level=='Expert') ? 'star-rating' : '' }}"></span>
              <span class="mdi mdi-star {{(skill.level=='Expert') ? 'star-rating' : '' }}"></span>
              <span class="mdi mdi-star {{(skill.level=='Expert') ? 'star-rating' : '' }}"></span>
            </div>
          </div>
        </div> 
      </div>

    </div>
  </div>

</div>
<div class="panel-full">
  <div class="panel panel-two-column panel-open">
    <div class="panel-heading clearfix">
      <h2 class="panel-title fl-left text-capitalize">Personal Details</h2>
    </div>
    <div class="panel-body">
      <div class="panel-row">
        <span class="panel-col panel-col1">Name</span>
        <span class="panel-col text-bold-cell">{{resumeData?.jobBoardResumeResponseTO.firstName}} {{resumeData?.jobBoardResumeResponseTO.lastName}}</span>
      </div>
      <div class="panel-row">
        <span class="panel-col panel-col1">Date of Birth</span>
        <span class="panel-col text-bold-cell">{{resumeData?.jobBoardResumeResponseTO.dob}}</span>
      </div>
      <div class="panel-row" *ngIf="resumeData?.jobBoardResumeResponseTO.country != null && resumeData?.jobBoardResumeResponseTO.country.trim() != ''">
        <span class="panel-col panel-col1">Country</span>
        <span class="panel-col text-bold-cell">{{resumeData?.jobBoardResumeResponseTO.country}}</span>
      </div>
      <div class="panel-row">
        <span class="panel-col panel-col1">City</span>
        <span class="panel-col text-bold-cell">{{resumeData?.jobBoardResumeResponseTO.city}}</span>
      </div>
      <div class="panel-row">
        <span class="panel-col panel-col1">Phone</span>
        <span class="panel-col text-bold-cell">
            {{resumeData?.jobBoardResumeResponseTO.phone}}
        </span>
      </div>
      <div class="panel-row">
        <span class="panel-col panel-col1">Primary Email ID</span>
        <span class="panel-col text-bold-cell text-lowercase">{{resumeData?.jobBoardResumeResponseTO.email}}</span>
      </div>
      <div class="panel-row panel-row-2">
        <span class="panel-col panel-col1">profile summary</span>
        <span class="panel-col text-bold-cell first-char-uppercase">{{resumeData?.jobBoardResumeResponseTO.summary}}</span>
      </div>
    </div>
  </div>
</div>
<div class="panel-full">
  <div class="panel panel-one-column panel-open">
    <div class="panel-heading clearfix">
      <h2 class="panel-title fl-left text-capitalize">Educational Qualification</h2>
    </div>
    <div class="panel-body clearfix">
      <div class="clearfix" *ngIf="displayHighestEducationDegree">
        <div class="panel-row clearfix">
          <span class="panel-col panel-col1">Degree</span>
          <span class="panel-col text-bold-cell">{{resumeData?.jobBoardResumeResponseTO.educations.highestEducationDegree.level}}</span>
        </div>
        <div class="panel-row clearfix">
          <span class="panel-col panel-col1">Stream</span>
          <span class="panel-col text-bold-cell">{{resumeData?.jobBoardResumeResponseTO.educations.highestEducationDegree.stream}}</span>
        </div>
        <div class="panel-row clearfix">
          <span class="panel-col panel-col1">Institute</span>
          <span class="panel-col text-bold-cell">{{resumeData?.jobBoardResumeResponseTO.educations.highestEducationDegree.institute}}</span>
        </div>
      </div>
      <div class="divider divider-pad clearfix" *ngIf="displayHighestEducationDegree && secondHighestEducationDegree"></div>
      <div class="clearfix" *ngIf="secondHighestEducationDegree">
        <div class="panel-row clearfix">
          <span class="panel-col panel-col1">Degree</span>
          <span class="panel-col text-bold-cell">{{resumeData?.jobBoardResumeResponseTO.educations.secondHighestEducationDegree.level}}</span>
        </div>
        <div class="panel-row clearfix">
          <span class="panel-col panel-col1">Stream</span>
          <span class="panel-col text-bold-cell">{{resumeData?.jobBoardResumeResponseTO.educations.secondHighestEducationDegree.stream}}</span>
        </div>
        <div class="panel-row clearfix">
          <span class="panel-col panel-col1">Institute</span>
          <span class="panel-col text-bold-cell">{{resumeData?.jobBoardResumeResponseTO.educations.secondHighestEducationDegree.institute}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="panel-full" *ngIf="resumeData?.jobBoardResumeResponseTO.keySkills != null && resumeData?.jobBoardResumeResponseTO.keySkills.split(',').length > 0">
  <div class="panel panel-open">
    <div class="panel-heading clearfix">
      <h2 class="panel-title fl-left text-capitalize">Skill Set</h2>
    </div>
    <div class="panel-body padding-b10">
      <div class="skill-row clearfix">
        <span class="tag-job" *ngFor="let skill of resumeData?.jobBoardResumeResponseTO.keySkills.split(','); let i=index;">
          {{skill}}
        </span>
      </div>
    </div>
  </div>
</div>
</ng-container>
<ng-container *ngIf="loader">
  <alt-monster-detail-loader></alt-monster-detail-loader>
</ng-container>