<alt-work-experience-loader *ngIf="internshipExpLoader == 'loader'"></alt-work-experience-loader>
<ng-container *ngIf="internshipExpLoader == 'data' || internshipExpLoader == 'nodata' ">
  <div class="panel-heading clearfix" *ngIf="security?.internshipSectionRendered">
    <h2 class="panel-title fl-left text-capitalize">{{security?.internshipSectionLabel | formatCapitalize}}</h2>
  </div>
  <div *ngIf="internshipExpLoader == 'nodata'">
    <div class="panel-body">
      <span class="panel-col panel-col1 text-description">{{'common.label.noDataAvailable' | translate}}</span>
    </div>
  </div>
  <div class="panel-body" *ngIf="security?.internshipSectionRendered && internshipExperiences?.length>0">
    <div *ngFor="let internshipExperience of internshipExperiences; let i= index;">
      <div class="panel-row clearfix" *ngIf="security?.internshipJobTitleRendered">
        <span class="panel-col panel-col1">{{security?.internshipJobTitleTitle}}</span>
        <span class="panel-col text-bold-cell">{{internshipExperience.jobTitle}}</span>
      </div>
      <div class="panel-row clearfix" *ngIf="security?.internshipCompanyRendered">
        <span class="panel-col panel-col1">{{security?.internshipCompanyTitle}}</span>
        <span class="panel-col text-bold-cell">{{internshipExperience.companyName}}</span>
      </div>
      <div class="panel-row clearfix" *ngIf="security?.internshipDescriptionRendered">
        <span class="panel-col panel-col1">{{security?.internshipDescriptionTitle}} </span>
        <span class="panel-col text-bold-cell">{{internshipExperience.description}}</span>
      </div>
      <div class="panel-row clearfix" *ngIf="security?.internshipCompanyStartDateRendered">
        <span class="panel-col panel-col1">{{security?.internshipCompanyStartDateTitle}}</span>
        <span class="panel-col text-bold-cell">{{internshipExperience.startDate}}</span>
      </div>
      <div class="panel-row clearfix" *ngIf="security?.internshipCompanyEndDateRendered">
        <span class="panel-col panel-col1">{{security?.internshipCompanyEndDateTitle}}</span>
       <span class="panel-col text-bold-cell" *ngIf="!internshipExperience.currentlyWorkingHere">{{internshipExperience.endDate}}</span>
        <span class="panel-col text-bold-cell" *ngIf="internshipExperience.currentlyWorkingHere">{{todaysDate}}</span>
      </div>
      <div class="panel-row clearfix" *ngIf="security?.internshipStillWorkingHereRendered">
        <span class="panel-col panel-col1">{{security?.internshipStillWorkingHereLabel}}</span>
        <span class="panel-col text-bold-cell">{{internshipExperience.currentlyWorkingHere?"Yes":"No"}}</span>
      </div>
      <div class="divider divider-pad clearfix" *ngIf="i != internshipExperiences.length - 1"></div>
    </div>
  </div>
</ng-container>