<div class="main-title-row">
    <h1 class="main-title">{{'candidate.list.untaggedCandidates' | translate}}</h1>
</div>
<!-- Section filter -->
<div class="section-filter">
	<div class="section-filter-inner">
        <ul class="list-reset clearfix">
            <li class="filter-by-block">
                <label class="filter-cell">
                    <span class="icon-filter filter-mobile"></span>
                    <span class="text-filter">{{'common.label.filterby' | translate}} </span>
                    <span class="text-filter mobile-only">(3)</span>
                    <span class="mdi mdi-chevron-down md24 mobile-only"></span>
                </label>
                <div class="dropdown-block">
                    <div class="applied-outer mobile-applied">
                        <span class="applied-text">Sr.Consultant Technology[x]</span>
                        <span class="applied-text">Java,C++[x]</span>
                        <span class="applied-text">Employee Referral [x]</span>
                        <span class="applied-text">Andhra Pradesh [x]</span>
                        <span class="applied-text">Rambir Singh [x]</span>
                        <span class="applied-text">Screening[x]</span>
                        <span class="applied-text gray-color">Clear All [x]</span>
                    </div>
                    <ul class="list-reset dropdown-filter-block">
                        <li class="dropdown">
                            <a href="#" class="dropdown-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="text-dropdown">{{'common.label.job' | translate}}</span><span class="mdi mdi-chevron-down md24"></span></a>
                            <div class="dropdown-8 dropdown-style">
                                <div class="input-group search-block">
                                    <input type="text" class="form-control" id="RecruiterSearch" placeholder="Search job name or job code…" />
                                    <span class="input-group-btn">
                                                                <button class="btn material-icons dp20" type="submit">search</button>
                                                            </span>
                                </div>
                                <ul class="list-reset vertical-scrollbox">
                                    <li>
                                        <a href="#">
                                            <span class="job-status job-active"></span>
                                            <div class="common-cell">
                                                <span class="name-cell text-nowrap-grad">Senior Consultant Technology</span>
                                                <span class="job-code">Job/Code/000000</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="job-status job-active"></span>
                                            <div class="common-cell">
                                                <span class="name-cell text-nowrap-grad">Senior Consultant Technology</span>
                                                <span class="job-code">Job/Code/000000</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="job-status job-active"></span>
                                            <div class="common-cell">
                                                <span class="name-cell text-nowrap-grad">Senior Consultant Technology TechnologyTechnology</span>
                                                <span class="job-code">Job/Code/000000</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="job-status job-active"></span>
                                            <div class="common-cell">
                                                <span class="name-cell text-nowrap-grad">Senior Consultant Technology</span>
                                                <span class="job-code">Job/Code/000000</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="job-status job-active"></span>
                                            <div class="common-cell">
                                                <span class="name-cell text-nowrap-grad">Senior Consultant Technology</span>
                                                <span class="job-code">Job/Code/000000</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="job-status job-active"></span>
                                            <div class="common-cell">
                                                <span class="name-cell text-nowrap-grad">Senior Consultant Technology</span>
                                                <span class="job-code">Job/Code/000000</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="text-dropdown">Skills </span><span class="mdi mdi-chevron-down md24"></span></a>
                            <div class="dropdown-L11 dropdown-style dropdown-250 dropdown-form-destop">
                                <div class="input-group search-block">
                                    <input type="text" class="form-control" id="LocationSearch1" placeholder="Search skills…" />
                                    <span class="input-group-btn">
                                                                <button class="btn material-icons dp20" type="submit">search</button>
                                                            </span>
                                </div>
                                <ul class="list-reset">
                                    <li>
                                        <div class="checkbox checkbox-inline">
                                            <input class="styled" id="java" value="option1" type="checkbox">
                                            <label for="java" class="name-cell">java</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-inline">
                                            <input class="styled" id="C++" value="option1" type="checkbox">
                                            <label for="C++" class="name-cell">C++</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-inline">
                                            <input class="styled" id="SQL" value="option1" type="checkbox">
                                            <label for="SQL" class="name-cell">SQL</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-inline">
                                            <input class="styled" id="Sales" value="option1" type="checkbox">
                                            <label for="Sales" class="name-cell">Sales</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="text-dropdown">All Sources </span><span class="mdi mdi-chevron-down md24"></span></a>
                            <ul class="list-reset dropdown-7 dropdown-style dropdown-form-destop">
                                <li><a href="#">Employee Referral</a></li>
                                <li><a href="#">Internal Transfer</a></li>
                                <li><a href="#">Candidate Portal</a></li>
                                <li>
                                    <a href="#">Social Media<span class="mdi mdi-chevron-down md24"></span></a>
                                    <ul class="list-reset sub-dropdown-7">
                                        <li>
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" class="styled" id="Drop11" value="option1" />
                                                <label for="Drop11">Facebook</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" class="styled" id="Hold11" value="option1" />
                                                <label for="Hold11">Twitter</label>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Job Boards<span class="mdi mdi-chevron-down md24"></span></a>
                                    <ul class="list-reset sub-dropdown-7">
                                        <li>
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" class="styled" id="Confirmed1" value="option1" />
                                                <label for="Confirmed1">Monster</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" class="styled" id="Drop22" value="option1" />
                                                <label for="Drop22">Naukri</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" class="styled" id="Hold22" value="option1" />
                                                <label for="Hold22">Shine</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" class="styled" id="NoShow1" value="option1" />
                                                <label for="NoShow1">IIM Jobs</label>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Vendors<span class="mdi mdi-chevron-down md24"></span></a>
                                    <ul class="list-reset sub-dropdown-7">
                                        <li>
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" class="styled" id="Confirmed33" value="option1" />
                                                <label for="Confirmed33">Platinum</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" class="styled" id="Drop234" value="option1" />
                                                <label for="Drop234">Gold</label>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="text-dropdown">Location</span><span class="mdi mdi-chevron-down md24"></span></a>
                            <div class="dropdown-8 dropdown-style">
                                <div class="input-group search-block">
                                    <input type="text" class="form-control" id="LocationSearch" placeholder="Search city…" />
                                    <span class="input-group-btn">
                                                                    <button class="btn material-icons dp20" type="submit">search</button>
                                                                </span>
                                </div>
                                <ul class="list-reset vertical-scrollbox">
                                    <li><a href="#">Andhra Pradesh</a></li>
                                    <li><a href="#">Arunachal Pradesh</a></li>
                                    <li><a href="#">Chhattisgarh </a></li>
                                    <li><a href="#">Haryana</a></li>
                                    <li><a href="#">Punjab</a></li>
                                    <li><a href="#">Rajasthan </a></li>
                                    <li><a href="#">Tamil Nadu </a></li>
                                    <li><a href="#">Tamil Nadu </a></li>
                                    <li><a href="#">Tamil Nadu </a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="text-dropdown">Recruiter</span><span class="mdi mdi-chevron-down md24"></span></a>
                            <div class="dropdown-8 dropdown-style">
                                <div class="input-group search-block">
                                    <input type="text" class="form-control" id="RecruiterSearchRecruiter" placeholder="Search name or job code…" />
                                    <span class="input-group-btn">
                                                                        <button class="btn material-icons dp20" type="submit">search</button>
                                                                    </span>
                                </div>
                                <ul class="list-reset vertical-scrollbox">
                                    <li>
                                        <a href="#">
                                            <span class="name-cell text-nowrap-grad">Rambir singh</span>
                                            <span class="job-code">210760</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="name-cell text-nowrap-grad">Ravi</span>
                                            <span class="job-code">2107602</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="name-cell text-nowrap-grad">Hitesh</span>
                                            <span class="job-code">260760</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="name-cell text-nowrap-grad">shokat</span>
                                            <span class="job-code">110760</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="name-cell text-nowrap-grad">Sharon Mercy</span>
                                            <span class="job-code">560760</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="name-cell text-nowrap-grad">Sharon Mercy</span>
                                            <span class="job-code">210760</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="text-dropdown">Stage/Status</span><span class="mdi mdi-chevron-down md24"></span></a>
                            <ul class="list-reset dropdown-7 dropdown-style dropdown-form-destop">
                                <li>
                                    <a href="#">Screening <span class="mdi mdi-chevron-down md24"></span></a>
                                    <ul class="list-reset sub-dropdown-7">
                                        <li>
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" class="styled" id="Drop" value="option1" />
                                                <label for="Drop">Drop</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" class="styled" id="Hold" value="option1" />
                                                <label for="Hold">Hold</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" class="styled" id="Pending" value="option1" />
                                                <label for="Pending">Pending</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" class="styled" id="Rejected" value="option1" />
                                                <label for="Rejected">Rejected</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" class="styled" id="Screened" value="option1" />
                                                <label for="Screened">Screened</label>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Shortlisting<span class="mdi mdi-chevron-down md24"></span></a>
                                    <ul class="list-reset sub-dropdown-7">
                                        <li>
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" class="styled" id="Drop1" value="option1" />
                                                <label for="Drop1">Drop</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" class="styled" id="Hold1" value="option1" />
                                                <label for="Hold1">Hold</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" class="styled" id="Pending1" value="option1" />
                                                <label for="Pending1">Pending</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" class="styled" id="Rejected1" value="option1" />
                                                <label for="Rejected1">Rejected</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" class="styled" id="Sent" value="option1" />
                                                <label for="Sent">Sent</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" class="styled" id="Shortlisted" value="option1" />
                                                <label for="Shortlisted">Shortlisted</label>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Tech Interview 1<span class="mdi mdi-chevron-down md24"></span></a>
                                    <ul class="list-reset sub-dropdown-7">
                                        <li>
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" class="styled" id="Confirmed" value="option1" />
                                                <label for="Confirmed">Confirmed</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" class="styled" id="Drop2" value="option1" />
                                                <label for="Drop2">Drop</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" class="styled" id="Hold2" value="option1" />
                                                <label for="Hold2">Hold</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" class="styled" id="NoShow" value="option1" />
                                                <label for="NoShow">No Show</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" class="styled" id="Pending2" value="option1" />
                                                <label for="Pending2">Pending</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" class="styled" id="Qualified" value="option1" />
                                                <label for="Qualified">Qualified</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" class="styled" id="Rejected2" value="option1" />
                                                <label for="Rejected2">Rejected</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" class="styled" id="ReSchedule" value="option1" />
                                                <label for="ReSchedule">Re-Schedule</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" class="styled" id="Schedule" value="option1" />
                                                <label for="Schedule">Schedule</label>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">HR Interview 2<span class="mdi mdi-chevron-down md24"></span></a>
                                    <ul class="list-reset sub-dropdown-7">
                                        <li>
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" class="styled" id="Confirmed3" value="option1" />
                                                <label for="Confirmed3">Confirmed</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" class="styled" id="Drop23" value="option1" />
                                                <label for="Drop23">Drop</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" class="styled" id="Hold23" value="option1" />
                                                <label for="Hold23">Hold</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" class="styled" id="NoShow3" value="option1" />
                                                <label for="NoShow3">No Show</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" class="styled" id="Pending23" value="option1" />
                                                <label for="Pending23">Pending</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" class="styled" id="Qualified3" value="option1" />
                                                <label for="Qualified3">Qualified</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" class="styled" id="Rejected23" value="option1" />
                                                <label for="Rejected23">Rejected</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" class="styled" id="ReSchedule3" value="option1" />
                                                <label for="ReSchedule3">Re-Schedule</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" class="styled" id="Schedule3" value="option1" />
                                                <label for="Schedule3">Schedule</label>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Document Check<span class="mdi mdi-chevron-down md24"></span></a>
                                    <ul class="list-reset sub-dropdown-7">
                                        <li>
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" class="styled" id="Document" value="option1" />
                                                <label for="Document">Document</label>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Salary Fitment<span class="mdi mdi-chevron-down md24"></span></a>
                                    <ul class="list-reset sub-dropdown-7">
                                        <li>
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" class="styled" id="SalaryFitment" value="option1" />
                                                <label for="SalaryFitment">Salary Fitment</label>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Offer Generation<span class="mdi mdi-chevron-down md24"></span></a>
                                    <ul class="list-reset sub-dropdown-7">
                                        <li>
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" class="styled" id="Generation" value="option1" />
                                                <label for="Generation">Offer Generation</label>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Stage 10<span class="mdi mdi-chevron-down md24"></span></a>
                                    <ul class="list-reset sub-dropdown-7">
                                        <li>
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" class="styled" id="Stage10" value="option1" />
                                                <label for="Stage10">Stage 10</label>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Stage 11<span class="mdi mdi-chevron-down md24"></span></a>
                                    <ul class="list-reset sub-dropdown-7">
                                        <li>
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" class="styled" id="Stage11" value="option1" />
                                                <label for="Stage11">Stage 11</label>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Stage 12<span class="mdi mdi-chevron-down md24"></span></a>
                                    <ul class="list-reset sub-dropdown-7">
                                        <li>
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" class="styled" id="Stage12" value="option1" />
                                                <label for="Stage12">Stage 12</label>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Stage 13<span class="mdi mdi-chevron-down md24"></span></a>
                                    <ul class="list-reset sub-dropdown-7">
                                        <li>
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" class="styled" id="Stage13" value="option1" />
                                                <label for="Stage13">Stage 13</label>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="add-new-fillter popup-new-fillter">
                            <div class="arrow-doted"></div>
                            <div class="arrow-doted-cover"></div>
                            <div class="arrow-doted-outer"><span class="arrow-doted-inner"><span class="material-icons dp10">add</span>ADD NEW FILTER</span>
                            </div>
                        </li>
                        <li class="mobile-only nav-btn-row">
                            <button class="btn btn-white" type="button">Clear all</button>
                            <button class="btn btn-primary" type="button">apply</button>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="sort-by-block">
                <label class="filter-cell">
                    <span class="icon-filter sort-mobile"></span>
                    <span class="text-filter">{{'common.label.sortBy' | translate}}</span>
                    <span class="mdi mdi-chevron-down md24 mobile-only"></span>
                </label>
                <ul class="list-reset dropdown-block">
                    <li class="dropdown">
                        <a href="#" class="dropdown-button dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="text-dropdown">{{'common.label.sortBy' | translate}}</span><span class="mdi mdi-chevron-down md24"></span></a>
                        <ul class="list-reset dropdown-1 dropdown-150 dropdown-style">
                            <li><a href="#">Created First to Last</a></li>
                            <li><a href="#">Created Last to First</a></li>
                            <li><a href="#">Modified First to Last</a></li>
                            <li><a href="#">Modified Last to First</a></li>
                            <li><a href="#">Alphabetically A to Z</a></li>
                            <li><a href="#">Alphabetically Z to A</a></li>
                        </ul>
                    </li>
                    <li class="divider divider-sort">/</li>
                    <li class="dropdown-calendar margin-r5">
                        <label class="sort-label" for="from"> from</label>
                        <input class="input-item form-control" type="text" id="from" placeholder="DD MM YY" />
                        <span class="material-icons cal-icon">today</span>
                        <div class="section-calendar">
                            <table class="table">
                                <tr>
                                    <th class="prev"><span class="mdi mdi-chevron-left"></span></th>
                                    <th class="switch" colspan="5">July</th>
                                    <th class="next"><span class="mdi mdi-chevron-right"></span></th>
                                </tr>
                                <tr>
                                    <th class="dow">mon</th>
                                    <th class="dow">tue</th>
                                    <th class="dow">wed</th>
                                    <th class="dow">thu</th>
                                    <th class="dow">fri</th>
                                    <th class="dow disabled">sat</th>
                                    <th class="dow disabled ">sun</th>
                                </tr>
                                <tr>
                                    <td class="day old">1</td>
                                    <td class="day old">2</td>
                                    <td class="day">3</td>
                                    <td class="day active">4</td>
                                    <td class="day">5</td>
                                    <td class="day disabled">6</td>
                                    <td class="day disabled">7</td>
                                </tr>
                                <tr>
                                    <td class="day">8</td>
                                    <td class="day">9</td>
                                    <td class="day">10</td>
                                    <td class="day">11</td>
                                    <td class="day">12</td>
                                    <td class="day disabled">13</td>
                                    <td class="day disabled">14</td>
                                </tr>
                                <tr>
                                    <td class="day">15</td>
                                    <td class="day">16</td>
                                    <td class="day">17</td>
                                    <td class="day">18</td>
                                    <td class="day">19</td>
                                    <td class="day disabled">20</td>
                                    <td class="day disabled">21</td>
                                </tr>
                                <tr>
                                    <td class="day">22</td>
                                    <td class="day">23</td>
                                    <td class="day">24</td>
                                    <td class="day">25</td>
                                    <td class="day">26</td>
                                    <td class="day disabled">27</td>
                                    <td class="day disabled">28</td>
                                </tr>
                                <tr>
                                    <td class="day">29</td>
                                    <td class="day">30</td>
                                    <td class="day">31</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                            </table>
                        </div>
                    </li>
                    <li class="dropdown-calendar margin-r5">
                        <label class="sort-label" for="to">to</label>
                        <input class="input-item form-control" type="text" id="to" placeholder="DD MM YY" />
                        <span class="material-icons cal-icon">today</span>
                        <div class="section-calendar">
                            <table class="table">
                                <tr>
                                    <th class="prev"><span class="mdi mdi-chevron-left"></span></th>
                                    <th class="switch" colspan="5">July</th>
                                    <th class="next"><span class="mdi mdi-chevron-right"></span></th>
                                </tr>
                                <tr>
                                    <th class="dow">mon</th>
                                    <th class="dow">tue</th>
                                    <th class="dow">wed</th>
                                    <th class="dow">thu</th>
                                    <th class="dow">fri</th>
                                    <th class="dow disabled">sat</th>
                                    <th class="dow disabled ">sun</th>
                                </tr>
                                <tr>
                                    <td class="day old">1</td>
                                    <td class="day old">2</td>
                                    <td class="day">3</td>
                                    <td class="day active">4</td>
                                    <td class="day">5</td>
                                    <td class="day disabled">6</td>
                                    <td class="day disabled">7</td>
                                </tr>
                                <tr>
                                    <td class="day">8</td>
                                    <td class="day">9</td>
                                    <td class="day">10</td>
                                    <td class="day">11</td>
                                    <td class="day">12</td>
                                    <td class="day disabled">13</td>
                                    <td class="day disabled">14</td>
                                </tr>
                                <tr>
                                    <td class="day">15</td>
                                    <td class="day">16</td>
                                    <td class="day">17</td>
                                    <td class="day">18</td>
                                    <td class="day">19</td>
                                    <td class="day disabled">20</td>
                                    <td class="day disabled">21</td>
                                </tr>
                                <tr>
                                    <td class="day">22</td>
                                    <td class="day">23</td>
                                    <td class="day">24</td>
                                    <td class="day">25</td>
                                    <td class="day">26</td>
                                    <td class="day disabled">27</td>
                                    <td class="day disabled">28</td>
                                </tr>
                                <tr>
                                    <td class="day">29</td>
                                    <td class="day">30</td>
                                    <td class="day">31</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                            </table>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="applied-filters-block">
                <label class="filter-cell">APPLIED</label>
                <div class="applied-outer">
                    <span class="applied-text">Sr.Consultant Technology[x]</span>
                    <span class="applied-text">Java,C++[x]</span>
                    <span class="applied-text">Employee Referral [x]</span>
                    <span class="applied-text">Andhra Pradesh [x]</span>
                    <span class="applied-text">Rambir Singh [x]</span>
                    <span class="applied-text">Screening[x]</span>
                    <span class="applied-text gray-color">Clear All [x]</span>
                </div>

            </li>
        </ul>
    </div>
   <div class="toggle-jobs"><a href="javascript:void(0)" class="toggle-element">hide filters<span class="mdi mdi-chevron-up md24"></span></a></div>
</div>

<!-- \\ End Section filter -->
<div class="jobs-listing clearfix">
    <div class="row">
        <div class="card-block card-3 search-block-section">
            <div class="card-block-inner card-bg-none">
                <div class="input-group search-block">
                    <input type="text" class="form-control" id="searchMobileOne" placeholder="Search candidate name,code or email id…" />
                    <span class="input-group-btn">
                                                <button class="btn material-icons dp20" type="submit">search</button>
                                            </span>
                </div>
            </div>
        </div>
        <div class="card-block card-3 card-bulk-actions">
            <div class="card-block-inner card-bg-none clearfix">
                <div class="select-all-btn col-2">
                    <div class="select-all-btn-inner">
                        <div class="checkbox checkbox-inline">
                            <input type="checkbox" class="styled" id="select" value="option1" />
                            <label for="select" class="custome-label"> select all </label>
                        </div>
                    </div>
                </div>
                <div class="dropdown dropdown-outer-2 col-2">
                    <a href="#" class="bulk-actions dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="text-dropdown">bulk actions</span> <span class="mdi mdi-chevron-down md24"></span></a>
                    <ul class="list-reset dropdown-10 dropdown-style">
                        <li><a href="#">Tag to Job & Email Candidates</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="row pagination-mobile">
        <div class="card-pagination clearfix">
            <label class="pagination-text" for="showingTop">showing</label>
            <div class="dropdown-11">
                <form action="method">
                    <select id="showingTop" name="showing" class="selectpicker">
                                          <option>10</option>
                                          <option>20</option>
                                          <option>30</option>
                                          <option>100</option>
                                        </select>
                </form>
            </div>
            <span class="totale-num text-uppercase">of {{data?.length}}</span>
        </div>
    </div>
    <!--  Section Card-->
    <div class="section-card clearfix">
        <!-- Card Block -->
            <div class="card-block card-3 card-candidate-untagged" *ngFor="let item of data">
                <div class="card-block-inner">
                    <div class="card-top card-row clearfix">
                        <div class="check-box checkbox">
                            <input type="checkbox" class="styled">
                            <label></label>
                        </div>
                        <div class="job-option">
                            <a href="javascript:void(0)" class="menu-click"><span class="material-icons more-icon">more_vert</span></a>
                            <!-- Menu style -->
                            <div class="menu-style menu-style-3">
                                <span class="material-icons close">close</span>
                                <ul class="list-reset dropdown-menu">
                                    <li><a href="#">Update Status</a></li>
                                    <li><a href="#">Move to Another Job</a></li>
                                    <li><a href="#">Transfer Candidates</a></li>
                                    <li><a href="#">Untag Candidates</a></li>
                                    <li><a href="#">Email Candidates</a></li>                                    
                                    <li><a href="#">Tag to Job & Email Candidates</a></li>
                                </ul>
                            </div>
                            <!-- \\ End Menu style -->
                        </div>
                    </div>
                    <div class="card-row card-name-row">
                        <div class="image-block">
                            <img src="./assets/images/svg/profile_male.svg" alt="profile img" />
                        </div>
                        <span class="material-icons flag-icon">flag</span>
                        <div class="title-cell">
                            <h3 class="title" *ngIf="(getLength(item.firstName)+getLength(item.middleName)+getLength(item.lastName))<=20">
                                <a class="link" [routerLink]="['/candidate/edit-candidate', item.candidateCode | formatCandidatecodeParam]">
                                    {{item.firstName | lowercasepipe}} {{item.middleName | lowercasepipe}} {{item.lastName | lowercasepipe}}
                                </a>
                            </h3>
                            <h3 class="title text-nowrap-grad-white" matTooltip="{{item.firstName}} {{item.middleName}} {{item.lastName}}" *ngIf="(getLength(item.firstName)+getLength(item.middleName)+getLength(item.lastName))>20">
                                <a class="link" [routerLink]="['/candidate/edit-candidate', item.candidateCode | formatCandidatecodeParam]">
                                    {{item.firstName | lowercasepipe}} {{item.middleName | lowercasepipe}} {{item.lastName | lowercasepipe}}
                                </a>
                            </h3>
                            <ul class="list-reset listing-inline">
                                <li class="text-uppercase" *ngIf="item.candidateCode != null && item.candidateCode.length <= 20">{{item.candidateCode}}</li>
                                <li class="text-uppercase" matTooltip="{{item.candidateCode}}" *ngIf="item.candidateCode != null && item.candidateCode.length > 20">{{item.candidateCode | stringTrim:20}}</li>
                                <li class="last-child" *ngIf="item.city != null && item.city.length <= 45">{{item.city.toLowerCase()}}</li>
                                <li class="last-child" matTooltip="{{item.city}}" *ngIf="item.city != null && item.city.length > 45">{{item.city.toLowerCase() | stringTrim:45}}</li>                                        
                            </ul>
                        </div>
                    </div>
                    <div class="card-row card-profile-row border-bot-none clearfix">
                        <div class="profile-completed">
                            <div class="profile-graph">
                                <div class="c100 p75">
                                    <div class="slice">
                                        <div class="bar"></div>
                                        <div class="fill"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="profile-graph-details">
                                <span class="profile-percent">75%</span>
                                <span class="text-cell">Job Details Complete</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-row last-border clearfix" *ngIf="item.skills?.split(',').length>0">
                        <div class="skill-row clearfix">
                        <span  *ngFor="let skill of item.skills?.split(',');let i=index">
                            <span class="tag-job" *ngIf="i<5">{{skill}}</span>
                        </span>
                        </div>
                    </div>
                </div>
                <div class="btn-row mrg-lf-20">
                    <a href="javascript:void(0)" class="btn btn-gray popup-small-click">tag to job</a>
                    <!-- Popup Small -->
                    <div class="popup-small">
                        <div class="popup-top clearfix">
                            <span class="material-icons close">close</span>
                            <h2 class="title">Tag / Move / Copy candidates to another job </h2>
                        </div>
                        <div class="popup-small-inner clearfix">
                            <div class="input-group search-block">
                                <input type="text" class="form-control" id="HiringSssearch" placeholder="Search candidate name,code or email id…" />
                                <span class="input-group-btn">
                                                        <button class="btn material-icons dp20" type="submit">search</button>
                                                    </span>
                            </div>
                            <div class="listing-popup-block vertical-scrollbox">
                                <ul class="list-reset listing-popup">
                                    <li>
                                        <div class="checkbox checkbox-inline">
                                            <input class="styled" id="senior1" value="option1" type="checkbox">
                                            <label for="senior1" class="name-cell font-bold">
                                                            <span class="job-status job-accepted"></span><span class="text-nowrap-grad">Senior Consultant Technology</span></label>
                                            <span class="job-code">JobCode/0000/Konat</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-inline">
                                            <input class="styled" id="senior2" value="option1" type="checkbox">
                                            <label for="senior2" class="name-cell font-bold">
                                                            <span class="job-status job-accepted"></span><span class="text-nowrap-grad">Senior Consultant Technology</span></label>
                                            <span class="job-code">JobCode/0000/Konat</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-inline">
                                            <input class="styled" id="senior3" value="option1" type="checkbox">
                                            <label for="senior3" class="name-cell font-bold">
                                                            <span class="job-status job-accepted"></span><span class="text-nowrap-grad">Senior Consultant Technology</span></label>
                                            <span class="job-code">JobCode/0000/Konat</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-inline">
                                            <input class="styled" id="senior4" value="option1" type="checkbox">
                                            <label for="senior4" class="name-cell font-bold">
                                                            <span class="job-status job-accepted"></span><span class="text-nowrap-grad">Senior Consultant Technology</span></label>
                                            <span class="job-code">JobCode/0000/Konat</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-inline">
                                            <input class="styled" id="senior5" value="option1" type="checkbox">
                                            <label for="senior5" class="name-cell font-bold">
                                                            <span class="job-status job-accepted"></span><span class="text-nowrap-grad">Senior Consultant Technology</span></label>
                                            <span class="job-code">JobCode/0000/Konat</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-inline">
                                            <input class="styled" id="senior6" value="option1" type="checkbox">
                                            <label for="senior6" class="name-cell font-bold">
                                                            <span class="job-status job-accepted"></span><span class="text-nowrap-grad">Senior Consultant Technology</span></label>
                                            <span class="job-code">JobCode/0000/Konat</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-inline">
                                            <input class="styled" id="senior7" value="option1" type="checkbox">
                                            <label for="senior7" class="name-cell font-bold">
                                                            <span class="job-status job-accepted"></span><span class="text-nowrap-grad">Senior Consultant Technology</span></label>
                                            <span class="job-code">JobCode/0000/Konat</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-inline">
                                            <input class="styled" id="senior8" value="option1" type="checkbox">
                                            <label for="senior8" class="name-cell font-bold">
                                                            <span class="job-status job-accepted"></span><span class="text-nowrap-grad">Senior Consultant Technology Mana</span></label>
                                            <span class="job-code">JobCode/0000/Konat</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="btn-row fl-right">
                            <a href="javascript:void(0)" class="btn btn-white">cancel</a>
                            <a href="javascript:void(0)" class="btn btn-primary">TAG / MOVE / COPY</a>
                        </div>
                    </div>
                    <!-- \\ End Popup Small-->
                </div>
            </div>
        </div>
        <!-- \\ End Card Block -->