<div class="panel panel-open">
    <div class="panel-heading clearfix">
        <h2 class="panel-title fl-left">Scorecard</h2>
    </div>
    <!--  Assessment Completed -->
    <div class="panel-body" *ngIf=" (assessmentList == null || assessmentList.length==0) &&(scoreCardResponse == null || scoreCardResponse.length == 0)">
        <span class="font-bold">{{'common.label.noDataAvailable' | translate}}</span>
    </div>
    <div class="panel-body" *ngIf="(assessmentList != null && assessmentList.length>0) || (scoreCardResponse != null && scoreCardResponse.length>0)">
        <div *ngIf="assessmentList != null">
            <div class="table-responsive" *ngFor="let data of assessmentList; let i = index;">
                <div class="clearfix">
                    <h2 class="title-12-gray fl-left">Assessment test result {{i+1}}</h2>
                    <a *ngIf="data?.reportLink != null && data?.reportLink != ''" href="{{data.reportLink}}" target="_blank" class="link fl-right">
                        <span class="material-icons dp20 margin-none print-displayNone">file_download</span>
                    </a>
                </div>
                <table class="table document-table">
                    <thead>
                        <tr>
                            <th class="count-cell">#</th>
                            <th class="doc-name-cell">Assessment Name</th>
                            <th class="width90 text-center" *ngIf="data.maxScore != 'undefined' && data.maxScore != null && data.maxScore != ''">Max Score</th>
                            <th class="width105 text-center">Score Obtained</th>
                            <th class="width105 text-center">Result</th>
                            <th class="width150 text-center">Test Completion Date</th>
                            <th class="width150 text-center">Test Completion Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let option of data.assessmentFeedbackScorecardList; let i1=index;">
                            <td class="count-cell">{{i1+1}}</td>
                            <td class="doc-name-cell">{{option.parameter}}</td>
                            <td class="width90 text-center" *ngIf="data.maxScore != 'undefined' && data.maxScore != null && data.maxScore != ''">{{data.maxScore}}</td>
                            <td class="width105 text-center">{{option.score}}</td>
                            <td class="width105 text-center" *ngIf="data.cleared==null" >NA</td>
                            <td class="width105 text-center" *ngIf="data.cleared!=null && data.cleared" >Pass</td>
                            <td class="width105 text-center" *ngIf="data.cleared!=null && !data.cleared" >Fail</td>
                            <td class="width150 text-center">{{getEndDate(data.endTime) | date:'MM/dd/yyyy'}}</td>
                            <td class="width150 text-center">{{getEndTime(data.endTime) | date:'h:mm a'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- \\ End Assessment Completed  -->
        <!--  Scorecard Feedback Block -->
        <ng-container *ngFor="let scoreCard of scoreCardResponse, let i=index;">
            <div class="candidate-tab-detail-block">
                <div class="sub-toggle {{toggleOpen[i]?'sub-toggle-open':'sub-toggle-close'}}">
                    <div class="sub-toggle-title">
                        <h3 class="title-12 font12 fl-left">{{scoreCard.stage}} FEEDBACK 
                            <span class="feedback-by-name">given by {{scoreCard.employeeName}}</span>
                            <span class="date-time">({{scoreCard.createDate}})</span>
                        </h3>
                        <span class="feedback-cell-right fl-right">
                            <a *ngIf="scoreCard.recruiterDocumentPath?.length>0" href="{{scoreCard.recruiterDocumentPath}}" class="purple-color"><span class="material-icons dp18 print-displayNone">file_download</span> download</a>
                            <span class="material-icons keyboard_arrow_up" (click)="toggleDiv(i)"></span>
                         </span>
                    </div>
                    <div class="candidate-tab-detail-inner clearfix">
                        <div class="sub-toggle-containt" *ngIf="toggleOpen[i]">
                            <ng-container *ngFor="let competency of scoreCard.competency">
                                <!-- Card Block -->
                                <div class="card-block card-3">
                                    <div class="card-block-inner ">
                                        <div class="card-row-top-feed">
                                            <h4 class="title-12">{{competency.label}}</h4>
                                            <span class="sales-opr">({{competency.sysType.toLowerCase()}})</span>
                                            <div class="star-rating-block">
                                                <ng-container *ngFor="let rating of ratings">
                                                    <span class="mdi mdi-star {{getRating(competency.value, rating)}}"></span>
                                                </ng-container>
                                            </div>
                                        </div>
                                        <div class="card-row-feed">
                                            <span class="comments-label">Comments:</span>
                                            <p class="comments-text">{{competency.comment}}</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- \\ End Card Block -->
                            </ng-container>

                            <!-- Card Block -->
                            <div *ngIf="scoreCard.comment?.length>0 || scoreCard.audioPath?.length>0" class="card-block card-1 card-full-feedback">
                                <div class="card-block-inner">
                                    <div class="card-row clearfix">
                                        <span *ngIf="scoreCard.comment?.length>0" class="text-cell fl-left">{{scoreCard.comment}}</span>
                                        <a *ngIf="scoreCard.audioPath?.length>0" href="{{scoreCard.audioPath}}" class="material-icons volume-icon fl-right cursor" target="_blank" matTooltip="Download Audio Feedback">volume_up</a>
                                    </div>
                                </div>
                            </div>
                            <!-- \\ End Card Block -->
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
    <!-- \\ End Scorecard Feedback Block -->
</div>