<!-- Section publish to vendors -->
<div class="popup-custome-section">
    <div class="popup-top clearfix" mat-dialog-title>
        <h2 class="title-sub">{{'job.job_list.assignToVendor' | translate}}</h2>
        <span class="material-icons close" (click)="dialogRef.close('Cancel')">close</span>
    </div>
    <div class="notification-bar {{severityClass}} {{showClass}}" *ngIf="message.length > 0">
        <span class="material-icons successful-icon">check_circle</span>
        <div class="notification-text-outer">
            <span class="notification-text">{{message}}</span>
        </div>
        <span class="material-icons close" (click)="clearMessages()">close</span>
    </div>
    <div class="vertical-scroll-ng" slimScroll mat-dialog-content>
        <div class="popup-inner padding20t">
            <!--<h4 class="title-sub">Vendors</h4>-->
            <div class="popup-row clearfix" *ngFor="let vendorDetail of reqVendorDataList, let i = index">
                <div class="popup-cell-1 popup-cell-dev">
                    <div class="popup-cell-inner dropdown">
                        <alt-select [options]="vendorList" [multiple]="false" placeholder="{{'common.label.select' | translate}}" [(ngModel)]="vendorDetail.vendorIdStrVal" [allowClear]="false">
                        </alt-select>
                    </div>
                </div>
                <div class="popup-cell-2 popup-cell-dev">
                    <div class="popup-cell-inner">
                        <alt-datepicker class="dropdown-calendar" [mode]="landscape" [type]="'date'" [(ngModel)]="vendorDetail.targetDate" #tDate
                            (change)="selectTargetDate(tDate.value)" placeholder="{{'common.label.targetDate' | translate}}"></alt-datepicker>
                    </div>
                </div>
                <div class="popup-cell-3">
                    <div class="popup-cell-inner">
                        <input mdInput class="form-control" placeholder="{{'common.label.OPENINGS' | translate}}" [(ngModel)]="vendorDetail.assignedOpenings" />
                    </div>
                </div>
                <div class="popup-cell-4">
                    <div class="popup-cell-inner">
                        <span class="material-icons delete-icon" (click)="deleteRow(i)">delete</span>
                    </div>
                </div>
            </div>
            <div class="add-new-btn-outer margin-bot-pad add-new-btn-custome" (click)="addRow()">
                <div class="add-new-btn"><span class="material-icons dp10">add</span> {{'job.job_list.addVendor' | translate}}</div>
            </div>

            <div class="popup-top clearfix popup-toplr15">
                <h3 class="title-sub margin-bot-none">{{'job.job_list.selectedJobs' | translate}}</h3>
            </div>
            <div class="popup-top clearfix popup-toplr15" *ngFor="let data of datalist; let i = index;">
                <div class="popup-title-row">
                    <h2 class="title">
                        <span class="job-status {{getJobStatusClass(data.sysRequisitionStatus)}}"></span>
                        <span *ngIf="data.jobTitle.length>50" matTooltip="{{data.jobTitle | lowercasepipe}}">{{data.jobTitle.toLowerCase() | stringTrim:50}}</span>
                        <span *ngIf="data.jobTitle.length<=50">{{data.jobTitle | lowercasepipe}}</span>
                        <span class="job-code">{{data.requisitionCode}}</span>
                    </h2>
                </div>
                <div class="popup-top-description">
                    <ul class="list-reset listing-inline max-width90">
                        <li class="character-count-45" matTooltip="{{data.orgUnitCode | lowercasepipe}}" *ngIf="data.orgUnitCode !=null && data.orgUnitCode.length>70">{{data.orgUnitCode | lowercasepipe}}</li>
                        <li *ngIf="data.orgUnitCode !=null && data.orgUnitCode.length<=70">{{data.orgUnitCode | lowercasepipe}}</li>
                        <li class="character-count-45" matTooltip="{{data.joiningLocation | lowercasepipe}}" *ngIf="data.joiningLocation !=null && data.joiningLocation.length>50">{{data.joiningLocation | lowercasepipe}}</li>
                        <li *ngIf="data.joiningLocation !=null && data.joiningLocation.length<=50">{{data.joiningLocation | lowercasepipe}}</li>
                        <li class="last-item" *ngIf="data.modifiedDate">{{'common.label.createdOn' | translate}}<span class="link">{{data.modifiedDate | date:'dd/MM/yyyy'}}</span></li>
                    </ul>
                    <div class="popup-openings">
                        <span class="text-bold-cell">{{data.noOfOpening}}</span>
                        <span class="text-cell">{{'common.label.OPENINGS' | translate}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions class="btn-row text-right">
    <button href="javascript:void(0)" class="btn btn-white" (click)="dialogRef.close('Cancel')" [disabled]="assignVendor">{{'common.label.cancel' | translate}}</button>
    <!--<a href="javascript:void(0)" class="btn btn-primary" (click)="assignJobToVendor()">Assign</a>-->
    <alt-spinner-button (myEvent)="assignJobToVendor($event)" [spinner]="assignVendor" [spinnerdisabled]="assignVendor" [text]="lable"></alt-spinner-button>
</div>
<!-- \\ End Section publish to vendors -->