<div class="card-block card-3 card-candidate-tagged">
  <div class="card-block-inner">
    <div class="card-top card-row clearfix">
      <div class="check-box checkbox">
        <input type="checkbox" class="styled">
        <label></label>
      </div>
      <div class="job-option">
        <a href="javascript:void(0)" class="menu-click"><span class="material-icons more-icon">more_vert</span></a>
        <!-- Menu style -->
        <div class="menu-style menu-style-2">
          <span class="material-icons close">close</span>
          <ul class="list-reset dropdown-menu">
            <li><a href="#">Publish To Employee Referral</a></li>
            <li><a href="#">Publish To Internal Transfer</a></li>
            <li><a href="#">Publish To Candidate Portal</a></li>
            <li><a href="#">Publish To Social Media</a></li>
            <li><a href="#">Publish To Social Media</a></li>
            <li><a href="#">Publish To Vendors</a></li>
            <li><a href="#">Assign To Recruiter</a></li>
            <li>
              <ul class="list-reset change-job-status">
                <li class="divider"></li>
                <li class="heading">Change Job Status</li>
                <li class="active"><a href="#"><span class="job-status job-active"></span>Active</a></li>
                <li><a href="#"><span class="job-status job-close"></span>Close</a></li>
                <li><a href="#"><span class="job-status job-pending"></span>Approval Pending</a></li>
                <li><a href="#"><span class="job-status job-hold"></span>On Hold</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- \\ End Menu style -->
      </div>
    </div>
    <div class="card-row card-name-row">
      <div class="image-block">
        <img src="./assets/images/svg/profile_male.svg" alt="profile img" />
      </div>
      <span class="material-icons flag-icon">flag</span>
      <div class="title-cell">        
          <h3 class="title" *ngIf="(taggedCandidate.firstName+taggedCandidate.middleName+taggedCandidate.lastName).length<=22">
              <a class="link" [routerLink]="['/candidate/edit-candidate',taggedCandidate.candidateCode | formatJobcodeParam]">
                {{taggedCandidate.firstName | lowercasepipe}} {{taggedCandidate.middleName | lowercasepipe}} {{taggedCandidate.lastName | lowercasepipe}}
              </a>
          </h3>
          <h3 class="title text-nowrap-grad-white" *ngIf="(taggedCandidate.firstName+taggedCandidate.middleName+taggedCandidate.lastName).length>22" matTooltip="{{taggedCandidate.firstName}} {{taggedCandidate.middleName}} {{taggedCandidate.lastName}}">
              <a class="link" [routerLink]="['/candidate/edit-candidate',taggedCandidate.candidateCode | formatJobcodeParam]">
                {{taggedCandidate.firstName | lowercasepipe}} {{taggedCandidate.middleName | lowercasepipe}} {{taggedCandidate.lastName | lowercasepipe}}
              </a>
          </h3>
          <ul class="list-reset listing-inline">
            <li class="text-uppercase" *ngIf="taggedCandidate.candidateCode">{{taggedCandidate.candidateCode}}</li>                
            <li class="last-child" *ngIf="taggedCandidate.location != null && taggedCandidate.location.length <= 40">{{taggedCandidate.location.toLowerCase()}}</li>
            <li class="last-child" matTooltip="{{taggedCandidate.location}}" *ngIf="taggedCandidate.location != null && taggedCandidate.location.length > 40">{{taggedCandidate.location.toLowerCase() | stringTrim:40}}</li>
          </ul>
      </div>
    </div>
    <div class="card-row card-profile-row clearfix">
      <div class="profile-completed">
        <div class="profile-graph">
          <div class="c100 p75">
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
        </div>
        <div class="profile-graph-details">
          <span class="profile-percent">75%</span>
          <span class="text-cell">profile Complete</span>
        </div>
      </div>
      <div class="profile-match">
        <div class="profile-graph">
          <div class="c100 p52 green">
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
        </div>
        <div class="profile-graph-details">
          <span class="profile-percent">52%</span>
          <span class="text-cell">match</span>
        </div>
      </div>
    </div>
    <div class="card-row ver-row clearfix">
      <div class="background-ver">{{taggedCandidate.stageName}} : <span class="pending org">{{taggedCandidate.stageStatus}}</span></div>
      <div class="candidate-stages-bar-outer clearfix">
          <ul class="list-reset candidate-stages-bar">
              <li class="dot org"></li>
              <li class="bar"></li>
              <li class="dot"></li>
              <li class="bar"></li>
              <li class="dot"></li>
              <li class="bar"></li>
              <li class="dot"></li>
              <li class="bar"></li>
              <li class="dot"></li>
              <li class="bar"></li>
              <li class="dot"></li>
              <li class="bar"></li>
              <li class="dot"></li>
              <li class="bar"></li>
              <li class="dot"></li>
              <li class="bar"></li>
              <li class="dot"></li>
              <li class="bar"></li> 
              <li class="dot"></li>
              <li class="bar"></li> 
              <li class="dot"></li>
              <li class="bar"></li> 
              <li class="dot"></li>
              <li class="bar"></li> 
              <li class="dot"></li>
              <li class="bar"></li>                                                    
          </ul>
      </div>
    </div>    
    <div class="card-row source-row clearfix">
      <span class="rounded-block margin-r15"><img src="./assets/images/svg/linked_in.svg" alt="Linked in"></span>
      <div class="description-cell width35">
        <span class="text-cell">Source</span>
        <span class="text-bold-cell text-nowrap-grad-white" matTooltip="{{taggedCandidate.sourceType}}">{{taggedCandidate.sourceType}}</span>
      </div>
      <div class="description-cell width44">
        <span class="text-cell">Source Code</span>
        <span class="text-bold-cell">000/000</span>
      </div>
    </div>
  </div>
  <div class="btn-row mrg-lf-20">
    <a [routerLink]="['/candidate/edit-candidate-tagged', taggedCandidate.candidateCode | formatCandidatecodeParam,'hiring-process']" [queryParams]="{ appid:taggedCandidate.applicantStatusID }" class="btn btn-gray">TAKE ACTION</a>
  </div>
</div>