<alt-loader *ngIf="showloader"></alt-loader>
	<div class="job-details-inner" [class.job-details-full]="isJobApproval" >
	<div class="card-block">
		<div class="card-block-inner">
			<div class="card-designation clearfix">
				<h2 class="title">
					<span class="job-status {{getJobStatusClass(jobSummaryData.jobStatus)}}"></span>
					<!-- <a [routerLink]="['/job/joblist']"> -->
					<span matTooltip="{{jobSummaryData?.jobName | lowercasepipe}}" *ngIf="jobSummaryData?.jobName != null && jobSummaryData?.jobName.length > 40">{{jobSummaryData?.jobName.toLowerCase() | stringTrim:40}}</span>
                    <span *ngIf="jobSummaryData?.jobName != null && jobSummaryData?.jobName.length <= 40">{{jobSummaryData?.jobName | lowercasepipe}}</span>
					<span class="job-code text-uppercase character-count-35" matTooltip="{{jobSummaryData?.jobCode}}" *ngIf="jobSummaryData?.jobCode != null && jobSummaryData?.jobCode.length > 35">{{jobSummaryData?.jobCode}}</span>
                    <span class="job-code text-uppercase" *ngIf="jobSummaryData?.jobCode != null && jobSummaryData?.jobCode.length <= 35">{{jobSummaryData?.jobCode}}</span>
				</h2>
				<div *ngIf="(!isERenabled && !isIJPenabled)" class="job-option">
				<alt-job-summary-context-menu  *ngIf="!isJobApproval" [requisitionID]="requisitionID" [jobCode]="(jobSummaryData?.jobCode != null ? jobSummaryData?.jobCode : '')" [jobStatusLabel]="jobSummaryData.jobStatusLabel" [jobStatus]="jobSummaryData.jobStatus" (jobStatusOutput)="jobSummaryData.jobStatus=$event" >
				</alt-job-summary-context-menu>
				</div>
			</div>
			<div class="job-details-row clearfix">
				<div class="job-details-left">
					<ul class="list-reset clearfix listing-inline">
						<li class="character-count-45" matTooltip="{{jobSummaryData?.summaryOrgUnit | lowercasepipe}}" *ngIf="jobSummaryData?.summaryOrgUnit != null && jobSummaryData?.summaryOrgUnit.length > 50">{{jobSummaryData?.summaryOrgUnit | lowercasepipe}}</li>
						<li class="text-nowrap-bk" *ngIf="jobSummaryData?.summaryOrgUnit != null && jobSummaryData?.summaryOrgUnit.length <= 50">{{jobSummaryData?.summaryOrgUnit | lowercasepipe}}</li>
						<li class="last-child character-count-45" matTooltip="{{jobSummaryData?.summaryWorkSite | lowercasepipe}}" *ngIf="jobSummaryData?.summaryWorkSite != null && jobSummaryData?.summaryWorkSite.length > 55">{{jobSummaryData?.summaryWorkSite | lowercasepipe}}</li>
						<li class="last-child" *ngIf="jobSummaryData?.summaryWorkSite != null && jobSummaryData?.summaryWorkSite != '' &&  jobSummaryData?.summaryWorkSite.length <= 55">{{jobSummaryData?.summaryWorkSite | lowercasepipe}}</li>
					</ul>
				</div>
				<div *ngIf ="(!isERenabled && !isIJPenabled)"class="job-details-right" [class.table-data-full]="isJobApproval">
					<div class="table-data">
						<ul class="list-reset text-center table-data-ul">
							<li>
								<span class="text-cell">{{'common.label.createdDate' | translate}}</span>
								<span class="text-bold-cell">{{jobSummaryData?.postedOn}}</span>
							</li>
							<li class="last-border" [class.border-right-none]="isJobApproval">
								<span class="text-cell">{{'common.label.endDate' | translate}}</span>
								<span class="text-bold-cell">{{jobSummaryData?.targetOn}}</span>
							</li>
						</ul>
					</div>
					<div class="table-data" *ngIf="!isJobApproval" >
						<ul class="list-reset table-data-ul">
							<li class="cursor disabled" *ngIf="(isJobDisabled || featureDataMap.get('ASSIGN_TO_RECRUITER') == 2) && featureDataMap.get('ASSIGN_TO_RECRUITER') != 3">
								<div class="card-cell-left">
									<span class="text-cell">Team</span>
						  			<span class="text-bold-cell">{{jobSummaryData?.teamSize}}</span>
								</div>
								<span class="edit-icon">edit</span>
							</li>
							<li class="cursor" (click)="OpenAssignJobToRec(jobSummaryData)" *ngIf="(!isJobDisabled && featureDataMap.get('ASSIGN_TO_RECRUITER') == 1) && featureDataMap.get('ASSIGN_TO_RECRUITER') != 3">
								<div class="card-cell-left">
									<span class="text-cell">{{'common.label.team' | translate}}</span>
									<span class="text-bold-cell">{{jobSummaryData?.teamSize}}</span>
								</div>
								<span class="edit-icon">{{'common.label.create' | translate}}</span>
							</li>
							<li class="last-child disabled" *ngIf="(isJobDisabled || featureDataMap.get('SOURCE_AND_TEAM') == 2) && featureDataMap.get('SOURCE_AND_TEAM') != 3">
								<a>
								<div class="card-cell-left">
									<span class="text-cell">{{'common.label.publishedTo' | translate}}</span>
									<span class="text-bold-cell">{{jobSummaryData?.publishedTo}}</span>
								</div>
								<span class="edit-icon">{{'common.label.create' | translate}}</span>
								</a>
							</li>
							<li class="last-child" *ngIf="(!isJobDisabled && featureDataMap.get('SOURCE_AND_TEAM') ==1) && featureDataMap.get('SOURCE_AND_TEAM') != 3">
								<a [routerLink]="['/job/edit-job/', jobSummaryData.jobCode | formatJobcodeParam, 'performance-source-team']">
								<div class="card-cell-left">
									<span class="text-cell">{{'common.label.publishedTo' | translate}}</span>
									<span class="text-bold-cell">{{jobSummaryData?.publishedTo}}</span>
								</div>
								<span class="edit-icon">{{'common.label.create' | translate}}</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div *ngIf= "(isERenabled || isIJPenabled)"class="job-details-right">                                     
						<div class="table-data1">
							<ul class="list-reset table-data-ul">
								<li>
									<div class="card-cell-left">
										<span class="text-cell">{{'job.job_list.requiredExperience' | translate}}</span> 
										<span class="text-bold-cell">{{jobSummaryData?.minExperience}} - {{jobSummaryData?.maxExperience}} years</span>
									</div>                                                        
								</li>
								
							</ul>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>
<div *ngIf="(!isERenabled && !isIJPenabled && !isJobApproval)" class="job-details-btn">
	<a class="btn btn-default btn-full disabled" *ngIf="isJobDisabled">
		<span class="material-icons dp10">add</span>
		{{'job.job_detail.createCandidate' | translate}}
	</a>
	<a (click)="createCandidateForJob()" class="btn btn-default btn-full" *ngIf="!isJobDisabled" gaevent="JobDetail#CreateCandidate#click" >
		<span class="material-icons dp10">add</span>
		{{'job.job_detail.createCandidate' | translate}}
	</a>
	
	<button *ngIf="featureDataMap.get('AUTOMATCH') != 3" (click)="autoMatchCandidates()" [disabled]="isJobDisabled || featureDataMap.get('AUTOMATCH') == 2 || !isAutomatchEnabled " class="btn btn-primary btn-full popup-small-click">auto-match candidates</button>
	<!-- Popup Small -->
	<div class="popup-small">
		<div class="popup-top clearfix">
			<h2 class="title">{{'job.job_detail.selectJobboard' | translate}} </h2>
			<span class="material-icons close">close</span>
		</div>
		<div class="popup-small-inner clearfix">
			<div class="job-boards-icons icons-manage">
				<span class="icon-smd icon-smd-1"></span>
				<span class="icon-smd icon-smd-2"></span>
				<span class="icon-smd icon-smd-3"></span>
				<span class="icon-smd icon-smd-4"></span>
				<span class="icon-smd icon-smd-5"></span>
				<span class="icon-smd icon-smd-6"></span>
				<span class="icon-smd icon-smd-7"></span>
			</div>
		</div>
		<div class="btn-row fl-right">
			<a href="javascript:void(0)" class="btn btn-primary">{{'common.label.match' | translate}}</a>
		</div>
	</div>
	<!-- \\ End Popup Small -->
</div>

<div *ngIf="isERenabled"class="job-details-btn">
	<button class="btn btn-default btn-full popup-small-click">{{'job.job_list.share' | translate}}</button>
			<!-- Popup Small -->
			<div class="popup-small share-job-popup">
					<div class="popup-top clearfix">
					   <span class="material-icons close">close</span>
					   <h2 class="title">Share job </h2>             
					</div>
																									   <div class="popup-small-inner clearfix">
					 <div class="social-block icons-manage">
						<a href="#" target="_blank" class="icon-smd fb-icon30">facebook</a> 
						 <a href="#" target="_blank" class="icon-smd tw-icon30">Twitter</a> 
						 <a href="#" target="_blank" class="icon-smd li-icon30">linked in</a> 
						 <a href="#" target="_blank" class="icon-smd gp-icon30">Google Plus</a>                              
						 <a href="#" target="_blank" class="icon-smd pinterest-icon">pinterest</a> 
						 <a href="#" target="_blank" class="icon-smd vine-icon">vine</a> 
						 <a href="#" target="_blank" class="icon-smd insta-icon">insta</a> 
						 <a href="#" target="_blank" class="icon-smd whatsapp-icon">whatsapp</a> 
						 <a href="#" target="_blank" class="icon-smd social-icon">social</a> 
				   </div>  
					</div>
						<div class="btn-row fl-right">
												   <button class="btn btn-white">cancel</button>
							<button class="btn btn-primary">SHARE</button>
					   </div>
				   </div>
			<!-- \\ End Popup Small--> 
			<a [routerLink]="['/candidate/newcandidaterefer']" [queryParams]="{jobCode:jobSummaryData.jobCode, reqID: requisitionID }"  class="btn btn-primary  btn-full">{{'job.job_list.refer' | translate}} </a>                                                                                                                                   

</div>

<div *ngIf="isIJPenabled"class="job-details-btn">
	<button class="btn btn-default btn-full popup-small-click">{{'job.job_list.apply' | translate}}</button>  
</div>

