<div class="chats-accordion-summary">
    <span class="text-cell font-bold">{{data.isAutomatedTransaction?'System':data.userName}}</span>
    <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='PENDING'">Candidate’s profile is pending for Salary Fitment</span>
    <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='CREATE' && payStructureName == null">CTC is created</span>
    <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='CREATED' && payStructureName == null">CTC is created</span>    
    <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='CREATE' && payStructureName != null">CTC is created using pay structure <span class="purple-color">"{{payStructureName}}"</span></span>
    <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='CREATED'  && payStructureName != null">CTC is created  using pay structure <span class="purple-color">"{{payStructureName}}"</span></span>
    <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='PENDINGFORAPPROVAL'">Generated CTC and is sent for approval </span>
    <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='PENDINGFORACCEPTANCE'">Approved the CTC and sent it for acceptance to the candidate</span>
    <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='MODIFYFITMENT'">Modified the CTC</span>
    <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='ACCEPTED'">Accepted the CTC</span>
    <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='APPROVALREJECTED'">Rejected the CTC</span>
    <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='ACCEPTANCEREJECTED'">Candidate rejected the CTC</span>
    <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='APPROVAL_LEVEL_1'">{{data.previousStage.actionLabel}}: Approved the CTC</span>
    <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='APPROVAL_LEVEL_2'">{{data.previousStage.actionLabel}}: Approved the CTC</span>
    <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='APPROVAL_LEVEL_3'">{{data.previousStage.actionLabel}}: Approved the CTC</span>
    <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='APPROVAL_LEVEL_4'">{{data.previousStage.actionLabel}}: Approved the CTC</span>
    <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='APPROVAL_LEVEL_5'">{{data.previousStage.actionLabel}}: Approved the CTC</span>
    <span class="widhtFull" *ngIf="data.action != null &&  data.action != 'undefined' && (data.action.toUpperCase()  == 'COPY' || data.action.toUpperCase() == 'MOVE')">
            <span class="subject-cell purple-color">{{data.comment}} </span>
    </span>
</div>  