<div class="chats-accordion-summary">
    <span class="text-cell font-bold text-lowercase">{{data.isAutomatedTransaction?'System':data.userName}}</span>
    <span *ngIf=" (data.isAutomatedTransaction) && data.nextStage.sysWorkflowstageActionType=='PENDING'" class="text-cell"></span>
    <span *ngIf=" !(data.isAutomatedTransaction) && data.nextStage.sysWorkflowstageActionType=='PENDING'" class="text-cell"> </span>
    <span *ngIf="data.nextStage.sysWorkflowstageActionType=='PENDING'" class="text-cell">Candidate's profile is pending
    for Compensation & Benefit team's input.
    </span>
    <span *ngIf="data.nextStage.sysWorkflowstageActionType=='SEND'" class="text-cell">Sent the profile for compensation &
    Benefit team's input.
    </span>
    <span *ngIf="data.nextStage.sysWorkflowstageActionType=='C&amp;B REJECT'" class="text-cell">Rejected the candidate's
    profile.
    </span>
  <span *ngIf="data.nextStage.sysWorkflowstageActionType=='VALIDATED'" class="text-cell">Completed the candidate
    profile with Fixed Salary as INR {{responseData?.fixedSalary}}.00, Variable Salary as INR
    {{responseData?.variable}}.00 and Gross Salary as INR {{responseData?.grossSalary}}.00
  </span>
  <span class="widhtFull" *ngIf="data.action != null &&  data.action != 'undefined' && (data.action.toUpperCase()  == 'COPY' || data.action.toUpperCase() == 'MOVE')">
      <span class="subject-cell purple-color">{{data.comment}} </span>
  </span>
</div>