<div class="popup-custome-section">
    <div class="popup-top popup-custome-top clearfix" mat-dialog-title>
        <div class="popup-title-row">
            <h2 class="title">
                <span class="job-status {{getJobStatusClass(jobData.jobStatus)}}"></span>
                <span *ngIf="jobData.jobTitle?.length>55" matTooltip="{{jobData.jobTitle | lowercasepipe}}">{{jobData.jobTitle.toLowerCase() | stringTrim:55}} </span>
                <span *ngIf="jobData.jobTitle?.length<=55">{{jobData.jobTitle | lowercasepipe}} </span>
                <span class="job-code">{{jobData.requisitionCode}}</span>
            </h2>
            <span class="material-icons close" (click)="dialogRef.close('Cancel')">close</span>
        </div>
        <div class="popup-top-description">
            <ul class="list-reset listing-inline max-width90">
                <li class="character-count-45" *ngIf="jobData.orgUnitCode!= null && jobData.orgUnitCode?.length > 50" matTooltip="{{jobData.orgUnitCode | lowercasepipe}}">{{jobData.orgUnitCode | lowercasepipe}}</li>
                <li *ngIf="jobData.orgUnitCode!= null && jobData.orgUnitCode?.length <= 50">{{jobData.orgUnitCode | lowercasepipe}}</li>
                <li class="character-count-45" *ngIf="jobData.joiningLoc!= null && jobData.joiningLoc?.length > 50" matTooltip="{{jobData.joiningLoc | lowercasepipe}}">{{jobData.joiningLoc | lowercasepipe}}</li>
                <li *ngIf="jobData.joiningLoc!= null && jobData.joiningLoc?.length <= 50">{{jobData.joiningLoc | lowercasepipe}}</li>
                <li class="last-item" *ngIf="jobData.createdDate">{{'common.label.createdOn' | translate}} <span class="link">{{jobData.createdDate | date:'dd/MM/yyyy'}}</span></li>
            </ul>
            <div class="popup-openings">
                <span class="text-bold-cell">{{jobData.totalOpenings}}</span>
                <span class="text-cell">{{'common.label.OPENINGS' | translate}}</span>
            </div>
        </div>
    </div>
    <div class="notification-bar {{severityClass}} {{showClass}}" *ngIf="message.length > 0">
        <span class="material-icons successful-icon">check_circle</span>
        <div class="notification-text-outer">
            <span class="notification-text">{{message}}</span>
        </div>
        <span class="material-icons close" (click)="clearMessages()">close</span>
    </div>
    <div class="vertical-scroll-ng minHeight350" slimScroll mat-dialog-content>
        <div class="popup-inner">
            <!-- popup Content Box -->     
                <h3 class="title-sub">{{'common.label.recruiters' | translate}}</h3>
                <!--  Popup Row -->
                <div class="popup-row clearfix" *ngFor="let rec of data; let i = index">
                    <div class="popup-cell-1">
                        <div class="popup-cell-inner selected-cell-1 clearfix">
                            <div class="image-block" *ngIf="rec.profileImage !=null">
                                <img src="{{rec.profileImage}}" alt="profile img" />
                            </div>
                            <div class="image-block" *ngIf=" rec.profileImage ==null" [style.background]="randomcolor[i]">
                                <span class="image-block-inner">{{(rec.firstName!=null && rec.firstName!=''? rec.firstName.charAt(0): '')+(rec.lastName!=null && rec.lastName!=''? rec.lastName.charAt(0): '') | uppercase}}</span>
                            </div>
                            <div class="text-with-img">
                                <span class="font-bold text-uppercase text-nowrap-grad">{{rec.firstName}} {{rec.middleName}} {{rec.lastName}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="popup-cell-2 popup-cell-dev">
                        <div class="popup-cell-inner">
                            <alt-datepicker class="dropdown-calendar" [mode]="landscape" [type]="'date'" [(ngModel)]="rec.targetDate" #targetDate (change)="selectAssignedDate(targetDate.value)"
                                placeholder="{{ 'common.label.targetDate' | translate }}" [disabled]="!rec.edit"></alt-datepicker>
                        </div>
                    </div>
                    <div class="popup-cell-3">
                        <div class="popup-cell-inner">
                            <input type="text" class="form-control" [(ngModel)]="rec.assignedOpenings" (keypress)="restrictNumeric($event)" [disabled]="!rec.edit"/>
                        </div>
                    </div>
               
                </div>
                <!-- \\ End Popup Row -->
                <div class="popup-row clearfix" *ngFor="let recDetail of reqRecruiterDataList, let i = index">
                    <div class="popup-cell-1 popup-cell-dev floatLeft">
                        <div class="popup-cell-inner dropdown">
                            <alt-custom-single-select #RECRUITERLIST [srcTag]="'RECRUITERLISTTAG'" (clickToClose)="RECRUITERLIST.toggleClose()" [inputList]="recruiterList"
                            [searchEnable]="true" [value]="recDetail.userIdStrVal" placeholder="{{ 'common.label.select' | translate }}" (valueBind)="recDetail.userIdStrVal=$event.value;changeRecruiter($event, i);">
                            </alt-custom-single-select>
                        </div>
                    </div>
                    <div class="popup-cell-2 popup-cell-dev">
                        <div class="popup-cell-inner">
                            <alt-datepicker class="dropdown-calendar" [mode]="landscape" [type]="'date'" [(ngModel)]="recDetail.assignedDate" #targetDate (change)="selectAssignedDate(targetDate.value)"
                                placeholder="{{ 'common.label.targetDate' | translate }}" ></alt-datepicker>
                        </div>
                    </div>
                    <div class="popup-cell-3">
                        <div class="popup-cell-inner">
                            <input mdInput class="form-control" placeholder="{{ 'common.label.OPENINGS' | translate }}" [(ngModel)]="recDetail.assignedOpenings" (keypress)="restrictNumeric($event)"
                            mdTooltip="No of opennings"/>
                        </div>
                    </div>
                    <div class="popup-cell-4">
                        <div class="popup-cell-inner">
                            <span class="material-icons delete-icon" (click)="deleteRow(i)">delete</span>
                        </div>
                    </div>
                </div>
                <!-- \\ End Popup Row -->
                <div class="add-new-btn-outer add-new-btn-custome margin-bot-pad" (click)="addRow()">
                    <div class="add-new-btn"><span class="material-icons dp10">add</span> {{'job.job_detail.addRecruiter' | translate}}</div>
                </div>            
            <!-- \\ End popup Content Box -->
        </div>
    </div>
    <div class="btn-row text-right" mat-dialog-actions>
        <button class="btn btn-white" (click)="dialogRef.close()" [disabled]="assignRecruiter">{{'common.label.cancel' | translate}}</button>
        <alt-spinner-button gaevent="AssignToRecruiter#Assign#click" (myEvent)="assignJobToRecruiter()" [spinner]="assignRecruiter" [spinnerdisabled]="disableAssign || assignRecruiter"
            [text]="'common.label.assign' | translate"></alt-spinner-button>
    </div>
</div>