<div class="section-genie">
    <div class="section-genie-inner">
        <div class="genie-container" *ngIf="showGenie">
            <iframe frameborder="0" allowfullscreen [src]="messengerUrl"></iframe>
        </div>
    </div>
    <!-- \\ End Section Genie listing -->
</div>