<!--  Tab Month Details-->
                        <div id="tab3" class="tasks-containts month-containts">
                        	<ul class="list-reset tasks-table-row tasks-table-th-row">
                            	<li class="task-th task-td01"></li>
                                <li class="task-th task-border-none"><span class="only-show-destop">January 16, Monday</span> <span class="only-show-mobile">Mon</span></li>
                               	<li class="task-th"><span class="only-show-destop">17, Tuesday</span> <span class="only-show-mobile">Tue</span></li>
                                <li class="task-th font-bold"><span class="only-show-destop">18, Wednesday</span> <span class="only-show-mobile">Wed</span></li>
                                <li class="task-th"><span class="only-show-destop">19, Thursday</span> <span class="only-show-mobile">Thu</span></li>
                                <li class="task-th"><span class="only-show-destop">20, Friday</span> <span class="only-show-mobile">Fri</span></li>
                                <li class="task-th disabled"><span class="only-show-destop">21, Saturday</span> <span class="only-show-mobile">Sat</span></li>
                      			<li class="task-th disabled"><span class="only-show-destop">22, Sunday</span> <span class="only-show-mobile">Sun</span></li>
                            </ul>
                          <div class="task-table-content">
                                <ul class="list-reset tasks-table-row month-row">
                                    <li class="task-td task-td01">
                                        <span class="task-text">44</span>
                                   		<span class="clock-cell">Week</span>
                                    </li>
                                    <li class="task-td task-td-gray">
                                    	<span class="text-date font-regular">26 Dec</span>                                    	
                                    </li>
                                    <li class="task-td task-td-gray">
                                    	<span class="text-date font-regular">27</span>
                                    </li>
                                    <li class="task-td task-td-gray">
                                    	<span class="text-date font-regular">28</span>
                                    </li>
                                    <li class="task-td task-td-gray">
                                    	<span class="text-date font-regular">29</span>
                                    </li>
                                    <li class="task-td task-td-gray">
                                    	<span class="text-date font-regular">30</span>
                                    </li>
                                    <li class="task-td task-td-gray">
                                    	<span class="text-date disabled font-regular">31</span>
                                    </li>
                                    <li class="task-td task-td-gray">
                                    	<span class="text-date disabled">1 Jan</span>
                                    </li>
                                </ul>
                                <ul class="list-reset tasks-table-row month-row">
                                    <li class="task-td task-td01">
                                        <span class="task-text">44</span>
                                   		<span class="clock-cell">Week</span>
                                    </li>
                                    <li class="task-td task-td-gray">
                                    	<span class="text-date">2</span>
                                        <div class="task-block"><span class="doted"></span><span class="task-name text-wrap">3 interviews for #JOBC000</span></div> 
                                        <div class="task-block"><span class="doted doted-purple"></span><span class="task-name text-wrap">Approve #JOBCODE/00000</span></div>
                                        <div class="task-block"><span class="doted doted-purple"></span><span class="task-name text-wrap">3 salary fitment rejecti000</span></div>                                   	
                                    	<div class="task-block"><span class="total-inter">+ 9 INTERVIEWS</span><span class="total-tasks"> 3 TASKS</span></div>
                                    </li>
                                    <li class="task-td task-td-gray">
                                    	<span class="text-date">3</span>
                                        <div class="task-block"><span class="doted"></span><span class="task-name text-wrap">New #JOBCODE/000 as000</span></div> 
                                        <div class="task-block"><span class="doted"></span><span class="task-name text-wrap">Approve #JOBCODE/00000</span></div>
                                        <div class="task-block"><span class="doted"></span><span class="task-name text-wrap">3 salary fitment rejecti000</span></div>                                   	
                                    	<div class="task-block"><span class="total-tasks"> + 3 TASKS</span></div>
                                    </li>
                                    <li class="task-td task-td-gray">
                                    	<span class="text-date">4</span>
                                    </li>
                                    <li class="task-td">
                                    	<span class="text-date">5</span>
                                        <div class="task-block"><span class="doted"></span><span class="task-name text-wrap">3 interviews for #JOBC000</span></div> 
                                        <div class="task-block"><span class="doted doted-purple"></span><span class="task-name text-wrap">Approve #JOBCODE/00000</span></div>
                                        <div class="task-block"><span class="doted doted-purple"></span><span class="task-name text-wrap">3 salary fitment rejecti000</span></div>                                   	
                                    	<div class="task-block"><span class="total-inter">+ 9 INTERVIEWS</span><span class="total-tasks"> 3 TASKS</span></div>
                                    	<div class="tool-tip-block only-show-destop">
                                        	<div class="tool-tip-title">
                                            	<h1 class="title"><span>12 Interviews</span> | <span>5 Tasks</span></h1>
                                                <span class="text-cell">Thursday, 5 January 2016</span>
                                            </div>
                                            <div class="tool-tip-content vertical-scrollbox">
                                                <div class="tool-tip-interviews">
                                                    <h4 class="title-12">12 INTERVIEWS</h4>
                                                    <div class="task-block "><span class="doted doted-purple"></span><span class="task-name">Assistant Aviation Manager</span></div>
                                                    <ul class="list-reset interviews-listing">
                                                        <li>
                                                            <span class="material-icons accordion-icon">videocam</span>
                                                            <div class="accordion-details">
                                                                <span>14:30 -15:30</span> 
                                                                <span class="divider"></span>                                                   
                                                                <span>Shailendra Rao</span>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <span class="material-icons accordion-icon">people</span>
                                                            <div class="accordion-details">
                                                                <span>14:30 -15:30</span>
                                                                <span class="divider"></span>                                                    
                                                                <span>Ekambaram Narayan</span>
                                                            </div>
                                                            
                                                        </li>
                                                        <li>
                                                            <span class="material-icons accordion-icon">phone</span>
                                                            <div class="accordion-details">
                                                                <span>14:30 -15:30</span>
                                                                <span class="divider"></span>                                                    
                                                                <span>Santosh Ramanujan</span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <div class="task-block "><span class="doted doted-purple"></span><span class="task-name">Assistant Aviation Manager</span></div>
                                                    <ul class="list-reset interviews-listing">
                                                        <li>
                                                            <span class="material-icons accordion-icon">videocam</span>
                                                            <div class="accordion-details">
                                                                <span>14:30 -15:30</span> 
                                                                <span class="divider"></span>                                                   
                                                                <span>Shailendra Rao</span>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <span class="material-icons accordion-icon">people</span>
                                                            <div class="accordion-details">
                                                                <span>14:30 -15:30</span>
                                                                <span class="divider"></span>                                                    
                                                                <span>Ekambaram Narayan</span>
                                                            </div>
                                                            
                                                        </li>
                                                        <li>
                                                            <span class="material-icons accordion-icon">phone</span>
                                                            <div class="accordion-details">
                                                                <span>14:30 -15:30</span>
                                                                <span class="divider"></span>                                                    
                                                                <span>Santosh Ramanujan</span>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <span class="material-icons accordion-icon">videocam</span>
                                                            <div class="accordion-details">
                                                                <span>14:30 -15:30</span> 
                                                                <span class="divider"></span>                                                   
                                                                <span>Shailendra Rao</span>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <span class="material-icons accordion-icon">people</span>
                                                            <div class="accordion-details">
                                                                <span>14:30 -15:30</span>
                                                                <span class="divider"></span>                                                    
                                                                <span>Ekambaram Narayan</span>
                                                            </div>
                                                            
                                                        </li>
                                                        <li>
                                                            <span class="material-icons accordion-icon">phone</span>
                                                            <div class="accordion-details">
                                                                <span>14:30 -15:30</span>
                                                                <span class="divider"></span>                                                    
                                                                <span>Santosh Ramanujan</span>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <span class="material-icons accordion-icon">videocam</span>
                                                            <div class="accordion-details">
                                                                <span>14:30 -15:30</span> 
                                                                <span class="divider"></span>                                                   
                                                                <span>Shailendra Rao</span>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <span class="material-icons accordion-icon">people</span>
                                                            <div class="accordion-details">
                                                                <span>14:30 -15:30</span>
                                                                <span class="divider"></span>                                                    
                                                                <span>Ekambaram Narayan</span>
                                                            </div>
                                                            
                                                        </li>
                                                        <li>
                                                            <span class="material-icons accordion-icon">phone</span>
                                                            <div class="accordion-details">
                                                                <span>14:30 -15:30</span>
                                                                <span class="divider"></span>                                                    
                                                                <span>Santosh Ramanujan</span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="tool-tip-tasks">
                                                    <h4 class="title-12 purple-color">5 Tasks</h4>                                                       
                                                       <!--  HTML for destop-->
                                        			   <div class="only-show-destop">
                                               				<div class="task-block"><span class="doted"></span><span class="task-name">Approve job</span></div>
                                                			<div class="task-block"><span class="doted"></span><span class="task-name">3 salary fitment rejections for #JOBCODE/000</span></div>
                                                            <ul class="list-reset interviews-listing name-text">
                                                                <li>Santosh Ramanujan</li>
                                                                <li>Satish Narayan</li>
                                                                <li>Manas Singh</li>
                                                            </ul>
                                            			</div>
                                            			<!--  \\ End HTML for destop-->
                                                         <!--  HTML for mobile-->
                                                       <div class="only-show-mobile">
                                            			<!--  task block-->
                                                        <div class="today-task-block drag-drop-task">
                                                            <div class="today-task-block-inner">
                                                                <div class="today-task-title clearfix">
                                                                    <h3 class="title-12 fl-left text-wrap"><a class="link" href="#">Approve job</a></h3> 
                                                                    <span class="move-question fl-right">open_with</span>                                                                                          
                                                                 </div>
                                                                <div class="today-task-details">
                                                                    <span class="job-status job-active"></span>
                                                                    <h3 class="title-12 fl-left only-show-mobile"><a class="link" href="#">Approve job</a></h3>
                                                                    <div class="common-cell text-nowrap-cell">
                                                                        <span class="name-cell text-wrap">Senior consultant technology management</span> 
                                                                        <ul class="list-reset listing-inline">
                                                                            <li>JobCode/0000/</li>
                                                                            <li>New Delhi</li>                                                  
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                    					<!-- \\ End task block-->
                                        				<!--  task block-->
                                                        <div class="today-task-block drag-drop-task">
                                                            <div class="today-task-block-inner">
                                                                <div class="today-task-title clearfix">
                                                                    <h3 class="title-12 fl-left text-wrap"><a class="link" href="#">Approve job</a></h3> 
                                                                    <span class="move-question fl-right">open_with</span>                                                                                          
                                                                 </div>
                                                                <div class="today-task-details">
                                                                    <span class="job-status job-active"></span>
                                                                    <h3 class="title-12 fl-left only-show-mobile"><a class="link" href="#">Approve job</a></h3>
                                                                    <div class="common-cell text-nowrap-cell">
                                                                        <span class="name-cell text-wrap">Senior consultant technology management</span> 
                                                                        <ul class="list-reset listing-inline">
                                                                            <li>JobCode/0000/</li>
                                                                            <li>New Delhi</li>                                                  
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                    					<!-- \\ End task block-->
                                        			</div>
                                                       <!--  HTML for mobile-->
                                                </div>                                                
                                            </div>
                                        </div>
                                    </li>
                                    <li class="task-td">
                                    	<span class="text-date">6</span>
                                    </li>
                                    <li class="task-td">
                                    	<span class="text-date disabled">7</span>
                                    </li>
                                    <li class="task-td">
                                    	<span class="text-date disabled">8</span>
                                    </li>
                                </ul>
                                <ul class="list-reset tasks-table-row month-row">
                                    <li class="task-td task-td01">
                                        <span class="task-text">46</span>
                                   		<span class="clock-cell">Week</span>
                                    </li>
                                    <li class="task-td">
                                    	<span class="text-date">9</span>
                                    </li>
                                    <li class="task-td">
                                    	<span class="text-date">10</span>
                                    </li>
                                    <li class="task-td">
                                    	<span class="text-date">11</span>
                                    </li>
                                    <li class="task-td">
                                    	<span class="text-date">12</span>
                                    </li>
                                    <li class="task-td">
                                    	<span class="text-date">13</span>
                                    </li>
                                    <li class="task-td">
                                    	<span class="text-date disabled">14</span>
                                    </li>
                                    <li class="task-td">
                                    	<span class="text-date disabled">15</span>
                                    </li>
                                </ul>
                                <ul class="list-reset tasks-table-row month-row">
                                    <li class="task-td task-td01">
                                        <span class="task-text">47</span>
                                   		<span class="clock-cell">Week</span>
                                    </li>
                                    <li class="task-td">
                                    	<span class="text-date">16</span>
                                    </li>
                                    <li class="task-td">
                                    	<span class="text-date">17</span>
                                        <div class="task-block"><span class="doted doted-purple"></span><span class="task-name text-wrap">3 interviews for #JOBC000</span></div>
                                        <div class="task-block"><span class="doted"></span><span class="task-name text-wrap">#JOBCODE/0000 target000</span></div>
                                    </li>
                                    <li class="task-td">
                                    	<span class="text-date">18</span>
                                    </li>
                                    <li class="task-td">
                                    	<span class="text-date">19</span>
                                    </li>
                                    <li class="task-td">
                                    	<span class="text-date">20</span>
                                    </li>
                                    <li class="task-td">
                                    	<span class="text-date disabled">21</span>
                                    </li>
                                    <li class="task-td">
                                    	<span class="text-date disabled">22</span>
                                    </li>
                                </ul>
                                <ul class="list-reset tasks-table-row month-row">
                                    <li class="task-td task-td01">
                                        <span class="task-text">48</span>
                                   		<span class="clock-cell">Week</span>
                                    </li>
                                    <li class="task-td">
                                    	<span class="text-date">23</span>
                                    </li>
                                    <li class="task-td">
                                    	<span class="text-date">24</span>
                                    </li>
                                    <li class="task-td">
                                    	<span class="text-date">25</span>
                                    </li>
                                    <li class="task-td">
                                    	<span class="text-date">26</span>
                                    </li>
                                    <li class="task-td">
                                    	<span class="text-date">27</span>
                                    </li>
                                    <li class="task-td">
                                    	<span class="text-date disabled">28</span>
                                    </li>
                                    <li class="task-td">
                                    	<span class="text-date disabled">29</span>
                                    </li>
                                </ul>
                                <ul class="list-reset tasks-table-row month-row">
                                    <li class="task-td task-td01">
                                        <span class="task-text">49</span>
                                   		<span class="clock-cell">Week</span>
                                    </li>
                                    <li class="task-td">
                                    	<span class="text-date">30</span>
                                    </li>
                                    <li class="task-td">
                                    	<span class="text-date">31</span>
                                    </li>
                                    <li class="task-td">
                                    	<span class="text-date font-regular">1 Feb</span>
                                    </li>
                                    <li class="task-td">
                                    	<span class="text-date font-regular">2</span>
                                    </li>
                                    <li class="task-td">
                                    	<span class="text-date font-regular">3</span>
                                    </li>
                                    <li class="task-td">
                                    	<span class="text-date disabled font-regular">4</span>
                                    </li>
                                    <li class="task-td">
                                    	<span class="text-date disabled font-regular">5</span>
                                    </li>
                                </ul>
                        		<div class="tool-tip-block only-show-mobile">
                                    <div class="tool-tip-title">
                                        <h1 class="title"><span>12 Interviews</span> | <span>5 Tasks</span></h1>
                                        <span class="text-cell">Thursday, 5 January 2016</span>
                                    </div>
                                    <div class="tool-tip-content vertical-scrollbox">
                                        <div class="tool-tip-interviews">
                                            <h4 class="title-12">12 INTERVIEWS</h4>
                                            <div class="task-block "><span class="doted doted-purple"></span><span class="task-name">Assistant Aviation Manager</span></div>
                                            <ul class="list-reset interviews-listing">
                                                <li>
                                                    <span class="material-icons accordion-icon">videocam</span>
                                                    <div class="accordion-details">
                                                        <span>14:30 -15:30</span> 
                                                        <span class="divider"></span>                                                   
                                                        <span>Shailendra Rao</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <span class="material-icons accordion-icon">people</span>
                                                    <div class="accordion-details">
                                                        <span>14:30 -15:30</span>
                                                        <span class="divider"></span>                                                    
                                                        <span>Ekambaram Narayan</span>
                                                    </div>
                                                    
                                                </li>
                                                <li>
                                                    <span class="material-icons accordion-icon">phone</span>
                                                    <div class="accordion-details">
                                                        <span>14:30 -15:30</span>
                                                        <span class="divider"></span>                                                    
                                                        <span>Santosh Ramanujan</span>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="task-block "><span class="doted doted-purple"></span><span class="task-name">Assistant Aviation Manager</span></div>
                                            <ul class="list-reset interviews-listing">
                                                <li>
                                                    <span class="material-icons accordion-icon">videocam</span>
                                                    <div class="accordion-details">
                                                        <span>14:30 -15:30</span> 
                                                        <span class="divider"></span>                                                   
                                                        <span>Shailendra Rao</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <span class="material-icons accordion-icon">people</span>
                                                    <div class="accordion-details">
                                                        <span>14:30 -15:30</span>
                                                        <span class="divider"></span>                                                    
                                                        <span>Ekambaram Narayan</span>
                                                    </div>
                                                    
                                                </li>
                                                <li>
                                                    <span class="material-icons accordion-icon">phone</span>
                                                    <div class="accordion-details">
                                                        <span>14:30 -15:30</span>
                                                        <span class="divider"></span>                                                    
                                                        <span>Santosh Ramanujan</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <span class="material-icons accordion-icon">videocam</span>
                                                    <div class="accordion-details">
                                                        <span>14:30 -15:30</span> 
                                                        <span class="divider"></span>                                                   
                                                        <span>Shailendra Rao</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <span class="material-icons accordion-icon">people</span>
                                                    <div class="accordion-details">
                                                        <span>14:30 -15:30</span>
                                                        <span class="divider"></span>                                                    
                                                        <span>Ekambaram Narayan</span>
                                                    </div>
                                                    
                                                </li>
                                                <li>
                                                    <span class="material-icons accordion-icon">phone</span>
                                                    <div class="accordion-details">
                                                        <span>14:30 -15:30</span>
                                                        <span class="divider"></span>                                                    
                                                        <span>Santosh Ramanujan</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <span class="material-icons accordion-icon">videocam</span>
                                                    <div class="accordion-details">
                                                        <span>14:30 -15:30</span> 
                                                        <span class="divider"></span>                                                   
                                                        <span>Shailendra Rao</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <span class="material-icons accordion-icon">people</span>
                                                    <div class="accordion-details">
                                                        <span>14:30 -15:30</span>
                                                        <span class="divider"></span>                                                    
                                                        <span>Ekambaram Narayan</span>
                                                    </div>
                                                    
                                                </li>
                                                <li>
                                                    <span class="material-icons accordion-icon">phone</span>
                                                    <div class="accordion-details">
                                                        <span>14:30 -15:30</span>
                                                        <span class="divider"></span>                                                    
                                                        <span>Santosh Ramanujan</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tool-tip-tasks">
                                            <h4 class="title-12 purple-color">5 Tasks</h4>
                                            <!--  HTML for destop-->
                                        			   <div class="only-show-destop">
                                               				<div class="task-block"><span class="doted"></span><span class="task-name">Approve job</span></div>
                                                			<div class="task-block"><span class="doted"></span><span class="task-name">3 salary fitment rejections for #JOBCODE/000</span></div>
                                                            <ul class="list-reset interviews-listing name-text">
                                                                <li>Santosh Ramanujan</li>
                                                                <li>Satish Narayan</li>
                                                                <li>Manas Singh</li>
                                                            </ul>
                                            			</div>
                                            			<!--  \\ End HTML for destop-->
                                                         <!--  HTML for mobile-->
                                                       <div class="only-show-mobile">
                                            			<!--  task block-->
                                                        <div class="today-task-block drag-drop-task">
                                                            <div class="today-task-block-inner">
                                                                <div class="today-task-title clearfix">
                                                                    <h3 class="title-12 fl-left text-wrap"><a class="link" href="#">Approve job</a></h3> 
                                                                    <span class="move-question fl-right">open_with</span>                                                                                          
                                                                 </div>
                                                                <div class="today-task-details">
                                                                    <span class="job-status job-active"></span>
                                                                    <h3 class="title-12 fl-left only-show-mobile"><a class="link" href="#">Approve job</a></h3>
                                                                    <div class="common-cell text-nowrap-cell">
                                                                        <span class="name-cell text-wrap">Senior consultant technology management</span> 
                                                                        <ul class="list-reset listing-inline">
                                                                            <li>JobCode/0000/</li>
                                                                            <li>New Delhi</li>                                                  
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                    					<!-- \\ End task block-->
                                        				<!--  task block-->
                                                        <div class="today-task-block drag-drop-task">
                                                            <div class="today-task-block-inner">
                                                                <div class="today-task-title clearfix">
                                                                    <h3 class="title-12 fl-left text-wrap"><a class="link" href="#">Approve job</a></h3> 
                                                                    <span class="move-question fl-right">open_with</span>                                                                                          
                                                                 </div>
                                                                <div class="today-task-details">
                                                                    <span class="job-status job-active"></span>
                                                                    <h3 class="title-12 fl-left only-show-mobile"><a class="link" href="#">Approve job</a></h3>
                                                                    <div class="common-cell text-nowrap-cell">
                                                                        <span class="name-cell text-wrap">Senior consultant technology management</span> 
                                                                        <ul class="list-reset listing-inline">
                                                                            <li>JobCode/0000/</li>
                                                                            <li>New Delhi</li>                                                  
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                    					<!-- \\ End task block-->
                                        			</div>
                                                       <!--  HTML for mobile-->
                                        </div>
                                        
                                    </div>
                                </div>
                              </div>
                         </div>
                        <!-- \\ End Tab Month Details-->