<div class="comint-soon-container">
    <img src="./assets/images/Coming-soontext.png" alt="" title="">
</div>
<div class="coming-soon-wrapper">
    <div class="coming-soon"></div>
</div>
<div class="main-title-row margin-bot-none title-with-rht">
    <h1 class="main-title">applied fors</h1>
    <div class="main-title-right">
        <a href="published_ijp.html" class="btn btn-default"><span class="only-destop">Go to Internal Job Posting</span><span class="only-mobile">GOT TO IJP</span></a>
    </div>
</div>
<!--  Section Card-->
<div class="section-card clearfix">
    <!-- Card Block -->
    <div class="card-block card-3 card-applied-for">
        <div class="card-block-inner">
            <div class="card-row card-designation border-2">
                <h2 class="title">
                    <a href="job_details2.html" class="link">Senior Software Engineer</a>
                    <span class="job-code">MDR/SSE/72852</span>
                </h2>
            </div>
            <div class="card-row border-2">
                <ul class="list-reset clearfix listing-inline">
                    <li>trringo.com limited > truck ptd advnce tec...</li>
                    <li class="last-child">Grugaon</li>
                    <li class="last-child position-rel">posted on <span class="link menu-click">28-08-16</span>
                        <!-- Menu style -->
                        <div class="menu-style menu-style-4">
                            <span class="material-icons close">close</span>
                            <ul class="list-reset dropdown-menu">
                                <li>Posted On <span class="text-blue">29-09-17</span></li>
                                <li>Modified On <span class="text-blue">16-09-16</span></li>
                                <li><span class="text-blue">4 Openings Added 26-09-16</span></li>
                                <li><span class="text-blue">12 Openings Added 28-08-16</span></li>
                                <li><span class="text-blue">2 Openings Added 28-08-16</span></li>
                                <li>Targeted On <span class="text-blue">28-08-16</span></li>
                            </ul>
                        </div>
                        <!-- \\ End Menu style -->
                    </li>
                </ul>
            </div>
            <div class="card-row ver-row  border-2 clearfix">
                <div class="background-ver">Screening : <span class="pending org">Ongoing</span></div>
                <div class="candidate-stages-bar-outer clearfix">
                    <ul class="list-reset candidate-stages-bar">
                        <li class="dot green"></li>
                        <li class="bar"></li>
                        <li class="dot green"></li>
                        <li class="bar"></li>
                        <li class="dot green"></li>
                        <li class="bar"></li>
                        <li class="dot green"></li>
                        <li class="bar"></li>
                        <li class="dot org"></li>
                        <li class="bar"></li>
                        <li class="dot green"></li>
                        <li class="bar"></li>
                        <li class="dot green"></li>
                        <li class="bar"></li>
                        <li class="dot red"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li> 
                        <li class="dot"></li>
                        <li class="bar"></li> 
                        <li class="dot"></li>
                        <li class="bar"></li> 
                        <li class="dot"></li>
                        <li class="bar"></li> 
                        <li class="dot"></li>
                        <li class="bar"></li> 
                        <li class="dot"></li>
                        <li class="bar"></li>                                                       
                    </ul>
                </div>
            </div>
            <div class="hiring-team-list clearfix border-bot-none">
                <div class="image-block"><img src="./assets/images/M8.png" alt="profile img" /></div>
                <div class="description-cell text-nowrap-grad-white">
                    <span class="text-cell">Hiring Manager</span>
                    <span class="text-bold-cell text-uppercase">Nikesh Kumar</span>
                </div>
                <a href="#" class="material-icons" title="email">email</a>
            </div>
        </div>
    </div>
    <!-- \\ End Card Block -->
    <!-- Card Block -->
    <div class="card-block card-3 card-applied-for">
        <div class="card-block-inner">
            <div class="card-row card-designation border-2">
                <h2 class="title">
                    <a href="job_details2.html" class="link">Senior Consultant Technology Management</a>
                    <span class="job-code">MDR/SCTM/72678</span>
                </h2>
            </div>
            <div class="card-row border-2">
                <ul class="list-reset clearfix listing-inline">
                    <li>mahindra & mahindra ltd > farm equipment</li>
                    <li class="last-child">lucknow</li>
                    <li class="last-child position-rel">posted on <span class="link menu-click">28-08-16</span>
                        <!-- Menu style -->
                        <div class="menu-style menu-style-4">
                            <span class="material-icons close">close</span>
                            <ul class="list-reset dropdown-menu">
                                <li>Posted On <span class="text-blue">27-09-17</span></li>
                                <li>Modified On <span class="text-blue">16-09-16</span></li>
                                <li><span class="text-blue">4 Openings Added 26-09-16</span></li>
                                <li><span class="text-blue">12 Openings Added 28-08-16</span></li>
                                <li><span class="text-blue">2 Openings Added 28-08-16</span></li>
                                <li>Targeted On <span class="text-blue">28-08-16</span></li>
                            </ul>
                        </div>
                        <!-- \\ End Menu style -->
                    </li>
                </ul>
            </div>
            <div class="card-row ver-row  border-2 clearfix">
                <div class="background-ver">Screening : <span class="pending org">Ongoing</span></div>
                <div class="candidate-stages-bar-outer clearfix">
                    <ul class="list-reset candidate-stages-bar">
                        <li class="dot green"></li>
                        <li class="bar"></li>
                        <li class="dot green"></li>
                        <li class="bar"></li>
                        <li class="dot green"></li>
                        <li class="bar"></li>
                        <li class="dot green"></li>
                        <li class="bar"></li>
                        <li class="dot org"></li>
                        <li class="bar"></li>
                        <li class="dot green"></li>
                        <li class="bar"></li>
                        <li class="dot green"></li>
                        <li class="bar"></li>
                        <li class="dot red"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li> 
                        <li class="dot"></li>
                        <li class="bar"></li> 
                        <li class="dot"></li>
                        <li class="bar"></li> 
                        <li class="dot"></li>
                        <li class="bar"></li> 
                        <li class="dot"></li>
                        <li class="bar"></li> 
                        <li class="dot"></li>
                        <li class="bar"></li>                                                       
                    </ul>
                </div>
            </div>
            <div class="hiring-team-list clearfix border-bot-none">
                <div class="image-block"><img src="./assets/images/F8.png" alt="profile img" /></div>
                <div class="description-cell text-nowrap-grad-white">
                    <span class="text-cell">Hiring Manager</span>
                    <span class="text-bold-cell text-uppercase">Poonam Sharma</span>
                </div>
                <a href="#" class="material-icons" title="email">email</a>
            </div>
        </div>
        <div class="btn-row mrg-lf-20 position-rel">
            <a href="candidate_detail.html" class="btn btn-gray btn-full">TAKE ACTION</a>
        </div>
    </div>
    <!-- \\ End Card Block -->
    <!-- Card Block -->
    <div class="card-block card-3 card-applied-for">
        <div class="card-block-inner">
            <div class="card-row card-designation border-2">
                <h2 class="title">
                    <a href="job_details2.html" class="link">Hardware Design Engineer</a>
                    <span class="job-code">MDR/HDE/72620</span>
                </h2>
            </div>
            <div class="card-row border-2">
                <ul class="list-reset clearfix listing-inline">
                    <li>mahindra agri solutions > mahindra agri so...</li>
                    <li class="last-child">pune</li>
                    <li class="last-child position-rel">posted on <span class="link menu-click">20-09-17</span>
                        <!-- Menu style -->
                        <div class="menu-style menu-style-4">
                            <span class="material-icons close">close</span>
                            <ul class="list-reset dropdown-menu">
                                <li>Posted On <span class="text-blue">28-08-16</span></li>
                                <li>Modified On <span class="text-blue">16-09-16</span></li>
                                <li><span class="text-blue">4 Openings Added 26-09-16</span></li>
                                <li><span class="text-blue">12 Openings Added 28-08-16</span></li>
                                <li><span class="text-blue">2 Openings Added 28-08-16</span></li>
                                <li>Targeted On <span class="text-blue">28-08-16</span></li>
                            </ul>
                        </div>
                        <!-- \\ End Menu style -->
                    </li>
                </ul>
            </div>
            <div class="card-row ver-row  border-2 clearfix">
                <div class="background-ver">Screening : <span class="pending org">Ongoing</span></div>
                <div class="candidate-stages-bar-outer clearfix">
                    <ul class="list-reset candidate-stages-bar">
                        <li class="dot green"></li>
                        <li class="bar"></li>
                        <li class="dot green"></li>
                        <li class="bar"></li>
                        <li class="dot green"></li>
                        <li class="bar"></li>
                        <li class="dot green"></li>
                        <li class="bar"></li>
                        <li class="dot org"></li>
                        <li class="bar"></li>
                        <li class="dot green"></li>
                        <li class="bar"></li>
                        <li class="dot green"></li>
                        <li class="bar"></li>
                        <li class="dot red"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li> 
                        <li class="dot"></li>
                        <li class="bar"></li> 
                        <li class="dot"></li>
                        <li class="bar"></li> 
                        <li class="dot"></li>
                        <li class="bar"></li> 
                        <li class="dot"></li>
                        <li class="bar"></li> 
                        <li class="dot"></li>
                        <li class="bar"></li>                                                       
                    </ul>
                </div>
            </div>
            <div class="hiring-team-list clearfix border-bot-none">
                <div class="image-block"><img src="./assets/images/M7.png" alt="profile img" /></div>
                <div class="description-cell text-nowrap-grad-white">
                    <span class="text-cell">Hiring Manager</span>
                    <span class="text-bold-cell text-uppercase">Vaibhav Ratnaparkhi</span>
                </div>
                <a href="#" class="material-icons" title="email">email</a>
            </div>
        </div>
        <div class="btn-row mrg-lf-20">
            <a href="candidate_detail.html" class="btn btn-gray btn-full">TAKE ACTION</a>
        </div>
    </div>
    <!-- \\ End Card Block -->
    <!-- Card Block -->
    <div class="card-block card-3 card-applied-for">
        <div class="card-block-inner">
            <div class="card-row card-designation border-2">
                <h2 class="title">
                    <a href="job_details2.html" class="link">Senior Software Implementation Engineer </a>
                    <span class="job-code">MDR/SSIE/72829</span>
                </h2>
            </div>
            <div class="card-row border-2">
                <ul class="list-reset clearfix listing-inline">
                    <li>mahindra & mahindra ltd > innovation cell</li>
                    <li class="last-child">Noida</li>
                    <li class="last-child position-rel">posted on <span class="link menu-click">20-09-17</span>
                        <!-- Menu style -->
                        <div class="menu-style menu-style-4">
                            <span class="material-icons close">close</span>
                            <ul class="list-reset dropdown-menu">
                                <li>Posted On <span class="text-blue">21-09-17</span></li>
                                <li>Modified On <span class="text-blue">16-09-16</span></li>
                                <li><span class="text-blue">4 Openings Added 26-09-16</span></li>
                                <li><span class="text-blue">12 Openings Added 28-08-16</span></li>
                                <li><span class="text-blue">2 Openings Added 28-08-16</span></li>
                                <li>Targeted On <span class="text-blue">28-08-16</span></li>
                            </ul>
                        </div>
                        <!-- \\ End Menu style -->
                    </li>
                </ul>
            </div>
            <div class="card-row ver-row  border-2 clearfix">
                <div class="background-ver">Screening : <span class="going green"> Ongoing</span></div>
                <div class="candidate-stages-bar-outer clearfix">
                    <ul class="list-reset candidate-stages-bar">
                        <li class="dot green"></li>
                        <li class="bar"></li>
                        <li class="dot green"></li>
                        <li class="bar"></li>
                        <li class="dot green"></li>
                        <li class="bar"></li>
                        <li class="dot green"></li>
                        <li class="bar"></li>
                        <li class="dot org"></li>
                        <li class="bar"></li>
                        <li class="dot green"></li>
                        <li class="bar"></li>
                        <li class="dot green"></li>
                        <li class="bar"></li>
                        <li class="dot red"></li>
                        <li class="bar"></li>
                        <li class="dot"></li>
                        <li class="bar"></li> 
                        <li class="dot"></li>
                        <li class="bar"></li> 
                        <li class="dot"></li>
                        <li class="bar"></li> 
                        <li class="dot"></li>
                        <li class="bar"></li> 
                        <li class="dot"></li>
                        <li class="bar"></li> 
                        <li class="dot"></li>
                        <li class="bar"></li>                                                       
                    </ul>
                </div>
            </div>
            <div class="hiring-team-list clearfix border-bot-none">
                <div class="image-block"><img src="./assets/images/M6.png" alt="profile img" /></div>
                <div class="description-cell text-nowrap-grad-white">
                    <span class="text-cell">Hiring Manager</span>
                    <span class="text-bold-cell text-uppercase">Amit Aggarwal</span>
                </div>
                <a href="#" class="material-icons" title="email">email</a>
            </div>
        </div>
        <div class="btn-row mrg-lf-20">
            <button class="btn btn-gray btn-full popup-small-click">DROP APPLICATION</button>
            <!-- Popup Small -->
            <div class="popup-small">
                <div class="popup-top margin-b22 clearfix">
                    <span class="material-icons close">close</span>
                    <h2 class="title">Are you sure you want to drop out from this job?</h2>
                </div>
                <div class="btn-row fl-right">
                    <button class="btn btn-white">CANCEL</button>
                    <button class="btn btn-primary">yes</button>
                </div>
            </div>
            <!-- \\ End Popup Small-->
        </div>
    </div>
    <!-- \\ End Card Block -->
</div>
<!-- \\ End Section Card-->
<div class="similar-jobs-ijp">
    <div class="main-title-row margin-bot-none">
        <h1 class="main-title">Similar Jobs on IJP</h1>
    </div>
    <!--  Section Card-->
    <div class="section-card clearfix">
          <!-- Card Block -->
        <div class="card-block card-3 card-ijp">
            <div class="card-block-inner">
                <div class="card-row card-designation">
                    <h2 class="title">
                        <a href="job_details3.html" class="link">Senior Software engineer (Java Developer)</a>
                        <span class="job-code">MDR/SE/72579</span>
                    </h2>
                </div>
                <div class="card-row">
                    <ul class="list-reset clearfix listing-inline">
                        <li>trringo.com limited > mahindra reva > mahind</li>
                        <li class="last-child">Bengaluru</li>
                        <li class="last-child position-rel">posted on <span class="link menu-click">22-09-17</span>
                            <!-- Menu style -->
                            <div class="menu-style menu-style-4">
                                <span class="material-icons close">close</span>
                                <ul class="list-reset dropdown-menu">
                                    <li>Posted On <span class="text-blue">28-08-16</span></li>
                                    <li>Modified On <span class="text-blue">16-09-16</span></li>
                                    <li><span class="text-blue">4 Openings Added 26-09-16</span></li>
                                    <li><span class="text-blue">12 Openings Added 28-08-16</span></li>
                                    <li><span class="text-blue">2 Openings Added 28-08-16</span></li>
                                    <li>Targeted On <span class="text-blue">28-08-16</span></li>
                                </ul>
                            </div>
                            <!-- \\ End Menu style -->
                        </li>
                    </ul>
                </div>
                <div class="card-row">
                    <span class="text-cell">Required Experience</span>
                    <span class="text-cell font-bold">4-8 years</span>
                </div>
                <div class="required-experience-row">
                    <span class="required-cell">Required Experience</span>
                    <div class="skill-row clearfix">
                        <span class="tag-job">Ajax</span>
                        <span class="tag-job">Java</span>                        
                        <span class="tag-job">iOS</span>
                        <span class="tag-job">Objective </span>
                        <span class="tag-job">C++</span>
                        <span class="tag-job">SQL</span>
                        <span class="tag-job">communication skills</span>
                        <span class="tag-job">Java Script</span>
                        <span class="tag-job">HTML</span>
                    </div>
                </div>
            </div>
            <div class="btn-row mrg-lf-20">
                <button class="btn btn-gray btn-full popup-small-click">APPLY</button>
                <!-- Popup Small -->
                <div class="popup-small">
                    <div class="popup-top margin-b22 clearfix">
                        <span class="material-icons close">close</span>
                        <h2 class="title">Are you sure you want to apply from this job?</h2>
                    </div>
                    <div class="btn-row fl-right">
                        <button class="btn btn-white">CANCEL</button>
                        <button class="btn btn-primary">yes</button>
                    </div>
                </div>
                <!-- \\ End Popup Small-->
            </div>
        </div>
        <!-- \\ End Card Block -->
        <!-- Card Block -->
        <div class="card-block card-3 card-ijp">
            <div class="card-block-inner">
                <div class="card-row card-designation">
                    <h2 class="title">
                        <a href="job_details3.html" class="link">Senior HR Associate  </a>
                        <span class="job-code">MDR/SCAC/72585</span>
                    </h2>
                </div>
                <div class="card-row">
                    <ul class="list-reset clearfix listing-inline">
                        <li>mahindra hzpc pvt. ltd</li>
                        <li class="last-child">Mumbai </li>
                        <li class="last-child position-rel">posted on <span class="link menu-click">29-09-17</span>
                            <!-- Menu style -->
                            <div class="menu-style menu-style-4">
                                <span class="material-icons close">close</span>
                                <ul class="list-reset dropdown-menu">
                                    <li>Posted On <span class="text-blue">28-08-16</span></li>
                                    <li>Modified On <span class="text-blue">16-09-16</span></li>
                                    <li><span class="text-blue">4 Openings Added 26-09-16</span></li>
                                    <li><span class="text-blue">12 Openings Added 28-08-16</span></li>
                                    <li><span class="text-blue">2 Openings Added 28-08-16</span></li>
                                    <li>Targeted On <span class="text-blue">28-08-16</span></li>
                                </ul>
                            </div>
                            <!-- \\ End Menu style -->
                        </li>
                    </ul>
                </div>
                <div class="card-row">
                    <span class="text-cell">Required Experience</span>
                    <span class="text-cell font-bold">5-9 years</span>
                </div>
                <div class="required-experience-row">
                    <span class="required-cell">Required Experience</span>
                    <div class="skill-row clearfix">
                        <span class="tag-job">Administrative Writing Skills</span>
                        <span class="tag-job">Research Skills</span>
                        <span class="tag-job">Verbal Communication</span>
                        <span class="tag-job">Orienting Employees</span>
                    </div>
                </div>
            </div>
            <div class="btn-row mrg-lf-20">
                <button class="btn btn-gray btn-full popup-small-click">APPLY</button>
                <!-- Popup Small -->
                <div class="popup-small">
                    <div class="popup-top margin-b22 clearfix">
                        <span class="material-icons close">close</span>
                        <h2 class="title">Are you sure you want to apply from this job?</h2>
                    </div>
                    <div class="btn-row fl-right">
                        <button class="btn btn-white">CANCEL</button>
                        <button class="btn btn-primary">yes</button>
                    </div>
                </div>
                <!-- \\ End Popup Small-->
            </div>
        </div>
        <!-- \\ End Card Block -->
        <!-- Card Block -->
        <div class="card-block card-3 card-ijp">
            <div class="card-block-inner">
                <div class="card-row card-designation">
                    <h2 class="title">
                        <a href="job_details3.html" class="link">Senior Payroll Associate </a>
                        <span class="job-code">MDR/SPA/54555</span>
                    </h2>
                </div>
                <div class="card-row">
                    <ul class="list-reset clearfix listing-inline">
                        <li>mahindra agri solutions > mahindra agri</li>
                        <li class="last-child">delhi</li>
                        <li class="last-child position-rel">posted on <span class="link menu-click">12-09-17</span>
                            <!-- Menu style -->
                            <div class="menu-style menu-style-4">
                                <span class="material-icons close">close</span>
                                <ul class="list-reset dropdown-menu">
                                    <li>Posted On <span class="text-blue">28-08-16</span></li>
                                    <li>Modified On <span class="text-blue">16-09-16</span></li>
                                    <li><span class="text-blue">4 Openings Added 26-09-16</span></li>
                                    <li><span class="text-blue">12 Openings Added 28-08-16</span></li>
                                    <li><span class="text-blue">2 Openings Added 28-08-16</span></li>
                                    <li>Targeted On <span class="text-blue">28-08-16</span></li>
                                </ul>
                            </div>
                            <!-- \\ End Menu style -->
                        </li>
                    </ul>
                </div>
                <div class="card-row">
                    <span class="text-cell">Required Experience</span>
                    <span class="text-cell font-bold">2-4 years</span>
                </div>
                <div class="required-experience-row">
                    <span class="required-cell">Required Experience</span>
                    <div class="skill-row clearfix">
                        <span class="tag-job">Error-free payroll deliveries</span>
                        <span class="tag-job">Handling Reimbursements</span>
                        <span class="tag-job">Full & Final Settlement</span>
                        <span class="tag-job">Salary slips</span>
                        <span class="tag-job">TDS</span>
                    </div>
                </div>
            </div>
            <div class="btn-row mrg-lf-20">
                <button class="btn btn-gray btn-full popup-small-click">APPLY</button>
                <!-- Popup Small -->
                <div class="popup-small">
                    <div class="popup-top margin-b22 clearfix">
                        <span class="material-icons close">close</span>
                        <h2 class="title">Are you sure you want to apply from this job?</h2>
                    </div>
                    <div class="btn-row fl-right">
                        <button class="btn btn-white">CANCEL</button>
                        <button class="btn btn-primary">yes</button>
                    </div>
                </div>
                <!-- \\ End Popup Small-->
            </div>
        </div>
        <!-- \\ End Card Block -->
        <!-- Card Block -->
        <div class="card-block card-3 card-ijp-2">
            <div class="card-block-inner">
                <div class="card-row card-designation">
                    <h2 class="title">
                        <a href="job_details3.html" class="link">Senior UI engineer (Front End Developer)</a>
                        <span class="job-code">MDR/SUE/72565</span>
                    </h2>
                </div>
                <div class="card-row">
                    <ul class="list-reset clearfix listing-inline">
                        <li>Global service delivery - business intelligence</li>
                        <li class="last-child">Thiruvananthapuram (KL)</li>
                        <li class="last-child position-rel">posted on <span class="link menu-click">28-08-17</span>
                            <!-- Menu style -->
                            <div class="menu-style menu-style-4">
                                <span class="material-icons close">close</span>
                                <ul class="list-reset dropdown-menu">
                                    <li>Posted On <span class="text-blue">18-09-17</span></li>
                                    <li>Modified On <span class="text-blue">16-09-16</span></li>
                                    <li><span class="text-blue">4 Openings Added 26-09-16</span></li>
                                    <li><span class="text-blue">12 Openings Added 28-08-16</span></li>
                                    <li><span class="text-blue">2 Openings Added 28-08-16</span></li>
                                    <li>Targeted On <span class="text-blue">28-08-16</span></li>
                                </ul>
                            </div>
                            <!-- \\ End Menu style -->
                        </li>
                    </ul>
                </div>
                <div class="card-row">
                    <span class="text-cell">Required Experience</span>
                    <span class="text-cell font-bold">3-7 years</span>
                </div>
                <div class="required-experience-row">
                    <span class="required-cell">Required Experience</span>
                    <div class="skill-row clearfix">
                        <span class="tag-job">HTML/CSS</span>
                        <span class="tag-job">JavaScript/jQuery</span>
                        <span class="tag-job">CSS and JavaScript Frameworks</span>
                        <span class="tag-job">HTML5</span>
                        <span class="tag-job">Responsive Design</span>
                        <span class="tag-job">CSS3</span>
                        <span class="tag-job">Testing/Debugging</span>
                        <span class="tag-job">Browser Developer Tools</span>
                        
                    </div>
                </div>
            </div>
            <div class="btn-row btn-row-3 mrg-lf-20">
                <button class="btn btn-purple btn-3 btn-first popup-small-click">APPLY</button>
                <!-- Popup Small -->
                <div class="popup-small">
                    <div class="popup-top margin-b22 clearfix">
                        <span class="material-icons close">close</span>
                        <h2 class="title">Are you sure you want to apply from this job?</h2>
                    </div>
                    <div class="btn-row fl-right">
                        <button class="btn btn-white">CANCEL</button>
                        <button class="btn btn-primary">yes</button>
                    </div>
                </div>
                <!-- \\ End Popup Small-->
                <button class="btn btn-primary btn-3 popup-small-click">REFER</button>
                <!-- Popup Small -->
                <div class="popup-small popup-refer-candidate">
                    <div class="popup-top clearfix">
                        <span class="material-icons close">close</span>
                        <h2 class="title">Refer a candidate</h2>
                    </div>
                    <div class="popup-small-inner clearfix">
                        <div class="item_list">
                            <div class="form-group  clearfix">
                                <label class="control-label">Senior Technology Manager</label>
                                <div class="dropdown-11 list-block">
                                    <select class="selectpicker">
                                                                <option>Technology</option>
                                                                <option>Technology</option>
                                                                <option>Technology</option>
                                                            </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">First Name*</label>
                                <input class="form-control" placeholder="Enter First Name" type="text">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Last Name*</label>
                                <input class="form-control" placeholder="Enter Last Name" type="text">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Mobile Number*</label>
                                <input class="form-control" placeholder="Enter Mobile Number" type="text">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Email Address*</label>
                                <input class="form-control" placeholder="Enter Email Address" type="text">
                            </div>
                            <div class="form-group margin-bot-none">
                                <button class="btn btn-gray btn-full">ATTACH A RESUME</button>
                                <div class="attached-cell" style="display:none;">
                                    <span class="material-icons done-icon">done</span>
                                    <span class="font-bold">Resume Attached</span>
                                    <span class="material-icons delete-icon">delete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-row fl-right">
                        <button class="btn btn-white">cancel</button>
                        <button class="btn btn-primary">REFER</button>
                    </div>
                </div>
                <!-- \\ End Popup Small-->
                <button class="btn btn-gray btn-3 btn-last popup-small-click">SHARE</button>
                <!-- Popup Small -->
                <div class="popup-small share-job-popup">
                    <div class="popup-top clearfix">
                        <span class="material-icons close">close</span>
                        <h2 class="title">Share job </h2>
                    </div>
                    <div class="popup-small-inner clearfix">
                        <div class="social-block icons-manage">
                            <a href="#" target="_blank" class="icon-smd fb-icon30">facebook</a>
                            <a href="#" target="_blank" class="icon-smd tw-icon30">Twitter</a>
                            <a href="#" target="_blank" class="icon-smd li-icon30">linked in</a>
                            <a href="#" target="_blank" class="icon-smd gp-icon30">Google Plus</a>
                            <a href="#" target="_blank" class="icon-smd pinterest-icon">pinterest</a>
                            <a href="#" target="_blank" class="icon-smd vine-icon">vine</a>
                            <a href="#" target="_blank" class="icon-smd insta-icon">insta</a>
                            <a href="#" target="_blank" class="icon-smd whatsapp-icon">whatsapp</a>
                            <a href="#" target="_blank" class="icon-smd social-icon">social</a>
                        </div>
                    </div>
                    <div class="btn-row fl-right">
                        <button class="btn btn-white">cancel</button>
                        <button class="btn btn-primary">SHARE</button>
                    </div>
                </div>
                <!-- \\ End Popup Small-->
            </div>
        </div>
        <!-- \\ End Card Block -->
    </div>
</div>