<div class="chats-accordion-summary">
  <span class="text-cell font-bold">{{data.isAutomatedTransaction?'System':data.userName}}</span>
  <span *ngIf="(data.nextStage.sysWorkflowstageActionType=='PENDING')" class="text-cell">Candidate's profile is pending for LOI. </span>
  <span *ngIf="(data.nextStage.sysWorkflowstageActionType=='CREATE')" class="text-cell subject-cell"> Sent Letter of Intent to the candidate.</span>
  <span class="widhtFull" *ngIf="data.action != null &&  data.action != 'undefined' && (data.action.toUpperCase()  == 'COPY' || data.action.toUpperCase() == 'MOVE')">
      <span class="subject-cell purple-color">{{data.comment}} </span>
  </span>
</div>