<alt-loader *ngIf="socialMailLoader=='nodata'"></alt-loader>
<alt-social-candidate-detail-loading-screen 
[requisitionCode]="requisitionCode" [jobSkills]="jobSkills" [jobSummaryData]="jobSummaryData"
[candidateCode]="candidateCode"
  [currentPosition]="currentPosition" [totalRows]="totalRows" *ngIf="!candidateDetailLoaded"></alt-social-candidate-detail-loading-screen>

<div class="candidate-detail-card" *ngIf="candidateDetailLoaded">
  <div class="">
    <div class="card-block">
      <div class="card-block-inner">
        <div class="candidate-detail-top auto-matched-candidate-top clearfix">
          <h2 class="title">
            <span class="job-status {{getJobStatusClass(jobSummaryData?.jobStatus)}}"></span>
            <a class="link" [routerLink]="['/job/auto-match-candidates', jobSummaryData?.jobCode | formatJobcodeParam, 'social']">
              <span *ngIf="jobSummaryData?.jobName.length > 40" matTooltip="{{jobSummaryData?.jobName | lowercasepipe}}">{{jobSummaryData?.jobName.toLowerCase()| stringTrim:40}}</span>
              <span *ngIf="jobSummaryData?.jobName.length < 41">{{jobSummaryData?.jobName | lowercasepipe}}</span>
            </a>
          </h2>
          <ul class="list-reset listing-inline listing-bor-last {{!getlengthZero()?'':'ul-width-80'}}">
            <li class="character-count-45" *ngIf="getlengthLessThanLi1()" matTooltip="{{jobSummaryData?.summaryOrgUnit | lowercasepipe}}">{{jobSummaryData?.summaryOrgUnit | lowercasepipe}}</li>
            <li *ngIf="getlengthGreatThanLi1()">{{jobSummaryData?.summaryOrgUnit | lowercasepipe}}</li>
            <li class="character-count-45" *ngIf="getlengthLessThanLi2()" matTooltip="{{jobSummaryData?.summaryWorkSite | lowercasepipe}}">{{jobSummaryData?.summaryWorkSite | lowercasepipe}}</li>
            <li *ngIf="!getlengthZero() && getlengthGreatThanLi2()">{{jobSummaryData?.summaryWorkSite | lowercasepipe}}</li>
          </ul>
        </div>
        <div class="skill-row-top clearfix" *ngIf="jobSkills != null && jobSkills.length > 0">
          <span *ngFor="let skill of jobSkills" class="tag-job">{{skill.text}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-container *ngIf="candidateDetailLoaded">
  <div class="main-title-row margin-bot-none cnd-mob">
    <h1 class="main-title">Candidate Overview</h1>
    <div class="main-title-right">
      <button class="btn btn-default desktop-btn disabled" style="color: #000; border: 1px solid #666; cursor:pointer!important" (click)="goBack()">back</button>
      <div class="cand-slide mrglr7">
        <span class="fast-rewind material-icons {{currentPosition == 1 ?'arrow-disabled':''}}" (click)="previousCandidate()" *ngIf="currentPosition != null && totalRows != null && currentPosition >= 1">fast_rewind</span>
        <span class="switch" *ngIf="currentPosition != null && totalRows != null">{{currentPosition}} / {{totalRows}}</span>
        <span class="fast-forward material-icons {{currentPosition == totalRows ?'arrow-disabled':''}}" (click)="nextCandidate()"
          *ngIf="currentPosition != null && totalRows != null && currentPosition <= totalRows">fast_forward</span>
      </div>
      <button class="btn btn-default mobile-btn disabled"  style="color: #000; border: 1px solid #666;" (click)="goBack()">back</button>
      <button class="btn btn-primary" (click)="saveAsDraft()" *ngIf="!draftSaved && !savingAsDraft && showSaveAsDraftButton">save as a draft</button>
      <button class="btn btn-primary" *ngIf="savingAsDraft && showSaveAsDraftButton">saving...</button>      
      <button class="btn btn-primary" (click)="goToCandidateDraft()" *ngIf="draftSaved && showSaveAsDraftButton">{{candidateCode==null|| candidateCode=='save as a draft'?'':candidateCode}}</button>
      <button class="btn btn-primary" *ngIf="!showSaveAsDraftButton">save as a draft</button>
    </div>
  </div>
  <div class="candidate-detail-card auto-matched-candidate-detail clearfix">

    <div class="card-block">
      <div class="card-block-inner">
        <div class="candidate-detail-top clearfix">
          <div class="image-block">
            <img src="{{getSocialProfilePic()}}" (error)="imageError()" *ngIf="getSocialProfilePic()!==null">
            <span class="initials-text" *ngIf="getSocialProfilePic()==null" [style.background]="randomcolor[0]">{{getSocialCandidateName() | initials}}</span>
          </div>
          <div class="candidate-detail-top-right">
            <div class="candidate-detail-top-block">
              <div class="candidate-detail-title fl-left-none">
                <h2 class="title title-len17" *ngIf="getSocialCandidateName().length > 17" matTooltip="{{getSocialCandidateName() | lowercasepipe}}">{{getSocialCandidateName().toLowerCase() | stringTrim:17}}</h2>
                <h2 class="title title-len17" *ngIf="getSocialCandidateName().length <= 17">{{getSocialCandidateName() | lowercasepipe}}</h2>
                <ul class="list-reset listing-inline listing-len2 listing-bor-last">
                  <li *ngIf="getCandidateLocation !=null && getCandidateLocation().length < 30">{{getCandidateLocation() | lowercasepipe}}</li>
                  <li *ngIf="getCandidateLocation !=null && getCandidateLocation().length > 30" class="character-count-45" matTooltip="{{getCandidateLocation()}}">{{getCandidateLocation() | lowercasepipe}}</li>
                </ul>
              </div>
              <div class="social-block-footer">
                <ng-container *ngFor="let socialLink of getFirstThreeSocialLinks()">
                  <a href="{{socialLink.url}}" target="_blank" class="icon-smd" matTooltip={{socialLink.name}}>
                    <img src="assets/images/svg/social/{{socialLink.icon}}.svg" />
                  </a>
                </ng-container>
                <div class="job-option social-more">
                  <a href="javascript:void(0)" class="menu-click more-link" (click)="showSocialLinks()" *ngIf="getAfterFirstThreeSocialLinks().length > 0">more</a>
                  <!-- Menu style -->
                  <div class="menu-style menu-style-2 menu-social-link {{candidateData?.socialLinksClass != null ? candidateData?.socialLinksClass:''}}"
                    style="top: 35px;">
                    <span class="material-icons close" (click)="hideSocialLinks()">close</span>
                    <ul class="list-reset dropdown-menu">
                      <li *ngFor="let slink of getAfterFirstThreeSocialLinks()">
                        <a href="{{slink.url}}" target="_blank">
                          <span class="icon-smd">
                            <img src="assets/images/svg/social/{{slink.icon}}.svg" />
                          </span> {{slink.name}}</a>
                      </li>
                    </ul>
                  </div>
                  <!-- \\ End Menu style -->
                </div>
              </div>
              <div class="candidate-opcation clearfix">
                <span class="auto-matched-links">
                  <span class="material-icons dp18 {{getEmail().length > 0 ? 'purple-color' : 'disabled'}}" style="cursor: default;" (click) = sendEmail(candidateData)>mail</span>
                  <span class="text-link">{{getEmail()}}</span>
                </span>
                <span class="auto-matched-links">
                  <span class="material-icons dp18 {{getAllPhoneNumbers().length > 0 ? 'purple-color' : 'disabled'}}">phone</span>
                  <span class="text-link">{{getAllPhoneNumbers()}}</span>
                </span>
              </div>
            </div>

          </div>
          <div class="profile-match-detais" *ngIf="automatchEnabled">
          <div class="profile-match border-left-none">
            <div class="profile-graph">
                <div class="c100 p{{getProfileMatch()}} orange">
                  <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                  </div>
                </div>
              </div>
              <div class="profile-graph-details">
                <span class="profile-percent">{{getProfileMatch()}}%</span>
                <span class="text-cell">Suitable</span>
            </div>
        </div> 

          <div class="profile-match">
            <div class="profile-graph">
                <div class="c100 p{{getProfileMatchAbsoulte()}} green">
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>
            </div>
            <div class="profile-graph-details">
                <span class="profile-percent">{{getProfileMatchAbsoulte()}}%</span>
                <span class="text-cell">Match</span>
            </div>
        </div> 
      </div>

      <div class="profile-match-detais" *ngIf="!automatchEnabled">
          <div class="profile-match">
            <div class="profile-graph">
                <div class="c100 p0 green">
                  <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                  </div>
                </div>
              </div>
              <div class="profile-graph-details">
                <span class="profile-percent">%</span>
                <span class="text-cell">Suitable</span>
            </div>
        </div> 

          <div class="profile-match">
            <div class="profile-graph">
                <div class="c100 p0 green">
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>
            </div>
            <div class="profile-graph-details">
                <span class="profile-percent">%</span>
                <span class="text-cell">Match</span>
            </div>
        </div> 
      </div>

        </div>
        <div class="auto-matched-candidate-bottom auto-matched-social clearfix" *ngIf="candidateData.firstFiveSkills != null || processFirstFiveCandidateSkills()">
          <div class="auto-matched-cell" *ngFor="let skill of candidateData.firstFiveSkills; let i=index;">
            <div class="auto-matched-cell-inner clearfix">
              <span class="text-cell character-count-45" *ngIf="skill.skillName.length > 15" matTooltip="{{skill.skillName.toUpperCase()}}">{{skill.skillName}}</span>
              <span class="text-cell" *ngIf="skill.skillName.length <= 15">{{skill.skillName}}</span>
              <div class="candidate-rating-block">
                <span class="candidate-rating {{ (skill.score*2) >= 1 ? 'active-rating' : '' }}"></span>
                <span class="candidate-rating {{ (skill.score*2) >= 2 ? 'active-rating' : '' }}"></span>
                <span class="candidate-rating {{ (skill.score*2) >= 3 ? 'active-rating' : '' }}"></span>
                <span class="candidate-rating {{ (skill.score*2) >= 4 ? 'active-rating' : '' }}"></span>
                <span class="candidate-rating {{ (skill.score*2) >= 5 ? 'active-rating' : '' }}"></span>
                <span class="candidate-rating {{ (skill.score*2) >= 6 ? 'active-rating' : '' }}"></span>
                <span class="candidate-rating {{ (skill.score*2) >= 7 ? 'active-rating' : '' }}"></span>
                <span class="candidate-rating {{ (skill.score*2) >= 8 ? 'active-rating' : '' }}"></span>
                <span class="candidate-rating {{ (skill.score*2) >= 9 ? 'active-rating' : '' }}"></span>
                <span class="candidate-rating {{ (skill.score*2) >= 10 ? 'active-rating' : '' }}"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="panel-full">
    <div class="panel panel-two-column panel-open">
      <div class="panel-heading clearfix">
        <h2 class="panel-title fl-left text-capitalize">Personal Details</h2>
      </div>
      <div class="panel-body">
        <div class="panel-row" *ngIf="getName()">
          <span class="panel-col panel-col1">Name</span>
          <span class="panel-col text-bold-cell">{{getName()}}</span>
        </div>
        <div class="panel-row" *ngIf="getGender()">
          <span class="panel-col panel-col1">Gender</span>
          <span class="panel-col text-bold-cell">{{getGender()}}</span>
        </div>
        <div class="panel-row" *ngIf="getDateOfBirth()">
          <span class="panel-col panel-col1">Date of Birth</span>
          <span class="panel-col text-bold-cell">{{getDateOfBirth()}}</span>
        </div>
        <div class="panel-row" *ngIf="getCountry()">
          <span class="panel-col panel-col1">Country</span>
          <span class="panel-col text-bold-cell">{{getCountry()}}</span>
        </div>
        <div class="panel-row" *ngIf="getState()">
          <span class="panel-col panel-col1">State</span>
          <span class="panel-col text-bold-cell">{{getState()}}</span>
        </div>
        <div class="panel-row" *ngIf="getCity()">
          <span class="panel-col panel-col1">City</span>
          <span class="panel-col text-bold-cell">{{getCity()}}</span>
        </div>
        <div class="panel-row" *ngIf="getMobileNumber()">
          <span class="panel-col panel-col1">Mobile Number</span>
          <span class="panel-col text-bold-cell">{{getMobileNumber()}}</span>
        </div>
        <div class="panel-row" *ngIf="getEmail()">
          <span class="panel-col panel-col1">Primary Email ID</span>
          <span class="panel-col text-bold-cell text-lowercase">{{getEmail()}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-full" *ngIf="getWorkDetails().length > 0">
    <div class="panel panel-two-column panel-open">
      <div class="panel-heading clearfix">
        <h2 class="panel-title fl-left text-capitalize">Work Experience</h2>
      </div>
      <div class="panel-body clearfix">
        <ng-container *ngFor="let work of getWorkDetails(); let i= index;">
          <div class="clearfix">
            <div class="panel-row" *ngIf="work.company">
              <span class="panel-col panel-col1">Company Name</span>
              <span class="panel-col text-bold-cell">{{work.company}}</span>
            </div>
            <div class="panel-row" *ngIf="work.jobTitle">
              <span class="panel-col panel-col1">Job Title</span>
              <span class="panel-col text-bold-cell">{{work.jobTitle}}</span>
            </div>
            <div class="panel-row" *ngIf="work.startDate">
              <span class="panel-col panel-col1">Start Date</span>
              <span class="panel-col text-bold-cell">{{work.startDate | date:'mediumDate'}}</span>
            </div>
            <div class="panel-row" *ngIf="work.currentlyWorkHere || work.endDate!=null">
              <span class="panel-col panel-col1">End Date</span>
              <span class="panel-col text-bold-cell" *ngIf="!work.currentlyWorkHere">{{work.endDate | date:'mediumDate'}}</span>
              <span class="panel-col text-bold-cell" *ngIf="work.currentlyWorkHere">Present</span>
            </div>
          </div>
          <div class="panel-row-full clearfix" *ngIf="work.description">
            <span class="panel-col panel-col1">Description</span>
            <span class="panel-col text-description">{{work.description}}</span>
          </div>
          <div class="divider divider-pad clearfix" *ngIf="i != candidateData.workHistory.employmentHistory.length - 1"></div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="panel-full" *ngIf="getInternshipDetails().length > 0">
    <div class="panel panel-two-column panel-open">
      <div class="panel-heading clearfix">
        <h2 class="panel-title fl-left text-capitalize">internship</h2>
      </div>
      <div class="panel-body clearfix">
        <ng-container *ngFor="let internship of getInternshipDetails(); let i= index;">
          <div class="clearfix">
            <div class="panel-row" *ngIf="internship.company">
              <span class="panel-col panel-col1">Company Name</span>
              <span class="panel-col text-bold-cell">{{internship.company}}</span>
            </div>
            <div class="panel-row" *ngIf="internship.jobTitle">
              <span class="panel-col panel-col1">Job Title</span>
              <span class="panel-col text-bold-cell">{{internship.jobTitle}}</span>
            </div>
            <div class="panel-row" *ngIf="internship.startDate">
              <span class="panel-col panel-col1">Start Date</span>
              <span class="panel-col text-bold-cell">{{internship.startDate | date:'mediumDate'}}</span>
            </div>
            <div class="panel-row" *ngIf="internship.currentlyWorkHere || internship.endDate!=null">
              <span class="panel-col panel-col1">End Date</span>
              <span class="panel-col text-bold-cell" *ngIf="!internship.currentlyWorkHere">{{internship.endDate | date:'mediumDate'}}</span>
              <span class="panel-col text-bold-cell" *ngIf="internship.currentlyWorkHere">Present</span>
            </div>
          </div>
          <div class="panel-row-full clearfix" *ngIf="internship.description">
            <span class="panel-col panel-col1">Description</span>
            <span class="panel-col text-description">{{internship.description}}</span>
          </div>
          <div class="divider divider-pad clearfix" *ngIf="i != candidateData.internshipHistory.employmentHistory.length - 1"></div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="panel-full" *ngIf="getEducationDetails().length > 0">
    <div class="panel panel-one-column panel-open">
      <div class="panel-heading clearfix">
        <h2 class="panel-title fl-left text-capitalize">Educational Qualification</h2>
      </div>
      <div class="panel-body clearfix">
        <ng-container *ngFor="let education of getEducationDetails(); let j= index;">
          <div class="clearfix">
            <div class="panel-row clearfix" *ngIf="education.degree">
              <span class="panel-col panel-col1">Degree</span>
              <span class="panel-col text-bold-cell">{{education.degree}}</span>
            </div>
            <div class="panel-row clearfix" *ngIf="education.institute">
              <span class="panel-col panel-col1">Institute</span>
              <span class="panel-col text-bold-cell">{{education.institute}}</span>
            </div>
            <div class="panel-row clearfix" *ngIf="education.batchStartDate && education.batchEndDate">
              <span class="panel-col panel-col1">Batch</span>
              <span class="panel-col text-bold-cell">{{education.batchStartDate | date:'yyyy'}}
                <span *ngIf="education.batchEndDate">- {{education.batchEndDate | date:'yyyy'}}</span>
              </span>
            </div>
            <div class="panel-row clearfix" *ngIf="education.gradePercentage">
              <span class="panel-col panel-col1">Grade / %</span>
              <span class="panel-col text-bold-cell">{{education.gradePercentage}}</span>
            </div>
          </div>
          <div class="divider divider-pad clearfix" *ngIf="j != candidateData.educationHistory.educationHistory.length - 1"></div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="panel-full" *ngIf="getCandidateSkills().length > 0">
    <div class="panel panel-open">
      <div class="panel-heading clearfix">
        <h2 class="panel-title fl-left text-capitalize">Skill Set</h2>
      </div>
      <div class="panel-body padding-b10">
        <div class="skill-row clearfix">
          <span class="tag-job" *ngFor="let skill of getCandidateSkills(); let i=index;">
            {{skill.skillName}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-full">
    <div class="panel panel-open">
      <div class="panel-heading clearfix">
        <h2 class="panel-title fl-left text-capitalize">languages</h2>
      </div>
      <div *ngIf="getLanguages().length==0">
        <div class="panel-body">
          <span class="panel-col panel-col1 text-description">{{'common.label.noDataAvailable' | translate}}</span>
        </div>
      </div>
      <div class="panel-body padding-b10">
        <div class="skill-row clearfix">
          <span class="tag-job" *ngFor="let language of getLanguages(); let i = index;">{{language}}</span>
        </div>
      </div>
    </div>
  </div>
</ng-container>