<div class="chats-accordion-summary">
    <span class="text-cell font-bold text-lowercase">{{data.isAutomatedTransaction?'System':data.userName}}</span>
    <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='PENDING'">Candidate’s profile is pending for Assessment
    </span>
    <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='SCHEDULED'">Scheduled the assessment for the candidate
    </span>
    <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='RE-SCHEDULED'">Rescheduled the assessment for the candidate
    </span>
    <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='QUALIFIED'">Candidate has qualified the assessment
        <div class="icon_group_right download-icon-postion" *ngIf="filePath != null">                
                <a href="{{filePath}}" target="_blank" class="material-icons">file_download</a>    
        </div>
    </span>
    <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='REJECTED'">Candidate has been rejected in assessment
    </span>
    <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='NOSHOW'">No Show by the candidate
    </span>
    <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='PREVIOUSSTAGE'"> Moved the candidate to previous stage
    </span>
    <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='NEXTSTAGE'"> Moved the candidate to next stage
    </span>
    <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='GENERATETIN'"> Tin generated and assessment sent to candidate
    </span>
    <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='INITIATEASSESSMENT'"> Initiated assessment for the candidate 
    </span>
    <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='INITIATEWHEEBOXASSESSMENT' || data.nextStage.sysWorkflowstageActionType=='INITIATEPMAPASSESSMENT'"> Initiated assessment for the candidate 
    </span>
    <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='INITIATE_TALVIEW_ASSESSMENT'"> Initiated talview assessment for the candidate 
</span>
<span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='INITIATE_DOTIN_ASSESSMENT'"> Initiated dotin assessment for the candidate 
</span>
    <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='FAILED'"> Candidate has failed the assessment
            <div class="icon_group_right download-icon-postion" *ngIf="filePath != null">                
                    <a href="{{filePath}}" target="_blank" class="material-icons">file_download</a>    
            </div>
    </span>
    <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='COMPLETED'"> Candidate has completed the assessment
            <div class="icon_group_right download-icon-postion" *ngIf="filePath != null">                
                <a href="{{filePath}}" target="_blank" class="material-icons">file_download</a>    
            </div>
    </span>
    <span class="widhtFull" *ngIf="data.action != null &&  data.action != 'undefined' && (data.action.toUpperCase()  == 'COPY' || data.action.toUpperCase() == 'MOVE')">
            <span class="subject-cell purple-color">{{data.comment}} </span>
    </span>
</div>