<alt-header (click)="onclick($event)" *ngIf="sessionService.loggedIn"></alt-header>
<alt-container (click)="onclick($event)" *ngIf="sessionService.loggedIn"></alt-container>
<alt-footer (click)="onclick($event)" *ngIf="sessionService.loggedIn"></alt-footer>

<div style="z-index:1000000000000000000000!important;background:#ccc;height:100%;width:100%;position:absolute;top:0px;left:0px;" *ngIf="!sessionService.loggedIn">
    <alt-logout></alt-logout>
</div>