<div class="panel-full">
    <div class="panel {{toggleOpen?'panel-open':''}}">
        <div class="panel-heading clearfix">
            <h2 class="panel-title fl-left text-capitalize">
                <span class="count_Icon">{{inputData.sequence}}</span>{{inputData.workflowStageName}}
                <span class="text-step-cell">{{inputData.actionLabel}}</span>
            </h2>
            <div class="icon_group_right">
                <span class="text-cell" *ngIf="inputData?.feedbackDocumentPath != null && inputData?.feedbackDocumentPath != ''">
                    <a href="{{inputData?.feedbackDocumentPath}}" target="_blank">
                        <span class="material-icons dp20 margin-none">file_download</span>
                    </a>
                </span>
                <span class="mdi mdi-chevron-down" (click)="toggleDiv()"></span>
            </div>
        </div>
        <div class="panel-body" *ngIf="toggleOpen">
            <div class="assessment-tabel-cus section-table clearfix padding-b0">
                <div class="table-scroll-custome horizontal-scrollbox">
                    <!-- GUARANTEED -->
                    <div class="table-outer">
                        <h3 class="title-12" *ngIf="showTestLink && !showAssessmentDoc">{{'candidate.hiring_process.insideTest' | translate}}
                            <a href="https://wheebox.com/WET-2/startTestAPI.obj?compCode=0002003&testName=Insight+360&domainName=Insight&login_id=user_saroj@wheebox.com&OSR=none"
                                target="_blank" class="link">{{'common.label.viewLink' | translate}}</a>
                        </h3>
                        <table class="table document-table" *ngIf="showAssessmentDoc && !showTestLink">
                            <thead>
                                <tr class="total-ctc">
                                    <th>{{'common.label.subject' | translate}}</th>
                                    <th>{{'candidate.hiring_process.marksObtained' | translate}}</th>
                                    <th>{{'common.label.status' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{'candidate.hiring_process.numericalReasoning' | translate}}</td>
                                    <td>5.0</td>
                                    <td>
                                        <span class="material-icons purple-color">thumb_up</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{'candidate.hiring_process.problemSolving' | translate}}</td>
                                    <td>4.0</td>
                                    <td>
                                        <span class="material-icons purple-color">thumb_up</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{'candidate.hiring_process.spatailAbility' | translate}}</td>
                                    <td>4.0</td>
                                    <td>
                                        <span class="material-icons purple-color">thumb_up</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{'candidate.hiring_process.verbalReasoning' | translate}}</td>
                                    <td>5.0</td>
                                    <td>
                                        <span class="material-icons purple-color">thumb_up</span>
                                    </td>
                                </tr>
                            </tbody>
                            <thead>
                                <tr class="total-ctc">
                                    <th>{{'common.label.total' | translate}}</th>
                                    <th>18.0</th>
                                    <th>{{'common.label.pass' | translate}}</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <!-- \\ End GUARANTEED  -->
                </div>
            </div>
            <div class="item_list candidate-detail-field">
                <div class="candidate-tab-detail-block">
                    <div class="candidate-tab-detail-inner clearfix">
                        <div class="form-group row2">
                            <div class="col-md-12 col-md-4-padding10" *ngIf="tinNumber != null">
                                <label>{{'candidate.hiring_process.tinNumber' | translate}}: {{tinNumber}}</label>
                            </div>
                            <div class="col-md-12 col-md-4-padding10" *ngIf="assessmentFilePath != null">
                                <label>{{'candidate.hiring_process.assessmentFilePath' | translate}}: </label>
                                <a href="{{assessmentFilePath}}" target="_blank" style="vertical-align:top;">
                                    <span class="material-icons dp20 margin-none">file_download</span>
                                </a>
                            </div>
                            <div class="col-md-4 col-md-4-padding10" *ngIf="security?.startDateRendered">
                                <label class="control-label clearfix">{{security?.startDateLabel}}
                                    <span *ngIf="security?.startDateRequired">*</span>
                                </label>
                                <div class="row">
                                    <div class="col-md-12 datepicker-col" [ngClass]="security?.startDateDisabled?'disabled':''">
                                        <alt-datepicker [styleClass]="'datepicker-common'" class="dropdown-calendar enbled" [type]="'datetime'" [mode]="'landscape'"
                                            #startDate (change)="setStartDate(startDate.value)" [disabled]="security?.startDateDisabled">
                                        </alt-datepicker>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-md-4-padding10" *ngIf="security?.endDateRendered">
                                <label class="control-label clearfix">{{security?.endDateLabel}}
                                    <span *ngIf="security?.endDateRequired">*</span>
                                </label>
                                <div class="row">
                                    <div class="col-md-12 datepicker-col" [ngClass]="security?.endDateDisabled?'disabled':''">
                                        <alt-datepicker [styleClass]="'datepicker-common'" class="dropdown-calendar enbled" [type]="'datetime'" [mode]="'landscape'"
                                            #endDate (change)="setEndDate(endDate.value)" [disabled]="security?.endDateDisabled"></alt-datepicker>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-md-4-padding10" *ngIf="security?.venueRendered">
                                <label class="control-label clearfix">{{security?.venueLabel}}
                                    <span *ngIf="security?.venueRequired">*</span>
                                </label>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="dropdown-11 list-block">
                                            <alt-custom-single-select #VENUE [srcTag]="'VENUETAG'" (clickToClose)="VENUE.toggleClose()" [searchEnable]="true" [inputList]="venueList"
                                                [value]="venue" placeholder="Select Venue" (valueBind)="venue = $event.value"
                                                [isDisabled]="security?.venueDisabled">
                                            </alt-custom-single-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  Assessment Completed -->
                <div class="panel-full" *ngIf="assessmentList != null && (inputData.sysWorkflowstageActionType == 'TINGENERATED' || inputData.sysWorkflowstageActionType == 'COMPLETED' || inputData.sysWorkflowstageActionType == 'FAILED')">
                    <div class="table-responsive" *ngFor="let data of assessmentList; let i = index;">
                        <div class="clearfix">
                            <h2 class="title-12-gray fl-left">{{'candidate.hiring_process.assessmentTestResult' | translate}} {{i+1}}</h2>
                            
                            <a *ngIf="data?.reportLink != null && data?.reportLink != ''" href="{{data.reportLink}}" target="_blank" class="link fl-right">
                                <span class="material-icons dp20 margin-none">file_download</span>
                            </a>
                        </div>
                        <table class="table document-table">
                            <thead>
                                <tr>
                                    <th class="count-cell">#</th>
                                    <th class="doc-name-cell">{{'candidate.hiring_process.assessmentName' | translate}}</th>
                                    <th class="width90 text-center" *ngIf="data.maxScore != 'undefined' && data.maxScore != null && data.maxScore != ''">{{'candidate.hiring_process.maxScore' | translate}}</th>
                                    <th class="width105 text-center">{{'candidate.hiring_process.scoreObtained' | translate}}</th>
                                    <th class="width105 text-center">{{'candidate.hiring_process.result' | translate}}</th>
                                    <th class="width150 text-center">{{'candidate.hiring_process.testCompletionDate' | translate}}</th>
                                    <th class="width150 text-center">{{'candidate.hiring_process.testCompletionTime' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let option of data.assessmentFeedbackScorecardList; let i1=index;">
                                    <td class="count-cell">{{i1+1}}</td>
                                    <td class="doc-name-cell">{{option.parameter}}</td>
                                    <td class="width90 text-center" *ngIf="data.maxScore != 'undefined' && data.maxScore != null && data.maxScore != ''">{{data.maxScore}}</td>
                                    <td class="width105 text-center">{{option.score}}</td>
                                    <td class="width105 text-center" *ngIf="data.cleared==null" >NA</td>
                                    <td class="width105 text-center" *ngIf="data.cleared!=null && data.cleared" >Pass</td>
                                    <td class="width105 text-center" *ngIf="data.cleared!=null && !data.cleared" >Fail</td>
                                    <td class="width150 text-center">{{getEndDate(data.endTime) | date:'MM/dd/yyyy'}}</td>
                                    <td class="width150 text-center">{{getEndTime(data.endTime) | date:'h:mm a'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- \\ End Assessment Completed  -->                                     
              <div class="item_list form-group row2">
                <div class="col-md-4 col-md-4-padding10" *ngIf="assessmentTestType">
                    <label class="control-label">{{'candidate.hiring_process.assessmentType' | translate}} *</label>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="dropdown-11 list-block">                   
                                <alt-custom-single-select #ASSESSMENTTYPE [srcTag]="'ASSESSMENTTYPE'" (clickToClose)="ASSESSMENTTYPE.toggleClose()" [searchEnable]="true"
                                        [labelKey]="'requisitionCode'" [valueKey]="'requisitionId'" [inputList]="assessmentTypeList" 
                                        placeholder="{{'common.label.select' | translate}}" (valueBind)="bindAssessmentTypeValue($event)" [value]="assessmentTypeList?.length==1 ? assessmentTypeList[0].requisitionId : null" [maxResults]="100" [valueKey]='requisitionId'>
                                </alt-custom-single-select>
                            </div>
                        </div>
                  </div>
                </div>
                </div>
                <div class="form-group form-textarea" *ngIf="security?.commentRendered">
                    <textarea class="form-control noresize" [formControl]="comment" placeholder="{{security?.commentLabel+(security?.commentRequired? '*': '')}}"
                        [attr.disabled]="security?.commentDisabled?'disabled':null"></textarea>
                </div>
                <div class="btn-row-2 btn-row-attachment clearfix">
                    <div *ngIf="security?.attachmentRendered && !attachmentName" class="btn-file-custome" [ngClass]="security?.attachmentDisabled?'disabled-file':''">
                        <span class="link">
                            <span class="material-icons">attachment</span>{{security?.attachmentLabel+(security?.attachmentRequired? '*': '')}}</span>
                        <input class="file-btn" type="file" id="file" name="file" (change)="uploadDocumentListener($event)" [attr.disabled]="security?.attachmentDisabled?'disabled':null"
                        />
                    </div>
                    <div *ngIf="attachmentName" class="document-name-here">
                        <span class="material-icons done">done</span>
                        <span class="font-bold doc-file-name">{{attachmentName}}</span>
                        <span class="material-icons fl-right cursor" (click)="deleteDocumentListener()">delete</span>
                        <span class="material-icons fl-right cursor" (click)="downloadDocumentListener()">file_download</span>
                    </div>
                    <!--<div *ngIf="showAssessmentDoc" class="fl-left">
                            <span class="fl-left link cursor" (click)="downloadAssessment()">Download Result</span>
                        </div>-->
                    <div class="fl-right">
                        <div class="btn-for-mobile">
                            <div class="dropdown-11 select-black">
                                <alt-custom-single-select #SELECTEDSTATUS [srcTag]="'SELECTEDSTATUSTAG'" (clickToClose)="SELECTEDSTATUS.toggleClose()" [inputList]="statusLists"
                                    [value]="selectedStatusID.value" placeholder="Choose Status" (valueBind)="statusChangeListener($event)"
                                    [isDisabled]="assesssment || jobStatus">
                                </alt-custom-single-select>
                            </div>
                            <alt-spinner-button gaevent="AssessMent#Continue#click" (myEvent)="updateStatus();" [spinner]="assesssment" [spinnerdisabled]="assesssment || jobStatus" [text]="label"></alt-spinner-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>