<div class="main-title-row margin-r280">
  <h1 class="main-title">{{'candidate.bulk_parse.bulkParse' | translate}}</h1>
</div>
<div class="panel-full">
  <div class="panel step-current panel-open">
    <div class="panel-heading clearfix">
      <h2 class="panel-title fl-left text-capitalize">{{'candidate.excel_upload.uploadCandidates' | translate}}</h2>
    </div>
    <div class="accordion-content">
      <div class="panel-body">
        <div class="cnd-cell-50 bulk-parse">
          <div class="drag-drop-your">
              <div class="drag-drop-inner">
                <h2 class="title-small">{{'candidate.bulk_parse.tagCandidateToJob' | translate}}</h2>
                <div class="radio-check-block">
                  <div class="radio">
                    <span class="radio_label_inline">
                      <input id="Tagged" value="tagged" name="radioInline" type="radio" [formControl]="candidateTagUntagged" (change)="candidateTagUntaggedChange()">
                      <label for="Tagged">{{'common.label.yes' | translate}}</label>
                    </span>
                  </div>
                  <div class="radio fl-right">
                    <span class="radio_label_inline">
                      <input id="Untagged" value="untagged" name="radioInline" type="radio" [formControl]="candidateTagUntagged" (change)="candidateTagUntaggedChange()">
                      <label for="Untagged">{{'common.label.no' | translate}}</label>
                    </span>
                  </div>
                </div>
                <div class="form-group">              
                  <div class="dropdown-11 list-block">
                    <label class="control-label">{{'common.label.jobTitle' | translate}} *</label>
                    <div class="dropdown-11 list-block enabled-dropdown">
                      <alt-custom-single-select #JOBTITLE [srcTag]="'JOBTITLETAG'" (clickToClose)="JOBTITLE.toggleClose()" [searchEnable]="true"
                            [labelKey]="'requisitionCode'" [valueKey]="'requisitionId'" [inputList]="jobTitleList" 
                            [isDisabled]="candidateTagUntagged.value != 'tagged'" placeholder="{{'common.label.select' | translate}}" (valueBind)="bindJobTitleValue($event)">
                      </alt-custom-single-select>
                  </div>
                  </div>
                </div>
                <div class="form-group" *ngIf="showFileUpload">  
                    <label for="resumeFile" class="btn btn-primary btn115">
                        <span>{{'candidate.bulk_parse.uploadResume' | translate}} </span>
                    </label>
                    <input #resumeFile type="file" id="resumeFile" class="displayNone" name="resumeFile" multiple="true" (change)="uploadDocumentListener($event)"  />
                </div> 
                <div class="form-group" *ngIf="!showFileUpload">  
                  <label for="resumeFile1" class="btn btn-gray btn115 disabled">
                      <span>{{'candidate.bulk_parse.uploadResume' | translate}}</span>
                  </label>
                  <input disabled #resumeFile1 type="file" id="resumeFile1" class="displayNone" name="resumeFile1" multiple="true" (change)="uploadDocumentListener($event)"  />
              </div> 
            </div>
          </div>

        </div>
        <div class="cnd-cell-50">
          <h2 class="title-top text-uppercase">important instructions</h2>
          <ul class="list-reset important-list">
            <li>{{'candidate.bulk_parse.maxResumeSize' | translate}}</li>
            <li><span [innerHtml]="'candidate.bulk_parse.resumeSupportedExtension' | translate"></span></li>
            <li>{{'candidate.bulk_parse.errorRecordsSection' | translate}}</li>
            <li>{{'candidate.bulk_parse.maxNoResume' | translate}} </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="table-scroll-custome horizontal-scrollbox">
  <div class="table-download table-outer">
    <div class="table-responsive">
      <table class="table document-table">
        <thead>
          <tr>
            <th class="table-cell-1">#</th>
            <th class="table-cell-bulk">{{'candidate.bulk_parse.dateTime' | translate}}</th>
            <th class="table-cell-bulk">{{'candidate.bulk_parse.totalResume' | translate}}</th>
            <th class="table-cell-bulk">{{'common.label.duplicate' | translate}}</th>
            <th class="table-cell-bulk">{{'common.label.insufficientInfo' | translate}}</th>            
            <th class="table-cell-bulk">{{'common.label.unsupported' | translate}}</th>            
            <th class="table-cell-bulk">{{'common.label.status' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of uploadDocumentList; let i = index;">
            <td class="table-cell-1">{{i+1}}</td>
            <td class="table-cell-bulk">{{data.uploadDateTime}}</td>
            <td class="table-cell-bulk">{{data.resumeCount}}</td>
            <td class="table-cell-bulk">
              <span class="text-uppercase link cursor" *ngIf="data.duplicateResumeCount > 0"  (click)="downloadZipFiles(data,'duplicate')">{{data.duplicateResumeCount}}</span>
              <span class="text-uppercase link cursor"  *ngIf="data.duplicateResumeCount == 0">{{data.duplicateResumeCount}}</span>
            </td>
            <td class="table-cell-bulk">
              <span class="text-uppercase link cursor" *ngIf="data.unsupportedResumeCount > 0" (click)="downloadZipFiles(data,'unsupported')">{{data.unsupportedResumeCount}}</span>
              <span class="text-uppercase link cursor" *ngIf="data.unsupportedResumeCount == 0">{{data.unsupportedResumeCount}}</span>
            </td>
            <td class="table-cell-bulk">
              <span class="text-uppercase link cursor" *ngIf="data.invalidResumeCount > 0" (click)="downloadZipFiles(data,'invalid')">{{data.invalidResumeCount}}</span>
              <span class="text-uppercase link cursor" *ngIf="data.invalidResumeCount == 0">{{data.invalidResumeCount}}</span>
            </td>
            <td class="table-cell-bulk">{{data.status}}</td>            
          </tr>          
        </tbody>
      </table>
    </div>
  </div>
</div>