<alt-loader *ngIf="showloader"></alt-loader>
<div class="main-title-row">
    <h1 class="main-title">{{'candidate.list.untaggedCandidates' | translate}}</h1>
</div>
<!-- Section filter -->
<alt-filter filterType="UNTAGGED_CANDIDATE_LIST" (onSorted)="onSorted($event)" (onFilter)="onFilter($event)" (onDateFilter)="onDateFilter($event)"></alt-filter>
<!-- \\ End Section filter -->
<alt-candidates-untagged-blank-screen *ngIf="loaderIndicator == 'nodata'">
</alt-candidates-untagged-blank-screen>
<div *ngIf="loaderIndicator == 'data' || loaderIndicator == 'loader'">
    <div class="jobs-listing clearfix">
        <div class="row">
            <div class="card-block card-3 search-block-section">
                <div class="card-block-inner card-bg-none">
                    <div class="input-group search-block" [formGroup]="queryFormGroup">
                            <input class="form-control" formControlName="query" placeholder="{{'candidate.list.searchCandidate' | translate}}"
                            />
                        <span class="input-group-btn">
                            <button class="btn material-icons dp20" type="submit">search</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="card-block card-3 card-bulk-actions">
                <div class="card-block-inner card-bg-none clearfix">

                    <div class="select-all-btn col-2">
                        <div class="select-all-btn-inner">
                            <div class="checkbox checkbox-inline">
                                <input type="checkbox" [(ngModel)]="selectAll" (change)="allSelectEvent()" class="styled" id="select" />
                                <label for="select" class="custome-label">{{'common.label.selectAll' | translate}} </label>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown dropdown-outer-2 col-2" [class.open]="isToggled">
                        <a href="JavaScript:Void(0);" class="bulk-actions" (click)="toggleClick()" (clickToClose)="toggleClickClosed()"><span class="text-dropdown">{{'common.label.bulkActions' | translate}}</span> <span class="mdi mdi-chevron-down md24"></span></a>
                        <ul class="list-reset dropdown-10 dropdown-style" *ngIf="isToggled">
                            <li><a (click)="openBulkAction()" href="JavaScript:Void(0);" gaevent="ContextMenu#Bulk Tag to job#click">{{'candidate.list.tagJob' | translate}}</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <alt-candidates-untagged-blank-screen *ngIf="loaderIndicator == 'nodata'">
        </alt-candidates-untagged-blank-screen>
        <loader-indicator *ngIf="loaderIndicator == 'loader'"></loader-indicator>
        <!--  Section Card-->
        <div *ngIf="loaderIndicator == 'data'">            
            <div class="table table-striped">
                <div class="row pagination-mobile">
                  <alt-paginator #PAGINATIONTOP [srcTag]="'PAGINATIONTOP'" (clickToClose)="PAGINATIONTOP.toggleClose()" [rowsPerPageTemplate]="'15,30,45'" [pageState]="pageState" [pageLoading]="pageLoading" (pageChange)="getPageNumber($event)" *ngIf="data?.length > 0">{{'common.label.loading' | translate}}...</alt-paginator>  
                </div>
                <div class="section-card clearfix">
                     <div class="title-lg padding-t50" *ngIf="data?.length <= 0">{{'common.label.noDataAvailable' | translate}}</div>
                    <!--  Card Block -->
                    <div class="card-block card-3 card-candidate-untagged card-clear-3" *ngFor="let item of data;let j = index">
                        <div class="card-block-inner">
                            <div class="card-top card-row clearfix">
                                <div class="check-box checkbox">
                                    <input type="checkbox" [(ngModel)]="item.selected" [checked]="item.selected" class="styled" (change)="singleSelectEvent(item)">
                                    <label></label>
                                </div>
                                <alt-untagged-context-menu [candidateCode]="item.candidateCode">
                                </alt-untagged-context-menu>
                            </div>
                            <div class="card-row card-name-row">
                                <div class="image-block" *ngIf="item.profileImage !=null">
                                    <img src="{{item.profileImage}}" alt="profile img" (error)="imageError(event, item)"/>
                                </div>
                                <div class="image-block" *ngIf=" item.profileImage ==null" [style.background]="randomcolor[j]">
                                    <span class="image-block-inner">{{(item.firstName!=null && item.firstName!=''? item.firstName.charAt(0): '')+(item.lastName!=null && item.lastName!=''? item.lastName.charAt(0): '') | uppercase}}</span>
                                </div>
                                <!--<span class="material-icons flag-icon">flag</span>-->
                                <div class="title-cell">
                                    <h3 class="title" *ngIf="(getLength(item.firstName)+getLength(item.middleName)+getLength(item.lastName))<=22">
                                        <a class="link" [routerLink]="['/candidate/edit-candidate', item.candidateCode | formatCandidatecodeParam]">
                                            {{item.firstName | lowercasepipe}} {{item.middleName | lowercasepipe}} {{item.lastName | lowercasepipe}}                           
                                        </a>
                                    </h3>
                                    <h3 class="title text-nowrap-grad-white" *ngIf="(getLength(item.firstName)+getLength(item.middleName)+getLength(item.lastName))>22" matTooltip="{{item.firstName}} {{item.middleName}} {{item.lastName}}">
                                        <a class="link" [routerLink]="['/candidate/edit-candidate', item.candidateCode | formatCandidatecodeParam]">
                                            {{item.firstName | lowercasepipe}} {{item.middleName | lowercasepipe}} {{item.lastName | lowercasepipe}}                                
                                        </a>
                                    </h3>
                                    <ul class="list-reset listing-inline">
                                        <li class="text-uppercase" *ngIf="item.candidateCode != null && item.candidateCode.length <= 20">{{item.candidateCode}}</li>
                                        <li class="text-uppercase" matTooltip="{{item.candidateCode}}" *ngIf="item.candidateCode != null && item.candidateCode.length > 20">{{item.candidateCode | stringTrim:20}}</li>
                                        <li class="last-child" *ngIf="item.city != null && item.city.length <= 45">{{item.city.toLowerCase()}}</li>
                                        <li class="last-child" matTooltip="{{item.city | lowercasepipe}}" *ngIf="item.city != null && item.city.length > 45">{{item.city.toLowerCase() | stringTrim:45}}</li>                                        
                                    </ul>
                                </div>

                            </div>
                            <div class="card-row card-profile-row border-bot-none clearfix">
                                <div class="profile-completed">
                                    <div class="profile-graph">
                                        <!--<div class="c100 {{item.percentClass}}">-->
                                        <div class="c100 p{{item.profileCompletion}}">
                                            <div class="slice">
                                                <div class="bar"></div>
                                                <div class="fill"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="profile-graph-details">
                                        <span class="profile-percent">{{item.profileCompletion}}%</span>
                                        <span class="text-cell">{{'candidate.candidate_overview.profileComplete' | translate}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-row last-border" *ngIf="item.skills?.split(',').length>0">
                                <div class="skill-row height135 clearfix" slimScroll>
                                    <span *ngFor="let skill of item.skills?.split(',');let i=index">
                                        <span class="tag-job" *ngIf="i<5">{{skill}}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="btn-row mrg-lf-20">
                            <button class="btn btn-gray btn-full" (click)="tagCandidateToJobDlg(item.candidateID,j)" gaevent="UntaggedCandidate#Tag to job#click">{{'candidate.list.tagJob' | translate}} </button>
                        </div>
                    </div>
                    <!-- \\ End Card Block -->
                </div>
                <!--  Section Pagination-->
                <div class="pagination-mobile">
                    <div class="section-pagination pagination-bottom clearfix">
                        <alt-paginator #PAGINATIONBOT [srcTag]="'PAGINATIONBOT'" (clickToClose)="PAGINATIONBOT.toggleClose()" [rowsPerPageTemplate]="'15,30,45'" [pageState]="pageState" [pageLoading]="pageLoading" (pageChange)="getPageNumber($event)" *ngIf="data?.length > 0">{{'common.label.loading' | translate}}...</alt-paginator>
                    </div>
                </div>
                <!-- \\ End Section Pagination-->
            </div>
        </div>
        <!-- \\ End Section Card-->
    </div>
</div>