<div class="published-vendors-block">
  <div class="job-vendors-title margin-bot-pad clearfix">
    <h4 class="title-sub">{{'common.label.vendors' | translate}}</h4>
    <div class="job-published-03">
      <div class="input-group search-block" [formGroup]="vendorFormGroup" >
        <input class="form-control" formControlName="vendorSearch" placeholder="{{'vendor.vendor_list.searchVendor' | translate}}" *ngIf="!isJobDisabled && featureDataMap.get('PUBLISH_TO_VENDOR') == 1" type="text">
        <span class="input-group-btn">
          <button class="btn material-icons dp20" type="submit" [disabled]="isJobDisabled || featureDataMap.get('PUBLISH_TO_VENDOR') == 2">search</button>
        </span>
      </div>
    </div>
  </div>
  <span *ngIf="noResult"> {{'common.label.noResults'}}</span>
  <div class="job-published-col clearfix" *ngIf="vendorTypes?.length > 0">
    <div class="check-box checkbox">
      <input id="allVendors" class="styled" type="checkbox" (click)="selectAllTheVendors()" [disabled]="isJobDisabled || featureDataMap.get('PUBLISH_TO_VENDOR') == 2">
      <label class="text-uppercase" for="allVendors">{{'common.label.selectAll' | translate}}</label>
    </div>
  </div>
  <div class="job-published-accordion {{vendorType.open?'open':''}} clearfix" *ngFor="let vendorType of vendorTypes; let vgi=index;">
    <div class="vendors-accordion-title {{vendorType.selectedCount>0?'selected':''}} clearfix">
      <div class="check-box checkbox fl-left">
        <input id="independent{{vgi}}" class="styled" type="checkbox" [checked]="vendorType.allSelected" [disabled]="vendorType.disableSelection || featureDataMap.get('PUBLISH_TO_VENDOR') == 2"
          (click)="selectAllVendorsByVendorType(vendorType)" [disabled]="isJobDisabled || featureDataMap.get('PUBLISH_TO_VENDOR') == 2">
        <label class="text-uppercase" for="independent{{vgi}}">{{vendorType.vendorType}}
          <span>({{vendorType.selectedCount}}/{{vendorType.totalCount}})</span>
        </label>
      </div>
      <div class="fl-right">
        <span class="clear-all" (click)="clearAllByVendorType(vendorType)" *ngIf="!isJobDisabled">{{'common.label.clearAll' | translate}}</span>
        <span class="mdi mdi-plus toggle-icon"   (click)="toggleOpen(vendorType)" *ngIf="!isJobDisabled"></span>
      </div>
    </div>
    <div class="vendors-accordion-content">
      <ul class="list-reset vendors-accordion-list">
        <ng-container *ngFor="let vendor of vendors; let vi=index;">
          <li *ngIf="vendor.vendorTypeIds.includes(vendorType.vendorTypeId) && vendor.searchDisplay" (click)="selectThis(vendor)" class="{{vendor.selected?'active':''}}" [class.disabled]="isJobDisabled || featureDataMap.get('PUBLISH_TO_VENDOR') == 2">
            <div class="vendors-accordion-list-cell">
              <div class="check-box checkbox">
                <input id="{{vendorType.vendorTypeId + 'vi' + vi}}" class="styled" type="checkbox" [(ngModel)]="vendor.selected" [checked]="vendor.selected"
                  [disabled]="vendor.disabled || featureDataMap.get('PUBLISH_TO_VENDOR') == 2" [disabled]="isJobDisabled || featureDataMap.get('PUBLISH_TO_VENDOR') == 2">
                <label class="text-uppercase">
                  <span class="rounded-block" [style.background]="vendor.bgColor">{{vendor.vendorName | initials:1}}</span>
                  <span class="lavel-vendor" *ngIf="vendor.vendorName.length > 35" matTooltip="{{vendor.vendorName}}">{{vendor.vendorName | stringTrim:35}}</span>
                  <span class="lavel-vendor" *ngIf="vendor.vendorName.length <= 35">{{vendor.vendorName}}</span>
                </label>
              </div>
            </div>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
  <div class="job-published-accordion {{isOtherOpen?'open':''}} clearfix" *ngIf="showOtherVendors">
    <div class="vendors-accordion-title {{otherVendorSelectedCount > 0?'selected':''}} clearfix">
      <div class="check-box checkbox fl-left">
        <input id="gold" class="styled" type="checkbox" [checked]="allOtherSelected" (click)="selectAllOtherVendors()" [disabled]="isJobDisabled || featureDataMap.get('PUBLISH_TO_VENDOR') == 2">
        <label class="text-uppercase" for="gold">{{'common.label.otherVendors' | translate}}
          <span>({{otherVendorSelectedCount}}/{{otherVendorTotalCount}})</span>
        </label>
      </div>
      <div class="fl-right">
        <span class="clear-all" (click)="clearAllOther()"  *ngIf="!isJobDisabled">{{'common.label.clearAll' | translate}}</span>
        <span class="mdi mdi-plus toggle-icon" (click)="toggleOpenOther()" *ngIf="!isJobDisabled"></span>
      </div>
    </div>
    <div class="vendors-accordion-content">
      <ul class="list-reset vendors-accordion-list">
        <ng-container *ngFor="let vendor of vendors; let vi=index;">
          <li *ngIf="isOtherVendor(vendor) && vendor.searchDisplay" (click)="selectThis(vendor)" class="{{vendor.selected?'active':''}}" [class.disabled]="isJobDisabled || featureDataMap.get('PUBLISH_TO_VENDOR') == 2">
            <div class="vendors-accordion-list-cell">
              <div class="check-box checkbox">
                <input id="other{{vi}}" class="styled" type="checkbox" [(ngModel)]="vendor.selected" [checked]="vendor.selected" [disabled]="vendor.disabled" [disabled]="isJobDisabled || featureDataMap.get('PUBLISH_TO_VENDOR') == 2">
                <label class="text-uppercase">
                  <span class="rounded-block" [style.background]="vendor.bgColor">{{vendor.vendorName | initials:1}}</span>
                  <span class="lavel-vendor" *ngIf="vendor.vendorName.length > 35" matTooltip="{{vendor.vendorName}}">{{vendor.vendorName | stringTrim:35}}</span>
                  <span class="lavel-vendor" *ngIf="vendor.vendorName.length <= 35">{{vendor.vendorName}}</span>

                </label>
              </div>
            </div>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
  <div class="row-btn clearfix">
    <button type="button" class="btn btn-primary pull-right" (click)="publish()" gaevent="Vendor#Publish#click" [disabled]="isJobDisabled || featureDataMap.get('PUBLISH_TO_VENDOR') == 2">{{'common.label.publish' | translate}}</button>
  </div>
</div>