<alt-download-blank-screen *ngIf="loader == 'nodata'"></alt-download-blank-screen>
<alt-download-loader *ngIf="loader == 'loader'"></alt-download-loader>
<div class="main-title-row margin-r280" *ngIf="loader != 'nodata'">
    <h1 class="main-title">DOWNLOADS</h1>
</div>
<div class="table-scroll-custome horizontal-scrollbox" *ngIf="loader != 'nodata'">
    <div class="table-download table-outer">
        <div class="table-responsive">
            <table class="table document-table">
                <thead>
                    <tr>
                        <th class="table-cell-1">#</th>                        
                        <th class="table-date-cell">Date</th>
                        <th class="table-cell-3">Report Name</th>
                        <th class="table-cell-4">Report Type</th>
                        <th class="table-report-description">Report Description</th>
                        <th class="table-report-status">Status</th>
                        <th class="table-cell-6  option-cell">Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let reportItem of reportsList; let i=index;">
                        <td class="table-cell-1">{{i+1}}</td>                        
                        <td class="table-date-cell">{{reportItem.createdDate}}</td>
                        <td class="table-cell-3 font-bold">{{reportItem.reportName}}</td>
                        <td class="table-cell-4">{{reportItem.moduleName}}</td>
                        <td class="table-report-description">{{reportItem.reportDescription}}</td>
                        <td class="table-report-status">{{reportItem.status}}</td>
                        <td class="table-cell-6 option-cell">
                            <a href="{{fileLink(i, reportItem)}}" *ngIf="fileLink(i, reportItem) != ''" target="_blank" data-toggle="tooltip" data-placement="bottom"
                                data-original-title="Download Report">
                                <span class="material-icons">file_download</span>
                            </a>
                            <mat-progress-spinner style="width: 15px; height: 15px; margin-left: 40%;" mode="indeterminate" *ngIf="fileLink(i, reportItem) == ''"></mat-progress-spinner>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>