<div [class.select-social-disable]="rhsMonsterDisabled"> 
<div class="filter_right_main">
    <!-- filter short by start -->
    <div class="filter_right_inner">
        <div class="clearfix">
            <h2 class="title fl-left">{{'common.label.sortBy' | translate}}</h2>
            <span class="link-clear fl-right" (click)="changeListener(null);dropdownLabel='Sort By';">Clear</span>
        </div>
        <div class="item_list">
            <div class="form-group row2">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="matched-candidates-filter">
                                <div class="dropdown">
                                    <a href="javascript:void(0)" class="dropdown-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <span class="text-dropdown">{{dropdownLabel}}</span>
                                        <span class="mdi mdi-chevron-down md24"></span>
                                    </a>
                                    <ul class="list-reset dropdown-3 dropdown-style">
                                        <li>
                                            <a href="javascript:void(0)" (click)="changeListener('rel');dropdownLabel='Relevance';setSortByLabel('Relevance');">{{'rhs.label.relevance' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" (click)="changeListener('upt');dropdownLabel='Last Active date';setSortByLabel('Last Active date');">{{'rhs.label.lastActivedate' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" (click)="changeListener('exp');dropdownLabel='Experience';setSortByLabel('Experience');">{{'rhs.label.experience' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" (click)="changeListener('mvd');dropdownLabel='Most viewed';setSortByLabel('Most viewed');">{{'rhs.label.mostviewed' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" (click)="changeListener('lvd');dropdownLabel='Least viewed';setSortByLabel('Least viewed');">{{'rhs.label.leastviewed' | translate}}</a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- \\ End filter short by -->

<!-- Section filter -->
<div class="filter-section-right" *ngIf="getCurrentFilters()">
    <div class="title-block black-gray clearfix">
        <h2 class="title fl-left">{{currentAppliedFilters.length>0?'applied filters':'filters'}}</h2>
        <span class="link fl-right" *ngIf="clearall" (click)="clearAll('clearall','clearall')">{{'common.label.clearAll' | translate}}</span>
    </div>
    <div class="content-block black-gray clearfix" *ngIf="currentAppliedFilters && currentAppliedFilters.length>0">
        <div class="filter-selected-right {{toggleFilter?'filter-limited-no':'filter-limited-fixed'}}">
            <div *ngIf="currentAppliedFilters" class="filter-limited-fixed-inner clearfix">
                <span class="tag-job" *ngFor="let item of currentAppliedFilters ">
                    <span matTooltip="{{item}}" *ngIf="item != null && item.length > 8">{{item | stringTrim:8}}</span>
                    <span *ngIf="item != null && item.length <= 8"> {{item}} </span>
                    <span class="material-icons" (click)="removeFilter(item,'all')">clear</span>
                </span>
            </div>
            <span class="link fl-right" *ngIf="currentAppliedFilters.length>6" (click)="showMoreFilters()">{{!toggleFilter?'Show more':'Show less'}}</span>
        </div>
    </div>
</div>
<!-- \\ End Section filter -->

<!--  Toggle Current Location -->
<div class="{{toggleCurrentLocation?'toggle-hide':'toggle-show'}}">
    <div class="title-block accordion-title" (click)="clickCurrentLocation()">
        <span class="material-icons icon dp22">
            <i class="icon-current-location"></i>
        </span>
        <h2 class="title">{{'postJobBoard.label.location' | translate}}</h2>
        <span class="mdi mdi-chevron-up md24 fl-right"></span>
    </div>
    <div class="accordion-content">
        <div class="content-block clearfix" *ngIf="filterLoading">
            <div class="accordion-item">
                <ul class="list-reset accordion-listing">
                    <li class="filter-item-checkbox">
                        <div class="accordion-row clearfix">
                            <div class="width-18 height-16 loading-line fl-left"></div>
                            <div class="width-70 mgn-t4 mgn-l10 loading-line fl-left"></div>
                        </div>
                    </li>
                    <li class="filter-item-checkbox">
                        <div class="accordion-row clearfix">
                            <div class="width-18 height-16 loading-line fl-left"></div>
                            <div class="width-50 mgn-t4 mgn-l10 loading-line fl-left"></div>
                        </div>
                    </li>
                    <li class="filter-item-checkbox">
                        <div class="accordion-row clearfix">
                            <div class="width-18 height-16 loading-line fl-left"></div>
                            <div class="width-80 mgn-t4 mgn-l10 loading-line fl-left"></div>
                        </div>
                    </li>
                    <li class="filter-item-checkbox">
                        <div class="accordion-row clearfix">
                            <div class="width-18 height-16 loading-line fl-left"></div>
                            <div class="width-40 mgn-t4 mgn-l10 loading-line fl-left"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content-block clearfix" *ngIf="!filterLoading">
            <div class="accordion-item">
                <div class="scroll-hover gradient2 {{autoMatchMonsterFilters['location'].length>4? 'scroll-hover-on':''}}" *ngIf="autoMatchMonsterFilters['location'].length>0">
                    <div slimScroll class="scroll-hover-inner scroll-h200">
                        <ul class="list-reset accordion-listing">
                            <li class="filter-item-checkbox" *ngFor="let location of autoMatchMonsterFilters['location']; let i = index;">
                                <div class="checkbox checkbox-white checkbox-inline">
                                    <input type="checkbox" class="styled" id="loca{{i}}" [value]="location.key" [checked]="existsInFilter('location', location.key)"
                                        (change)="autoMatchMonsterToggleFilter($event, 'location')" />
                                    <label for="loca{{i}}">{{location.key}}</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <a href="javascript:void(0);" class="more margin-none ignoreClick" (click)="addMore('location')">+ {{'postJobBoard.label.add' | translate}}</a>
                <div class="location-search {{popUpActiveSection=='location'?'displayBlock':'displayNone'}} ignoreClick">
                    <div class="input_icon selected">
                        <input #locationInput class="form-control ignoreClick" placeholder="{{'common.label.startTyping' | translate}}" type="text" [value]="suggestion" (keyup)="loadMasterSuggestions('location', $event.target.value)"
                        />
                    </div>
                    <div *ngIf="suggestion.trim() != ''">
                        <div class="location-listing" slimScroll>
                            <ul class="list-reset ignoreClick" *ngIf="suggestionLoading">
                                <li class="ignoreClick">{{'common.label.loading' | translate}}....</li>
                            </ul>
                            <ul class="list-reset ignoreClick" *ngIf="!suggestionLoading">
                                <li class="ignoreClick" *ngIf="suggestion.trim() !='' && suggestionLoaded && suggestionResult.length == 0">{{'postJobBoard.label.noResultsfound' | translate}}</li>
                                <ng-container *ngFor="let suggestion of suggestionResult; let i=index;">
                                    <li class="tooltip-section" (click)="addFilter('location',suggestion)">
                                        <span class="text-nowrap-grad">{{suggestion.label}}</span>
                                        <span class="tooltip-container">{{suggestion.label}}</span>
                                    </li>
                                </ng-container>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- \\ End Toggle Current Location -->
<!--  Toggle Industry -->
<div class="{{toggleIndustry?'toggle-hide':'toggle-show'}}">
    <div class="title-block accordion-title black-gray" (click)="clickIndustry()">
        <span class="material-icons icon dp22">
            <i class="icon-industry"></i>
        </span>
        <h2 class="title">{{'filter.label.industry' | translate}}</h2>
        <span class="mdi mdi-chevron-up md24 fl-right"></span>
    </div>
    <div class="accordion-content">
        <div class="content-block clearfix" *ngIf="filterLoading">
            <div class="accordion-item">
                <ul class="list-reset accordion-listing">
                    <li class="filter-item-checkbox">
                        <div class="accordion-row clearfix">
                            <div class="width-18 height-16 loading-line fl-left"></div>
                            <div class="width-70 mgn-t4 mgn-l10 loading-line fl-left"></div>
                        </div>
                    </li>
                    <li class="filter-item-checkbox">
                        <div class="accordion-row clearfix">
                            <div class="width-18 height-16 loading-line fl-left"></div>
                            <div class="width-50 mgn-t4 mgn-l10 loading-line fl-left"></div>
                        </div>
                    </li>
                    <li class="filter-item-checkbox">
                        <div class="accordion-row clearfix">
                            <div class="width-18 height-16 loading-line fl-left"></div>
                            <div class="width-80 mgn-t4 mgn-l10 loading-line fl-left"></div>
                        </div>
                    </li>
                    <li class="filter-item-checkbox">
                        <div class="accordion-row clearfix">
                            <div class="width-18 height-16 loading-line fl-left"></div>
                            <div class="width-40 mgn-t4 mgn-l10 loading-line fl-left"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content-block clearfix black-gray" *ngIf="!filterLoading">
            <div class="accordion-item">
                <div class="scroll-hover {{autoMatchMonsterFilters['industry'].length>4? 'scroll-hover-on':''}}" *ngIf="autoMatchMonsterFilters['industry'].length>0">
                    <div slimScroll class="scroll-hover-inner scroll-h200">
                        <ul class="list-reset accordion-listing">
                            <li class="filter-item-checkbox" *ngFor="let industry of autoMatchMonsterFilters['industry']; let i=index;">
                                <div class="checkbox checkbox-white checkbox-inline">
                                    <input type="checkbox" class="styled" id="industry{{i}}" [checked]="existsInFilter('industry', industry.key)" [value]="industry.key"
                                        (change)="autoMatchMonsterToggleFilter($event, 'industry')" [disabled]="rhsMonsterDisabled" />
                                    <label for="industry{{i}}">{{industry.key}} </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <a href="javascript:void(0);" class="more margin-none ignoreClick" (click)="addMore('industry')">+ {{'common.label.add' | translate}}</a>
                <div class="location-search {{popUpActiveSection=='industry'?'displayBlock':'displayNone'}} ignoreClick">
                    <div class="input_icon selected">
                        <input #industryInput class="form-control ignoreClick" placeholder="{{'common.label.startTyping' | translate}}" type="text" [value]="suggestion" (keyup)="loadMasterSuggestions('industry', $event.target.value)"
                        />
                    </div>
                    <div *ngIf="suggestion.trim() != ''">
                        <div class="location-listing" slimScroll>
                            <ul class="list-reset ignoreClick" *ngIf="suggestionLoading">
                                <li class="ignoreClick">{{'common.label.loading' | translate}}....</li>
                            </ul>
                            <ul class="list-reset ignoreClick" *ngIf="!suggestionLoading">
                                <li class="ignoreClick" *ngIf="suggestion.trim() !='' && suggestionLoaded && suggestionResult.length == 0">{{'common.label.noResultsfound' | translate}}</li>
                                <ng-container *ngFor="let suggestion of suggestionResult; let i=index;">
                                    <li class="tooltip-section" (click)="addFilter('industry',suggestion)">
                                        <span class="text-nowrap-grad">{{suggestion.label}}</span>
                                        <span class="tooltip-container">{{suggestion.label}}</span>
                                    </li>
                                </ng-container>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- \\ End Toggle Industry -->
<!--  Toggle Functional Area -->
<div class="{{toggleFunctionalArea?'toggle-hide':'toggle-show'}}">
    <div class="title-block accordion-title" (click)="clickFunctionalArea()">
        <span class="material-icons icon dp22">
            <i class="icon-functional"></i>
        </span>
        <h2 class="title">{{'postJobBoard.label.functionalArea' | translate}}</h2>
        <span class="mdi mdi-chevron-up md24 fl-right"></span>
    </div>
    <div class="accordion-content">
        <div class="content-block clearfix" *ngIf="filterLoading">
            <div class="accordion-item">
                <ul class="list-reset accordion-listing">
                    <li class="filter-item-checkbox">
                        <div class="accordion-row clearfix">
                            <div class="width-18 height-16 loading-line fl-left"></div>
                            <div class="width-70 mgn-t4 mgn-l10 loading-line fl-left"></div>
                        </div>
                    </li>
                    <li class="filter-item-checkbox">
                        <div class="accordion-row clearfix">
                            <div class="width-18 height-16 loading-line fl-left"></div>
                            <div class="width-50 mgn-t4 mgn-l10 loading-line fl-left"></div>
                        </div>
                    </li>
                    <li class="filter-item-checkbox">
                        <div class="accordion-row clearfix">
                            <div class="width-18 height-16 loading-line fl-left"></div>
                            <div class="width-80 mgn-t4 mgn-l10 loading-line fl-left"></div>
                        </div>
                    </li>
                    <li class="filter-item-checkbox">
                        <div class="accordion-row clearfix">
                            <div class="width-18 height-16 loading-line fl-left"></div>
                            <div class="width-40 mgn-t4 mgn-l10 loading-line fl-left"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content-block clearfix" *ngIf="!filterLoading">
            <div class="accordion-item">
                <div class="scroll-hover {{autoMatchMonsterFilters['functionalArea'].length>4? 'scroll-hover-on':''}}" *ngIf="autoMatchMonsterFilters['functionalArea'].length>0">
                    <div slimScroll class="scroll-hover-inner scroll-h200">
                        <ul class="list-reset accordion-listing">
                            <li class="filter-item-checkbox" *ngFor="let funcArea of autoMatchMonsterFilters['functionalArea']; let i=index;">
                                <div class="checkbox checkbox-white checkbox-inline">
                                    <input type="checkbox" class="styled" id="functionalArea{{i}}" [checked]="existsInFilter('functionalArea', funcArea.key)"
                                        [value]="funcArea.key" [disabled]="rhsMonsterDisabled" (change)="autoMatchMonsterToggleFilter($event, 'functionalArea')"
                                    />
                                    <label for="functionalArea{{i}}">{{funcArea.key}} </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <a href="javascript:void(0);" class="more margin-none ignoreClick" (click)="addMore('functionalArea')">+ {{'common.label.add' | translate}}</a>
                <div class="location-search {{popUpActiveSection=='functionalArea'?'displayBlock':'displayNone'}} ignoreClick">
                    <div class="input_icon selected">
                        <input #functionalAreaInput class="form-control ignoreClick" placeholder="{{'common.label.startTyping' | translate}}" type="text" [value]="suggestion"
                            (keyup)="loadMasterSuggestions('functionalArea', $event.target.value)" />
                    </div>
                    <div *ngIf="suggestion.trim() != ''">
                        <div class="location-listing" slimScroll>
                            <ul class="list-reset ignoreClick" *ngIf="suggestionLoading">
                                <li class="ignoreClick">{{'common.label.loading' | translate}}....</li>
                            </ul>
                            <ul class="list-reset ignoreClick" *ngIf="!suggestionLoading">
                                <li class="ignoreClick" *ngIf="suggestion.trim() !='' && suggestionLoaded && suggestionResult.length == 0">{{'common.label.noResultsfound' | translate}}</li>
                                <ng-container *ngFor="let suggestion of suggestionResult; let i=index;">
                                    <li class="tooltip-section" (click)="addFilter('functionalArea',suggestion)">
                                        <span class="text-nowrap-grad">{{suggestion.label}}</span>
                                        <span class="tooltip-container">{{suggestion.label}}</span>
                                    </li>
                                </ng-container>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- \\ End Toggle Functional Area -->
<!--  Toggle Role -->
<div class="{{toggleRole?'toggle-hide':'toggle-show'}}">
    <div class="title-block accordion-title black-gray" (click)="clickRole()">
        <span class="material-icons icon dp22">
            <i class="icon-role"></i>
        </span>
        <h2 class="title">{{'postJobBoard.label.role' | translate}}</h2>
        <span class="mdi mdi-chevron-up md24 fl-right"></span>
    </div>
    <div class="accordion-content">
        <div class="content-block clearfix" *ngIf="filterLoading">
            <div class="accordion-item">
                <ul class="list-reset accordion-listing">
                    <li class="filter-item-checkbox">
                        <div class="accordion-row clearfix">
                            <div class="width-18 height-16 loading-line fl-left"></div>
                            <div class="width-70 mgn-t4 mgn-l10 loading-line fl-left"></div>
                        </div>
                    </li>
                    <li class="filter-item-checkbox">
                        <div class="accordion-row clearfix">
                            <div class="width-18 height-16 loading-line fl-left"></div>
                            <div class="width-50 mgn-t4 mgn-l10 loading-line fl-left"></div>
                        </div>
                    </li>
                    <li class="filter-item-checkbox">
                        <div class="accordion-row clearfix">
                            <div class="width-18 height-16 loading-line fl-left"></div>
                            <div class="width-80 mgn-t4 mgn-l10 loading-line fl-left"></div>
                        </div>
                    </li>
                    <li class="filter-item-checkbox">
                        <div class="accordion-row clearfix">
                            <div class="width-18 height-16 loading-line fl-left"></div>
                            <div class="width-40 mgn-t4 mgn-l10 loading-line fl-left"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content-block clearfix black-gray" *ngIf="!filterLoading">
            <div class="accordion-item">
                <div class="scroll-hover {{autoMatchMonsterFilters['role'].length>4? 'scroll-hover-on':''}}" *ngIf="autoMatchMonsterFilters['role'].length>0">
                    <div slimScroll class="scroll-hover-inner scroll-h200">
                        <ul class="list-reset accordion-listing">
                            <li class="filter-item-checkbox" *ngFor="let role of autoMatchMonsterFilters['role']; let i=index;">
                                <div class="checkbox checkbox-white checkbox-inline">
                                    <input type="checkbox" class="styled" id="role{{i}}" [checked]="existsInFilter('role', role.key)" [value]="role.key" [disabled]="rhsMonsterDisabled" (change)="autoMatchMonsterToggleFilter($event, 'role')"
                                    />
                                    <label for="role{{i}}">{{role.key}} </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <a href="javascript:void(0);" class="more margin-none ignoreClick" (click)="addMore('role')">+ {{'common.label.add' | translate}}</a>
                <div class="location-search {{popUpActiveSection=='role'?'displayBlock':'displayNone'}} ignoreClick">
                    <div class="input_icon selected">
                        <input #roleInput class="form-control ignoreClick" placeholder="{{'common.label.startTyping' | translate}}" type="text" [value]="suggestion" (keyup)="loadMasterSuggestions('role', $event.target.value)"
                        />
                    </div>
                    <div *ngIf="suggestion.trim() != ''">
                        <div class="location-listing" slimScroll>
                            <ul class="list-reset ignoreClick" *ngIf="suggestionLoading">
                                <li class="ignoreClick">{{'common.label.loading' | translate}}....</li>
                            </ul>
                            <ul class="list-reset ignoreClick" *ngIf="!suggestionLoading">
                                <li class="ignoreClick" *ngIf="suggestion.trim() !='' && suggestionLoaded && suggestionResult.length == 0">{{'common.label.noResultsfound' | translate}}</li>
                                <ng-container *ngFor="let suggestion of suggestionResult; let i=index;">
                                    <li class="tooltip-section" (click)="addFilter('role',suggestion)">
                                        <span class="text-nowrap-grad">{{suggestion.label}}</span>
                                        <span class="tooltip-container">{{suggestion.label}}</span>
                                    </li>
                                </ng-container>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- \\ End Toggle Role -->


<!-- Toggle CTC -->
<div class="{{toggleSalary?'toggle-hide':'toggle-show'}}">
    <div class="title-block accordion-title" (click)="clickSalary()">
        <span class="material-icons icon dp22">
            <i class="icon-salary"></i>
        </span>
        <h2 class="title" [innerHtml]="'rhs.label.salary' | translate" ></h2>
        <span class="mdi mdi-chevron-up md24 fl-right"></span>
    </div>

    <div class="accordion-content">
        <div class="content-block">
            <div class="accordion-item clearfix">
                <div class="dropdown-ctc-outer">
                    <div class="dropdown-ctc">
                        <alt-custom-single-select #MINSALARY [srcTag]="'MINSALARYTAG'" (clickToClose)="MINSALARY.toggleClose()" [inputList]="minSalaryList"
                            [value]="minSalary" placeholder="{{'postJobBoard.label.minSalary' | translate}}" (valueBind)="setMinSalary($event)" >
                        </alt-custom-single-select>
                    </div>
                    <div class="dropdown-ctc">
                        <alt-custom-single-select #MAXSALARY [srcTag]="'MAXSALARYTAG'" (clickToClose)="MAXSALARY.toggleClose()" [inputList]="maxSalaryList"
                            [value]="maxSalary" placeholder="{{'postJobBoard.label.maxSalary' | translate}}" (valueBind)="setMaxSalary($event)" >
                        </alt-custom-single-select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- \\ End Toggle CTC -->

</div>