<div>

  <!-- Section filter -->
  <div *ngIf="!referCandidate && !ijpCandidate"class="main-title-row margin-r280">
    <h1 class="main-title">
      {{isEdit ? security?.editCandidateSectionLabel : security?.createCandidateSectionLabel | formatCapitalize}}
      <span class="clearAllFields" (click)="clearAll($event);">{{'common.label.clearAllFields' | translate}}</span>
    </h1>
  </div>

  <div *ngIf="referCandidate" class="main-title-row margin-r280">
    <h1 class="main-title">
      {{'candidate.new_candidate.referCandidate' | translate}}
    </h1>
  </div>
  
  <div *ngIf="ijpCandidate" class="main-title-row margin-r280">
    <h1 class="main-title">
      IJP Candidate
    </h1>
  </div>

  <!-- \\ End Section filter -->
  <!--  Section create candidate-->
  <alt-new-candidate-loader *ngIf="showloader || parsingResume"></alt-new-candidate-loader>
  <div class="padding-t10 new-candidate-mb" *ngIf="!showloader && !parsingResume">
    <div class="section_halfLess">
      <ul class="item_list item_list2">
        <li class="item_list_block first_row_btn">
          <div class="candidate-profile-progres">
            <div class="progress-title clearfix">
              <span class="pull-left">{{'candidate.new_candidate.profileComplete' | translate}}
                <span class="big">{{totalcompleted | percent:'1.0-0'}}</span>
              </span>
            </div>
            <div class="candidate-profile-progres-inner">
              <div class="doted_progress_bar2 clearfix">
                <ul class="list-reset">
                  <li>
                    <span class="doted"></span>
                  </li>
                  <li>
                    <span class="doted"></span>
                  </li>
                  <li>
                    <span class="doted"></span>
                  </li>
                  <li>
                    <span class="doted"></span>
                  </li>
                  <li>
                    <span class="doted"></span>
                  </li>
                  <li>
                    <span class="doted"></span>
                  </li>
                  <li>
                    <span class="doted"></span>
                  </li>
                  <li>
                    <span class="doted"></span>
                  </li>
                </ul>
              </div>
              <div class="progress_bar_active" [style.width.%]="totalcompleted*100 | number:'1.0-0'">
                <div class="doted_progress_bar2 doted-active clearfix">
                  <ul class="list-reset">
                    <li>
                      <span class="doted"></span>
                    </li>
                    <li>
                      <span class="doted"></span>
                    </li>
                    <li>
                      <span class="doted"></span>
                    </li>
                    <li>
                      <span class="doted"></span>
                    </li>
                    <li>
                      <span class="doted"></span>
                    </li>
                    <li>
                      <span class="doted"></span>
                    </li>
                    <li>
                      <span class="doted"></span>
                    </li>
                    <li>
                      <span class="doted"></span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="item_list_block desktop-only video-block"
          *ngIf="resumeUploaded && timeToParse != undefined && timeToParse != null && timeToParse != ''">
          {{'candidate.new_candidate.timeToParse' | translate}}: {{timeToParse}} ms
        </li>
        <li class="item_list_block desktop-only video-block" *ngIf="resumeHTML != null && resumeHTML != ''">
          <div class="resume-data height646" [innerHTML]='resumeHTML'></div>
        </li>
      </ul>
    </div>
    <div class="section_halfPluse">
      <form [formGroup]="candidateForm">
        <ul class="item_list">
          <li class="item_list_block first_row_btn desktop-only"
          *ngIf="(isBasicDetailLoaded || enableResumeParsing) && !parsingResume ">
            <div class="row">
              <div class="col-md-6">
                <mat-progress-spinner mode="indeterminate" *ngIf="parsingResume">
                </mat-progress-spinner>

                <div>
                  <label for="resumeFile" class="display-block">
                    <input #resumeFile type="file" gaevent="CreateCandidate#AttachAResume#click" id="resumeFile"
                      name="resumeFile" style="display: none;" (change)="resumeFileChange($event)"
                      accept=".doc,.docx,.html,.rtf,.txt,.pdf" />
                    <span class="btn btn-gray btn-block">{{(resumeUploaded || (resumeServerPath != null && resumeServerPath != '')) || !isDraft ? ('candidate.new_candidate.uploadResume' | translate ): ('candidate.new_candidate.attachResume' | translate ) }}</span>
                  </label>
                </div>
              </div>
              <div class="col-md-6">
                <a target="_blank" href="{{resumeServerPath}}" class="btn btn-gray btn-block"
                  *ngIf="resumeUploaded || (resumeServerPath != null && resumeServerPath != '')">{{'candidate.new_candidate.downloadResume' | translate}}</a>
              </div>
            </div>
          </li>
          <li
            class="item_list_block {{createCandidateSectionActive || currentSectionNumber == getSectionNumber('1') ?'step_open':'step_close'}}"
            *ngIf="security?.createCandidateSectionRendered && isDraft" formGroupName="createCandidateSection">

            <div class="info_title" (click)="candidateController.toggleCreateCandidate()">
              <span class="count_Icon">{{ getSectionNumber('1') }}</span>{{isEdit ? security?.editCandidateSectionLabel
              : security?.createCandidateSectionLabel
              | formatCapitalize}}
              <ng-container *ngIf="!referCandidate">
              <span class="clearAllFields" *ngIf="security?.createCandidateClearAllRendered"
                (click)="clearCreateCandidate($event)">{{security?.createCandidateClearAllLabel}}</span>
              </ng-container>
            </div>
            <div class="form_outer">
              <div class="form-group">
                <div class="row" *ngIf="!referCandidate && !ijpCandidate">
                  <mat-radio-group>
                    <div class="col-md-4">
                      <div class="radio radio-20 radio-inline" *ngIf="security?.forAJobRendered">
                        <span
                          class="radio_label_inline {{candidateForm.controls.createCandidateSection.controls.taggedOrUntagged.value == 'tagged' ?'active':''}}">
                          <input type="radio" id="tagged" value="tagged" formControlName="taggedOrUntagged">
                          <label for="tagged">{{security?.forAJobLabel}}</label>
                        </span>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="radio radio-20 radio-inline" *ngIf="security?.asUntaggedCandidateRendered">
                        <span
                          class="radio_label_inline {{candidateForm.controls.createCandidateSection.controls.taggedOrUntagged.value == 'untagged' ?'active':''}}">
                          <input type="radio" id="untagged" value="untagged" formControlName="taggedOrUntagged">
                          <label for="untagged">{{security?.asUntaggedCandidateLabel}}</label>
                        </span>
                      </div>
                    </div>
                  </mat-radio-group>
                  </div>
                  <div class= "row" *ngIf="referCandidate || ijpCandidate">
                  <mat-radio-group>
                    <div class="col-md-4">
                      <div class="radio radio-20 radio-inline" *ngIf="security?.forAJobRendered">
                        <span
                          class="radio_label_inline {{candidateForm.controls.createCandidateSection.controls.taggedOrUntagged.value == 'tagged' ?'active':''}}">
                          <input type="radio" id="tagged" value="tagged" formControlName="taggedOrUntagged">
                          <label for="tagged">{{security?.forAJobLabel}}</label>
                        </span>
                      </div>
                    </div>
                  </mat-radio-group>

                </div>
              </div>
              <div class="form-group btn-mobile-one">
                <label class="control-label label-block"
                  *ngIf="security?.jobTitleRendered && candidateForm.controls.createCandidateSection.controls.taggedOrUntagged.value == 'tagged' ">{{security?.jobTitleLabel}}
                  <span *ngIf="security?.jobTitleRequired">*</span>
                </label>
                <div class="row clearfix">
                  <div class="col-md-6">
                    <div class="dropdown-11 list-block"
                      *ngIf="security?.jobTitleRendered && candidateForm.controls.createCandidateSection.controls.taggedOrUntagged.value == 'tagged' ">
                      <alt-custom-single-select #JOBTITLE [srcTag]="'JOBTITLETAG'"
                        (clickToClose)="JOBTITLE.toggleClose()" [searchEnable]="true" [labelKey]="'requisitionCode'"
                        [valueKey]="'requisitionId'" [inputList]="myJobsList" [isDisabled]="referCandidate || ijpCandidate"
                        [value]="candidateForm.controls.createCandidateSection.controls.jobTitle.value"
                        [placeholder]="'common.label.select'| translate" (valueBind)="bindJobTitleValue($event)">
                      </alt-custom-single-select>
                    </div>&nbsp;
                  </div>
                  <div class="col-md-6 text-right" *ngIf="security?.createCandidateContinueRendered">
                    <alt-spinner-button (myEvent)="continueCreateCandidate();" gaevent="CreateCandidate#Continue#click"
                      [spinner]="createCandidateSectionBlock"
                      [spinnerdisabled]="security?.createCandidateContinueDisabled || createCandidateSectionBlock"
                      [text]="isDraft ? security?.createCandidateContinueLabel : getTranslatedText('update')">
                    </alt-spinner-button>
                  </div>
                </div>
              </div>
            </div>

          </li>
          <li
            class="item_list_block {{basicSectionActive || currentSectionNumber == getSectionNumber('2') ?'step_open':'step_close'}}"
            *ngIf="security?.basicSectionRendered" formGroupName="basicSection" gaevent="Basic#Label#click">
            <div class="info_title" style="cursor: pointer;" (click)="candidateController.toggleBasic()">
              <span class="count_Icon">{{ getSectionNumber('2') }}</span>{{security?.basicSectionLabel |
              formatCapitalize}}
              <span class="clearAllFields" *ngIf="security?.basicClearAllRendered"
                (click)="clearAllBasic($event)">{{security?.basicClearAllLabel}}</span>
            </div>
            <div class="form_outer">
              <div class="row">

                <div class="form-group row2 mgn-btm-0">
                  <div class="col-md-3" *ngIf="security?.basicUploadPhotoRendered">
                    <label class="control-label clearfix">{{security?.basicUploadPhotoLabel}}
                      <span *ngIf="security?.basicUploadPhotoRequired">*</span>
                    </label>
                    <div class="row2">
                      <div class="btn-file" tabindex="0">
                        <label for="profilePic">
                          <span class="material-icons dp20"
                            *ngIf="profilePicURL == null || profilePicURL == ''">camera_alt</span>
                          <img src="{{profilePicURL}}" *ngIf="profilePicURL != null && profilePicURL != ''"
                            class="btn-file-img" />
                        </label>
                        <input #profilePic type="file" id="profilePic" style="display: none;"
                          (change)="fileChange($event)" accept=".png,.jpg,.jpeg">
                      </div>
                      <span class="fileValue text-nowrap-grad"></span>
                    </div>
                  </div>
                  <div class="col-md-3 input-field">
                    <label class="control-label">{{security?.firstNameLabel}}
                      <span>*</span>
                    </label>
                    <input type="text" maxlength="45" class="form-control" formControlName="firstName" name="firstName"
                      placeholder="{{'common.label.enter'| translate}}" />
                  </div>
                  <div class="col-md-3 input-field" *ngIf="security?.middleNameRendered">
                    <label class="control-label">{{security?.middleNameLabel}}
                      <span *ngIf="security?.middleNameRequired">*</span>
                    </label>
                    <input type="text" maxlength="45" class="form-control" formControlName="middleName"
                      name="middleName" placeholder="{{'common.label.enter'| translate}}" />
                  </div>
                  <div class="col-md-3 input-field" *ngIf="security?.lastNameRendered">
                    <label class="control-label">{{security?.lastNameLabel}}
                      <span *ngIf="security?.lastNameRequired">*</span>
                    </label>
                    <input type="text" class="form-control" formControlName="lastName" name="lastName"
                      placeholder="{{'common.label.enter'| translate}}" />
                  </div>
                </div>
                <div class="form-group row2 mgn-btm-0">
                  <div class="col-md-6 input-field" *ngIf="security?.internationalIDRendered">
                    <label class="control-label">{{security?.internationalIDLabel}}
                      <span *ngIf="security?.internationalIDRequired">*</span>
                    </label>
                    <input type="text" class="form-control pull-right" formControlName="internationalID"
                      name="internationalID" placeholder="{{'common.label.enter'| translate}}"/>
                    <control-message [control]="candidateForm.controls.basicSection.controls.internationalID">
                    </control-message>
                  </div>
                  <div class="col-md-6 input-field" *ngIf="security?.mobileRendered">
                    <label class="control-label">{{security?.mobileLabel}}
                      <span *ngIf="security?.mobileRequired">*</span>
                    </label>
                    <input type="text" class="form-control pull-right" formControlName="mobileNumber"
                      name="mobileNumber" placeholder="{{'common.label.enter'| translate}}" />
                    <control-message [control]="candidateForm.controls.basicSection.controls.mobileNumber">
                    </control-message>
                  </div>
                  <div class="col-md-6 input-field" *ngIf="security?.primaryEmailRendered">
                    <label class="control-label">{{security?.primaryEmailLabel}}
                      <span *ngIf="security?.primaryEmailRequired">*</span>
                    </label>
                    <input type="text" class="form-control" formControlName="primaryEmail" name="primaryEmail"
                      placeholder="{{'common.label.enter'| translate}}" />
                    <control-message [control]="candidateForm.controls.basicSection.controls.primaryEmail">
                    </control-message>
                  </div>
                  <div class="col-md-6 input-field" *ngIf="security?.secondaryEmailRendered">
                    <label class="control-label">{{security?.secondaryEmailLabel}}
                      <span *ngIf="security?.secondaryEmailRequired">*</span>
                    </label>
                    <input type="text" class="form-control" formControlName="secondaryEmail" name="secondaryEmail"
                      placeholder="{{'common.label.enter'| translate}}" />
                    <control-message [control]="candidateForm.controls.basicSection.controls.secondaryEmail">
                    </control-message>
                  </div>
                  <div class="col-md-6 input-field" *ngIf="security?.dateOfBirthRendered">
                    <label class="control-label clearfix">{{security?.dateOfBirthLabel}}
                      <span *ngIf="security?.dateOfBirthRequired">*</span>
                    </label>
                    <div class="row">
                      <div class="col-md-12 datepicker-col" [ngClass]="security?.dateOfBirthDisabled?'disabled':''">
                        <alt-datepicker [styleClass]="'datepicker-common3'"
                          class="dropdown-calendar dropdown-calendar-grey" [type]="'date'" [mode]="'landscape'" #DOB
                          [value]="candidateForm.controls.basicSection.controls.dateOfBirth.value"
                          (change)="bindDateOfBirth(DOB.value)" [disabled]="security?.dateOfBirthDisabled">
                        </alt-datepicker>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 input-field" *ngIf="security?.candidateAgeRendered">
                    <label class="control-label">{{security?.candidateAgeLabel}}
                      <span *ngIf="security?.candidateAgeRequired">*</span>
                    </label>
                    <input type="text" class="form-control" formControlName="candidateAge" name="candidateAge"
                      placeholder="{{'common.label.enter'| translate}}" />
                  </div>
                  <div class="col-md-6 input-field" *ngIf="security?.genderRendered">
                    <label class="control-label">{{security?.genderLabel}}
                      <span *ngIf="security?.genderRequired">*</span>
                    </label>
                    <div class="dropdown-11 list-block">
                      <alt-custom-single-select #GENDER [srcTag]="'GENDERTAG'" (clickToClose)="GENDER.toggleClose()"
                        [searchEnable]="false" [valueKey]="'id'" [inputList]="genderList"
                        [value]="candidateForm.controls.basicSection.controls.gender.value"
                        placeholder="{{'common.label.select'| translate}}" (valueBind)="bindGenderValue($event)">
                      </alt-custom-single-select>
                    </div>
                  </div>
                  <div class="col-md-6 input-field" *ngIf="security?.panNumberRendered">
                    <label class="control-label">{{security?.panNumberLabel}}
                      <span *ngIf="security?.panNumberRequired">*</span>
                    </label>
                    <input type="text" maxlength="10" class="form-control" formControlName="panNumber" name="panNumber"
                      placeholder="{{'common.label.enter'| translate}}" />
                    <control-message [control]="candidateForm.controls.basicSection.controls.panNumber">
                    </control-message>
                  </div>
                  <div class="col-md-6 input-field" *ngIf="security?.voterIdRendered">
                    <label class="control-label">{{security?.voterIdLabel}}
                      <span *ngIf="security?.voterIdRequired">*</span>
                    </label>
                    <input type="text" maxlength="45" class="form-control" formControlName="voterId" name="voterId"
                      placeholder="{{'common.label.enter'| translate}}" />
                  </div>
                  <div class="col-md-6 input-field" *ngIf="security?.passportNumberRendered">
                    <label class="control-label">{{security?.passportNumberLabel}}
                      <span *ngIf="security?.passportNumberRequired">*</span>
                    </label>
                    <input type="text" maxlength="8" class="form-control" formControlName="passportNumber"
                      name="passportNumber" placeholder="{{'common.label.enter'| translate}}" />
                    <control-message [control]="candidateForm.controls.basicSection.controls.passportNumber">
                    </control-message>
                  </div>
                  <div class="col-md-6 input-field" *ngIf="security?.aadhaarNumberRendered">
                    <label class="control-label">{{security?.aadhaarNumberLabel}}
                      <span *ngIf="security?.aadhaarNumberRequired">*</span>
                    </label>
                    <input type="text" maxlength="12" class="form-control" formControlName="aadhaarNumber"
                      name="aadhaarNumber" placeholder="{{'common.label.enter'| translate}}" />
                    <control-message [control]="candidateForm.controls.basicSection.controls.aadhaarNumber">
                    </control-message>
                  </div>
                  <div class="col-md-6 input-field" *ngIf="security?.industryRendered">
                    <label class="control-label">{{security?.industryLabel}}
                      <span *ngIf="security?.industryRequired">*</span>
                    </label>
                    <div class="dropdown-11 list-block">
                      <alt-custom-single-select #INDUSTRY [srcTag]="'INDUSTRYTAG'"
                        (clickToClose)="INDUSTRY.toggleClose()" [searchEnable]="true" [valueKey]="'id'"
                        [inputList]="industryList" [value]="candidateForm.controls.basicSection.controls.industry.value"
                        placeholder="{{'common.label.select'| translate}}" (valueBind)="bindIndustryValue($event)">
                      </alt-custom-single-select>
                    </div>
                  </div>
                  <div class="col-md-6 input-field" *ngIf="security?.functionalAreaRendered">
                    <label class="control-label">{{security?.functionalAreaLabel}}
                      <span *ngIf="security?.functionalAreaRequired">*</span>
                    </label>
                    <div class="dropdown-11 list-block">
                      <alt-custom-single-select #FUNCTIONALAREA [srcTag]="'FUNCTIONALAREATAG'"
                        (clickToClose)="FUNCTIONALAREA.toggleClose()" [searchEnable]="true" [valueKey]="'id'"
                        [inputList]="functionalAreaList"
                        [value]="candidateForm.controls.basicSection.controls.functionalArea.value"
                        placeholder="{{'common.label.select'| translate}}"
                        (valueBind)="bindFunctionalAreaValue($event)">
                      </alt-custom-single-select>
                    </div>
                  </div>
                  <div class="col-md-6 input-field" *ngIf="security?.sourceTypeRendered">
                    <label class="control-label">{{security?.sourceTypeLabel}}
                      <span>*</span>
                    </label>
                    <div class="dropdown-11 list-block">
                      <alt-custom-single-select #SOURCETYPE [srcTag]="'SOURCETYPETAG'"
                        (clickToClose)="SOURCETYPE.toggleClose()" [searchEnable]="true" [inputList]="sourceTypeList" [isDisabled]="referCandidate || ijpCandidate"
                        [valueKey]="'id'" [value]="candidateForm.controls.basicSection.controls.sourceType.value"
                        placeholder="{{'common.label.enter'| translate}}" (valueBind)="candidateForm.controls.basicSection.controls.sourceType.setValue($event.id);
                        candidateForm.controls.basicSection.controls.sourceCode.setValue(undefined);
                        candidateForm.controls.basicSection.controls.sourceName.setValue(undefined);
                        sourceTypeSysContentType=$event.sysContentType;
                        populateSourceCodeList($event.id, $event.sysContentType);"
                        (emitSelected)="populateSourceCodeList($event.id, $event.sysContentType);sourceTypeSysContentType=$event.sysContentType;">
                      </alt-custom-single-select>
                    </div>
                  </div>
                  <div *ngIf="sourceTypeList?.length != 0">
                    <div class="col-md-6 input-field" *ngIf="security?.sourceTypeRendered">
                      <label class="control-label">{{ sourceTypeSysContentType == 'VENDOR'? security?.sourceCodeLabel:
                        security?.sourceUsersLabel}}
                        <span *ngIf="sourceCodeList?.length>0 || sourceNameEnable">*</span>
                      </label>
                      <div class="dropdown-11 list-block">
                        <alt-custom-single-select #SOURCECODE [srcTag]="'SOURCECODETAG'" [isDisabled]="referCandidate || ijpCandidate"
                          (clickToClose)="SOURCECODE.toggleClose()" *ngIf="sourceCodeList?.length != 0"
                          [searchEnable]="true" [inputList]="sourceCodeList" [valueKey]="'sourceID'"
                          [labelKey]="'sourceID'" [selectName]="'sourceName'"
                          [value]="candidateForm.controls.basicSection.controls.sourceCode.value"
                          placeholder="{{'common.label.select'| translate}}"
                          (valueBind)="candidateForm.controls.basicSection.controls.sourceCode.setValue($event.sourceID);
                          candidateForm.controls.basicSection.controls.sourceName.setValue(undefined);
                          populateSourceNameList(candidateForm.controls.basicSection.controls.sourceType.value, $event.sourceID);"
                          (emitSelected)="populateSourceNameList(candidateForm.controls.basicSection.controls.sourceType.value, $event.sourceID);">
                        </alt-custom-single-select>
                        <input *ngIf="sourceCodeList?.length == 0 && !sourceNameEnable" type="text" class="form-control"
                          formControlName="sourceName" name="sourceName"
                          placeholder="{{'common.label.enter'| translate}}" />
                      </div>
                    </div>
                    <div class="col-md-6 input-field"
                      *ngIf="security?.sourceTypeRendered && sourceTypeSysContentType=='VENDOR'">
                      <label class="control-label">{{security?.sourceUsersLabel}}
                        <span>*</span>
                      </label>
                      <div class="dropdown-11 list-block">
                        <alt-custom-single-select #SOURCENAME [srcTag]="'SOURCENAMETAG'"
                          (clickToClose)="SOURCENAME.toggleClose()" [searchEnable]="true" [inputList]="sourceNameList"
                          [valueKey]="'sourceID'" [labelKey]="'sourceID'"
                          placeholder="{{'common.label.enter'| translate}}"
                          [value]="candidateForm.controls.basicSection.controls.sourceName.value"
                          (valueBind)="candidateForm.controls.basicSection.controls.sourceName.setValue($event.sourceID);">
                        </alt-custom-single-select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="column-footer row2">
                  <div class="col-md-12 text-right" *ngIf="security?.basicContinueRendered">

                    <alt-spinner-button gaevent="Basic#Continue#click" (myEvent)="continueBasic();"
                      [spinner]="basicSectionBlock"
                      [spinnerdisabled]="security?.basicContinueDisabled || basicSectionBlock"
                      [text]="isDraft? security?.basicContinueLabel : getTranslatedText('update')  "
                      [done]="basicSectionDone && !candidateForm.controls.basicSection.touched && candidateForm.controls.basicSection.valid">
                    </alt-spinner-button>
                  </div>
                </div>

              </div>
            </div>
          </li>
          <li gaevent="Personal#Label#click"
            class="item_list_block form-disabled {{personalSectionActive || currentSectionNumber == candidateController.getSectionNumber('3')?'step_open':'step_close'}}"
            *ngIf="security?.personalSectionRendered">
            <alt-candidate-basic-details [security]="security" [candidateController]="candidateController"
              [formGroup]="candidateForm.controls.personalSection">
            </alt-candidate-basic-details>
          </li>
          <li gaevent="Work#Label#click"
            class="item_list_block form-disabled {{workSectionActive || currentSectionNumber == candidateController.getSectionNumber('4')?'step_open':'step_close'}}"
            *ngIf="security?.workSectionRendered">
            <alt-candidate-work-details [security]="security" [candidateController]="candidateController"
              [formGroup]="candidateForm.controls.workSection"></alt-candidate-work-details>
          </li>
          <li gaevent="Internship#Label#click"
            class="item_list_block form-disabled {{internshipSectionActive || currentSectionNumber == candidateController.getSectionNumber('5')?'step_open':'step_close'}}"
            *ngIf="security?.internshipSectionRendered">
            <alt-internship-details [security]="security" [candidateController]="candidateController"
              [formGroup]="candidateForm.controls.internshipSection"></alt-internship-details>
          </li>
          <li gaevent="Education#Label#click"
            class="item_list_block form-disabled {{educationSectionActive || currentSectionNumber == candidateController.getSectionNumber('6')?'step_open':'step_close'}}"
            *ngIf="security?.educationSectionRendered">
            <alt-candidate-education-details [security]="security" [candidateController]="candidateController"
              [formGroup]="candidateForm.controls.educationSection"></alt-candidate-education-details>
          </li>
          <li gaevent="Skills#Label#click"
            class="item_list_block form-disabled {{skillsSectionActive || currentSectionNumber == candidateController.getSectionNumber('7')?'step_open':'step_close'}}"
            *ngIf="security?.skillsSectionRendered">
            <alt-candidate-skills-details [security]="security" [candidateController]="candidateController"
              [formGroup]="candidateForm.controls.skillSetSection"></alt-candidate-skills-details>
          </li>
          <li gaevent="Language#Label#click"
            class="item_list_block form-disabled {{languagesSectionActive || currentSectionNumber == candidateController.getSectionNumber('8')?'step_open':'step_close'}}"
            *ngIf="security?.languagesSectionRendered">
            <alt-language-details [security]="security" [candidateController]="candidateController"
              [formGroup]="candidateForm.controls.languageSetSection"></alt-language-details>
          </li>
          <li gaevent="Document#Label#click"
            class="item_list_block form-disabled {{documentSectionActive || currentSectionNumber == candidateController.getSectionNumber('9')?'step_open':'step_close'}}"
            *ngIf="security?.documentSectionRendered">
            <alt-candidate-documents-details [security]="security" [candidateController]="candidateController"
              [formGroup]="candidateForm.controls.documentSection"></alt-candidate-documents-details>
          </li>
        </ul>
        <div class="btn-row-2 pad-bot-90 clearfix" *ngIf="security?.basicSectionRendered">
          <div class="fl-right">
            <button type="button" class="btn btn-white"
              (click)="goBack()">{{'common.label.goBack' | translate}}</button>

            <alt-spinner-button (myEvent)="saveAsCandidate();" gaevent="Create#Review Candidate#click"
              [spinner]="savingAsCandidate" [spinnerdisabled]="savingAsCandidate" *ngIf="isInReview"
              [text]="'candidate.new_candidate.reviewCandidate' | translate">
            </alt-spinner-button>
            <alt-spinner-button (myEvent)="saveAsCandidate();" gaevent="Create#Save as Candidate#click"
              [spinner]="savingAsCandidate" [spinnerdisabled]="savingAsCandidate" *ngIf="isDraft"
              [text]="'candidate.new_candidate.saveAsCandidate' | translate">
            </alt-spinner-button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="clearfix">&nbsp;</div>
  <div class="clearfix">&nbsp;</div>
  <div class="clearfix">&nbsp;</div>
  <!-- \\ End Section Card-->
</div>