<div class="popup-inner form-item-popup max-height-none clearfix">
  <div class="form_outer pad-bot50">
    <div class="row">
      <form>
        <div class="form-group row2 mgn-btm-0">
          <div class="suggested-interview-section clearfix">
            <div class="col-md-6">
              <label class="control-label">{{'candidate.list.selectStage' | translate}}</label>
              <div class="dropdown-11 list-block">
                <alt-custom-single-select #STAGETYPE [srcTag]="'STAGETYPETAG'" (clickToClose)="STAGETYPE.toggleClose()" [inputList]="stageList"
                  [value]="stageName" [isDisabled]="true">
                </alt-custom-single-select>
              </div>
            </div>
            <div class="col-md-6">
              <label class="control-label">{{'candidate.list.selectStatus' | translate}}</label>
              <div class="dropdown-11 list-block">
                <alt-custom-single-select #SELECTEDSTATUS [srcTag]="'SELECTEDSTATUSTAG'" (clickToClose)="SELECTEDSTATUS.toggleClose()" [inputList]="filteredStatus"
                  [value]="selectedStatusID.value" placeholder="{{'common.label.chooseStatus' | translate}}" (valueBind)="statusChangeListener($event.value,$event.sysActionType)"
                  [isDisabled]="interview">
                </alt-custom-single-select>
              </div>
            </div>
          </div>
          <div class="calendar-invite-rw suggested-interview-section clearfix" *ngIf="(inputData[0].stageStatusType != 'SCHEDULED-DONE' || newActionType == 'SCHEDULED' || newActionType == 'RE-SCHEDULED') && security?.sendEmailAsCalendarInviteRendered">
            <span class="purple-color clearfix">{{security?.sendEmailAsCalendarInviteLabel}}</span>
            <div class="radio-block">
              <div class="radio">
                <input type="radio" id="calInviteYes" value="true" formControlName="calendarInvite" />
                <label for="calInviteYes">{{'common.label.yes' | translate}}</label>
              </div>
              <div class="radio">
                <input type="radio" id="calInviteNo" value="false" formControlName="calendarInvite" />
                <label for="calInviteNo">{{'common.label.no' | translate}}</label>
              </div>
            </div>
          </div>
          <!--  Suggested Interview   -->
          <div class="suggested-interview-section clearfix">
            <h3 class="title-sub-12">{{'candidate.list.suggestedSlot1' | translate}}</h3>
            <div class="col-md-6" *ngIf="security?.startDateRendered">
              <label class="control-label clearfix">{{security?.startDateLabel}}
                <span *ngIf="security?.startDateRequired">*</span>
              </label>
              <div [ngClass]="security?.startDateDisabled?'disabled':''">
                <alt-datepicker [styleClass]="'datepicker-common318'" class="dropdown-calendar dropdown-calendar-full" [type]="'datetime'" [mode]="'landscape'"
                  #startDate [value]="interviewStartDate" (change)="setStartDate(startDate.value)" [disabled]="security?.startDateDisabled"></alt-datepicker>
              </div>
            </div>
            <div class="col-md-6" *ngIf="security?.endDateRendered">
              <label class="control-label clearfix">{{security?.endDateLabel}}
                <span *ngIf="security?.endDateRequired">*</span>
              </label>
              <div [ngClass]="security?.endDateDisabled?'disabled':''">
                <alt-datepicker [styleClass]="'datepicker-common318'" class="dropdown-calendar dropdown-calendar-full" [type]="'datetime'" [mode]="'landscape'"
                  #endDate [value]="interviewEndDate" (change)="setEndDate(endDate.value)" [disabled]="security?.endDateDisabled"
                  attachmentDisabled></alt-datepicker>
              </div>
            </div>
            <div class="col-md-6" *ngIf="security?.venueRendered">
              <label class="control-label clearfix">{{security?.venueLabel}}
                <span *ngIf="security?.venueRequired">*</span>
              </label>
              <div class="dropdown-11 list-block">
                <alt-custom-single-select #VENUE [srcTag]="'VENUETAG'" (clickToClose)="VENUE.toggleClose()" [searchEnable]="true" [inputList]="venueList"
                  [value]="interviewForm.controls['venue'].value" placeholder="{{'candidate.hiring_process.selectVenue' | translate}}" (valueBind)="setInterviewVenue($event)"
                  [isDisabled]="security?.venueDisabled">
                </alt-custom-single-select>
              </div>
            </div>
            <div class="col-md-6" *ngIf="security?.interviewTypeRendered">
              <label class="control-label clearfix">{{security?.interviewTypeLabel}}
                <span *ngIf="security?.interviewTypeRequired">*</span>
              </label>
              <div class="dropdown-11 list-block">
                <alt-custom-single-select #INTERVIEWTYPE [srcTag]="'INTERVIEWTYPETAG'" (clickToClose)="INTERVIEWTYPE.toggleClose()" [inputList]="interviewTypeList"
                  [value]="interviewForm.controls['interviewType'].value" placeholder="{{'candidate.hiring_process.selectInterviewType' | translate}}" (valueBind)="interviewForm.controls['interviewType'].setValue($event.value)"
                  [isDisabled]="security?.interviewTypeDisabled">
                </alt-custom-single-select>
              </div>
            </div>
          </div>
          <!-- \\ End Interview Suggested  -->
          <!--  Select interview panel Block -->
          <div class="candidate-tab-detail-block select-interview" *ngIf="security?.interviewPanelistRendered">
            <h3 class="title-sub-12">{{security?.interviewPanelistLabel}}
              <span *ngIf="security?.interviewPanelistRequired">*</span>
            </h3>
            <div class="candidate-tab-detail-inner clearfix">
              <div class="col-md-6 interview-list-blk" *ngFor="let interviewPanel of selectedInterviewPanelist; let i = index;">
                <div class="card-block-inner">
                  <div class="card-row clearfix">
                    <div class="image-block" [style.background]="randomcolor[i]">
                      <span class="image-block-inner"> {{(interviewPanel.label.charAt(0)) | uppercase}}</span>
                    </div>
                    <!--<div class="image-block"><img src="./assets/images/svg/profile_male.svg" alt="profile img" /></div>-->
                    <div class="description-cell  text-nowrap-grad">
                      <span class="text-cell">{{'common.label.interviewer' | translate}}</span>
                      <h2 class="title">{{interviewPanel.label}}</h2>
                    </div>
                    <div *ngIf="!security?.interviewPanelistDisabled">
                      <span class="menu-click material-icons delete-icon  position-mng" (click)="deleteInterviewer(interviewPanel)">delete</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 custome-small-ng" *ngIf="!security?.interviewPanelistDisabled">
                <div class="card-block-inner">
                  <a href="javascript:void(0)" class="" (click)="customDialog.hiddenToggle = !customDialog.hiddenToggle;">
                    <div class="add-new-btn-outer add-new-btn-pad">
                      <div class="add-new-btn">
                        <span class="material-icons dp10">add</span>{{security?.interviewPanelistLabel}}</div>
                    </div>
                  </a>
                  <alt-custom-multi-select  #customDialog (output)="addInterviewPanelistListener($event)" [returnObject]="true" [inputList]="interviewPanelist"
                    [selectedInputList]="selectedInterviewPanelist">
                  </alt-custom-multi-select>
                </div>
              </div>
            </div>
          </div>
          <!-- \\ End Select interview panel Block -->
          <div class="col-md-12" *ngIf="security?.commentRendered">
            <label class="control-label">{{'common.label.comment' | translate}}*</label>
            <textarea class="form-control noresize" [formControl]="comment" placeholder="{{security?.commentLabel+(security?.commentRequired? '*': '')}}"
              [attr.disabled]="security?.commentDisabled?'disabled':null"></textarea>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>