<div class="tab-details">
    <alt-candidate-history-loader *ngIf="loader"></alt-candidate-history-loader>
    <div class="panel" *ngIf="!loader">
        <div class="candidate-history-block">            
          <div class="chats-accordion-title clearfix" *ngFor="let history of candidateHistoryResponseData;let i=index;">
            <!--  Candidate History Row -->
            <div class="clearfix">
              <div class="chats-images">
                <div class="image-block">
                  <div [style.background]="randomcolor[i]">
                    <span class="image-block-inner">{{ getUserName(history.actorName) | uppercase}}</span>
                  </div>
                </div>
              </div>
              <div class="chats-right">
                <div class="chats-accordion-summary">
                  <span class="text-cell">
                    <span class="font-bold">{{history.actorName}}</span>
                  </span>
                  <span class="subject-cell" *ngIf="history.eventName=='CandidateUntagging'">
                    Untagged the candidate from the job
                    <span class="font-bold" matTooltip="{{history.requisitionID}}">{{history.requisitionID}}</span>
                  </span>
                  <span class="subject-cell" *ngIf="history.eventName=='CandidateTagging'">
                    Tagged the candidate to the job
                    <span class="font-bold" matTooltip="{{history.requisitionID}}">{{history.requisitionID}}</span>
                  </span>
                  <span class="subject-cell" *ngIf="history.eventName=='CandidateCopied'">
                    Copied the candidate to the job
                    <span class="font-bold" matTooltip="{{history.requisitionID}}">{{history.requisitionID}}</span>
                  </span>
                  <span class="subject-cell" *ngIf="history.eventName=='CandidateMoved'">
                    Moved the candidate
                    from
                    <span class="font-bold" matTooltip="{{history.requisitionID}}">{{history.oldRequisitionID}}</span>
                    to the job
                    <span class="font-bold" matTooltip="{{history.requisitionID}}">{{history.requisitionID}}</span>
                  </span>
                  <ng-container *ngIf="history.eventName=='CandidateCreated'">
                    <span class="subject-cell fl-left-none">
                      Created the candidate.
                    </span>
                    <span class="text-cell">
                      <span class="font-bold">Source: </span>{{history.sourceName}}</span>
                  </ng-container>
                  <ng-container *ngIf="history.eventName=='CandidateUploaded'">
                    <span class="subject-cell fl-left-none">
                      Uploaded the candidate.
                    </span>
                    <span class="text-cell">
                      <span class="font-bold">Source: </span>{{history.sourceName}}</span>
                  </ng-container>
                  <ng-container *ngIf="history.eventName=='CandidateModified'">
                    <span class="subject-cell fl-left-none">Modified the candidate's {{history.section}} details.</span>
                  </ng-container>
                </div>
                <div class="time-bock">
                    <span class="time-bock-inner">{{history.eventDate | date: 'hh:mm a, d MMM y'}}</span>
                    <span  *ngIf="history.eventName=='CandidateModified' || history.eventName=='CandidateUploaded'" class="mdi mdi-chevron-down md24 cursor" [class.arrow-open]="toggleOpen[i]" [class.arrow-closed]="!toggleOpen[i]" (click)="toggle(i);fetchModifiedValues(history.candidateActionHistoryID)"></span>
                </div>     
              </div>
            </div>
            <!-- \\ End Candidate History Row -->                         
            <!--  Table History--> 
            <div *ngIf="toggleOpen[i]">
            <alt-candidate-history-data-loader *ngIf="candidateHistoryloader"></alt-candidate-history-data-loader>
            <div class="table-scroll-custome horizontal-scrollbox" *ngIf="!candidateHistoryloader">
                <div class="table-responsive">                  
                    <div *ngIf="modifiedValuesLoaded">                        
                        <table class="table document-table margin-bot-none">
                          <thead>
                            <tr>
                              <th class="table-td01">Field</th>
                              <th class="table-td02">New Value</th>
                              <th class="table-td03">Old Value</th>                          
                            </tr>
                          </thead>
                          <tbody>                                                                    
                          <ng-container *ngIf="isCandidateFieldsHistoryArray">
                            <ng-container *ngFor="let ONE of getKeys(candidateFieldsHistory)">
                                <ng-container *ngFor="let TWO of candidateFieldsHistory[ONE]">
                                  <tr *ngFor="let data of getKeys(TWO)">
                                      <td class="table-td01">{{data}}</td>
                                      <td class="table-td02">{{TWO[data]["newValue"]}}</td>
                                      <td class="table-td03">{{TWO[data]["oldValue"]}}</td>                            
                                  </tr>                                                
                                  <tr class="td-h10">
                                      <td class="table-td01"></td>
                                      <td class="table-td02"></td>
                                      <td class="table-td03"></td>                            
                                  </tr>
                              </ng-container>
                            </ng-container>
                          </ng-container>
                          <ng-container *ngIf="!isCandidateFieldsHistoryArray">
                            <ng-container *ngFor="let data of getKeys(candidateFieldsHistory)">
                              <tr *ngIf="!isArray(candidateFieldsHistory[data])">
                                <td class="table-td01">{{data}}</td>
                                <td class="table-td02">{{candidateFieldsHistory[data]["newValue"]}}</td>
                                <td class="table-td03">{{candidateFieldsHistory[data]["oldValue"]}}</td>                            
                              </tr>
                            </ng-container>                                   
                          </ng-container>
    
                          <ng-container *ngIf="!isCandidateFieldsHistoryArray">
                              <tr class="td-h10">
                                  <td class="table-td01"></td>
                                  <td class="table-td02"></td>
                                  <td class="table-td03"></td>                            
                              </tr>
                              <ng-container *ngFor="let data of getKeys(candidateFieldsHistory)">
                                <ng-container *ngIf="isArray(candidateFieldsHistory[data])">
                                    <ng-container *ngFor="let ONE of candidateFieldsHistory[data]">
                                      <tr *ngFor="let TWO of getKeys(ONE)">
                                          <td class="table-td01">{{TWO}}</td>
                                          <td class="table-td02">{{ONE[TWO]["newValue"]}}</td>
                                          <td class="table-td03">{{ONE[TWO]["oldValue"]}}</td>                            
                                      </tr>
                                      <tr class="td-h10">
                                          <td class="table-td01"></td>
                                          <td class="table-td02"></td>
                                          <td class="table-td03"></td>                            
                                      </tr>
                                    </ng-container>
                                </ng-container>
                              </ng-container>                                   
                            </ng-container>
                          </tbody>                                                  
                        </table>                       
                      </div>      
                    </div>   
                  </div>                                       
                </div>
          <!-- \\ End Table History-->          
          </div>    
          <div class="title-lg padding-t50" *ngIf="candidateHistoryResponseData == undefined || candidateHistoryResponseData == null">              
            No data available.
            </div>                     
      </div>     
    </div>
</div>