<div class="popup-top popup-custome-top clearfix" mat-dialog-title>
    <div class="popup-title-row">
        <h2 class="title">
            <span class="job-status {{getJobStatusClass(jobData.jobStatus)}}"></span>
            <span *ngIf="jobData.jobTitle?.length>35" matTooltip="{{jobData.jobTitle | lowercasepipe}}">{{jobData.jobTitle.toLowerCase() | stringTrim:35}} </span>
            <span *ngIf="jobData.jobTitle?.length<=35">{{jobData.jobTitle | lowercasepipe}} </span>
            <span class="job-code">{{jobData.requisitionCode}}</span>
    </h2>
        <span class="material-icons close" (click)="dialogRef.close('Cancel')">close</span>
    </div>
    <div class="popup-top-description">
        <ul class="list-reset listing-inline">
            <li class="character-count-45" *ngIf="jobData.orgUnitCode!= null && jobData.orgUnitCode?.length > 33" matTooltip="{{jobData.orgUnitCode | lowercasepipe}}">{{jobData.orgUnitCode | lowercasepipe}}</li>
            <li *ngIf="jobData.orgUnitCode!= null && jobData.orgUnitCode?.length <= 33">{{jobData.orgUnitCode | lowercasepipe}}</li>
            <li class="character-count-45" *ngIf="jobData.joiningLoc!= null && jobData.joiningLoc?.length > 33" matTooltip="{{jobData.joiningLoc | lowercasepipe}}">{{jobData.joiningLoc | lowercasepipe}}</li>
            <li *ngIf="jobData.joiningLoc!= null && jobData.joiningLoc?.length <= 33">{{jobData.joiningLoc | lowercasepipe}}</li>
            <li class="last-item" *ngIf="jobData.createdDate">{{'common.label.createdOn' | translate}} <span class="link">{{jobData.createdDate | date:'dd/MM/yyyy'}}</span></li>
        </ul>
    </div>
</div>
<div class="popup-inner" mat-dialog-content>
    <div class="notification-bar {{severityClass}} {{showClass}}" *ngIf="message.length > 0">
        <span class="material-icons successful-icon">check_circle</span>
        <div class="notification-text-outer">
            <span class="notification-text">{{message}}</span>
        </div>
        <span class="material-icons close" (click)="clearMessages()">close</span>
    </div>
    <!-- popup Content Box -->
    <div class="popup-content">
        <h3 class="title-12" *ngIf="!disableEmpRefStartDate">{{'employeeRefreal.publish.infoEnableEmpRefStartDate' | translate}} </h3>
        <h3 class="title-12" *ngIf="disableEmpRefStartDate">{{'employeeRefreal.publish.infoDisableEmpRefStartDate' | translate}}
        </h3>
        <div class="popup-row clearfix multiple-field-input">
            <div class="popup-cell-common">
                <label class="control-label label-text">{{'common.label.startDate' | translate}}</label>
                <div class="popup-cell-inner">
                    <alt-datepicker class="dropdown-calendar {{disableEmpRefStartDate?'disabled':'enbled'}}" [mode]="landscape" [value]="empRefStartDate"
                        #startDate (change)="selectEmpRefStartDate(startDate.value)" [type]="'date'" [disabled]="disableEmpRefStartDate" [disableClick]="disableEmpRefStartDate"></alt-datepicker>
                </div>
            </div>
            <div class="popup-cell-common pointer-date">
                <label class="control-label label-text">{{'common.label.endDate' | translate}}</label>
                <div class="popup-cell-inner">
                    <alt-datepicker class="dropdown-calendar" [mode]="landscape" [value]="empRefEndDate" [type]="'date'"#endDate (change)="selectEmpRefEndDate(endDate.value)"></alt-datepicker>
                </div>
            </div>
            <div class="popup-cell-common">
                <label class="control-label label-text">{{'employeeRefreal.publish.scheme' | translate}}</label>
                <div class="popup-cell-inner ">
                    <input type="text" class="form-control" id="scheme" [(ngModel)]='referralScheme' placeholder="{{'employeeRefreal.publish.schemePlaceholder' | translate}}">
                </div>
            </div>
        </div>
        <!-- \\ End Popup Row -->
    </div>
    <!-- \\ End popup Content Box -->

</div>

<div class="btn-row text-right" mat-dialog-actions>
    <button class="btn btn-white" (click)="dialogRef.close()" [disabled]="publishEmployee">{{'common.label.cancel' | translate}}</button>
    <!--<button class="btn btn-primary" (click)="postJobToEmpPortal()">Post</button>-->
    <alt-spinner-button (myEvent)="postJobToEmpPortal($event)" [spinner]="publishEmployee" [spinnerdisabled]="publishEmployee"
      text="{{((lable | lowercase) ===('update' | lowercase) ? 'common.label.update' : 'common.label.post') | translate}}"></alt-spinner-button>
</div>