<div class="job-details-card clearfix">
	<alt-job-summary>
	</alt-job-summary>
</div>
<div class="job-stages">
	<alt-jobs-stage-list>
	</alt-jobs-stage-list>
</div>
<!-- Tab Section -->
<div class="mat-tab-section position-rel">
	<mat-tab-group>
		<mat-tab>
			<ng-template mat-tab-label>
				<a class="first {{currentPath.endsWith('job-details')?'mat-tab-active':''}}" [routerLink]="['./job-details']">{{'common.label.job' | translate}}<br>{{'common.label.details'| translate}}</a>
			</ng-template>
		</mat-tab>

		<mat-tab *ngIf="featureDataMap.get('SOURCE_AND_TEAM') == 1">
			<ng-template mat-tab-label>
				<a class="{{currentPath.endsWith('performance-source-team')?'mat-tab-active':''}}" [routerLink]="['performance-source-team']">{{'common.label.source'| translate}} <br>&amp; {{'common.label.team'| translate}}</a>
			</ng-template>
		</mat-tab>
		<mat-tab *ngIf="featureDataMap.get('SOURCE_AND_TEAM') == 2">
			<ng-template mat-tab-label>
				<a class="{{currentPath.endsWith('performance-source-team')?'mat-tab-active':''}} disabled">{{'common.label.source'| translate}} <br>&amp; {{'common.label.team'| translate}}</a>
			</ng-template>
		</mat-tab>

		<mat-tab>
			<ng-template mat-tab-label>
				<a class="{{currentPath.endsWith('tagged-candidates')?'mat-tab-active':''}}" [routerLink]="['tagged-candidates']">{{'common.label.tagged'| translate}}<br>{{'common.label.candidates'| translate}}</a>
			</ng-template>
		</mat-tab>
		<mat-tab>
			<ng-template mat-tab-label>
				<a class="{{currentPath.endsWith('rejected-candidates')?'mat-tab-active':''}}" [routerLink]="['rejected-candidates']">{{'common.label.rejected'| translate}}<br> {{'common.label.candidates'| translate}}</a>
			</ng-template>
		</mat-tab>
		<mat-tab>
			<ng-template mat-tab-label>
				<a class="last {{currentPath.endsWith('history-chats')?'mat-tab-active':''}}" [routerLink]="['history-chats']">{{'common.label.HISTORY'| translate}}<br>&amp; {{'common.label.chats'| translate}}</a>
			</ng-template>
		</mat-tab>
	</mat-tab-group>
	<div *ngIf="countLoader == 'nodata'">
		<span class="notification count-tagged" *ngIf="showStageCount">...</span>
		<span class="notification count-rejected" *ngIf="showStageCount">...</span>
	</div>
	<div *ngIf="countLoader == 'data'">
		<span class="notification count-tagged" *ngIf="showStageCount">{{taggedCount}}</span>
		<span class="notification count-rejected" *ngIf="showStageCount">{{rejectedCount}}</span>
	</div>
	<div class="tab-details">
		<router-outlet></router-outlet>
	</div>
</div>
<!-- \\ End Tab Section -->