<div class="job-option"  *ngIf="checkForOrg()">
  <a href="javascript:void(0)" (click)="showContextMenu()"><span class="material-icons more-icon">more_vert</span></a>
  <div class="{{displayClass}}">
    <div class="module-true displayBlock" (click)="hideContextMenu()"></div>
    <!-- Menu style -->
    <div class="menu-style menu-style-2 {{displayClass}}">
      <span class="material-icons close" (click)="hideContextMenu()">close</span>
      <ul class="list-reset dropdown-menu">
        <li><a href="javascript:void(0);" (click)="call()"  class="white-space-in"><span class="menu-style-icon material-icons">settings_phone</span>Initial Screening Call</a></li>
      </ul>
    </div>
    <!-- \\ End Menu style -->
  </div>
</div>
