<h4 class="title-purple-18">{{'candidate.list.untaggedCandidates' | translate}}</h4>
<h2 class="title-lg">{{'candidate.list.matchRightCandidate' | translate}}</h2>
<h2 class="title-lg-2">{{'candidate.list.beMatchMaker' | translate}}</h2>
<!--  Section Card-->
<div class="section-card">
    <div class="blank-screen-card clearfix">
        <div class="card-block card-3">
            <div class="card-block-inner">
                <div class="blank-screen-icon"><span class="screen-icon create-candidate-icon"></span></div>
                <div class="blank-screen-right">
                    <h4 class="title-sub text-uppercase">1. {{'common.label.create' | translate}}</h4>
                    <span class="text-cell">{{'candidate.list.newCandidate' | translate}}</span>
                </div>
            </div>
        </div>
        <div class="card-block card-3">
            <div class="card-block-inner">
                <div class="blank-screen-icon"><span class="screen-icon source-candidates-icon"></span></div>
                <div class="blank-screen-right">
                    <h4 class="title-sub text-uppercase">2. {{'common.label.tag' | translate}}</h4>
                    <span class="text-cell">{{'candidate.list.oneOrMoreJob' | translate}}</span>
                </div>
            </div>
        </div>
        <div class="card-block card-3">
            <div class="card-block-inner">
                <div class="blank-screen-icon"><span class="screen-icon tag-job-icon"></span></div>
                <div class="blank-screen-right">
                    <h4 class="title-sub text-uppercase">3. {{'common.label.recruit' | translate}}</h4>
                    <span class="text-cell">{{'candidate.list.fillOpening' | translate}}  </span>
                </div>
            </div>
        </div>
    </div>
    <div class="blank-screen-guidelines clearfix">
        <!-- Card Block -->
        <div class="card-block card-3 card-candidate-untagged">
            <div class="card-block-inner">
                <div class="card-top card-row clearfix">
                    <div class="check-box checkbox">
                        <input type="checkbox" class="styled">
                        <label></label>
                    </div>
                    <div class="job-option position-rel">
                        <a href="javascript:void(0)"><span class="material-icons more-icon">more_vert</span></a>
                        <div class="blank-screen-line-arrow right"><span class="arrow-text">{{'candidate.list.takeCandidateActions' | translate}} </span></div>
                    </div>
                </div>
                <div class="card-row card-name-row">
                    <div class="image-block">
                        <img src="./assets/images/svg/profile_female.svg" alt="profile male" />
                    </div>
                    <span class="material-icons flag-icon">flag</span>
                    <div class="title-cell text-nowrap-cell">
                        <h3 class="title"><a class="link" href="candidate_detail.html">Ekambaram Narayanan Santoshram</a></h3>
                        <ul class="list-reset listing-inline">
                            <li>candidate/code/00000</li>
                            <li>tiruvananthapuram</li>
                        </ul>
                    </div>
                    <div class="blank-screen-curve-line left blank-screen-top17"><span class="curve-line-arrow"></span><span class="arrow-text">{{'candidate.list.flagCandidate' | translate}} </span></div>
                </div>
                <div class="card-row card-profile-row clearfix">
                    <div class="profile-completed position-rel">
                        <div class="profile-graph">
                            <div class="c100 p50">
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>
                        </div>
                        <div class="profile-graph-details">
                            <span class="profile-percent">00%</span>
                            <span class="text-cell">{{'job.draft_job.jobDetailsComplete' | translate}}   </span>
                        </div>
                        <div class="blank-screen-line-arrow left"><span class="arrow-text">{{'candidate.list.betterMatch' | translate}} </span></div>
                    </div>
                </div>
                <div class="card-row border-bot-none">
                    <div class="skill-row clearfix position-rel">
                        <span class="tag-job text-uppercase">{{'candidate.list.topSkill' | translate}} 1</span>
                        <span class="tag-job text-uppercase">{{'candidate.list.topSkill' | translate}} 2</span>
                        <span class="tag-job text-uppercase">{{'common.label.skill' | translate}}</span>
                        <span class="tag-job text-uppercase">{{'common.label.skill' | translate}}</span>
                        <span class="tag-job text-uppercase">{{'common.label.skill' | translate}}</span>
                        <div class="blank-screen-line-arrow left blank-screen-top17"><span class="arrow-text">{{'candidate.list.candidateTop5Skills' | translate}}</span></div>
                    </div>
                </div>
            </div>
            <div class="btn-row mrg-lf-20">
                <a href="javascript:void(0)" class="btn btn-gray">{{'candidate.list.tagJob' | translate}}</a>
                <div class="blank-screen-line-arrow right"><span class="arrow-text"> {{'candidate.list.tagJobForHiringProcess' | translate}}</span></div>
            </div>
        </div>
        <!-- \\ End Card Block -->
    </div>
</div>
<!-- \\ End Section Card-->