<alt-work-experience-loader *ngIf="workExpLoader == 'loader'"></alt-work-experience-loader>
<ng-container *ngIf="workExpLoader == 'data' || workExpLoader == 'nodata' ">
    <div class="panel-heading clearfix" *ngIf="security?.workSectionRendered">
        <h2 class="panel-title fl-left text-capitalize">{{security?.workSectionLabel | formatCapitalize}}</h2>
    </div>
    <div *ngIf="workExpLoader == 'nodata' && getNoticePeriod(workExp) == null" >
        <div class="panel-body">
            <span class="panel-col panel-col1 text-description">{{'common.label.noDataAvailable' | translate}}</span>
        </div>
    </div>
    <div class="panel-body" *ngIf="security?.workSectionRendered">
        <div class="panel-row clearfix" *ngIf="security?.totalExperienceRendered">
            <span class="panel-col panel-col1">{{security?.totalExperienceLabel}}</span>
            <span class="panel-col text-bold-cell">{{workExp?.expInYears}}.{{workExp?.expInMonths}}</span>
        </div>
        <div class="panel-row clearfix" *ngIf="security?.noticePeriodRendered">
            <span class="panel-col panel-col1">{{security?.noticePeriodLabel}}</span>
            <span class="panel-col text-bold-cell">{{workExp?.noticePeriod}}</span>
        </div>
        <div *ngFor="let WorkExperience of WorkExperiences; let i= index;">

            
            <div class="panel-row clearfix" *ngIf="security?.jobTitleRendered">
                <span class="panel-col panel-col1">{{security?.jobTitleLabel}}</span>
                <span class="panel-col text-bold-cell">{{WorkExperience.jobTitle}}</span>
            </div>
            <div class="panel-row clearfix" *ngIf="security?.officialMailRendered">
                <span class="panel-col panel-col1">{{security?.officialMailLabel}}</span>
                <span class="panel-col text-bold-cell text-lowercase">{{WorkExperience.officialMailId}}</span>
            </div>
            <div class="panel-row clearfix" *ngIf="security?.companyRendered">
                <span class="panel-col panel-col1">{{security?.companyLabel}}</span>
                <span class="panel-col text-bold-cell">{{WorkExperience.companyName}}</span>
            </div>
            <div class="panel-row clearfix" *ngIf="security?.descriptionRendered">
                <span class="panel-col panel-col1">{{security?.descriptionLabel}} </span>
                <span class="panel-col text-bold-cell">{{WorkExperience.description}}</span>
            </div>
            <div class="panel-row clearfix" *ngIf="security?.companyStartDateRendered">
                <span class="panel-col panel-col1">{{security?.companyStartDateLabel}}</span>
                <span class="panel-col text-bold-cell">{{WorkExperience.startDate}}</span>
            </div>
            <div class="panel-row clearfix" *ngIf="security?.companyEndDateRendered && !WorkExperience.currentlyWorkingHere">
                <span class="panel-col panel-col1">{{security?.companyEndDateLabel}}</span>
                <span class="panel-col text-bold-cell" *ngIf="!WorkExperience.currentlyWorkingHere">{{WorkExperience.endDate}}</span>
            </div>
            <div class="panel-row clearfix" *ngIf="security?.stillWorkingHereRendered">
                <span class="panel-col panel-col1">{{security?.stillWorkingHereLabel}}</span>
                <span class="panel-col text-bold-cell">{{WorkExperience.currentlyWorkingHere?"Yes":"No"}}</span>
            </div>
            <div class="panel-row clearfix" *ngIf="security?.companyCTCRendered">
                <span class="panel-col panel-col1">{{security?.companyCTCLabel}}</span>
                <span class="panel-col text-bold-cell">{{WorkExperience.ctc}} </span>
            </div>
            <div class="divider divider-pad clearfix" *ngIf="i != WorkExperiences.length - 1"></div>
        </div>
    </div>
</ng-container>