<!-- Section popup 2-->
<div class="popup-top popup-custome-top clearfix" mat-dialog-title>
  <div class="popup-title-row">
    <h2 class="title">
      <span class="job-status {{getJobStatusClass(jobSummaryData.jobStatus)}}"></span>
      <span *ngIf="jobSummaryData?.jobName?.length>45" matTooltip="{{jobSummaryData?.jobName | lowercasepipe}}">{{jobSummaryData?.jobName.toLowerCase() | stringTrim:45}} </span>
      <span *ngIf="jobSummaryData?.jobName?.length<=45">{{jobSummaryData?.jobName | lowercasepipe}} </span> 
      <span class="job-code">{{jobSummaryData?.jobCode}}</span>
    </h2>
    <span class="material-icons close" (click)="cancel()">close</span>
  </div>
  <div class="popup-top-description">
    <ul class="list-reset listing-inline max-width90">
      <li class="character-count-45" *ngIf="jobSummaryData?.summaryOrgUnit !=null && jobSummaryData?.summaryOrgUnit.length>33" matTooltip="{{jobSummaryData?.summaryOrgUnit | lowercasepipe}}">{{jobSummaryData?.summaryOrgUnit | lowercasepipe}}</li>
      <li *ngIf="jobSummaryData?.summaryOrgUnit !=null && jobSummaryData?.summaryOrgUnit.length<=33">{{jobSummaryData?.summaryOrgUnit | lowercasepipe}}</li>
      <li class="character-count-45" *ngIf="jobSummaryData?.summaryWorkSite !=null && jobSummaryData?.summaryWorkSite.length>33" matTooltip="{{jobSummaryData?.summaryWorkSite | lowercasepipe}}">{{jobSummaryData?.summaryWorkSite | lowercasepipe}}</li>
      <li *ngIf="jobSummaryData?.summaryWorkSite !=null && jobSummaryData?.summaryWorkSite.length<=33">{{jobSummaryData?.summaryWorkSite | lowercasepipe}}</li>
      <li class="last-item">{{'common.label.postedOn' | translate}} {{jobSummaryData?.postedOn}} </li>
    </ul>
    <div class="popup-openings">
      <span class="text-bold-cell">{{jobSummaryData?.numberOfOpenings}}</span>
      <span class="text-cell">{{'common.label.OPENINGS' | translate}}</span>
    </div>
  </div>
</div>
<div class="notification-bar {{severityClass}}" *ngIf="messages.length > 0">
  <span class="material-icons successful-icon">check_circle</span>
  <div class="notification-text-outer">
    <span *ngFor="let message of messages" class="notification-text">{{message}}</span>
  </div>
  <span class="material-icons close" (click)="clearMessages()">close</span>
</div>
<div class="popup-inner vertical-scrollbox">
  <!-- popup Content Box -->
  <div class="popup-content">
      <h3 *ngIf="!vendorDisabled" class="title-12 color-gray-text">{{'vendor.publish.infoVendorEnabled' | translate:{publishToVendorLength:publishToVendorJSON.input.length} }}</h3>
      <h3 *ngIf="vendorDisabled" class="title-12 color-gray-text">{{'vendor.publish.infoVendorDisabled' | translate:{vendorNameString: vendorName | uppercase } }}</h3>
    <!--  Popup Row -->
    <div class="popup-row popup-common-cell-3 clearfix">
      <div class="popup-cell-common">
        <label class="label-cell">{{'common.label.startDate' | translate}}</label>
        <alt-datepicker class="dropdown-calendar" [mode]="'landscape'" [(ngModel)]="assignDate" [type]="'date'" #sDate (change)="selectAssignDate(sDate.value)"
          placeholder="" [disabled]="vendorDisabled"></alt-datepicker>
      </div>
      <div class="popup-cell-common cell-right">
        <label class="label-cell">{{'common.label.targetDate' | translate}}</label>
        <alt-datepicker class="dropdown-calendar" [mode]="'landscape'" [(ngModel)]="targetDate" #tDate [type]="'date'" (change)="selectTargetDate(tDate.value)"
          placeholder=""></alt-datepicker>
      </div>
      <div class="popup-cell-common cell-pull">
        <label class="label-cell">{{'vendor.publish.noOfOpening' | translate}}</label>
        <div class="popup-cell-inner">
          <input type="text" class="form-control" [disabled]="vendorDisabled" placeholder="" [(ngModel)]="numberofOpenings" />
        </div>
      </div>

    </div>
    <!-- \\ End Popup Row -->
  </div>
  <!-- \\ End popup Content Box -->
</div>
<div class="btn-row text-right">
  <a href="javascript:void(0)" class="btn btn-white" (click)="cancel()">{{'common.label.cancel' | translate}}</a>
  <a href="javascript:void(0)"> <alt-spinner-button text="{{'common.label.publish' | translate}}"  [spinner]="isPublishRequestInProcess" [spinnerdisabled]="isPublishRequestInProcess"  (myEvent)="publish()" >
  </alt-spinner-button> </a>
 
</div>
<!-- \\ End Section popup 2-->