<div class="content">
  <div class="main-title-row margin-r280">
    <h1 class="main-title">
      <div class="loading-line width-20"></div>
    </h1>
  </div>
  <div class="table-scroll-custome horizontal-scrollbox">
    <div class="table-download table-outer">
      <div class="table-responsive">
        <table class="table document-table">
          <thead>
            <tr>
              <th class="table-cell-1">
                <div class="loading-line width-50 mgn-l10"></div>
              </th>
              <th class="table-cell-2">
                <div class="loading-line width-50"></div>
              </th>
              <th class="table-cell-3">
                <div class="loading-line width-90"></div>
              </th>
              <th class="table-cell-4">
                <div class="loading-line width-90"></div>
              </th>
              <th class="table-cell-5">
                <div class="loading-line width-90"></div>
              </th>
              <th class="table-cell-6  option-cell">
                <div class="loading-line width-50 mgn-l10"></div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="table-cell-1">
                <div class="loading-line width-50 mgn-l10"></div>
              </td>
              <td class="table-cell-2">
                <div class="loading-line width-50"></div>
              </td>
              <td class="table-cell-3 font-bold">
                <div class="loading-line width-80"></div>
              </td>
              <td class="table-cell-4">
                <div class="loading-line width-80"></div>
              </td>
              <td class="table-cell-5">
                <div class="loading-line width-80"></div>
              </td>
              <td class="table-cell-6 option-cell">
                <div class="loading-line width-20 mgn-l10 fl-left"></div>
                <div class="loading-line width-20 mgn-l10 fl-left"></div>
              </td>
            </tr>
            <tr>
              <td class="table-cell-1">
                <div class="loading-line width-50 mgn-l10"></div>
              </td>
              <td class="table-cell-2">
                <div class="loading-line width-50"></div>
              </td>
              <td class="table-cell-3 font-bold">
                <div class="loading-line width-40"></div>
              </td>
              <td class="table-cell-4">
                <div class="loading-line width-40"></div>
              </td>
              <td class="table-cell-5">
                <div class="loading-line width-40"></div>
              </td>
              <td class="table-cell-6 option-cell">
                <div class="loading-line width-20 mgn-l10 fl-left"></div>
                <div class="loading-line width-20 mgn-l10 fl-left"></div>
              </td>
            </tr>
            <tr>
              <td class="table-cell-1">
                <div class="loading-line width-50 mgn-l10"></div>
              </td>
              <td class="table-cell-2">
                <div class="loading-line width-50"></div>
              </td>
              <td class="table-cell-3 font-bold">
                <div class="loading-line width-30"></div>
              </td>
              <td class="table-cell-4">
                <div class="loading-line width-30"></div>
              </td>
              <td class="table-cell-5">
                <div class="loading-line width-30"></div>
              </td>
              <td class="table-cell-6 option-cell">
                <div class="loading-line width-20 mgn-l10 fl-left"></div>
                <div class="loading-line width-20 mgn-l10 fl-left"></div>
              </td>
            </tr>
            <tr>
              <td class="table-cell-1">
                <div class="loading-line width-50 mgn-l10"></div>
              </td>
              <td class="table-cell-2">
                <div class="loading-line width-50"></div>
              </td>
              <td class="table-cell-3 font-bold">
                <div class="loading-line width-50"></div>
              </td>
              <td class="table-cell-4">
                <div class="loading-line width-50"></div>
              </td>
              <td class="table-cell-5">
                <div class="loading-line width-50"></div>
              </td>
              <td class="table-cell-6 option-cell">
                <div class="loading-line width-20 mgn-l10 fl-left"></div>
                <div class="loading-line width-20 mgn-l10 fl-left"></div>
              </td>
            </tr>
            <tr>
              <td class="table-cell-1">
                <div class="loading-line width-50 mgn-l10"></div>
              </td>
              <td class="table-cell-2">
                <div class="loading-line width-50"></div>
              </td>
              <td class="table-cell-3 font-bold">
                <div class="loading-line width-60"></div>
              </td>
              <td class="table-cell-4">
                <div class="loading-line width-60"></div>
              </td>
              <td class="table-cell-5">
                <div class="loading-line width-60"></div>
              </td>
              <td class="table-cell-6 option-cell">
                <div class="loading-line width-20 mgn-l10 fl-left"></div>
                <div class="loading-line width-20 mgn-l10 fl-left"></div>
              </td>
            </tr>
            <tr>
              <td class="table-cell-1">
                <div class="loading-line width-50 mgn-l10"></div>
              </td>
              <td class="table-cell-2">
                <div class="loading-line width-50"></div>
              </td>
              <td class="table-cell-3 font-bold">
                <div class="loading-line width-60"></div>
              </td>
              <td class="table-cell-4">
                <div class="loading-line width-70"></div>
              </td>
              <td class="table-cell-5">
                <div class="loading-line width-70"></div>
              </td>
              <td class="table-cell-6 option-cell">
                <div class="loading-line width-20 mgn-l10 fl-left"></div>
                <div class="loading-line width-20 mgn-l10 fl-left"></div>
              </td>
            </tr>
            <tr>
              <td class="table-cell-1">
                <div class="loading-line width-50 mgn-l10"></div>
              </td>
              <td class="table-cell-2">
                <div class="loading-line width-50"></div>
              </td>
              <td class="table-cell-3 font-bold">
                <div class="loading-line width-60"></div>
              </td>
              <td class="table-cell-4">
                <div class="loading-line width-70"></div>
              </td>
              <td class="table-cell-5">
                <div class="loading-line width-70"></div>
              </td>
              <td class="table-cell-6 option-cell">
                <div class="loading-line width-20 mgn-l10 fl-left"></div>
                <div class="loading-line width-20 mgn-l10 fl-left"></div>
              </td>
            </tr>
            <tr>
              <td class="table-cell-1">
                <div class="loading-line width-50 mgn-l10"></div>
              </td>
              <td class="table-cell-2">
                <div class="loading-line width-50"></div>
              </td>
              <td class="table-cell-3 font-bold">
                <div class="loading-line width-60"></div>
              </td>
              <td class="table-cell-4">
                <div class="loading-line width-70"></div>
              </td>
              <td class="table-cell-5">
                <div class="loading-line width-70"></div>
              </td>
              <td class="table-cell-6 option-cell">
                <div class="loading-line width-20 mgn-l10 fl-left"></div>
                <div class="loading-line width-20 mgn-l10 fl-left"></div>
              </td>
            </tr>
            <tr>
              <td class="table-cell-1">
                <div class="loading-line width-50 mgn-l10"></div>
              </td>
              <td class="table-cell-2">
                <div class="loading-line width-50"></div>
              </td>
              <td class="table-cell-3 font-bold">
                <div class="loading-line width-80"></div>
              </td>
              <td class="table-cell-4">
                <div class="loading-line width-80"></div>
              </td>
              <td class="table-cell-5">
                <div class="loading-line width-80"></div>
              </td>
              <td class="table-cell-6 option-cell">
                <div class="loading-line width-20 mgn-l10 fl-left"></div>
                <div class="loading-line width-20 mgn-l10 fl-left"></div>
              </td>
            </tr>
            <tr>
              <td class="table-cell-1">
                <div class="loading-line width-50 mgn-l10"></div>
              </td>
              <td class="table-cell-2">
                <div class="loading-line width-50"></div>
              </td>
              <td class="table-cell-3 font-bold">
                <div class="loading-line width-70"></div>
              </td>
              <td class="table-cell-4">
                <div class="loading-line width-70"></div>
              </td>
              <td class="table-cell-5">
                <div class="loading-line width-70"></div>
              </td>
              <td class="table-cell-6 option-cell">
                <div class="loading-line width-20 mgn-l10 fl-left"></div>
                <div class="loading-line width-20 mgn-l10 fl-left"></div>
              </td>
            </tr>
            <tr>
              <td class="table-cell-1">
                <div class="loading-line width-50 mgn-l10"></div>
              </td>
              <td class="table-cell-2">
                <div class="loading-line width-60"></div>
              </td>
              <td class="table-cell-3 font-bold">
                <div class="loading-line width-90"></div>
              </td>
              <td class="table-cell-4">
                <div class="loading-line width-90"></div>
              </td>
              <td class="table-cell-5">
                <div class="loading-line width-90"></div>
              </td>
              <td class="table-cell-6 option-cell">
                <div class="loading-line width-20 mgn-l10 fl-left"></div>
                <div class="loading-line width-20 mgn-l10 fl-left"></div>
              </td>
            </tr>
            <tr>
              <td class="table-cell-1">
                <div class="loading-line width-50 mgn-l10"></div>
              </td>
              <td class="table-cell-2">
                <div class="loading-line width-50"></div>
              </td>
              <td class="table-cell-3 font-bold">
                <div class="loading-line width-60"></div>
              </td>
              <td class="table-cell-4">
                <div class="loading-line width-60"></div>
              </td>
              <td class="table-cell-5">
                <div class="loading-line width-60"></div>
              </td>
              <td class="table-cell-6 option-cell">
                <div class="loading-line width-20 mgn-l10 fl-left"></div>
                <div class="loading-line width-20 mgn-l10 fl-left"></div>
              </td>
            </tr>
            <tr>
              <td class="table-cell-1">
                <div class="loading-line width-50 mgn-l10"></div>
              </td>
              <td class="table-cell-2">
                <div class="loading-line width-50"></div>
              </td>
              <td class="table-cell-3 font-bold">
                <div class="loading-line width-70"></div>
              </td>
              <td class="table-cell-4">
                <div class="loading-line width-70"></div>
              </td>
              <td class="table-cell-5">
                <div class="loading-line width-70"></div>
              </td>
              <td class="table-cell-6 option-cell">
                <div class="loading-line width-20 mgn-l10 fl-left"></div>
                <div class="loading-line width-20 mgn-l10 fl-left"></div>
              </td>
            </tr>
            <tr>
              <td class="table-cell-1">
                <div class="loading-line width-50 mgn-l10"></div>
              </td>
              <td class="table-cell-2">
                <div class="loading-line width-50"></div>
              </td>
              <td class="table-cell-3 font-bold">
                <div class="loading-line width-80"></div>
              </td>
              <td class="table-cell-4">
                <div class="loading-line width-80"></div>
              </td>
              <td class="table-cell-5">
                <div class="loading-line width-80"></div>
              </td>
              <td class="table-cell-6 option-cell">
                <div class="loading-line width-20 mgn-l10 fl-left"></div>
                <div class="loading-line width-20 mgn-l10 fl-left"></div>
              </td>
            </tr>
            <tr>
              <td class="table-cell-1">
                <div class="loading-line width-50 mgn-l10"></div>
              </td>
              <td class="table-cell-2">
                <div class="loading-line width-50"></div>
              </td>
              <td class="table-cell-3 font-bold">
                <div class="loading-line width-90"></div>
              </td>
              <td class="table-cell-4">
                <div class="loading-line width-90"></div>
              </td>
              <td class="table-cell-5">
                <div class="loading-line width-90"></div>
              </td>
              <td class="table-cell-6 option-cell">
                <div class="loading-line width-20 mgn-l10 fl-left"></div>
                <div class="loading-line width-20 mgn-l10 fl-left"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>