<!--  Basic Details Toggle  -->
<div class="sub-toggle clearfix {{toggleOpen?'sub-toggle-open':'sub-toggle-close'}}">
    <div class="sub-toggle-title">
        <h2 class="title-12 purple-color fl-left">{{'common.label.basicDetails' | translate}} </h2>
        <span class="material-icons keyboard_arrow_up fl-right" (click)="toggleDiv()"></span>
    </div>
    <div class="sub-toggle-containt" *ngIf="toggleOpen">
        <form [formGroup]="fitmentForm">
            <div class="candidate-tab-detail-block outer-border-bot">
                <h3 class="title-12">{{'common.label.candidateDetails' | translate}}</h3>
                <div class="candidate-tab-detail-inner clearfix">
                    <div class="form-group row2 mgn-btm-0">
                        <div class="col-md-4 col-md-4-padding10 input-field" *ngIf="security?.basicGenderRendered">
                            <label class="control-label">{{security?.basicGenderLabel}}
                                <span *ngIf="security?.basicGenderRequired">*</span>
                            </label>
                            <input type="text" class="form-control" formControlName="gender" name="gender" placeholder="{{'common.label.enter' | translate}}">
                        </div>
                        <div class="col-md-4 col-md-4-padding10 input-field" *ngIf="security?.basicCompanyNameRendered">
                            <label class="control-label">{{security?.basicCompanyNameLabel}}
                                <span *ngIf="security?.basicCompanyNameRequired">*</span>
                            </label>
                            <input type="text" class="form-control" formControlName="companyName" name="companyName" placeholder="{{'common.label.enter' | translate}}" />
                        </div>
                        <div class="col-md-4 col-md-4-padding10 input-field no-spin" *ngIf="security?.basicTotalExperienceRendered">
                            <label class="control-label">{{security?.basicTotalExperienceLabel}}
                                <span *ngIf="security?.basicTotalExperienceRequired">*</span>
                            </label>
                            <input type="text" maxlength="3" class="form-control form-control-grey" formControlName="totalExperience" name="totalExperience"
                                placeholder="{{'common.label.enter' | translate}}" (keypress)="decimalValuesKeyPress($event)" (paste)="$event.preventDefault()" />
                        </div>
                        <div class="col-md-4 col-md-4-padding10 input-field no-spin" *ngIf="security?.basicTenureWithCurrentOrganizationRendered">
                            <label class="control-label">{{security?.basicTenureWithCurrentOrganizationLabel}}
                                <span *ngIf="security?.basicTenureWithCurrentOrganizationRequired">*</span>
                            </label>
                            <input type="text" maxlength="3" class="form-control form-control-grey" formControlName="tenureWithCurrentOrganization" name="tenureWithCurrentOrganization"
                                placeholder="{{'common.label.enter' | translate}}" (keypress)="decimalValuesKeyPress($event)" (paste)="$event.preventDefault()" />
                        </div>
                        <div class="col-md-4 col-md-4-padding10 input-field" *ngIf="security?.basicCandidateDesignationRendered">
                            <label class="control-label">{{security?.basicCandidateDesignationLabel}}
                                <span *ngIf="security?.basicCandidateDesignationRequired">*</span>
                            </label>
                            <input type="text" class="form-control" formControlName="candidateDesignation" name="candidateDesignation" placeholder="{{'common.label.enter' | translate}}"
                            />
                        </div>
                        <div class="col-md-4 col-md-4-padding10 input-field" *ngIf="security?.basicLastIncrementDateRendered">
                            <label class="control-label">{{security?.basicLastIncrementDateLabel}}
                                <span *ngIf="security?.basicLastIncrementDateRequired">*</span>
                            </label>
                            <div class="datepicker-col" [ngClass]="security?.basicLastIncrementDateDisabled?'disabled':''">
                                <alt-datepicker [styleClass]="'datepicker-common'" class="dropdown-calendar dropdown-calendar-grey" [type]="'date'" [mode]="'landscape'"
                                    #lastIncrementDate [value]="_lastIncrementDate" (change)="setLastIncrementValue(lastIncrementDate.value)" [max]=currentDate 
                                    [disabled]="security?.basicLastIncrementDateDisabled" (paste)="$event.preventDefault()"></alt-datepicker>
                            </div>
                        </div>
                        <div class="col-md-4 col-md-4-padding10 input-field no-spin" *ngIf="security?.basicLastIncrementAmountRendered">
                            <label class="control-label">{{security?.basicLastIncrementAmountLabel}}
                                <span *ngIf="security?.basicLastIncrementAmountRequired">*</span>
                            </label>
                            <input type="number" min="0" class="form-control form-control-grey" formControlName="lastIncrementAmount" name="lastIncrementAmount"
                                placeholder="{{'common.label.enter' | translate}}" (keypress)="decimalValuesKeyPress($event)" (paste)="$event.preventDefault()" />
                        </div>
                        <div class="col-md-4 col-md-4-padding10 input-field" *ngIf="security?.basicCurrentProfileRendered">
                            <label class="control-label">{{security?.basicCurrentProfileLabel}}
                                <span *ngIf="security?.basicCurrentProfileRequired">*</span>
                            </label>
                            <input type="text" class="form-control" formControlName="currentProfile" name="currentProfile" placeholder="{{'common.label.enter' | translate}}" />
                        </div>
                        <div class="col-md-4 col-md-4-padding10 input-field" *ngIf="security?.basicHighestEducationRendered">
                            <label class="control-label">{{security?.basicHighestEducationLabel}}
                                <span *ngIf="security?.basicHighestEducationRequired">*</span>
                            </label>
                            <input type="text" class="form-control" formControlName="highestEducation" name="highestEducation" placeholder="{{'common.label.enter' | translate}}" />
                        </div>
                        <div class="col-md-4 col-md-4-padding10 input-field" *ngIf="security?.basicAadharNumberRendered">
                            <label class="control-label">{{security?.basicAadharNumberLabel}}
                                <span *ngIf="security?.basicAadharNumberRequired">*</span>
                            </label>
                            <input type="text" class="form-control" formControlName="aadhaarNumber" name="aadhaarNumber" placeholder="{{'common.label.enter' | translate}}"
                            />
                        </div>
                        <div class="col-md-4 col-md-4-padding10 input-field" *ngIf="security?.basicDateOfBirthRendered">
                            <label class="control-label">{{security?.basicDateOfBirthLabel}}
                                <span *ngIf="security?.basicDateOfBirthRequired">*</span>
                            </label>
                            <input type="text" class="form-control" formControlName="dateOfBirth" name="dateOfBirth" placeholder="{{'common.label.enter' | translate}}"
                            />
                        </div>
                        <div class="col-md-4 col-md-4-padding10 input-field" *ngIf="security?.basicAddressRendered">
                            <label class="control-label">{{security?.basicAddressLabel}}
                                <span *ngIf="security?.basicAddressRequired">*</span>
                            </label>
                            <input type="text" class="form-control" formControlName="address" name="address" placeholder="{{'common.label.enter' | translate}}" />
                        </div>
                        <div class="col-md-4 col-md-4-padding10 input-field" *ngIf="security?.basicNationalityRendered">
                            <label class="control-label">{{security?.basicNationalityLabel}}
                                <span *ngIf="security?.basicNationalityRequired">*</span>
                            </label>
                            <input type="text" class="form-control" formControlName="nationality" name="nationality" placeholder="{{'common.label.enter' | translate}}" />
                        </div>
                        <div class="col-md-4 col-md-4-padding10 input-field" *ngIf="security?.basicEmployedWithSameOrgRendered">
                            <label class="control-label">{{security?.basicEmployedWithSameOrgLabel}}
                                <span *ngIf="security?.basicEmployedWithSameOrgRequired">*</span>
                            </label>
                            <div class="dropdown-11 list-block">
                                <alt-custom-single-select #EMPLOYEDWITHSAMEORG [srcTag]="'EMPLOYEDWITHSAMEORGTAG'" (clickToClose)="EMPLOYEDWITHSAMEORG.toggleClose()"
                                [allowZeroValue]="true" [inputList]="optionsList" [value]="fitmentForm.controls.employedWithSameOrg.value" placeholder="{{'common.label.select' | translate}}"
                                    (valueBind)="fitmentForm.controls['employedWithSameOrg'].setValue($event.value);checkForDetails($event.value)">
                                </alt-custom-single-select>
                            </div>
                        </div>
                        <div class="col-md-4 col-md-4-padding10 input-field" *ngIf="security?.basicPreviousOrgDetailsRendered && fitmentForm.controls.employedWithSameOrg.value =='1'">
                            <label class="control-label">{{security?.basicPreviousOrgDetailsLabel}}
                                <span *ngIf="security?.basicPreviousOrgDetailsRequired && fitmentForm.controls.employedWithSameOrg.value =='1'">*</span>
                            </label>
                            <input type="text" class="form-control" formControlName="previousOrgDetails" name="previousOrgDetails" placeholder="{{'common.label.enter' | translate}}"
                            />
                        </div>
                    </div>
                </div>
            </div>
            <div class="candidate-tab-detail-block">
                <h3 class="title-12">{{'common.label.jobDetails' | translate}}</h3>
                <div class="candidate-tab-detail-inner clearfix">
                    <div class="form-group row2 mgn-btm-0">
                        <div class="col-md-4 col-md-4-padding10 input-field" *ngIf="security?.basicJobLocationRendered">
                            <label class="control-label">{{security?.basicJobLocationLabel}}
                                <span *ngIf="security?.basicJobLocationRequired">*</span>
                            </label>
                            <input type="text" class="form-control" formControlName="joiningLocation" name="joiningLocation" placeholder="{{'common.label.enter' | translate}}"
                            />
                        </div>
                        <div class="col-md-4 col-md-4-padding10 input-field" *ngIf="security?.basicBusinessUnitRendered">
                            <label class="control-label">{{security?.basicBusinessUnitLabel}}
                                <span *ngIf="security?.basicBusinessUnitRequired">*</span>
                            </label>
                            <input type="text" class="form-control" formControlName="orgUnitCode" name="orgUnitCode" placeholder="{{'common.label.enter' | translate}}"
                            />
                        </div>
                        <div class="col-md-4 col-md-4-padding10 input-field" *ngIf="security?.basicJobDesignationRendered">
                            <label class="control-label">{{security?.basicJobDesignationLabel}}
                                <span *ngIf="security?.basicJobDesignationRequired">*</span>
                            </label>
                            <input type="text" class="form-control" formControlName="jobDesignation" name="jobDesignation" placeholder="{{'common.label.enter' | translate}}"
                            />
                        </div>
                        <div class="col-md-4 col-md-4-padding10 input-field" *ngIf="security?.basicRoleBandRendered">
                            <label class="control-label">{{security?.basicRoleBandLabel}}
                                <span *ngIf="security?.basicRoleBandRequired">*</span>
                            </label>
                            <input type="text" class="form-control" formControlName="band" name="band" placeholder="{{'common.label.enter' | translate}}" />
                        </div>
                        <div class="col-md-4 col-md-4-padding10 input-field" *ngIf="security?.basicJobFamilyCodeRendered">
                            <label class="control-label">{{security?.basicJobFamilyCodeLabel}}
                                <span *ngIf="security?.basicJobFamilyCodeRequired">*</span>
                            </label>
                            <input type="text" class="form-control" formControlName="jobFamilyCode" name="jobFamilyCode" placeholder="Enter"
                            />
                        </div>
                        <div class="col-md-4 col-md-4-padding10 input-field" *ngIf="security?.basicJobFamilyRendered">
                            <label class="control-label">{{security?.basicJobFamilyLabel}}
                                <span *ngIf="security?.basicJobFamilyRequired">*</span>
                            </label>
                            <input type="text" class="form-control" formControlName="jobFamily" name="jobFamily" placeholder="{{'common.label.enter' | translate}}"
                            />
                        </div>
                        <div class="col-md-4 col-md-4-padding10 input-field" *ngIf="security?.basicRequisitionTypeRendered">
                            <label class="control-label">{{security?.basicRequisitionTypeLabel}}
                                <span *ngIf="security?.basicRequisitionTypeRequired">*</span>
                            </label>
                            <input type="text" class="form-control" formControlName="requisitionType" name="requisitionType" placeholder="{{'common.label.enter' | translate}}"
                            />
                        </div>
                        <div class="col-md-4 col-md-4-padding10 input-field" *ngIf="security?.basicHiringManagerRendered">
                            <label class="control-label">{{security?.basicHiringManagerLabel}}
                                <span *ngIf="security?.basicHiringManagerRequired">*</span>
                            </label>
                            <input type="text" class="form-control" formControlName="hiringManagerName" name="hiringManagerName" placeholder="{{'common.label.enter' | translate}}"
                            />
                        </div>
                        <div class="col-md-4 col-md-4-padding10 input-field" *ngIf="security?.basicDateOfJoiningRendered">
                            <label class="control-label">{{security?.basicDateOfJoiningLabel}}
                                <span *ngIf="security?.basicDateOfJoiningRequired">*</span>
                            </label>
                            <div class="datepicker-col" [ngClass]="security?.basicDateOfJoiningDisabled?'disabled':''">
                                <alt-datepicker [styleClass]="'datepicker-common'" class="dropdown-calendar dropdown-calendar-grey" [type]="'date'" [mode]="'landscape'"
                                    #dateOfJoining [value]="_dateOfJoining" (change)="setDateOfJoining(dateOfJoining.value)"
                                    [disabled]="security?.basicDateOfJoiningDisabled"></alt-datepicker>
                            </div>                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-row-2 clearfix fl-right">
                    <alt-spinner-button (myEvent)="saveBasicDetails();" [spinner]="fitment" [spinnerdisabled]="fitment" [text]="basicLabel"></alt-spinner-button>
            </div>
        </form>
    </div>
</div>
<!-- \\ End Basic Details Toggle -->