<div class="info_title" (click)="candidateController.toggleEducation()">
  <span class="count_Icon">{{ candidateController.getSectionNumber('6') }}</span>{{security?.educationSectionLabel |
  formatCapitalize}}
  <span class="clearAllFields" *ngIf="security?.educationClearAllRendered" (click)="clearAll($event);">{{security?.educationClearAllLabel}}</span>
</div>
<div class="form_outer">
  <div class="row" [formGroup]="formGroup">

    <fieldset formArrayName="educationHistory">
      <div class="common-block-job" *ngFor="let item of formGroup.controls.educationHistory['controls']; let i=index;">
        <div [formGroupName]="i">
          <div class="form-group row2 mgn-btm-0">
            <div class="col-md-12" *ngIf="security?.educationDeleteRendered">
              <span class="pull-right material-icons cursor" (click)="remove(i)">delete</span>
            </div>
          </div>

          <div class="form-group row2 mgn-btm-0">

            <div class="col-md-6 input-field" *ngIf="security?.degreeRendered">
              <label class="control-label clearfix">{{security?.degreeLabel}}<span *ngIf="security?.degreeRequired">*</span></label>
              <div class="dropdown-11 list-block">
                <input type="text" class="form-control" formControlName="degree" placeholder="Enter" />
              </div>
            </div>
          </div>
          <div class="form-group row2 mgn-btm-0">

            <div class="col-md-6 input-field" *ngIf="security?.startDateRendered">
              <label class="control-label">{{security?.startDateLabel}} <span *ngIf="security?.startDateRequired">*</span>
              </label>
              <div class="row">
                <div class="col-md-12 datepicker-col">
                  <alt-datepicker [styleClass]="'datepicker-common3'" class="dropdown-calendar dropdown-calendar-grey"
                    [type]="'date'" [mode]="'landscape'" #educationStartDate [value]="item.controls.educationStartDate.value"
                    (change)="setStartDate(educationStartDate.value,item)" [disabled]="security?.startDateDisabled"></alt-datepicker>
                </div>
              </div>
            </div>


            <div class="col-md-6 input-field" *ngIf="security?.endDateRendered">
              <label class="control-label">{{security?.endDateLabel}} <span *ngIf="security?.endDateRequired">*</span>
              </label>
              <div class="row">
                <div class="col-md-12 datepicker-col">
                  <alt-datepicker [styleClass]="'datepicker-common3'" class="dropdown-calendar dropdown-calendar-grey"
                    [type]="'date'" [mode]="'landscape'" #educationEndDate [value]="item.controls.educationEndDate.value"
                    (change)="setEndDate(educationEndDate.value,item)" [disabled]="security?.endDateDisabled"></alt-datepicker>
                </div>
              </div>
            </div>

            <div class="col-md-6 input-field" *ngIf="security?.instituteRendered">
              <label class="control-label">{{security?.instituteLabel}}<span *ngIf="security?.instituteRequired">*</span></label>
              <input type="text" class="form-control" formControlName="institute" placeholder="Enter" />
            </div>
            <div class="col-md-6 input-field" *ngIf="security?.gradePercentageRendered">
              <label class="control-label">{{security?.gradePercentageLabel}}<span *ngIf="security?.gradePercentageRequired">*</span></label>
              <input type="text" maxlength="20" class="form-control" formControlName="gradePercentage" placeholder="Enter" />
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <div class="col-md-12">
      <div class="add-new-btn-outer" *ngIf="security?.addEarlierRendered">
        <div class="add-new-btn" (click)="addEducationHistory()"><span class="material-icons dp10">add</span>
          {{security?.addEarlierLabel}}</div>
      </div>
    </div>
    <div class="column-footer row2">
      <div class="col-md-12 text-right" *ngIf="security?.educationContinueRendered">
        <alt-spinner-button (myEvent)="continue();" gaevent="Education#Continue#click" [spinner]="candidateController.educationSectionBlock"
          [spinnerdisabled]="candidateController.educationSectionBlock || security?.educationContinueDisabled || candidateController.educationSectionBlock"
          [text]="candidateController.isDraft? security?.educationContinueLabel: 'UPDATE'" [done]="candidateController.educationSectionDone && !formGroup.touched && formGroup.valid">
        </alt-spinner-button>
      </div>
    </div>

  </div>
</div>