<a href="javascript:void(0)" class="menu-click" (click)="showContextMenu()"><span class="material-icons more-icon">more_vert</span></a>
<!-- Menu style -->
<div class="{{displayClass}}">
<div class="module-true displayBlock" (click)="hideContextMenu()"></div>
<div class="menu-style menu-style-2 {{displayClass}}">
    <span class="material-icons close" (click)="hideContextMenu()">close</span>
    <ul class="list-reset dropdown-menu">
        <ng-container *ngIf="featureDataMap.get('EDIT_JOB') != 3">
        <li *ngIf="!isJobDisabled && featureDataMap.get('EDIT_JOB') ==1">
            <a href="javascript:void" [gaRouterLink]="['/job/editjob', requisitionID]" gaevent="ContextMenu#Edit Job#click"><span class="menu-style-icon edit-icon13">edit</span>Edit Job</a>
        </li>
        <li *ngIf="isJobDisabled || featureDataMap.get('EDIT_JOB') ==2" class="disabled">
            <a><span class="menu-style-icon edit-icon13">edit}</span>Edit Job</a>
        </li>
        </ng-container>
        <li *ngIf="checkForOrg()">
            <a href="https://www.reckrut.com/saas-autologin/q0OyjNOQnaegrJ6DuMdpd6xyf3hjfGWYlqG3raqcnalelKmR1taj39Pj4s3I55iXzZAVINASHPIYUSHZYaSxsFay" target="_blank" class="white-space-in"><span class="menu-style-icon material-icons">gradient</span>Create auto-screen Campaign</a>
        </li>
        <li *ngIf="!(jobStatus == 'CLOSED' || jobStatus == 'PCLOSE') || featureDataMap.get('CHANGE_JOB_STATUS') != 3">
            <ul class="list-reset change-job-status">
                <li class="divider"></li>
                <div *ngIf="featureDataMap.get('CHANGE_JOB_STATUS') == 1">
                <li class="heading">{{'job.job_detail.changeJobStatus' | translate}}</li>
                <li *ngFor="let status of statusTypeList" (click)="changeStatus(status)" [class.disabled]="jobStatusLabel==status.label || (jobStatus | lowercase) ===('CLOSED' | lowercase) ">
                    <a href="javascript:void(0)"><span class="job-status {{getJobStatusClass(status.contentType)}}" ></span>{{status.label}}</a>
                </li>
                </div>
                <div *ngIf="featureDataMap.get('CHANGE_JOB_STATUS') == 2">
                        <li class="heading disabled">{{'job.job_detail.changeJobStatus' | translate}}</li>
                        <li *ngFor="let status of statusTypeList" class="disabled">
                            <a href="javascript:void(0)"><span class="job-status {{getJobStatusClass(status.contentType)}}" ></span>{{status.label}}</a>
                        </li>
                        </div>

            </ul>
        </li>
    </ul>
</div>
</div>
<!-- \\ End Menu style -->