@import './core/style/vendor-prefixes';

$primary: #106cc8 !default;
$md2-calendar-padding: 8px !default;
$md2-calendar-weekday-table-font-size: 11px !default;

// Values chosen to approximate https://material.io/icons/#ic_navigate_before and
// https://material.io/icons/#ic_navigate_next as closely as possible.
$md2-calendar-prev-next-icon-border-width: 2px;
$md2-calendar-prev-next-icon-margin: 15.5px;
$md2-calendar-prev-icon-transform: translateX(2px) rotate(-45deg);
$md2-calendar-next-icon-transform: translateX(-2px) rotate(45deg);

.md2-calendar {
  width:220px;
  margin-top: -1px;
}
.md2-calendar-header {
  padding:10px;
  font-size: 12px;
  border-bottom:solid 1px #adadad;
  color:#adadad;
  font-family:'DIN Bold';
  text-align: center;
}
.md2-calendar-header-year,
.md2-calendar-header-date-time {
  font-family:'DIN Bold';
  display: inline-block;
  cursor: pointer;
}
.md2-calendar-header-date-time {
  font-size:12px;
}
.md2-calendar-header .active{
   color: #494949;
}
.md2-calendar-header-year,
.md2-calendar-header-date,
.md2-calendar-header-hours,
.md2-calendar-header-minutes {
  &:not(.active) {
    cursor: pointer;
   
  }
}

.md2-calendar-header-time {
  padding-left: 8px;

  &:not(.active) {
   

    .md2-calendar-header-hours,
    .md2-calendar-header-minutes {
      cursor: pointer;
      opacity: 1;
    }
  }

  [mode='landscape'] & {
    display: block;
    padding-left: 0;
  }
}

.md2-calendar-content {
  width: 100%;
  padding: 0 $md2-calendar-padding $md2-calendar-padding $md2-calendar-padding;
  outline: none;
  box-sizing: border-box;
  overflow: hidden;

  [mode='landscape'] & {
    padding-top: $md2-calendar-padding;
  }
}

.md2-calendar-controls {
  display: flex;
  justify-content: space-between;
}

.md2-calendar-period-button {
  display: inline-block;
  height: 48px;
  padding: 12px;
  outline: none;
  border: 0;
  background: transparent;
  box-sizing: border-box;
}

.md2-calendar-previous-button,
.md2-calendar-next-button {
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 12px 0;
  outline: none;
  border: 0;
  cursor: pointer;
  background: transparent;
  box-sizing: border-box;

  &.disabled {
    color: rgba(black, 0.38);
    pointer-events: none;
  }

  svg {
    fill: currentColor;
    vertical-align: top;
  }
}
.md2-calendar-table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  table-layout:fixed;
}
@media (min-width: 480px) {
  .md2-calendar[mode='auto'] {
    display: flex;

    .md2-calendar-header {
      width: 150px;
      min-width: 150px;
    }

    .md2-calendar-header-date-time {
      white-space: normal;
      word-wrap: break-word;
    }

    .md2-calendar-header-time {
      display: block;
      padding-left: 0;
    }

    .md2-calendar-content {
      padding-top: $md2-calendar-padding;
    }
  }
}

.md2-calendar {
  outline:0;
}
.md2-calendar:focus{
  outline:0;
}

.md2-calendar-period-button{
	color: #494949;
	font-size: 12px;
	text-transform: capitalize;
}
.md2-calendar-controls .mdi {
	font-size: 24px;
	line-height: 20px;
}
.md2-datepicker-content .md2-calendar-table-header th{
	color:#494949;
	text-transform: uppercase;
	font-size: 8px;
	font-family:'DIN Bold';
	text-align: center;
  padding-bottom: 8px;
}
.md2-datepicker-content .md2-calendar-body-cell{
	letter-spacing: 0.5px;
  line-height: 14px;
  padding: 6px 5px 5px;
  text-align: center;
  vertical-align: top;
	width: inherit;
	height: inherit;
	color:#494949;
	font-size:12px;
  font-family:'DIN Regular';
}
.md2-datepicker-content .md2-calendar-body-active{
  background-color:#cfcfcf;
}
.md2-datepicker-content .md2-calendar-body-active:after{
	position: absolute;
	content: '';
	left: 0px;
	width: 100%;
	height: 1px;
	bottom:0px;
	background-color: #adadad;
}
.right-sidebar .md2-datepicker-content .md2-calendar-body-active{
  background-color: #777777!important;
  font-family:'DIN Bold'!important;
  position: relative;
  margin: -6px -5px -5px;
  padding: 6px 5px 5px;
}
.right-sidebar .md2-datepicker-content .md2-calendar-body-active:after{
  position: absolute;
  content: '';
  left: 0px;
  width: 100%;
  height: 1px;
  bottom:0px;
  background-color: #ee3e80;
}
.right-sidebar .md2-datepicker-content .md2-calendar-body-selected{
	background-color:transparent!important;
	font-family:'DIN Bold'!important;
	position: relative;
	margin: -6px -5px -5px;
	padding: 6px 5px 5px;
}
.right-sidebar .md2-datepicker-content .md2-calendar-body-selected:after{
	position: absolute;
	content: '';
	left: 0px;
	width: 100%;
	height: 100%;
	bottom:0px;
  border: solid 1px #777;
  background-color:transparent!important;
}
.md2-datepicker-content .md2-calendar-body-cell.year-cell{
  padding: 14px 5px 13px;
}
.md2-calendar-next-button{
	text-align: right;
}