<div class="md2-calendar-header">
  <div class="md2-calendar-header-date-time">
    <!-- <span *ngIf="type!=='time'" class="md2-calendar-header-date" [class.active]="_currentView == 'month'" (click)="_dateClicked()">{{ _dateLabel}}, </span>
    <span *ngIf="type!=='time'" class="md2-calendar-header-year" [class.active]="_currentView == 'year'" (click)="_yearClicked()">{{ _yearLabel}}</span>
    <span *ngIf="type!=='time'" class="md2-calendar-header-year" [class.active]="_currentView == 'all_years'" (click)="_allYearsClicked()">{{ _yearLabel}}</span> -->
    <span *ngIf="type!=='time'" class="md2-calendar-header-year" [class.active]="true" (click)="_dateHeaderClicked()">{{ dateHeaderLabel}}</span>
  </div>
  <div *ngIf="type!=='date'" class="md2-calendar-header-time" [class.active]="_currentView == 'clock'">
    <span class="md2-calendar-header-hours"  (click)="_hoursClicked()">{{ _hoursLabel }} : </span>
    <span class="md2-calendar-header-minutes" (click)="_minutesClicked()">{{ _minutesLabel }}</span>
    <span class="md2-calendar-header-minutes"  (click)="_minutesClicked()">{{ _ampmLabel }}</span>
  </div>
</div>
<div class="md2-calendar-content" [ngSwitch]="_currentView">
  <div class="md2-month-content" *ngIf="_currentView === 'month' || _currentView === 'year' || _currentView === 'all_years'">
    <div class="md2-calendar-controls">
      <div class="md2-calendar-previous-button" [class.disabled]="!_previousEnabled()" (click)="_previousClicked()" aria-label="Previous month">
        <span class="mdi mdi-chevron-left"></span>
      </div>
      <div class="md2-calendar-period-button" [@slideCalendar]="_calendarState" (@slideCalendar.done)="_calendarStateDone()">
        <strong>{{ _monthYearLabel }}</strong>
      </div>
      <div class="md2-calendar-next-button" [class.disabled]="!_nextEnabled()" (click)="_nextClicked()" aria-label="Next month">
        <span class="mdi mdi-chevron-right"></span>
      </div>
    </div>
  </div>
  <md2-month-view *ngSwitchCase="'month'" [activeDate]="_activeDate" [selected]="selected" [dateFilter]="_dateFilterForViews"
    (selectedChange)="_dateSelected($event)">
  </md2-month-view>
  <md2-year-view *ngSwitchCase="'year'" [activeDate]="_activeDate" [selected]="selected" [dateFilter]="_dateFilterForViews"
    (selectedChange)="_monthSelected($event)">
  </md2-year-view>
  <alt-years-view *ngSwitchCase="'all_years'" [activeDate]="_activeDate" [selected]="selected" [dateFilter]="_dateFilterForViews"
  (selectedChange)="_yearSelected($event)"></alt-years-view>
  <md2-clock *ngSwitchDefault [startView]="_clockView" [interval]="timeInterval" [min]="minDate" [max]="maxDate" [selected]="_activeDate"
    (activeDateChange)="_onActiveDateChange($event)" (selectedChange)="_timeSelected($event)"></md2-clock>
</div>