<!--
  If there's not enough space in the first row, create a separate label row. We mark this row as
  aria-hidden because we don't want it to be read out as one of the weeks in the month.
-->
<tr *ngIf="_firstRowOffset < labelMinRequiredCells && type=='month'" aria-hidden="true">
  <td class="md2-calendar-body-label" [attr.colspan]="numCols" >{{label}}</td>
</tr>

<!-- Create the first row separately so we can include a special spacer cell. -->
<tr *ngFor="let row of rows; let rowIndex = index" role="row">
  <!--
    We mark this cell as aria-hidden so it doesn't get read out as one of the days in the week.
  -->
  <td *ngIf="rowIndex === 0 && _firstRowOffset && type=='month' "
      aria-hidden="true"
      class="md2-calendar-body-label"
      [attr.colspan]="_firstRowOffset">
    {{_firstRowOffset >= labelMinRequiredCells ? label : ''}}
  </td>
  <td *ngFor="let item of row; let colIndex = index"
      role="gridcell"
      class="md2-calendar-body-cell"
      [class.md2-calendar-body-disabled]="!item.enabled"
      [class.md2-calendar-body-active]="_isActiveCell(rowIndex, colIndex,item)"
      [attr.aria-label]="item.ariaLabel"
      [attr.aria-disabled]="!item.enabled || null"
      [ngClass]="getMyClass()"
      (click)="_cellClicked(item)"
    >
    <div class="md2-calendar-body-cell-content"
         [class.md2-calendar-body-selected]="selectedValue === item.value"
         [class.md2-calendar-body-today]="todayValue === item.value">
      {{item.displayValue}}
    </div>
  </td>
</tr>
