@import './core/style/elevation';

$md2-datepicker-calendar-padding: 8px;
$md2-datepicker-calendar-cell-size: 40px;
$md2-datepicker-calendar-portrait-width: $md2-datepicker-calendar-cell-size * 7 + $md2-datepicker-calendar-padding * 2;
 
.md2-datepicker-content {
  box-shadow:0 3px 3px rgba(0, 0, 0, .175);
  display: block;
  background-color:#f5f5f5;
  border-radius:0 5px 5px 5px;
  overflow: hidden;
  width:220px;
  margin-top: -1px;
}

 
.md2-datepicker-content-touch {
  @include mat-elevation(0);
  display: block;
  box-shadow:0 3px 3px rgba(0, 0, 0, .175);
}

.cdk-overlay-container, .cdk-global-overlay-wrapper {
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cdk-overlay-container {
  position: fixed;
  z-index: 1000;
}

.cdk-global-overlay-wrapper {
  display: flex;
  position: absolute;
  z-index: 1000;
}

.cdk-overlay-pane {
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 1000;
}

.cdk-overlay-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  pointer-events: auto;
  transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
  opacity: 0;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 0.48;
}

.cdk-overlay-dark-backdrop {
  background: rgba(black, 0.6);
}
