﻿<div class="md2-datepicker-trigger" (click)="!disabled? open():false;">
  <div class="md2-datepicker-input" [class.md2-datepicker-input-focused]="_inputFocused">
    <span class="sort-label" [class.md2-floating-placeholder]="value || _inputFocused">{{placeholder}}</span>
    <input #input
           type="text"
           class="input-item form-control"
           [tabindex]="tabindex"
           [disabled]="disabled"
           autocomplete="off"
           [value]="_inputValue"
           (change)="$event.stopPropagation()"
           (click)="!disabled? open():false;"
           (focus)="_handleFocus()"
           (blur)="_handleBlur($event)"
           placeholder="DD MM YYYY" />
  </div>
    <button type="button"
          class="md2-datepicker-button"
          tabindex="-1"
          (click)="!disabled? open():false;"
          [ngSwitch]="type">
   <span class="material-icons cal-icon">today</span> 
  </button>
</div>
