.md2-datepicker-input{
  float: left;
}
.md2-datepicker-button{
  border: 0px;
  background: transparent;
  padding: 0px;
  margin: 0px;
  width: 15px;
}
.dropdown-calendar{
  padding-bottom: 8px;
}
.md2-calendar-body-label{
  padding-left: 5px;
}
