﻿<table class="md2-calendar-table">
  <thead class="md2-calendar-table-header"></thead>
  <tbody [@slideCalendar]="_calendarState"
         (@slideCalendar.done)="_calendarStateDone()"
         md2-calendar-body
         role="grid"
         allowDisabledSelection="true"
         [label]="_yearLabel"
         [rows]="_months"
         [todayValue]="_todayMonth"
         [selectedValue]="_selectedMonth"
         [labelMinRequiredCells]="2"
         [numCols]="4"
         [type]="'year'"
         [activeCell]="_util.getMonth(activeDate)"
         (selectedValueChange)="_monthSelected($event)"></tbody>
</table>
