<div *ngIf="hiddenToggle" style="position: relative;">
  <div class="module-true displayBlock" (click)="toggle()"></div>
  <!--<span (click)="toggle()" style="z-index: 10000;
    position: relative;">close</span>-->
  
  <ng-content></ng-content>
  
</div>

