<alt-loader *ngIf="showloader"></alt-loader>
<alt-notification-bar-popup class="notification-email"></alt-notification-bar-popup>
<div class="popup-custome-email">
  <div class="popup-top clearfix" mat-dialog-title>
    <h2 class="title-sub">{{'common.label.email' | translate}}</h2>
    <span class="material-icons close" (click)="dialogRef.close('Cancel')">close</span>
    <div class="notification-bar top8Minse {{severityClass}} {{showClass}}" *ngIf="message?.length > 0">
      <span class="material-icons successful-icon">check_circle</span>
      <div class="notification-text-outer">
        <span class="notification-text">{{message}}</span>
      </div>
      <span class="material-icons close" (click)="clearMessages()">close</span>
    </div>
  </div>
  <div class="popup-inner" slimScroll mat-dialog-content>
    <div class="item_list">
      <div class="row" [formGroup]="emailInfo">
        <div class="form-group row2">
          <div class="col-md-12">
            <label class="control-label clearfix">{{'common.label.to' | translate}}</label>
            <input type="text" class="form-control" placeholder="{{'common.label.enterToEmail' | translate}}" disabled [value]="primaryEmail" />
            <control-message [control]="emailInfo.controls.toEmail"></control-message>
          </div>
        </div>
        <div class="form-group row2">
          <div class="col-md-12">
            <label class="control-label clearfix">{{'common.label.cc' | translate}}</label>
            <input type="text" class="form-control" placeholder="{{'common.label.enterCCEmail' | translate}}" formControlName="ccEmail" />
            <control-message [control]="emailInfo.controls.ccEmail"></control-message>
          </div>
        </div>
        <div class="form-group row2">
          <div class="col-md-12">
            <label class="control-label clearfix">{{'common.label.subject' | translate}}</label>
            <input type="text" class="form-control" placeholder="{{'common.label.enterSubject' | translate}}" formControlName="subject" />
          </div>
        </div>
        <div class="form-group row2 editorIcons_row margin-lr5">
          <div class="inline_icon_outer">
            <span class="editorDrop">
              <span class="material-icons">arrow_drop_down</span> {{'common.label.subHead1Style' | translate}}
            </span>
          </div>
          <div class="inline_icon_outer">
            <span class="material-icons IconStyle">format_bold</span>
            <span class="material-icons IconStyle">format_italic</span>
            <span class="material-icons IconStyle">format_underlined</span>
            <span class="IconStyle">
              <span class="material-icons">format_color_fill</span>
              <span class="material-icons">arrow_drop_down</span>
            </span>
          </div>
          <div class="inline_icon_outer">
            <span class="material-icons IconStyle">format_align_left</span>
            <span class="IconStyle">
              <span class="material-icons">format_align_center</span>
            </span>
            <span class="material-icons IconStyle">format_align_right</span>
            <span class="material-icons IconStyle">format_align_justify</span>

          </div>
        </div>

        <div class="form-group row2">
          <div class="col-md-12">
            <label *ngIf="!fileinProgress" class="control-label cursor clearfix">{{'common.label.attach' | translate}}
              <input multiple="true" type="file" class="displayNone" (change)="uploadDocumentListener($event)" accept=".xls,.xlsx,.pdf,.doc,.docx,.DOC,.txt,.zip,.rar,.rtf,.jpeg,.png" />
              <i class="material-icons vet-align-middle">attachment</i>
            </label>

            <div class="attached-row">
              <ng-container *ngIf="data.attachdocuments">
                <div class="img-attached" *ngFor="let uploadedFile of data.attachdocuments let i=index;">
                  <img src="./assets/images/svg/pdf.svg" *ngIf="uploadedFile.attachmentName.split('.').pop() == 'pdf' || uploadedFile.attachmentName.split('.').pop() == 'PDF' ">
                  <img src="./assets/images/svg/doc.svg" *ngIf="uploadedFile.attachmentName.split('.').pop() == 'docx' || uploadedFile.attachmentName.split('.').pop() == 'DOCX' || 
                        uploadedFile.attachmentName.split('.').pop() == 'doc' || uploadedFile.attachmentName.split('.').pop() == 'DOC' || uploadedFile.attachmentName.split('.').pop() == 'rtf'">
                  <img src="./assets/images/svg/excel.svg" *ngIf="uploadedFile.attachmentName.split('.').pop() == 'xls' || uploadedFile.attachmentName.split('.').pop() == 'xlsx'
                  || uploadedFile.attachmentName.split('.').pop() == 'XLSX' || uploadedFile.attachmentName.split('.').pop() == 'XLS'">
                  <img src="./assets/images/svg/png.svg" *ngIf="uploadedFile.attachmentName.split('.').pop() == 'png' || uploadedFile.attachmentName.split('.').pop() == 'PNG' || uploadedFile.attachmentName.split('.').pop() == 'bmp'">
                  <img src="./assets/images/svg/jpg.svg" *ngIf="uploadedFile.attachmentName.split('.').pop() == 'jpg' || uploadedFile.attachmentName.split('.').pop() == 'JPG' || uploadedFile.attachmentName.split('.').pop() == 'jpeg' 
                  || uploadedFile.attachmentName.split('.').pop() == 'JPEG'">
                  <img src="./assets/images/svg/text.svg" *ngIf="uploadedFile.attachmentName.split('.').pop() == 'txt' || uploadedFile.attachmentName.split('.').pop() == 'TXT' ">
                  <img src="./assets/images/svg/zip.svg" *ngIf="uploadedFile.attachmentName.split('.').pop() == 'zip' || uploadedFile.attachmentName.split('.').pop() == 'rar' ||
                  uploadedFile.attachmentName.split('.').pop() == 'ZIP' || uploadedFile.attachmentName.split('.').pop() == 'RAR' ">
                  <span class="material-icons close-icons" (click)="deleteDocumentListener(uploadedFile)">clear</span>
                </div>
              </ng-container>
              <label *ngIf="total_documents >0 && !fileinProgress" class="material-icons add-icons">add_box
                <input multiple="true" type="file" class="displayNone" (change)="uploadDocumentListener($event)" accept=".xls,.xlsx,.pdf,.doc,.docx,.DOC,.txt,.zip,.rar,.rtf,.jpeg,.png" />
              </label>
            </div>
          </div>

        </div>
        <div class="form-group row2 margin-lr5">
          <textarea *ngIf='!cpMail  && !loiMail' class="form-control jobDiscriptionTextarea noresize" placeholder="{{'common.label.startTyping' | translate}}"
            formControlName="content"></textarea>
          <div *ngIf='cpMail && !loiMail' class="resume-data" [innerHTML]='cpHTML'></div>
          <div *ngIf='loiMail' class="resume-data" [froalaEditor]='options' [(froalaModel)]="emailInfo.controls.content.value"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-row text-right" mat-dialog-actions>
    <button class="btn btn-white" (click)="dialogRef.close('Cancel')" [disabled]="emailCandidate">{{'common.label.cancel' | translate}}</button>
    <alt-spinner-button *ngIf='!cpMail  && !loiMail' (myEvent)="sendEmail($event)" [spinner]="emailCandidate && fileinProgress"
      [spinnerdisabled]="fileinProgress && (!emailInfo.valid || emailCandidate)" [text]="lable"></alt-spinner-button>
    <alt-spinner-button *ngIf='cpMail && !loiMail' (myEvent)="sendCPCredentials($event)" [spinner]="emailCandidate"
      [spinnerdisabled]="!primaryEmail || !emailInfo.valid || emailCandidate" [text]="lable"></alt-spinner-button>
    <alt-spinner-button *ngIf='loiMail' (myEvent)="sendLOIEmail($event)" [spinner]="emailCandidate" [spinnerdisabled]="!primaryEmail || !emailInfo.valid || emailCandidate"
      [text]="lable"></alt-spinner-button>
  </div>
</div>
