<!--  Document List Pending -->
<div class="panel-full">
    <div class="panel {{toggleOpen?'panel-open':''}}">
        <div class="panel-heading clearfix">
            <h2 class="panel-title fl-left text-capitalize"><span class="count_Icon">{{inputData.sequence}}</span>{{inputData.workflowStageName}}<span class="text-step-cell">{{inputData.actionLabel}}</span></h2>
            <div class="icon_group_right">
                <span class="mdi mdi-chevron-down" (click)="toggleDiv()"></span>
            </div>
        </div>
        <div class="panel-body" *ngIf="toggleOpen">
            <div class="table-responsive">
                <table class="table document-table" *ngIf="security?.documentsRendered" >
                    <thead>
                        <tr>
                            <th class="count-cell">#</th>
                            <th class="doc-name-cell">Document Name</th>
                            <th class="option-cell">Document Options</th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr class="done" *ngFor="let document of documentsList; let i = index ">
                            <td class="count-cell">{{i+1}}</td>
                            <td class="doc-name-cell">{{document.documentName}}<span *ngIf="document.mandatory">*</span>
                                <span class="material-icons" *ngIf="document.uploaded">done</span>
                                
                            </td>
                            <td class="option-cell">
                                <mat-progress-spinner style="height:20px;width:20px;margin-left:50px;" mode="indeterminate" *ngIf="document.uploading">
                                </mat-progress-spinner>
                                <a href="{{document.fileName}}" target="_blank" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Download"
                                    style="backface-visibility: hidden;" *ngIf="document.uploaded && !document.uploading">
                                <span class="material-icons" (click)="downloadDocument(i)">file_download</span>
                                </a>
                                <span data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Upload" style="backface-visibility: hidden;"
                                    *ngIf="!document.uploaded && !document.uploading">
              <label for="attachDocument{{i}}"><span class="material-icons menu-click" (click)="upload(i)">file_upload</span></label>
                                <input type="file" id="attachDocument{{i}}" style="display: none;"  (change)="uploadDocument($event, i, document.documentTypeID)">
                                </span>
                                <span data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Delete" style="backface-visibility: hidden;"
                                    *ngIf="document.uploaded && !document.uploading">
              <span class="material-icons menu-click" (click)="deleteDocument(i)">delete</span>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-mandatory margin-b15" *ngIf="security?.documentsRendered" >
                <span class="text-cell">Note:</span>
                <span class="text-cell">Only txt,xls,xlsx,pdf,doc,docx,rtf,msg,zip,rar,jpg,png,jpeg,bmp are supported. File size can not exceed 8MB.</span>

            </div>
            <div class="form-group form-textarea" *ngIf="security?.commentRendered">
                <textarea class="form-control noresize" [formControl]="comment" placeholder="{{security?.commentLabel+(security?.commentRequired? '*': '')}}"
                    [attr.disabled]="security?.commentDisabled?'disabled':null"></textarea>
            </div>
            <div class="btn-row-2 btn-row-attachment clearfix">

                <div *ngIf="security?.attachmentRendered && !attachmentName" class="btn-file-custome" [ngClass]="security?.attachmentDisabled?'disabled-file':''">
                    <span class="link"><span class="material-icons">attachment</span>{{security?.attachmentLabel+(security?.attachmentRequired?'*':
                    '')}}
                    </span>
                    <input class="file-btn" type="file" id="file" name="file" (change)="uploadDocumentListener($event)" [attr.disabled]="security?.attachmentDisabled?'disabled':null"
                    />
                </div>
                <div *ngIf="attachmentName" class="document-name-here">
                    <span class="material-icons done">done</span>
                    <span class="font-bold doc-file-name">{{attachmentName}}</span>
                    <span class="material-icons fl-right cursor" (click)="deleteDocumentListener()">delete</span>
                    <span class="material-icons fl-right cursor" (click)="downloadDocumentListener()">file_download</span>
                </div>

                <div class="fl-right">
                    <div class="btn-for-mobile">
                        <div class="dropdown-11 select-black">
                            <alt-custom-single-select #SELECTEDSTATUS [srcTag]="'SELECTEDSTATUSTAG'" (clickToClose)="SELECTEDSTATUS.toggleClose()" [inputList]="statusLists"
                                [value]="selectedStatusID.value" placeholder="{{'common.label.chooseStatus' | translate}}" (valueBind)="statusChangeListener($event)"
                                [isDisabled]="document || jobStatus">
                            </alt-custom-single-select>
                        </div>
                        <!--<button type="button" (click)="updateStatus()" class="btn btn-primary">GO</button>-->
                        <alt-spinner-button gaevent="Document#Continue#click" (myEvent)="updateStatus();" [spinner]="document" [spinnerdisabled]="document || jobStatus" [text]="label"></alt-spinner-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- \\ End Document List Pending  -->