<h4 class="title-purple-18">
    {{'job.draft_job.jobDrafts' | translate}}</h4>
<h2 class="title-lg">{{'job.draft_job.resumeWork' | translate}}</h2>
<h2 class="title-lg-2">{{'job.draft_job.completeJobDrafts' | translate}} </h2>
<!--  Section Card-->
<div class="section-card">
    <div class="section-blank-screen clearfix">
        <!-- Card Block -->
        <div class="card-block card-3">
            <div class="card-block-inner">
                <div class="blank-screen-card-top"><span class="screen-icon create-a-doc-icon"></span></div>
                <div class="blank-screen-card-bottom">
                    <a [routerLink]="['../newjob']" class="btn btn-default"><span class="material-icons dp10">add</span>create a job</a>
                </div>
            </div>
        </div>
        <!-- \\ End Card Block -->
    </div>
</div>
<!-- \\ End Section Card-->