<div class="popup-custome-email">
  <div class="popup-top clearfix" mat-dialog-title>
      <h2 class="title-sub">Email</h2>
      <span class="material-icons close" (click)="dialogRef.close('Cancel')">close</span>
  </div>
  <div class="popup-inner" slimScroll mat-dialog-content>
    <div class="item_list">
      <div class="row" [formGroup]="emailInfo">
        <!-- <div class="form-group row2">
            <div class="col-md-12">
              <label class="control-label clearfix">From</label>
              <input type="text" class="form-control" placeholder="From Email" formControlName="fromEmail" disabled="disabled"/>
              <control-message [control]="emailInfo.controls.fromEmail"></control-message>
            </div>
        </div> -->
        <div class="form-group row2">
          <div class="col-md-12">
            <label class="control-label clearfix">To</label>
            <input type="text" class="form-control" placeholder="Enter to Email" formControlName="toEmail" disabled="disabled"/>
            <control-message [control]="emailInfo.controls.toEmail"></control-message>
          </div>
        </div>
        <div class="form-group row2">
          <div class="col-md-12">
            <label class="control-label clearfix">Cc</label>
            <input type="text" class="form-control" placeholder="Enter Cc Email" formControlName="ccEmail" />
            <control-message [control]="emailInfo.controls.ccEmail"></control-message>
          </div>
        </div>
        <div class="form-group row2">
          <div class="col-md-12">
            <label class="control-label clearfix">Subject</label>
            <input type="text" class="form-control" placeholder="Enter Subject" formControlName="subject" />
          </div>
        </div>
        <div class="form-group row2 editorIcons_row margin-lr5">
          <div class="inline_icon_outer">
            <span class="editorDrop">
              <span class="material-icons">arrow_drop_down</span> {{'common.label.subHead1Style' | translate}}
            </span>
          </div>
          <div class="inline_icon_outer">
            <span class="material-icons IconStyle">format_bold</span>
            <span class="material-icons IconStyle">format_italic</span>
            <span class="material-icons IconStyle">format_underlined</span>
            <span class="IconStyle">
              <span class="material-icons">format_color_fill</span>
              <span class="material-icons">arrow_drop_down</span>
            </span>
          </div>
          <div class="inline_icon_outer">
            <span class="material-icons IconStyle">format_align_left</span>
            <span class="IconStyle">
              <span class="material-icons">format_align_center</span>
            </span>
            <span class="material-icons IconStyle">format_align_right</span>
            <span class="material-icons IconStyle">format_align_justify</span>

          </div>
        </div>
        <div class="form-group row2 margin-lr5">
          <textarea class="form-control jobDiscriptionTextarea noresize" placeholder="Start typing..." formControlName="content" ></textarea>
          <control-message [control]="emailInfo.controls.content"></control-message>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-row text-right" mat-dialog-actions>
    <button class="btn btn-white" (click)="dialogRef.close('Cancel')" [disabled]="emailCandidate">cancel</button>
    <alt-spinner-button (myEvent)="sendEmail($event)" [spinner]="emailCandidate" [spinnerdisabled]="!emailInfo.valid || emailCandidate"
      [text]="lable"></alt-spinner-button>

  </div>
</div>