<alt-loader *ngIf="showloader"></alt-loader>
<!-- Section filter -->
<!-- \\ End Section filter -->
<alt-my-job-blank-screen *ngIf="loaderIndicator == 'nodata'"></alt-my-job-blank-screen>
<loader-indicator *ngIf="loaderIndicator == 'loader'"></loader-indicator>
<div *ngIf="loaderIndicator == 'data' || loaderIndicator == 'loader'">
    <div class="jobs-listing clearfix">

        <div class="row">
            <div class="card-block card-3 search-block-section">
                <div class="card-block-inner card-bg-none">
                    <div class="input-group search-block" [formGroup]="queryFormGroup">
                        <input class="form-control" formControlName="query" placeholder="{{'candidate.list.searchCandidate' | translate}}" maxlength="20"
                        />
                        <span class="input-group-btn">
                                                    <button class="btn material-icons dp20" type="submit">search</button>
                                                </span>
                    </div>
                </div>
            </div>
            <div class="card-block card-3 card-bulk-actions">
                <div class="card-block-inner card-bg-none clearfix">
                    <div class="select-all-btn col-2">
                        <div class="select-all-btn-inner">
                            <div class="checkbox checkbox-inline">
                                <input type="checkbox" class="styled" id="select2" [(ngModel)]="selectAll" (change)="doSelectAll()"/>
                                <label for="select2" class="custome-label" > {{'common.label.selectAll' | translate}} </label>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown dropdown-outer-2 col-2">
                        <a href="#" class="bulk-actions dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="text-dropdown">{{'common.label.bulkActions' | translate}}</span> <span class="mdi mdi-chevron-down md24"></span></a>
                        <ul class="list-reset dropdown-10 dropdown-style">
                            <li><a (click)="openBulkAction()" href="javascript:void" gaevent="ContextMenu#Bulk Transfer Candidates#click">{{'candidate.list.transferCandidate' | translate}} </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pagination-mobile">
            <alt-paginator #PAGINATIONTOP [srcTag]="'PAGINATIONTOP'" (clickToClose)="PAGINATIONTOP.toggleClose()" [rowsPerPageTemplate]="'15,30,45'" [pageState]="pageState" [pageLoading]="pageLoading" (pageChange)="getPageNumber($event)"
                *ngIf="rejectedCandidates?.length > 0">{{'common.label.loading' | translate}}...</alt-paginator>
        </div>

    </div>


    <div class="section-card clearfix">
        <div class="title-lg padding-t50" *ngIf="rejectedCandidates?.length <= 0">{{'common.label.noDataAvailable' | translate}}</div>
        <alt-rejected-candidates-card *ngFor="let rejectedCandidate of rejectedCandidates; let i = index; let isFirst=first; let isLast=last;"
            [taggedCandidate]="rejectedCandidate" (profileMatchUpdate)="updateProfileMatch($event)" (output)="updateList($event)" [parent]="parent" [randomcolor]="randomcolor[i]" [workflowStageMap]="workflowStageMap" [isJobDisabled]="isJobDisabled">
        </alt-rejected-candidates-card>
    </div>


    <div class="pagination-mobile">
        <div class="section-pagination pagination-bottom clearfix">
        <alt-paginator #PAGINATIONBOT [srcTag]="'PAGINATIONBOT'" (clickToClose)="PAGINATIONBOT.toggleClose()" [rowsPerPageTemplate]="'15,30,45'" [pageState]="pageState" [pageLoading]="pageLoading" (pageChange)="getPageNumber($event)"
            *ngIf="rejectedCandidates?.length > 0">{{'common.label.loading' | translate}}...</alt-paginator>
    </div>
    </div>

</div>