<alt-loader *ngIf="!countryloaded || !stateloaded || !districtloaded || !cityloaded || !pincodeloaded"></alt-loader>
<div class="popup-top-sm clearfix" mat-dialog-title>
    <h1 class="title">Location</h1>
    <span class="material-icons close" (click)="dialogRef.close('Cancel')">close</span>
</div>
<div class="popup-small-inner pad-left-none clearfix" [formGroup]="locationInfo" mat-dialog-content>
    <div class="item_list">
        <div class="form-group">
            <label class="control-label">Country*</label>
            <div class="dropdown-11 list-block">
                <mat-form-field [floatLabel]="'never'">
                    <mat-select placeholder="Country" formControlName="countryID">
                        <mat-option *ngFor="let country of countryList" [value]="country.countryID">
                            {{country.countryName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">State*</label>
            <div class="dropdown-11 list-block">
                <mat-form-field [floatLabel]="'never'">
                    <mat-select placeholder="State" formControlName="stateID">
                        <mat-option *ngFor="let state of stateList" [value]="state.stateID">
                            {{state.stateName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">District*</label>
            <div class="dropdown-11 list-block">
                <mat-form-field [floatLabel]="'never'">
                    <mat-select placeholder="District" formControlName="districtID">
                        <mat-option *ngFor="let district of districtList" [value]="district.districtID">
                            {{district.districtName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">City*</label>
            <div class="dropdown-11 list-block">
                <mat-form-field [floatLabel]="'never'">
                    <mat-select placeholder="City" formControlName="cityID">
                        <mat-option *ngFor="let city of cityList" [value]="city.cityID">
                            {{city.cityName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="form-group margin-bot-none">
            <label class="control-label">Pincode*</label>
            <div class="dropdown-11 list-block">
                <mat-form-field [floatLabel]="'never'">
                    <mat-select placeholder="Pincode" formControlName="pincodeID">
                        <mat-option *ngFor="let pincode of pincodeList" [value]="pincode.pinCodeID">
                            {{pincode.postOfficeName}}-{{pincode.pinCode}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>
<div class="btn-row text-right" mat-dialog-actions>
    <button class="btn btn-white" (click)="dialogRef.close('Cancel')">Cancel</button>
    <button class="btn btn-primary" [disabled]="!locationInfo.controls.pincodeID.value" (click)="dialogRef.close(dialogRef.componentInstance.selectedPincodeID)">Submit</button>
</div>
