
<div class="title-lg padding-t50" *ngIf="loaded && (historyList == null || historyList.length == 0 || (historyList.length == 1 && requisitionApprovalHistory.length ==0))">
  {{'common.label.noDataAvailable' | translate}}
</div>

<div *ngIf="loaded && approvalHistoryDisplay"  class="panel-full">
        <div class="panel" [class.panel-open]="toggleOpen">
           <div class="panel-heading clearfix">
              <h2 class="panel-title fl-left text-capitalize">{{'job.job_history.requisitionApprovalHistory' | translate}}</h2>
              <span class="mdi mdi-chevron-down fl-right" (click)="toggleDiv()"></span>
           </div>
           <div class="panel-body" *ngIf="toggleOpen">
              <!--  Table History--> 
              <div class="table-scroll-custome horizontal-scrollbox approval-history-table">
                 <div class="table-responsive">
                    <table class="table document-table margin-bot-none">
                       <thead>
                          <tr>
                             <th class="table-td01">{{'common.label.name' | translate}}</th>
                             <th class="table-td02">{{'job.job_history.employee' | translate}} <br>{{'job.job_history.code' | translate}}</th>
                             <th class="table-td03">{{'vendor.create_vendor.emailID' | translate}}</th>
                             <th class="table-td04">{{'job.job_history.positionStatus' | translate}}</th>
                             <th class="table-td05">{{'job.job_history.stageCompleteDate' | translate}}</th>
                             <th class="table-td06">{{'common.label.comment' | translate}}</th>
                          </tr>
                       </thead>
                       <tbody>
                          <tr  *ngFor="let data of requisitionApprovalHistory; let i = index;">
                             <td class="table-td01">{{data.workflowActorName}}</td>
                             <td class="table-td02">{{data.workflowActorEmployeeCode}}</td>
                             <td class="table-td03">{{data.workflowActorMailId}}</td>
                             <td class="table-td04">{{data.stageStatus}}</td>
                             <td class="table-td05">{{data.workflowActorApprovalDateFormat}}</td>
                             <td class="table-td06">{{data.comment}}</td>
                          </tr>
                       </tbody>
                    </table>
                 </div>
              </div>
              <!-- \\ End Table History-->                                                                      
           </div>
        </div>
     </div>

<div *ngFor="let history of historyList; let i = index; let isFirst=first; let isLast=last;" class="historyChatsSection tooltip-section">
    <div [innerHTML]='history.description'> </div>
    <span class="tooltip-container" >{{historyDescriptionToolTip[i-1]}} </span>
</div>

<!-- Loader for this Page -->
<div *ngIf="!loaded"  class="panel-full">
    <div class="panel panel-multiple panel-multiple-open-red">
        <div class="panel-heading clearfix">                                  
            <h2 class="panel-title fl-left width-70">                                
                <span class="count-icon-loader loading-line fl-left margin-none"></span>
                <span class="loading-line width-50 fl-left mgn-t10 mgn-l10"></span> 
            </h2>
            <div class="icon_group_right width-50px">    
                       <span class="loading-line width-20 fl-right mgn-t10"></span>
        </div>
        </div>
        <div class="accordion-content">
        <div class="panel-body">
                       <!--  Chats history Details -->
                           <div class="chats-history-block">
                <div class="chats-accordion-title clearfix">
                    <div class="chats-images">
                      <span class="count-icon-loader loading-line fl-left margin-none"></span>
                    </div>
                    <div class="chats-right">
                        <div class="chats-accordion-summary">
                            <div class="clearfix"><span class="loading-line width-50 fl-left"></span></div>
                            <span class="loading-line width-70 fl-left mgn-t10"></span>
                       </div>
                                      <div class="time-bock width-10">
                        <span class="loading-line width-75 fl-left mgn-t10"></span>
                        <span class="loading-line width-10px fl-left mgn-t10 mgn-l10"></span>
                        </div>
                  </div> 
                </div>
           </div>
                                        <!-- \\ End Chats history Details --> 
            <!--  Chats history Details -->
                           <div class="chats-history-block">
                <div class="chats-accordion-title clearfix">
                    <div class="chats-images">
                      <span class="count-icon-loader loading-line fl-left margin-none"></span>
                    </div>
                    <div class="chats-right">
                        <div class="chats-accordion-summary">
                            <div class="clearfix"><span class="loading-line width-80 fl-left"></span></div>
                            <span class="loading-line width-90 fl-left mgn-t10"></span>
                       </div>
                                      <div class="time-bock width-10">
                        <span class="loading-line width-75 fl-left mgn-t10"></span>
                        <span class="loading-line width-10px fl-left mgn-t10 mgn-l10"></span>
                        </div>
                  </div> 
                </div>
           </div>
                                        <!-- \\ End Chats history Details -->                                                
            <!--  Chats history Details -->
                           <div class="chats-history-block chats-open">
                <div class="chats-accordion-title clearfix">
                    <div class="chats-images">
                      <span class="count-icon-loader loading-line fl-left margin-none"></span>
                    </div>
                    <div class="chats-right">
                        <div class="chats-accordion-summary">
                            <div class="clearfix"><span class="loading-line width-50 fl-left"></span></div>
                            <span class="loading-line width-70 fl-left mgn-t10"></span>
                       </div>
                                      <div class="time-bock width-10">
                        <span class="loading-line width-75 fl-left mgn-t10"></span>
                        <span class="loading-line width-10px fl-left mgn-t10 mgn-l10"></span>
                        </div>
                  </div> 
                </div>
                <div class="chats-accordion-details">
                    <div class="chats-details  chats-job-rejected">
                       <p class="loading-line width-75"></p>                              
                    </div>
                 </div>
                       </div>
                                        <!-- \\ End Chats history Details --> 
            <!--  Chats history Details -->
                           <div class="chats-history-block">
                <div class="chats-accordion-title clearfix">
                    <div class="chats-images">
                      <span class="count-icon-loader loading-line fl-left margin-none"></span>
                    </div>
                    <div class="chats-right">
                        <div class="chats-accordion-summary">
                            <div class="clearfix"><span class="loading-line width-30 fl-left"></span></div>
                            <span class="loading-line width-90 fl-left mgn-t10"></span>
                       </div>
                                      <div class="time-bock width-10">
                        <span class="loading-line width-75 fl-left mgn-t10"></span>
                        <span class="loading-line width-10px fl-left mgn-t10 mgn-l10"></span>
                        </div>
                  </div> 
                </div>
           </div>
                                        <!-- \\ End Chats history Details --> 
            <!--  Chats history Details -->
                           <div class="chats-history-block chats-open">
                <div class="chats-accordion-title clearfix">
                    <div class="chats-images">
                      <span class="count-icon-loader loading-line fl-left margin-none"></span>
                    </div>
                    <div class="chats-right">
                        <div class="chats-accordion-summary">
                            <div class="clearfix"><span class="loading-line width-40 fl-left"></span></div>
                            <span class="loading-line width-60 fl-left mgn-t10"></span>
                       </div>
                                      <div class="time-bock width-10">
                        <span class="loading-line width-75 fl-left mgn-t10"></span>
                        <span class="loading-line width-10px fl-left mgn-t10 mgn-l10"></span>
                        </div>
                  </div> 
                </div>
                <div class="chats-accordion-details">
                    <div class="chats-details  chats-job-rejected">
                       <p class="loading-line width-75"></p>                              
                    </div>
                 </div>
                       </div>
                                        <!-- \\ End Chats history Details -->
              <!--  Chats history Details -->
                           <div class="chats-history-block">
                <div class="chats-accordion-title clearfix">
                    <div class="chats-images">
                      <span class="count-icon-loader loading-line fl-left margin-none"></span>
                    </div>
                    <div class="chats-right">
                        <div class="chats-accordion-summary">
                            <div class="clearfix"><span class="loading-line width-60 fl-left"></span></div>
                            <span class="loading-line width-40 fl-left mgn-t10"></span>
                       </div>
                                      <div class="time-bock width-10">
                        <span class="loading-line width-75 fl-left mgn-t10"></span>
                        <span class="loading-line width-10px fl-left mgn-t10 mgn-l10"></span>
                        </div>
                  </div> 
                </div>
           </div>
                                        <!-- \\ End Chats history Details --> 
            <!--  Chats history Details -->
                           <div class="chats-history-block">
                <div class="chats-accordion-title clearfix">
                    <div class="chats-images">
                      <span class="count-icon-loader loading-line fl-left margin-none"></span>
                    </div>
                    <div class="chats-right">
                        <div class="chats-accordion-summary">
                            <div class="clearfix"><span class="loading-line width-50 fl-left"></span></div>
                            <span class="loading-line width-70 fl-left mgn-t10"></span>
                       </div>
                                      <div class="time-bock width-10">
                        <span class="loading-line width-75 fl-left mgn-t10"></span>
                        <span class="loading-line width-10px fl-left mgn-t10 mgn-l10"></span>
                        </div>
                  </div> 
                </div>
           </div>
                                        <!-- \\ End Chats history Details --> 
            <!--  Chats history Details -->
                           <div class="chats-history-block">
                <div class="chats-accordion-title clearfix">
                    <div class="chats-images">
                      <span class="count-icon-loader loading-line fl-left margin-none"></span>
                    </div>
                    <div class="chats-right">
                        <div class="chats-accordion-summary">
                            <div class="clearfix"><span class="loading-line width-30 fl-left"></span></div>
                            <span class="loading-line width-80 fl-left mgn-t10"></span>
                       </div>
                                      <div class="time-bock width-10">
                        <span class="loading-line width-75 fl-left mgn-t10"></span>
                        <span class="loading-line width-10px fl-left mgn-t10 mgn-l10"></span>
                        </div>
                  </div> 
                </div>
           </div>
                                        <!-- \\ End Chats history Details -->  
              <!--  Chats history Details -->
                           <div class="chats-history-block">
                <div class="chats-accordion-title clearfix">
                    <div class="chats-images">
                      <span class="count-icon-loader loading-line fl-left margin-none"></span>
                    </div>
                    <div class="chats-right">
                        <div class="chats-accordion-summary">
                            <div class="clearfix"><span class="loading-line width-40 fl-left"></span></div>
                            <span class="loading-line width-50 fl-left mgn-t10"></span>
                       </div>
                                      <div class="time-bock width-10">
                        <span class="loading-line width-75 fl-left mgn-t10"></span>
                        <span class="loading-line width-10px fl-left mgn-t10 mgn-l10"></span>
                        </div>
                  </div> 
                </div>
           </div>
                                        <!-- \\ End Chats history Details -->  
            <!--  Chats history Details -->
                           <div class="chats-history-block">
                <div class="chats-accordion-title clearfix">
                    <div class="chats-images">
                      <span class="count-icon-loader loading-line fl-left margin-none"></span>
                    </div>
                    <div class="chats-right">
                        <div class="chats-accordion-summary">
                            <div class="clearfix"><span class="loading-line width-40 fl-left"></span></div>
                            <span class="loading-line width-90 fl-left mgn-t10"></span>
                       </div>
                                      <div class="time-bock width-10">
                        <span class="loading-line width-75 fl-left mgn-t10"></span>
                        <span class="loading-line width-10px fl-left mgn-t10 mgn-l10"></span>
                        </div>
                  </div> 
                </div>
           </div>
                                        <!-- \\ End Chats history Details -->  
            <!--  Chats history Details -->
                           <div class="chats-history-block">
                <div class="chats-accordion-title clearfix">
                    <div class="chats-images">
                      <span class="count-icon-loader loading-line fl-left margin-none"></span>
                    </div>
                    <div class="chats-right">
                        <div class="chats-accordion-summary">
                            <div class="clearfix"><span class="loading-line width-40 fl-left"></span></div>
                            <span class="loading-line width-90 fl-left mgn-t10"></span>
                       </div>
                                      <div class="time-bock width-10">
                        <span class="loading-line width-75 fl-left mgn-t10"></span>
                        <span class="loading-line width-10px fl-left mgn-t10 mgn-l10"></span>
                        </div>
                  </div> 
                </div>
           </div>
                                        <!-- \\ End Chats history Details --> 
             <!--  Chats history Details -->
                           <div class="chats-history-block chats-open">
                <div class="chats-accordion-title clearfix">
                    <div class="chats-images">
                      <span class="count-icon-loader loading-line fl-left margin-none"></span>
                    </div>
                    <div class="chats-right">
                        <div class="chats-accordion-summary">
                            <div class="clearfix"><span class="loading-line width-30 fl-left"></span></div>
                            <span class="loading-line width-50 fl-left mgn-t10"></span>
                      </div>
                                      <div class="time-bock width-10">
                        <span class="loading-line width-75 fl-left mgn-t10"></span>
                        <span class="loading-line width-10px fl-left mgn-t10 mgn-l10"></span>
                        </div>
                  </div> 
                </div>
                <div class="chats-accordion-details">
                    <div class="chats-details  chats-job-rejected">
                       <div class="table-outer">
                                      <h3 class="title-12"><div class="loading-line width-30 mgn-t10"></div></h3>
                    <table class="table document-table">
                          <thead>
                            <tr>
                              <th class="table-cell-1"><div class="loading-line width-50"></div></th>
                              <th class="table-cell-3"><div class="loading-line width-70"></div></th>
                              <th class="table-cell-4"><div class="loading-line width-80"></div></th>        
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                                <td class="table-cell-1"><div class="loading-line width-40"></div></td>
                                <td class="table-cell-3"><div class="loading-line width-40"></div></td>
                                <td class="table-cell-4"><div class="loading-line width-40"></div></td>                                                
                            </tr>
                            <tr>
                                <td class="table-cell-1"><div class="loading-line width-40"></div></td>
                                <td class="table-cell-3"><div class="loading-line width-40"></div></td>
                                <td class="table-cell-4"><div class="loading-line width-40"></div></td>
                             </tr>
                          </tbody>
                          <thead>
                            <tr>
                              <th class="table-cell-1"><div class="loading-line width-60"></div></th>
                              <th class="table-cell-3"><div class="loading-line width-40"></div></th>
                              <th class="table-cell-4"><div class="loading-line width-70"></div></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                                <td class="table-cell-1"><div class="loading-line width-40"></div></td>
                                <td class="table-cell-3"><div class="loading-line width-40"></div></td>
                                <td class="table-cell-4"><div class="loading-line width-40"></div></td>      
                            </tr>
                            <tr>
                                <td class="table-cell-1"><div class="loading-line width-40"></div></td>
                                <td class="table-cell-3"><div class="loading-line width-40"></div></td>
                                <td class="table-cell-4"><div class="loading-line width-40"></div></td>
                             </tr>
                             <tr>
                                <td class="table-cell-1"><div class="loading-line width-40"></div></td>
                                <td class="table-cell-3"><div class="loading-line width-40"></div></td>
                                <td class="table-cell-4"><div class="loading-line width-40"></div></td>                                                
                            </tr>
                            <tr>
                                <td class="table-cell-1"><div class="loading-line width-40"></div></td>
                                <td class="table-cell-3"><div class="loading-line width-40"></div></td>
                                <td class="table-cell-4"><div class="loading-line width-40"></div></td>
                             </tr>
                          </tbody>
                          <thead>
                            <tr>
                              <th class="table-cell-1"><div class="loading-line width-40"></div></th>
                              <th class="table-cell-3"><div class="loading-line width-40"></div></th>
                              <th class="table-cell-4"><div class="loading-line width-40"></div></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                                <td class="table-cell-1"><div class="loading-line width-40"></div></td>
                                <td class="table-cell-3"><div class="loading-line width-40"></div></td>
                                <td class="table-cell-4"><div class="loading-line width-40"></div></td>      
                            </tr>
                            <tr>
                                <td class="table-cell-1"><div class="loading-line width-40"></div></td>
                                <td class="table-cell-3"><div class="loading-line width-40"></div></td>
                                <td class="table-cell-4"><div class="loading-line width-40"></div></td>      
                            </tr>
                            <tr class="total">
                                <td class="table-cell-1"><div class="loading-line width-40"></div></td>
                                <td class="table-cell-3"><div class="loading-line width-40"></div></td>
                                <td class="table-cell-4"><div class="loading-line width-40"></div></td>      
                            </tr>                                                                
                          </tbody>
                        </table>                       
                </div>                            
                    </div>
                 </div>
                       </div>
                                        <!-- \\ End Chats history Details -->  
                        </div>
        </div>
    </div>
</div>
