<div class="popup-top popup-custome-top clearfix" mat-dialog-title>
    <div class="popup-title-row">
        <h2 class="title">
            <span class="job-status {{getJobStatusClass(jobData.jobStatus)}}"></span>
            <span *ngIf="jobData.jobTitle?.length>35" matTooltip="{{jobData.jobTitle | lowercasepipe}}">{{jobData.jobTitle.toLowerCase() | stringTrim:35}} </span>
            <span *ngIf="jobData.jobTitle?.length<=35">{{jobData.jobTitle | lowercasepipe}} </span>
            <span class="job-code">{{jobData.requisitionCode}}</span>
        </h2>
        <span class="material-icons close" (click)="dialogRef.close('Cancel')">close</span>
    </div>
    <div class="popup-top-description">
        <div class="list-reset listing-inline">
            <li class="character-count-45" *ngIf="jobData.orgUnitCode !=null && jobData.orgUnitCode.length>33" matTooltip="{{jobData.orgUnitCode | lowercasepipe}}">{{jobData.orgUnitCode | lowercasepipe}}</li>
            <li *ngIf="jobData.orgUnitCode !=null && jobData.orgUnitCode.length<=33">{{jobData.orgUnitCode | lowercasepipe}}</li>
            <li class="character-count-45" *ngIf="jobData.joiningLoc !=null && jobData.joiningLoc.length>33" matTooltip="{{jobData.joiningLoc | lowercasepipe}}">{{jobData.joiningLoc | lowercasepipe}}</li>
            <li *ngIf="jobData.joiningLoc !=null && jobData.joiningLoc.length<=33">{{jobData.joiningLoc | lowercasepipe}}</li>
            <li class="inline-item last-item" *ngIf="jobData.createdDate">{{'common.label.createdOn' | translate}} <span class="link">{{jobData.createdDate | date:'dd/MM/yyyy'}}</span></li>
        </div>
    </div>
</div>
<div class="popup-inner" mat-dialog-content>
    <div class="notification-bar {{severityClass}} {{showClass}}" *ngIf="message.length > 0">
        <span class="material-icons successful-icon">check_circle</span>
        <div class="notification-text-outer">
            <span class="notification-text">{{message}}</span>
        </div>

        <span class="material-icons close" (click)="clearMessages()">close</span>
    </div>
    <!-- popup Content Box -->
    <div class="popup-content">
        <h3 class="title-12" *ngIf="!disableIJPStartDate">{{'postIjp.publish.infoEnableIJPStartDate' | translate}}</h3>
        <h3 class="title-12" *ngIf="disableIJPStartDate">{{'postIjp.publish.infoDisableIJPStartDate' | translate}}
        </h3>

        <div class="popup-row clearfix">
            <div class="popup-cell-common">
                <label class="control-label label-text">{{'common.label.startDate' | translate}}</label>
                <div class="popup-cell-inner">
                    <alt-datepicker class="dropdown-calendar {{disableIJPStartDate?'disabled':'enbled'}}" [mode]="landscape" [value]="ijpStartDate"
                        #startDate (change)="selectIjpStartDate(startDate.value)" [type]="'date'"[disabled]="disableIJPStartDate" [disableClick]="disableIJPStartDate"></alt-datepicker>
                </div>
            </div>
            <div class="popup-cell-common pointer-date">
                <label class="control-label label-text">{{'common.label.endDate' | translate}}</label>
                <div class="popup-cell-inner">
                    <alt-datepicker class="dropdown-calendar " [mode]="landscape" [value]="ijpEndDate" [type]="'date'"#endDate (change)="selectIjpEndDate(endDate.value)"></alt-datepicker>
                </div>
            </div>
        </div>
        <!-- \\ End Popup Row -->
    </div>
    <!-- \\ End popup Content Box -->

</div>

<div class="btn-row text-right" mat-dialog-actions>
    <button class="btn btn-white" (click)="dialogRef.close()" [disabled]="publishCandidate">{{'common.label.cancel' | translate}}</button>
    <!--<button class="btn btn-primary" (click)="postJobToIJP()">Post</button>-->
    <alt-spinner-button (myEvent)="postJobToIJP($event)" [spinner]="publishCandidate" [spinnerdisabled]="publishCandidate"
      text="{{((lable | lowercase) ===('update' | lowercase) ? 'common.label.update' : 'common.label.post') | translate}}"></alt-spinner-button>
</div>