<div class="candidate-detail-card" *ngIf="jobSummaryData == null">
    <div class="card-block">
        <div class="card-block-inner">
            <div class="candidate-detail-top clearfix">
                <h2 class="title width-30">
                    <div class="loading-line"></div>
                </h2>
            </div>
            <div class="skill-row-top clearfix">
                <span class="tag-job skill-2">
                    <div class="loading-line"></div>
                </span>
                <span class="tag-job skill-1">
                    <div class="loading-line"></div>
                </span>
                <span class="tag-job skill-2">
                    <div class="loading-line"></div>
                </span>
                <span class="tag-job skill-2">
                    <div class="loading-line"></div>
                </span>
                <span class="tag-job skill-1">
                    <div class="loading-line"></div>
                </span>
                <span class="tag-job skill-2">
                    <div class="loading-line"></div>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="candidate-detail-card" *ngIf="jobSummaryData != null">
    <div class="">
        <div class="card-block">
            <div class="card-block-inner">
                <div class="candidate-detail-top auto-matched-candidate-top clearfix">
                    <h2 class="title">
                        <span class="job-status {{getJobStatusClass(jobSummaryData?.jobStatus)}}"></span>
                        <a class="link" [routerLink]="['/job/auto-match-candidates', jobSummaryData?.jobCode | formatJobcodeParam, 'social']">
                            <span *ngIf="jobSummaryData?.jobName.length > 40" matTooltip="{{jobSummaryData?.jobName | lowercasepipe}}">{{jobSummaryData?.jobName.toLowerCase()| stringTrim:40}}</span>
                            <span *ngIf="jobSummaryData?.jobName.length < 41">{{jobSummaryData?.jobName | lowercasepipe}}</span>
                        </a>
                    </h2>
                    <ul class="list-reset listing-inline listing-bor-last {{!getlengthZero()?'':'ul-width-80'}}">
                        <li class="character-count-45" *ngIf="getlengthLessThanLi1()" matTooltip="{{jobSummaryData?.summaryOrgUnit | lowercasepipe}}">{{jobSummaryData?.summaryOrgUnit | lowercasepipe}}</li>
                        <li *ngIf="getlengthGreatThanLi1()">{{jobSummaryData?.summaryOrgUnit | lowercasepipe}}</li>
                        <li class="character-count-45" *ngIf="getlengthLessThanLi2()" matTooltip="{{jobSummaryData?.summaryWorkSite | lowercasepipe}}">{{jobSummaryData?.summaryWorkSite | lowercasepipe}}</li>
                        <li *ngIf="!getlengthZero() && getlengthGreatThanLi2()">{{jobSummaryData?.summaryWorkSite | lowercasepipe}}</li>
                    </ul>
                </div>
                <div class="skill-row-top clearfix" *ngIf="jobSkills != null && jobSkills.length > 0">
                    <span *ngFor="let skill of jobSkills" class="tag-job">{{skill.text}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-title-row margin-bot-none">
    <h1 class="main-title">
        <div *ngIf="jobSummaryData == null" class="loading-line width-30"></div>
        <h1 *ngIf="jobSummaryData != null" class="main-title">Candidate Overview</h1>
    </h1>

    <div class="main-title-right">
        <button class="btn btn-default desktop-btn disabled"  style="color: #000; border: 1px solid #666;" (click)="goBack()">back</button>
        <div class="cand-slide mrglr7">
            <span class="fast-rewind material-icons {{currentPosition == 1 ?'arrow-disabled':''}}" *ngIf="currentPosition != null && totalRows != null && currentPosition >= 1">fast_rewind</span>
            <span class="switch" *ngIf="currentPosition != null && totalRows != null">{{currentPosition}} / {{totalRows}}</span>
            <span class="fast-forward material-icons {{currentPosition == totalRows ?'arrow-disabled':''}}" *ngIf="currentPosition != null && totalRows != null && currentPosition <= totalRows">fast_forward</span>
        </div>
        <button class="btn btn-default mobile-btn disabled"  style="color: #000; border: 1px solid #666;" (click)="goBack()">back</button>
        <button class="btn btn-primary">save as a draft</button>
    </div>
</div>
<div class="candidate-detail-card auto-matched-candidate-detail clearfix">
    <div class="card-block">
        <div class="card-block-inner">
            <div class="candidate-detail-top clearfix">
                <div class="image-block">
                    <div class="loading-line height-100"></div>
                </div>
                <div class="candidate-detail-top-right">
                    <div class="candidate-detail-top-block">
                        <div class="candidate-detail-title width-75">
                            <div class="loading-line"></div>
                        </div>
                        <div class="social-block-footer">
                            <a href="#" target="_blank" class="icon-smd">
                                <div class="loading-line"></div>
                            </a>
                            <a href="#" target="_blank" class="icon-smd">
                                <div class="loading-line"></div>
                            </a>
                            <a href="#" target="_blank" class="icon-smd">
                                <div class="loading-line"></div>
                            </a>
                            <a href="#" target="_blank" class="icon-smd pla-right-zero">
                                <div class="loading-line"></div>
                            </a>
                        </div>
                        <div class="candidate-opcation clearfix">
                            <a href="#" class="loading-line width-10"></a>
                            <a href="#" class="loading-line width-10"></a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="auto-matched-candidate-bottom clearfix">
                <div class="auto-matched-cell">
                    <div class="auto-matched-cell-inner">
                        <div class="loading-line"></div>
                    </div>
                </div>
                <div class="auto-matched-cell">
                    <div class="auto-matched-cell-inner">
                        <div class="loading-line"></div>
                    </div>
                </div>
                <div class="auto-matched-cell">
                    <div class="auto-matched-cell-inner">
                        <div class="loading-line"></div>
                    </div>
                </div>
                <div class="auto-matched-cell">
                    <div class="auto-matched-cell-inner">
                        <div class="loading-line"></div>
                    </div>
                </div>
                <div class="auto-matched-cell">
                    <div class="auto-matched-cell-inner">
                        <div class="loading-line"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel-full">
    <div class="panel panel-two-column panel-open">
        <div class="panel-heading clearfix">
            <h2 class="panel-title fl-left text-capitalize">
                <div class=" loading-line left"></div>
            </h2>
        </div>
        <div class="panel-body">
            <div class="panel-row">
                <span class="panel-col panel-col1">
                    <div class="loading-line width-20"></div>
                </span>
                <span class="panel-col text-bold-cell">
                    <div class="loading-line width-90"></div>
                </span>
            </div>
            <div class="panel-row">
                <span class="panel-col panel-col1">
                    <div class="loading-line width-50"></div>
                </span>
                <span class="panel-col text-bold-cell">
                    <div class="loading-line width-80"></div>
                </span>
            </div>
            <div class="panel-row">
                <span class="panel-col panel-col1">
                    <div class="loading-line width-60"></div>
                </span>
                <span class="panel-col text-bold-cell">
                    <div class="loading-line width-50"></div>
                </span>
            </div>
            <div class="panel-row">
                <span class="panel-col panel-col1">
                    <div class="loading-line width-30"></div>
                </span>
                <span class="panel-col text-bold-cell">
                    <div class="loading-line width-40"></div>
                </span>
            </div>
            <div class="panel-row">
                <span class="panel-col panel-col1">
                    <div class="loading-line width-40"></div>
                </span>
                <span class="panel-col text-bold-cell">
                    <div class="loading-line width-70"></div>
                </span>
            </div>
            <div class="panel-row">
                <span class="panel-col panel-col1">
                    <div class="loading-line width-40"></div>
                </span>
                <span class="panel-col text-bold-cell">
                    <div class="loading-line width-50"></div>
                </span>
            </div>
            <div class="panel-row">
                <span class="panel-col panel-col1">
                    <div class="loading-line width-80"></div>
                </span>
                <span class="panel-col text-bold-cell">
                    <div class="loading-line width-90"></div>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="panel-full">
    <div class="panel panel-two-column panel-open">
        <div class="panel-heading clearfix">
            <h2 class="panel-title fl-left text-capitalize">
                <div class=" loading-line left"></div>
            </h2>
        </div>
        <div class="panel-body clearfix">
            <div class="clearfix">
                <div class="panel-row">
                    <span class="panel-col panel-col1">
                        <div class="loading-line width-90"></div>
                    </span>
                    <span class="panel-col text-bold-cell">
                        <div class="loading-line width-90"></div>
                    </span>
                </div>
                <div class="panel-row">
                    <span class="panel-col panel-col1">
                        <div class="loading-line width-50"></div>
                    </span>
                    <span class="panel-col text-bold-cell">
                        <div class="loading-line width-60"></div>
                    </span>
                </div>
                <div class="panel-row">
                    <span class="panel-col panel-col1">
                        <div class="loading-line width-30"></div>
                    </span>
                    <span class="panel-col text-bold-cell">
                        <div class="loading-line width-90"></div>
                    </span>
                </div>
                <div class="panel-row">
                    <span class="panel-col panel-col1">
                        <div class="loading-line width-70"></div>
                    </span>
                    <span class="panel-col text-bold-cell">
                        <div class="loading-line width-80"></div>
                    </span>
                </div>
                <div class="panel-row">
                    <span class="panel-col panel-col1">
                        <div class="loading-line width-50"></div>
                    </span>
                    <span class="panel-col text-bold-cell">
                        <div class="loading-line width-80"></div>
                    </span>
                </div>
                <div class="panel-row">
                    <span class="panel-col panel-col1">
                        <div class="loading-line width-40"></div>
                    </span>
                    <span class="panel-col text-bold-cell">
                        <div class="loading-line width-90"></div>
                    </span>
                </div>
            </div>
            <div class="divider divider-pad clearfix"></div>
            <div class="clearfix">
                <div class="panel-row">
                    <span class="panel-col panel-col1">
                        <div class="loading-line width-80"></div>
                    </span>
                    <span class="panel-col text-bold-cell">
                        <div class="loading-line width-90"></div>
                    </span>
                </div>
                <div class="panel-row">
                    <span class="panel-col panel-col1">
                        <div class="loading-line width-50"></div>
                    </span>
                    <span class="panel-col text-bold-cell">
                        <div class="loading-line width-80"></div>
                    </span>
                </div>
                <div class="panel-row">
                    <span class="panel-col panel-col1">
                        <div class="loading-line width-60"></div>
                    </span>
                    <span class="panel-col text-bold-cell">
                        <div class="loading-line width-50"></div>
                    </span>
                </div>
                <div class="panel-row">
                    <span class="panel-col panel-col1">
                        <div class="loading-line width-30"></div>
                    </span>
                    <span class="panel-col text-bold-cell">
                        <div class="loading-line width-40"></div>
                    </span>
                </div>
                <div class="panel-row">
                    <span class="panel-col panel-col1">
                        <div class="loading-line width-40"></div>
                    </span>
                    <span class="panel-col text-bold-cell">
                        <div class="loading-line width-70"></div>
                    </span>
                </div>
            </div>
            <div class="panel-row-full clearfix">
                <span class="panel-col panel-col1">
                    <div class="loading-line width-80"></div>
                </span>
                <span class="panel-col text-bold-cell">
                    <div class="loading-line width-100"></div>
                    <div class="loading-line width-100"></div>
                    <div class="loading-line width-80"></div>
                    <div class="loading-line width-70"></div>
                </span>
            </div>

        </div>
    </div>
</div>
<div class="panel-full">
    <div class="panel panel-one-column panel-open">
        <div class="panel-heading clearfix">
            <h2 class="panel-title fl-left text-capitalize">
                <div class=" loading-line left"></div>
            </h2>
        </div>
        <div class="panel-body">
            <div class="panel-row clearfix">
                <span class="panel-col panel-col1">
                    <div class="loading-line width-40"></div>
                </span>
                <span class="panel-col text-bold-cell">
                    <div class="loading-line width-50"></div>
                </span>
            </div>
            <div class="panel-row clearfix">
                <span class="panel-col panel-col1">
                    <div class="loading-line width-70"></div>
                </span>
                <span class="panel-col text-bold-cell">
                    <div class="loading-line width-70"></div>
                </span>
            </div>
            <div class="panel-row clearfix">
                <span class="panel-col panel-col1">
                    <div class="loading-line width-50"></div>
                </span>
                <span class="panel-col text-bold-cell">
                    <div class="loading-line width-40"></div>
                </span>
            </div>
            <div class="panel-row clearfix">
                <span class="panel-col panel-col1">
                    <div class="loading-line width-20"></div>
                </span>
                <span class="panel-col text-bold-cell">
                    <div class="loading-line width-40"></div>
                </span>
            </div>
            <div class="panel-row clearfix">
                <span class="panel-col panel-col1">
                    <div class="loading-line width-30"></div>
                </span>
                <span class="panel-col text-bold-cell">
                    <div class="loading-line width-10"></div>
                </span>
            </div>
            <div class="panel-row clearfix">
                <span class="panel-col panel-col1">
                    <div class="loading-line width-20"></div>
                </span>
                <span class="panel-col text-bold-cell">
                    <div class="loading-line width-20"></div>
                </span>
            </div>
            <div class="panel-row clearfix">
                <span class="panel-col panel-col1">
                    <div class="loading-line width-10"></div>
                </span>
                <span class="panel-col text-bold-cell">
                    <div class="loading-line width-40"></div>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="panel-full">
    <div class="panel panel-one-column panel-open">
        <div class="panel-heading clearfix">
            <h2 class="panel-title fl-left text-capitalize">
                <div class=" loading-line left"></div>
            </h2>
        </div>
        <div class="panel-body">
            <div class="panel-row clearfix">
                <span class="panel-col panel-col1">
                    <div class="loading-line width-70"></div>
                </span>
                <span class="panel-col text-bold-cell">
                    <div class="loading-line width-70"></div>
                </span>
            </div>
            <div class="panel-row clearfix">
                <span class="panel-col panel-col1">
                    <div class="loading-line width-50"></div>
                </span>
                <span class="panel-col text-bold-cell">
                    <div class="loading-line width-40"></div>
                </span>
            </div>
            <div class="panel-row clearfix">
                <span class="panel-col panel-col1">
                    <div class="loading-line width-20"></div>
                </span>
                <span class="panel-col text-bold-cell">
                    <div class="loading-line width-40"></div>
                </span>
            </div>
            <div class="panel-row clearfix">
                <span class="panel-col panel-col1">
                    <div class="loading-line width-50"></div>
                </span>
                <span class="panel-col text-bold-cell">
                    <div class="loading-line width-80"></div>
                </span>
            </div>
            <div class="panel-row clearfix">
                <span class="panel-col panel-col1">
                    <div class="loading-line width-60"></div>
                </span>
                <span class="panel-col text-bold-cell">
                    <div class="loading-line width-50"></div>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="panel-full">
    <div class="panel panel-open">
        <div class="panel-heading clearfix">
            <h2 class="panel-title fl-left text-capitalize">
                <div class=" loading-line left"></div>
            </h2>
        </div>
        <div class="panel-body padding-b10">
            <div class="skill-row clearfix">
                <span class="tag-job skill-1">
                    <div class="loading-line"></div>
                </span>
                <span class="tag-job skill-2">
                    <div class="loading-line"></div>
                </span>
                <span class="tag-job skill-2">
                    <div class="loading-line"></div>
                </span>
                <span class="tag-job skill-1">
                    <div class="loading-line"></div>
                </span>
                <span class="tag-job skill-2">
                    <div class="loading-line"></div>
                </span>
                <span class="tag-job skill-1">
                    <div class="loading-line"></div>
                </span>
                <span class="tag-job skill-2">
                    <div class="loading-line"></div>
                </span>
                <span class="tag-job skill-1">
                    <div class="loading-line"></div>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="panel-full">
    <div class="panel panel-open">
        <div class="panel-heading clearfix">
            <h2 class="panel-title fl-left text-capitalize">
                <div class=" loading-line left"></div>
            </h2>
        </div>
        <div class="panel-body padding-b10">
            <div class="skill-row clearfix">
                <span class="tag-job skill-2">
                    <div class="loading-line"></div>
                </span>
                <span class="tag-job skill-1">
                    <div class="loading-line"></div>
                </span>
                <span class="tag-job skill-2">
                    <div class="loading-line"></div>
                </span>
                <span class="tag-job skill-1">
                    <div class="loading-line"></div>
                </span>
            </div>
        </div>
    </div>
</div>