<div class="panel-full">
  <div class="panel panel-open">
    <div *ngIf="security?.ctqSectionRendered">
      <div class="panel-heading clearfix">
        <h2 class="panel-title fl-left text-capitalize">{{security?.ctqSectionLabel}}</h2>
      </div>
      <div class="panel-body" *ngIf="checkData==1">{{'common.label.noDataAvailable' | translate}}</div>
      <div class="panel-body" *ngIf="checkData>1">
        <ul class="list-reset list-number">
          <li *ngFor="let ctq of ctqInformationData">
            {{ctq}}
          </li>
        </ul>
      </div>
    </div>
    <div class="panel-body">
      <div class="skill-section" *ngIf="security?.sourcingGuidelineRendered">
        <h4 class="title-12">{{security?.sourcingGuidelineLabel}}</h4>
        <div class="skill-section-row clearfix" *ngIf="sourcingGuidline">{{sourcingGuidline}}</div>
        <div class="skill-section-row clearfix" *ngIf="sourcingGuidline == null || sourcingGuidline == ''">No data
          available</div>
      </div>
    </div>
  </div>
</div>
