<div class="popup-custome-ng2">
  <div class="popup-title-ng clearfix" mat-dialog-title>
    <h2 class="title-sub title-mng">{{'postJobBoard.label.postNaukri' | translate}}</h2>
    <div class="popup-top border-top border-2 clearfix">
      <div class="popup-title-row">
        <h2 class="title">
          <span class="job-status job-active"></span>{{data?.jobTitle}}
          <span class="job-code">{{data?.requisitionCode}}</span>
        </h2>
        <span class="material-icons close" (click)="dialogRef.close()">close</span>
      </div>
      <div class="popup-top-description">
        <ul class="list-reset listing-inline">
          <li>{{data?.orgUnitCode}}</li>
          <li class="last-item" *ngIf="data?.joiningLocation">{{data?.joiningLocation}}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="notification-bar {{severityClass}} {{showClass}}" *ngIf="message?.length > 0">
        <span class="material-icons successful-icon">check_circle</span>
        <div class="notification-text-outer">
            <span class="notification-text">{{message}}</span>
        </div>
        <span class="material-icons close" (click)="clearMessages()">close</span>
    </div>
  <div class="vertical-height" slimScroll mat-dialog-content>
    <div class="popup-inner form-item-popup clearfix">
      <div class="form_outer">
        <div class="row">
          <form [formGroup]="naukriForm">
            <div class="form-group row2 mgn-btm-0">
              <div class="col-md-4">
                <label class="control-label clearfix">{{'postJobBoard.label.jobAction' | translate}}*</label>
                <input [attr.disabled]="true" type="text" class="form-control" formControlName="jobAction" />
              </div>
              <div class="col-md-4">
                <label class="control-label clearfix">{{'postJobBoard.label.jobPositionId' | translate}}*</label>
                <input [attr.disabled]="true" type="text" class="form-control" formControlName="jobPositionPostingID" />
              </div>
              <div class="col-md-4">
                <label class="control-label">{{'postJobBoard.label.jobType' | translate}}</label>
                <div class="dropdown-11 list-block">
                  <alt-custom-single-select [searchEnable]="true" #JOBTYPE [srcTag]="'JOBTYPETAG'" (clickToClose)="JOBTYPE.toggleClose()" [inputList]="jobTypeList"
                    [value]="naukriForm.controls.jobType.value" placeholder="{{'common.label.select' | translate}}" (valueBind)="naukriForm.controls['jobType'].setValue($event.value)">
                  </alt-custom-single-select>
                </div>
              </div>
              <div class="col-md-4">
                <label class="control-label clearfix">{{'postJobBoard.label.orgName' | translate}}*</label>
                <input type="text" class="form-control" formControlName="hiringOrgName" />
              </div>
              <div class="col-md-4">
                <label class="control-label clearfix">{{'postJobBoard.label.orgDesc' | translate}}*</label>
                <input type="text" class="form-control" formControlName="summaryText" />
              </div>
              <div class="col-md-4">
                <label class="control-label clearfix">{{'postJobBoard.label.jobTitle' | translate}}*</label>
                <input [attr.disabled]="true" type="text" class="form-control" formControlName="jobPositionTitle" />
              </div>
              <div class="col-md-4">
                <label class="control-label">{{'postJobBoard.label.functionalArea' | translate}}*</label>
                <div class="dropdown-11 list-block">
                  <alt-custom-single-select [searchEnable]="true" #JOBFUNCTIONCODE [srcTag]="'JOBFUNCTIONCODETAG'" (clickToClose)="JOBFUNCTIONCODE.toggleClose()"
                    [inputList]="jobFunctionCodeList" [value]="naukriForm.controls.jobFunctionCode.value" placeholder="{{'common.label.select' | translate}}"
                    (valueBind)="naukriForm.controls['jobFunctionCode'].setValue($event.value);  naukriJobFunctionCode=($event.code); getRoleList($event.value)"
                    (emitSelected)="naukriJobFunctionCode=($event.code); getRoleList($event.value)">
                  </alt-custom-single-select>
                </div>
              </div>
              <div class="col-md-4">
                <label class="control-label">{{'postJobBoard.label.role' | translate}}*</label>
                <div class="dropdown-11 list-block">
                  <alt-custom-single-select [searchEnable]="true" #JOBROLECODE [srcTag]="'JOBROLECODETAG'" (clickToClose)="JOBROLECODE.toggleClose()" [inputList]="jobRoleCodeList"
                    [value]="naukriForm.controls.jobRoleCode.value" placeholder="{{'common.label.select' | translate}}" 
                    (valueBind)="naukriForm.controls['jobRoleCode'].setValue($event.value); naukriJobRoleCode=($event.code)"
                    (emitSelected)="naukriJobRoleCode=($event.code)">
                  </alt-custom-single-select>
                </div>
              </div>
              <div class="col-md-4">
                <label class="control-label">{{'postJobBoard.label.industry' | translate}}*</label>
                <div class="dropdown-11 list-block">
                  <alt-custom-single-select [searchEnable]="true" #JOBINDUSTRYCODE [srcTag]="'JOBINDUSTRYCODETAG'" (clickToClose)="JOBINDUSTRYCODE.toggleClose()"
                    [inputList]="jobIndustryCodeList" [value]="naukriForm.controls.jobIndustryCode.value" placeholder="{{'common.label.select' | translate}}"
                    (valueBind)="naukriForm.controls['jobIndustryCode'].setValue($event.value); naukriJobIndustryCode=($event.code)"
                    (emitSelected)="naukriJobIndustryCode=($event.code)">
                  </alt-custom-single-select>
                </div>
              </div>
              <div class="col-md-4">
                <label class="control-label clearfix">{{'postJobBoard.label.jobKeywords' | translate}}*</label>
                <input type="text" class="form-control" formControlName="jobKeywords" />
              </div>
              <div class="col-md-4">
                <label class="control-label">{{'postJobBoard.label.internationalLocation' | translate}}</label>
                <div class="dropdown-11 list-block">
                  <alt-custom-single-select [searchEnable]="true" #INTERNATIONALLOC [srcTag]="'INTERNATIONALLOCTAG'" (clickToClose)="INTERNATIONALLOC.toggleClose()"
                    [inputList]="interNationalLocList" [value]="naukriForm.controls.interNationalLoc.value" placeholder="{{'common.label.select' | translate}}"
                    (valueBind)="naukriForm.controls['interNationalLoc'].setValue($event.value); naukriJobCountryCode=($event.code)">
                  </alt-custom-single-select>
                </div>
              </div>
              <div class="col-md-4">
                <label class="control-label">{{'postJobBoard.label.indianLocation' | translate}}*</label>
                <div class="dropdown-11 list-block auto-select">
                  <alt-select [options]="indianLocList" [multiple]="true" (selected)="addIndianLocationListener($event)"
                    placeholder="{{'common.label.select' | translate}}" [allowClear]="true" [disabled]="selectedLocationlenghth > 12">
                  </alt-select>
                </div>
                <label class="control-label">*{{'postJobBoard.label.selectLocationMsg' | translate}}</label>
              </div>
              <div class="col-md-4">
                <label class="control-label">{{'postJobBoard.label.salaryCurrency' | translate}}*</label>
                <div class="dropdown-11 list-block">
                  <alt-custom-single-select [searchEnable]="true" #SALARYCURRENCY [srcTag]="'SALARYCURRENCYTAG'" (clickToClose)="SALARYCURRENCY.toggleClose()" 
                  [inputList]="salaryCurrencyList" [value]="naukriForm.controls.salaryCurrency.value" placeholder="{{'common.label.select' | translate}}"
                  (valueBind)="naukriForm.controls['salaryCurrency'].setValue($event.value); naukriSalaryCurrenyCode=($event.label)"
                  (emitSelected)="naukriSalaryCurrenyCode=($event.label)">
                  </alt-custom-single-select>
                </div>
              </div>
              <div class="col-md-4">
                <label class="control-label">{{'postJobBoard.label.minSalary' | translate}}*</label>
                <div class="dropdown-11 list-block">
                  <alt-custom-single-select [searchEnable]="true" #MINIMUMSALARY [srcTag]="'MINIMUMSALARYTAG'" (clickToClose)="MINIMUMSALARY.toggleClose()"
                    [inputList]="minimumSalaryList" [value]="naukriForm.controls.minimumSalary.value" placeholder="{{'common.label.select' | translate}}"
                    (valueBind)="naukriForm.controls['minimumSalary'].setValue($event.value);getMaxSalary($event.value)"
                    (emitSelected)="naukriMinSalaryCode=($event.code); getMaxSalary($event.value)">
                  </alt-custom-single-select>
                </div>
              </div>             
              <div class="col-md-4">
                <label class="control-label">{{'postJobBoard.label.maxSalary' | translate}}*</label>
                <div class="dropdown-11 list-block">
                  <alt-custom-single-select [searchEnable]="true" #MAXIMUMSALARY [srcTag]="'MAXIMUMSALARYTAG'" (clickToClose)="MAXIMUMSALARY.toggleClose()" [inputList]="maximumSalaryList"
                    [value]="naukriForm.controls.maximumSalary.value" placeholder="{{'common.label.select' | translate}}" (valueBind)="naukriForm.controls['maximumSalary'].setValue($event.value); naukriMaxSalaryCode=($event.code)"
                    (emitSelected)="naukriMaxSalaryCode=($event.code)">
                  </alt-custom-single-select>                  
                </div>
              </div>
              <div class="col-md-4">
                  <label class="control-label">{{'postJobBoard.label.displaySalary' | translate}}*</label>
                  <div class="dropdown-11 list-block">
                    <alt-custom-single-select #DISPLAYSALARY [srcTag]="'DISPLAYSALARYTAG'" (clickToClose)="DISPLAYSALARY.toggleClose()" [inputList]="optionsList"
                      [value]="naukriForm.controls.displaySalary.value" placeholder="{{'common.label.select' | translate}}" (valueBind)="naukriForm.controls['displaySalary'].setValue($event.value)">
                    </alt-custom-single-select>                  
                  </div>
                </div>
              <div class="col-md-4">
                <label class="control-label">{{'postJobBoard.label.minExp' | translate}}*</label>
                <div class="dropdown-11 list-block">
                  <alt-custom-single-select [searchEnable]="true" #MINIMUMEXPERIENCE [srcTag]="'MINIMUMEXPERIENCETAG'" (clickToClose)="MINIMUMEXPERIENCE.toggleClose()"
                    [inputList]="minimumExperienceList" [value]="naukriForm.controls.minimumExperience.value" placeholder="{{'common.label.select' | translate}}"
                    (valueBind)="naukriForm.controls['minimumExperience'].setValue($event.value);getMaxExperience($event.value)"
                    (emitSelected)="naukriMinExperienceCode=($event.code); getMaxExperience($event.value)">
                  </alt-custom-single-select>                  
                </div>
              </div>
              <div class="col-md-4">
                <label class="control-label">{{'postJobBoard.label.maxExp' | translate}}*</label>
                <div class="dropdown-11 list-block">
                  <alt-custom-single-select [searchEnable]="true" #MAXIMUMEXP [srcTag]="'MAXIMUMEXPTAG'" (clickToClose)="MAXIMUMEXP.toggleClose()" [inputList]="maximumExperienceList"
                    [value]="naukriForm.controls.maximumExperience.value" placeholder="{{'common.label.select' | translate}}" (valueBind)="naukriForm.controls['maximumExperience'].setValue($event.value); naukriMaxExperienceCode=($event.code)"
                    (emitSelected)="naukriMaxExperienceCode=($event.code)">
                  </alt-custom-single-select>                  
                </div>
              </div>
              <div class="col-md-4">
                <label class="control-label">{{'postJobBoard.label.ug' | translate}}*</label>
                <div class="dropdown-11 list-block">
                  <alt-custom-single-select [searchEnable]="true" #UGQUALIFICATIONS [srcTag]="'UGQUALIFICATIONSTAG'" (clickToClose)="UGQUALIFICATIONS.toggleClose()"
                    [inputList]="ugQualificationsList" [value]="naukriForm.controls.ugQualifications.value" placeholder="{{'common.label.select' | translate}}"
                    (valueBind)="naukriForm.controls['ugQualifications'].setValue($event.value);getUGSpecialization($event.value)"
                     (emitSelected)="naukriUgQualificationCode=($event.code); getUGSpecialization($event.value)">
                  </alt-custom-single-select>
                </div>
              </div>
              <div class="col-md-4">
                <label class="control-label">{{'postJobBoard.label.ugSpecialization' | translate}}*</label>
                <div class="dropdown-11 list-block">
                  <alt-custom-single-select [searchEnable]="true" #UGSPECIALIZATIONS [srcTag]="'UGSPECIALIZATIONSTAG'" (clickToClose)="UGSPECIALIZATIONS.toggleClose()"
                    [inputList]="ugSpecializationsList" [value]="naukriForm.controls.ugSpecializations.value" placeholder="{{'common.label.select' | translate}}"
                    (valueBind)="naukriForm.controls['ugSpecializations'].setValue($event.value);naukriUgSpecializationCode=($event.code)"
                    (emitSelected)="naukriUgSpecializationCode=($event.code)">
                  </alt-custom-single-select>
                </div>
              </div>
              <div class="col-md-4">
                <label class="control-label">{{'postJobBoard.label.pg' | translate}}*</label>
                <div class="dropdown-11 list-block">
                  <alt-custom-single-select [searchEnable]="true" #PGQUALIFICATIONS [srcTag]="'PGQUALIFICATIONSTAG'" (clickToClose)="PGQUALIFICATIONS.toggleClose()"
                    [inputList]="pgQualificationsList" [value]="naukriForm.controls.pgQualifications.value" placeholder="{{'common.label.select' | translate}}"
                    (valueBind)="naukriForm.controls['pgQualifications'].setValue($event.value);getPGSpecialization($event.value)"
                    (emitSelected)="naukriPgQualificationCode=($event.code); getPGSpecialization($event.value)">
                  </alt-custom-single-select>
                </div>
              </div>
              <div class="col-md-4">
                <label class="control-label">{{'postJobBoard.label.pgSpecialization'| translate}}*</label>
                <div class="dropdown-11 list-block">
                  <alt-custom-single-select [searchEnable]="true" #PGSPECIALIZATIONS [srcTag]="'PGSPECIALIZATIONSTAG'" (clickToClose)="PGSPECIALIZATIONS.toggleClose()"
                    [inputList]="pgSpecializationsList" [value]="naukriForm.controls.pgSpecializations.value" placeholder="{{'common.label.select' | translate}}"
                    (valueBind)="naukriForm.controls['pgSpecializations'].setValue($event.value);naukriPgSpecializationCode=($event.code)"
                     (emitSelected)="naukriPgSpecializationCode=($event.code)">
                  </alt-custom-single-select>
                </div>
              </div>
              <div class="col-md-4">
                <label class="control-label clearfix">{{'postJobBoard.label.email' | translate}}*
                </label>
                <input type="text" class="form-control" formControlName="email" />
              </div>
              <!-- <div class="col-md-4">
                <label class="control-label clearfix">URL*</label>
                <input type="text" class="form-control" formControlName="url" />
              </div> -->
              <div class="col-md-4">
                <label class="control-label">{{'postJobBoard.label.doctorate' | translate}}*</label>
                <div class="dropdown-11 list-block">
                  <alt-custom-single-select [searchEnable]="true" #DOCTORATEQUALIFICATIONS [srcTag]="'DOCTORATEQUALIFICATIONSTAG'" (clickToClose)="DOCTORATEQUALIFICATIONS.toggleClose()"
                    [inputList]="doctorateQualificationsList" [value]="naukriForm.controls.doctorateQualifications.value" placeholder="{{'common.label.select' | translate}}"
                    (valueBind)="naukriForm.controls['doctorateQualifications'].setValue($event.value);getDoctorateSpecialization($event.value)"
                     (emitSelected)="naukriDoctorateQualificationCode=($event.code); getDoctorateSpecialization($event.value)">
                  </alt-custom-single-select>
                </div>
              </div>
              <div class="col-md-4">
                <label class="control-label">{{'postJobBoard.label.doctorateSpecialization' | translate}}*</label>
                <div class="dropdown-11 list-block">
                  <alt-custom-single-select [searchEnable]="true" #DOCTORATESPECIALIZATIONS [srcTag]="'DOCTORATESPECIALIZATIONSTAG'" (clickToClose)="DOCTORATESPECIALIZATIONS.toggleClose()"
                    [inputList]="doctorateSpecializationsList" [value]="naukriForm.controls.doctorateSpecializations.value"
                    placeholder="{{'common.label.select' | translate}}" (valueBind)="naukriForm.controls['doctorateSpecializations'].setValue($event.value);naukriDoctorateSpecializationCode=($event.code)"
                    (emitSelected)="naukriDoctorateSpecializationCode=($event.code)">
                  </alt-custom-single-select>
                </div>
              </div>
              <div class="col-md-12">
                <label class="control-label clearfix">{{'postJobBoard.label.jD' | translate}}*</label>
                <textarea class="form-control noresize textareah100" formControlName="jobSummaryText"  (mousewheel)="onMousewheel($event)" (DOMMouseScroll)="onDOMMouseScroll($event)"></textarea>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-row text-right" mat-dialog-actions>
    <a href="javascript:void(0)" class="btn btn-white" (click)="dialogRef.close()">{{'common.label.cancel' | translate}}</a>
    <a href="javascript:void(0)" class="btn btn-primary" (click)="postToNaukri()">{{'common.label.post' | translate}}</a>
  </div>    
</div>