<div class="padding-t10 clearfix">
  <div class="section_halfLess">
    <ul class="item_list item_list2">
      <li class="item_list_block first_row_btn">
        <div class="candidate-profile-progres">
          <div class="progress-title row2">
            <div class="loading-line width-50"></div>
          </div>
          <div class="doted_progress_bar clearfix">
            <ul class="list-reset">
              <li class="done"><span class="doted"></span></li>
              <li class="done"><span class="doted"></span></li>
              <li class="done"><span class="doted"></span></li>
              <li class="active"><span class="doted"></span></li>
              <li><span class="doted"></span></li>
              <li><span class="doted"></span></li>
              <li><span class="doted"></span></li>
              <li><span class="doted"></span></li>
            </ul>
          </div>
        </div>
      </li>
      <li class="item_list_block step_open job-templates-block">
        <div class="info_title gray">
          <div class="loading-line width-50"></div>
        </div>
        <div class="form_outer">
          <div class="row">
            <form>
              <div class="form-group row2">
                <div class="col-md-12 col-lg-6 input-loader">
                  <label class="control-label"><div class="loading-line width-50"></div></label>
                  <div class="dropdown-11 list-block">
                    <div class="input-loader-outer input-loader-wight">
                      <div class="loading-line width-50"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-lg-6 input-loader">
                  <label class="control-label"><div class="loading-line width-50"></div></label>
                  <div class="input-loader-outer input-loader-wight">
                    <div class="loading-line width-50"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="templateTable">
                  <ul class="temp_list_item list-reset">
                    <li>
                      <div class="loading-line width-20 mgn-t8"></div>
                    </li>
                    <li>
                      <div class="loading-line width-20 mgn-t8"></div>
                    </li>
                    <li>
                      <div class="loading-line width-20 mgn-t8"></div>
                    </li>
                    <li>
                      <div class="loading-line width-20 mgn-t8"></div>
                    </li>
                    <li>
                      <div class="loading-line width-20 mgn-t8"></div>
                    </li>
                    <li>
                      <div class="loading-line width-20 mgn-t8"></div>
                    </li>
                    <li>
                      <div class="loading-line width-20 mgn-t8"></div>
                    </li>
                  </ul>
                </div>
              </div>
            </form>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="section_halfPluse">
    <ul class="item_list">
      <li class="item_list_block step_open">
        <div class="info_title">
          <span class="count-icon-loader loading-line fl-left"></span>
          <span class="loading-line width-30 fl-left mgn-t10"></span>
          <span class="loading-line width-20 fl-right mgn-t10"></span>
        </div>
        <div class="form_outer">
          <div class="row">
            <form>
              <div class="form-group row2 mgn-btm-0">
                <div class="col-md-12 input-field input-loader">
                  <label class="control-label clearfix"><div class="loading-line width-20"></div></label>
                  <div class="input-loader-outer">
                    <div class="loading-line width-50"></div>
                  </div>
                </div>
                <div class="col-md-6 input-field input-loader">
                  <label class="control-label"><div class="loading-line width-20"></div></label>
                  <div class="dropdown-11 list-block">
                    <div class="input-loader-outer">
                      <div class="loading-line width-50"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 input-field input-loader">
                  <div class="row">
                    <div class="col-xs-6 col-md-6">
                      <label class="control-label"><div class="loading-line width-50"></div></label>
                      <div class="input-loader-outer">
                        <div class="loading-line width-50"></div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-md-6">
                      <label class="control-label"><div class="loading-line width-50"></div></label>
                      <div class="dropdown-11 list-block">
                        <div class="input-loader-outer">
                          <div class="loading-line width-50"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 input-field input-loader">
                  <label class="control-label"><div class="loading-line width-50"></div></label>
                  <div class="row">
                    <div class="col-xs-4 col-md-4">
                      <div class="dropdown-11 list-block">
                        <div class="input-loader-outer">
                          <div class="loading-line width-50"></div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-4 col-md-4">
                      <div class="dropdown-11 list-block">
                        <div class="input-loader-outer">
                          <div class="loading-line width-50"></div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-4 col-md-4">
                      <div class="dropdown-11 list-block">
                        <div class="input-loader-outer">
                          <div class="loading-line width-50"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 input-field input-loader">
                  <label class="control-label"><div class="loading-line width-50"></div></label>
                  <div class="dropdown-11 list-block">
                    <div class="input-loader-outer">
                      <div class="loading-line width-50"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 input-field input-loader">
                  <label class="control-label"><div class="loading-line width-50"></div></label>
                  <div class="row">
                    <div class="col-xs-6 col-md-6">
                      <div class="dropdown-11 list-block">
                        <div class="input-loader-outer">
                          <div class="loading-line width-50"></div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-md-6">
                      <div class="dropdown-11 list-block">
                        <div class="input-loader-outer">
                          <div class="loading-line width-50"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 input-field input-loader">
                  <label class="control-label"><div class="loading-line width-20"></div></label>
                  <div class="input-loader-outer">
                    <div class="loading-line width-50"></div>
                  </div>
                </div>
                <div class="col-md-12 input-field input-loader">
                  <label class="control-label"><div class="loading-line width-20"></div></label>
                  <div class="row">
                    <div class="col-xs-6 col-md-3">
                      <div class="dropdown-11 list-block">
                        <div class="input-loader-outer">
                          <div class="loading-line width-50"></div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                      <div class="dropdown-11 list-block">
                        <div class="input-loader-outer">
                          <div class="loading-line width-50"></div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 margin_for_mobile">
                      <div class="loading-line width-100"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column-footer row2 input-loader">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
                  <button type="button" class="btn btn-gray"><div class="loading-line width-100"></div></button>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
                  <button type="button" class="btn btn-primary"><div class="loading-line width-100"></div></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>