<div class="section-filter">
  <div class="section-filter-inner">
    <ul class="list-reset clearfix">
      <li class="filter-by-block">
        <label class="filter-cell">
            <span class="icon-filter filter-mobile"></span>
            <span class="text-filter">{{'common.label.filterby' | translate}}</span>
            <span class="text-filter mobile-only">(3)</span>
            <span class="mdi mdi-chevron-down md24 mobile-only"></span>
        </label>
        <div class="dropdown-block">
          <div class="applied-outer mobile-applied">
            <span class="applied-text">e.n. santoshram [x]</span>
            <span class="applied-text">raghavendra bhalerao [x]</span>
            <span class="applied-text gray-color">poor [x]</span>
            <span class="applied-text">clear all [x]</span>
          </div>
          <ul class="list-reset dropdown-filter-block">
            <li class="dropdown">
              <a href="#" class="dropdown-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="text-dropdown">Job</span><span class="mdi mdi-chevron-down md24"></span></a>
              <div class="dropdown-8 dropdown-style">
                <div class="input-group search-block">
                  <input type="text" class="form-control" id="RecruiterSearch" placeholder="Search job name or job code…" />
                  <span class="input-group-btn">
                                                                    <button class="btn material-icons dp20" type="submit">search</button>
                                                                </span>
                </div>
                <ul class="list-reset vertical-scrollbox">
                  <li>
                    <a href="#">
                      <span class="job-status job-active"></span>
                      <div class="common-cell">
                        <span class="name-cell">Senior Consultant Technology</span>
                        <span class="job-code">Job/Code/000000</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span class="job-status job-active"></span>
                      <div class="common-cell">
                        <span class="name-cell">Senior Consultant Technology</span>
                        <span class="job-code">Job/Code/000000</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span class="job-status job-active"></span>
                      <div class="common-cell">
                        <span class="name-cell text-nowrap-grad">Senior Consultant Technology TechnologyTechnology</span>
                        <span class="job-code">Job/Code/000000</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span class="job-status job-active"></span>
                      <div class="common-cell">
                        <span class="name-cell">Senior Consultant Technology</span>
                        <span class="job-code">Job/Code/000000</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span class="job-status job-active"></span>
                      <div class="common-cell">
                        <span class="name-cell">Senior Consultant Technology</span>
                        <span class="job-code">Job/Code/000000</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span class="job-status job-active"></span>
                      <div class="common-cell">
                        <span class="name-cell">Senior Consultant Technology</span>
                        <span class="job-code">Job/Code/000000</span>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="text-dropdown">Skills </span><span class="mdi mdi-chevron-down md24"></span></a>
              <div class="dropdown-L11 dropdown-style dropdown-250 dropdown-form-destop">
                <div class="input-group search-block">
                  <input type="text" class="form-control" id="LocationSearch" placeholder="Search skills…" />
                  <span class="input-group-btn">
                                                                    <button class="btn material-icons dp20" type="submit">search</button>
                                                                </span>
                </div>
                <ul class="list-reset">
                  <li>
                    <div class="checkbox checkbox-inline">
                      <input class="styled" id="java" value="option1" type="checkbox">
                      <label for="java" class="name-cell">java</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox checkbox-inline">
                      <input class="styled" id="C++" value="option1" type="checkbox">
                      <label for="C++" class="name-cell">C++</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox checkbox-inline">
                      <input class="styled" id="SQL" value="option1" type="checkbox">
                      <label for="SQL" class="name-cell">SQL</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox checkbox-inline">
                      <input class="styled" id="Sales" value="option1" type="checkbox">
                      <label for="Sales" class="name-cell">Sales</label>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="text-dropdown">All Sources </span><span class="mdi mdi-chevron-down md24"></span></a>
              <ul class="list-reset dropdown-7 dropdown-style dropdown-form-destop">
                <li><a href="#">Employee Referral</a></li>
                <li><a href="#">Internal Transfer</a></li>
                <li><a href="#">Candidate Portal</a></li>
                <li>
                  <a href="#">Social Media<span class="mdi mdi-chevron-down md24"></span></a>
                  <ul class="list-reset sub-dropdown-7">
                    <li>
                      <div class="checkbox checkbox-inline">
                        <input type="checkbox" class="styled" id="Drop1" value="option1" />
                        <label for="Drop1">Facebook</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox checkbox-inline">
                        <input type="checkbox" class="styled" id="Hold1" value="option1" />
                        <label for="Hold1">Twitter</label>
                      </div>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#">Job Boards<span class="mdi mdi-chevron-down md24"></span></a>
                  <ul class="list-reset sub-dropdown-7">
                    <li>
                      <div class="checkbox checkbox-inline">
                        <input type="checkbox" class="styled" id="Confirmed" value="option1" />
                        <label for="Confirmed">Monster</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox checkbox-inline">
                        <input type="checkbox" class="styled" id="Drop2" value="option1" />
                        <label for="Drop2">Naukri</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox checkbox-inline">
                        <input type="checkbox" class="styled" id="Hold2" value="option1" />
                        <label for="Hold2">Shine</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox checkbox-inline">
                        <input type="checkbox" class="styled" id="NoShow" value="option1" />
                        <label for="NoShow">IIM Jobs</label>
                      </div>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#">Vendors<span class="mdi mdi-chevron-down md24"></span></a>
                  <ul class="list-reset sub-dropdown-7">
                    <li>
                      <div class="checkbox checkbox-inline">
                        <input type="checkbox" class="styled" id="Confirmed1" value="option1" />
                        <label for="Confirmed1">Platinum</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox checkbox-inline">
                        <input type="checkbox" class="styled" id="Drop11" value="option1" />
                        <label for="Drop11">Gold</label>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="text-dropdown">Location</span><span class="mdi mdi-chevron-down md24"></span></a>
              <div class="dropdown-8 dropdown-style">
                <div class="input-group search-block">
                  <input type="text" class="form-control" id="LocationSearch1" placeholder="Search city…" />
                  <span class="input-group-btn">
                                                                        <button class="btn material-icons dp20" type="submit">search</button>
                                                                    </span>
                </div>
                <ul class="list-reset vertical-scrollbox">
                  <li><a href="#">Andhra Pradesh</a></li>
                  <li><a href="#">Arunachal Pradesh</a></li>
                  <li><a href="#">Chhattisgarh </a></li>
                  <li><a href="#">Haryana</a></li>
                  <li><a href="#">Punjab</a></li>
                  <li><a href="#">Rajasthan </a></li>
                  <li><a href="#">Tamil Nadu </a></li>
                  <li><a href="#">Tamil Nadu </a></li>
                  <li><a href="#">Tamil Nadu </a></li>
                </ul>
              </div>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="text-dropdown">Recruiter</span><span class="mdi mdi-chevron-down md24"></span></a>
              <div class="dropdown-8 dropdown-style">
                <div class="input-group search-block">
                  <input type="text" class="form-control" id="RecruiterSearchRecruiter" placeholder="Search name or job code…" />
                  <span class="input-group-btn">
                                                                            <button class="btn material-icons dp20" type="submit">search</button>
                                                                        </span>
                </div>
                <ul class="list-reset vertical-scrollbox">
                  <li>
                    <a href="#">
                      <span class="name-cell text-nowrap-grad">Rambir singh</span>
                      <span class="job-code">210760</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span class="name-cell text-nowrap-grad">Ravi</span>
                      <span class="job-code">2107602</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span class="name-cell text-nowrap-grad">Hitesh</span>
                      <span class="job-code">260760</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span class="name-cell text-nowrap-grad">shokat</span>
                      <span class="job-code">110760</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span class="name-cell text-nowrap-grad">Sharon Mercy</span>
                      <span class="job-code">560760</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span class="name-cell text-nowrap-grad">Sharon Mercy</span>
                      <span class="job-code">210760</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="text-dropdown">Stage/Status</span><span class="mdi mdi-chevron-down md24"></span></a>
              <ul class="list-reset dropdown-7 dropdown-style dropdown-form-destop">
                <li>
                  <a href="#">Screening <span class="mdi mdi-chevron-down md24"></span></a>
                  <ul class="list-reset sub-dropdown-7">
                    <li>
                      <div class="checkbox checkbox-inline">
                        <input type="checkbox" class="styled" id="Drop4" value="option1" />
                        <label for="Drop4">Drop</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox checkbox-inline">
                        <input type="checkbox" class="styled" id="Hold4" value="option1" />
                        <label for="Hold4">Hold</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox checkbox-inline">
                        <input type="checkbox" class="styled" id="Pending4" value="option1" />
                        <label for="Pending4">Pending</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox checkbox-inline">
                        <input type="checkbox" class="styled" id="Rejected4" value="option1" />
                        <label for="Rejected4">Rejected</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox checkbox-inline">
                        <input type="checkbox" class="styled" id="Screened4" value="option1" />
                        <label for="Screened4">Screened</label>
                      </div>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#">Shortlisting<span class="mdi mdi-chevron-down md24"></span></a>
                  <ul class="list-reset sub-dropdown-7">
                    <li>
                      <div class="checkbox checkbox-inline">
                        <input type="checkbox" class="styled" id="Drop5" value="option1" />
                        <label for="Drop5">Drop</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox checkbox-inline">
                        <input type="checkbox" class="styled" id="Hold5" value="option1" />
                        <label for="Hold5">Hold</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox checkbox-inline">
                        <input type="checkbox" class="styled" id="Pending5" value="option1" />
                        <label for="Pending5">Pending</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox checkbox-inline">
                        <input type="checkbox" class="styled" id="Rejected5" value="option1" />
                        <label for="Rejected5">Rejected</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox checkbox-inline">
                        <input type="checkbox" class="styled" id="Sent" value="option1" />
                        <label for="Sent">Sent</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox checkbox-inline">
                        <input type="checkbox" class="styled" id="Shortlisted" value="option1" />
                        <label for="Shortlisted">Shortlisted</label>
                      </div>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#">Tech Interview 1<span class="mdi mdi-chevron-down md24"></span></a>
                  <ul class="list-reset sub-dropdown-7">
                    <li>
                      <div class="checkbox checkbox-inline">
                        <input type="checkbox" class="styled" id="Confirmed2" value="option1" />
                        <label for="Confirmed2">Confirmed</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox checkbox-inline">
                        <input type="checkbox" class="styled" id="Drop6" value="option1" />
                        <label for="Drop6">Drop</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox checkbox-inline">
                        <input type="checkbox" class="styled" id="Hold6" value="option1" />
                        <label for="Hold6">Hold</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox checkbox-inline">
                        <input type="checkbox" class="styled" id="NoShow6" value="option1" />
                        <label for="NoShow6">No Show</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox checkbox-inline">
                        <input type="checkbox" class="styled" id="Pending6" value="option1" />
                        <label for="Pending6">Pending</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox checkbox-inline">
                        <input type="checkbox" class="styled" id="Qualified6" value="option1" />
                        <label for="Qualified6">Qualified</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox checkbox-inline">
                        <input type="checkbox" class="styled" id="Rejected6" value="option1" />
                        <label for="Rejected6">Rejected</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox checkbox-inline">
                        <input type="checkbox" class="styled" id="ReSchedule6" value="option1" />
                        <label for="ReSchedule6">Re-Schedule</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox checkbox-inline">
                        <input type="checkbox" class="styled" id="Schedule6" value="option1" />
                        <label for="Schedule6">Schedule</label>
                      </div>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#">HR Interview 2<span class="mdi mdi-chevron-down md24"></span></a>
                  <ul class="list-reset sub-dropdown-7">
                    <li>
                      <div class="checkbox checkbox-inline">
                        <input type="checkbox" class="styled" id="Confirmed3" value="option1" />
                        <label for="Confirmed3">Confirmed</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox checkbox-inline">
                        <input type="checkbox" class="styled" id="Drop7" value="option1" />
                        <label for="Drop7">Drop</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox checkbox-inline">
                        <input type="checkbox" class="styled" id="Hold7" value="option1" />
                        <label for="Hold7">Hold</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox checkbox-inline">
                        <input type="checkbox" class="styled" id="NoShow7" value="option1" />
                        <label for="NoShow7">No Show</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox checkbox-inline">
                        <input type="checkbox" class="styled" id="Pending7" value="option1" />
                        <label for="Pending7">Pending</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox checkbox-inline">
                        <input type="checkbox" class="styled" id="Qualified3" value="option1" />
                        <label for="Qualified3">Qualified</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox checkbox-inline">
                        <input type="checkbox" class="styled" id="Rejected7" value="option1" />
                        <label for="Rejected7">Rejected</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox checkbox-inline">
                        <input type="checkbox" class="styled" id="ReSchedule7" value="option1" />
                        <label for="ReSchedule7">Re-Schedule</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox checkbox-inline">
                        <input type="checkbox" class="styled" id="Schedule7" value="option1" />
                        <label for="Schedule7">Schedule</label>
                      </div>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#">Document Check<span class="mdi mdi-chevron-down md24"></span></a>
                  <ul class="list-reset sub-dropdown-7">
                    <li>
                      <div class="checkbox checkbox-inline">
                        <input type="checkbox" class="styled" id="Document" value="option1" />
                        <label for="Document">Document</label>
                      </div>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#">Salary Fitment<span class="mdi mdi-chevron-down md24"></span></a>
                  <ul class="list-reset sub-dropdown-7">
                    <li>
                      <div class="checkbox checkbox-inline">
                        <input type="checkbox" class="styled" id="SalaryFitment" value="option1" />
                        <label for="SalaryFitment">Salary Fitment</label>
                      </div>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#">Offer Generation<span class="mdi mdi-chevron-down md24"></span></a>
                  <ul class="list-reset sub-dropdown-7">
                    <li>
                      <div class="checkbox checkbox-inline">
                        <input type="checkbox" class="styled" id="Generation" value="option1" />
                        <label for="Generation">Offer Generation</label>
                      </div>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#">Stage 10<span class="mdi mdi-chevron-down md24"></span></a>
                  <ul class="list-reset sub-dropdown-7">
                    <li>
                      <div class="checkbox checkbox-inline">
                        <input type="checkbox" class="styled" id="Stage10" value="option1" />
                        <label for="Stage10">Stage 10</label>
                      </div>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#">Stage 11<span class="mdi mdi-chevron-down md24"></span></a>
                  <ul class="list-reset sub-dropdown-7">
                    <li>
                      <div class="checkbox checkbox-inline">
                        <input type="checkbox" class="styled" id="Stage11" value="option1" />
                        <label for="Stage11">Stage 11</label>
                      </div>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#">Stage 12<span class="mdi mdi-chevron-down md24"></span></a>
                  <ul class="list-reset sub-dropdown-7">
                    <li>
                      <div class="checkbox checkbox-inline">
                        <input type="checkbox" class="styled" id="Stage12" value="option1" />
                        <label for="Stage12">Stage 12</label>
                      </div>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#">Stage 13<span class="mdi mdi-chevron-down md24"></span></a>
                  <ul class="list-reset sub-dropdown-7">
                    <li>
                      <div class="checkbox checkbox-inline">
                        <input type="checkbox" class="styled" id="Stage13" value="option1" />
                        <label for="Stage13">Stage 13</label>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="add-new-fillter popup-new-fillter">
              <div class="arrow-doted"></div>
              <div class="arrow-doted-cover"></div>
              <div class="arrow-doted-outer"><span class="arrow-doted-inner"><span class="material-icons dp10">add</span>ADD NEW FILTER</span>
              </div>
            </li>
            <li class="mobile-only nav-btn-row">
              <button class="btn btn-white" type="button">Clear all</button>
              <button class="btn btn-primary" type="button">apply</button>
            </li>
          </ul>
        </div>
      </li>
      <li class="sort-by-block">
        <label class="filter-cell">
            <span class="icon-filter sort-mobile"></span>
              <span class="text-filter">{{'common.label.sortBy' | translate}}</span>
            <span class="mdi mdi-chevron-down md24 mobile-only"></span>
          </label>
        <ul class="list-reset dropdown-block">
          <li class="dropdown">
            <a href="#" class="dropdown-button dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="text-dropdown">Sort By Related Candidates</span><span class="mdi mdi-chevron-down md24"></span></a>
            <ul class="list-reset dropdown-1 dropdown-style">
              <li><a href="#">Created First to Last</a></li>
              <li><a href="#">Created Last to First</a></li>
              <li><a href="#">Modified First to Last</a></li>
              <li><a href="#">Modified Last to First</a></li>
              <li><a href="#">Alphabetically A to Z</a></li>
              <li><a href="#">Alphabetically Z to A</a></li>
            </ul>
          </li>
          <li class="divider divider-sort">/</li>
          <li class="dropdown-calendar margin-r5">
            <label class="sort-label" for="from"> from</label>
            <input class="input-item form-control" type="text" id="from" placeholder="DD MM YY" />
            <span class="material-icons cal-icon">today</span>
            <div class="section-calendar">
              <table class="table">
                <tr>
                  <th class="prev"><span class="mdi mdi-chevron-left"></span></th>
                  <th class="switch" colspan="5">July</th>
                  <th class="next"><span class="mdi mdi-chevron-right"></span></th>
                </tr>
                <tr>
                  <th class="dow">mon</th>
                  <th class="dow">tue</th>
                  <th class="dow">wed</th>
                  <th class="dow">thu</th>
                  <th class="dow">fri</th>
                  <th class="dow disabled">sat</th>
                  <th class="dow disabled ">sun</th>
                </tr>
                <tr>
                  <td class="day old">1</td>
                  <td class="day old">2</td>
                  <td class="day">3</td>
                  <td class="day active">4</td>
                  <td class="day">5</td>
                  <td class="day disabled">6</td>
                  <td class="day disabled">7</td>
                </tr>
                <tr>
                  <td class="day">8</td>
                  <td class="day">9</td>
                  <td class="day">10</td>
                  <td class="day">11</td>
                  <td class="day">12</td>
                  <td class="day disabled">13</td>
                  <td class="day disabled">14</td>
                </tr>
                <tr>
                  <td class="day">15</td>
                  <td class="day">16</td>
                  <td class="day">17</td>
                  <td class="day">18</td>
                  <td class="day">19</td>
                  <td class="day disabled">20</td>
                  <td class="day disabled">21</td>
                </tr>
                <tr>
                  <td class="day">22</td>
                  <td class="day">23</td>
                  <td class="day">24</td>
                  <td class="day">25</td>
                  <td class="day">26</td>
                  <td class="day disabled">27</td>
                  <td class="day disabled">28</td>
                </tr>
                <tr>
                  <td class="day">29</td>
                  <td class="day">30</td>
                  <td class="day">31</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
              </table>
            </div>
          </li>
          <li class="dropdown-calendar margin-r5">
            <label class="sort-label" for="to">to</label>
            <input class="input-item form-control" type="text" id="to" placeholder="DD MM YY" />
            <span class="material-icons cal-icon">today</span>
            <div class="section-calendar">
              <table class="table">
                <tr>
                  <th class="prev"><span class="mdi mdi-chevron-left"></span></th>
                  <th class="switch" colspan="5">July</th>
                  <th class="next"><span class="mdi mdi-chevron-right"></span></th>
                </tr>
                <tr>
                  <th class="dow">mon</th>
                  <th class="dow">tue</th>
                  <th class="dow">wed</th>
                  <th class="dow">thu</th>
                  <th class="dow">fri</th>
                  <th class="dow disabled">sat</th>
                  <th class="dow disabled ">sun</th>
                </tr>
                <tr>
                  <td class="day old">1</td>
                  <td class="day old">2</td>
                  <td class="day">3</td>
                  <td class="day active">4</td>
                  <td class="day">5</td>
                  <td class="day disabled">6</td>
                  <td class="day disabled">7</td>
                </tr>
                <tr>
                  <td class="day">8</td>
                  <td class="day">9</td>
                  <td class="day">10</td>
                  <td class="day">11</td>
                  <td class="day">12</td>
                  <td class="day disabled">13</td>
                  <td class="day disabled">14</td>
                </tr>
                <tr>
                  <td class="day">15</td>
                  <td class="day">16</td>
                  <td class="day">17</td>
                  <td class="day">18</td>
                  <td class="day">19</td>
                  <td class="day disabled">20</td>
                  <td class="day disabled">21</td>
                </tr>
                <tr>
                  <td class="day">22</td>
                  <td class="day">23</td>
                  <td class="day">24</td>
                  <td class="day">25</td>
                  <td class="day">26</td>
                  <td class="day disabled">27</td>
                  <td class="day disabled">28</td>
                </tr>
                <tr>
                  <td class="day">29</td>
                  <td class="day">30</td>
                  <td class="day">31</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
              </table>
            </div>
          </li>
        </ul>
      </li>
      <li class="applied-filters-block">
        <label class="filter-cell">APPLIED</label>
        <div class="applied-outer">
          <span class="applied-text">Senior Consultant Technology [x]</span>
          <span class="applied-text">Java, C++ [x]</span>
          <span class="applied-text ">Job Boards [x]</span>
          <span class="applied-text">Delhi [x]</span>
          <span class="applied-text">raghavendra bhalerao  [x]</span>
          <span class="applied-text ">Screening [x]</span>
          <span class="applied-text gray-color">clear all [x]</span>
        </div>

      </li>
    </ul>
  </div>
  <div class="toggle-jobs"><a href="javascript:void(0)" class="toggle-element">hide filters<span class="mdi mdi-chevron-up md24"></span></a></div>
</div>
