<div class="chats-accordion-summary">
  <span class="text-cell font-bold text-lowercase">{{data.isAutomatedTransaction?'System':data.userName}}</span>
  <span class="subject-cell" *ngIf="(data.isAutomatedTransaction) && data.nextStage.sysWorkflowstageActionType=='PENDING'">Candidate’s profile is pending for interview
  </span>
  <span class="subject-cell" *ngIf="!(data.isAutomatedTransaction) && data.nextStage.sysWorkflowstageActionType=='PENDING'">Candidate’s profile is pending for shortlisting
  </span>
  <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='SHORTLISTED'">Shortlisted the candidate
  </span>
  <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='DROPPED'">Dropped the candidate
  </span>
  <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='ONHOLD'">Moved the candidate to "ON HOLD"
  </span>
  <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='REJECTED'">Rejected the candidate
  </span>
  <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='EMAILED'">Emailed the candidate
  </span>
  <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='CVSENT'">Sent the CV
  </span>
  <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='PREVIOUSSTAGE'"> Moved the candidate to previous stage
  </span>
  <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='NEXTSTAGE'"> Moved the candidate to next stage
  </span>
  <span class="widhtFull" *ngIf="data.action != null &&  data.action != 'undefined' && (data.action.toUpperCase()  == 'COPY' || data.action.toUpperCase() == 'MOVE')">
      <span class="subject-cell purple-color">{{data.comment}} </span>
  </span>
</div>