<alt-monster-loader [isBinarySearchEnabled]="isBinarySearchEnabled" *ngIf="loader">SAMEER</alt-monster-loader>
<div *ngIf="!loader" class="jobs-listing job-boards-section-details clearfix">
  <div class="row" *ngIf="isBinarySearchEnabled">
    <div class="card-block card-3 search-block-section">
      <form>
        <div class="card-block-inner card-bg-none">
          <div class="input-group search-block">
            <input class="form-control" placeholder="Search query" #skillsRef [value]="skillsPretty" />
            <span class="input-group-btn">
              <button class="btn material-icons dp20" (click)="reQueryData(skillsRef.value)" type="submit">search</button>
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="table table-striped">
      <div class="row pagination-mobile">
          <alt-paginator #PAGINATIONTOP [srcTag]="'PAGINATIONTOP'" (clickToClose)="PAGINATIONTOP.toggleClose()" [rowsPerPageTemplate]="'15,30,45'" [pageState]="pageState" [pageLoading]="loader" (pageChange)="getPageNumber($event)"
            *ngIf="resumes?.length > 0">Loading...</alt-paginator>
        </div>
    <!--  Section Card-->
    <div class="section-card clearfix" *ngIf="nodata">
      <div class="title-lg padding-t50">{{'common.label.noDataAvailable' | translate}}</div>
    </div>
    <div class="section-card clearfix" *ngIf="!nodata">     
         <!-- Card Block -->
        <div class="card-block card-3" *ngFor="let data of resumes; let i = index;">
          <div class="card-block-inner">
            <div class="card-row card-name-row height-70">
              <div class="image-block-outer">
                <div class="image-block">
                  <div [style.background]="randomcolor[i]">
                    <span class="image-block-inner" *ngIf="data.jobBoardResumeResponseTO.lastName != null">{{(data?.jobBoardResumeResponseTO.firstName.charAt(0) + data?.jobBoardResumeResponseTO.lastName.charAt(0)) | uppercase}}</span>
                    <span class="image-block-inner"*ngIf="data.jobBoardResumeResponseTO.lastName == null">{{(data?.jobBoardResumeResponseTO.firstName.charAt(0) + data?.jobBoardResumeResponseTO.firstName.charAt(1)) | uppercase}}</span>
                  </div>
                </div>
              </div>
              <div class="title-cell">
                <h3 class="title text-nowrap-heading" *ngIf="(data?.jobBoardResumeResponseTO.firstName+data?.jobBoardResumeResponseTO.lastName).length > 20" matTooltip="{{data?.jobBoardResumeResponseTO.firstName | lowercasepipe}} {{data?.jobBoardResumeResponseTO.lastName | lowercasepipe}}">
                  <span *ngIf="data.downloaded">
                    <a class="cursor link" [routerLink]="['/job/auto-match-candidates', requisitionCodePath,'jobboard', jobBoardName ,data.jobBoardResumeResponseTO.sid]">{{data?.jobBoardResumeResponseTO.firstName | lowercasepipe}} {{data?.jobBoardResumeResponseTO.lastName | lowercasepipe}}</a>
                  </span>
                  <span *ngIf="!data.downloaded">{{data?.jobBoardResumeResponseTO.firstName | lowercasepipe}} {{data?.jobBoardResumeResponseTO.lastName | lowercasepipe}}</span>
                </h3>
                <h3 class="title text-nowrap-heading" *ngIf="(data?.jobBoardResumeResponseTO.firstName+data?.jobBoardResumeResponseTO.lastName).length <= 20">
                  <span *ngIf="data.downloaded">
                    <a class="cursor link" [routerLink]="['/job/auto-match-candidates', requisitionCodePath,'jobboard', jobBoardName ,data.jobBoardResumeResponseTO.sid]">{{data?.jobBoardResumeResponseTO.firstName | lowercasepipe}} {{data?.jobBoardResumeResponseTO.lastName | lowercasepipe}}</a>
                  </span>
                  <span *ngIf="!data.downloaded">{{data?.jobBoardResumeResponseTO.firstName | lowercasepipe}} {{data?.jobBoardResumeResponseTO.lastName | lowercasepipe}}</span>
                </h3>
                <ul class="list-reset listing-block">
                  <li *ngIf="data.jobBoardResumeResponseTO.currentEmployer != null && data?.jobBoardResumeResponseTO.currentEmployer.length <= 35">{{data?.jobBoardResumeResponseTO.currentEmployer | lowercasepipe}}</li>
                  <li class="text-nowrap-block" *ngIf="data.jobBoardResumeResponseTO.currentEmployer != null && data?.jobBoardResumeResponseTO.currentEmployer.length > 35" matTooltip="{{data?.jobBoardResumeResponseTO.currentEmployer}}">{{data?.jobBoardResumeResponseTO.currentEmployer | lowercasepipe}}</li>
                  <li *ngIf="data?.jobBoardResumeResponseTO.city.length <= 35">{{data?.jobBoardResumeResponseTO.city | lowercasepipe}}</li>
                  <li class="text-nowrap-block" *ngIf="data?.jobBoardResumeResponseTO.city.length > 35" matTooltip="{{data?.jobBoardResumeResponseTO.city}}">{{data?.jobBoardResumeResponseTO.city | lowercasepipe}}</li>
                </ul>
              </div>
            </div>
            <div class="card-row border-2 table-data">
              <ul class="list-reset table-data-ul salary-new-line">
                <li>
                  <span class="text-bold-cell">{{data?.jobBoardResumeResponseTO.totalExperience}}
                    <span class="small-text">{{data?.jobBoardResumeResponseTO.totalExperienceType}}(s)</span>
                  </span>
                  <span class="text-cell">Experience</span>
                </li>
                <li class="last-child">
                  <span class="text-bold-cell">
                    <ng-container *ngIf="data?.jobBoardResumeResponseTO.salary=='null' || data?.jobBoardResumeResponseTO.salary?.replace('0','').replace('.','').trim().length<1">
                      <span class="total-pack">Unspecified</span>
                    </ng-container>
                    <ng-container *ngIf="data?.jobBoardResumeResponseTO.salary!='null' && data?.jobBoardResumeResponseTO.salary?.replace('0','').replace('.','').trim().length>0">
                      <span class="total-pack">{{data?.jobBoardResumeResponseTO.salary}}</span>
                    </ng-container>
                    <span *ngIf="data?.jobBoardResumeResponseTO.salary!='null' && data?.jobBoardResumeResponseTO.salary?.replace('0','').replace('.','').trim().length>0"
                      class="small-text">PA</span>
                  </span>
                  <span class="text-cell">Salary</span>
                </li>
              </ul>
            </div>
            <div class="card-row">
              <div class="card-summary-row">
                <span class="text-cell font-bold">Summary</span>
                <span class="text-cell firstCharUppercase" *ngIf="data.jobBoardResumeResponseTO.summary != null && data?.jobBoardResumeResponseTO.summary.length <= 125">{{data?.jobBoardResumeResponseTO.summary.toLowerCase()}}</span>
                <span class="text-cell firstCharUppercase" matTooltip="{{data?.jobBoardResumeResponseTO.summary}}" *ngIf="data.jobBoardResumeResponseTO.summary != null && data?.jobBoardResumeResponseTO.summary.length > 125">{{data?.jobBoardResumeResponseTO.summary.toLowerCase() | stringTrim:125}}</span>
              </div>
            </div>
            <div class="card-row">
              <div class="card-education-row">
                <span class="text-cell font-bold">Education</span>
                <span class="text-cell">
                  <ng-container *ngIf="(data?.jobBoardResumeResponseTO.educations.highestEducationDegree.level=='0' || data?.jobBoardResumeResponseTO.educations.highestEducationDegree.level?.length<1)
                  && (data?.jobBoardResumeResponseTO.educations.highestEducationDegree.stream=='0' || data?.jobBoardResumeResponseTO.educations.highestEducationDegree.stream?.length<1)
                  && (data?.jobBoardResumeResponseTO.educations.highestEducationDegree.institute=='0' || data?.jobBoardResumeResponseTO.educations.highestEducationDegree.institute?.length<1)">
                    Not Specified
                  </ng-container>

                  <ng-container *ngIf="data?.jobBoardResumeResponseTO.educations.highestEducationDegree.level!='0' && data?.jobBoardResumeResponseTO.educations.highestEducationDegree.level?.length>0">
                    {{data?.jobBoardResumeResponseTO.educations.highestEducationDegree.level}}
                  </ng-container>
                  <ng-container *ngIf="data?.jobBoardResumeResponseTO.educations.highestEducationDegree.stream!='0' && data?.jobBoardResumeResponseTO.educations.highestEducationDegree.stream?.length>0">
                    <ng-container *ngIf="data?.jobBoardResumeResponseTO.educations.highestEducationDegree.level!='0' && data?.jobBoardResumeResponseTO.educations.highestEducationDegree.level?.length>0">
                      ,
                    </ng-container>
                    {{data?.jobBoardResumeResponseTO.educations.highestEducationDegree.stream}}
                  </ng-container>
                  <ng-container *ngIf="data?.jobBoardResumeResponseTO.educations.highestEducationDegree.institute!='0' && data?.jobBoardResumeResponseTO.educations.highestEducationDegree.institute?.length>0">
                    <ng-container *ngIf="(data?.jobBoardResumeResponseTO.educations.highestEducationDegree.level!='0' && data?.jobBoardResumeResponseTO.educations.highestEducationDegree.level?.length>0) || (data?.jobBoardResumeResponseTO.educations.highestEducationDegree.stream!='0' && data?.jobBoardResumeResponseTO.educations.highestEducationDegree.stream?.length>0)">
                      ,
                    </ng-container>
                    {{data?.jobBoardResumeResponseTO.educations.highestEducationDegree.institute}}
                  </ng-container>
                </span>
              </div>
            </div>
          </div>
          <div class="btn-row mrg-lf-20">

            <ng-container *ngIf="data.savedCandidate">
              <span (click)="goToCandidate(data.candidateCode)" class="btn btn-gray" [gaevent]="jobBoardName + '#Candidate#click'">{{data.candidateCode}}</span>
            </ng-container>
            <ng-container *ngIf="!data.savedCandidate">
              <ng-container *ngIf="data.downloaded">
                <ng-container *ngIf="data.savedDraft">
                  <span (click)="goToCandidateDraft(data.draftCandidateCode)" class="btn btn-gray" [gaevent]="jobBoardName + '#Draft Candidate#click'">{{data.draftCandidateCode}}</span>
                </ng-container>
                <ng-container *ngIf="!data.savedDraft">
                  <span *ngIf="data.savingDraft" class="btn btn-gray">Saving...</span>
                  <span *ngIf="!data.savingDraft" (click)="saveAsDraft(data)" class="btn btn-gray" [gaevent]="jobBoardName + '#Save As Draft#click'">Save as draft</span>
                </ng-container>
              </ng-container>

              <ng-container *ngIf="!data.downloaded">
                <span *ngIf="data.resumeDownloading" class="btn btn-gray">Downloading...</span>
                <span *ngIf="!data.resumeDownloading" (click)="downloadResume(data)" class="btn btn-gray" [gaevent]="jobBoardName + '#Download Resume#click'">Download Resume</span>
              </ng-container>
            </ng-container>
          </div>
        </div>
        <!-- \\ End Card Block --> 
    </div>
    <!-- \\ End Section Card-->
    <!--  Section Pagination-->
    <div class="pagination-mobile">
      <div class="section-pagination pagination-bottom clearfix">
        <alt-paginator #PAGINATIONBOT [srcTag]="'PAGINATIONBOT'" (clickToClose)="PAGINATIONBOT.toggleClose()" [rowsPerPageTemplate]="'15,30,45'" [pageState]="pageState" [pageLoading]="loader" (pageChange)="getPageNumber($event)"
          *ngIf="resumes?.length > 0">Loading...</alt-paginator>
      </div>
    </div>
    <!-- \\ End Section Pagination-->
  </div>
</div>