<div class="select-dropdown" [class.open]="(divClass=='open')">
  <a href="javascript:void(0)" class="dropdown-button dropdown-toggle" (click)="toggle()">
    <span class="text-dropdown">{{placeholder}} </span>
    <span class="mdi mdi-chevron-down md24"></span>
  </a>
  <ng-container [class.displayNone]="!hiddenToggle" [class.displayBlock]="hiddenToggle">
    <ul class="list-reset dropdown-style dropdown-multiple-check-box">
      <li *ngFor="let levelOne of sourceData?.children">
        <div class="checkbox checkbox-inline">
          <input type="checkbox" class="styled" id="{{levelOne.value}}_{{levelOne.label}}" value="option1" [(ngModel)]="levelOne.selected"
            [checked]="levelOne.selected" (change)="checkboxListener(levelOne)" />
          <label for="{{levelOne.value}}_{{levelOne.label}}">
            <span class="text-nowrap-grad level-one">{{levelOne.label}}</span>
            <span class="tooltip-container-drop">{{levelOne.label}}</span>
          </label>
        </div>
        <ul class="list-reset sub-dropdown-7">
          <li *ngFor="let levelTwo of levelOne?.children">
            <div class="checkbox checkbox-inline">
              <input type="checkbox" class="styled" id="{{levelTwo.value}}_{{levelTwo.label}}" value="option1" [(ngModel)]="levelTwo.selected"
                [checked]="levelTwo.selected" (change)="checkboxListener(levelTwo)" />
              <label for="{{levelTwo.value}}_{{levelTwo.label}}">
                <span class="text-nowrap-grad level-two">{{levelTwo.label}}</span>
                <span class="tooltip-container-drop">{{levelTwo.label}}</span>
              </label>
            </div>
            <ul class="list-reset sub-dropdown-7">
              <li *ngFor="let levelThree of levelTwo?.children">
                <div class="checkbox checkbox-inline">
                  <input type="checkbox" class="styled" id="{{levelThree.value}}_{{levelThree.label}}" value="option1" [(ngModel)]="levelThree.selected"
                    [checked]="levelThree.selected" (change)="checkboxListener(levelThree)" />
                  <label for="{{levelThree.value}}_{{levelThree.label}}">
                    <span class="text-nowrap-grad level-three">{{levelThree.label}}</span>
                    <span class="tooltip-container-drop">{{levelThree.label}}</span>
                  </label>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </ng-container>
</div>