<div class="candidate-detail-card auto-matched-candidate-detail clearfix">
  <div class="card-block">
    <div class="card-block-inner">
      <div class="candidate-detail-top clearfix">
        <div class="image-block">
          <div class="loading-line height-100"></div>
        </div>
        <div class="candidate-detail-top-right">
          <div class="candidate-detail-top-block">
            <div class="candidate-detail-title width-75">
              <div class="loading-line"></div>
            </div>
            <div class="social-block-footer">
              <a href="#" target="_blank" class="icon-smd">
                <div class="loading-line"></div>
              </a>
              <a href="#" target="_blank" class="icon-smd">
                <div class="loading-line"></div>
              </a>
              <a href="#" target="_blank" class="icon-smd">
                <div class="loading-line"></div>
              </a>
              <a href="#" target="_blank" class="icon-smd pla-right-zero">
                <div class="loading-line"></div>
              </a>
            </div>
            <div class="candidate-opcation clearfix">
              <a href="#" class="loading-line width-10"></a>
              <a href="#" class="loading-line width-10"></a>
            </div>
          </div>

        </div>
      </div>
      <div class="auto-matched-candidate-bottom clearfix">
        <div class="auto-matched-cell">
          <div class="auto-matched-cell-inner">
            <div class="loading-line"></div>
          </div>
        </div>
        <div class="auto-matched-cell">
          <div class="auto-matched-cell-inner">
            <div class="loading-line"></div>
          </div>
        </div>
        <div class="auto-matched-cell">
          <div class="auto-matched-cell-inner">
            <div class="loading-line"></div>
          </div>
        </div>
        <div class="auto-matched-cell">
          <div class="auto-matched-cell-inner">
            <div class="loading-line"></div>
          </div>
        </div>
        <div class="auto-matched-cell">
          <div class="auto-matched-cell-inner">
            <div class="loading-line"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="panel-full">
  <div class="panel panel-two-column panel-open">
    <div class="panel-heading clearfix">
      <h2 class="panel-title fl-left text-capitalize">
        <div class=" loading-line left"></div>
      </h2>
    </div>
    <div class="panel-body">
      <div class="panel-row">
        <span class="panel-col panel-col1">
          <div class="loading-line width-20"></div>
        </span>
        <span class="panel-col text-bold-cell">
          <div class="loading-line width-90"></div>
        </span>
      </div>
      <div class="panel-row">
        <span class="panel-col panel-col1">
          <div class="loading-line width-50"></div>
        </span>
        <span class="panel-col text-bold-cell">
          <div class="loading-line width-80"></div>
        </span>
      </div>
      <div class="panel-row">
        <span class="panel-col panel-col1">
          <div class="loading-line width-60"></div>
        </span>
        <span class="panel-col text-bold-cell">
          <div class="loading-line width-50"></div>
        </span>
      </div>
      <div class="panel-row">
        <span class="panel-col panel-col1">
          <div class="loading-line width-30"></div>
        </span>
        <span class="panel-col text-bold-cell">
          <div class="loading-line width-40"></div>
        </span>
      </div>
      <div class="panel-row">
        <span class="panel-col panel-col1">
          <div class="loading-line width-40"></div>
        </span>
        <span class="panel-col text-bold-cell">
          <div class="loading-line width-70"></div>
        </span>
      </div>
      <div class="panel-row">
        <span class="panel-col panel-col1">
          <div class="loading-line width-40"></div>
        </span>
        <span class="panel-col text-bold-cell">
          <div class="loading-line width-50"></div>
        </span>
      </div>
      <div class="panel-row">
        <span class="panel-col panel-col1">
          <div class="loading-line width-80"></div>
        </span>
        <span class="panel-col text-bold-cell">
          <div class="loading-line width-90"></div>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="panel-full">
  <div class="panel panel-two-column panel-open">
    <div class="panel-heading clearfix">
      <h2 class="panel-title fl-left text-capitalize">
        <div class=" loading-line left"></div>
      </h2>
    </div>
    <div class="panel-body clearfix">
      <div class="clearfix">
        <div class="panel-row">
          <span class="panel-col panel-col1">
            <div class="loading-line width-90"></div>
          </span>
          <span class="panel-col text-bold-cell">
            <div class="loading-line width-90"></div>
          </span>
        </div>
        <div class="panel-row">
          <span class="panel-col panel-col1">
            <div class="loading-line width-50"></div>
          </span>
          <span class="panel-col text-bold-cell">
            <div class="loading-line width-60"></div>
          </span>
        </div>
        <div class="panel-row">
          <span class="panel-col panel-col1">
            <div class="loading-line width-30"></div>
          </span>
          <span class="panel-col text-bold-cell">
            <div class="loading-line width-90"></div>
          </span>
        </div>
        <div class="panel-row">
          <span class="panel-col panel-col1">
            <div class="loading-line width-70"></div>
          </span>
          <span class="panel-col text-bold-cell">
            <div class="loading-line width-80"></div>
          </span>
        </div>
        <div class="panel-row">
          <span class="panel-col panel-col1">
            <div class="loading-line width-50"></div>
          </span>
          <span class="panel-col text-bold-cell">
            <div class="loading-line width-80"></div>
          </span>
        </div>
        <div class="panel-row">
          <span class="panel-col panel-col1">
            <div class="loading-line width-40"></div>
          </span>
          <span class="panel-col text-bold-cell">
            <div class="loading-line width-90"></div>
          </span>
        </div>
      </div>
      <div class="divider divider-pad clearfix"></div>
      <div class="clearfix">
        <div class="panel-row">
          <span class="panel-col panel-col1">
            <div class="loading-line width-80"></div>
          </span>
          <span class="panel-col text-bold-cell">
            <div class="loading-line width-90"></div>
          </span>
        </div>
        <div class="panel-row">
          <span class="panel-col panel-col1">
            <div class="loading-line width-50"></div>
          </span>
          <span class="panel-col text-bold-cell">
            <div class="loading-line width-80"></div>
          </span>
        </div>
        <div class="panel-row">
          <span class="panel-col panel-col1">
            <div class="loading-line width-60"></div>
          </span>
          <span class="panel-col text-bold-cell">
            <div class="loading-line width-50"></div>
          </span>
        </div>
        <div class="panel-row">
          <span class="panel-col panel-col1">
            <div class="loading-line width-30"></div>
          </span>
          <span class="panel-col text-bold-cell">
            <div class="loading-line width-40"></div>
          </span>
        </div>
        <div class="panel-row">
          <span class="panel-col panel-col1">
            <div class="loading-line width-40"></div>
          </span>
          <span class="panel-col text-bold-cell">
            <div class="loading-line width-70"></div>
          </span>
        </div>
      </div>
      <div class="panel-row-full clearfix">
        <span class="panel-col panel-col1">
          <div class="loading-line width-80"></div>
        </span>
        <span class="panel-col text-bold-cell">
          <div class="loading-line width-100"></div>
          <div class="loading-line width-100"></div>
          <div class="loading-line width-80"></div>
          <div class="loading-line width-70"></div>
        </span>
      </div>

    </div>
  </div>
</div>
<div class="panel-full">
  <div class="panel panel-one-column panel-open">
    <div class="panel-heading clearfix">
      <h2 class="panel-title fl-left text-capitalize">
        <div class=" loading-line left"></div>
      </h2>
    </div>
    <div class="panel-body">
      <div class="panel-row clearfix">
        <span class="panel-col panel-col1">
          <div class="loading-line width-40"></div>
        </span>
        <span class="panel-col text-bold-cell">
          <div class="loading-line width-50"></div>
        </span>
      </div>
      <div class="panel-row clearfix">
        <span class="panel-col panel-col1">
          <div class="loading-line width-70"></div>
        </span>
        <span class="panel-col text-bold-cell">
          <div class="loading-line width-70"></div>
        </span>
      </div>
      <div class="panel-row clearfix">
        <span class="panel-col panel-col1">
          <div class="loading-line width-50"></div>
        </span>
        <span class="panel-col text-bold-cell">
          <div class="loading-line width-40"></div>
        </span>
      </div>
      <div class="panel-row clearfix">
        <span class="panel-col panel-col1">
          <div class="loading-line width-20"></div>
        </span>
        <span class="panel-col text-bold-cell">
          <div class="loading-line width-40"></div>
        </span>
      </div>
      <div class="panel-row clearfix">
        <span class="panel-col panel-col1">
          <div class="loading-line width-30"></div>
        </span>
        <span class="panel-col text-bold-cell">
          <div class="loading-line width-10"></div>
        </span>
      </div>
      <div class="panel-row clearfix">
        <span class="panel-col panel-col1">
          <div class="loading-line width-20"></div>
        </span>
        <span class="panel-col text-bold-cell">
          <div class="loading-line width-20"></div>
        </span>
      </div>
      <div class="panel-row clearfix">
        <span class="panel-col panel-col1">
          <div class="loading-line width-10"></div>
        </span>
        <span class="panel-col text-bold-cell">
          <div class="loading-line width-40"></div>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="panel-full">
  <div class="panel panel-one-column panel-open">
    <div class="panel-heading clearfix">
      <h2 class="panel-title fl-left text-capitalize">
        <div class=" loading-line left"></div>
      </h2>
    </div>
    <div class="panel-body">
      <div class="panel-row clearfix">
        <span class="panel-col panel-col1">
          <div class="loading-line width-70"></div>
        </span>
        <span class="panel-col text-bold-cell">
          <div class="loading-line width-70"></div>
        </span>
      </div>
      <div class="panel-row clearfix">
        <span class="panel-col panel-col1">
          <div class="loading-line width-50"></div>
        </span>
        <span class="panel-col text-bold-cell">
          <div class="loading-line width-40"></div>
        </span>
      </div>
      <div class="panel-row clearfix">
        <span class="panel-col panel-col1">
          <div class="loading-line width-20"></div>
        </span>
        <span class="panel-col text-bold-cell">
          <div class="loading-line width-40"></div>
        </span>
      </div>
      <div class="panel-row clearfix">
        <span class="panel-col panel-col1">
          <div class="loading-line width-50"></div>
        </span>
        <span class="panel-col text-bold-cell">
          <div class="loading-line width-80"></div>
        </span>
      </div>
      <div class="panel-row clearfix">
        <span class="panel-col panel-col1">
          <div class="loading-line width-60"></div>
        </span>
        <span class="panel-col text-bold-cell">
          <div class="loading-line width-50"></div>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="panel-full">
  <div class="panel panel-open">
    <div class="panel-heading clearfix">
      <h2 class="panel-title fl-left text-capitalize">
        <div class=" loading-line left"></div>
      </h2>
    </div>
    <div class="panel-body padding-b10">
      <div class="skill-row clearfix">
        <span class="tag-job skill-1">
          <div class="loading-line"></div>
        </span>
        <span class="tag-job skill-2">
          <div class="loading-line"></div>
        </span>
        <span class="tag-job skill-2">
          <div class="loading-line"></div>
        </span>
        <span class="tag-job skill-1">
          <div class="loading-line"></div>
        </span>
        <span class="tag-job skill-2">
          <div class="loading-line"></div>
        </span>
        <span class="tag-job skill-1">
          <div class="loading-line"></div>
        </span>
        <span class="tag-job skill-2">
          <div class="loading-line"></div>
        </span>
        <span class="tag-job skill-1">
          <div class="loading-line"></div>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="panel-full">
  <div class="panel panel-open">
    <div class="panel-heading clearfix">
      <h2 class="panel-title fl-left text-capitalize">
        <div class=" loading-line left"></div>
      </h2>
    </div>
    <div class="panel-body padding-b10">
      <div class="skill-row clearfix">
        <span class="tag-job skill-2">
          <div class="loading-line"></div>
        </span>
        <span class="tag-job skill-1">
          <div class="loading-line"></div>
        </span>
        <span class="tag-job skill-2">
          <div class="loading-line"></div>
        </span>
        <span class="tag-job skill-1">
          <div class="loading-line"></div>
        </span>
      </div>
    </div>
  </div>
</div>