<div class="comint-soon-container">
    <img src="./assets/images/Coming-soontext.png" alt="" title="">
</div>
<div class="coming-soon-wrapper">
    <div class="coming-soon"></div>
</div>
<div class="search-card-block">
    <div class="input-group search-block">
        <input class="form-control" id="searchMobileOne" placeholder="Se " type="text">
        <span class="input-group-btn">
            <button class="btn material-icons dp20" type="submit">close</button>
        </span>
    </div>
</div>
<div class="main-title-row">
    <h1 class="main-title">SEARCH RESULTS (13)</h1>
</div>
<!-- Job Results -->
<div class="section-search-card clearfix">
    <h2 class="title-sub">Job Results</h2>
    <div class="section-card clearfix">
        <!-- Card Block -->
        <div class="card-block card-3">
            <div class="card-block-inner">
                <div class="card-top card-row clearfix">
                    <div class="check-box checkbox">
                        <input type="checkbox" class="styled">
                        <label></label>
                    </div>
                    <div class="job-option">
                        <a href="javascript:void(0)" class="menu-click" (click)="popupShow()">
                            <span class="material-icons more-icon">more_vert</span>
                        </a>
                        <!-- Menu style -->
                        <div class="menu-style menu-style-2" *ngIf="popupShowClass">
                            <span class="material-icons close" (click)="popupShow()">close</span>
                            <ul class="list-reset dropdown-menu">
                                <li>
                                    <a href="#">Publish To Employee Referral</a>
                                </li>
                                <li>
                                    <a href="#">Publish To Internal Transfer</a>
                                </li>
                                <li>
                                    <a href="#">Publish To Candidate Portal</a>
                                </li>
                                <li>
                                    <a href="#">Publish To Social Media</a>
                                </li>
                                <li>
                                    <a href="#">Publish To Vendors</a>
                                </li>
                                <li>
                                    <a href="#">Assign To Recruiter</a>
                                </li>
                                <li class="divider"></li>
                                <li class="heading">Change Job Status</li>
                                <li class="active">
                                    <a href="#">
                                        <span class="job-status job-active"></span>Active</a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="job-status job-close"></span>Close</a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="job-status job-pending"></span>Approval Pending</a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="job-status job-hold"></span>On Hold</a>
                                </li>
                            </ul>
                        </div>
                        <!-- \\ End Menu style -->
                    </div>
                </div>
                <div class="card-row card-designation">
                    <h2 class="title">
                        <span class="job-status job-active"></span>
                        <a href="job_details.html" class="link">
                            <span class="purple-color">Se</span>nior Consultant Technology Management</a>
                        <span class="job-code">Job/Code/000000</span>
                    </h2>
                </div>
                <div class="card-row">
                    <ul class="list-reset clearfix listing-inline">
                        <li>mahindra & mahindra ltd > farm equipment</li>
                        <li>Thiruvananthapuram (KL)</li>
                        <li class="last-child position-rel">posted on
                            <span class="link menu-click">28-09-17</span>
                            <!-- Menu style -->
                            <div class="menu-style menu-style-4">
                                <span class="material-icons close">close</span>
                                <ul class="list-reset dropdown-menu">
                                    <li>Posted On
                                        <span class="text-blue">28-08-16</span>
                                    </li>
                                    <li>Modified On
                                        <span class="text-blue">16-09-16</span>
                                    </li>
                                    <li>
                                        <span class="text-blue">4 Openings Added 26-09-16</span>
                                    </li>
                                    <li>
                                        <span class="text-blue">12 Openings Added 28-08-16</span>
                                    </li>
                                    <li>
                                        <span class="text-blue">2 Openings Added 28-08-16</span>
                                    </li>
                                    <li>Targeted On
                                        <span class="text-blue">28-08-16</span>
                                    </li>
                                </ul>
                            </div>
                            <!-- \\ End Menu style -->
                        </li>
                    </ul>
                </div>
                <div class="hiring-team-list clearfix">
                    <div class="image-block">
                        <img src="./assets/images/F8.png" alt="profile img" />
                    </div>
                    <div class="description-cell">
                        <span class="text-cell">Hiring Manager</span>
                        <span class="text-bold-cell text-uppercase">Priyanka Manchanda</span>
                    </div>
                </div>
                <div class="table-data">
                    <ul class="list-reset table-data-ul">
                        <li class="popup-click">
                            <div class="card-cell-left">
                                <span class="text-cell">team</span>
                                <span class="text-bold-cell">9</span>
                            </div>
                            <span class="edit-icon">create</span>
                        </li>
                        <li class="last-child published-click">
                            <div class="card-cell-left">
                                <span class="text-cell">Published to</span>
                                <span class="text-bold-cell">8/23</span>
                            </div>
                            <span class="edit-icon">create</span>
                        </li>
                    </ul>
                </div>
                <div class="color-block clearfix">
                    <div class="card-cell-left">
                        <ul class="job-summary list-reset">
                            <li>000 DAYS</li>
                            <li class="divider">/</li>
                            <li>000 OPENINGS</li>
                        </ul>
                    </div>
                    <div class="fl-right">
                        <span class="thumb-text">good</span>
                        <span class="material-icons">thumb_up</span>
                    </div>
                </div>
                <div class="table-data table-padding">
                    <ul class="list-reset text-center table-data-ul">
                        <li>
                            <span class="text-bold-cell">135</span>
                            <span class="text-cell">openings</span>
                        </li>
                        <li>
                            <span class="text-bold-cell">289</span>
                            <span class="text-cell">In review</span>
                        </li>
                        <li>
                            <span class="text-bold-cell">178</span>
                            <span class="text-cell">offered</span>
                        </li>
                        <li class="last-child job-accepted">
                            <span class="text-bold-cell">096</span>
                            <span class="text-cell">accepted</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- \\ End Card Block -->
        <!-- Card Block -->
        <div class="card-block card-3 card-ijp">
            <div class="card-block-inner">
                <div class="card-row card-designation">
                    <h2 class="title">
                        <a href="job_details3.html" class="link">
                            <span class="purple-color">Se</span>nior Software engineer (Java Developer)</a>
                        <span class="job-code">MDR/SE/72579</span>
                    </h2>
                </div>
                <div class="card-row">
                    <ul class="list-reset clearfix listing-inline">
                        <li>trringo.com limited > mahindra reva > mahind</li>
                        <li class="last-child">Bengaluru</li>
                        <li class="last-child position-rel">posted on
                            <span class="link menu-click">22-09-17</span>
                            <!-- Menu style -->
                            <div class="menu-style menu-style-4">
                                <span class="material-icons close">close</span>
                                <ul class="list-reset dropdown-menu">
                                    <li>Posted On
                                        <span class="text-blue">28-08-16</span>
                                    </li>
                                    <li>Modified On
                                        <span class="text-blue">16-09-16</span>
                                    </li>
                                    <li>
                                        <span class="text-blue">4 Openings Added 26-09-16</span>
                                    </li>
                                    <li>
                                        <span class="text-blue">12 Openings Added 28-08-16</span>
                                    </li>
                                    <li>
                                        <span class="text-blue">2 Openings Added 28-08-16</span>
                                    </li>
                                    <li>Targeted On
                                        <span class="text-blue">28-08-16</span>
                                    </li>
                                </ul>
                            </div>
                            <!-- \\ End Menu style -->
                        </li>
                    </ul>
                </div>
                <div class="card-row">
                    <span class="text-cell">Required Experience</span>
                    <span class="text-cell font-bold">4-8 years</span>
                </div>
                <div class="required-experience-row">
                    <span class="required-cell">Required Experience</span>
                    <div class="skill-row clearfix">
                        <span class="tag-job">Ajax</span>
                        <span class="tag-job">Java</span>
                        <span class="tag-job">iOS</span>
                        <span class="tag-job">Objective </span>
                        <span class="tag-job">C++</span>
                        <span class="tag-job">SQL</span>
                        <span class="tag-job">communication skills</span>
                        <span class="tag-job">Java Script</span>
                        <span class="tag-job">HTML</span>
                    </div>
                </div>
            </div>
            <div class="btn-row mrg-lf-20">
                <button class="btn btn-gray btn-full popup-small-click">APPLY</button>
                <!-- Popup Small -->
                <div class="popup-small">
                    <div class="popup-top margin-b22 clearfix">
                        <span class="material-icons close">close</span>
                        <h2 class="title">Are you sure you want to apply from this job?</h2>
                    </div>
                    <div class="btn-row fl-right">
                        <button class="btn btn-white">CANCEL</button>
                        <button class="btn btn-primary">yes</button>
                    </div>
                </div>
                <!-- \\ End Popup Small-->
            </div>
        </div>
        <!-- \\ End Card Block -->
        <!-- Card Block -->
        <div class="card-block card-3 card-erp">
            <div class="card-block-inner">
                <div class="card-row card-designation border-2">
                    <h2 class="title">
                        <span class="job-status job-active"></span>
                        <a href="job_details2.html" class="link">
                            <span class="purple-color">Se</span>nior Implementation Engineer</a>
                        <span class="job-code">MDR/SSIE/72829</span>
                    </h2>
                </div>
                <div class="card-row border-2">
                    <ul class="list-reset clearfix listing-inline">
                        <li>mahindra & mahindra ltd > innovation cell</li>
                        <li class="last-child">Thiruvananthapuram (KL)</li>
                        <li class="last-child position-rel">posted on
                            <span class="link menu-click">24-08-17</span>
                            <!-- Menu style -->
                            <div class="menu-style menu-style-4">
                                <span class="material-icons close">close</span>
                                <ul class="list-reset dropdown-menu">
                                    <li>Posted On
                                        <span class="text-blue">28-08-16</span>
                                    </li>
                                    <li>Modified On
                                        <span class="text-blue">16-09-16</span>
                                    </li>
                                    <li>
                                        <span class="text-blue">4 Openings Added 26-09-16</span>
                                    </li>
                                    <li>
                                        <span class="text-blue">12 Openings Added 28-08-16</span>
                                    </li>
                                    <li>
                                        <span class="text-blue">2 Openings Added 28-08-16</span>
                                    </li>
                                    <li>Targeted On
                                        <span class="text-blue">28-08-16</span>
                                    </li>
                                </ul>
                            </div>
                            <!-- \\ End Menu style -->
                        </li>
                    </ul>
                </div>
                <div class="hiring-team-list clearfix border-bot-none">
                    <div class="image-block">
                        <img src="./assets/images/M6.png" alt="profile img" />
                    </div>
                    <div class="description-cell">
                        <span class="text-cell">Hiring Manager</span>
                        <span class="text-bold-cell text-uppercase">Amit Aggarwal</span>
                    </div>
                </div>
            </div>
            <div class="btn-row mrg-lf-20 btn-two">
                <button class="btn btn-gray btn-2 popup-small-click">REFER</button>
                <!-- Popup Small -->
                <div class="popup-small popup-refer-candidate">
                    <div class="popup-top clearfix">
                        <span class="material-icons close">close</span>
                        <h2 class="title">Refer a candidate</h2>
                    </div>
                    <div class="popup-small-inner clearfix">
                        <div class="item_list">
                            <div class="form-group  clearfix">
                                <label class="control-label">Senior Technology Manager</label>
                                <div class="dropdown-11 list-block">
                                    <select class="selectpicker">
                                        <option>Technology</option>
                                        <option>Technology</option>
                                        <option>Technology</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">First Name*</label>
                                <input class="form-control" placeholder="Enter First Name" type="text">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Last Name*</label>
                                <input class="form-control" placeholder="Enter Last Name" type="text">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Mobile Number*</label>
                                <input class="form-control" placeholder="Enter Mobile Number" type="text">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Email Address*</label>
                                <input class="form-control" placeholder="Enter Email Address" type="text">
                            </div>
                            <div class="form-group margin-bot-none">
                                <button class="btn btn-gray btn-full">ATTACH A RESUME</button>
                                <div class="attached-cell" style="display:none;">
                                    <span class="material-icons done-icon">done</span>
                                    <span class="font-bold">Resume Attached</span>
                                    <span class="material-icons delete-icon">delete</span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="btn-row fl-right">
                        <button class="btn btn-white">cancel</button>
                        <button class="btn btn-primary">REFER</button>
                    </div>
                </div>
                <!-- \\ End Popup Small-->
                <button class="btn btn-gray btn-2 fl-right popup-small-click">SHARE</button>
                <!-- Popup Small -->
                <div class="popup-small share-job-popup">
                    <div class="popup-top clearfix">
                        <span class="material-icons close">close</span>
                        <h2 class="title">Share job </h2>
                    </div>
                    <div class="popup-small-inner clearfix">
                        <div class="social-block icons-manage">
                            <a href="#" target="_blank" class="icon-smd fb-icon30">facebook</a>
                            <a href="#" target="_blank" class="icon-smd tw-icon30">Twitter</a>
                            <a href="#" target="_blank" class="icon-smd li-icon30">linked in</a>
                            <a href="#" target="_blank" class="icon-smd gp-icon30">Google Plus</a>
                            <a href="#" target="_blank" class="icon-smd pinterest-icon">pinterest</a>
                            <a href="#" target="_blank" class="icon-smd vine-icon">vine</a>
                            <a href="#" target="_blank" class="icon-smd insta-icon">insta</a>
                            <a href="#" target="_blank" class="icon-smd whatsapp-icon">whatsapp</a>
                            <a href="#" target="_blank" class="icon-smd social-icon">social</a>
                        </div>
                    </div>
                    <div class="btn-row fl-right">
                        <button class="btn btn-white">cancel</button>
                        <button class="btn btn-primary">SHARE</button>
                    </div>
                </div>
                <!-- \\ End Popup Small-->
            </div>
        </div>
        <!-- \\ End Card Block -->
    </div>
    <div class="toggle-jobs">
        <a href="javascript:void(0)" class="toggle-element">
            <span class="material-icons dp10">add</span> 5 MORE</a>
    </div>
</div>
<!-- \\ End Job Results -->
<!-- Candidate Results -->
<div class="section-search-card clearfix">
    <h2 class="title-sub">Candidate Results</h2>
    <div class="section-card clearfix">
        <!-- Card Block -->
        <div class="card-block card-3 card-candidate-drafts">
            <div class="card-block-inner">
                <div class="card-top card-row clearfix">
                    <div class="job-option">
                        <a href="javascript:void(0)" class="menu-click">
                            <span class="material-icons more-icon">more_vert</span>
                        </a>
                        <!-- Menu style -->
                        <div class="menu-style menu-style-1">
                            <span class="material-icons close">close</span>
                            <ul class="list-reset dropdown-menu">
                                <li>
                                    <a href="#">
                                        <span class="menu-style-icon material-icons">create</span>Edit Job</a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="menu-style-icon material-icons">delete</span>Untag Candidate</a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="menu-style-icon material-icons">content_copy</span>Email Candidate</a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="menu-style-icon material-icons">content_copy</span>Tag to Another Job</a>
                                </li>
                            </ul>
                        </div>
                        <!-- \\ End Menu style -->
                    </div>
                </div>
                <div class="card-row card-name-row">
                    <div class="image-block">
                        <img src="./assets/images/M8.png" alt="profile img" />
                    </div>
                    <div class="title-cell">
                        <h3 class="title">Vaskar Sharma</h3>
                    </div>
                </div>
                <div class="card-row card-profile-row clearfix">
                    <div class="profile-completed">
                        <div class="profile-graph">
                            <div class="c100 p77">
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>
                        </div>
                        <div class="profile-graph-details">
                            <span class="profile-percent">27%</span>
                            <span class="text-cell">profile Complete</span>
                        </div>
                    </div>
                </div>
                <div class="card-row source-row clearfix">
                    <span class="rounded-block margin-r15">
                        <img src="./assets/images/svg/linked_in.svg" alt="Linked in">
                    </span>
                    <div class="description-cell width50">
                        <span class="text-cell">Source</span>
                        <span class="text-bold-cell">IJP</span>
                    </div>
                    <div class="description-cell width30">
                        <span class="text-cell">Source Code</span>
                        <span class="text-bold-cell">MDR/829</span>
                    </div>
                </div>
            </div>
            <div class="btn-row mrg-lf-20">
                <a href="#" class="btn btn-gray">EDIT CANDIDATE DRAFT</a>
            </div>
        </div>
        <!-- \\ End Card Block -->
        <!-- Card Block -->
        <div class="card-block card-3 card-candidate-tagged">
            <div class="card-block-inner">
                <div class="card-top card-row clearfix">
                    <div class="check-box checkbox">
                        <input type="checkbox" class="styled">
                        <label></label>
                    </div>
                    <div class="job-option">
                        <a href="javascript:void(0)" class="menu-click">
                            <span class="material-icons more-icon">more_vert</span>
                        </a>
                        <!-- Menu style -->
                        <div class="menu-style menu-style-1">
                            <span class="material-icons close">close</span>
                            <ul class="list-reset dropdown-menu">
                                <li>
                                    <a href="#">>Update Status</a>
                                </li>
                                <li>
                                    <a href="#">Move to Another Job</a>
                                </li>
                                <li>
                                    <a href="#">Copy to Another Job</a>
                                </li>
                                <li>
                                    <a href="#">Untag Candidates</a>
                                </li>
                                <li>
                                    <a href="#">Email Candidates</a>
                                </li>                                
                                <li class="divider"></li>
                                <li class="heading">Change Job Status</li>
                                <li class="active">
                                    <a href="#">
                                        <span class="job-status job-active"></span>Active</a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="job-status job-close"></span>Close</a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="job-status job-pending"></span>Approval Pending</a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="job-status job-hold"></span>On Hold</a>
                                </li>
                            </ul>
                        </div>
                        <!-- \\ End Menu style -->
                    </div>
                </div>
                <div class="card-row card-name-row">
                    <div class="image-block">
                        <img src="./assets/images/pic003.png" alt="profile img" />
                    </div>
                    <span class="material-icons flag-icon">flag</span>
                    <div class="title-cell text-nowrap-cell">
                        <h3 class="title">Laxminarayana Siva Venkata Sai</h3>
                        <ul class="list-reset listing-inline">
                            <li class="job-code">MDR/SCTM/13001</li>
                            <li class="last-child">maharashtra</li>
                        </ul>
                    </div>
                </div>
                <div class="card-row card-designation-small">
                    <span class="job-status job-active"></span>
                    <div class="common-cell">
                        <span class="name-cell font-bold">
                            <span class="purple-color">Se</span>nior consultant technology management
                        </span>
                        <span class="job-code">JobCode/0000/Konat</span>
                    </div>
                </div>
                <div class="card-row card-profile-row clearfix">
                    <div class="profile-completed">
                        <div class="profile-graph">
                            <div class="c100 p75">
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>
                        </div>
                        <div class="profile-graph-details">
                            <span class="profile-percent">75%</span>
                            <span class="text-cell">profile Complete</span>
                        </div>
                    </div>
                    <div class="profile-match">
                        <div class="profile-graph">
                            <div class="c100 p52 green">
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>
                        </div>
                        <div class="profile-graph-details">
                            <span class="profile-percent">52%</span>
                            <span class="text-cell">match</span>
                        </div>
                    </div>
                </div>
                <div class="card-row ver-row clearfix">
                    <div class="background-ver">Technical Interview :
                        <span class="pending">Pending</span>
                    </div>
                    <div class="candidate-stages-bar-outer clearfix">
                        <ul class="list-reset candidate-stages-bar">
                            <li class="dot org"></li>
                            <li class="bar"></li>
                            <li class="dot"></li>
                            <li class="bar"></li>
                            <li class="dot"></li>
                            <li class="bar"></li>
                            <li class="dot"></li>
                            <li class="bar"></li>
                            <li class="dot"></li>
                            <li class="bar"></li>
                            <li class="dot"></li>
                            <li class="bar"></li>
                            <li class="dot"></li>
                            <li class="bar"></li>
                            <li class="dot"></li>
                            <li class="bar"></li>
                            <li class="dot"></li>
                            <li class="bar"></li>
                            <li class="dot"></li>
                            <li class="bar"></li>
                            <li class="dot"></li>
                            <li class="bar"></li>
                            <li class="dot"></li>
                            <li class="bar"></li>
                            <li class="dot"></li>
                            <li class="bar"></li>
                        </ul>
                    </div>
                </div>                
                <div class="card-row source-row clearfix">
                    <span class="rounded-block margin-r15">
                        <img src="./assets/images/svg/linked_in.svg" alt="Linked in">
                    </span>
                    <div class="description-cell width35">
                        <span class="text-cell">Source</span>
                        <span class="text-bold-cell">IJP</span>
                    </div>
                    <div class="description-cell width44">
                        <span class="text-cell">Source Code</span>
                        <span class="text-bold-cell">000/000</span>
                    </div>
                </div>
            </div>
            <div class="btn-row mrg-lf-20">
                <a href="#" class="btn btn-gray">TAKE ACTION</a>
            </div>
        </div>
        <!-- \\ End Card Block -->
        <!-- Card Block -->
        <div class="card-block card-3 card-candidate-untagged">
            <div class="card-block-inner">
                <div class="card-top card-row clearfix">
                    <div class="check-box checkbox">
                        <input type="checkbox" class="styled">
                        <label></label>
                    </div>
                    <div class="job-option">
                        <a href="javascript:void(0)" class="menu-click">
                            <span class="material-icons more-icon">more_vert</span>
                        </a>
                        <!-- Menu style -->
                        <div class="menu-style menu-style-1">
                            <span class="material-icons close">close</span>
                            <ul class="list-reset dropdown-menu">
                                <li>
                                    <a href="#">Update Status</a>
                                </li>
                                <li>
                                    <a href="#">Move to Another Job</a>
                                </li>
                                <li>
                                    <a href="#">Copy to Another Job</a>
                                </li>
                                <li>
                                    <a href="#">Untag Candidates</a>
                                </li>
                                <li>
                                    <a href="#">Email Candidates</a>
                                </li>                                
                                <li>
                                    <a href="#" class="text-nowrap-grad">Tag to Job & Email Candidates</a>
                                </li>
                                <li class="divider"></li>
                                <li class="heading">Change Job Status</li>
                                <li class="active">
                                    <a href="#">
                                        <span class="job-status job-active"></span>Active</a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="job-status job-close"></span>Close</a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="job-status job-pending"></span>Approval Pending</a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="job-status job-hold"></span>On Hold</a>
                                </li>
                            </ul>
                        </div>
                        <!-- \\ End Menu style -->
                    </div>
                </div>
                <div class="card-row card-name-row">
                    <div class="image-block">
                        <img src="./assets/images/M5.png" alt="profile img" />
                    </div>
                    <span class="material-icons flag-icon">flag</span>
                    <div class="title-cell text-nowrap-cell">
                        <h3 class="title">Maruthhur Gopalamenon Ramachandran</h3>
                        <ul class="list-reset listing-inline">
                            <li class="job-code">MDR/E/72866</li>
                            <li class="last-child">Gurgaon</li>
                        </ul>
                    </div>
                </div>
                <div class="card-row card-profile-row clearfix">
                    <div class="profile-completed">
                        <div class="profile-graph">
                            <div class="c100 p75">
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>
                        </div>
                        <div class="profile-graph-details">
                            <span class="profile-percent">75%</span>
                            <span class="text-cell">Job Details Complete</span>
                        </div>
                    </div>
                </div>
                <div class="card-row">
                    <div class="skill-row clearfix">
                        <span class="tag-job">Error-free payroll deliveries</span>
                        <span class="tag-job">Handling Reimbursements</span>
                        <span class="tag-job">Full & Final Settlement</span>
                        <span class="tag-job">Salary slips</span>
                        <span class="tag-job">TDS</span>
                    </div>
                </div>
            </div>
            <div class="btn-row mrg-lf-20">
                <a href="javascript:void(0)" class="btn btn-gray popup-small-click">tag to job</a>
                <!-- Popup Small -->
                <div class="popup-small">
                    <div class="popup-top clearfix">
                        <span class="material-icons close">close</span>
                        <h2 class="title">Tag / Move / Copy candidates to another job </h2>
                    </div>
                    <div class="popup-small-inner clearfix">
                        <div class="input-group search-block">
                            <input type="text" class="form-control" id="HiringSssearch" placeholder="Search candidate name,code or email id…" />
                            <span class="input-group-btn">
                                <button class="btn material-icons dp20" type="submit">search</button>
                            </span>
                        </div>
                        <div class="listing-popup-block vertical-scrollbox">
                            <ul class="list-reset listing-popup">
                                <li>
                                    <div class="checkbox checkbox-inline">
                                        <input class="styled" id="senior1" value="option1" type="checkbox">
                                        <label for="senior1" class="name-cell font-bold">
                                            <span class="job-status job-accepted"></span>
                                            <span class="text-nowrap-grad">Senior Consultant Technology</span>
                                        </label>
                                        <span class="job-code">JobCode/0000/Konat</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox checkbox-inline">
                                        <input class="styled" id="senior2" value="option1" type="checkbox">
                                        <label for="senior2" class="name-cell font-bold">
                                            <span class="job-status job-accepted"></span>
                                            <span class="text-nowrap-grad">Senior Consultant Technology</span>
                                        </label>
                                        <span class="job-code">JobCode/0000/Konat</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox checkbox-inline">
                                        <input class="styled" id="senior3" value="option1" type="checkbox">
                                        <label for="senior3" class="name-cell font-bold">
                                            <span class="job-status job-accepted"></span>
                                            <span class="text-nowrap-grad">Senior Consultant Technology</span>
                                        </label>
                                        <span class="job-code">JobCode/0000/Konat</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox checkbox-inline">
                                        <input class="styled" id="senior4" value="option1" type="checkbox">
                                        <label for="senior4" class="name-cell font-bold">
                                            <span class="job-status job-accepted"></span>
                                            <span class="text-nowrap-grad">Senior Consultant Technology</span>
                                        </label>
                                        <span class="job-code">JobCode/0000/Konat</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox checkbox-inline">
                                        <input class="styled" id="senior5" value="option1" type="checkbox">
                                        <label for="senior5" class="name-cell font-bold">
                                            <span class="job-status job-accepted"></span>
                                            <span class="text-nowrap-grad">Senior Consultant Technology</span>
                                        </label>
                                        <span class="job-code">JobCode/0000/Konat</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox checkbox-inline">
                                        <input class="styled" id="senior6" value="option1" type="checkbox">
                                        <label for="senior6" class="name-cell font-bold">
                                            <span class="job-status job-accepted"></span>
                                            <span class="text-nowrap-grad">Senior Consultant Technology</span>
                                        </label>
                                        <span class="job-code">JobCode/0000/Konat</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox checkbox-inline">
                                        <input class="styled" id="senior7" value="option1" type="checkbox">
                                        <label for="senior7" class="name-cell font-bold">
                                            <span class="job-status job-accepted"></span>
                                            <span class="text-nowrap-grad">Senior Consultant Technology</span>
                                        </label>
                                        <span class="job-code">JobCode/0000/Konat</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox checkbox-inline">
                                        <input class="styled" id="senior8" value="option1" type="checkbox">
                                        <label for="senior8" class="name-cell font-bold">
                                            <span class="job-status job-accepted"></span>
                                            <span class="text-nowrap-grad">Senior Consultant Technology Mana</span>
                                        </label>
                                        <span class="job-code">JobCode/0000/Konat</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="btn-row fl-right">
                        <a href="javascript:void(0)" class="btn btn-white">cancel</a>
                        <a href="javascript:void(0)" class="btn btn-primary">TAG / MOVE / COPY</a>
                    </div>
                </div>
                <!-- \\ End Popup Small-->
            </div>
        </div>
        <!-- \\ End Card Block -->
    </div>
    <div class="toggle-jobs">
        <a href="javascript:void(0)" class="toggle-element">
            <span class="material-icons dp10">add</span> 5 MORE</a>
    </div>
</div>
<!-- \\ End Candidate Results -->
<!-- Team Member Results -->
<div class="section-search-card clearfix">
    <h2 class="title-sub">Team Member Results</h2>
    <div class="section-card clearfix">
        <!-- Card Block -->
        <div class="card-block card-3 hiring-manager-card">
            <div class="card-block-inner">
                <div class="card-row card-name-row border-top-none">
                    <div class="image-block">
                        <img src="./assets/images/F7.png" alt="Jyoti Kumari" />
                    </div>
                    <div class="title-cell">
                        <h3 class="title">Jyoti Kumari</h3>
                        <span class="job-code">MDR/SPA/54555</span>
                        <span class="text-cell font-bold">HIRING MANAGER</span>
                    </div>
                </div>
            </div>
            <div class="btn-row mrg-lf-20">
                <a href="#" class="btn btn-gray">VIEW MY JOBS</a>
            </div>
        </div>
        <!-- \\ End Card Block -->
        <!-- Card Block -->
        <div class="card-block card-3 hiring-manager-card">
            <div class="card-block-inner">
                <div class="card-row card-name-row border-top-none">
                    <div class="image-block">
                        <img src="./assets/images/M1.png" alt="profile img" />
                    </div>
                    <div class="title-cell">
                        <h3 class="title">Lokesh Kumar</h3>
                        <span class="job-code">MDR/SE/12079</span>
                        <span class="text-cell font-bold">HIRING MANAGER</span>
                    </div>
                </div>
            </div>
            <div class="btn-row mrg-lf-20">
                <a href="#" class="btn btn-gray">VIEW MY JOBS</a>
            </div>
        </div>
        <!-- \\ End Card Block -->
        <!-- Card Block -->
        <div class="card-block card-3 hiring-manager-card">
            <div class="card-block-inner">
                <div class="card-row card-name-row border-top-none">
                    <div class="image-block">
                        <img src="./assets/images/M2.png" alt="profile img" />
                    </div>
                    <div class="title-cell">
                        <h3 class="title">Rambir singh</h3>
                        <span class="job-code">MDR/SCTM/26070</span>
                        <span class="text-cell font-bold">HIRING MANAGER</span>
                    </div>
                </div>
            </div>
            <div class="btn-row mrg-lf-20">
                <a href="#" class="btn btn-gray">VIEW MY JOBS</a>
            </div>
        </div>
        <!-- \\ End Card Block -->
    </div>
    <div class="toggle-jobs">
        <a href="javascript:void(0)" class="toggle-element">
            <span class="material-icons dp10">add</span> 5 MORE</a>
    </div>
</div>
<!-- \\ End Team Member Results -->