<div class="comint-soon-container">
    <img src="./assets/images/Coming-soontext.png" alt="" title="">
</div>
<div class="coming-soon-wrapper">
    <div class="coming-soon"></div>
</div>
<div class="main-title-row title-with-select margin-b10-mb">
    <h1 class="main-title">Live Feed</h1>
    <div class="main-title-right">
        <ul class="list-reset dropdown-block">
            <li class="dropdown">
                <a href="#" class="dropdown-button dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="text-dropdown">USERS</span><span class="mdi mdi-chevron-down md24"></span></a>
                <ul class="list-reset dropdown-6 dropdown-style">
                    <li><a href="#">Poor</a></li>
                    <li><a href="#">Poor4</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!--  live feed -->
<div class="live-feed-block">
    <div class="chats-accordion-title clearfix">
        <div class="chats-images">
            <div class="image-block"><img src="./assets/images/pic001.png" alt="" /></div>
        </div>
        <div class="chats-accordion-summary">
            <span class="text-cell">Hiring Manager</span>
            <span class="font-bold text-nowrap-grad-white">Kabir Talwar</span>
        </div>
        <div class="live-feed-summary"><a href="#" data-toggle="tooltip" data-placement="bottom" title="5 new updates">Screened 20 candidates for Aviation Manager<span class="purple-color"> #JOBCODE MDR/SUE/72565</span></a>
        </div>
        <div class="time-bock"><span class="time-bock-inner">1:34 pm, 4 jan 2016</span><span class="material-icons">textsms</span></div>
    </div>
</div>
<!-- \\ End live feed -->
<!--  live feed -->
<div class="live-feed-block">
    <div class="chats-accordion-title clearfix">
        <div class="chats-images">
            <div class="image-block"><img src="./assets/images/pic002.png" alt="" /></div>
        </div>
        <div class="chats-accordion-summary">
            <span class="text-cell">Hiring Manager</span>
            <span class="font-bold text-nowrap-grad-white">Amit Kumar</span>
        </div>
        <div class="live-feed-summary"><a href="#" data-toggle="tooltip" data-placement="bottom" title="2 new updates">Closed 9/10 openings for Aviation Manager<span class="purple-color"> #JOBCODE MDR/SSE/72852</span></a>

        </div>
        <div class="time-bock"><span class="time-bock-inner">11 mins ago</span><span class="material-icons">textsms</span></div>
    </div>
</div>
<!-- \\ End live feed -->
<!--  live feed -->
<div class="live-feed-block">
    <div class="chats-accordion-title clearfix">
        <div class="chats-images">
            <div class="image-block"><img src="./assets/images/F8.png" alt="" /></div>
        </div>
        <div class="chats-accordion-summary">
            <span class="text-cell">Hiring Manager</span>
            <span class="font-bold text-nowrap-grad-white">Ritika Mishra</span>
        </div>
        <div class="live-feed-summary"><a href="#" data-toggle="tooltip" data-placement="bottom" title="1 new updates">Notifed<span class="purple-color"> Utkarsh </span>to take action on Aviation Manager<span class="purple-color"> #JOBCODE MDR/SCTM/26070</span></a>

        </div>
        <div class="time-bock"><span class="time-bock-inner">34 mins ag</span><span class="material-icons">textsms</span></div>
    </div>
</div>
<!-- \\ End live feed -->
<!--  live feed -->
<div class="live-feed-block">
    <div class="chats-accordion-title clearfix">
        <div class="chats-images">
            <div class="image-block"><img src="./assets/images/F1.png" alt="" /></div>
        </div>
        <div class="chats-accordion-summary">
            <span class="text-cell">Hiring Manager</span>
            <span class="font-bold text-nowrap-grad-white">Nidhi Verma</span>
        </div>
        <div class="live-feed-summary"><a href="#" data-toggle="tooltip" data-placement="bottom" title="3 new updates">Published Aviation Manager<span class="purple-color"> #JOBCODE MDR/HDE/20230</span> to the Candidate Portal</a>

        </div>
        <div class="time-bock"><span class="time-bock-inner">02:13 pm</span><span class="material-icons">textsms</span></div>
    </div>
</div>
<!-- \\ End live feed -->
<!--  live feed -->
<div class="live-feed-block">
    <div class="chats-accordion-title clearfix">
        <div class="chats-images">
            <div class="image-block"><img src="./assets/images/F2.png" alt="" /></div>
        </div>
        <div class="chats-accordion-summary">
            <span class="text-cell">Hiring Manager</span>
            <span class="font-bold text-nowrap-grad-white">Poonam Sharma</span>
        </div>
        <div class="live-feed-summary"><a href="#" data-toggle="tooltip" data-placement="bottom" title="2 new updates">Created a new job — Aviation Manager<span class="purple-color"> #JOBCODE MDR/SSIE/829</span></a>

        </div>
        <div class="time-bock"><span class="time-bock-inner">2:00 pm</span><span class="material-icons">textsms</span></div>
    </div>
</div>
<!-- \\ End live feed -->
<!--  live feed -->
<div class="live-feed-block">
    <div class="chats-accordion-title clearfix">
        <div class="chats-images">
            <div class="image-block"><img src="./assets/images/pic004.png" alt="" /></div>
        </div>
        <div class="chats-accordion-summary">
            <span class="text-cell">Hiring Manager</span>
            <span class="font-bold text-nowrap-grad-white">Ganesh Singh</span>
        </div>
        <div class="live-feed-summary"><a href="#" data-toggle="tooltip" data-placement="bottom" title="1 new updates">Closed job — Aviation Manager<span class="purple-color"> #JOBCODE MDR/SE/12079</span></a>

        </div>
        <div class="time-bock"><span class="time-bock-inner">1:35 pm</span><span class="material-icons">textsms</span></div>
    </div>
</div>
<!-- \\ End live feed -->
<!--  live feed -->
<div class="live-feed-block">
    <div class="chats-accordion-title clearfix">
        <div class="chats-images">
            <div class="image-block"><img src="./assets/images/F4.png" alt="" /></div>
        </div>
        <div class="chats-accordion-summary">
            <span class="text-cell">Hiring Manager</span>
            <span class="font-bold text-nowrap-grad-white">Anjali Sinha</span>
        </div>
        <div class="live-feed-summary"><a href="#" data-toggle="tooltip" data-placement="bottom" title="2 new updates">Added 4 openings to Aviation Manager<span class="purple-color"> #JOBCODE MDR/SSE/20935</span></a>

        </div>
        <div class="time-bock"><span class="time-bock-inner">1:34 pm, 4 jan 2016</span><span class="material-icons">textsms</span></div>
    </div>
</div>
<!-- \\ End live feed -->
<!--  live feed -->
<div class="live-feed-block">
    <div class="chats-accordion-title clearfix">
        <div class="chats-images">
            <div class="image-block"><img src="./assets/images/F6.png" alt="" /></div>
        </div>
        <div class="chats-accordion-summary">
            <span class="text-cell">Hiring Manager</span>
            <span class="font-bold text-nowrap-grad-white">Jyoti Kumari</span>
        </div>
        <div class="live-feed-summary"><a href="#" data-toggle="tooltip" data-placement="bottom" title="2 new updates">Scheduled interview for 20 candidates for Aviation Manager <span class="purple-color"> #JOBCODE MDR/SE/218354</span></a>

        </div>
        <div class="time-bock"><span class="time-bock-inner">10:22 am</span> <span class="material-icons">textsms</span></div>
    </div>
</div>
<!-- \\ End live feed -->