<div class="popup-custome-section">
    <!--Section popup -->
    <div class="popup-top clearfix" mat-dialog-title>
        <h2 class="title-sub">Preview Offer Letter</h2>
        <span class="material-icons close" (click)="dialogRef.close('Cancel')">close</span>
    </div>
    <div class="vertical-scroll-ng" slimScroll mat-dialog-content>
        <div class="popup-content">
            <div [innerHTML]=response?.response></div>
        </div>
    </div>
    <div class="btn-row text-right" mat-dialog-actions>
        <button type="button" class="btn btn-white" (click)="dialogRef.close('Cancel')">cancel</button>
    </div>
    <!--end section popup-->
</div>