<!--  Tab Day Details-->
                        <div id="tab1" class="tasks-containts">
                        	<ul class="list-reset tasks-table-row">
                            	<li class="task-td task-td01 vertical-md">
                                    <div class="task-roted-text">
                                        <span class="doted"></span>
                                        <span class="task-text">Parking</span>
                                    </div>
                                </li>
                                <li class="task-td">
                                	<div class="section-today-task clearfix">
                                		<!--  task block-->
                                        <div class="today-task-block drag-drop-task">
                                            <div class="today-task-block-inner">
                                                <div class="today-task-title clearfix">
                                                    <h3 class="title-12 fl-left text-wrap"><a class="link" href="#">Approve job</a></h3> 
                                                    <span class="move-question fl-right">open_with</span>                                                                                          
                                                 </div>
                                                <div class="today-task-details">
                                                    <span class="job-status job-active"></span>
                                                    <h3 class="title-12 fl-left only-show-mobile"><a class="link" href="#">Approve job</a></h3>
                                                    <div class="common-cell text-nowrap-cell">
                                                        <span class="name-cell text-wrap">Testing Engineer</span> 
                                                        <ul class="list-reset listing-inline">
                                                            <li>MDR/STE/72756</li>
                                                            <li>New Delhi</li>                                                  
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    	<!-- \\ End task block-->
                                        <!--  task block-->
                                        <div class="today-task-block drag-drop-task">
                                            <div class="today-task-block-inner">
                                                <div class="today-task-title clearfix">
                                                    <h3 class="title-12 fl-left text-wrap"><a class="link" href="#">New job assigned</a></h3> 
                                                    <span class="move-question fl-right">open_with</span>                                                                                          
                                                 </div>
                                                <div class="today-task-details">
                                                    <span class="job-status job-active"></span>
                                                    <h3 class="title-12 fl-left only-show-mobile"><a class="link" href="#">New job assigned</a></h3>
                                                    <div class="common-cell text-nowrap-cell">
                                                        <span class="name-cell text-wrap">Assistant Manager - Secretarial Compliance</span> 
                                                        <ul class="list-reset listing-inline">
                                                            <li>MDR/AMSC/72661</li>
                                                            <li>Gurgaon</li>                                                  
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- \\ End task block-->
                                        <!--  task block-->
                                        <div class="today-task-block drag-drop-task">
                                            <div class="today-task-block-inner">
                                                <div class="today-task-title clearfix">
                                                    <h3 class="title-12 fl-left text-wrap"><a class="link" href="#">Shortlist 5 candidates</a></h3> 
                                                    <span class="move-question fl-right">open_with</span>                                                                                          
                                                 </div>
                                                <div class="today-task-details">
                                                    <span class="job-status job-active"></span>
                                                    <h3 class="title-12 fl-left only-show-mobile"><a class="link" href="#">Shortlist 5 candidates</a></h3>
                                                    <div class="common-cell text-nowrap-cell">
                                                        <span class="name-cell text-wrap">Senior Application Support Engineer</span> 
                                                        <ul class="list-reset listing-inline">
                                                            <li>MDR/SASE/72660</li>
                                                            <li>Bengaluru</li>                                                  
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- \\ End task block-->
                                        <!--  task block-->
                                        <div class="today-task-block drag-drop-task">
                                            <div class="today-task-block-inner">
                                                <div class="today-task-title clearfix">
                                                    <h3 class="title-12 fl-left text-wrap"><a class="link" href="#">Job target date</a></h3> 
                                                    <span class="move-question fl-right">open_with</span>                                                                                          
                                                 </div>
                                                <div class="today-task-details">
                                                    <span class="job-status job-active"></span>
                                                    <h3 class="title-12 fl-left only-show-mobile"><a class="link" href="#">Job target date</a></h3>
                                                    <div class="common-cell text-nowrap-cell">
                                                        <span class="name-cell text-wrap">Senior consultant technology management</span> 
                                                        <ul class="list-reset listing-inline">
                                                            <li>MDR/SCTM/72660</li>
                                                            <li>New Delhi</li>                                                  
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- \\ End task block-->
                                        <!--  task block-->
                                        <div class="today-task-block drag-drop-task">
                                            <div class="today-task-block-inner">
                                                <div class="today-task-title clearfix">
                                                    <h3 class="title-12 fl-left text-wrap"><a class="link" href="#">3 salary fitment rejections</a></h3> 
                                                    <span class="move-question fl-right">open_with</span>                                                                                          
                                                 </div>
                                                <div class="today-task-details">
                                                    <span class="job-status job-active"></span>
                                                    <h3 class="title-12 fl-left only-show-mobile"><a class="link" href="#">3 salary fitment rejections</a></h3>
                                                    <div class="common-cell text-nowrap-cell">
                                                        <span class="name-cell text-wrap">Function Leader - Account Management </span> 
                                                        <ul class="list-reset listing-inline">
                                                            <li>MDR/FLAM/72659</li>
                                                            <li>Ranchi</li>                                                  
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- \\ End task block-->
                                        <!--  task block-->
                                        <div class="today-task-block drag-drop-task">
                                            <div class="today-task-block-inner">
                                                <div class="today-task-title clearfix">
                                                    <h3 class="title-12 fl-left text-wrap"><a class="link" href="#">Job rejected</a></h3> 
                                                    <span class="move-question fl-right">open_with</span>                                                                                          
                                                 </div>
                                                <div class="today-task-details">
                                                    <span class="job-status job-active"></span>
                                                    <h3 class="title-12 fl-left only-show-mobile"><a class="link" href="#">Job rejected</a></h3>
                                                    <div class="common-cell text-nowrap-cell">
                                                        <span class="name-cell text-wrap">Tech Lead - Testing </span> 
                                                        <ul class="list-reset listing-inline">
                                                            <li>MDR/TLT/72650</li>
                                                            <li>Mumbai</li>                                                  
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- \\ End task block-->
                                        <!--  task block-->
                                        <div class="today-task-block drag-drop-task">
                                            <div class="today-task-block-inner">
                                                <div class="today-task-title clearfix">
                                                    <h3 class="title-12 fl-left text-wrap"><a class="link" href="#">5 offer rejections</a></h3> 
                                                    <span class="move-question fl-right">open_with</span>                                                                                          
                                                 </div>
                                                <div class="today-task-details">
                                                    <span class="job-status job-active"></span>
                                                    <h3 class="title-12 fl-left only-show-mobile"><a class="link" href="#">5 offer rejections</a></h3>
                                                    <div class="common-cell text-nowrap-cell">
                                                        <span class="name-cell text-wrap">Senior HR Associate </span> 
                                                        <ul class="list-reset listing-inline">
                                                            <li>MDR/SHRA/72648</li>
                                                            <li>Chandigarh</li>                                                  
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- \\ End task block-->
                                        <!--  task block-->
                                        <div class="today-task-block drag-drop-task">
                                            <div class="today-task-block-inner">
                                                <div class="today-task-title clearfix">
                                                    <h3 class="title-12 fl-left text-wrap"><a class="link" href="#">Job target date</a></h3> 
                                                    <span class="move-question fl-right">open_with</span>                                                                                          
                                                 </div>
                                                <div class="today-task-details">
                                                    <span class="job-status job-active"></span>
                                                    <h3 class="title-12 fl-left only-show-mobile"><a class="link" href="#">Job target date</a></h3>
                                                    <div class="common-cell text-nowrap-cell">
                                                        <span class="name-cell text-wrap">UI Engineer</span> 
                                                        <ul class="list-reset listing-inline">
                                                            <li>MDR/UIE/72647</li>
                                                            <li>Shimla</li>                                                  
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- \\ End task block-->
                                        <!--  task block-->
                                        <div class="today-task-block drag-drop-task">
                                            <div class="today-task-block-inner">
                                                <div class="today-task-title clearfix">
                                                    <h3 class="title-12 fl-left text-wrap"><a class="link" href="#">Approve fitment for 5 candidates</a></h3> 
                                                    <span class="move-question fl-right">open_with</span>                                                                                          
                                                 </div>
                                                <div class="today-task-details">
                                                    <span class="job-status job-active"></span>
                                                    <h3 class="title-12 fl-left only-show-mobile"><a class="link" href="#">Approve fitment for 5 candidates</a></h3>
                                                    <div class="common-cell text-nowrap-cell">
                                                        <span class="name-cell text-wrap">Senior Software Engineer Java</span> 
                                                        <ul class="list-reset listing-inline">
                                                            <li>MDR/SSEJ/72646</li>
                                                            <li>Bengaluru</li>                                                  
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- \\ End task block-->
                                    </div>
                                 </li>
 							</ul>
                            <ul class="list-reset tasks-table-row">
                            	<li class="task-td task-td01">
                                    <span class="task-text">09:00 </span>
                                    <span class="clock-cell">am</span>
                                </li>
                                <li class="task-td">&nbsp;</li>
                            </ul>
                            <ul class="list-reset tasks-table-row">
                            	<li class="task-td task-td01">
                                    <span class="task-text">10:00 </span>
                                    <span class="clock-cell">am</span>
                                </li>
                                <li class="task-td">&nbsp;</li>
                            </ul>
                            <ul class="list-reset tasks-table-row">
                            	<li class="task-td task-td01">
                                    <span class="task-text">11:00 </span>
                                    <span class="clock-cell">am</span>
                                    <span class="doted doted-purple"></span>
                                </li>
                                <li class="task-td">
                                	<div class="section-today-task clearfix">
                                    	<!--  task block-->
                                        <div class="today-task-block task-remainder">
                                            <div class="today-task-block-inner">
                                               <div class="today-task-details">
                                                    <span class="job-status job-active"></span>
                                                    <div class="common-cell text-nowrap-cell">
                                                        <span class="name-cell font-bold text-wrap">Technical Lead Java</span> 
                                                        <ul class="list-reset listing-inline">
                                                            <li>MDR/TL/72645</li> 
                                                            <li>New Delhi</li>                                                  
                                                        </ul>
                                                        <div class="task-remainde-block">
                                                        	<a href="#" class="task-remainde-icon dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="material-icons dp20">alarm_add</span></a>
                                                            <ul class="list-reset dropdown-6 dropdown-style">
                                                                <li><a href="#">05 mins before</a></li>
                                                                <li><a href="#">15 mins before</a></li>
                                                                <li><a href="#">30 mins before</a></li>
                                                                <li><a href="#">45 mins before</a></li>
                                                                <li><a href="#">55 mins before</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- \\ End task block-->
                                    </div>
                                	<div class="section-today-task clearfix">
                                    	<!--  task block-->
                                        <div class="today-task-block">
                                            <div class="today-task-block-inner">
                                                <div class="today-task-title clearfix">
                                                    <div class="image-block">
                                                        <img src="./assets/images/F5.png" alt="card name">                                                
                                                    </div>
                                                    <span class="material-icons flag-icon">flag</span>
                                                    <div class="title-cell text-nowrap-cell">
                                                     <h3 class="title-12 text-wrap"><a class="link" href="#">Shweta Pathak</a></h3> 
                                                        <ul class="list-reset listing-inline">
                                                            <li>MDR/S/72846</li> 
                                                            <li>Chandigarh</li>                                                  
                                                        </ul>                                                
                                                    </div>
                                                </div>
                                                <div class="today-task-details">
                                                    <span class="dp18 material-icons">people</span>
                                                    <div class="common-cell">
                                                        <span class="font-bold">11:05 - 11:10 am</span> 
                                                        <span class="text-cell">PeopleStrong, Conference Room 4</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- \\ End task block-->
                                        <!--  task block-->
                                        <div class="today-task-block">
                                            <div class="today-task-block-inner">
                                                <div class="today-task-title clearfix">
                                                    <div class="image-block">
                                                        <img src="./assets/images/F7.png" alt="card name">                                                
                                                    </div>
                                                    <span class="material-icons flag-icon">flag</span>
                                                    <div class="title-cell text-nowrap-cell">
                                                     <h3 class="title-12 text-wrap"><a class="link" href="#">Pooja Sharma</a></h3> 
                                                        <ul class="list-reset listing-inline">
                                                            <li>MDR/M/72829</li> 
                                                            <li>Chennai</li>                                                  
                                                        </ul>                                                
                                                    </div>
                                                </div>
                                                <div class="today-task-details">
                                                    <span class="dp18 material-icons">people</span>
                                                    <div class="common-cell">
                                                        <span class="font-bold">11:20 - 11:30 am</span> 
                                                        <span class="text-cell">PeopleStrong, Conference Room 3</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- \\ End task block-->
                                        <!--  task block-->
                                        <div class="today-task-block">
                                            <div class="today-task-block-inner">
                                                <div class="today-task-title clearfix">
                                                    <div class="image-block">
                                                        <img src="./assets/images/M7.png" alt="card name">                                                
                                                    </div>
                                                    <span class="material-icons flag-icon">flag</span>
                                                    <div class="title-cell text-nowrap-cell">
                                                     <h3 class="title-12 text-wrap"><a class="link" href="#">Raj Kumar</a></h3> 
                                                        <ul class="list-reset listing-inline">
                                                            <li>MDR/B/72828</li> 
                                                            <li>Lucknow</li>                                                  
                                                        </ul>                                                
                                                    </div>
                                                </div>
                                                <div class="today-task-details">
                                                    <span class="dp18 material-icons">people</span>
                                                    <div class="common-cell">
                                                        <span class="font-bold">11:25 - 11:35 am</span> 
                                                        <span class="text-cell">PeopleStrong, Conference Room 5</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- \\ End task block-->
                                        <!--  task block-->
                                        <div class="today-task-block">
                                            <div class="today-task-block-inner">
                                                <div class="today-task-title clearfix">
                                                    <div class="image-block">
                                                        <img src="./assets/images/M3.png" alt="card name">                                                
                                                    </div>
                                                    <span class="material-icons flag-icon">flag</span>
                                                    <div class="title-cell text-nowrap-cell">
                                                     <h3 class="title-12 text-wrap"><a class="link" href="#">Mohan Singh</a></h3> 
                                                        <ul class="list-reset listing-inline">
                                                            <li>MDR/M/72830</li> 
                                                            <li>Kolkata</li>                                                  
                                                        </ul>                                                
                                                    </div>
                                                </div>
                                                <div class="today-task-details">
                                                    <span class="dp18 material-icons">people</span>
                                                    <div class="common-cell">
                                                        <span class="font-bold">11:30 - 11:40 am</span> 
                                                        <span class="text-cell">PeopleStrong, Conference Room 4</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- \\ End task block-->
                                    </div>
                                    <div class="section-today-task clearfix">
                                    	<!--  task block-->
                                        <div class="today-task-block task-remainder">
                                            <div class="today-task-block-inner">
                                               <div class="today-task-details">
                                                    <span class="job-status job-active"></span>
                                                    <div class="common-cell text-nowrap-cell">
                                                        <span class="name-cell font-bold text-wrap">Senior UX designer </span> 
                                                        <ul class="list-reset listing-inline">
                                                            <li>MDR/SUXD/72980</li> 
                                                            <li>Gurgaon</li>                                                  
                                                        </ul>
                                                        <div class="task-remainde-block">
                                                        	<a href="#" class="task-remainde-icon dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="material-icons dp20">alarm_add</span></a>
                                                            <ul class="list-reset dropdown-6 dropdown-style">
                                                                <li><a href="#">05 mins before</a></li>
                                                                <li><a href="#">15 mins before</a></li>
                                                                <li><a href="#">30 mins before</a></li>
                                                                <li><a href="#">45 mins before</a></li>
                                                                <li><a href="#">55 mins before</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- \\ End task block-->
                                    </div>
                                    <div class="section-today-task clearfix">
                                    	<!--  task block-->
                                        <div class="today-task-block">
                                            <div class="today-task-block-inner">
                                                <div class="today-task-title clearfix">
                                                    <div class="image-block">
                                                        <img src="./assets/images/pic001.png" alt="card name">                                                
                                                    </div>
                                                    <span class="material-icons flag-icon">flag</span>
                                                    <div class="title-cell text-nowrap-cell">
                                                     <h3 class="title-12 text-wrap"><a class="link" href="#">Pankaj Matela</a></h3> 
                                                        <ul class="list-reset listing-inline">
                                                            <li>MDR/JRINGC/72874</li> 
                                                            <li>Gujarat</li>                                                  
                                                        </ul>                                                
                                                    </div>
                                                </div>
                                                <div class="today-task-details">
                                                    <span class="dp18 material-icons">people</span>
                                                    <div class="common-cell">
                                                        <span class="font-bold">11:35 - 11:45 am</span> 
                                                        <span class="text-cell">PeopleStrong, Conference Room 1</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- \\ End task block-->
                                        <!--  task block-->
                                        <div class="today-task-block">
                                            <div class="today-task-block-inner">
                                                <div class="today-task-title clearfix">
                                                    <div class="image-block">
                                                        <img src="./assets/images/pic002.png" alt="card name">                                                
                                                    </div>
                                                    <span class="material-icons flag-icon">flag</span>
                                                    <div class="title-cell text-nowrap-cell">
                                                     <h3 class="title-12 text-wrap"><a class="link" href="#">Kunal Singh</a></h3> 
                                                        <ul class="list-reset listing-inline">
                                                            <li>MDR/TE/72867</li> 
                                                            <li>Haryana</li>                                                  
                                                        </ul>                                                
                                                    </div>
                                                </div>
                                                <div class="today-task-details">
                                                    <span class="dp18 material-icons">people</span>
                                                    <div class="common-cell">
                                                        <span class="font-bold">11:36 - 11:55 am</span> 
                                                        <span class="text-cell">PeopleStrong, Conference Room 2</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- \\ End task block-->
                                        <!--  task block-->
                                        <div class="today-task-block">
                                            <div class="today-task-block-inner">
                                                <div class="today-task-title clearfix">
                                                    <div class="image-block">
                                                        <img src="./assets/images/F4.png" alt="card name">                                                
                                                    </div>
                                                    <span class="material-icons flag-icon">flag</span>
                                                    <div class="title-cell text-nowrap-cell">
                                                     <h3 class="title-12 text-wrap"><a class="link" href="#">Prachi Bansal</a></h3> 
                                                        <ul class="list-reset listing-inline">
                                                            <li>MDR/D/72850</li> 
                                                            <li>Maharashtra</li>                                                  
                                                        </ul>                                                
                                                    </div>
                                                </div>
                                                <div class="today-task-details">
                                                    <span class="dp18 material-icons">people</span>
                                                    <div class="common-cell">
                                                        <span class="font-bold">11:40 - 11:50 am</span> 
                                                        <span class="text-cell">PeopleStrong, Conference Room 3</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- \\ End task block-->
                                        <!--  task block-->
                                        <div class="today-task-block">
                                            <div class="today-task-block-inner">
                                                <div class="today-task-title clearfix">
                                                    <div class="image-block">
                                                        <img src="./assets/images/M1.png" alt="card name">                                                
                                                    </div>
                                                    <span class="material-icons flag-icon">flag</span>
                                                    <div class="title-cell text-nowrap-cell">
                                                     <h3 class="title-12 text-wrap"><a class="link" href="#">Amit Kumar</a></h3> 
                                                        <ul class="list-reset listing-inline">
                                                            <li>MDR/E/72848</li> 
                                                            <li>Jaipur</li>                                                  
                                                        </ul>                                                
                                                    </div>
                                                </div>
                                                <div class="today-task-details">
                                                    <span class="dp18 material-icons">people</span>
                                                    <div class="common-cell">
                                                        <span class="font-bold">11:20 - 11:35 am</span> 
                                                        <span class="text-cell">PeopleStrong, Conference Room 4</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- \\ End task block-->
                                    </div>
                                </li>
                              </ul>
                            <ul class="list-reset tasks-table-row">
                            	<li class="task-td task-td01">
                                    <span class="task-text">12:00 </span>
                                    <span class="clock-cell">pm</span>
                                </li>
                                <li class="task-td">&nbsp;</li>
                            </ul>
                            <ul class="list-reset tasks-table-row">
                            	<li class="task-td task-td01">
                                    <span class="task-text">01:00 </span>
                                    <span class="clock-cell">pm</span>
                                </li>
                                <li class="task-td">&nbsp;</li>
                            </ul>
                            <ul class="list-reset tasks-table-row">
                            	<li class="task-td task-td01">
                                    <span class="task-text">02:00 </span>
                                    <span class="clock-cell">pm</span>
                                </li>
                                <li class="task-td">&nbsp;</li>
                            </ul>
                            <ul class="list-reset tasks-table-row">
                            	<li class="task-td task-td01">
                                    <span class="task-text">03:00 </span>
                                    <span class="clock-cell">pm</span>
                                </li>
                                <li class="task-td">&nbsp;</li>
                            </ul>
                            <ul class="list-reset tasks-table-row">
                            	<li class="task-td task-td01">
                                    <span class="task-text">04:00 </span>
                                    <span class="clock-cell">pm</span>
                                    <span class="doted doted-purple"></span>
                                    <span class="doted"></span>
                                </li>
                                <li class="task-td">
                                	<div class="section-today-task clearfix">
                                    	<!--  task block-->
                                        <div class="today-task-block task-remainder">
                                            <div class="today-task-block-inner">
                                               <div class="today-task-details">
                                                    <span class="job-status job-active"></span>
                                                    <div class="common-cell text-nowrap-cell">
                                                        <span class="name-cell font-bold text-wrap">Senior database administrator</span> 
                                                        <ul class="list-reset listing-inline">
                                                            <li>MDR/SDA/72644</li> 
                                                            <li>Gurgaon</li>                                                  
                                                        </ul>
                                                        <div class="task-remainde-block">
                                                        	<a href="#" class="task-remainde-icon dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="material-icons dp20">alarm_add</span></a>
                                                            <ul class="list-reset dropdown-6 dropdown-style">
                                                                <li><a href="#">05 mins before</a></li>
                                                                <li><a href="#">15 mins before</a></li>
                                                                <li><a href="#">30 mins before</a></li>
                                                                <li><a href="#">45 mins before</a></li>
                                                                <li><a href="#">55 mins before</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- \\ End task block-->
                                    </div>
                                	<div class="section-today-task clearfix">
                                    	<!--  task block-->
                                        <div class="today-task-block">
                                            <div class="today-task-block-inner">
                                                <div class="today-task-title clearfix">
                                                    <div class="image-block">
                                                        <img src="./assets/images/F1.png" alt="card name">                                                
                                                    </div>
                                                    <span class="material-icons flag-icon">flag</span>
                                                    <div class="title-cell text-nowrap-cell">
                                                     <h3 class="title-12 text-wrap"><a class="link" href="#">Anamika Yadav</a></h3> 
                                                        <ul class="list-reset listing-inline">
                                                            <li>MDR/BBAJ/72625</li> 
                                                            <li>New Delhi</li>                                                  
                                                        </ul>                                                
                                                    </div>
                                                </div>
                                                <div class="today-task-details">
                                                    <span class="dp18 material-icons">people</span>
                                                    <div class="common-cell">
                                                        <span class="font-bold">04:05 - 04:25 pm</span> 
                                                        <span class="text-cell">PeopleStrong, Conference Room 2</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- \\ End task block-->
                                        <!--  task block-->
                                        <div class="today-task-block">
                                            <div class="today-task-block-inner">
                                                <div class="today-task-title clearfix">
                                                    <div class="image-block">
                                                        <img src="./assets/images/F2.png" alt="Trupti Ghuge">                                                
                                                    </div>
                                                    <span class="material-icons flag-icon">flag</span>
                                                    <div class="title-cell text-nowrap-cell">
                                                     <h3 class="title-12 text-wrap"><a class="link" href="#">Trupti Ghuge</a></h3> 
                                                        <ul class="list-reset listing-inline">
                                                            <li>MDR/A/72590</li> 
                                                            <li>Gurgaon</li>                                                  
                                                        </ul>                                                
                                                    </div>
                                                </div>
                                                <div class="today-task-details">
                                                    <span class="dp18 material-icons">people</span>
                                                    <div class="common-cell">
                                                        <span class="font-bold">04:15 - 04:30 pm</span> 
                                                        <span class="text-cell">PeopleStrong, Conference Room 2</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- \\ End task block-->
                                        <!--  task block-->
                                        <div class="today-task-block">
                                            <div class="today-task-block-inner">
                                                <div class="today-task-title clearfix">
                                                    <div class="image-block">
                                                        <img src="./assets/images/M5.png" alt="card name">                                                
                                                    </div>
                                                    <span class="material-icons flag-icon">flag</span>
                                                    <div class="title-cell text-nowrap-cell">
                                                     <h3 class="title-12 text-wrap"><a class="link" href="#">Upendra Singh</a></h3> 
                                                        <ul class="list-reset listing-inline">
                                                            <li>MDR/JDY/72560</li> 
                                                            <li>Jaipur</li>                                                  
                                                        </ul>                                                
                                                    </div>
                                                </div>
                                                <div class="today-task-details">
                                                    <span class="dp18 material-icons">people</span>
                                                    <div class="common-cell">
                                                        <span class="font-bold">04:35 - 04:55 pm</span> 
                                                        <span class="text-cell">PeopleStrong, Conference Room 4</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- \\ End task block-->
                                        <!--  task block-->
                                        <div class="today-task-block">
                                            <div class="today-task-block-inner">
                                                <div class="today-task-title clearfix">
                                                    <div class="image-block">
                                                        <img src="./assets/images/M6.png" alt="card name">                                                
                                                    </div>
                                                    <span class="material-icons flag-icon">flag</span>
                                                    <div class="title-cell text-nowrap-cell">
                                                     <h3 class="title-12 text-wrap"><a class="link" href="#">Naresh Kumar</a></h3> 
                                                        <ul class="list-reset listing-inline">
                                                            <li>MDR/DMM/72383</li> 
                                                            <li>Bengaluru</li>                                                  
                                                        </ul>                                                
                                                    </div>
                                                </div>
                                                <div class="today-task-details">
                                                    <span class="dp18 material-icons">people</span>
                                                    <div class="common-cell">
                                                        <span class="font-bold">04:30 - 04:50 pm</span> 
                                                        <span class="text-cell">PeopleStrong, Conference Room 3</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- \\ End task block-->
                                        <div class="today-task-block drag-drop-task">
                                            <div class="today-task-block-inner">
                                                <div class="today-task-title clearfix">
                                                    <h3 class="title-12 fl-left text-wrap"><a class="link" href="#">Approve job</a></h3> 
                                                    <span class="move-question fl-right">open_with</span>                                                                                          
                                                 </div>
                                                <div class="today-task-details">
                                                    <span class="job-status job-active"></span>
                                                    <div class="common-cell text-nowrap-cell">
                                                        <span class="name-cell text-wrap">Function Leader - Transitions & Consulting </span> 
                                                        <ul class="list-reset listing-inline">
                                                            <li>MDR/FLTC/72405</li> 
                                                            <li>New Delhi</li>                                                  
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                 </li>
                              </ul>
                              <ul class="list-reset tasks-table-row">
                            	<li class="task-td task-td01">
                                    <span class="task-text">05:00 </span>
                                    <span class="clock-cell">pm</span>
                                </li>
                                <li class="task-td">&nbsp;</li>
                            </ul>
                            <ul class="list-reset tasks-table-row">
                            	<li class="task-td task-td01">
                                    <span class="task-text">06:00 </span>
                                    <span class="clock-cell">pm</span>
                                </li>
                                <li class="task-td">&nbsp;</li>
                            </ul>
                            <ul class="list-reset tasks-table-row">
                            	<li class="task-td task-td01">
                                    <span class="task-text">07:00 </span>
                                    <span class="clock-cell">pm</span>
                                </li>
                                <li class="task-td">&nbsp;</li>
                            </ul>
                        </div>
                        <!-- \\ End Tab Day Details-->