<div class="panel-full">
	<div class="panel panel-open">
		<div class="panel-heading clearfix">
			<h2 class="panel-title fl-left">{{security?.workflowSectionLabel}}</h2>
			<!--<span class="mdi mdi-chevron-down fl-right"></span>-->
		</div>
		<div class="panel-body" *ngIf="checkData==0">{{'common.label.noDataAvailable' | translate}}</div>
		<div class="panel-body padding-b10" *ngIf="checkData>0 && security?.workflowTypeRendered">
			<div class="panel-row clearfix">
				<div class="panel-fixed">{{security?.workflowTypeLabel}}</div>
			</div>
			{{workflowNotificationData.workflowType}}
		</div>
	</div>
</div>