<alt-loader *ngIf="showloader"></alt-loader>
<!--  Offer Pending-->
<div class="panel-full">
    <div class="panel {{toggleOpen?'panel-open':''}}">
        <div class="panel-heading clearfix">
            <h2 class="panel-title fl-left text-capitalize">
                <span class="count_Icon">{{inputData.sequence}}</span>{{inputData.workflowStageName}}
                <span class="text-step-cell">{{inputData.actionLabel}}</span>
            </h2>
            <div class="icon_group_right">
                <span *ngIf="offerLetterDownloadPath != null && offerLetterDownloadPath != ''">
                    <a href="{{offerLetterDownloadPath}}" class="material-icons" target="_blank">file_download</a>
                </span>
                <span class="mdi mdi-chevron-down" (click)="toggleDiv()"></span>
            </div>
        </div>
        <div class="panel-body" *ngIf="toggleOpen">
            <form [formGroup]="offerForm">
                <!--   Choose offer template  -->
                <div class="item_list candidate-detail-field">
                    <div class="candidate-tab-detail-block margin-pad-none">
                        <div class="candidate-tab-detail-inner clearfix">
                            <div class="form-group row2" *ngIf="(security?.gradeRendered) || (security?.designationRendered) || (security?.employmentTypeRendered)">
                                <div class="col-md-4 col-md-4-padding10" *ngIf="security?.gradeRendered">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="control-label clearfix">{{security?.gradeLabel}}
                                                <span *ngIf="security?.gradeRequired">*</span>
                                            </label>
                                            <div class="dropdown-11 list-block">
                                                <alt-custom-single-select #GRADE [srcTag]="'GRADETAG'" (clickToClose)="GRADE.toggleClose()" [searchEnable]="true" [inputList]="gradeList"
                                                    [value]="offerForm.controls['grade'].value" placeholder="{{'common.label.selectGrade' | translate}}" (valueBind)="offerForm.controls['grade'].setValue($event.value)"
                                                    [isDisabled]="security?.gradeDisabled">
                                                </alt-custom-single-select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-md-4-padding10" *ngIf="security?.designationRendered">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="control-label clearfix">{{security?.designationLabel}}
                                                <span *ngIf="security?.designationRequired">*</span>
                                            </label>
                                            <div class="dropdown-11 list-block">
                                                <alt-custom-single-select #DESIGNATION [srcTag]="'DESIGNATIONTAG'" (clickToClose)="DESIGNATION.toggleClose()" [searchEnable]="true"
                                                    [inputList]="designationList" [value]="offerForm.controls['designation'].value"
                                                    placeholder="{{'common.label.selectDesignation' | translate}}" (valueBind)="offerForm.controls['designation'].setValue($event.value)"
                                                    [isDisabled]="security?.designationDisabled">
                                                </alt-custom-single-select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-md-4-padding10" *ngIf="security?.employmentTypeRendered">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="control-label clearfix">{{security?.employmentTypeLabel}}
                                                <span *ngIf="security?.employmentTypeRequired">*</span>
                                            </label>
                                            <div class="dropdown-11 list-block">
                                                <alt-custom-single-select #EMPLOYMENTTYPE [srcTag]="'EMPLOYMENTTYPETAG'" (clickToClose)="EMPLOYMENTTYPE.toggleClose()" [inputList]="employmentTypeList"
                                                    [value]="offerForm.controls['employmentType'].value" placeholder="{{'common.label.selectEmploymentType' | translate}}"
                                                    (valueBind)="offerForm.controls['employmentType'].setValue($event.value)"
                                                    [isDisabled]="security?.employmentTypeDisabled" [searchEnable]="true">
                                                </alt-custom-single-select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row2" *ngIf="(security?.hrManagerRendered) || (security?.l1ManagerRendered) || (security?.l2ManagerRendered)">
                                <div class="col-md-4 col-md-4-padding10" *ngIf="security?.hrManagerRendered">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="control-label clearfix">{{security?.hrManagerLabel}}
                                                <span *ngIf="security?.hrManagerRequired">*</span>
                                            </label>
                                            <div class="dropdown-11 list-block">
                                                <alt-custom-single-select #HRMANAGER [srcTag]="'HRMANAGERTAG'" (clickToClose)="HRMANAGER.toggleClose()" [searchEnable]="true"
                                                    [inputList]="hrManagerList" [value]="offerForm.controls['hrManager'].value"
                                                    placeholder="{{'common.label.selectHRManager' | translate}}" (valueBind)="offerForm.controls['hrManager'].setValue($event.value)"
                                                    [isDisabled]="security?.hrManagerDisabled">
                                                </alt-custom-single-select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-md-4-padding10" *ngIf="security?.l1ManagerRendered">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="control-label clearfix">{{security?.l1ManagerLabel}}
                                                <span *ngIf="security?.l1ManagerRequired">*</span>
                                            </label>
                                            <div class="dropdown-11 list-block">
                                                <alt-custom-single-select #L1MANAGER [srcTag]="'L1MANAGERTAG'" (clickToClose)="L1MANAGER.toggleClose()" [searchEnable]="true"
                                                    [inputList]="l1ManagerList" [value]="offerForm.controls['l1Manager'].value"
                                                    placeholder="{{'common.label.selectL1Manager' | translate}}" (valueBind)="offerForm.controls['l1Manager'].setValue($event.value)"
                                                    [isDisabled]="security?.l1ManagerDisabled">
                                                </alt-custom-single-select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-md-4-padding10" *ngIf="security?.l2ManagerRendered">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="control-label clearfix">{{security?.l2ManagerLabel}}
                                                <span *ngIf="security?.l2ManagerRequired">*</span>
                                            </label>
                                            <div class="dropdown-11 list-block">
                                                <alt-custom-single-select #L2MANAGER [srcTag]="'L2MANAGERTAG'" (clickToClose)="L2MANAGER.toggleClose()" [searchEnable]="true"
                                                    [inputList]="l2ManagerList" [value]="offerForm.controls['l2Manager'].value"
                                                    placeholder="{{'common.label.selectL2Manager' | translate}}" (valueBind)="offerForm.controls['l2Manager'].setValue($event.value)"
                                                    [isDisabled]="security?.l2ManagerDisabled">
                                                </alt-custom-single-select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row2" *ngIf="(security?.ctcRendered) || (security?.employeeCodeRendered) || (security?.expectedJoiningDateRendered)">
                                <div class="col-md-4 col-md-4-padding10" *ngIf="security?.ctcRendered">
                                    <label class="control-label clearfix">{{security?.ctcLabel}}
                                        <span *ngIf="security?.ctcRequired">*</span>
                                    </label>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input class="form-control" placeholder="{{'common.label.ctc' | translate}}" type="text" formControlName="ctc" [attr.disabled]="security?.ctcDisabled?'disabled':null">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-md-4-padding10" *ngIf="security?.employeeCodeRendered">
                                    <label class="control-label clearfix">{{security?.employeeCodeLabel}}
                                        <span *ngIf="security?.employeeCodeRequired">*</span>
                                    </label>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input class="form-control" placeholder="{{'common.label.employeeCode' | translate}}" type="text" formControlName="employeeCode" [attr.disabled]="security?.employeeCodeDisabled?'disabled':null">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-md-4-padding10" *ngIf="security?.expectedJoiningDateRendered">
                                    <label class="control-label clearfix">{{security?.expectedJoiningDateLabel}}
                                        <span *ngIf="security?.expectedJoiningDateRequired">*</span>
                                    </label>
                                    <div class="row">
                                        <div class="col-md-12 datepicker-col" [ngClass]="security?.expectedJoiningDateDisabled?'disabled':''">
                                            <alt-datepicker [styleClass]="'datepicker-common'" class="dropdown-calendar enbled" [type]="'datetime'" [mode]="'landscape'"
                                                #expectedData (change)="setExpectedJoiningDate(expectedData.value)" [disabled]="security?.expectedJoiningDateDisabled?'disabled':null">
                                            </alt-datepicker>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ng-container *ngIf="security?.offerTemplateRendered">
                                <div class="candidate-tab-detail-block outer-border-bot">
                                    <h2 class="title-12 purple-color">1. {{'candidate.hiring_process.chooseOfferTemplate' | translate}}</h2>
                                    <div class="candidate-tab-detail-inner clearfix">
                                        <div class="form-group row2">
                                            <div class="col-md-4 col-md-4-padding10">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="dropdown-11 list-block">
                                                            <alt-custom-single-select #SELECTTEMPLATERANGE [srcTag]="'SELECTTEMPLATERANGETAG'" (clickToClose)="SELECTTEMPLATERANGE.toggleClose()"
                                                                [inputList]="templateList" [value]="selectedTemplateID.value"
                                                                placeholder="{{'common.label.select' | translate}}" (valueBind)="selectedTemplateID.setValue($event.value);offerTemplateSelectListener();"
                                                                [searchEnable]="true" [isDisabled]="offerTemplatePolicyEnabled">
                                                            </alt-custom-single-select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-md-4-padding10 generate-cell-mb">
                                                <div class="checkbox padding-t10 margin-none">
                                                    <input id="Generate" type="checkbox" class="styled" [value]="true" [checked]="isGenerateOnLetterHead.value" [formControl]="isGenerateOnLetterHead"
                                                    />
                                                    <label for="Generate" class="control-label gray-color">{{'candidate.hiring_process.generateOnLetterHead' | translate}}</label>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-md-12-padding10 preview-buttons">
                                                <span class="material-icons cursor-defauls" *ngIf="selectedTemplateID.value == null">visibility</span>
                                                <span class="material-icons purple-color" [class.cursor-defauls] = "disablePreview" *ngIf="selectedTemplateID.value != null" (click)="previewOfferLetter()" matTooltip="Preview Offer Letter">visibility</span>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                <div *ngIf="placeholderDisplayList" class="candidate-tab-detail-block clearfix outer-border-bot">
                                   <div class="">
                                    <h2 class="title-12 purple-color fl-left">2. {{'candidate.hiring_process.generateOffer' | translate}}</h2>
                                    <div class="fl-right">
                                        <span class="clear-all cursor" (click)="resetPlaceholders()">{{'common.label.clearAll' | translate}}</span>
                                    </div>
                                </div>
                                    <div class="candidate-tab-detail-inner clearfix">
                                        <div class="form-group row2">
                                            <ng-container *ngFor="let placeholder of placeholderDisplayList; let index=index;">
                                                <div class="col-md-4 input-field col-md-4-padding10" *ngIf="placeholder.viewable===true">
                                                    <div class="row">
                                                        <div class="col-md-12 datepicker-col">
                                                            <label class="control-label clearfix">{{placeholder.placeHolderDescription}}<span *ngIf="placeholder?.mandatory">*</span></label>
                                                            <ng-container *ngIf="placeholder.fieldType==='varchar'">
                                                                <input type="text" class="form-control form-control-grey" [value]="placeholder.placeHolderValue" (change)="placeholder.placeHolderValue = $event.target.value" [disabled]="!placeholder.editable"/>
                                                            </ng-container>
                                                            <ng-container *ngIf="placeholder.fieldType==='date'">
                                                                <alt-datepicker [styleClass]="'datepicker-common2'" class="dropdown-calendar dropdown-calendar-grey" [type]="'date'" [mode]="'landscape'"
                                                                    [timestamp]="placeholder.placeHolderDateValue" (change)="dateChangeListener($event,placeholder)" [disabled]="!placeholder.editable" (paste)="$event.preventDefault()"></alt-datepicker>
                                                            </ng-container>
                                                            <ng-container *ngIf="placeholder.fieldType==='datetime1'">
                                                                <alt-datepicker [styleClass]="'datepicker-common2'" class="dropdown-calendar dropdown-calendar-grey" [type]="'date'" [mode]="'landscape'"
                                                                    [timestamp]="placeholder.placeHolderValue" (change)="dateChangeListener($event,placeholder)" [disabled]="!placeholder.editable" (paste)="$event.preventDefault()"></alt-datepicker>
                                                            </ng-container>
                                                            <ng-container *ngIf="placeholder.fieldType==='datetime'">
                                                                <alt-datepicker [styleClass]="'datepicker-common2'" class="dropdown-calendar dropdown-calendar-grey" [type]="'date'" [mode]="'landscape'"
                                                                    [timestamp]="placeholder.placeHolderDateValue" (change)="datetimeChangeListener($event,placeholder)" [disabled]="!placeholder.editable" (paste)="$event.preventDefault()"></alt-datepicker>
                                                            </ng-container> 
                                                            <ng-container *ngIf="placeholder.fieldType==='numeric'">
                                                                <input type="text" class="form-control form-control-grey" [value]="placeholder.placeHolderValue" (change)="placeholder.placeHolderValue=$event.target.value;placeholder.numericValue=$event.target.value"
                                                                (paste)="$event.preventDefault()" (keypress)="decimalValuesKeyPress($event,placeholder.numericValue)" [disabled]="!placeholder.editable" />
                                                            </ng-container>
                                                            <ng-container *ngIf="placeholder.fieldType==='List'">
                                                                <alt-custom-single-select #LISTCOMPONENT [srcTag]="'LISTCOMPONENTTAG'" (clickToClose)="LISTCOMPONENT.toggleClose()" [inputList]="placeholder.valueListSelectItemDisplay"
                                                                    [value]="placeholder.placeHolderValue" placeholder="{{'common.label.select' | translate}}"
                                                                    (valueBind)="placeholder.placeHolderValue=$event.value; listPlaceholderChangeListener(placeholder.valueListSelectItem,$event.value);"
                                                                    [searchEnable]="true">
                                                                </alt-custom-single-select>
                                                            </ng-container>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>

                            <div class="form-textarea-mlr2 form-group form-textarea" *ngIf="security?.commentRendered">
                                <textarea class="form-control noresize" [formControl]="comment" placeholder="{{security?.commentLabel+(security?.commentRequired? '*': '')}}"
                                    [attr.disabled]="security?.commentDisabled?'disabled':null"></textarea>
                            </div>

                            <div class="btn-row-2 btn-row-attachment clearfix">
                                <div *ngIf="security?.attachmentRendered && !attachmentName" class="btn-file-custome" [ngClass]="security?.attachmentDisabled?'disabled-file':''">
                                    <span class="link">
                                        <span class="material-icons">attachment</span>{{security?.attachmentLabel+(security?.attachmentRequired? '*':
                                        '')}}
                                    </span>
                                    <input class="file-btn" type="file" id="file" name="file" (change)="uploadDocumentListener($event)" [attr.disabled]="security?.attachmentDisabled?'disabled':null"
                                    />
                                </div>
                                <div *ngIf="attachmentName" class="document-name-here">
                                    <span class="material-icons done">done</span>
                                    <span class="font-bold doc-file-name">{{attachmentName}}</span>
                                    <span class="material-icons fl-right cursor" (click)="deleteDocumentListener()">delete</span>
                                    <span class="material-icons fl-right cursor" (click)="downloadDocumentListener()">file_download</span>
                                </div>
                                <div class="fl-right">
                                    <div class="btn-for-mobile">
                                        <div class="dropdown-11 select-black">
                                            <alt-custom-single-select #SELECTEDSTATUS [srcTag]="'SELECTEDSTATUSTAG'" (clickToClose)="SELECTEDSTATUS.toggleClose()" [inputList]="statusLists"
                                                [value]="selectedStatusID.value" placeholder="{{'common.label.chooseStatus' | translate}}" (valueBind)="statusChangeListener($event)"
                                                [isDisabled]="offerGeneration || jobStatus">
                                            </alt-custom-single-select>
                                        </div>
                                        <!--<button type="button" (click)="updateStatus()" class="btn btn-primary">GO</button>-->
                                        <alt-spinner-button gaevent="OfferGeneration#Continue#click" (myEvent)="updateStatus();" [spinner]="offerGeneration" [spinnerdisabled]="offerGeneration || jobStatus" [text]="lable"></alt-spinner-button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- \\ End Choose offer template  -->
    </div>
</div>
<!-- \\ End Joining Pending-->