<h4 class="title-purple-18">Tagged Candidates</h4>
<h2 class="title-lg">Source the best candidate easily (very easily)</h2>
<h2 class="title-lg-2">Begin the hiring process and track progress</h2>
<!--  Section Card-->
<div class="section-card">
    <div class="blank-screen-card clearfix">
        <div class="card-block card-3">
            <div class="card-block-inner">
                <div class="blank-screen-icon"><span class="screen-icon create-candidate-icon"></span></div>
                <div class="blank-screen-right">
                    <h4 class="title-sub">1. CREATE</h4>
                    <span class="text-cell">a new candidate</span>
                </div>
            </div>
        </div>
        <div class="card-block card-3">
            <div class="card-block-inner">
                <div class="blank-screen-icon"><span class="screen-icon source-candidates-icon"></span></div>
                <div class="blank-screen-right">
                    <h4 class="title-sub">2. TAG</h4>
                    <span class="text-cell">to one or more jobs</span>
                </div>
            </div>
        </div>
        <div class="card-block card-3">
            <div class="card-block-inner">
                <div class="blank-screen-icon"><span class="screen-icon tag-job-icon"></span></div>
                <div class="blank-screen-right">
                    <h4 class="title-sub">3. RECRUIT</h4>
                    <span class="text-cell">fill in the openings quickly</span>
                </div>
            </div>
        </div>
    </div>
    <div class="blank-screen-guidelines clearfix">
        <!-- Card Block -->
        <div class="card-block card-3">
            <div class="card-block-inner">
                <div class="card-top card-row clearfix">
                    <div class="check-box checkbox">
                        <input type="checkbox" class="styled">
                        <label></label>
                    </div>
                    <div class="job-option position-rel">
                        <a href="javascript:void(0)"><span class="material-icons more-icon">more_vert</span></a>
                        <div class="blank-screen-line-arrow right"><span class="arrow-text">Take candidate actions</span></div>
                    </div>
                </div>
                <div class="card-row card-name-row">
                    <div class="image-block">
                        <img src="./assets/images/svg/profile_male.svg" alt="profile male" />
                    </div>
                    <span class="material-icons flag-icon">flag</span>
                    <div class="title-cell text-nowrap-cell">
                        <h3 class="title"><a class="link" href="#">Candidate Name</a></h3>
                        <ul class="list-reset listing-inline">
                            <li>candidate/code/00000</li>
                            <li>tiruvananthapuram</li>
                        </ul>
                    </div>
                    <div class="blank-screen-curve-line left blank-screen-top17"><span class="curve-line-arrow"></span><span class="arrow-text">Flag a candidate if you think he/she is outstanding</span></div>
                </div>
                <div class="card-row card-designation-small position-rel">
                    <div class="blank-screen-line-arrow left blank-screen-top13"><span class="arrow-text">The status and the job, the cnadidate is tagged to</span></div>
                    <span class="job-status job-active"></span>
                    <div class="common-cell">
                        <span class="name-cell font-bold">Job name comes here</span>
                        <span class="job-code">JobCode/0000/Konat</span>
                    </div>
                </div>
                <div class="card-row card-profile-row clearfix">
                    <div class="profile-completed position-rel">
                        <div class="profile-graph">
                            <div class="c100 p50">
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>
                        </div>
                        <div class="profile-graph-details">
                            <span class="profile-percent">00%</span>
                            <span class="text-cell">profile Complete</span>
                        </div>
                        <div class="blank-screen-curve-line left left-down"><span class="curve-line-arrow"></span><span class="arrow-text">Better completion will lead to a better match</span></div>
                    </div>
                    <div class="profile-match position-rel">
                        <div class="profile-graph">
                            <div class="c100 p50 green">
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>
                        </div>
                        <div class="profile-graph-details">
                            <span class="profile-percent">00%</span>
                            <span class="text-cell">match</span>
                        </div>
                        <div class="blank-screen-curve-line right"><span class="curve-line-arrow"></span><span class="arrow-text">Automated JD / CV match results</span></div>
                    </div>
                </div>
                <div class="card-row ver-row clearfix">
                    <div class="background-ver">Screening : <span class="pending">Status</span></div>
                    <div class="candidate-stages-bar-outer clearfix position-rel">
                        <ul class="list-reset candidate-stages-bar">
                            <li class="dot org"></li>
                            <li class="bar"></li>
                            <li class="dot"></li>
                            <li class="bar"></li>
                            <li class="dot"></li>
                            <li class="bar"></li>
                            <li class="dot"></li>
                            <li class="bar"></li>
                            <li class="dot"></li>
                            <li class="bar"></li>
                            <li class="dot"></li>
                            <li class="bar"></li>
                            <li class="dot"></li>
                            <li class="bar"></li>
                            <li class="dot"></li>
                            <li class="bar"></li>
                            <li class="dot"></li>
                            <li class="bar"></li> 
                            <li class="dot"></li>
                            <li class="bar"></li> 
                            <li class="dot"></li>
                            <li class="bar"></li> 
                            <li class="dot"></li>
                            <li class="bar"></li> 
                            <li class="dot"></li>
                            <li class="bar"></li>
                        </ul>
                        <div class="blank-screen-line-arrow right"><span class="arrow-text">Hover over the dots to find out the stage / status</span></div>
                    </div>
                </div>       
                <div class="card-row source-row position-rel clearfix">
                    <div class="blank-screen-line-arrow left"><span class="arrow-text">Keep a tab on your candidate source</span></div>
                    <span class="rounded-block color-gray-tx margin-r15"></span>
                    <div class="description-cell width35">
                        <span class="text-cell">Source</span>
                        <span class="text-bold-cell">XXXXX</span>
                    </div>
                    <div class="description-cell width44">
                        <span class="text-cell">Source Code</span>
                        <span class="text-bold-cell">000/000</span>
                    </div>
                </div>
            </div>
            <div class="btn-row mrg-lf-20">
                <a href="#" class="btn btn-gray">TAKE ACTION</a>
                <div class="blank-screen-line-arrow right"><span class="arrow-text">Anchors you to the right place of action</span></div>
            </div>
        </div>
        <!-- \\ End Card Block -->
    </div>
</div>
<!-- \\ End Section Card-->