<div class="candidate-history-block">
    <div class="chats-accordion-title clearfix">
        <div class="chats-images">
            <div class="image-block">
                <div class="loading-line circle-35"></div>
            </div>
        </div>
        <div class="chats-right">
            <div class="chats-accordion-summary">
                <span class="text-cell margin-b10">
                    <div class="loading-line width-40"></div>
                </span>
                <span class="text-cell">
                    <div class="loading-line width-70"></div>
                </span>
            </div>
            <div class="time-bock width-100px">
                <div class="loading-line"></div>
            </div>
        </div>
    </div>
    <div class="chats-accordion-title clearfix">
        <div class="chats-images">
            <div class="image-block">
                <div class="loading-line circle-35"></div>
            </div>
        </div>
        <div class="chats-right">
            <div class="chats-accordion-summary">
                <span class="text-cell margin-b10">
                    <div class="loading-line width-40"></div>
                </span>
                <span class="text-cell">
                    <div class="loading-line width-70"></div>
                </span>
            </div>
            <div class="time-bock width-100px">
                <div class="loading-line"></div>
            </div>
        </div>
    </div>
    <div class="chats-accordion-title clearfix">
        <div class="chats-images">
            <div class="image-block">
                <div class="loading-line circle-35"></div>
            </div>
        </div>
        <div class="chats-right">
            <div class="chats-accordion-summary">
                <span class="text-cell margin-b10">
                    <div class="loading-line width-40"></div>
                </span>
                <span class="text-cell">
                    <div class="loading-line width-70"></div>
                </span>
            </div>
            <div class="time-bock width-100px">
                <div class="loading-line"></div>
            </div>
        </div>
    </div>
    <div class="chats-accordion-title clearfix">
        <div class="chats-images">
            <div class="image-block">
                <div class="loading-line circle-35"></div>
            </div>
        </div>
        <div class="chats-right">
            <div class="chats-accordion-summary">
                <span class="text-cell margin-b10">
                    <div class="loading-line width-40"></div>
                </span>
                <span class="text-cell">
                    <div class="loading-line width-70"></div>
                </span>
            </div>
            <div class="time-bock width-100px">
                <div class="loading-line"></div>
            </div>
        </div>
    </div>
    <div class="chats-accordion-title clearfix">
        <div class="chats-images">
            <div class="image-block">
                <div class="loading-line circle-35"></div>
            </div>
        </div>
        <div class="chats-right">
            <div class="chats-accordion-summary">
                <span class="text-cell margin-b10">
                    <div class="loading-line width-40"></div>
                </span>
                <span class="text-cell">
                    <div class="loading-line width-70"></div>
                </span>
            </div>
            <div class="time-bock width-100px">
                <div class="loading-line"></div>
            </div>
        </div>
    </div>
    <div class="chats-accordion-title clearfix">
        <div class="chats-images">
            <div class="image-block">
                <div class="loading-line circle-35"></div>
            </div>
        </div>
        <div class="chats-right">
            <div class="chats-accordion-summary">
                <span class="text-cell margin-b10">
                    <div class="loading-line width-40"></div>
                </span>
                <span class="text-cell">
                    <div class="loading-line width-70"></div>
                </span>
            </div>
            <div class="time-bock width-100px">
                <div class="loading-line"></div>
            </div>
        </div>
    </div>
    <div class="chats-accordion-title clearfix">
        <div class="chats-images">
            <div class="image-block">
                <div class="loading-line circle-35"></div>
            </div>
        </div>
        <div class="chats-right">
            <div class="chats-accordion-summary">
                <span class="text-cell margin-b10">
                    <div class="loading-line width-40"></div>
                </span>
                <span class="text-cell">
                    <div class="loading-line width-70"></div>
                </span>
            </div>
            <div class="time-bock width-100px">
                <div class="loading-line"></div>
            </div>
        </div>
    </div>
</div>