<div class="info_title" (click)="candidateController.toggleAttachDocument()">
  <span class="count_Icon">{{ candidateController.getSectionNumber('9') }}</span>{{security?.documentSectionLabel | formatCapitalize}}

</div>
<div class="form_outer">
  <div class="table-responsive">
    <table class="table document-table">
      <thead>
        <tr>
          <th class="count-cell">#</th>
          <th class="doc-name-cell" *ngIf="security?.documentNameRendered">{{security?.documentNameLabel}}</th>
          <th class="option-cell" *ngIf="security?.documentOptionsRendered">{{security?.documentOptionsLabel}}</th>
        </tr>
      </thead>
      <tbody>
        <tr class="done" *ngFor="let document of candidateController.documentsList; let i = index ">
          <td class="count-cell">{{i+1}}</td>
          <td class="doc-name-cell">{{document.documentName}}<span *ngIf="document.mandatory">*</span>
            <span class="material-icons" *ngIf="document.uploaded">done</span></td>
          <td class="option-cell">
            <mat-progress-spinner style="height:20px;width:20px;margin-left:50px;" mode="indeterminate" *ngIf="document.uploading">
            </mat-progress-spinner>
            <a href="{{document.fileName}}" target="_blank" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Download"
              style="backface-visibility: hidden;" *ngIf="document.uploaded && !document.uploading">
              <span class="material-icons" (click)="download(i)">file_download</span>
            </a>
            <span data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Upload" style="backface-visibility: hidden;"
              *ngIf="!document.uploaded && !document.uploading">
              <label for="attachDocument{{i}}"><span class="material-icons" (click)="upload(i)">file_upload</span></label>
            <input type="file" id="attachDocument{{i}}" style="display: none;" (change)="documentChange($event, i, document.documentTypeID)">
            </span>
            <span data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Delete" style="backface-visibility: hidden;"
              *ngIf="document.uploaded && !document.uploading">
              <span class="material-icons" (click)="delete(i)">delete</span>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="column-footer row2 text-right">
    <alt-spinner-button (myEvent)="continue();" gaevent="Documents#Continue#click" [spinner]="candidateController.documentSectionBlock" [spinnerdisabled]="candidateController.documentSectionBlock"
      [text]="lable" [done]="candidateController.documentSectionDone && !formGroup.touched && formGroup.valid">
    </alt-spinner-button>
  </div>
</div>