<div class="chats-accordion-summary">
  <span class="text-cell font-bold text-lowercase">{{data.isAutomatedTransaction?'System':data.userName}}</span>
<span *ngIf=" (data.isAutomatedTransaction) && data.nextStage.sysWorkflowstageActionType=='PENDING'" class="text-cell">Candidate’s profile is pending for joining
   </span>
   <span *ngIf=" !(data.isAutomatedTransaction) && data.nextStage.sysWorkflowstageActionType=='PENDING'" class="text-cell">Candidate’s profile is pending for joining
   </span>
<span *ngIf="data.nextStage.sysWorkflowstageActionType=='JOINED'"  class="text-cell"> Has onboarded the candidate with Ecode as {{employeeCode}}, DOJ as {{expectedJoiningDate}} and actual DOJ as {{actualJoiningDate}}
  </span>
  <span *ngIf="data.nextStage.sysWorkflowstageActionType=='DROPPED'" class="text-cell">Dropped the candidate
  </span>
   <span *ngIf="data.nextStage.sysWorkflowstageActionType=='ONHOLD'" class="text-cell">Moved the candidate to "ON HOLD"
  </span>
<span *ngIf="data.nextStage.sysWorkflowstageActionType=='REJECTED'" class="text-cell">Rejected the candidate 
  </span>
<span *ngIf="data.nextStage.sysWorkflowstageActionType=='EMAILED'" class="text-cell">Emailed the candidate 
  </span>
  <span *ngIf="data.nextStage.sysWorkflowstageActionType=='CVSENT'" class="text-cell">Sent the CV 
  </span>
   <span *ngIf="data.nextStage.sysWorkflowstageActionType=='PREVIOUSSTAGE'" class="text-cell"> Moved the candidate to previous stage
  </span>
   <span *ngIf="data.nextStage.sysWorkflowstageActionType=='NEXTSTAGE'" class="text-cell"> Moved the candidate to next stage
  </span>
   <span *ngIf="data.nextStage.sysWorkflowstageActionType=='YETTOJOIN'" class="text-cell"> Candidate is yet to join
  </span>
  <span *ngIf="data.nextStage.sysWorkflowstageActionType=='GENERATE_ECN'" class="text-cell"> ECN is generated
  </span>
  <span *ngIf="data.nextStage.sysWorkflowstageActionType=='ECN_RECEIVED'" class="text-cell"> ECN is received
  </span>
  <span *ngIf="data.nextStage.sysWorkflowstageActionType=='PREVIOUSSTAGE'" class="text-cell"> Moved the candidate to previous stage
  </span>
   <span *ngIf="data.nextStage.sysWorkflowstageActionType=='NEXTSTAGE'" class="text-cell"> Moved the candidate to next stage
  </span>
  <span class="widhtFull" *ngIf="data.action != null &&  data.action != 'undefined' && (data.action.toUpperCase()  == 'COPY' || data.action.toUpperCase() == 'MOVE')">
      <span class="subject-cell purple-color" matTooltip="{{data.comment.toLowerCase()}}">{{data.comment}} </span>
  </span>

</div>