<div *ngIf="featureDataMap.get('EDIT_CANDIDATE') !=3 "class="job-option">
  <a href="javascript:void(0)" (click)="showContextMenu()"><span class="material-icons more-icon">more_vert</span></a>
  <div class="{{displayClass}}">
    <div class="module-true displayBlock" (click)="hideContextMenu()"></div>
    <!-- Menu style -->
    <div class="menu-style menu-style-3 {{displayClass}}">
      <span class="material-icons close" (click)="hideContextMenu()">close</span>
      <ul class="list-reset dropdown-menu">
        <li *ngIf="featureDataMap.get('EDIT_CANDIDATE') == 1"><a gaevent="ContextMenu#Edit Candidate#click" href="javascript:void" [gaRouterLink]="['/candidate/newcandidate', candidateCode | formatCandidatecodeParam]"><span class="menu-style-icon edit-icon13">edit</span>{{'candidate.list.editCandidate' | translate}}</a></li>
        <li *ngIf="featureDataMap.get('EDIT_CANDIDATE') == 2" class="disabled"><a><span class="menu-style-icon edit-icon13">edit</span>{{'candidate.list.editCandidate' | translate}}</a></li>
      </ul>
    </div>
    <!-- \\ End Menu style -->
  </div>
</div>