<!--Language Section-->
<div class="info_title" (click)="candidateController.toggleLanguageSet()">
  <span class="count_Icon">{{ candidateController.getSectionNumber('8') }}</span>{{security?.languagesSectionLabel | formatCapitalize}}
  <span class="clearAllFields" *ngIf="security?.languagesClearAllRendered" (click)="clearAll($event)">{{security?.languagesClearAllLabel}}</span>
</div>

<div class="form_outer" [formGroup]="formGroup">
  <div class="form-group">
     <div class="skill-row clearfix">
      <div class="btn-skill-group" *ngFor="let language of languagesList; let i = index">
        <span class="tag-job">{{language.languageName}}
          <span class="material-icons" (click)="removelanguage(i)">clear</span>
        </span>
      </div>
      <mat-form-field class="fl-left skill-input" [floatLabel]="'never'">
        <input type="text" class="form-control input-w80" matInput formControlName="languageInput" [matAutocomplete]="autoLanguage" placeholder="Enter"
          (keydown.enter)="$event.preventDefault()">
      </mat-form-field>
      <mat-autocomplete #autoLanguage="matAutocomplete">
        <mat-option *ngFor="let languages of languageList"  (onSelectionChange)="addlanguage(languages)">
          {{languages}}
        </mat-option>
      </mat-autocomplete>
     </div>
  </div>
  <div class="column-footer row2">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-left required-text-note">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-right" *ngIf="security?.languagesContinueRendered">
       <alt-spinner-button (myEvent)="continue();" gaevent="Language#Continue#click" [spinner]="candidateController.languagesSectionBlock" [spinnerdisabled]="candidateController.languagesSectionBlock || security?.languagesContinueDisabled || candidateController.languagesSectionBlock"
          [text]="candidateController.isDraft? security?.languagesContinueLabel : 'UPDATE'" [done]="candidateController.languagesSectionDone && !formGroup.touched && formGroup.valid">
        </alt-spinner-button>
    </div>
  </div>
</div>


