<div class="info_title" (click)="candidateController.toggleWork()">
  <span class="count_Icon">{{ candidateController.getSectionNumber('4') }}</span>{{security?.workSectionLabel |
  formatCapitalize}}
  <span class="clearAllFields" *ngIf="security?.workClearAllRendered" (click)="clearAll($event)">{{security?.workClearAllLabel}}</span>
</div>
<div class="form_outer">
  <div class="row" [formGroup]="formGroup">

    <div class="form-group row2 mgn-btm-0">
      <div class="col-md-6 input-field" *ngIf="security?.totalExperienceRendered">
        <label class="control-label clearfix">{{security?.totalExperienceLabel}}<span *ngIf="security?.totalExperienceRequired">*</span></label>
        <div class="row">
          <div class="col-xs-6 col-md-6">
            <alt-custom-single-select #EXPYEARS [srcTag]="'EXPYEARSTAG'" (clickToClose)="EXPYEARS.toggleClose()"
              [searchEnable]="false" [inputList]="totalExperienceYearsList" [value]="formGroup.controls.totalExperienceYears.value"
              [allowZeroValue]="true" placeholder="Exp(years)" (valueBind)="bindTotalExperienceYearsValue($event)">
            </alt-custom-single-select>
          </div>
          <div class="col-xs-6 col-md-6">
            <alt-custom-single-select #EXPMONTHS [srcTag]="'EXPMONTHSTAG'" (clickToClose)="EXPMONTHS.toggleClose()"
              [searchEnable]="false" [inputList]="totalExperienceMonthsList" [value]="formGroup.controls.totalExperienceMonths.value"
              [allowZeroValue]="true" placeholder="Exp(months)" (valueBind)="bindTotalExperienceMonthsValue($event)">
            </alt-custom-single-select>
          </div>
        </div>
      </div>

      <div class="col-md-6 input-field" *ngIf="security?.noticePeriodRendered">
        <label class="control-label">{{security?.noticePeriodLabel}}<span *ngIf="security?.noticePeriodRequired">*</span></label>
        <div class="dropdown-11 list-block">
          <input type="text" class="form-control" formControlName="noticePeriod" name="noticePeriod" placeholder="Enter" />
          <control-message [control]="formGroup.controls.noticePeriod"></control-message>
        </div>
      </div>
    </div>
    <fieldset formArrayName="employmentHistory">
      <div class="common-block-job" *ngFor="let item of formGroup.controls.employmentHistory['controls']; let i=index;">
        <div [formGroupName]="i">
          <div class="form-group row2 mgn-btm-0">
            <div class="col-md-12" *ngIf="security?.workDeleteRendered">
              <span class="pull-right material-icons cursor" (click)="deleteEmploymentHistory(i)">delete</span>
            </div>
            <div class="col-md-6 input-field" *ngIf="security?.companyRendered">
              <label class="control-label">{{security?.companyLabel}}<span *ngIf="security?.companyRequired">*</span></label>
              <div class="dropdown-11 list-block">
                <input type="text" class="form-control" formControlName="company" placeholder="Enter" />
              </div>
            </div>
            <div class="col-md-6 input-field" *ngIf="security?.jobTitleRendered">
              <label class="control-label">{{security?.jobTitleLabel}}<span *ngIf="security?.jobTitleRequired">*</span></label>
              <input type="text" class="form-control" formControlName="jobTitle" placeholder="Enter" />
            </div>
            <!--Company Start Date-->
            <div class="col-md-6 input-field" *ngIf="security?.companyStartDateRendered">
              <label class="control-label clearfix">{{security?.companyStartDateLabel}}<span *ngIf="security?.companyStartDateRequired">*</span></label>
              <div class="row">
                <div class="col-md-12 datepicker-col">
                  <alt-datepicker [styleClass]="'datepicker-common3'" class="dropdown-calendar dropdown-calendar-grey"
                    [type]="'date'" [mode]="'landscape'" #workStartDate [value]="item.controls.workStartDate.value"
                    (change)="setStartDate(workStartDate.value,item)" [disabled]="security?.companyStartDateDisabled"></alt-datepicker>
                </div>
              </div>
            </div>
            <!-- Company End Date -->
            <div class="col-md-6 input-field" *ngIf="security?.companyEndDateRendered">
              <div class="row2">
                <label class="control-label clearfix">{{security?.companyEndDateLabel}}<span *ngIf="security?.companyEndDateRequired">*</span></label>
                <div class="checkbox checkbox-inline CheckBox-right pull-right" *ngIf="security?.stillWorkingHereRendered">
                  <input type="checkbox" class="styled" id="working{{i}}" [value]="true" formControlName="currentlyWorkHere"
                    (change)="clearEndDate(item)" />
                  <label for="working{{i}}" class="control-label gray-color">{{security?.stillWorkingHereLabel}}</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 datepicker-col">
                  <alt-datepicker [styleClass]="'datepicker-common3'" class="dropdown-calendar dropdown-calendar-grey"
                    [type]="'date'" [mode]="'landscape'" #workEndDate [value]="item.controls.workEndDate.value"
                    (change)="setEndDate(workEndDate.value,item)" [disabled]="security?.companyEndDateDisabled || item.controls.currentlyWorkHere.value == true"></alt-datepicker>
                </div>
              </div>
            </div>
            <div class="col-md-6 input-field" *ngIf="security?.companyCTCRendered">
              <label class="control-label">{{security?.companyCTCLabel}}<span *ngIf="security?.companyCTCRequired">*</span></label>
              <div class="row">
                <div class="col-xs-4 col-md-4">
                  <alt-custom-single-select #CURRENCY [srcTag]="'CURRENCYTAG'" (clickToClose)="CURRENCY.toggleClose()"
                    [searchEnable]="false" [inputList]="currencyList" [value]="item.controls.ctcCurrency.value"
                    (valueBind)="bindCurrencyValue($event, item)">
                  </alt-custom-single-select>
                </div>
                <div class="col-xs-4 col-md-4">
                  <input type="text" class="form-control" formControlName="ctcAmount" name="ctcAmount" placeholder="Enter" />
                  <control-message [control]="item.controls['ctcAmount']"></control-message>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row2 mgn-btm-0">
            <div class="col-md-12" *ngIf="security?.descriptionRendered">
              <label class="control-label">{{security?.descriptionLabel}}<span *ngIf="security?.descriptionRequired">*</span></label>
              <div class="form-group form-textarea marginText12">
                <textarea class="form-control noresize" formControlName="description" placeholder="Enter"></textarea>
              </div>

            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <div class="col-md-12">
      <div class="add-new-btn-outer" *ngIf="security?.addPastJobRendered">
        <div class="add-new-btn" (click)="addEmploymentHistory()"><span class="material-icons dp10">add</span>
          {{security?.addPastJobLabel}}<span *ngIf="security?.addPastJobRequired">*</span></div>
      </div>
    </div>

    <div class="column-footer row2">
      <div class="col-md-12 text-right" *ngIf="security?.workContinueRendered">

        <alt-spinner-button (myEvent)="continue();" gaevent="Work#Continue#click" [spinner]="candidateController.workSectionBlock" [spinnerdisabled]="candidateController.workSectionBlock || !formGroup.valid || security?.workContinueDisabled || candidateController.workSectionBlock"
          [text]="candidateController.isDraft? security?.workContinueLabel: 'UPDATE'" [done]="candidateController.workSectionDone && !formGroup.touched && formGroup.valid">
        </alt-spinner-button>

      </div>
    </div>
  </div>
</div>