<!-- Section filter -->
<!--<loader-indicator ></loader-indicator>-->
<div [ngClass]="{'filter-show-arrow': isClassVisible }" *ngIf="Loader == 0">
  <div class="section-filter">
    <div class="section-filter-inner">
      <ul class="list-reset clearfix">
        <li class="filter-by-block {{filterDropDown?'':'filter-open'}} {{filterDropDown2?'':'filter-cel-active'}}">
          <label class="filter-cell" (click)="toggleFilter();$event.stopPropagation()">
            <span class="icon-filter filter-mobile"></span>
            <span class="text-filter">{{'common.label.filterby' | translate}}</span>
            <span class="text-filter mobile-only">({{selectedParams?.length}})</span>
            <span class="mdi mdi-chevron-down md24 mobile-only"></span>
          </label>
          <div class="dropdown-block">
            <div class="applied-outer mobile-applied" *ngIf="visibleSelectedParamsLength">
              <span *ngFor="let param of selectedParams">
                <span class="applied-text cursor" *ngIf="param.isVisible" (click)="removeFilterParam(param)">{{param.value.label}} [x]</span>
              </span>
              <span class="applied-text cursor gray-color" *ngIf="visibleSelectedParamsLength" (click)="clearFilter()">clear all [x]</span>
            </div>

            <ul class="list-reset dropdown-filter-block {{heightStyle}}" [style.height.px]="viewHeight">
              <li class="dropdown" *ngIf="filterType == 'JOB_LIST' || filterType == 'ERP_JOB_LIST'" [ngClass]="{'active' : hiringManagerFilterApplied}">
                <alt-select #HIRINGMANAGER [srcTag]="'HIRINGMANAGER'" (clickToClose)="HIRINGMANAGER.toggleClose()" [options]="hiringManagers" [showSelection]="false" placeholder="{{'common.label.hiringManager' | translate}}"  (selected)="chooseFilterParam($event, 'HIRING_MANAGER')"
                [clearAll]="clearAllSelects.HIRING_MANAGER"
                  (viewHeight)="getHeight($event);">
                </alt-select>
              </li>
              <li class="dropdown" *ngIf="filterType == 'ERP_JOB_LIST'" [ngClass]="{'active' : gradeFilterApplied}">
                <alt-select #GRADE [srcTag]="'GRADE'" (clickToClose)="GRADE.toggleClose()" [options]="gradeList" [showSelection]="false" placeholder="{{'filter.label.grade' | translate}}" (selected)="chooseFilterParam($event,'GRADE')"
                [clearAll]="clearAllSelects.GRADE"
                (viewHeight)="getHeight($event);">
                </alt-select>
              </li>
              <li class="dropdown" *ngIf="(filterType == 'JOB_LIST' || filterType == 'CREATED_JOB_LIST' ) && applyRecruiterFilter" [ngClass]="{'active' : recruiterFilterApplied}">
                <alt-select #RECRUITERS [srcTag]="'RECRUITERS'" (clickToClose)="RECRUITERS.toggleClose()" [options]="recruiters" [showSelection]="false" placeholder="{{'filter.label.recruiter' | translate}}" (selected)="chooseFilterParam($event, 'RECRUITER')"
                [clearAll]="clearAllSelects.RECRUITER"
                (viewHeight)="getHeight($event);">
                </alt-select>
              </li>
              <li class="dropdown" *ngIf="filterType == 'JOB_LIST'  || filterType == 'CREATED_JOB_LIST' || filterType == 'MY_REFERRALS'" [ngClass]="{'active' : jobstatusFilterApplied}">
                <alt-select #JOBSTATUS [srcTag]="'JOBSTATUS'" (clickToClose)="JOBSTATUS.toggleClose()" [showIcon]="true" [options]="jobStatus" [showSelection]="false" placeholder="{{'filter.label.jobStatus' | translate}}" (selected)="chooseFilterParam($event,'JOB_STATUS')"
                [clearAll]="clearAllSelects.JOB_STATUS"
                (viewHeight)="getHeight($event);">
                </alt-select>
              </li>
              <li class="dropdown" *ngIf="filterType == 'JOB_LIST' || filterType == 'CREATED_JOB_LIST'" [ngClass]="{'active' : publishedToFilterApplied}">
                <alt-select #PUBLISHED [srcTag]="'PUBLISHED'" (clickToClose)="PUBLISHED.toggleClose()" [options]="postedOn" [showSelection]="false" placeholder="{{'filter.label.publishedTo' | translate}}" (selected)="chooseFilterParam($event,'POSTED_ON')"
                [clearAll]="clearAllSelects.POSTED_ON"
                (viewHeight)="getHeight($event);">
                </alt-select>
              </li>
              <li class="dropdown" *ngIf="filterType == 'UNTAGGED_CANDIDATE_LIST' || filterType == 'TAGGED_CANDIDATE_LIST'" [ngClass]="{'active' : genderFilterApplied}">
                <alt-select #GENDER [srcTag]="'GENDER'" (clickToClose)="GENDER.toggleClose()" [options]="genderList" [showSelection]="false" placeholder="{{'filter.label.gender' | translate}}" [noFilter]="5" (selected)="chooseFilterParam($event, 'GENDER')"
                [clearAll]="clearAllSelects.GENDER"
                (viewHeight)="getHeight($event);">
                </alt-select>
              </li>
              <li class="dropdown" *ngIf="filterType == 'UNTAGGED_CANDIDATE_LIST' || filterType == 'TAGGED_CANDIDATE_LIST'" [ngClass]="{'active' : industryFilterApplied}">
                <alt-select #INDUSTRY [srcTag]="'INDUSTRY'" (clickToClose)="INDUSTRY.toggleClose()" [options]="industryList" [showSelection]="false" placeholder="{{'filter.label.industry' | translate}}" (selected)="chooseFilterParam($event, 'INDUSTRY')"
                [clearAll]="clearAllSelects.INDUSTRY"  (viewHeight)="getHeight($event);">
                </alt-select>
              </li>
              <li class="dropdown" *ngIf="filterType == 'UNTAGGED_CANDIDATE_LIST' || filterType == 'TAGGED_CANDIDATE_LIST'" [ngClass]="{'active' : functionalAreaFilterApplied}">
                <alt-select #FUNCTIONAL [srcTag]="'FUNCTIONAL'" (clickToClose)="FUNCTIONAL.toggleClose()" [options]="functionalAreaList" [showSelection]="false" placeholder="{{'filter.label.functionalArea' | translate}}" (selected)="chooseFilterParam($event, 'FUNCTIONAL_AREA')"
                [clearAll]="clearAllSelects.FUNCTIONAL_AREA"  
                (viewHeight)="getHeight($event);">
                </alt-select>
              </li>
              <li class="dropdown" *ngIf="filterType == 'UNTAGGED_CANDIDATE_LIST' || filterType == 'TAGGED_CANDIDATE_LIST'" [ngClass]="{'active' : sourceFilterApplied}">
                <alt-select #SOURCE [srcTag]="'SOURCE'" (clickToClose)="SOURCE.toggleClose()" [options]="sourceTypeList" [showSelection]="false" placeholder="{{'filter.label.source' | translate}}" 
                [clearAll]="clearAllSelects.SOURCE" (selected)="chooseFilterParam($event, 'SOURCE')"
                (click)="getHeight($event);">
                </alt-select>
              </li>
              <li class="dropdown autocomplete-block" *ngIf="(filterType == 'JOB_LIST'  || filterType == 'CREATED_JOB_LIST' || filterType == 'ERP_JOB_LIST') && orgUnitworkSiteFilterLocationEnabled " [ngClass]="{'active' : locationFilterApplied}">
                <span class="material-icons dp20 search-icon-cus">search</span>
                <form [formGroup]="location">
                  <mat-form-field [floatLabel]="'never'">
                    <input type="text" class="form-control autocomplete-input" matInput formControlName="joiningLocation" [matAutocomplete]="auto"placeholder="{{'filter.label.location' | translate}}">
                  </mat-form-field>
                  <mat-autocomplete #auto="matAutocomplete" class="autocomplete-selected">
                    <mat-option matTooltip="{{location.joiningLocation}}" class="autocomplete-option" *ngFor="let location of joiningLocations"
                      [value]="location.joiningLocation" (onSelectionChange)="chooseFilterParam({'label' : location.joiningLocation, 'value' : location.joiningLocation, 'event': $event}, 'LOCATION')">
                      {{location.joiningLocation}}
                    </mat-option>
                  </mat-autocomplete>
                </form>
              </li>
              <li class="dropdown autocomplete-block"  *ngIf="(filterType == 'UNTAGGED_CANDIDATE_LIST' || filterType == 'TAGGED_CANDIDATE_LIST' ) && orgUnitworkSiteFilterLocationEnabled " [ngClass]="{'active' : locationFilterApplied}">
                <span class="material-icons dp20 search-icon-cus">search</span>
                <form [formGroup]="location">
                  <mat-form-field [floatLabel]="'never'">
                    <input type="text" class="form-control autocomplete-input" matInput formControlName="candidateLocation" [matAutocomplete]="auto" placeholder="{{'filter.label.location' | translate}}">
                  </mat-form-field>
                  <mat-autocomplete #auto="matAutocomplete" class="autocomplete-selected">
                    <mat-option matTooltip="{{location.candidateLocation}}" class="autocomplete-option" *ngFor="let location of candidateLocations"
                      [value]="location" (onSelectionChange)="chooseFilterParam({'label' : location, 'value' : location, 'event': $event}, 'LOCATION')">
                      {{location}}
                    </mat-option>
                  </mat-autocomplete>
                </form>
              </li>
              <li class="dropdown" *ngIf="filterType == 'TAGGED_CANDIDATE_LIST' || filterType == 'MY_REFERRALS'" [ngClass]="{'active' : stageStatusFilterApplied}">
                <alt-custom-tree #STAGESTATUSFILTER [srcTag]="'STAGESTATUSFILTERTAG'" (clickToClose)="STAGESTATUSFILTER.toggleClose()"
                [source]="stageStatusFilterSource" placeholder="{{'filter.label.stage_Status' | translate}}" (viewHeight)="getHeight($event);" (selected)="chooseFilterParam($event, 'STAGE/STATUS')"></alt-custom-tree>
              </li>
              <li class="dropdown" *ngIf="filterType == 'UNTAGGED_CANDIDATE_LIST' || filterType == 'TAGGED_CANDIDATE_LIST'" [ngClass]="{'active' : minExperienceFilterApplied}">
                <alt-select #MINEXPERIENCE [srcTag]="'MINEXPERIENCE'" (clickToClose)="MINEXPERIENCE.toggleClose()" [options]="minExperienceList" [showSelection]="false" placeholder="{{'filter.label.minExp' | translate}}" (selected)="chooseFilterParam($event, 'MIN_EXPERIENCE');getMaxExperienceList($event)"
                [clearAll]="clearAllSelects.MIN_EXPERIENCE" (viewHeight)="getHeight($event);">
                </alt-select>
              </li>
              <li class="dropdown" *ngIf="filterType == 'UNTAGGED_CANDIDATE_LIST' || filterType == 'TAGGED_CANDIDATE_LIST'" [ngClass]="{'active' : maxExperienceFilterApplied}">
                <alt-select #MAXEXPERIENCE [srcTag]="'MAXEXPERIENCE'" (clickToClose)="MAXEXPERIENCE.toggleClose()" [options]="maxExperienceList" [showSelection]="false" placeholder="{{'filter.label.maxExp' | translate}}" (selected)="chooseFilterParam($event, 'MAX_EXPERIENCE');getMinExperienceList($event)"
                [clearAll]="clearAllSelects.MAX_EXPERIENCE" (viewHeight)="getHeight($event);">
                </alt-select>
              </li>

              <li class="dropdown active dropdown-wd180" *ngIf="orgUnitworkSiteFilterEnabled && orgUnitHierarchy && orgUnitHierarchy.length > 0">
                <alt-select #ORGUNITHIR [srcTag]="'ORGUNITHIR'" (clickToClose)="ORGUNITHIR.toggleClose()" [options]="orgUnitHierarchy" [noFilter]="8" [isDefaultSelected]="true" [showSelection]="true" placeholder="{{'filter.label.orgUnit' | translate}}" (selected)="chooseFilterParam($event, 'ORG_UNIT', false, orgUnitHierarchyMap)"
                [clearAll]="clearAllSelects.ORG_UNIT" (viewHeight)="getHeight($event);">
                </alt-select>
              </li>
              
              <li class="dropdown active dropdown-wd180" *ngIf="orgUnitworkSiteFilterEnabled && workSiteHierarchy && workSiteHierarchy.length > 0">
                <alt-select #WORKSITEHIR [srcTag]="'WORKSITEHIR'" (clickToClose)="WORKSITEHIR.toggleClose()" [options]="workSiteHierarchy" [noFilter]="8" [isDefaultSelected]="true" [showSelection]="true" placeholder="{{'filter.label.worksite' | translate}}" (selected)="chooseFilterParam($event, 'WORKSITE', false)"
                [clearAll]="clearAllSelects.WORKSITE" (viewHeight)="getHeight($event);">
                </alt-select>
              </li>

            </ul>
          </div>
        </li>
        <li *ngIf="filterType != 'ERP_JOB_LIST'" class="sort-by-block {{filterDropDown2?'':'filter-open'}} {{filterDropDown?'':'filter-cel-active'}}" [ngClass]="{'active' : sortByApplied}">
          <label class="filter-cell" (click)="toggleFilter2();$event.stopPropagation()">
            <span class="icon-filter sort-mobile"></span>
            <span class="text-filter">{{'common.label.sortBy' | translate}}</span>
            <span class="mdi mdi-chevron-down md24 mobile-only"></span>
          </label>
          <ul class="list-reset dropdown-block">
            <li class="dropdown" [class.open]="isToggled">
              <a href="javascript:void(0)" class="dropdown-button" (click)="toggleClick()" (clickToClose)="toggleClickClosed()">
                <span class="text-dropdown">{{'common.label.sortBy' | translate}}</span>
                <span class="mdi mdi-chevron-down md24"></span>
              </a>
              <ul class="list-reset dropdown-1  dropdown-150 dropdown-style" *ngIf="isToggled">
                <li class="{{currentorder=='createdDateasc'?'active':''}}">
                  <a href="javascript:void(0)" (click)="sort('createdDate', 'asc')">{{'common.label.createdFirstToLast' | translate}}</a>
                </li>
                <li class="{{currentorder=='createdDatedesc'?'active':''}}">
                  <a href="javascript:void(0)" (click)="sort('createdDate', 'desc')">{{'common.label.createdLastToFirst' | translate}}</a>
                </li>
                <li class="{{currentorder=='modifiedDateasc'?'active':''}}">
                  <a href="javascript:void(0)" (click)="sort('modifiedDate', 'asc')">{{'common.label.modifiedFirstToLast' | translate}}</a>
                </li>
                <li class="{{currentorder=='modifiedDatedesc'?'active':''}}">
                  <a href="javascript:void(0)" (click)="sort('modifiedDate', 'desc')">{{'common.label.modifiedLastToFirst' | translate}}</a>
                </li>
                <li class="{{currentorder=='jobTitleasc'?'active':''}}" *ngIf="filterType == 'JOB_LIST' || filterType == 'CREATED_JOB_LIST'">
                  <a href="javascript:void(0)" (click)="sort('jobTitle', 'asc')">Alphabetically A to Z</a>
                </li>
                <li class="{{currentorder=='jobTitledesc'?'active':''}}" *ngIf="filterType == 'JOB_LIST' || filterType == 'CREATED_JOB_LIST'">
                  <a href="javascript:void(0)" (click)="sort('jobTitle', 'desc')">Alphabetically Z to A</a>
                </li>
                <li class="{{currentorder=='firstNameasc'?'active':''}}" *ngIf="filterType == 'UNTAGGED_CANDIDATE_LIST' || filterType == 'TAGGED_CANDIDATE_LIST'">
                  <a href="javascript:void(0)" (click)="sort('firstName', 'asc')">Alphabetically A to Z</a>
                </li>
                <li class="{{currentorder=='firstNamedesc'?'active':''}}" *ngIf="filterType == 'UNTAGGED_CANDIDATE_LIST' || filterType == 'TAGGED_CANDIDATE_LIST'">
                  <a href="javascript:void(0)" (click)="sort('firstName', 'desc')">Alphabetically Z to A</a>
                </li>
              </ul>
            </li>
            <li class="divider divider-sort">/</li>
            <li class="dropdown-calendar-outer">
              <alt-datepicker [styleClass]="'datepicker-filter'" class="dropdown-calendar" [(ngModel)]="startDate" placeholder="{{'filter.label.from' | translate}}" [mode]="landscape"
                #startDateControl="ngModel" (change)="selectStartDate(startDateControl.value)" [disabled]="!isDatePickerEnable"></alt-datepicker>
            </li>
            <li class="dropdown-calendar-outer">
              <alt-datepicker [styleClass]="'datepicker-filter'" class="dropdown-calendar" [(ngModel)]="endDate" placeholder="{{'filter.label.to' | translate}}" [mode]="landscape"
                #endDateControl="ngModel" (change)="selectEndDate(endDateControl.value)" [disabled]="!isDatePickerEnable"></alt-datepicker>
            </li>
          </ul>
        </li>
        <li class="applied-filters-block" *ngIf="visibleSelectedParamsLength">
          <label class="filter-cell">{{'filter.label.applied' | translate}}</label>
          <div class="applied-outer">
            <span *ngFor="let param of selectedParams">
              
              <span class="applied-text cursor" *ngIf="!(param.name == 'MIN_EXPERIENCE'  || param.name == 'MAX_EXPERIENCE') && param.isVisible" (click)="removeFilterParam(param)">{{param.value.label}} [x]</span>
              <span class="applied-text cursor" matTooltip="MINIMUM EXPERIENCE" *ngIf="(param.name == 'MIN_EXPERIENCE')" (click)="removeFilterParam(param)">{{param.value.label}} [x]</span>
              <span class="applied-text cursor" matTooltip="MAXIMUM EXPERIENCE" *ngIf="(param.name == 'MAX_EXPERIENCE')" (click)="removeFilterParam(param)">{{param.value.label}} [x]</span>
            
            </span>
            <span class="applied-text cursor gray-color" *ngIf="visibleSelectedParamsLength" (click)="clearFilter()">{{'common.label.clearAll' | translate}} [x]</span>
          </div>

        </li>
      </ul>

    </div>

    <div class="toggle-jobs">
      <a href="javascript:void(0)" class="toggle-element" (click)="isClassVisible = !isClassVisible;">{{ (!isClassVisible ?  'filter.label.hideFilters' : 'filter.label.showFilters') | translate}}
        <span class="mdi mdi-chevron-up md24"></span>
      </a>
    </div>
  </div>
</div>
<!-- \\ End Section filter -->
<!--Filter Loader-->
<alt-filter-loader *ngIf="Loader == 1"></alt-filter-loader>
<!--End Filter Loader-->