<alt-loader *ngIf="showloader"></alt-loader>
<div class="main-title-row">
    <h1 class="main-title">{{pageTitle}}</h1>
</div>
<!-- Section filter -->
<alt-filter filterType="ERP_JOB_LIST" [pageTitle]="this.pageTitle" (onFilter)="onFilter($event)" [applyRecruiterFilter]="applyRecruiterFilter"></alt-filter>
<!-- \\ End Section filter -->
<!--Section Loader Indicator-->
<alt-my-job-blank-screen [title]="pageTitle" *ngIf="loaderIndicator == 'nodata'"></alt-my-job-blank-screen>
<!--End Section Loader Indicator-->
<div class="jobs-listing clearfix" *ngIf="loaderIndicator == 'data' || loaderIndicator == 'loader'">
    <div class="row">
        <div class="card-block card-3 search-block-section">
            <div class="card-block-inner card-bg-none">
                <div class="input-group search-block" [formGroup]="queryFormGroup">
                    <input class="form-control" formControlName="query"  placeholder="{{'job.new_job.searchJobTileAndCode' | translate}}"  />
                    <span class="input-group-btn">
                        <button class="btn material-icons dp20" type="submit">search</button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <loader-indicator *ngIf="loaderIndicator == 'loader'"></loader-indicator>
    <div *ngIf="loaderIndicator == 'data'">
        <div class="table table-striped">
            <div class="row pagination-mobile">
                <alt-paginator #PAGINATIONTOP [srcTag]="'PAGINATIONTOP'" (clickToClose)="PAGINATIONTOP.toggleClose()" [rowsPerPageTemplate]="'15,30,45'" [pageState]="pageState" [pageLoading]="pageLoading" (pageChange)="getPageNumber($event)"
                    *ngIf="jobListData?.length > 0">{{'common.label.loading' | translate}}...</alt-paginator>
            </div>
            <div class="section-card clearfix">
                <div class="title-lg padding-t50" *ngIf="jobListData?.length <= 0">{{'common.label.noDataAvailable' | translate}}</div>
                <!-- Card Block --> 
                <div class="card-block card-3 card-clear-3" *ngFor="let data of jobListData; let i = index;">
                    <div class="card-block-inner">                                        
                        <div class="card-row card-designation height58 border-2">
                            <h2 class="title" [class.title-overflow]="data.jobTitle != null && data.jobTitle.length >40">
                               <a href="javascript:void(0);" (click)="gotoJobDetail(data)" class="link" matTooltip="{{data.jobTitle.toLowerCase()}}" *ngIf="data.jobTitle != null && data.jobTitle.length > 40">{{data.jobTitle.toLowerCase() | stringTrim:40}}</a>
                               <a href="javascript:void(0);" (click)="gotoJobDetail(data)" class="link" *ngIf="data.jobTitle != null && data.jobTitle.length <= 40">{{data.jobTitle.toLowerCase()}}</a>
                               <span class="job-code text-uppercase" *ngIf="data.jobTitle != null && data.jobTitle.length > 40 && data.requisitionCode != null && data.requisitionCode.length > 10" matTooltip="{{data.requisitionCode}}">{{data.requisitionCode}}</span>
                               <span class="job-code text-uppercase" *ngIf="data.jobTitle != null && (data.jobTitle.length <=40 || (data.jobTitle.length >= 40 && data.requisitionCode.length <= 10))">{{data.requisitionCode}}</span>
                               <span class="job-code text-uppercase" *ngIf="data.jobTitle == null">{{data.requisitionCode}}</span>
                            </h2>
                         </div>
                         <div class="card-row">
                            <ul class="list-reset clearfix listing-inline">
                                <li class="character-count-45" matTooltip="{{data.orgUnitCode.toLowerCase()}}" *ngIf="data.orgUnitCode != null && data.orgUnitCode.length > 41">{{data.orgUnitCode.toLowerCase()}}</li>
                                <li *ngIf="data.orgUnitCode != null && data.orgUnitCode.length <= 41">{{data.orgUnitCode.toLowerCase()}}</li>
                                <li class="character-count-20 count-18" matTooltipClass="primary-tooltipWD20" matTooltip="{{data.joiningLocation.toLowerCase()}}" *ngIf="data.joiningLocation != null && data.joiningLocation.length > 18">{{data.joiningLocation.toLowerCase()}}</li>
                                <li *ngIf="data.joiningLocation != null && data.joiningLocation.length <= 18">{{data.joiningLocation.toLowerCase()}}</li>
                                <li class="last-child position-rel">published on <span class="link2">{{data.createdDate | date:'dd/MM/yyyy'}}</span></li>
                            </ul>
                        </div>
                        <div class="card-row">
                            <span class="text-cell">{{'job.job_list.requiredExperience' | translate}}</span>
                            <span class="text-cell font-bold">{{data.minimumExp}} - {{data.maximumExp}} years</span>
                        </div>
                        <div class="required-experience-row minHeight168 clearfix">
                            <span class="required-cell">{{'job.job_list.requiredSkills' | translate}}</span>
                            <div *ngIf="!data.skillList?.split(',').length>0" class = "skill-row clearfix" >
                                    <div class="height135">
                                        <span >No Skills Available</span>
                                    </div>
                            </div>
                            <div *ngIf="data.skillList?.split(',').length>0"  class="skill-row clearfix" >
                                <div class="height135" slimScroll>
                                    <span *ngFor="let skill of data.skillList?.split(',');let i=index">
                                        <span class="tag-job" *ngIf="i<5">{{skill}}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                      </div>
                      <div *ngIf="pageTitle == 'ERP'"class="btn-row mrg-lf-20">                      
                            <button class="btn btn-gray btn-2">{{'job.job_list.share' | translate}}</button>                                        
                            <a [routerLink]="['/candidate/newcandidaterefer']" [queryParams]="{jobCode:data.requisitionCode, reqID:data.requisitionId }"  class="btn btn-primary btn-2 fl-right">{{'job.job_list.refer' | translate}} </a>
                    </div>
                    <div *ngIf="pageTitle == 'INTERNAL POSTINGS'"class="btn-row mrg-lf-20" >                      
                        <a [routerLink]="['/candidate/newcandidateijp']" [queryParams]="{jobCode:data.requisitionCode, reqID:data.requisitionId }"  class="btn btn-gray btn-full">{{'job.job_list.apply' | translate}}</a>             
                    </div>
                </div>
               <!-- \\ End Card Block -->
        </div>
            <!--  Section Pagination-->
            <div class="pagination-mobile">
                <div class="section-pagination pagination-bottom clearfix">
                    <alt-paginator #PAGINATIONBOT [srcTag]="'PAGINATIONBOT'" (clickToClose)="PAGINATIONBOT.toggleClose()" [rowsPerPageTemplate]="'15,30,45'" [pageState]="pageState" [pageLoading]="pageLoading" (pageChange)="getPageNumber($event)"
                        *ngIf="jobListData?.length > 0">{{'common.label.loading' | translate}}...</alt-paginator>
                </div>
            </div>
            <!-- \\ End Section Pagination-->
        </div>
    </div>
</div>