<div class="table-scroll-custome horizontal-scrollbox">
    <div class="table-responsive">                                                        
       <table class="table document-table margin-bot-none">
             <thead>
               <tr>
                 <th class="table-td01"><div class="loading-line width-60"></div></th>
                 <th class="table-td02"><div class="loading-line width-50"></div></th>
                 <th class="table-td03"><div class="loading-line width-70"></div></th>
                 
               </tr>
             </thead>
             <tbody>                                                                    
               <tr>
                   <td class="table-td01"><div class="loading-line width-60"></div></td>
                   <td class="table-td02"><div class="loading-line width-70"></div></td>
                   <td class="table-td03"><div class="loading-line width-80"></div></td>
               </tr> 
               <tr>
                   <td class="table-td01"><div class="loading-line width-80"></div></td>
                   <td class="table-td02"><div class="loading-line width-50"></div></td>
                   <td class="table-td03"><div class="loading-line width-60"></div></td>
               </tr>
               <tr>
                   <td class="table-td01"><div class="loading-line width-60"></div></td>
                   <td class="table-td02"><div class="loading-line width-70"></div></td>
                   <td class="table-td03"><div class="loading-line width-80"></div></td>
               </tr>
               <tr>
                   <td class="table-td01"><div class="loading-line width-60"></div></td>
                   <td class="table-td02"><div class="loading-line width-70"></div></td>
                   <td class="table-td03"><div class="loading-line width-80"></div></td>
               </tr> 
               <tr>
                   <td class="table-td01"><div class="loading-line width-80"></div></td>
                   <td class="table-td02"><div class="loading-line width-50"></div></td>
                   <td class="table-td03"><div class="loading-line width-60"></div></td>
               </tr>
               <tr class="td-h10">
                   <td class="table-td01">&nbsp;</td>
                   <td class="table-td02">&nbsp;</td>
                   <td class="table-td03">&nbsp;</td>
               </tr>  
               <tr>
                   <td class="table-td01"><div class="loading-line width-60"></div></td>
                   <td class="table-td02"><div class="loading-line width-70"></div></td>
                   <td class="table-td03"><div class="loading-line width-80"></div></td>
               </tr> 
               <tr>
                   <td class="table-td01"><div class="loading-line width-80"></div></td>
                   <td class="table-td02"><div class="loading-line width-50"></div></td>
                   <td class="table-td03"><div class="loading-line width-60"></div></td>
               </tr>
               <tr>
                   <td class="table-td01"><div class="loading-line width-60"></div></td>
                   <td class="table-td02"><div class="loading-line width-70"></div></td>
                   <td class="table-td03"><div class="loading-line width-80"></div></td>
               </tr>                                                                        
             </tbody>                                                  
           </table>                       
       </div>                                          
   </div>
