<div style="padding: 20px;">
<div class="panel-row clearfix">
  <span class="panel-col panel-col1"><div class="animated-background height8px width100 ">
                                    <div class="background-masker ghost-placeholder-header-top height0"></div>
                                    </div></span>
  <span class="panel-col text-bold-cell"><div class="animated-background height8px ">
                                    <div class="background-masker ghost-placeholder-header-top height0"></div>
                                    </div></span>

</div>
<div class="panel-row clearfix">
  <span class="panel-col panel-col1"><div class="animated-background height8px width100 ">
                                    <div class="background-masker ghost-placeholder-header-top height0"></div>
                                    </div></span>
  <span class="panel-col text-bold-cell"><div class="animated-background height8px ">
                                    <div class="background-masker ghost-placeholder-header-top height0"></div>
                                    </div></span>

</div>
<div class="panel-row clearfix">
  <span class="panel-col panel-col1"><div class="animated-background height8px width100 ">
                                    <div class="background-masker ghost-placeholder-header-top height0"></div>
                                    </div></span>
  <span class="panel-col text-bold-cell"><div class="animated-background height8px ">
                                    <div class="background-masker ghost-placeholder-header-top height0"></div>
                                    </div></span>

</div>
<div class="panel-row clearfix">
  <span class="panel-col panel-col1"><div class="animated-background height8px width100 ">
                                    <div class="background-masker ghost-placeholder-header-top height0"></div>
                                    </div></span>
  <span class="panel-col text-bold-cell"><div class="animated-background height8px ">
                                    <div class="background-masker ghost-placeholder-header-top height0"></div>
                                    </div></span>

</div>
<div class="panel-row clearfix">
  <span class="panel-col panel-col1"><div class="animated-background height8px width100 ">
                                    <div class="background-masker ghost-placeholder-header-top height0"></div>
                                    </div></span>
  <span class="panel-col text-bold-cell"><div class="animated-background height8px ">
                                    <div class="background-masker ghost-placeholder-header-top height0"></div>
                                    </div></span>

</div>
<div class="panel-row clearfix">
  <span class="panel-col panel-col1"><div class="animated-background height8px width100 ">
                                    <div class="background-masker ghost-placeholder-header-top height0"></div>
                                    </div></span>
  <span class="panel-col text-bold-cell"><div class="animated-background height8px ">
                                    <div class="background-masker ghost-placeholder-header-top height0"></div>
                                    </div></span>

</div>
</div>