  <div class="main-title-row">
    <h1 class="main-title">{{'candidate.list.myReferrals' | translate}}</h1>
  </div>
  <!-- Section filter -->
  <alt-filter filterType="MY_REFERRALS" [pageTitle]="this.pageTitle" (onSorted)="onSorted($event)" (onFilter)="onFilter($event)"
    (onDateFilter)="onDateFilter($event)"></alt-filter>
  <!-- \\ End Section filter -->
  <alt-candidates-tagged-blank-screen *ngIf="loaderIndicator == 'nodata'"></alt-candidates-tagged-blank-screen>
  <div class="jobs-listing clearfix">
    <div class="row">
      <div class="card-block card-3 search-block-section">
        <div class="card-block-inner card-bg-none">
          <div class="input-group search-block" [formGroup]="queryFormGroup">
            <input class="form-control" formControlName="query" placeholder="{{'candidate.list.searchCandidate' | translate}}" maxlength="30"
            />
            <span class="input-group-btn">
              <button class="btn material-icons dp20" type="submit">search</button>
            </span>
          </div>
        </div>
      </div>
    </div>

    <!--  Section Card-->
    <loader-indicator *ngIf="loaderIndicator == 'loader'"></loader-indicator>
    <div *ngIf="loaderIndicator == 'data'">
      <div class="table table-striped">
        <div class="row pagination-mobile">
          <alt-paginator #PAGINATIONTOP [srcTag]="'PAGINATIONTOP'" (clickToClose)="PAGINATIONTOP.toggleClose()" [rowsPerPageTemplate]="'15,30,45'"
            [pageState]="pageState" [pageLoading]="pageLoading" (pageChange)="getPageNumber($event)" *ngIf="data?.length > 0">{{'common.label.loading' | translate}}...</alt-paginator>
        </div>
        <div class="section-card clearfix">
          <div class="title-lg padding-t50" *ngIf="data?.length <= 0">{{'common.label.noDataAvailable' | translate}}</div>
          <!-- Card Block -->
          <div class="card-block card-3" *ngFor="let item of data; let i = index">
            <div class="card-block-inner">
              <div class="card-top card-row clearfix">
              </div>
              <div class="card-row card-name-row">
                <div class="image-block" *ngIf="item.profileImage !=null">
                  <img src="{{item.profileImage}}" (error)="imageError(event, item)" alt="profile img" />
                </div>
                <div class="image-block" *ngIf=" item.profileImage ==null" [style.background]="randomcolor[i]">
                  <span class="image-block-inner">{{(item.firstName!=null && item.firstName!=''? item.firstName.trim().charAt(0): '')+(item.lastName!=null
                    && item.lastName!=''? item.lastName.charAt(0): '') | uppercase}}</span>
                </div>
                <!--<span class="material-icons flag-icon">flag</span>-->
                <div class="title-cell">
                  <h3 class="title" *ngIf="(getLength(item.firstName)+getLength(item.middleName)+getLength(item.lastName))<=22">
                    <a class="link" [routerLink]="['/candidate/edit-candidate-tagged', item.candidateCode | formatCandidatecodeParam,'candidate-tagged-overview']"
                      [queryParams]="{ appid:item.applicantStatusID, jobCode:item.requisitionCode, jobTitle:item.jobTitle }">
                      {{item.firstName | lowercasepipe}} {{item.middleName | lowercasepipe}} {{item.lastName | lowercasepipe}}
                    </a>
                  </h3>
                  <h3 class="title text-nowrap-grad-white" *ngIf="(getLength(item.firstName)+getLength(item.middleName)+getLength(item.lastName))>22"
                    matTooltip="{{item.firstName}} {{item.middleName}} {{item.lastName}}">
                    <a class="link" [routerLink]="['/candidate/edit-candidate-tagged', item.candidateCode | formatCandidatecodeParam,'candidate-tagged-overview']"
                      [queryParams]="{ appid:item.applicantStatusID, jobCode:item.requisitionCode, jobTitle:item.jobTitle }">
                      {{item.firstName | lowercasepipe}} {{item.middleName | lowercasepipe}} {{item.lastName | lowercasepipe}}
                    </a>
                  </h3>
                  <ul class="list-reset listing-inline">
                    <li class="text-uppercase" *ngIf="item.candidateCode">{{item.candidateCode}}</li>
                    <li class="last-child" *ngIf="item.location != null && item.location.length <= 40">{{item.location.toLowerCase()}}</li>
                    <li class="last-child" matTooltip="{{item.location | lowercasepipe}}" *ngIf="item.location != null && item.location.length > 40">{{item.location.toLowerCase() | stringTrim:40}}</li>
                  </ul>
                </div>
              </div>
              <div class="card-row card-designation-small">
                <span class="job-status {{getJobStatusClass(item.requisitionStatus)}}"></span>
                <div class="common-cell">
                  <span class="name-cell font-bold text-nowrap-grad-white" matTooltip="{{item.jobTitle}}" *ngIf="item.jobTitle != null && item.jobTitle.length > 40">{{item.jobTitle | lowercasepipe}}</span>
                  <span class="name-cell font-bold" *ngIf="item.jobTitle != null && item.jobTitle.length <= 40">{{item.jobTitle | lowercasepipe}}</span>
                  <span class="job-code text-uppercase">{{item.requisitionCode}}</span>
                </div>
              </div>
              <div class="card-row ver-row clearfix">
                <div class="background-ver text-nowrap-grad-white" *ngIf="!(item.inReview)">{{item.stageName}} :
                  <span class="pending org" matTooltip="{{item.stageStatus}}" *ngIf="item.stageStatus != null && item.stageStatus.length > 25">{{item.stageStatus}}</span>
                  <span class="pending org" *ngIf="item.stageStatus != null && item.stageStatus.length < 25">{{item.stageStatus}}</span>
                </div>
                <div class="background-ver" *ngIf="(item.inReview)">{{'common.label.inReview' | translate}}
                </div>

                <div class="candidate-stages-bar-outer clearfix">
                  <ul class="list-reset candidate-stages-bar" *ngIf="getWorkflowProgressBar(item.workflowID, item)">
                    <ng-container *ngFor="let stage of item.stages; let i = index">
                      <li [ngClass]="{'dot': true, 'green': i < indexOfStage(item.stageName, item.stages) && !item.inReview, 'org': (item.stageName === stage && item.stageStatusType !== 'DROPPED' && item.stageStatusType !== 'REJECTED') && !item.inReview, 'red': (item.stageName === stage && (item.stageStatusType === 'DROPPED' || item.stageStatusType === 'REJECTED' || item.stageStatusType === 'APPROVALREJECTED' || item.stageStatusType === 'C&amp;B REJECT')) && !item.inReview }"
                        matTooltip="{{stage}}"></li>
                      <li class="bar" *ngIf="i != item.stages?.length"></li>
                    </ng-container>
                  </ul>
                </div>
              </div>
              <div class="card-row source-row clearfix">
                <div class="description-cell">
                    <span class="text-cell">{{'candidate.card.referredOn' | translate}}</span>
                    <span class="text-bold-cell">{{item.createdDate | date:'dd/MM/yyyy'}}</span>
                </div>
            </div>
            </div>
            <div class="btn-row mrg-lf-20" >
              <a [routerLink]="['/candidate/edit-candidate-tagged', item.candidateCode | formatCandidatecodeParam,'candidate-tagged-overview']" [queryParams]="{ appid:item.applicantStatusID, jobCode:item.requisitionCode, jobTitle:item.jobTitle }"
                  class="btn btn-gray">{{'candidate.card.viewProfile' | translate}}</a>
          </div>

          </div>
          <!-- \\ End Card Block -->
        </div>
        <!--  Section Pagination-->
        <div class="pagination-mobile">
          <div class="section-pagination pagination-bottom clearfix">
            <alt-paginator #PAGINATIONBOT [srcTag]="'PAGINATIONBOT'" (clickToClose)="PAGINATIONBOT.toggleClose()" [rowsPerPageTemplate]="'15,30,45'"
              [pageState]="pageState" [pageLoading]="pageLoading" (pageChange)="getPageNumber($event)" *ngIf="data?.length > 0">{{'common.label.loading' | translate}}...</alt-paginator>
          </div>
        </div>
        <!-- \\ End Section Pagination-->
      </div>
    </div>
    </div>

