<alt-loader *ngIf="showloader"></alt-loader>
<div class="main-title-row">
    <h1 class="main-title">{{pageTitle}}</h1>
</div>
<!-- Section filter -->
<alt-filter filterType="JOB_LIST" [pageTitle]="this.pageTitle" (onSorted)="onSorted($event)" (onFilter)="onFilter($event)" (onDateFilter)="onDateFilter($event)" [applyRecruiterFilter]="applyRecruiterFilter"></alt-filter>
<!-- \\ End Section filter -->
<!--Section Loader Indicator-->
<alt-my-job-blank-screen [title]="pageTitle" *ngIf="loaderIndicator == 'nodata'"></alt-my-job-blank-screen>
<!--End Section Loader Indicator-->
<div class="jobs-listing clearfix" *ngIf="loaderIndicator == 'data' || loaderIndicator == 'loader'">
    <div class="row">
        <div class="card-block card-3 search-block-section">
            <div class="card-block-inner card-bg-none">
                <div class="input-group search-block" [formGroup]="queryFormGroup">
                    <input class="form-control" formControlName="query" placeholder="{{'job.new_job.searchJobTitle' | translate}}" />
                    <span class="input-group-btn">
                        <button class="btn material-icons dp20" type="submit">search</button>
                    </span>
                </div>
            </div>
        </div>
        <div *ngIf="isBulkMenu"class="card-block card-3 card-bulk-actions">
            <div class="card-block-inner card-bg-none clearfix">

                <div class="select-all-btn col-2">
                    <div class="select-all-btn-inner">
                        <div class="checkbox checkbox-inline">
                            <input type="checkbox" [(ngModel)]="selectAll" (change)="allSelectEvent()" class="styled" id="select" />
                            <label for="select" class="custome-label"> {{'common.label.selectAll' | translate}} </label>
                        </div>
                    </div>
                </div>
                <div class="dropdown dropdown-outer-2 col-2" [class.open]="isToggled">
                    <a href="JavaScript:Void(0);" class="bulk-actions" (click)="toggleClick()" (clickToClose)="toggleClickClosed()">
                        <span class="text-dropdown">{{'common.label.bulkActions' | translate}}</span>
                        <span class="mdi mdi-chevron-down md24"></span>
                    </a>
                    <ul class="list-reset dropdown-10 dropdown-style" *ngIf="isToggled">
                        <li *ngIf="featureDataMap.get('PUBLISH_TO_EMPLOYEE_REFERRAL') == 1">
                            <a (click)="openBulkAction('E')" href="javascript:void" gaevent="ContextMenu#Bulk Publish to Employee Referral#click">{{'job.job_list.publishToER' | translate}}</a>
                        </li>
                        <li class="disabled" *ngIf="featureDataMap.get('PUBLISH_TO_EMPLOYEE_REFERRAL') == 2 && featureDataMap.get('PUBLISH TO EMPLOYEE REFERRAL') != 3">
                            <a>{{'job.job_list.publishToER' | translate}}</a>
                        </li>
                        <li *ngIf="featureDataMap.get('PUBLISH_TO_IJP') == 1">
                            <a (click)="openBulkAction('I')" href="javascript:void" gaevent="ContextMenu#Bulk Publish to Internal Transfer#click">{{'job.job_list.publishToIT' | translate}}</a>
                        </li>
                        <li class="disabled" *ngIf="featureDataMap.get('PUBLISH_TO_IJP') == 2 && featureDataMap.get('PUBLISH TO IJP') != 3 ">
                            <a>{{'job.job_list.publishToIT' | translate}}</a>
                        </li>
                        <li *ngIf="featureDataMap.get('PUBLISH_TO_CP') == 1">
                            <a (click)="openBulkAction('C')" href="javascript:void" gaevent="ContextMenu#Bulk Publish to Candidate Portal#click">{{'job.job_list.publishToCP' | translate}}</a>
                        </li>
                        <li class="disabled" *ngIf="featureDataMap.get('PUBLISH_TO_CP') ==2 && featureDataMap.get('PUBLISH_TO_CP') != 3">
                            <a >{{'job.job_list.publishToCP' | translate}}</a>
                        </li>
                        <li *ngIf="featureDataMap.get('PUBLISH_TO_VENDOR') == 1">
                            <a (click)="openBulkAction('V')" href="javascript:void" gaevent="ContextMenu#Bulk Assign to Vendors#click">{{'job.job_list.assignToVendors' | translate}}</a>
                        </li>
                        <li class="disabled" *ngIf="featureDataMap.get('PUBLISH_TO_VENDOR') == 2 && featureDataMap.get('ASSIGN_TO_VENDOR') != 3">
                            <a>{{'job.job_list.assignToVendors' | translate}}</a>
                        </li>
                        <li *ngIf="featureDataMap.get('ASSIGN_TO_RECRUITER') == 1">
                            <a (click)="openBulkAction('R')" href="javascript:void" gaevent="ContextMenu#Bulk Assign to Recruiter#click">{{'job.job_list.assignToRecruiter' | translate}}</a>
                        </li>
                        <li class="disabled" *ngIf="featureDataMap.get('ASSIGN_TO_RECRUITER') == 2 && featureDataMap.get('ASSIGN_TO_RECRUITER') !=3">
                            <a>{{'job.job_list.assignToRecruiter' | translate}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <loader-indicator *ngIf="loaderIndicator == 'loader'"></loader-indicator>
    <div *ngIf="loaderIndicator == 'data'">
        <!-- Card Block -->

        <div class="table table-striped">
            <div class="row pagination-mobile">
                <alt-paginator #PAGINATIONTOP [srcTag]="'PAGINATIONTOP'" (clickToClose)="PAGINATIONTOP.toggleClose()" [rowsPerPageTemplate]="'15,30,45'" [pageState]="pageState" [pageLoading]="pageLoading" (pageChange)="getPageNumber($event)"
                    *ngIf="jobListData?.length > 0">{{'common.label.loading' | translate}}...</alt-paginator>
            </div>
            <div class="section-card clearfix">
                <div class="title-lg padding-t50" *ngIf="jobListData?.length <= 0">{{'common.label.noDataAvailable' | translate}}</div>
                <!-- Card Block -->
                <div class="card-block card-3 hr-heads-view-card" *ngFor="let data of jobListData; let i = index;">
                    <div class="card-block-inner">
                        <div class="card-top card-row clearfix">
                            <div class="check-box checkbox">
                                <input type="checkbox" [(ngModel)]="data.selected" [checked]="data.selected" class="styled" [disabled]="isThisJobDisabled(data.sysRequisitionStatus)" (change)="singleSelectEvent(data)">
                                <label></label>
                            </div>
                            
                            <alt-job-context-menu *ngIf="featureDataMap.get('EDIT_JOB') !='3'" (output)="reloadNgOnInit()" [requisitionId]="data.requisitionId" [jobCode]="data.requisitionCode" [jobData]="data"  [isThisJobDisabled]="isThisJobDisabled(data.sysRequisitionStatus)"
                                (showloader)="changed($event);"></alt-job-context-menu>
                        </div>
                        <div class="card-row card-designation">                            
                            <h2 class="title" [class.title-overflow]="data.jobTitle != null && data.jobTitle.length >40"><span class="job-status {{getJobStatusClass(data.sysRequisitionStatus)}}"></span>
                               <a href="javascript:void(0);" (click)="gotoJobDetail(data)" class="link" matTooltip="{{data.jobTitle.toLowerCase()}}" *ngIf="data.jobTitle != null && data.jobTitle.length > 40">{{data.jobTitle.toLowerCase() | stringTrim:40}}</a>
                               <a href="javascript:void(0);" (click)="gotoJobDetail(data)" class="link" *ngIf="data.jobTitle != null && data.jobTitle.length <= 40">{{data.jobTitle.toLowerCase()}}</a>
                                <span class="job-code text-uppercase" *ngIf="data.jobTitle != null && data.jobTitle.length > 40 && data.requisitionCode != null && data.requisitionCode.length > 10" matTooltip="{{data.requisitionCode}}">{{data.requisitionCode}}</span>
                                <span class="job-code text-uppercase" *ngIf="data.jobTitle != null && (data.jobTitle.length <=40 || (data.jobTitle.length >=40 && data.requisitionCode.length <= 10))">{{data.requisitionCode}}</span>
                                <span class="job-code text-uppercase" *ngIf="data.jobTitle == null">{{data.requisitionCode}}</span>
                            </h2>
                        </div>
                        <div class="card-row">
                            <ul class="list-reset clearfix listing-inline">
                                <li class="character-count-45" matTooltip="{{data.orgUnitCode.toLowerCase()}}" *ngIf="data.orgUnitCode != null && data.orgUnitCode.length > 41">{{data.orgUnitCode.toLowerCase()}}</li>
                                <li *ngIf="data.orgUnitCode != null && data.orgUnitCode.length <= 41">{{data.orgUnitCode.toLowerCase()}}</li>
                                <li class="character-count-20" matTooltipClass="primary-tooltipWD20" matTooltip="{{data.joiningLocation.toLowerCase()}}" *ngIf="data.joiningLocation != null && data.joiningLocation.length > 18">{{data.joiningLocation.toLowerCase()}}</li>
                                <li *ngIf="data.joiningLocation != null && data.joiningLocation.length <= 18">{{data.joiningLocation.toLowerCase()}}</li>
                                <li class="last-child position-rel">{{'common.label.createdOn' | translate}} <span class="link menu-click">{{data.createdDate | date:'dd/MM/yyyy'}}</span></li>
                            </ul>
                        </div>
                        <div class="hiring-team-list clearfix">
                            <!--<div class="image-block"><img src="./assets/images/svg/profile_male.svg" alt="profile img" />
                            </div>-->
                            <div class="image-block" [style.background]="randomcolor[i]">
                                <span class="image-block-inner"> {{(data?.hiringManager!=null && data?.hiringManager!=''? data?.hiringManager?.charAt(0):
                                    '')+(data?.hiringManager?.split(' ')[1]?.length>0? data?.hiringManager?.split(' ')[1].charAt(0):
                                    '') | uppercase}}</span>
                            </div>
                            <div class="description-cell">
                                <span class="text-cell">{{'common.label.hiringManager' | translate}} </span>
                                <span class="text-bold-cell text-uppercase text-nowrap-grad-white" matTooltip="{{data.hiringManager}}" *ngIf="data.hiringManager != null && data.hiringManager.length > 25">{{data.hiringManager}}</span>
                                <span class="text-bold-cell text-uppercase" *ngIf="data.hiringManager != null && data.hiringManager.length <= 25">{{data.hiringManager}}</span>
                            </div>
                        </div>
                        <div class="table-data">
                            <ul class="list-reset table-data-ul">
                                <li class="cursor" (click)="OpenAssignJobToRec(data)" *ngIf="!isThisJobDisabled(data.sysRequisitionStatus) && featureDataMap.get('ASSIGN_TO_RECRUITER') == 1">
                                    <div class="card-cell-left">
                                        <span class="text-cell">{{'common.label.team' | translate}}</span>
                                        <span class="text-bold-cell">{{data?.teamCount}}</span>
                                    </div>
                                    <span class="edit-icon">create</span>
                                </li>
                                <li class="cursor disabled" *ngIf="isThisJobDisabled(data.sysRequisitionStatus) && featureDataMap.get('ASSIGN_TO_RECRUITER') != 3" matTooltip="Job is in {{data.label}} state">
                                    <div class="card-cell-left">
                                        <span class="text-cell">{{'common.label.team' | translate}}</span>
                                        <span class="text-bold-cell">{{data?.teamCount}}</span>
                                    </div>
                                    <span class="edit-icon">create</span>
                                </li>
                                <li class="cursor disabled" *ngIf="featureDataMap.get('ASSIGN_TO_RECRUITER') == 2 && !isThisJobDisabled(data.sysRequisitionStatus)">
                                    <div class="card-cell-left">
                                        <span class="text-cell">{{'common.label.team' | translate}}</span>
                                        <span class="text-bold-cell">{{data?.teamCount}}</span>
                                    </div>
                                    <span class="edit-icon">create</span>
                                </li>

                                <li class="last-child" *ngIf="!isThisJobDisabled(data.sysRequisitionStatus) && featureDataMap.get('SOURCE_AND_TEAM') == 1">
                                    <a [routerLink]="['/job/edit-job/', data.requisitionCode | formatJobcodeParam, 'performance-source-team']">
                                        <div class="card-cell-left">
                                            <span class="text-cell">{{'common.label.publishedTo' | translate}}</span>
                                            <span class="text-bold-cell">{{data.publishedToCount}}</span>
                                        </div>
                                        <span class="edit-icon">create</span>
                                    </a>
                                </li>
                                <li class="last-child disabled" *ngIf="isThisJobDisabled(data.sysRequisitionStatus) && featureDataMap.get('SOURCE_AND_TEAM') != 3" matTooltip="Job is in {{data.label}} state">
                                    <a>
                                        <div class="card-cell-left">
                                            <span class="text-cell">{{'common.label.publishedTo' | translate}}</span>
                                            <span class="text-bold-cell">{{data.publishedToCount}}</span>
                                        </div>
                                        <span class="edit-icon">create</span>
                                    </a>
                                </li>
                                <li class="last-child disabled" *ngIf="featureDataMap.get('SOURCE_AND_TEAM') ==2 && !isThisJobDisabled(data.sysRequisitionStatus)">
                                    <a>
                                        <div class="card-cell-left">
                                            <span class="text-cell">{{'common.label.publishedTo' | translate}}</span>
                                            <span class="text-bold-cell">{{data.publishedToCount}}</span>
                                        </div>
                                        <span class="edit-icon">create</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--<div class="color-block clearfix">approve this job</div>-->
                        <div [ngClass]="{'job-health-poor' : data.jobHealth <=33, 'job-health-average' : data.jobHealth >33 &&  data.jobHealth <= 66, 'job-health-good' : data.jobHealth > 66 }"
                            class="clearfix color-block">
                            <div class="card-cell-left">
                                <ul class="job-summary list-reset" matTooltip="Remaining Days/Remaining Openings">
                                    <li>{{data?.remainingDays | formatDigitsLength:3}} {{('common.label.days' | translate) | uppercase}}</li>
                                    <li class="divider">/</li>
                                    <li>{{data?.remainingOpenings | formatDigitsLength:3}} {{('common.label.OPENINGS' | translate) | uppercase}}</li>
                                </ul>
                            </div>
                            <div class="fl-right" *ngIf="data.jobHealth > 66">
                                <span class="thumb-text">{{'common.label.GOOD' | translate}}</span>
                                <span class="material-icons">thumb_up</span>
                            </div>
                            <div class="fl-right" *ngIf="data.jobHealth > 33 && data.jobHealth <=66 ">
                                <span class="thumb-text">{{'common.label.AVERAGE' | translate}}</span>
                                <span class="thumb-icon thumb-hold"></span>
                            </div>
                            <div class="fl-right" *ngIf="data.jobHealth <= 33">
                                <span class="thumb-text">{{'common.label.POOR' | translate}}</span>
                                <span class="material-icons">thumb_down</span>
                            </div>
                        </div>
                        <div class="table-data table-padding">
                            <ul class="list-reset text-center table-data-ul">
                                <li>
                                    <span class="text-bold-cell">{{data.noOfOpening}}</span>
                                    <span class="text-cell">{{'common.label.OPENINGS' | translate}}</span>
                                </li>
                                <li>
                                    <span class="text-bold-cell">{{data.inReviewCount}}</span>
                                    <span class="text-cell">{{'common.label.inProcess' | translate}}</span>
                                </li>
                                <li>
                                    <span class="text-bold-cell">{{data.offeredCount}}</span>
                                    <span class="text-cell">{{'common.label.offered' | translate}}</span>
                                </li>
                                <li class="last-child job-accepted">
                                    <span class="text-bold-cell">{{data.acceptedCount}}</span>
                                    <span class="text-cell">{{'common.label.joined' | translate}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- \\ End Card Block -->
            </div>
            <!--  Section Pagination-->
            <div class="pagination-mobile">
                <div class="section-pagination pagination-bottom clearfix">
                    <alt-paginator #PAGINATIONBOT [srcTag]="'PAGINATIONBOT'" (clickToClose)="PAGINATIONBOT.toggleClose()" [rowsPerPageTemplate]="'15,30,45'" [pageState]="pageState" [pageLoading]="pageLoading" (pageChange)="getPageNumber($event)"
                        *ngIf="jobListData?.length > 0">{{'common.label.loading' | translate}}...</alt-paginator>
                </div>
            </div>
            <!-- \\ End Section Pagination-->
        </div>
    </div>
</div>