<h4 class="title-purple-18">Downloads</h4>
<h2 class="title-lg">The home for the reports you download</h2>
<h2 class="title-lg-2">At one place</h2>
<!--  Section Card-->
<div class="section-card">
  <div class="section-blank-screen clearfix">
    <!-- Card Block -->
    <div class="card-block card-3">
      <div class="card-block-inner">
        <div class="blank-screen-card-top">
          <span class="screen-icon dashboard-reports-icon"></span>
        </div>
        <div class="blank-screen-card-bottom">
          <a href="javascript:void(0);" class="btn btn-primary">go to reports</a>
        </div>
      </div>
    </div>
    <!-- \\ End Card Block -->
  </div>
</div>
<!-- \\ End Section Card-->