<div class="panel-heading clearfix">
	<h2 class="panel-title fl-left text-capitalize">{{security?.organisationalSectionLabel}}</h2>
	<!--<span class="mdi mdi-chevron-down fl-right"></span>-->
</div>
<div class="panel-body" *ngIf="checkData==0">{{'common.label.noDataAvailable' | translate}}</div>
<div class="panel-body" *ngIf="checkData>0">
	<div *ngFor="let orgUnit of organizationDetailData.orgUnitHierarchy" class="panel-row clearfix">
		<span class="panel-col panel-col1">{{orgUnit.orgUnitType}}</span>
		<span class="panel-col text-bold-cell">{{orgUnit.orgUnitName}}</span>
	</div>
	<div *ngFor="let workSite of organizationDetailData.workSiteHierarchy" class="panel-row clearfix">
		<span class="panel-col panel-col1">{{workSite.orgUnitType}}</span>
		<span class="panel-col text-bold-cell">{{workSite.orgUnitName}}</span>
	</div>
	<div class="panel-row clearfix" *ngIf="security?.industryRendered">
		<span class="panel-col panel-col1">industry</span>
		<span class="panel-col text-bold-cell">{{organizationDetailData.industry}}</span>
	</div>
	<div class="panel-row clearfix" *ngIf="security?.functionalAreaRendered">
		<span class="panel-col panel-col1">{{security?.functionalAreaLabel}}</span>
		<span class="panel-col text-bold-cell">{{organizationDetailData.functionalArea}}</span>
	</div>
	<div class="panel-row clearfix" *ngIf="security?.roleRendered">
		<span class="panel-col panel-col1">{{security?.roleLabel}}</span>
		<span class="panel-col text-bold-cell">{{organizationDetailData.role}}</span>
	</div>
</div>