<!--  Section Card-->
<div class="section-card clearfix">
    <!-- Card Block -->
    <div class="card-block card-3">
        <div class="card-block-inner">
            <div class="timeline-item">
                <div class="animated-background">
                    <div class="background-masker ghost-placeholder-header-top"></div>
                    <div class="background-masker ghost-placeholder-line-01"></div>
                    <div class="background-masker ghost-placeholder-line-end-01"></div>
                    <div class="background-masker ghost-placeholder-top"></div>
                    <div class="background-masker ghost-placeholder-line-02"></div>
                    <div class="background-masker ghost-placeholder-line-03"></div>
                    <div class="background-masker ghost-placeholder-thumb"></div>
                    <div class="background-masker ghost-placeholder-thumb-top"></div>
                    <div class="background-masker ghost-placeholder-thumb-left"></div>
                    <div class="background-masker ghost-placeholder-thumb-right"></div>
                    <div class="background-masker ghost-placeholder-thumb-bottom"></div>
                    <div class="background-masker ghost-placeholder-subthumb-left"></div>
                    <div class="background-masker ghost-placeholder-subthumb-right"></div>
                    <div class="background-masker ghost-placeholder-subthumb-bottom"></div>
                    <div class="background-masker ghost-placeholder-line-04"></div>
                    <div class="background-masker ghost-placeholder-line-end-04"></div>
                    <div class="background-masker ghost-placeholder-line-end-last-04"></div>
                    <div class="background-masker ghost-placeholder-line-06"></div>
                    <div class="background-masker ghost-placeholder-line-07"></div>
                    <div class="background-masker ghost-placeholder-line-end-07"></div>
                    <div class="background-masker ghost-placeholder-line-end-mid-07"></div>
                    <div class="background-masker ghost-placeholder-line-end-last-07"></div>
                    <div class="background-masker ghost-placeholder-line-08"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- \\ End Card Block -->
    <!-- Card Block -->
    <div class="card-block card-3">
        <div class="card-block-inner">
            <div class="timeline-item">
                <div class="animated-background">
                    <div class="background-masker ghost-placeholder-header-top"></div>
                    <div class="background-masker ghost-placeholder-line-01"></div>
                    <div class="background-masker ghost-placeholder-line-end-01"></div>
                    <div class="background-masker ghost-placeholder-top"></div>
                    <div class="background-masker ghost-placeholder-line-02"></div>
                    <div class="background-masker ghost-placeholder-line-03"></div>
                    <div class="background-masker ghost-placeholder-thumb"></div>
                    <div class="background-masker ghost-placeholder-thumb-top"></div>
                    <div class="background-masker ghost-placeholder-thumb-left"></div>
                    <div class="background-masker ghost-placeholder-thumb-right"></div>
                    <div class="background-masker ghost-placeholder-thumb-bottom"></div>
                    <div class="background-masker ghost-placeholder-subthumb-left"></div>
                    <div class="background-masker ghost-placeholder-subthumb-right"></div>
                    <div class="background-masker ghost-placeholder-subthumb-bottom"></div>
                    <div class="background-masker ghost-placeholder-line-04"></div>
                    <div class="background-masker ghost-placeholder-line-end-04"></div>
                    <div class="background-masker ghost-placeholder-line-end-last-04"></div>
                    <div class="background-masker ghost-placeholder-line-06"></div>
                    <div class="background-masker ghost-placeholder-line-07"></div>
                    <div class="background-masker ghost-placeholder-line-end-07"></div>
                    <div class="background-masker ghost-placeholder-line-end-mid-07"></div>
                    <div class="background-masker ghost-placeholder-line-end-last-07"></div>
                    <div class="background-masker ghost-placeholder-line-08"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- \\ End Card Block -->
    <!-- Card Block -->
    <div class="card-block card-3">
        <div class="card-block-inner">
            <div class="timeline-item">
                <div class="animated-background">
                    <div class="background-masker ghost-placeholder-header-top"></div>
                    <div class="background-masker ghost-placeholder-line-01"></div>
                    <div class="background-masker ghost-placeholder-line-end-01"></div>
                    <div class="background-masker ghost-placeholder-top"></div>
                    <div class="background-masker ghost-placeholder-line-02"></div>
                    <div class="background-masker ghost-placeholder-line-03"></div>
                    <div class="background-masker ghost-placeholder-thumb"></div>
                    <div class="background-masker ghost-placeholder-thumb-top"></div>
                    <div class="background-masker ghost-placeholder-thumb-left"></div>
                    <div class="background-masker ghost-placeholder-thumb-right"></div>
                    <div class="background-masker ghost-placeholder-thumb-bottom"></div>
                    <div class="background-masker ghost-placeholder-subthumb-left"></div>
                    <div class="background-masker ghost-placeholder-subthumb-right"></div>
                    <div class="background-masker ghost-placeholder-subthumb-bottom"></div>
                    <div class="background-masker ghost-placeholder-line-04"></div>
                    <div class="background-masker ghost-placeholder-line-end-04"></div>
                    <div class="background-masker ghost-placeholder-line-end-last-04"></div>
                    <div class="background-masker ghost-placeholder-line-06"></div>
                    <div class="background-masker ghost-placeholder-line-07"></div>
                    <div class="background-masker ghost-placeholder-line-end-07"></div>
                    <div class="background-masker ghost-placeholder-line-end-mid-07"></div>
                    <div class="background-masker ghost-placeholder-line-end-last-07"></div>
                    <div class="background-masker ghost-placeholder-line-08"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- \\ End Card Block -->
    <!-- Card Block -->
    <div class="card-block card-3">
        <div class="card-block-inner">
            <div class="timeline-item">
                <div class="animated-background">
                    <div class="background-masker ghost-placeholder-header-top"></div>
                    <div class="background-masker ghost-placeholder-line-01"></div>
                    <div class="background-masker ghost-placeholder-line-end-01"></div>
                    <div class="background-masker ghost-placeholder-top"></div>
                    <div class="background-masker ghost-placeholder-line-02"></div>
                    <div class="background-masker ghost-placeholder-line-03"></div>
                    <div class="background-masker ghost-placeholder-thumb"></div>
                    <div class="background-masker ghost-placeholder-thumb-top"></div>
                    <div class="background-masker ghost-placeholder-thumb-left"></div>
                    <div class="background-masker ghost-placeholder-thumb-right"></div>
                    <div class="background-masker ghost-placeholder-thumb-bottom"></div>
                    <div class="background-masker ghost-placeholder-subthumb-left"></div>
                    <div class="background-masker ghost-placeholder-subthumb-right"></div>
                    <div class="background-masker ghost-placeholder-subthumb-bottom"></div>
                    <div class="background-masker ghost-placeholder-line-04"></div>
                    <div class="background-masker ghost-placeholder-line-end-04"></div>
                    <div class="background-masker ghost-placeholder-line-end-last-04"></div>
                    <div class="background-masker ghost-placeholder-line-06"></div>
                    <div class="background-masker ghost-placeholder-line-07"></div>
                    <div class="background-masker ghost-placeholder-line-end-07"></div>
                    <div class="background-masker ghost-placeholder-line-end-mid-07"></div>
                    <div class="background-masker ghost-placeholder-line-end-last-07"></div>
                    <div class="background-masker ghost-placeholder-line-08"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- \\ End Card Block -->
    <!-- Card Block -->
    <div class="card-block card-3">
        <div class="card-block-inner">
            <div class="timeline-item">
                <div class="animated-background">
                    <div class="background-masker ghost-placeholder-header-top"></div>
                    <div class="background-masker ghost-placeholder-line-01"></div>
                    <div class="background-masker ghost-placeholder-line-end-01"></div>
                    <div class="background-masker ghost-placeholder-top"></div>
                    <div class="background-masker ghost-placeholder-line-02"></div>
                    <div class="background-masker ghost-placeholder-line-03"></div>
                    <div class="background-masker ghost-placeholder-thumb"></div>
                    <div class="background-masker ghost-placeholder-thumb-top"></div>
                    <div class="background-masker ghost-placeholder-thumb-left"></div>
                    <div class="background-masker ghost-placeholder-thumb-right"></div>
                    <div class="background-masker ghost-placeholder-thumb-bottom"></div>
                    <div class="background-masker ghost-placeholder-subthumb-left"></div>
                    <div class="background-masker ghost-placeholder-subthumb-right"></div>
                    <div class="background-masker ghost-placeholder-subthumb-bottom"></div>
                    <div class="background-masker ghost-placeholder-line-04"></div>
                    <div class="background-masker ghost-placeholder-line-end-04"></div>
                    <div class="background-masker ghost-placeholder-line-end-last-04"></div>
                    <div class="background-masker ghost-placeholder-line-06"></div>
                    <div class="background-masker ghost-placeholder-line-07"></div>
                    <div class="background-masker ghost-placeholder-line-end-07"></div>
                    <div class="background-masker ghost-placeholder-line-end-mid-07"></div>
                    <div class="background-masker ghost-placeholder-line-end-last-07"></div>
                    <div class="background-masker ghost-placeholder-line-08"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- \\ End Card Block -->
    <!-- Card Block -->
    <div class="card-block card-3">
        <div class="card-block-inner">
            <div class="timeline-item">
                <div class="animated-background">
                    <div class="background-masker ghost-placeholder-header-top"></div>
                    <div class="background-masker ghost-placeholder-line-01"></div>
                    <div class="background-masker ghost-placeholder-line-end-01"></div>
                    <div class="background-masker ghost-placeholder-top"></div>
                    <div class="background-masker ghost-placeholder-line-02"></div>
                    <div class="background-masker ghost-placeholder-line-03"></div>
                    <div class="background-masker ghost-placeholder-thumb"></div>
                    <div class="background-masker ghost-placeholder-thumb-top"></div>
                    <div class="background-masker ghost-placeholder-thumb-left"></div>
                    <div class="background-masker ghost-placeholder-thumb-right"></div>
                    <div class="background-masker ghost-placeholder-thumb-bottom"></div>
                    <div class="background-masker ghost-placeholder-subthumb-left"></div>
                    <div class="background-masker ghost-placeholder-subthumb-right"></div>
                    <div class="background-masker ghost-placeholder-subthumb-bottom"></div>
                    <div class="background-masker ghost-placeholder-line-04"></div>
                    <div class="background-masker ghost-placeholder-line-end-04"></div>
                    <div class="background-masker ghost-placeholder-line-end-last-04"></div>
                    <div class="background-masker ghost-placeholder-line-06"></div>
                    <div class="background-masker ghost-placeholder-line-07"></div>
                    <div class="background-masker ghost-placeholder-line-end-07"></div>
                    <div class="background-masker ghost-placeholder-line-end-mid-07"></div>
                    <div class="background-masker ghost-placeholder-line-end-last-07"></div>
                    <div class="background-masker ghost-placeholder-line-08"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- \\ End Card Block -->
    <!-- Card Block -->
    <div class="card-block card-3">
        <div class="card-block-inner">
            <div class="timeline-item">
                <div class="animated-background">
                    <div class="background-masker ghost-placeholder-header-top"></div>
                    <div class="background-masker ghost-placeholder-line-01"></div>
                    <div class="background-masker ghost-placeholder-line-end-01"></div>
                    <div class="background-masker ghost-placeholder-top"></div>
                    <div class="background-masker ghost-placeholder-line-02"></div>
                    <div class="background-masker ghost-placeholder-line-03"></div>
                    <div class="background-masker ghost-placeholder-thumb"></div>
                    <div class="background-masker ghost-placeholder-thumb-top"></div>
                    <div class="background-masker ghost-placeholder-thumb-left"></div>
                    <div class="background-masker ghost-placeholder-thumb-right"></div>
                    <div class="background-masker ghost-placeholder-thumb-bottom"></div>
                    <div class="background-masker ghost-placeholder-subthumb-left"></div>
                    <div class="background-masker ghost-placeholder-subthumb-right"></div>
                    <div class="background-masker ghost-placeholder-subthumb-bottom"></div>
                    <div class="background-masker ghost-placeholder-line-04"></div>
                    <div class="background-masker ghost-placeholder-line-end-04"></div>
                    <div class="background-masker ghost-placeholder-line-end-last-04"></div>
                    <div class="background-masker ghost-placeholder-line-06"></div>
                    <div class="background-masker ghost-placeholder-line-07"></div>
                    <div class="background-masker ghost-placeholder-line-end-07"></div>
                    <div class="background-masker ghost-placeholder-line-end-mid-07"></div>
                    <div class="background-masker ghost-placeholder-line-end-last-07"></div>
                    <div class="background-masker ghost-placeholder-line-08"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- \\ End Card Block -->
    <!-- Card Block -->
    <div class="card-block card-3">
        <div class="card-block-inner">
            <div class="timeline-item">
                <div class="animated-background">
                    <div class="background-masker ghost-placeholder-header-top"></div>
                    <div class="background-masker ghost-placeholder-line-01"></div>
                    <div class="background-masker ghost-placeholder-line-end-01"></div>
                    <div class="background-masker ghost-placeholder-top"></div>
                    <div class="background-masker ghost-placeholder-line-02"></div>
                    <div class="background-masker ghost-placeholder-line-03"></div>
                    <div class="background-masker ghost-placeholder-thumb"></div>
                    <div class="background-masker ghost-placeholder-thumb-top"></div>
                    <div class="background-masker ghost-placeholder-thumb-left"></div>
                    <div class="background-masker ghost-placeholder-thumb-right"></div>
                    <div class="background-masker ghost-placeholder-thumb-bottom"></div>
                    <div class="background-masker ghost-placeholder-subthumb-left"></div>
                    <div class="background-masker ghost-placeholder-subthumb-right"></div>
                    <div class="background-masker ghost-placeholder-subthumb-bottom"></div>
                    <div class="background-masker ghost-placeholder-line-04"></div>
                    <div class="background-masker ghost-placeholder-line-end-04"></div>
                    <div class="background-masker ghost-placeholder-line-end-last-04"></div>
                    <div class="background-masker ghost-placeholder-line-06"></div>
                    <div class="background-masker ghost-placeholder-line-07"></div>
                    <div class="background-masker ghost-placeholder-line-end-07"></div>
                    <div class="background-masker ghost-placeholder-line-end-mid-07"></div>
                    <div class="background-masker ghost-placeholder-line-end-last-07"></div>
                    <div class="background-masker ghost-placeholder-line-08"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- \\ End Card Block -->
    <!-- Card Block -->
    <div class="card-block card-3">
        <div class="card-block-inner">
            <div class="timeline-item">
                <div class="animated-background">
                    <div class="background-masker ghost-placeholder-header-top"></div>
                    <div class="background-masker ghost-placeholder-line-01"></div>
                    <div class="background-masker ghost-placeholder-line-end-01"></div>
                    <div class="background-masker ghost-placeholder-top"></div>
                    <div class="background-masker ghost-placeholder-line-02"></div>
                    <div class="background-masker ghost-placeholder-line-03"></div>
                    <div class="background-masker ghost-placeholder-thumb"></div>
                    <div class="background-masker ghost-placeholder-thumb-top"></div>
                    <div class="background-masker ghost-placeholder-thumb-left"></div>
                    <div class="background-masker ghost-placeholder-thumb-right"></div>
                    <div class="background-masker ghost-placeholder-thumb-bottom"></div>
                    <div class="background-masker ghost-placeholder-subthumb-left"></div>
                    <div class="background-masker ghost-placeholder-subthumb-right"></div>
                    <div class="background-masker ghost-placeholder-subthumb-bottom"></div>
                    <div class="background-masker ghost-placeholder-line-04"></div>
                    <div class="background-masker ghost-placeholder-line-end-04"></div>
                    <div class="background-masker ghost-placeholder-line-end-last-04"></div>
                    <div class="background-masker ghost-placeholder-line-06"></div>
                    <div class="background-masker ghost-placeholder-line-07"></div>
                    <div class="background-masker ghost-placeholder-line-end-07"></div>
                    <div class="background-masker ghost-placeholder-line-end-mid-07"></div>
                    <div class="background-masker ghost-placeholder-line-end-last-07"></div>
                    <div class="background-masker ghost-placeholder-line-08"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- \\ End Card Block -->
    <!-- Card Block -->
    <div class="card-block card-3">
        <div class="card-block-inner">
            <div class="timeline-item">
                <div class="animated-background">
                    <div class="background-masker ghost-placeholder-header-top"></div>
                    <div class="background-masker ghost-placeholder-line-01"></div>
                    <div class="background-masker ghost-placeholder-line-end-01"></div>
                    <div class="background-masker ghost-placeholder-top"></div>
                    <div class="background-masker ghost-placeholder-line-02"></div>
                    <div class="background-masker ghost-placeholder-line-03"></div>
                    <div class="background-masker ghost-placeholder-thumb"></div>
                    <div class="background-masker ghost-placeholder-thumb-top"></div>
                    <div class="background-masker ghost-placeholder-thumb-left"></div>
                    <div class="background-masker ghost-placeholder-thumb-right"></div>
                    <div class="background-masker ghost-placeholder-thumb-bottom"></div>
                    <div class="background-masker ghost-placeholder-subthumb-left"></div>
                    <div class="background-masker ghost-placeholder-subthumb-right"></div>
                    <div class="background-masker ghost-placeholder-subthumb-bottom"></div>
                    <div class="background-masker ghost-placeholder-line-04"></div>
                    <div class="background-masker ghost-placeholder-line-end-04"></div>
                    <div class="background-masker ghost-placeholder-line-end-last-04"></div>
                    <div class="background-masker ghost-placeholder-line-06"></div>
                    <div class="background-masker ghost-placeholder-line-07"></div>
                    <div class="background-masker ghost-placeholder-line-end-07"></div>
                    <div class="background-masker ghost-placeholder-line-end-mid-07"></div>
                    <div class="background-masker ghost-placeholder-line-end-last-07"></div>
                    <div class="background-masker ghost-placeholder-line-08"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- \\ End Card Block -->
    <!-- Card Block -->
    <div class="card-block card-3">
        <div class="card-block-inner">
            <div class="timeline-item">
                <div class="animated-background">
                    <div class="background-masker ghost-placeholder-header-top"></div>
                    <div class="background-masker ghost-placeholder-line-01"></div>
                    <div class="background-masker ghost-placeholder-line-end-01"></div>
                    <div class="background-masker ghost-placeholder-top"></div>
                    <div class="background-masker ghost-placeholder-line-02"></div>
                    <div class="background-masker ghost-placeholder-line-03"></div>
                    <div class="background-masker ghost-placeholder-thumb"></div>
                    <div class="background-masker ghost-placeholder-thumb-top"></div>
                    <div class="background-masker ghost-placeholder-thumb-left"></div>
                    <div class="background-masker ghost-placeholder-thumb-right"></div>
                    <div class="background-masker ghost-placeholder-thumb-bottom"></div>
                    <div class="background-masker ghost-placeholder-subthumb-left"></div>
                    <div class="background-masker ghost-placeholder-subthumb-right"></div>
                    <div class="background-masker ghost-placeholder-subthumb-bottom"></div>
                    <div class="background-masker ghost-placeholder-line-04"></div>
                    <div class="background-masker ghost-placeholder-line-end-04"></div>
                    <div class="background-masker ghost-placeholder-line-end-last-04"></div>
                    <div class="background-masker ghost-placeholder-line-06"></div>
                    <div class="background-masker ghost-placeholder-line-07"></div>
                    <div class="background-masker ghost-placeholder-line-end-07"></div>
                    <div class="background-masker ghost-placeholder-line-end-mid-07"></div>
                    <div class="background-masker ghost-placeholder-line-end-last-07"></div>
                    <div class="background-masker ghost-placeholder-line-08"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- \\ End Card Block -->
    <!-- Card Block -->
    <div class="card-block card-3">
        <div class="card-block-inner">
            <div class="timeline-item">
                <div class="animated-background">
                    <div class="background-masker ghost-placeholder-header-top"></div>
                    <div class="background-masker ghost-placeholder-line-01"></div>
                    <div class="background-masker ghost-placeholder-line-end-01"></div>
                    <div class="background-masker ghost-placeholder-top"></div>
                    <div class="background-masker ghost-placeholder-line-02"></div>
                    <div class="background-masker ghost-placeholder-line-03"></div>
                    <div class="background-masker ghost-placeholder-thumb"></div>
                    <div class="background-masker ghost-placeholder-thumb-top"></div>
                    <div class="background-masker ghost-placeholder-thumb-left"></div>
                    <div class="background-masker ghost-placeholder-thumb-right"></div>
                    <div class="background-masker ghost-placeholder-thumb-bottom"></div>
                    <div class="background-masker ghost-placeholder-subthumb-left"></div>
                    <div class="background-masker ghost-placeholder-subthumb-right"></div>
                    <div class="background-masker ghost-placeholder-subthumb-bottom"></div>
                    <div class="background-masker ghost-placeholder-line-04"></div>
                    <div class="background-masker ghost-placeholder-line-end-04"></div>
                    <div class="background-masker ghost-placeholder-line-end-last-04"></div>
                    <div class="background-masker ghost-placeholder-line-06"></div>
                    <div class="background-masker ghost-placeholder-line-07"></div>
                    <div class="background-masker ghost-placeholder-line-end-07"></div>
                    <div class="background-masker ghost-placeholder-line-end-mid-07"></div>
                    <div class="background-masker ghost-placeholder-line-end-last-07"></div>
                    <div class="background-masker ghost-placeholder-line-08"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- \\ End Card Block -->
</div>
<!-- \\ End Section Card-->