<!-- Section filter -->
<div class="main-title-row title-with-select title-home">
    <h1 class="title text-none">{{ 'home.label.Hi' | translate }} {{employeeName}}!</h1>
    <div *ngIf="enableStatic()" class="main-title-right">
        <ul class="list-reset dropdown-block">
            <li class="dropdown" [class.open]="isToggled">
                <a href="JavaScript:Void(0);" class="dropdown-button" (click)="toggleClick()" (clickToClose)="toggleClickClosed()"><span class="text-dropdown">{{'common.label.showall' | translate}}</span><span class="mdi mdi-chevron-down md24"></span></a>
                <ul class="list-reset dropdown-6 dropdown-style" *ngIf="isToggled">
                    <li><a href="JavaScript:Void(0);"><span class="notification position-none">10</span>{{'common.label.interviews' | translate}}</a></li>
                    <li><a href="JavaScript:Void(0);"><span class="notification position-none">27</span>{{'common.label.actionPending' | translate}}</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- \\ End Section filter -->
<!--  Section Card-->
<div class="section-card clearfix">
    <!-- Card Block -->
    <div class="card-block card-flip card-flip-profile card-4 flip-top-box">
        <!-- Flip Card Front -->
        <div *ngIf='xoxoIntegration' class="card-flip-block flip-side" [@flipState]="flip">
            <div class="card-block-inner clearfix">
                <div class="card-flip-top clearfix">
                    <div class="profile-block">
                        <div class="profile-img">
                            <img src="{{profilePic}}" alt="profile img" (error)="handleProfilePicError()" />
                        </div>
                        <span class="crown"><img src="./assets/images/svg/badgets/group_21.svg" alt="my profile" /></span>
                    </div>
                </div>
                <div class="card-flip-middle">
                    <h2 class="text-cell">{{'home.card.goodGoing' | translate }}<span class="white-color">1000</span> points.</h2>
                </div>
                <div class="card-flip-bottom">
                    <button (click)="redeem()" class="btn btn-blcak">{{'home.card.redeemhere' | translate}}</button>
                </div>
            </div>
        </div>

        <!-- Flip Card Front -->
        <div *ngIf='!xoxoIntegration' class="card-flip-block flip-side" [@flipState]="flip">
            <div class="card-block-inner clearfix">
                <div class="card-flip-top clearfix">
                    <div class="profile-block">
                        <div class="profile-img">
                            <img src="{{profilePic}}" alt="profile img" (error)="handleProfilePicError()" />
                        </div>
                    </div>
                </div>
                <div class="card-flip-middle greetings-day-cell">
                    <h2 class="text-cell f22">{{ 'home.card.greeting' | translate }}</h2>
                    <h3 class="white-color" *ngIf='count>0'><span class="display-block">{{count}} {{ 'home.card.task' | translate }}</span> {{ 'home.card.awaitmsg' | translate }}</h3>
                    <h3 class="white-color" *ngIf='count==0'><span class="display-block">{{ 'home.card.notask' | translate }} </span>{{ 'home.card.awaitsmsg' | translate }}</h3> 
                </div>
            </div>
        </div>

        <!-- \\ End Flip Card Front -->
        <!-- Flip Card Back -->
        <div class="card-flip-details flip-side hard-code-myprfile" [@flipState]="flip2">
            <div class="card-block-inner clearfix">                
                <ul class="list-reset awards-block gradient-top-bot">
                    <li>
                        <a href="#" class="awarda-cell" data-toggle="tooltip" data-placement="bottom" title="Bicycle: Closed  30 Jobs">
                        <span class="group-icon group-1"></span>
                    </a>
                    </li>
                    <li>
                        <a href="#" class="awarda-cell" data-toggle="tooltip" data-placement="bottom" title="Motorcycle: Closed 2 Jobs">
                        <span class="group-icon group-2"></span>
                    </a>
                    </li>
                    <li class="last">
                        <a href="#" class="awarda-cell" data-toggle="tooltip" data-placement="bottom" title="Plane: Closed 20 Jobs">
                        <span class="group-icon group-3"></span>
                    </a>
                    </li>
                    <li>
                        <a href="#" class="awarda-cell" data-toggle="tooltip" data-placement="bottom" title="Truck: Closed  60 Jobs">
                        <span class="group-icon group-4"></span>
                    </a>
                    </li>
                    <li class="fade-opacity">
                        <a href="#" class="awarda-cell" data-toggle="tooltip" data-placement="bottom" title="Bus: Closed 2 Jobs">
                        <span class="group-icon group-5"></span>
                    </a>
                    </li>
                    <li class="last fade-opacity">
                        <a href="#" class="awarda-cell" data-toggle="tooltip" data-placement="bottom" title="Subway: Closed 100 Jobs">
                        <span class="group-icon group-6"></span>
                    </a>
                    </li>
                    <li class="fade-opacity">
                        <a href="#" class="awarda-cell" data-toggle="tooltip" data-placement="bottom" title="Rocket: Closed  10 Jobs">
                        <span class="group-icon group-7"></span>
                    </a>
                    </li>
                    <li class="fade-opacity">
                        <a href="#" class="awarda-cell" data-toggle="tooltip" data-placement="bottom" title="Truck: Closed 10 Jobs">
                        <span class="group-icon group-8"></span>
                    </a>
                    </li>
                    <li class="last fade-opacity">
                        <a href="#" class="awarda-cell" data-toggle="tooltip" data-placement="bottom" title="Bicycle: Closed 10 Jobs">
                        <span class="group-icon group-9"></span>
                    </a>
                    </li>
                    <li class="fade-opacity">
                        <a href="#" class="awarda-cell" data-toggle="tooltip" data-placement="bottom" title="Bicycle: Closed  10 Jobs">
                        <span class="group-icon group-10"></span>
                    </a>
                    </li>
                    <li class="fade-opacity">
                        <a href="#" class="awarda-cell" data-toggle="tooltip" data-placement="bottom" title="Biker: Closed 10 Jobs">
                        <span class="group-icon group-1"></span>
                    </a>
                    </li>
                    <li class="last fade-opacity">
                        <a href="#" class="awarda-cell" data-toggle="tooltip" data-placement="bottom" title="Biker: Closed 10 Jobs">
                        <span class="group-icon group-2"></span>
                    </a>
                    </li>
                </ul>
                <div class="card-flip-bottom">
                    <button (click)="toggleFlip()" class="btn btn-default fl-left">{{'common.label.back' | translate}}</button>
                    <a [routerLink]="['/MyProfile']" class="btn btn-blcak fl-right">{{'common.label.viewprofile' | translate}}</a>
                </div>
            </div>
        </div>
        <!-- \\ End Flip Card Back -->
    </div>
    <!-- \\End Card Block -->
    <alt-home-cards (count)="setCount($event)"></alt-home-cards>
</div>
<!-- \\ End Section Card-->
<!--<div class="btn-dashboard">
    <a href="#" class="btn btn-default start-here">start here</a>
    <div class="btn-dashboard-hover clearfix">
        <div class="btn-outer">
            <a href="#" class="btn btn-default">dashboard</a>
        </div>
        <div class="btn-outer">
            <a href="#" class="btn btn-default">jobs</a>
        </div>
        <div class="btn-outer">
            <a href="#" class="btn btn-default">candidates</a>
        </div>
        <div class="btn-outer">
            <a href="#" class="btn btn-default">calendar</a>
        </div>
    </div>
</div>-->
<!-- Section Genie -->
<!-- <div class="section-genie">
    <div class="section-genie-inner">
        <div class="section-top-genie clearfix">
            <div class="genie-image">
                <div class="image-block"></div>
                <div class="image-block"></div>
                <div class="image-block"></div>
                <div class="image-block"></div>
            </div>
            <div class="description-cell">
                <span class="text-bold-cell text-uppercase">Priyanka Manchanda</span>
                <span class="text-cell">Active in the last 15m</span>
            </div>
            <span class="edit-icon">create</span>
        </div>
        <div class="genie-container">
            <p class="text-conversation">Alpha Victor added Catherine M and Ben Jacob to this conversation</p>
            <div class="clearfix">
                <div class="chat-sent">Hello</div>
            </div>
            <div class="chat-slider clearfix">
                <div class="chat-slide-content">
                    <div class="comment-block">
                        <h6 class="title-12">THE SENDER’S NAME</h6>
                        <p>Please approve the salary fitment of #JOBCODE/0000 that was sent yesterday?</p>
                    </div>
                    <span class="chat-time">33 minutes ago</span>
                </div>
                <a href="#" class="mdi mdi-chevron-right prev"></a>
            </div>

        </div>
        <div class="genie-bottom">
            <div class="btn-row-chat">
                <button class="btn btn-white">reject</button>
                <button class="btn btn-primary">approve</button>
            </div>
            <div class="form-inline clearfix">
                <textarea class="form-textarea noresize" placeholder="Send a message...."></textarea>
                <div class="genie-opction">
                    <a href="#" class="material-icons dp22">insert_emoticon</a>
                    <a href="#" class="material-icons dp22">link</a>
                </div>
            </div>
        </div>
    </div>
    <div class="section-genie-inner genie-pos2">
        <div class="section-top-genie clearfix">
            <div class="genie-image">
                <div class="image-block"></div>
            </div>
            <div class="description-cell">
                <span class="text-bold-cell text-uppercase">Priyanka Manchanda</span>
                <span class="text-cell">Active in the last 15m</span>
            </div>
        </div>
        <div class="genie-container">
            <div class="clearfix">
                <div class="chat-sent">Hello</div>
            </div>
            <div class="chat-slider clearfix">
                <div class="chat-slide-content">
                    <div class="comment-block">
                        <p>Please approve the salary fitment of #JOBCODE/0000 that was sent yesterday?</p>
                    </div>
                    <span class="chat-time">33 minutes ago</span>
                </div>
                <a href="#" class="mdi mdi-chevron-right prev"></a>
            </div>

        </div>
        <div class="genie-bottom">
            <div class="btn-row-chat">
                <button class="btn btn-white">reject</button>
                <button class="btn btn-primary">approve</button>
            </div>
            <div class="form-inline clearfix">
                <textarea class="form-textarea noresize height80" placeholder="">#JOBCODE/0000 @Catherine M, @Ben Jacob, please look into the candidate #CANDIDATECODE/0000 immediately and let’s talk</textarea>
                <div class="genie-opction">
                    <a href="#" class="material-icons dp22">insert_emoticon</a>
                    <a href="#" class="material-icons dp22">link</a>
                </div>
            </div>

        </div>
    </div>
    <div class="section-genie-inner genie-pos3">
        <div class="section-top-genie clearfix">
            <div class="genie-image">
                <div class="image-block"></div>
            </div>
            <div class="description-cell">
                <span class="text-bold-cell text-uppercase">Priyanka Manchanda</span>
                <span class="text-cell">Active in the last 15m</span>
            </div>
        </div>
        <div class="genie-container">
            <div class="clearfix">
                <div class="chat-sent">Hello</div>
            </div>
            <div class="chat-slider clearfix">
                <div class="chat-slide-content">
                    <div class="comment-block">
                        <p>Please approve the salary fitment of #JOBCODE/0000 that was sent yesterday?</p>
                    </div>
                    <span class="chat-time">33 minutes ago</span>
                </div>
                <a href="#" class="mdi mdi-chevron-right prev"></a>
            </div>

        </div>
        <div class="genie-bottom">
            <div class="btn-row-chat">
                <button class="btn btn-white">reject</button>
                <button class="btn btn-primary">approve</button>
            </div>
            <div class="form-inline clearfix">
                <textarea class="form-textarea noresize" placeholder="Send a message...."></textarea>
                <div class="genie-opction">
                    <a href="#" class="material-icons dp22">insert_emoticon</a>
                    <a href="#" class="material-icons dp22">link</a>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Section Genie listing -->
    <!-- <div class="section-genie-inner section-genie-listing genie-pos4">
        <div class="section-top-genie clearfix">
            <div class="description-cell">
                <span class="text-bold-cell text-uppercase">TAKE ACTIONS, APPROVE & CONVERSE</span>
                <ul class="list-reset clearfix listing-inline">
                    <li>&copy; Wipro </li>
                    <li class="last-child">Alt</li>
                </ul>
            </div>
        </div>
        <div class="genie-listing-container">
            <ul class="list-reset">
                <li>
                    <span class="image-block"></span>
                    <div class="description-cell">
                        <div class="row-chat clearfix">
                            <span class="title-12 fl-left">Genie</span>
                            <span class="chat-time fl-right">1 min ago</span>
                        </div>
                        <p class="p-text">your with is my command, my lord! Ask me anything.</p>
                    </div>
                </li>
                <li>
                    <span class="image-block"></span>
                    <div class="description-cell">
                        <div class="row-chat clearfix">
                            <span class="title-12 fl-left">Team One</span>
                            <span class="chat-time fl-right">33 mins ago</span>
                        </div>
                        <p class="p-text">Hey guys! We just assigned a new job #JOBCODE/0000. Get started.</p>
                    </div>
                </li>
                <li>
                    <span class="image-block"></span>
                    <div class="description-cell">
                        <div class="row-chat clearfix">
                            <span class="title-12 fl-left">Alpha Victor</span>
                            <span class="chat-time fl-right">56 mins ago</span>
                        </div>
                        <p class="p-text">Approve salary fitment of candidate #CANDIDATECODE/0000 for the job #JOB.</p>
                    </div>
                </li>
                <li>
                    <span class="image-block"></span>
                    <div class="description-cell">
                        <div class="row-chat clearfix">
                            <span class="title-12 fl-left">Ben Jacob</span>
                            <span class="chat-time fl-right">yesterday</span>
                        </div>
                        <p class="p-text">#CANDIDATECODE/0000 for #JOBCODE/0000 is an excellent candidate. Let's sched.</p>
                    </div>
                </li>
                <li>
                    <span class="image-block"></span>
                    <div class="description-cell">
                        <div class="row-chat clearfix">
                            <span class="title-12 fl-left">Genie</span>
                            <span class="chat-time fl-right">1 min ago</span>
                        </div>
                        <p class="p-text">your with is my command, my lord! Ask me anything.</p>
                    </div>
                </li>
            </ul>
            <button class="btn btn-default btn-chat">START A NEW CONVERSATION</button>
        </div>
    </div> -->
    <!-- \\ End Section Genie listing -->
<!-- </div> -->

<!-- \\ End Section Genie -->
<router-outlet></router-outlet>