<!-- Start Candidate Overview Tab  -->
<div class="section-top-candidates">
    <div class="section-panel" *ngIf="security?.personalSectionRendered || security?.workSectionRendered">
        <div class="section-panel-row">
            <alt-personal-details class="panel panel-open" *ngIf="security?.personalSectionRendered" [security]="security"></alt-personal-details>
            <alt-work-experiences class="panel panel-open" *ngIf="security?.workSectionRendered" [security]="security"></alt-work-experiences>
        </div>
    </div>
    <div class="section-panel" *ngIf="security?.educationSectionRendered || security?.skillsSectionRendered">
        <div class="section-panel-row">
            <alt-educational-qualification class="panel panel-open" *ngIf="security?.educationSectionRendered" [security]="security"></alt-educational-qualification>
            <alt-skill-set class="panel panel-open" *ngIf="security?.skillsSectionRendered" [security]="security"></alt-skill-set>
        </div>
    </div>
    <div class="section-panel" *ngIf="security?.internshipSectionRendered || security?.languagesSectionRendered">
        <div class="section-panel-row">
            <alt-internship-experiences class="panel panel-open" *ngIf="security?.internshipSectionRendered" [security]="security"></alt-internship-experiences>
            <alt-languages class="panel panel-open" *ngIf="security?.languagesSectionRendered" [security]="security"></alt-languages>
        </div>
    </div>
    <div class="panel-full" *ngIf="security?.documentSectionRendered">
        <alt-candidate-documents [security]="security"></alt-candidate-documents>
    </div>
</div>
<!-- End Candidate Overview Tab  -->