<div class="chats-accordion-summary">
  <span class="text-cell font-bold text-lowercase">{{data.isAutomatedTransaction?'System':data.userName}}</span>
  <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='OFFERPENDING'">Candidate’s profile is pending for Offer
  </span>
  <div *ngIf="data.nextStage.sysWorkflowstageActionType=='OFFERMADE'">
    <span class="subject-cell" *ngIf="offerLetterTemplate == null">Offer made to the candidate</span> 
    <span class="subject-cell" *ngIf="offerLetterTemplate != null">Offer made to the candidate using template <span class="purple-color">{{offerLetterTemplate}}</span></span> 
    <div class="icon_group_right download-icon-postion" *ngIf="offerLetterDownloadPath != null && offerLetterDownloadPath != ''">
         <a href="{{offerLetterDownloadPath}}" class="material-icons" target="_blank">file_download</a>
     </div>
  </div>
  <div *ngIf="data.nextStage.sysWorkflowstageActionType=='OFFERREGENERATE'">
    <span class="subject-cell">Regenerated Offer Letter</span>
    <div class="icon_group_right download-icon-postion" *ngIf="offerLetterDownloadPath != null && offerLetterDownloadPath != ''">
         <a href="{{offerLetterDownloadPath}}" class="material-icons" target="_blank">file_download</a>
     </div>
  </div>
  <span class="subject-cell" *ngIf ="data.nextStage.sysWorkflowstageActionType=='OFFERACCEPTANCE'">Generated Offer and sent for acceptance to candidate
  </span>
  <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='OFFERACCEPTED'">Candidate accepted the generated offer
  </span>
  
  <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='REJECTED'">Candidate rejected the generated offer
  </span>
  <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='PREVIOUSSTAGE'"> Moved the candidate to previous stage
  </span>
  <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='NEXTSTAGE'"> Moved the candidate to next stage
  </span>

  <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='OFFERAPPROVED'"> Approved the offer
  </span>
  <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='OFFERREJECTED'"> Rejected the offer
  </span>
  <span class="widhtFull" *ngIf="data.action != null &&  data.action != 'undefined' && (data.action.toUpperCase()  == 'COPY' || data.action.toUpperCase() == 'MOVE')">
      <span class="subject-cell purple-color" matTooltip="{{data.comment.toLowerCase()}}">{{data.comment}} </span>
  </span>
</div>