<!-- Section Untag Candidates -->
<div class="popup-custome-section">
    <div class="popup-top clearfix" mat-dialog-title>
      <h2 class="title-sub">Untag Candidates</h2>
      <span class="material-icons close" (click)="dialogRef.close('Cancel')">close</span>
  </div>
    <div class="vertical-scroll-ng" slimScroll mat-dialog-content>
    <div class="popup-top clearfix" *ngFor="let item of candidatelist">
      <div class="popup-title-row">
        <h2 class="title">{{item.firstName}} {{item.middleName}} {{item.lastName}}<span class="job-code">{{item.candidateCode}}</span></h2>
      </div>
    </div>
  </div>
  </div>
  <div mat-dialog-actions class="btn-row text-right">
    <button href="javascript:void(0)" class="btn btn-white" (click)="dialogRef.close('Cancel')" [disabled]="untaggCandidate">{{'common.label.cancel' | translate}}</button>
    <!--<a href="javascript:void(0)" class="btn btn-primary" (click)="untagCanidate()">Untag</a>-->
    <alt-spinner-button (myEvent)="untagCanidate($event)" [spinner]="untaggCandidate" [spinnerdisabled]="untaggCandidate" [text]="lable"></alt-spinner-button>
  </div>

<!-- \\ End Section Untag Candidates -->