<div class="chats-accordion-summary">
    <span class="text-cell font-bold text-lowercase">{{data.isAutomatedTransaction?'System':data.userName}}</span>
    <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='PENDING'">Candidate’s profile is pending for Documentation
    </span>
    <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='ONHOLD'">Has marked the Documentation process as on hold 
    </span>
    <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='INCOMPLETE'">Has marked the Documentation process as incomplete 
    </span>
    <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='DROPPED'">Has marked the Documentation process as dropped 
    </span>
    <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='REJECTED'">Has marked the Documentation process as rejected
    </span>
    <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='COMPLETED'">Has completed the Documentation process 
    </span>
    <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='PREVIOUSSTAGE'"> Moved the candidate to previous stage
    </span>
    <span class="subject-cell" *ngIf="data.nextStage.sysWorkflowstageActionType=='NEXTSTAGE'"> Moved the candidate to next stage
    </span>
    <span class="widhtFull" *ngIf="data.action != null &&  data.action != 'undefined' && (data.action.toUpperCase()  == 'COPY' || data.action.toUpperCase() == 'MOVE')">
            <span class="subject-cell purple-color">{{data.comment}} </span>
    </span>
</div>