<!-- Section filter -->
<div class="main-title-row margin-r280">
    <h1 class="main-title">{{pageTitle}}
        <span class="clearAllFields" (click)="resetAll($event)">{{ 'common.label.clearAllFields' | translate }}</span>
    </h1>
</div>
<!-- \\ End Section filter -->
<!--  Section create candidate-->
<alt-new-job-component-loader *ngIf="showLoader"></alt-new-job-component-loader>
<div *ngIf="!showLoader">
    <div class="padding-t10 new-job-page">
        <div class="section_halfLess">
            <ul class="item_list item_list2">
                <li class="item_list_block first_row_btn">
                    <div class="candidate-profile-progres">
                        <div class="progress-title row2">
                            <span class="pull-left">{{'job.new_job.jobComplete' | translate}}
                                <span class="big">{{profileCompletionPercentage | number : '1.0-0'}}%</span>
                            </span>
                        </div>
                        <div class="doted_progress_bar clearfix">
                            <ul class="list-reset">
                                <ng-container *ngFor="let range of profileCompletionRange">
                                    <li *ngIf="range==='done'" class="done">
                                        <span class="doted"></span>
                                    </li>
                                    <li *ngIf="range==='active'" class="active">
                                        <span class="doted"></span>
                                    </li>
                                    <li *ngIf="range===''">
                                        <span class="doted"></span>
                                    </li>
                                </ng-container>
                                <li *ngIf="profileCompletionPercentage!=100">
                                    <span class="doted"></span>
                                </li>
                                <li *ngIf="profileCompletionPercentage==100" class="done">
                                    <span class="doted"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="item_list_block step_open job-templates-block {{templatesectionactive?'templates-open':'templates-close'}}">
                    <div class="info_title gray cursor" (click)="basicsection('template');">
                        {{'job.new_job.jobTemplates' | translate }}
                    </div>
                    <div class="form_outer padding-tnone">
                        <div class="row template-destop">
                            <!--<form>-->
                            <div class="form-group row2">
                                <div class="col-md-12 col-lg-6">
                                    <label class="control-label">{{'job.new_job.searchTemplate' | translate}}</label>
                                    <div class="input_icon">
                                        <input class="form-control" [(ngModel)]="filterQuery" name="query" placeholder= "{{ 'job.new_job.searchJobTitle' | translate }}" />
                                        <button class="btn material-icons" type="submit">search</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 scroll-outer-block">
                                <div class="templateTable" slimScroll>
                                    <ul class="temp_list_item list-reset">
                                        <li *ngFor="let template of jobTemplateList | jobTemplateListDataFilter : filterQuery">{{template}}
                                            <span class="option_action">
                                                <a data-toggle="tooltip" data-placement="bottom" title=""
                                                    data-original-title="View" style="backface-visibility: hidden;">
                                                    <span class="material-icons cursor" (click)="templateSelectListener(template)">visibility</span>
                                                </a>
                                                <a data-toggle="tooltip" data-placement="bottom" title=""
                                                    data-original-title="Delete" style="backface-visibility: hidden;">
                                                    <span class="material-icons cursor" (click)="deleteJobTemplate(template)">delete</span>
                                                </a>
                                            </span>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <div class="row template-mobile">
                            <div class="form-group row2">
                                <div class="col-md-12 col-lg-6">
                                    <label class="control-label">{{'job.new_job.selectTemplateForm' | translate}}</label>
                                    <div class="dropdown-11 list-block">
                                        <alt-custom-single-select class="select-dropdown-white" #TEMPLATE [srcTag]="'TEMPLATETAG'"
                                            (clickToClose)="TEMPLATE.toggleClose()" [searchEnable]="true" [inputList]="tempateList"
                                            [value]="label" placeholder="{{'job.new_job.selectTemplate' | translate}}" (valueBind)="basicInfo.controls['jobTitle'].setValue(templateSelectListener($event.label))">
                                        </alt-custom-single-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--</form>-->

                    </div>
                </li>

            </ul>
        </div>

        <div class="section_halfPluse">
            <ul class="item_list">
                <li gaevent="Basic#Label#click" class="item_list_block form-disabled {{basicsectionactive?'step_open':'step_close'}} {{basicInfoComplete?'step-done':''}}"
                    FormGroupName="basicInfo">
                    <div class="info_title" style="cursor: pointer;" (click)="basicsection('basic');">
                        <span class="count_Icon ">0{{basicInfoSequence}}</span>{{security?.basicSectionLabel}}
                        <span class="clearAllFields" (click)="resetBasicSection($event)">{{ 'common.label.clearAll' | translate }}</span>
                    </div>
                    <div class="form_outer">
                        <div class="row">
                            <form [formGroup]="basicInfo">
                                <div class="form-group row2 mgn-btm-0">
                                    <div class="col-md-12 input-field {{(isRequiredAndNull(basicInfo.controls.jobTitle,true) && (isJobEdit || saveAsJobFlag))?'error-border':''}}"
                                        *ngIf="moduleConfig && moduleConfig['REQUISITION_MANDATORY_FIELD_JOBTITLE_OR_DESIGNATION']?.value == '0' ">
                                        <label class="control-label clearfix">{{security?.jobTitleLabel}}
                                            <span>*</span>
                                        </label>
                                        <input [attr.disabled]="security?.jobTitleDisabled?'':null" type="text" class="form-control"
                                            formControlName="jobTitle" [placeholder]="langEnterPlaceholder" />
                                    </div>
                                    <div class="col-md-6 input-field {{(isRequiredAndNull(basicInfo.controls['position'],security?.positionRequired) && (isJobEdit || saveAsJobFlag))?'error-border':''}}"
                                        *ngIf="security?.positionRendered">
                                        <label class="control-label">{{security?.positionLabel}}
                                            <span *ngIf="security?.positionRequired">*</span>
                                        </label>
                                        <div class="dropdown-11 list-block">
                                            <alt-custom-single-select #POSITIONID [srcTag]="'POSITIONID'"
                                                (clickToClose)="POSITIONID.toggleClose()" [inputList]="positionList"
                                                [valueKey]="'id'" [labelKey]="'name'" [value]="basicInfo.controls.position.value"
                                                [isDisabled]="security?.positionDisabled" [searchEnable]="true"
                                                [placeholder]="langSelectPlaceholder" (valueBind)="basicInfo.controls['position'].setValue($event.id); populatePositionDefault($event)">
                                            </alt-custom-single-select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 input-field no-spin {{(isRequiredAndNull(basicInfo.controls.noOfOpenings,security?.positionNumberRequired) && (isJobEdit || saveAsJobFlag))?'error-border':''}}"
                                        *ngIf="security?.positionNumberRendered">
                                        <label class="control-label">{{security?.positionNumberLabel}}
                                            <span *ngIf="security?.positionNumberRequired">*</span>
                                        </label>
                                        <input type="number" class="form-control" [attr.disabled]="security.positionNumberDisabled?'disabled':null"
                                            [placeholder]="langEnterPlaceholder" formControlName="noOfOpenings">
                                    </div>
                                    <div class="col-md-6 input-field" *ngIf="security?.bandRendered || security?.gradeRendered">
                                        <div class="row">
                                            <div class="col-xs-6 col-md-6 no-spin {{(isRequiredAndNull(basicInfo.controls.bandId,security?.bandRequired) && (isJobEdit || saveAsJobFlag))?'error-border':''}}"
                                                *ngIf="security?.bandRendered">
                                                <label class="control-label">{{security?.bandLabel}}
                                                    <span *ngIf="security?.bandRequired">*</span>
                                                </label>
                                                <alt-custom-single-select #BAND [srcTag]="'BANDTAG'" [isDisabled]="security?.bandDisabled || (security.positionRendered  && disableBandGrade)"
                                                    (clickToClose)="BAND.toggleClose()" [searchEnable]="true"
                                                    [inputList]="bandList" [value]="basicInfo.controls.bandId.value"
                                                    [placeholder]="langSelectPlaceholder" (valueBind)="setBandValue($event)">
                                                </alt-custom-single-select>
                                            </div>
                                            <div class="col-xs-6 col-md-6 {{(isRequiredAndNull(basicInfo.controls.gradeCode,security?.gradeRequired) && (isJobEdit || saveAsJobFlag))?'error-border':''}}"
                                                *ngIf="security?.gradeRendered">
                                                <label class="control-label">{{security?.gradeLabel}}
                                                    <span *ngIf="security?.gradeRequired">*</span>
                                                </label>
                                                <div class="dropdown-11 list-block">
                                                    <alt-custom-single-select #GRADECODE [srcTag]="'GRADECODETAG'"
                                                        [isDisabled]="security?.gradeDisabled  || security.positionRendered"
                                                        (clickToClose)="GRADECODE.toggleClose()" valueBindType="label"
                                                        [searchEnable]="true" [inputList]="gradeList" [value]="basicInfo.controls.gradeCode.value"
                                                        [placeholder]="langSelectPlaceholder" (valueBind)="setGradeValue($event)"
                                                        [tooltipEnabled]="true">
                                                    </alt-custom-single-select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 input-field {{(isRequiredAndNull(basicInfo.controls.designation,security?.designationRequired) && (isJobEdit || saveAsJobFlag))?'error-border':''}}"
                                        *ngIf="security?.designationRendered || (moduleConfig && moduleConfig['REQUISITION_MANDATORY_FIELD_JOBTITLE_OR_DESIGNATION']?.value) == '1'">
                                        <label class="control-label">{{security?.designationLabel}}
                                            <span *ngIf="security?.designationRequired || (moduleConfig && moduleConfig['REQUISITION_MANDATORY_FIELD_JOBTITLE_OR_DESIGNATION']?.value) == '1'">*</span>
                                        </label>
                                        <div class="dropdown-11 list-block">
                                            <alt-custom-single-select #DESIGNATION [srcTag]="'DESIGNATIONTAG'"
                                                (clickToClose)="DESIGNATION.toggleClose()" valueBindType="label"
                                                [isDisabled]="security?.designationDisabled" [searchEnable]="true"
                                                [inputList]="designationList" [value]="basicInfo.controls.designation.value"
                                                [placeholder]="langSelectPlaceholder" (valueBind)="setDesignationValue($event)"
                                                [tooltipEnabled]="true">
                                            </alt-custom-single-select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 input-field {{(isRequiredAndNull(basicInfo.controls.maximumExp,security?.experienceRequired) && (isJobEdit || saveAsJobFlag))?'error-border':''}}"
                                        *ngIf="security?.experienceRendered">
                                        <label class="control-label">{{security?.experienceLabel}}
                                            <span *ngIf="security?.experienceRequired">*</span>
                                        </label>
                                        <div class="row">
                                            <div class="col-xs-6 col-md-6">
                                                <div class="dropdown-11 list-block">
                                                    <alt-custom-single-select #MINEXPRANGE [srcTag]="'MINEXPRANGETAG'"
                                                        (clickToClose)="MINEXPRANGE.toggleClose()" [inputList]="EXPRange"
                                                        [isDisabled]="security?.experienceDisabled" [value]="basicInfo.controls.minimumExp.value"
                                                        placeholder="{{'common.label.min' | translate}}" (valueBind)="basicInfo.controls['minimumExp'].setValue($event.value)">
                                                    </alt-custom-single-select>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-md-6">
                                                <div class="dropdown-11 list-block">
                                                    <alt-custom-single-select #MAXEXPRANGE [srcTag]="'MAXEXPRANGETAG'"
                                                        (clickToClose)="MAXEXPRANGE.toggleClose()" [inputList]="EXPRange"
                                                        [isDisabled]="security?.experienceDisabled" [value]="basicInfo.controls.maximumExp.value"
                                                        placeholder="{{'common.label.max' | translate}}" (valueBind)="basicInfo.controls['maximumExp'].setValue($event.value)">
                                                    </alt-custom-single-select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 input-field {{(isRequiredAndNull(basicInfo.controls['jobFamily'],security?.jobFamilyRequired) && (isJobEdit || saveAsJobFlag))?'error-border':''}}"
                                        *ngIf="security?.jobFamilyRendered">
                                        <label class="control-label">{{security?.jobFamilyLabel}}
                                            <span *ngIf="security?.jobFamilyRequired">*</span>
                                        </label>
                                        <div class="dropdown-11 list-block">
                                            <alt-custom-single-select #JOBFAMILYID [srcTag]="'JOBFAMILYID'"
                                                (clickToClose)="JOBFAMILYID.toggleClose()" [inputList]="jobFamilyList"
                                                [valueKey]="'id'" [labelKey]="'name'" [value]="basicInfo.controls.jobFamily.value"
                                                [isDisabled]="security?.jobFamilyDisabled" [searchEnable]="true"
                                                [placeholder]="langSelectPlaceholder" (valueBind)="basicInfo.controls['jobFamily'].setValue($event.id);">
                                            </alt-custom-single-select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 input-field {{(isRequiredAndNull(basicInfo.controls['campusType'],security?.campusTypeRequired) && (isJobEdit || saveAsJobFlag))?'error-border':''}}"
                                        *ngIf="security?.campusTypeRendered">
                                        <label class="control-label">{{security?.campusTypeLabel}}
                                            <span *ngIf="security?.campusTypeRequired">*</span>
                                        </label>
                                        <div class="dropdown-11 list-block">
                                            <alt-custom-single-select #CAMPUSTYPEID [srcTag]="'CAMPUSTYPEID'"
                                                (clickToClose)="CAMPUSTYPEID.toggleClose()" [inputList]="campusTypeList"
                                                [valueKey]="'id'" [labelKey]="'name'" [value]="basicInfo.controls.campusType.value"
                                                [isDisabled]="security?.campusTypeDisabled" [searchEnable]="false"
                                                [placeholder]="langSelectPlaceholder" (valueBind)="basicInfo.controls['campusType'].setValue($event.id);">
                                            </alt-custom-single-select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 input-field {{(isRequiredAndNull(basicInfo.controls['resourceType'],security?.resourceTypeRequired) && (isJobEdit || saveAsJobFlag))?'error-border':''}}"
                                        *ngIf="security?.resourceTypeRendered">
                                        <label class="control-label">{{security?.resourceTypeLabel}}
                                            <span *ngIf="security?.resourceTypeRequired">*</span>
                                        </label>
                                        <div class="dropdown-11 list-block">
                                            <alt-custom-single-select #RESOURCETYPEID [srcTag]="'RESOURCETYPEID'"
                                                (clickToClose)="RESOURCETYPEID.toggleClose()" [inputList]="resourceTypeList"
                                                [valueKey]="'id'" [labelKey]="'name'" [value]="basicInfo.controls.resourceType.value"
                                                [isDisabled]="security?.resourceTypeDisabled" [searchEnable]="false"
                                                [placeholder]="langSelectPlaceholder" (valueBind)="basicInfo.controls['resourceType'].setValue($event.id);">
                                            </alt-custom-single-select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 input-field {{(isRequiredAndNull(basicInfo.controls['requisitionTypeID'],security?.requisitionTypeRequired) && (isJobEdit || saveAsJobFlag))?'error-border':''}}"
                                        *ngIf="security?.requisitionTypeRendered">
                                        <label class="control-label">{{security?.requisitionTypeLabel}}
                                            <span *ngIf="security?.requisitionTypeRequired">*</span>
                                        </label>
                                        <div class="dropdown-11 list-block">
                                            <alt-custom-single-select #REQUISITIONTYPE [srcTag]="'REQUISITIONTYPETAG'"
                                                (clickToClose)="REQUISITIONTYPE.toggleClose()" [isDisabled]="security?.requisitionTypeDisabled"
                                                [inputList]="requisitionTypeList" [value]="basicInfo.controls.requisitionTypeID.value"
                                                [placeholder]="langSelectPlaceholder" (valueBind)="basicInfo.controls['requisitionTypeID'].setValue($event.value);selectedRequisitionType=($event.label);requestionTypeChangeListener()"
                                                (emitSelected)="selectedRequisitionType=($event.label)">
                                            </alt-custom-single-select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 input-field {{(isRequiredAndNull(basicInfo.controls.employeeCode,security?.employeeCodeRequired) && (isJobEdit || saveAsJobFlag))?'error-border':''}}"
                                        *ngIf="security?.employeeCodeRendered && selectedRequisitionType=='Replacement'">
                                        <label class="control-label">{{security?.employeeCodeLabel}}
                                            <span *ngIf="security?.employeeCodeRequired">*</span>
                                        </label>

                                        <ng-container *ngIf="isECodeIsDropDown">
                                            <div class="input_icon">
                                                <mat-form-field [floatLabel]="'never'">
                                                    <input type="text" class="form-control {{security.employeeCodeDisabled?'disabled-inp':''}}"
                                                        matInput formControlName="employeeCode" [placeholder]="langEnterPlaceholder"
                                                        [matAutocomplete]="autoEmployeeCode">
                                                </mat-form-field>
                                                <mat-autocomplete #autoEmployeeCode="matAutocomplete" class="{{security.employeeCodeDisabled?'disabled-inp':''}}">
                                                    <mat-option *ngFor="let employeeCode of filteredEmployeeCodeList"
                                                        [value]="employeeCode.value" (onSelectionChange)="employeeCodeSelectListener(employeeCode)">
                                                        {{employeeCode.label}}
                                                    </mat-option>
                                                </mat-autocomplete>
                                            </div>
                                            <span class="select-applied" *ngFor="let option of selectedEmployeeCodeList">
                                                <span class="applied-text" (click)=employeeCodeDeselectListener(option)>{{option.label}}
                                                    [x]</span>
                                            </span>
                                        </ng-container>

                                        <ng-container *ngIf="!isECodeIsDropDown">
                                            <mat-form-field [floatLabel]="'never'">
                                                <input type="text" class="form-control {{security.employeeCodeDisabled?'disabled-inp':''}}"
                                                    matInput formControlName="employeeCode" [placeholder]="langEnterPlaceholder">
                                            </mat-form-field>
                                        </ng-container>
                                    </div>
                                    <div class="col-md-6 input-field {{(isRequiredAndNull(basicInfo.controls.currency,security?.ctcRangeRendered) && (isJobEdit || saveAsJobFlag))?'error-border':''}}"
                                        *ngIf="security?.ctcRangeRendered">
                                        <label class="control-label">{{security?.ctcRangeLabel}}
                                            <span *ngIf="security?.ctcRangeRequired">*</span>
                                        </label>
                                        <div class="clearfixl">
                                            <div class="form-control-ctc-row clearfix">
                                                <div class="ctc-cell-1" *ngIf="security?.ctcCurrencyRendered">
                                                    <div class="dropdown-11 list-block">
                                                        <alt-custom-single-select #CURRENCYRANGE [srcTag]="'CURRENCYRANGETAG'"
                                                            (clickToClose)="CURRENCYRANGE.toggleClose()" [inputList]="currencyList"
                                                            [isDisabled]="security?.ctcCurrencyDisabled" [value]="basicInfo.controls.currency.value"
                                                            [placeholder]="langSelectPlaceholder" (valueBind)="basicInfo.controls['currency'].setValue($event.value)">
                                                        </alt-custom-single-select>
                                                    </div>
                                                </div>
                                                <div class="ctc-cell-2 no-spin">
                                                    <input type="number" min="0" class="form-control" formControlName="minSalary"
                                                        placeholder="Min Salary" [readonly]="security?.ctcMinDisabled || security?.ctcFetchButtonRendered" />
                                                </div>
                                                <div class="ctc-cell-2 no-spin ctc-cell-border">
                                                    <input type="number" min="0" class="form-control" formControlName="maxSalary"
                                                        placeholder="Max Salary" [readonly]="security?.ctcMaxDisabled || security?.ctcFetchButtonRendered" />
                                                </div>
                                                <div class="ctc-cell-3" *ngIf="security?.ctcFetchButtonRendered">
                                                    <button [disabled]="security?.ctcFetchButtonDisabled" class="btn btn-gray-light"
                                                        type="submit" (click)="fetchMinMaxSalary()">
                                                        <span class="material-icons icon-css2">cloud_download</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 input-field {{(isRequiredAndNull(basicInfo.controls['employeeCategory'],security?.employeeCategoryRequired) && (isJobEdit || saveAsJobFlag))?'error-border':''}}"
                                        *ngIf="security?.employeeCategoryRendered">
                                        <label class="control-label">{{security?.employeeCategoryLabel}}
                                            <span *ngIf="security?.employeeCategoryRequired">*</span>
                                        </label>
                                        <div class="dropdown-11 list-block">
                                            <alt-custom-single-select #EMPCATEGORYID [srcTag]="'EMPCATEGORYID'"
                                                (clickToClose)="EMPCATEGORYID.toggleClose()" [inputList]="employeeCategoryList"
                                                [valueKey]="'id'" [labelKey]="'name'" [value]="basicInfo.controls.employeeCategory.value"
                                                [isDisabled]="security?.employeeCategoryDisabled" [searchEnable]="true"
                                                [placeholder]="langSelectPlaceholder" (valueBind)="basicInfo.controls['employeeCategory'].setValue($event.id);">
                                            </alt-custom-single-select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 input-field no-spin {{(isRequiredAndNull(basicInfo.controls['tat'],security?.tatRequired) && (isJobEdit || saveAsJobFlag))?'error-border':''}}"
                                        *ngIf="security?.tatRendered">
                                        <label class="control-label">{{security?.tatLabel}}
                                            <span *ngIf="security?.tatRequired">*</span>
                                        </label>
                                        <input type="number" class="form-control" [attr.disabled]="(security.tatDisabled || tatPolicyEnabled)?'disabled':null"
                                            [placeholder]="langEnterPlaceholder" formControlName="tat">
                                    </div>
                                    <div class="col-md-6 input-field  pad-mb-none {{(isRequiredAndNull(basicInfo.controls.interviewPanelistSelected,security?.interviewPanelRequired) && (isJobEdit || saveAsJobFlag))?'error-border':''}}"
                                        *ngIf="security?.interviewPanelRendered">
                                        <label class="control-label">{{security?.interviewPanelLabel}}
                                            <span *ngIf="security?.interviewPanelRequired">*</span>
                                        </label>
                                        <div class="dropdown-11 list-block auto-select select-applied-outer">
                                            <alt-select #INTERVIEWPANEL [srcTag]="'INTERVIEWPANEL'" (clickToClose)="INTERVIEWPANEL.toggleClose()"
                                                [options]="interviewPanelist" [multiple]="true" class="{{security.interviewPanelDisabled?'disabled-inp':''}}"
                                                [disabled]="security?.interviewPanelDisabled" [placeholder]="langSelectPlaceholder"
                                                formControlName="interviewPanelistSelected" [allowClear]="true">
                                            </alt-select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 input-field {{(isRequiredAndNull(basicInfo.controls['hiringManagerID'],security?.hiringManagerRequired) && (isJobEdit || saveAsJobFlag))?'error-border':''}}"
                                        *ngIf="security?.hiringManagerRendered">
                                        <label class="control-label">{{security?.hiringManagerLabel}}
                                            <span *ngIf="security?.hiringManagerRequired">*</span>
                                        </label>
                                        <div class="dropdown-11 list-block">
                                            <alt-custom-single-select #HIRINGMANAGER [srcTag]="'HIRINGMANAGERTAG'"
                                                (clickToClose)="HIRINGMANAGER.toggleClose()" [searchEnable]="true"
                                                [isDisabled]="security?.hiringManagerDisabled" [inputList]="hiringManagerList"
                                                [tooltipEnabled]="true" [value]="basicInfo.controls.hiringManagerID.value"
                                                [placeholder]="langSelectPlaceholder" (valueBind)="basicInfo.controls['hiringManagerID'].setValue($event.value); hiringManagerName=$event.label;">
                                            </alt-custom-single-select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 input-field confidential-field {{(isRequiredAndNull(basicInfo.controls.confidential,security?.confidentialRequired) && (isJobEdit || saveAsJobFlag))?'error-border':''}}"
                                        *ngIf="security?.confidentialRendered">
                                        <div class="checkbox label-light">
                                            <input id="confidential" formControlName="confidential" type="checkbox"
                                                [attr.disabled]="security?.confidentialDisabled?'':null">
                                            <label for="confidential" class="control-label {{security?.confidentialDisabled? 'cursor-none':''}}">{{security?.confidentialLabel}}
                                                <span *ngIf="security?.confidentialRequired">*</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 input-field" *ngIf="security?.startDateRendered">
                                        <label class="control-label">{{security?.startDateLabel}}
                                            <span *ngIf="security?.startDateRequired">*</span>
                                        </label>
                                        <div class="row">
                                            <div class="col-md-12 datepicker-col {{(isRequiredAndNull(basicInfo.controls.startDate,security?.startDateRequired) && (isJobEdit || saveAsJobFlag))?'error-border':''}}">
                                                <alt-datepicker [styleClass]="'datepicker-common3'" class="dropdown-calendar dropdown-calendar-grey"
                                                    [type]="'date'" [mode]="'landscape'" #startDate [value]="jobStartDate"
                                                    (change)="setStartDate(startDate.value)" [disabled]="security?.startDateDisabled"></alt-datepicker>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 input-field" *ngIf="security?.closingDateRendered">
                                        <label class="control-label">{{security?.closingDateLabel}}
                                            <span *ngIf="security?.closingDateRequired">*</span>
                                        </label>
                                        <div class="row">
                                            <div class="col-md-12 datepicker-col {{(isRequiredAndNull(basicInfo.controls.endDate,security?.closingDateRequired) && (isJobEdit || saveAsJobFlag))?'error-border':''}}">
                                                <alt-datepicker [styleClass]="'datepicker-common3'" class="dropdown-calendar dropdown-calendar-grey"
                                                    [type]="'date'" [mode]="'landscape'" #endDate [value]="jobEndDate"
                                                    (change)="setEndDate(endDate.value)" [disabled]="security?.closingDateDisabled || closingDateAutopopulateEnabled"></alt-datepicker>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-6 input-field input-created-by" *ngIf="security?.createdByRendered && requisitionID != null && requisitionID != 0">
                                        <label class="control-label">{{security?.createdByLabel}}
                                            <span *ngIf="security?.createdByRequired">*</span>
                                        </label>
                                        <br>
                                        <span class="input-text-field {{security?.createdByDisabled? 'text-disabled':''}}">{{createdBy}}</span>
                                    </div>
                                    <div class="col-md-6 input-field {{(isRequiredAndNull(basicInfo.controls['programType'],security?.programTypeRequired) && (isJobEdit || saveAsJobFlag))?'error-border':''}}"
                                        *ngIf="security?.programTypeRendered">
                                        <label class="control-label">{{security?.programTypeLabel}}
                                            <span *ngIf="security?.programTypeRequired">*</span>
                                        </label>
                                        <div class="dropdown-11 list-block">
                                            <alt-custom-single-select #PROGRAMTYPE [srcTag]="'PROGRAMTYPETAG'" (clickToClose)="PROGRAMTYPE.toggleClose()" [inputList]="programTypeList"
                                                [valueKey]="'id'" [labelKey]="'name'" [value]="basicInfo.controls.programType.value" [isDisabled]="security?.programTypeDisabled" [searchEnable]="false"
                                                [placeholder]="langSelectPlaceholder" (valueBind)="basicInfo.controls['programType'].setValue($event.id);">
                                            </alt-custom-single-select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 input-field {{(isRequiredAndNull(basicInfo.controls['roleType'],security?.roleTypeRequired) && (isJobEdit || saveAsJobFlag))?'error-border':''}}"
                                        *ngIf="security?.roleTypeRendered">
                                        <label class="control-label">{{security?.roleTypeLabel}}
                                            <span *ngIf="security?.roleTypeRequired">*</span>
                                        </label>
                                        <div class="dropdown-11 list-block">
                                            <alt-custom-single-select #ROLETYPE [srcTag]="'ROLETYPETAG'" (clickToClose)="ROLETYPE.toggleClose()" [inputList]="roleTypeList"
                                                [valueKey]="'id'" [labelKey]="'name'" [value]="basicInfo.controls.roleType.value" [isDisabled]="security?.roleTypeDisabled" [searchEnable]="false"
                                                [placeholder]="langSelectPlaceholder" (valueBind)="basicInfo.controls['roleType'].setValue($event.id);">
                                            </alt-custom-single-select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 input-field {{(isRequiredAndNull(basicInfo.controls['roleContribution'],security?.roleContributionRequired) && (isJobEdit || saveAsJobFlag))?'error-border':''}}"
                                        *ngIf="security?.roleContributionRendered">
                                        <label class="control-label">{{security?.roleContributionLabel}}
                                            <span *ngIf="security?.roleContributionRequired">*</span>
                                        </label>
                                        <div class="dropdown-11 list-block">
                                            <alt-custom-single-select #ROLECONTRIBUTION [srcTag]="'ROLECONTRIBUTIONTAG'" (clickToClose)="ROLECONTRIBUTION.toggleClose()" [inputList]="roleContributionList"
                                                [valueKey]="'id'" [labelKey]="'name'" [value]="basicInfo.controls.roleContribution.value" [isDisabled]="security?.roleContributionDisabled" [searchEnable]="false"
                                                [placeholder]="langSelectPlaceholder" (valueBind)="basicInfo.controls['roleContribution'].setValue($event.id);">
                                            </alt-custom-single-select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 input-field {{(isRequiredAndNull(basicInfo.controls['employmentTenure'],security?.employmentTenureRequired) && (isJobEdit || saveAsJobFlag))?'error-border':''}}"
                                        *ngIf="security?.employmentTenureRendered">
                                        <label class="control-label">{{security?.employmentTenureLabel}}
                                            <span *ngIf="security?.employmentTenureRequired">*</span>
                                        </label>
                                        <div class="dropdown-11 list-block">
                                            <alt-custom-single-select #EMPLOYMENTTENURE [srcTag]="'EMPLOYMENTTENURETAG'" (clickToClose)="EMPLOYMENTTENURE.toggleClose()" [inputList]="employmentTenureList"
                                                [valueKey]="'id'" [labelKey]="'name'" [value]="basicInfo.controls.employmentTenure.value" [isDisabled]="security?.employmentTenureDisabled" [searchEnable]="false"
                                                [placeholder]="langSelectPlaceholder" (valueBind)="basicInfo.controls['employmentTenure'].setValue($event.id);">
                                            </alt-custom-single-select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 input-field "
                                        *ngIf="security?.ctcBudgetRangeRendered">
                                        <label class="control-label">{{security?.ctcBudgetRangeLabel}}
                                            <span *ngIf="security?.ctcBudgetRangeRequired">*</span>
                                        </label>
                                        <div class="clearfixl">
                                            <div class="form-control-ctc-row clearfix">
                                                <div class="ctc-cell-1" *ngIf="security?.ctcCurrencyRendered">
                                                    <div class="dropdown-11 list-block">
                                                        <alt-custom-single-select #CURRENCYRANGE [srcTag]="'CURRENCYRANGETAG'"
                                                            (clickToClose)="CURRENCYRANGE.toggleClose()" [inputList]="currencyList"
                                                            [isDisabled]="security?.ctcCurrencyDisabled || security?.ctcBudgetRangeDisabled" [value]="basicInfo.controls.currency.value"
                                                            [placeholder]="langSelectPlaceholder" (valueBind)="basicInfo.controls['currency'].setValue($event.value)">
                                                        </alt-custom-single-select>
                                                    </div>
                                                </div>
                                                <div class="ctc-cell-2 no-spin {{(isRequiredAndNull(basicInfo.controls.minBudgetSalary,security?.ctcBudgetRangeRendered) && (isJobEdit || saveAsJobFlag))?'error-border':''}}">
                                                    <input type="number" min="0" class="form-control" formControlName="minBudgetSalary"
                                                        placeholder="Min Budget" [attr.disabled]="security?.ctcBudgetRangeDisabled?'':null" />
                                                </div>
                                                <div class="ctc-cell-2 no-spin ctc-cell-border {{(isRequiredAndNull(basicInfo.controls.maxBudgetSalary,security?.ctcBudgetRangeRendered) && (isJobEdit || saveAsJobFlag))?'error-border':''}}">
                                                    <input type="number" min="0" class="form-control" formControlName="maxBudgetSalary"
                                                        placeholder="Max Budget"  [attr.disabled]="security?.ctcBudgetRangeDisabled?'':null" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column-footer row2">
                                    <div class="col-md-12 text-right">
                                        <alt-spinner-button gaevent="Basic#Continue#click" (myEvent)="saveBasicDetails();"
                                            [spinner]="basicInfoContinueBlock" [spinnerdisabled]="basicInfoContinueBlock"
                                            [text]="continueButtonLabel"></alt-spinner-button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </li>
                <li gaevent="Organisational#Label#click" class="item_list_block form-disabled {{organisationalsectionactive?'step_open':'step_close'}} {{organisationalInfoComplete?'step-done':''}}"
                    FormGroupName="organisationalInfo" *ngIf="security?.organisationalSectionRendered">
                    <div class="info_title" style="cursor: pointer;" (click)="basicsection('organisational');">
                        <span class="count_Icon ">0{{organisationalInfoSequence}}</span>{{security?.organisationalSectionLabel}}
                        <span class="clearAllFields" (click)="resetOrganisationalSection($event)">{{ 'common.label.clearAll' |
                            translate }}</span>
                    </div>
                    <div class="form_outer">
                        <div class="row">
                            <form [formGroup]="organisationalInfo">
                                <div class="form-group row2 mgn-btm-0" *ngIf="security?.organizationUnitRendered">
                                    <div class="common-block-job">
                                        <h3 class="title-12">{{security?.organizationUnitLabel}}</h3>
                                        <div class="clearfix">
                                            <ng-container *ngFor="let master of orgunitMastersList; let index=index; let odd=odd; let even=even; let first=first; let last=last;">
                                                <div class="col-md-6 input-field  {{(isRequiredAndNull(organisationalInfo.controls[master.orgunitType],security?.organizationUnitRequired) && index==0 && (isJobEdit || saveAsJobFlag))?'error-border':''}}">
                                                    <label class="control-label">{{master.orgunitType}}
                                                        <span *ngIf="(security?.organizationUnitRequired && index == 0)">*</span>
                                                    </label>
                                                    <div class="dropdown-11 list-block">
                                                        <alt-custom-single-select #ORGUNITTYPE [srcTag]="'ORGUNITTYPETAG'"
                                                            (clickToClose)="ORGUNITTYPE.toggleClose()" [searchEnable]="true"
                                                            [isDisabled]="security?.organizationUnitDisabled  || security.positionRendered"
                                                            [inputList]="master.orgunits" [value]="organisationalInfo.controls[master.orgunitType].value"
                                                            [placeholder]="langSelectPlaceholder" (valueBind)="organisationalInfo.controls[master.orgunitType].setValue($event.value); orgunitSelectionChangeListener(master.orgunitType, $event.value);">
                                                        </alt-custom-single-select>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row2 mgn-btm-0" *ngIf="security?.joiningLocationRendered">
                                    <div class="common-block-job">
                                        <h3 class="title-12">{{security?.joiningLocationLabel}}</h3>
                                        <div class="clearfix">
                                            <ng-container *ngFor="let master of worksiteMastersList; let index=index; let odd=odd; let even=even; let first=first; let last=last;">
                                                <div class="col-md-6 input-field {{(isRequiredAndNull(organisationalInfo.controls[master.worksiteType],security?.joiningLocationRequired) && (isJobEdit || saveAsJobFlag) && index == 0)?'error-border':''}}">
                                                    <label class="control-label">{{master.worksiteType}}
                                                        <span *ngIf="(security?.joiningLocationRequired && index == 0)">*</span>
                                                    </label>
                                                    <div class="dropdown-11 list-block">
                                                        <alt-custom-single-select #WORKSITETYPE [srcTag]="'WORKSITETYPETAG'"
                                                            (clickToClose)="WORKSITETYPE.toggleClose()" [searchEnable]="true"
                                                            [isDisabled]="security?.joiningLocationDisabled  || security.positionRendered"
                                                            [inputList]="master.worksites" [value]="organisationalInfo.controls[master.worksiteType].value"
                                                            [placeholder]="langSelectPlaceholder" (valueBind)="organisationalInfo.controls[master.worksiteType].setValue($event.value); worksiteSelectionChangeListener(master.worksiteType, $event.value);">
                                                        </alt-custom-single-select>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row2 mgn-btm-0">
                                    <div class="col-md-6 input-field {{(isRequiredAndNull(organisationalInfo.controls['industryId'],security?.industryRequired) && (isJobEdit || saveAsJobFlag))?'error-border':''}}"
                                        *ngIf="security?.industryRendered">
                                        <label class="control-label">{{security?.industryLabel}}
                                            <span *ngIf="security?.industryRequired">*</span>
                                        </label>
                                        <div class="dropdown-11 list-block" *ngIf="industryList != null">
                                            <alt-custom-single-select #INDUSTRYID [srcTag]="'INDUSTRYIDTAG'"
                                                (clickToClose)="INDUSTRYID.toggleClose()" [inputList]="industryList"
                                                [valueKey]="'id'" [labelKey]="'name'" [value]="organisationalInfo.controls['industryId'].value"
                                                [isDisabled]="security?.industryDisabled" [searchEnable]="true"
                                                [placeholder]="langSelectPlaceholder" (valueBind)="organisationalInfo.controls['industryId'].setValue($event.id);">
                                            </alt-custom-single-select>
                                        </div>
                                    </div>



                                    <div class="col-md-6 input-field {{(isRequiredAndNull(organisationalInfo.controls['functionalAreaIDOrg'],security?.functionalAreaRequired) && (isJobEdit || saveAsJobFlag))?'error-border':''}}"
                                        *ngIf="security?.functionalAreaRendered">
                                        <label class="control-label">{{security?.functionalAreaLabel}}
                                            <span *ngIf="security?.functionalAreaRequired">*</span>
                                        </label>
                                        <div class="dropdown-11 list-block">
                                            <alt-custom-single-select #FUNCTIONALAREARANGE [srcTag]="'FUNCTIONALAREARANGETAG'"
                                                (clickToClose)="FUNCTIONALAREARANGE.toggleClose()" [isDisabled]="security?.functionalAreaDisabled"
                                                [searchEnable]="true" [inputList]="functionalAreaList" [value]="organisationalInfo.controls['functionalAreaIDOrg'].value"
                                                [placeholder]="langSelectPlaceholder" (valueBind)="organisationalInfo.controls['functionalAreaIDOrg'].setValue($event.value);organisationalInfo.controls['requisitionRoleIDOrg'].setValue(null);">
                                            </alt-custom-single-select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 input-field {{(isRequiredAndNull(organisationalInfo.controls['requisitionRoleIDOrg'],security?.roleRequired) && (isJobEdit || saveAsJobFlag))?'error-border':''}}"
                                        *ngIf="security?.roleRendered">
                                        <label class="control-label">{{security?.roleLabel}}
                                            <span *ngIf="security?.roleRequired">*</span>
                                        </label>
                                        <div class="dropdown-11 list-block">
                                            <alt-custom-single-select #ROLERANGE [srcTag]="'ROLERANGETAG'"
                                                (clickToClose)="ROLERANGE.toggleClose()" [searchEnable]="true"
                                                [isDisabled]="security?.roleDisabled" [inputList]="requisitionRoleList"
                                                [value]="organisationalInfo.controls['requisitionRoleIDOrg'].value"
                                                [placeholder]="langSelectPlaceholder" (valueBind)="organisationalInfo.controls['requisitionRoleIDOrg'].setValue($event.value)">
                                            </alt-custom-single-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="column-footer row2">

                                    <div class="col-md-12 text-right">

                                        <alt-spinner-button gaevent="Organisational#Continue#click" (myEvent)="saveOrganisationalDetails();"
                                            [spinner]="organisationalInfoContinueBlock" [spinnerdisabled]="organisationalInfoContinueBlock"
                                            [text]="continueButtonLabel"></alt-spinner-button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="suggested_skills_row" *ngIf="security?.skillSectionRendered">
        <div class="section_halfLess suggested-skills-block" *ngIf="skillsectionactive">
            <ul class="item_list item_list2">
                <li class="item_list_block step_open form-disabled">
                    <ng-container>
                        <div class="info_title gray">
                            {{'job.new_job.suggestedSkills' | translate}}
                            <span class="clearAllFields click-to-use" *ngIf="filteredSuggestedSkillList?.length!=0" [innerHtml]= "'job.new_job.clickTaptoUseReqSkill' | translate">    
                            </span>
                        </div>
                        <div *ngIf="!suggestedSkillLoaderShow" class="form_outer">
                            <div class="form-group padding-tnone">

                                <div class="skill-row clearfix">
                                    <span class="cursor" *ngFor="let skill of filteredSuggestedSkillList" class="tag-job tag-job-wt"
                                        (click)="skillSelectListener(skill)">{{skill}}</span>
                                </div>
                                <div *ngIf="filteredSuggestedSkillList?.length==0" class="skill-row clearfix">
                                    <span>{{skillMessage}}</span>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="suggestedSkillLoaderShow" class="form_outer">
                            <div class="form-group">
                                <div class="skill-row clearfix">
                                    <span class="tag-job tag-job-wt skill-1">
                                        <div class="loading-line"></div>
                                    </span>
                                    <span class="tag-job tag-job-wt skill-1">
                                        <div class="loading-line"></div>
                                    </span>
                                    <span class="tag-job tag-job-wt skill-2">
                                        <div class="loading-line"></div>
                                    </span>
                                    <span class="tag-job tag-job-wt skill-2">
                                        <div class="loading-line"></div>
                                    </span>
                                    <span class="tag-job tag-job-wt skill-1">
                                        <div class="loading-line"></div>
                                    </span>
                                    <span class="tag-job tag-job-wt skill-1">
                                        <div class="loading-line"></div>
                                    </span>
                                    <span class="tag-job tag-job-wt skill-1">
                                        <div class="loading-line"></div>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </li>
            </ul>
        </div>
        <div class="section_halfPluse" *ngIf="security?.skillSectionRendered">
            <ul class="item_list">
                <li gaevent="Skills#Label#click" class="item_list_block form-disabled {{skillsectionactive?'step_open':'step_close'}} {{skillInfoComplete?'step-done':''}}"
                    *ngIf="security?.skillSectionRendered">
                    <div class="info_title cursor" (click)="basicsection('skill');">
                        <span class="count_Icon">0{{skillInfoSequence}}</span>{{security?.skillSectionLabel}}
                        <span class="clearAllFields" (click)="resetSkillSection($event)">{{ 'common.label.clearAll' | translate }}</span>
                    </div>
                    <div class="form_outer">
                        <div class="form-group">
                            <div class="skill-row clearfix margin-b15">
                                <form [formGroup]="skillInfo">
                                    <div class="form-group row2">
                                        <div class="col-md-12 {{(isRequiredAndNull(skillInfo.controls.skill,security?.skillsRequired) && (isJobEdit || saveAsJobFlag))?'error-border':''}}"
                                            *ngIf="security?.skillsRendered">
                                            <div class="clearfix margin-b10">
                                                <label class="control-label fl-left">{{security?.skillsLabel}}
                                                    <span *ngIf="security?.skillsRequired">*</span>
                                                </label>
                                                <span class="fl-right">{{'job.new_job.selectStarforMandatorySkill' | translate}}</span>
                                            </div>
                                            <div class="dropdown-11 list-block auto-select">
                                                <span *ngFor="let selectedSkill of selectedSkillList" class="tag-job tag-job-selected star-rating-block">
                                                    <span (click)="toggleSkillType(selectedSkill)" class="mdi mdi-star {{(selectedSkill.mandatory==true)?'star-rating':''}}"></span>
                                                    {{selectedSkill.text}}
                                                    <span (click)="skillDeleteListener(selectedSkill)" class="material-icons {{security?.skillsDisabled? 'displayNone':''}}">clear</span>
                                                </span>
                                                <mat-form-field class="fl-left" [floatLabel]="'never'">
                                                    <input type="text" class="form-control" on-focusout="focusOutSkills()"
                                                        matInput formControlName="skill" [matAutocomplete]="autoSkill"
                                                        [placeholder]="langSelectPlaceholder">
                                                </mat-form-field>
                                                <mat-autocomplete #autoSkill="matAutocomplete">
                                                    <mat-option *ngFor="let skills of skillList" [value]="skills"
                                                        (onSelectionChange)="skillSelectListener(skills)">
                                                        {{skills}}
                                                    </mat-option>
                                                </mat-autocomplete>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="skill-row margin-b10 clearfix">
                                <form [formGroup]="minQualificationInfo">
                                    <div class="form-group row2">
                                        <div class="col-md-12 {{(isRequiredAndNull(minQualificationInfo.controls.minQualification,security?.minQualificationRequired) && (isJobEdit || saveAsJobFlag))?'error-border':''}}"
                                            *ngIf="security?.minQualificationRendered">
                                            <label class="control-label">{{security?.minQualificationLabel}}
                                                <span *ngIf="security?.minQualificationRequired">*</span>
                                            </label>
                                            <div class="dropdown-11 list-block auto-select">
                                                <span *ngFor="let selectedMinQualification of selectedMinQualificationList"
                                                    class="tag-job tag-job-selected">{{selectedMinQualification}}
                                                    <span (click)="minQualificationDeleteListener(selectedMinQualification)"
                                                        class="material-icons {{security?.minQualificationDisabled? 'displayNone':''}}">clear</span>
                                                </span>
                                                <mat-form-field class="fl-left" [floatLabel]="'never'">
                                                    <input type="text" class="form-control" on-focusout="focusOutMinQualification()"
                                                        matInput formControlName="minQualification" [matAutocomplete]="autominQualification"
                                                        [placeholder]="langSelectPlaceholder">
                                                </mat-form-field>
                                                <mat-autocomplete #autominQualification="matAutocomplete">
                                                    <mat-option *ngFor="let minQualifications of minQualificationList"
                                                        [value]="minQualifications" (onSelectionChange)="minQualificationSelectListener(minQualifications)">
                                                        {{minQualifications}}
                                                    </mat-option>
                                                </mat-autocomplete>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="skill-row  margin-b10 clearfix">
                                <form [formGroup]="certificationInfo">
                                    <div class="form-group row2">
                                        <div class="col-md-12 {{(isRequiredAndNull(certificationInfo.controls.certification,security?.certificationRequired) && (isJobEdit || saveAsJobFlag))?'error-border':''}}"
                                            *ngIf="security?.certificationRendered">
                                            <label class="control-label">{{security?.certificationLabel}}
                                                <span *ngIf="security?.certificationRequired">*</span>
                                            </label>
                                            <div class="dropdown-11 list-block auto-select">
                                                <span *ngFor="let selectedCertification of selectedCertificationList"
                                                    class="tag-job tag-job-selected">{{selectedCertification}}
                                                    <span (click)="certificationDeleteListener(selectedCertification)"
                                                        class="material-icons {{security?.certificationDisabled? 'displayNone':''}}">clear</span>
                                                </span>
                                                <mat-form-field class="fl-left" [floatLabel]="'never'">
                                                    <input type="text" class="form-control" on-focusout="focusOutCertification()"
                                                        matInput formControlName="certification" [matAutocomplete]="autoCertification"
                                                        [placeholder]="langSelectPlaceholder">
                                                </mat-form-field>
                                                <mat-autocomplete #autoCertification="matAutocomplete">
                                                    <mat-option *ngFor="let certifications of certificationList"
                                                        [value]="certifications" (onSelectionChange)="certificationSelectListener(certifications)">
                                                        {{certifications}}
                                                    </mat-option>
                                                </mat-autocomplete>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="skill-row clearfix">
                                <form [formGroup]="workingLanguageInfo">
                                    <div class="form-group row2">
                                        <div class="col-md-12 {{(isRequiredAndNull(workingLanguageInfo.controls.workingLanguage,security?.workingLanguageRequired) &&  (isJobEdit || saveAsJobFlag))?'error-border':''}}"
                                            *ngIf="security?.workingLanguageRendered">
                                            <label class="control-label">{{security?.workingLanguageLabel}}
                                                <span *ngIf="security?.workingLanguageRequired">*</span>
                                            </label>
                                            <div class="dropdown-11 list-block auto-select">
                                                <span *ngFor="let selectedLanguage of selectedLanguageList" class="tag-job tag-job-selected">{{selectedLanguage}}
                                                    <span (click)="languageDeleteListener(selectedLanguage)" class="material-icons {{security?.workingLanguageDisabled? 'displayNone':''}}">clear</span>
                                                </span>
                                                <mat-form-field class="fl-left" [floatLabel]="'never'">
                                                    <input type="text" class="form-control" on-focusout="focusOutWorkingLanguage()"
                                                        matInput formControlName="workingLanguage" [matAutocomplete]="autoLanguage"
                                                        [placeholder]="langSelectPlaceholder">
                                                </mat-form-field>
                                                <mat-autocomplete #autoLanguage="matAutocomplete">
                                                    <mat-option *ngFor="let languages of languageList" [value]="languages"
                                                        (onSelectionChange)="languageSelectListener(languages)">
                                                        {{languages}}
                                                    </mat-option>
                                                </mat-autocomplete>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="column-footer row2 text-right">
                            <alt-spinner-button gaevent="Skills#Continue#click" (myEvent)="saveSkillDetails();"
                                [spinner]="skillInfoContinueBlock" [spinnerdisabled]="skillInfoContinueBlock" [text]="continueButtonLabel"></alt-spinner-button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="section_halfPluse">
        <ul class="item_list">
            <li gaevent="JobDescription#Label#click" class="item_list_block {{jobsectionactive?'step_open':'step_close'}} {{ !isRequiredAndNull(jobDescriptionInfo.controls.jobDescription,security?.jobDescriptionRequired) && jobDescriptionInfoComplete?'step-done':''}}"
                FormGroupName="jobDescriptionInfo" *ngIf="security?.jobdescriptionSectionRendered">
                <div class="info_title" style="cursor: pointer;" (click)="basicsection('job');">
                    <span class="count_Icon">0{{jobDescriptionInfoSequence}}</span>{{security?.jobdescriptionSectionLabel}}
                    <span *ngIf="!security?.jobDescriptionDisabled" class="clearAllFields text_normalCase" (click)="resetJobDescriptionSection($event)">{{ 'common.label.clearAll' | translate }}</span>
                </div>
                <div class="form_outer">
                    <form [formGroup]="jobDescriptionInfo">
                        <div class="form-group row2 {{(isRequiredAndNull(jobDescriptionInfo.controls.jobDescription,security?.jobDescriptionRequired) && (isJobEdit || saveAsJobFlag))?'error-border':''}}"
                            *ngIf="security?.jobDescriptionRendered">
                            <label class="control-label">{{security?.jobDescriptionLabel}}
                                <span *ngIf="security?.jobDescriptionRequired">*</span>
                            </label>
                            <div class="clearfix">
                                <div *ngIf="security?.jobDescriptionDisabled" class="resume-data" [innerHTML]='jobDescriptionInfo.controls.jobDescription.value'></div>
                               
                                <div *ngIf="!security?.jobDescriptionDisabled" class="resume-data" [froalaEditor]='editorOptions' formControlName="jobDescription"
                                    
                                     [(froalaModel)]="jobDescriptionInfo.controls.jobDescription.value">
                                </div>
                                  <p class="text-left">{{'job.new_job.jDlengthStat' | translate:{jDLength: jobDescLength, jDMinLength: jobDescriptionMinLength} }}
                                 </p>
                            </div>
                        </div>
                        <div class="column-footer row2 text-right">
                            <alt-spinner-button gaevent="JobDescription#Continue#click" (myEvent)="saveJobDescriptionDetails();"
                                [spinner]="jobDescriptionInfoContinueBlock" [spinnerdisabled]="jobDescriptionInfoContinueBlock"
                                [text]="continueButtonLabel"></alt-spinner-button>
                        </div>
                    </form>
                </div>
            </li>
            <li gaevent="Workflow#Label#click" class="item_list_block {{worksectionactive?'step_open':'step_close'}} {{workflowInfoComplete?'step-done':''}}"
                FormGroupName="workflowInfo">
                <div class="info_title" style="cursor: pointer;" (click)="basicsection('work');">
                    <span class="count_Icon">0{{workflowInfoSequence}}</span>{{security?.workflowSectionLabel}}
                    <span class="clearAllFields" (click)="resetWorkflowSection($event)">{{ 'common.label.clearAll' | translate }}</span>
                </div>
                <div class="form_outer">
                    <div class="row">
                        <form [formGroup]="workflowInfo">
                            <div class="form-group row2">
                                <div class="col-md-6 {{(isRequiredAndNull(workflowInfo.controls.workflowID,true) && (isJobEdit || saveAsJobFlag))?'error-border':''}}">
                                    <label class="control-label">{{security?.workflowTypeLabel}}
                                        <span>*</span>
                                    </label>
                                    <div class="dropdown-11 list-block">
                                        <alt-custom-single-select #WORKFLOWTYPERANGE [srcTag]="'WORKFLOWTYPERANGETAG'"
                                            (clickToClose)="WORKFLOWTYPERANGE.toggleClose()" [placeholder]="langSelectPlaceholder"
                                            [inputList]="workflowList" [value]="workflowInfo.controls['workflowID'].value"
                                            [isDisabled]="security.workflowTypeDisabled" [placeholder]="langSelectPlaceholder"
                                            (valueBind)="workflowInfo.controls['workflowID'].setValue($event.value)">
                                        </alt-custom-single-select>
                                    </div>
                                </div>
                            </div>
                            <div class="column-footer row2">
                                <div class="column-footer row2 text-right">

                                    <alt-spinner-button gaevent="Workflow#Continue#click" (myEvent)="saveWorkflowDetails();"
                                        [spinner]="workflowInfoContinueBlock" [spinnerdisabled]="workflowInfoContinueBlock"
                                        [text]="continueButtonLabel"></alt-spinner-button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </li>

            <!-- CTQ start -->
            <li gaevent="CTQ#Label#click" class="item_list_block {{ctqsectionactive?'step_open':'step_close'}} {{ !isRequiredAndNull(ctqInfo.controls.ctqDescription,security?.ctqSectionRequired) && ctqInfoComplete?'step-done':''}}"
                FormGroupName="ctqInfo" *ngIf="security?.ctqSectionRendered">
                <div class="info_title" style="cursor: pointer;" (click)="basicsection('ctq');">
                    <span class="count_Icon">0{{ctqInfoSequence}}</span>{{security?.ctqSectionLabel}}
                    <span class="clearAllFields" (click)="resetCTQSection($event)">{{ 'common.label.clearAll' | translate }}</span>
                </div>
                
                <ng-container *ngIf="security?.ctqRendered">
                <div class="form_outer form_inner_block">
                    <form [formGroup]="ctqInfo">
                      <div class="form_inner_block_list row2">
                        <div class="col-md-6 radio_first">
                          <div class="radio radio-20 radio-inline">
                            <span class="radio_label_inline {{enableCTQ && radioButtonEnabled?'active':''}}">
                              <input type="radio"  id="Applicable1" value="option1" formControlName="cqtRadioButton"
                                name="cqtRadioButton" (click)="initCTQForm($event,true)">
                              <label for="Applicable1">Applicable</label>
                            </span>
                          </div>
                        </div>
                        <div class="col-md-6 not-applicable">
                          <div class="radio radio-20 radio-inline">
                            <span class="radio_label_inline {{!enableCTQ && radioButtonEnabled?'active':''}}">
                              <input type="radio" id="not_Applicable" value="option2" formControlName="cqtRadioButton"
                                name="cqtRadioButton" (click)="initCTQForm($event,false)">
                              <label for="not_Applicable">Not Applicable</label>
                            </span>
                          </div>
                        </div>
                      </div>
                    </form>
                    <ng-container *ngIf="enableCTQ">
                    <div class="form_inner_block_list row2">
                        <div class="row">
                            <div class="form-group row2">
                                <label class="control-label col-md-12">Select a CTQ
                                    <span *ngIf="security?.ctqRequired">*</span>
                                </label>
                                <div class="col-md-6">
                                    <alt-custom-single-select #CTQID [srcTag]="'CTQIDTAG'" (clickToClose)="CTQID.toggleClose()"
                                        [inputList]="ctqList" [valueKey]="'id'" [labelKey]="'name'" [value]="ctqInfo.controls.ctq.value"
                                        [isDisabled]="security?.ctqDisabled?'':null" [searchEnable]="true" [placeholder]="langSelectPlaceholder"
                                        (valueBind)="fetchCTQQuestions($event)">
                                    </alt-custom-single-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form_inner_block_list row2" *ngFor="let ctq of ctqData; let index=index">
                            <div class="row">
                                <div class="col-xs-6 col-md-6">
                                    <label class="form-label">Question {{index+1}}</label>
                                </div>
                                <div class="col-xs-6 col-md-6">
                                    <div class="inline_icon_outer icon_group_right">
                                        <span class="material-icons cursor" (click)="removedQuestionFromCTQ(ctq)">delete</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row2">
                                <label class="title_label">{{ctq.question}}</label>
                                <div class="ans-inner" *ngIf="ctq.questionType=='BOOLEANRADIO'">
                                    <div class="radio radio-inline marginR20" *ngFor="let option of ctq.options, let i=index;"> 
                                        <span class="radio_label_inline">
                                            <input type="radio" disabled id="option" value="option" name="radioInline" (click)="ctqOptionChangeListener($event.value,ctq)">
                                            <label for="option">{{option}}</label>
                                        </span> 
                                    </div>
                                </div>
                                <div class="row" *ngIf="ctq.questionType=='SELECTONEMENU'">                                   
                                    <div class="col-md-6">
                                        <div class="ans-inner">
                                            <alt-custom-single-select class="selectedDisabledDrop" #CTQ2ID [srcTag]="'CTQ2IDTAG'" (clickToClose)="CTQ2ID.toggleClose()" [inputList]="ctq.selectItemOptions"
                                                [isDisabled]="security?.ctqDisabled?'':null"[placeholder]="langSelectPlaceholder" [disableList] ="true">
                                            </alt-custom-single-select>
                                        </div>
                                    </div>                                   
                                </div>
                                <div class="ans-inner" *ngIf="ctq.questionType=='INPUTTEXT'">
                                    <input disabled class="form-control" placeholder="Enter...">
                                </div>
                            </div>
                        </div>                    
                    
                        <div class="form_inner_block_list row2" *ngIf="removedQuestionList.length > 0">
                            <div class="row">
                                <div class="form-group row2">
                                    <label class="control-label col-md-12">Select to add a question</label>
                                    <div class="col-md-6">
                                        <alt-custom-single-select #QUESID [srcTag]="'QUESIDTAG'" (clickToClose)="QUESID.toggleClose()"
                                            [inputList]="removedQuestionList" [valueKey]="'id'" [labelKey]="'name'" [isDisabled]="security?.ctqDisabled?'':null"
                                             [searchEnable]="true" [placeholder]="langSelectPlaceholder" [placeholderHard]="langSelectPlaceholder" (valueBind)="addQuestionToList($event)">
                                        </alt-custom-single-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                </ng-container>
                </div>
                </ng-container>
                
                <div class="form_outer form_inner_block">
                <div class="form_inner_block_list lastBorderCTQ row2">
                    <form [formGroup]="ctqInfo">
                        <div class="form-group row2 {{(isRequiredAndNull(ctqInfo.controls.ctqDescription,security?.sourcingGuidelineRequired) && (isJobEdit || saveAsJobFlag))?'error-border':''}}"
                            *ngIf="security?.sourcingGuidelineRendered">
                            <label class="control-label">{{security?.sourcingGuidelineLabel}}
                                <span *ngIf="security?.sourcingGuidelineRequired">*</span>
                            </label>
                            <div class="clearfix">
                                <textarea mdInput class="form-control textarea_standardHeight noresize" [attr.disabled]="security?.sourcingGuidelineDisabled?'':null"
                                    [placeholder]="langEnterPlaceholder" formControlName="ctqDescription"></textarea>
                                <div class="text-left">{{ sourcingGuidLineLength + ' Characters ( Max Limit: ' +
                                    1000 + ' Characters )'}}</div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
                <div class="form_outer">
                    <div class="column-footer row2 text-right">
                        <alt-spinner-button gaevent="CTQ#Continue#click" (myEvent)="saveCTQDetails();" [spinner]="ctqInfoContinueBlock"
                            [spinnerdisabled]="ctqInfoContinueBlock" [text]="continueButtonLabel"></alt-spinner-button>
                    </div>
                </div>
            </li>
            <!-- CTQ end -->
            <li gaevent="AddToTemplate#Label#click" class="item_list_block {{addsectionactive?'step_open':'step_close'}} {{addToTemplateInfoComplete?'step-done':''}}"
                *ngIf="security?.addtotemplateSectionRendered">
                <form [formGroup]="addToTemplateInfo">
                    <div class="info_title" style="cursor: pointer;" (click)="basicsection('add');">
                        <span class="count_Icon">0{{addToTemplateInfoSequence}}</span>{{security?.addtotemplateSectionLabel}}
                    </div>
                    <div class="form_outer">
                        <div class="form-group row2">
                            <label class="form-label">{{'job.new_job.templateAddMessage' | translate}}</label>
                        </div>
                        <div class="form-group row2">
                            <mat-radio-group formControlName="save">
                                <div class="col-md-4">
                                    <div class="radio radio-20 radio-inline">
                                        <span class="radio_label_inline">
                                            <input [attr.disabled]="security?.topJobTemplateDisabled?'':null" type="radio"
                                                id="trueID" value="TRUE" formControlName="save">
                                            <label for="trueID" class="{{security?.topJobTemplateDisabled? 'cursor-defauls':''}}">Add
                                                to my template</label>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="radio radio-20 radio-inline">
                                        <span class="radio_label_inline">
                                            <input [attr.disabled]="security?.topJobTemplateDisabled?'':null" type="radio"
                                                id="falseID" value="FALSE" formControlName="save">
                                            <label for="falseID" class="{{security?.topJobTemplateDisabled? 'cursor-defauls':''}}">Not
                                                Add</label>
                                        </span>
                                    </div>
                                </div>
                            </mat-radio-group>
                        </div>
                        <label class="form-label">Template Name</label>
                        <div class="column-footer row2 ">
                            <div class="row">
                                <div class="col-md-6 {{(isRequiredAndNull(addToTemplateInfo.controls.jobTemplateName,addToTemplateInfo.controls.save.value === 'TRUE') && (isJobEdit || saveAsJobFlag))?'error-border':''}}">
                                    <input [attr.disabled]="security?.topJobTemplateDisabled?'':null" type="text" class="form-control"
                                        formControlName="jobTemplateName" [placeholder]="langEnterPlaceholder" />
                                </div>
                                <div class="col-md-6 text-right padding-for-mobile">

                                    <alt-spinner-button gaevent="AddToTemplate#Continue#click" (myEvent)="saveAddToTemplateDetails();"
                                        [spinner]="addToTemplateInfoContinueBlock" [spinnerdisabled]="addToTemplateInfoContinueBlock"
                                        [text]="continueButtonLabel"></alt-spinner-button>
                                </div>
                            </div>
                        </div>
                    </div>                   
                </form>
            </li>
        </ul>
        <div class="form-group form-textarea" *ngIf="commentVisible">
            <textarea class="form-control noresize" [value]="comments" (change)="comments = $event.target.value" placeholder="{{ 'common.warning.enterComments' | translate }}"></textarea>
        </div>
        <div class="row-btn clearfix margin-b10 pull-right pad-bot-90 ">
            <div class="fl-right">
                <button type="button" [gaevent]=" toTitleCase(pageTitle) + '#Back#click'" class="btn btn-white" (click)="goBack()">{{'common.label.goBack' | translate }}</button>
                <alt-spinner-button [gaevent]=" toTitleCase(pageTitle) + '#Auto-Match Candidates#click'" *ngIf="requisitionCode && featureDataMap.get('AUTOMATCH') != 3 && stageID == null"
                    (myEvent)="gotoAutoMatchCandidates()" [spinner]="saveJobDetailsButtonBlock" [spinnerdisabled]="saveJobDetailsButtonBlock || !automatchEnabled || featureDataMap.get('AUTOMATCH') == 2"
                    [text]="autoMatchLabel">
                </alt-spinner-button>
                <span  *ngFor="let action of actionList ">
                    <alt-spinner-button *ngIf="action.stageActionVisible == true" [gaevent]=" toTitleCase(pageTitle) + '#Withdraw#click'"
                    (myEvent)="goToDefaultAction(action.uiAction);" [spinner]="saveJobDetailsButtonBlock" [spinnerdisabled]="saveJobDetailsButtonBlock"
                    [text]="action.stageAction"></alt-spinner-button>
                </span>
                <span *ngIf="!isJobEdit">
                  <alt-spinner-button *ngIf="stageStatusID == null" [gaevent]=" toTitleCase(pageTitle) + '#'+ lable +'#click'"
                        (myEvent)="saveJobDetails();" [spinner]="saveJobDetailsButtonBlock" [spinnerdisabled]="saveJobDetailsButtonBlock"
                        [text]="lable"></alt-spinner-button>
                </span>
            </div>
            <!-- </div> -->
        </div>
    </div>
    <div class="clearfix">&nbsp;</div>
    <div class="clearfix">&nbsp;</div>
    <div class="clearfix">&nbsp;</div>
    <!-- \\ End Section Card-->
    <!-- \\ End Section Main Templet -->
</div>