<div class="popup-custome-section">
    <div class="popup-top clearfix" mat-dialog-title>
        <h2 class="title-sub text-wrap">{{label}} {{candidateName}} - {{candidateCode}} </h2>
        <span class="material-icons close" (click)="dialogRef.close('no')">close</span>
    </div>
    <div class="notification-bar width96 {{severityClass}} {{showClass}}" *ngIf="message.length > 0">
        <span class="material-icons successful-icon">check_circle</span>
        <div class="notification-text-outer">
            <span class="notification-text">{{message}}</span>
        </div>
        <span class="material-icons close" (click)="clearMessages()">close</span>
    </div>
    <div class="vertical-scroll-ng clearfix" [formGroup]="candidateInfo">
        <div class="popup-inner move-copy-popup">
            <div class="form-group clearfix">
                <label class="control-label">{{'candidate.list.selectAction' | translate}}</label>
                <alt-custom-single-select #ACTIONID [srcTag]="'ACTIONTAG'" (clickToClose)="ACTIONID.toggleClose()"
                    [searchEnable]="false" [inputList]="actionList" [value]="candidateInfo.controls['actionSelected'].value"
                    placeholder="{{'candidate.list.selectAction' | translate}}" (valueBind)="candidateInfo.controls['actionSelected'].setValue($event.value); bindAction($event)">
                </alt-custom-single-select>
            </div>
            <div class="form-group radio-check-block clearfix">
                <label class="control-label">{{'candidate.list.selectStage' | translate}}</label>
                <div class="radio-block">
                    <div class="radio">
                        <span class="radio_label_inline">
                            <input type="radio" id="current" value="current" formControlName="stageSelected" (click)="syncJobList(true)">
                            <label for="current">{{label}} {{'candidate.list.toCurrentStage' | translate}}</label>
                        </span>
                    </div>
                    <div class="radio">
                        <span class="radio_label_inline">
                            <input type="radio" id="initial" value="initial" formControlName="stageSelected" (click)="syncJobList(false)">
                            <label for="initial">{{label}} {{'candidate.list.toInitialStage' | translate}}</label>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group select-Job-drop margin-bot-none clearfix">
                <label class="control-label">{{'job.job_detail.selectJob' | translate}}</label>
                <alt-custom-single-select #JOBID [srcTag]="'JOBTAG'" (clickToClose)="JOBID.toggleClose()"
                    [searchEnable]="true" [inputList]="data" [value]="candidateInfo.controls['jobIdSelected'].value"
                    placeholder="{{'job.job_detail.selectJob' | translate}}" (valueBind)="candidateInfo.controls['jobIdSelected'].setValue($event.value); bindWorkflowID($event);">
                </alt-custom-single-select>
            </div>
            <div *ngIf="label=='move'" class="text">{{'candidate.list.candidateUntaggedNote' | translate}}</div>
        </div>
    </div>
</div>
<div class="btn-row text-right" mat-dialog-actions>
    <button class="btn btn-white" (click)="dialogRef.close('Cancel')" [disabled]="transferCandidate">{{'common.label.cancel' | translate}}</button>
    <alt-spinner-button (myEvent)="transferCandidateToAnotherJob($event)" [spinner]="transferCandidate"
        [spinnerdisabled]="transferCandidate" [text]="label"></alt-spinner-button>
</div>