<!-- Tab Chats history -->
<div class="tab-details">
  <alt-tagged-candidate-history-loader *ngIf="loader || candidateHistoryloader"></alt-tagged-candidate-history-loader>
  <div *ngIf="!loader && !candidateHistoryloader">
    <div *ngFor="let history of responseData?.hiringProcessHistory?.history; let index=index;">
      <div [ngSwitch]="true">
        <alt-tagged-candidate-history-default *ngSwitchDefault [inputData]="history" [inputToggle]="history.isCurrentStageStatus">
        </alt-tagged-candidate-history-default>
      </div>
    </div>
  </div>
</div>
<!-- \\ End Tab Chats history -->