<!-- Tab Auto Company Data start -->
<div id="tab2" class="tab-details" *ngIf="featureDataMap.get('AUTOMATCH_COMPANYDATA') == 1">
  <div class="jobs-listing clearfix">
    <div class="row">
      <div class="card-block card-3 search-block-section">
      </div>
      <div class="card-block card-3 card-bulk-actions">
        <div class="card-block-inner card-bg-none clearfix">

          <div class="select-all-btn col-2">
            <div class="select-all-btn-inner">
              <div class="checkbox checkbox-inline">
                <input type="checkbox" class="styled" id="bulkSelectCompany" [(ngModel)]="allCompanySelected" />
                <label for="select1" class="custome-label" (click)="selectAllCompany()"> select all </label>
              </div>
            </div>
          </div>
          <div class="dropdown dropdown-outer-2 col-2">
            <a href="javascript:void(0);" class="bulk-actions dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false">
              <span class="text-dropdown">bulk actions</span>
              <span class="mdi mdi-chevron-down md24"></span>
            </a>
            <ul class="list-reset dropdown-10 dropdown-style">
              <li>
                <a href="javascript:void(0);" (click)="assignJobToMultipleCandidates()" gaevent="ContextMenu#Bulk Tag Candidates#click">Tag Candidates</a>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
    <div *ngIf="!companyPageLoading && companyPageState.totalRows != null && companyPageState.totalRows > 0" class="row desktop-only">
      <alt-paginator [rowsPerPageTemplate]="'15,30,45'" [pageState]="companyPageState" [pageLoading]="companyPageLoading" (pageChange)="getCompanyPageNumber($event)">Loading...</alt-paginator>
    </div>
    <!--  Section Card-->
    <loader-indicator *ngIf="companyPageLoading"></loader-indicator>
    <div *ngIf="!companyPageLoading" class="section-card clearfix">
      <!-- Card Block -->
      <span class="title-lg padding-tb60" *ngIf="companyPageLoaded && !companyPageLoading && (companyDataCandidates == null || companyDataCandidates.length == 0)">Sorry! There are no candidates matching to this Job</span>
      <div class="card-block card-3 card-auto-matched-cadn" *ngFor="let item of companyDataCandidates; let i=index;">
        <!-- Card Block -->
        <div class="card-block-inner">
          <div class="card-top card-row clearfix">
            <div class="check-box checkbox">
              <input type="checkbox" [(ngModel)]="item.selected" [checked]="item.selected" class="styled" (change)="singleSelectCompanyEvent(item, i)">
              <label></label>
            </div>
            <div class="job-option">
              <a href="javascript:void(0)" class="menu-click" (click)="showContextMenu(item)">
                <span class="material-icons more-icon">more_vert</span>
              </a>
              <div class="{{item.displayClass != null ? item.displayClass : ''}}">
                <div class="module-true {{item.displayClass}}" (click)="hideContextMenu(item)"></div>
                <!-- Menu style -->
                <div class="menu-style menu-style-2 {{item.displayClass != null ? item.displayClass : ''}}">
                  <span class="material-icons close" (click)="hideContextMenu(item)">close</span>
                  <ul class="list-reset dropdown-menu">
                    <li *ngIf="featureDataMap.get('EDIT_CANDIDATE') == 1">
                      <a href="javascript:void" [gaRouterLink]="['/candidate/newcandidate', item.candidate_code | formatCandidatecodeParam]" gaevent="ContextMenu#Edit Candidate#click">Edit Candidate</a>
                    </li>
                    <li *ngIf="featureDataMap.get('EDIT_CANDIDATE') == 2" class="disabled">
                      <a>Edit Candidate</a>
                    </li>
                    <li>
                      <a href="javascript:void(0);" (click)="openEmailPopUp(item)">Email Candidate</a>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- \\ End Menu style -->
            </div>
          </div>
          <div class="card-row card-name-row">
            <div class="image-block">
              <img *ngIf="item.profileImage != null" src="{{item.profileImage}}" alt="" />
              <span class="initials-text" *ngIf="item.profileImage == null" [style.background]="randomcolor[i]">{{item.candidate_name | initials}}</span>
            </div>
            <div class="title-cell">
              <h3 *ngIf="item.candidate_name != null && item.candidate_name.length <= 19" class="title link-title cursor" (click)="gotoCandidateDetail(item)">{{item.candidate_name.toLowerCase() | stringTrim}}</h3>
              <h3 *ngIf="item.candidate_name != null && item.candidate_name.length > 19" matTooltip="{{item.candidate_name}}" class="title link-title cursor"
                (click)="gotoCandidateDetail(item)">{{item.candidate_name.toLowerCase() | stringTrim:19}}</h3>
              <ul class="list-reset listing-block">
                <li class="text-nowrap-block" matTooltip="{{getDesignationToolTip(item) | lowercasepipe}}">{{getDesignation(item) | lowercasepipe}}</li>
                <li class="text-nowrap-block" matTooltip="{{getCompanyToolTip(item) | lowercasepipe}}">{{getCompanyName(item) | lowercasepipe}}</li>
                <li class="text-nowrap-block" matTooltip="{{item.location | lowercasepipe}}" *ngIf="item.location != null && item.location.length > 29">{{item.location | lowercasepipe}}</li>
                <li class="text-nowrap-block" *ngIf="item.location != null && item.location.length <= 29">{{item.location | lowercasepipe}}</li>
              </ul>
            </div>
          </div>
          <div class="card-row card-profile-row clearfix">
            <div class="profile-completed">
              <span class="rounded-block">
                <img *ngIf="item.source?.toLowerCase() == 'recruiter'" src="./assets/images/svg/recruiter.svg" alt="recruiter">
                <img *ngIf="item.source?.toLowerCase() == 'vendor'" src="./assets/images/svg/vendor.svg" alt="vendor">
                <img *ngIf="item.source?.toLowerCase() == 'candidate'" src="./assets/images/svg/candidate.svg" alt="candidate">
                <img *ngIf="item.source?.toLowerCase() == 'walk-in'" src="./assets/images/svg/walk_in.svg" alt="walk-in">
                <img *ngIf="item.source?.toLowerCase() == 'employee referral'" src="./assets/images/svg/employee_referal.svg" alt="Employee Referal">
                <img *ngIf="item.source?.toLowerCase() == 'confirmation'" src="./assets/images/svg/confirmation.svg" alt="confirmation">
                <img *ngIf="item.source?.toLowerCase() == 'ijp referral'" src="./assets/images/svg/ijp.svg" alt="ijp">
                <img *ngIf="item.source?.toLowerCase() == 'social media'" src="./assets/images/svg/social_media.svg" alt="social media">
                <img *ngIf="item.source?.toLowerCase() == 'direct'" src="./assets/images/svg/walk_in.svg" alt="Direct">
              </span>
              <div class="profile-graph-details">
                <span class="text-cell">Source</span>
                <span class="text-cell-ijp text-nowrap-grad-white" matTooltip="{{item.source}}" *ngIf="item.source != null && item.source.length > 15">{{item.source}}</span>
                <span class="text-cell-ijp" *ngIf="item.source != null && item.source.length <= 15">{{item.source}}</span>
              </div>
            </div>

            <ng-container *ngIf="automatchEnabled">
              <div class="profile-match">
                <div class="profile-graph">
                  <div class="c100 p{{getPercentage(item)}} green">
                    <div class="slice">
                      <div class="bar"></div>
                      <div class="fill"></div>
                    </div>
                  </div>
                </div>
                <div class="profile-graph-details">
                  <span class="profile-percent">{{getPercentage(item)}}%</span>
                  <span class="text-cell">match</span>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="!automatchEnabled">
              <div class="profile-match">
                <div class="profile-graph">
                  <div class="c100 p0 green">
                    <div class="slice">
                      <div class="bar"></div>
                      <div class="fill"></div>
                    </div>
                  </div>
                </div>
                <div class="profile-graph-details">
                  <span class="profile-percent">%</span>
                  <span class="text-cell">match</span>
                </div>
              </div>
            </ng-container>

          </div>
          <div class="card-row border-bot-none border-top">
            <div class="skill-row clearfix" style="max-height:90px;min-height:90px;overflow:hidden;">
              <span class="tag-job" *ngFor="let skill of splitSkills(item)">{{skill}}</span>
            </div>
          </div>
        </div>
        <div class="btn-row mrg-lf-20">
          <a href="javascript:void(0);" class="btn btn-gray" (click)="saveTagCandidateData(item.candidate_id, i)" gaevent="CompanyProfiles#Tag to this job#click">Tag to this job</a>
        </div>
        <!-- \\ End Card Block -->
      </div>
      <!-- \\ End Card Block -->
    </div>
    <!-- \\ End Section Card-->
    <!--  Section Pagination-->
    <div class="desktop-only">
      <div *ngIf="!companyPageLoading && companyPageState.totalRows != null && companyPageState.totalRows > 0" class="section-pagination clearfix">
        <alt-paginator [rowsPerPageTemplate]="'15,30,45'" [pageState]="companyPageState" [pageLoading]="companyPageLoading" (pageChange)="getCompanyPageNumber($event)">Loading...</alt-paginator>
      </div>
    </div>
    <!-- \\ End Section Pagination-->
  </div>
</div>
<!-- \\ End Tab Company Data -->